// load reusable components
@import "i4p/mixins";
@import "i4p/constants";
@import "i4p/buttons";
@import "i4p/fonts";

$i4p-form-action-sprite-dimensions: true;
$i4p-form-action-sprites: sprite-map("project_sheet/i4p-form-action/*.png");
@import "project_sheet/i4p-form-action/*.png"; // */
// @include all-i4p-form-action-sprites; // NO AUTO INCLUDE

.project-about {
    h2 {
		@include i4p-transition(all .5s ease);

		.i4p-button {
		    //@include i4p-button-fancy-bordered-small;
		    display:block;
		    position:absolute;
		    top:0;
		    right:0;
		    background:image-url('project_sheet/edit-corner.png') no-repeat top left;
		    width:70px;
		    height:66px;
		    text-indent:-999em;

		    /*&:before {
			display: inline-block;
			background-image: image-url('project_sheet/edit-icon.png');
			content: "";
			background-position: right center;
			background-repeat: no-repeat;
			width: 17px;
			height: 20px;
			vertical-align: middle;
		    }*/
		}
    }

    &.editing {
	    @include i4p-transition(all .5s ease);
	    background-color: $colorLightBlue;

	    h2{
		padding-left: $sizePaddingSmall;
		padding-top: 0;
		color: white;
	    }
    }

    .inline-edit {
	@include ctb-clearfix;

	// background-color: $colorLightBlue;
	padding: $sizePaddingSmall;
	margin-left: -1rem;

	textarea {
	    @include box-sizing(border-box);

	    font-size: $sizeTextNormal;
	    line-height: $sizeTextNormal * 1.3;
	    min-height: $sizeTextNormal * 1.3 * 10;
	    margin-left:5px;
	    resize: vertical;
	    -moz-resize: vertical;
	}

	button[type='submit'] {
	    @include i4p-form-action-sprite('ok-white'); 

	    border: none;
	    display: block;
	    float: right;
	    font-size: 0;
	    margin-left: $sizeMarginMedium;
	    cursor: pointer;
	}

	button[type='cancel'] {
	    @include i4p-form-action-sprite('cancel-white'); 

	    border: none;
	    display: block;
	    float: right;
	    font-size: 0;
	    margin-left: $sizeMarginMedium;
	    cursor: pointer;
	}
    }
}
