@import "i4p/mixins";
@import "i4p/constants";

.project-list.wide-flat {
    @include border-radius($sizeRadiusSmall);
    @include box-sizing(border-box);
    @include i4p-seemore-class;

    position: relative;
    padding: 5px;

    border: 1px solid darken($colorLightLightGrey,2%);
    background-color: $colorLightLightGrey;
    margin-bottom: 12px;

    h2 {
     font-family: $fontOpenSans;
     font-size: $sizeTextLarge;
     font-stretch: condensed;
     font-weight: bold;
     text-transform: uppercase;
     margin-top: 5px;
     margin-bottom: 5px;
    }

}

.project.wide-flat {
    @include border-radius($sizeRadiusSmall);
    @include i4p-transition(all .5s ease);
    margin-bottom: 3px;
    background-color: $colorMedGrey;

    background-image: image-url("tags/icon-arrow-white-big.png");
    background-repeat: no-repeat;
    background-position: 400px center;
    background-size: auto 100%;
    text-decoration: none;
    display: block;

    height: 47px;
    overflow: hidden;
    
    padding: 0.8em 66px 0.8em 0.8em;
    p {
        margin: 0px;
    }
    .title {
     @include i4p-transition(all .5s ease);
     @include i4p-font-base($sizeTextNormal);
     text-transform: uppercase;
     font-weight: bold;
     color: white;
    }


    .description {
        @include i4p-transition(all .5s ease);
        @include i4p-font-base($sizeTextSmall);
        font-style: italic;
        color: white;
    }

    &:hover {
        background-color: $colorLightBlue;
        background-position: right center;
    }
}
