@import "i4p/mixins";
@import "i4p/constants";


$commentList_sizeAvatar: 50px;

.comment-list {
    ul {
	margin:0;
	padding: 0;
    }

    .seemore {
	color: $colorMedGrey;
	display: block;
	font-style: italic;
	position: relative;
	text-align: center;

	padding-bottom: 10px;
	margin-bottom: 1em;
	background-repeat: no-repeat;
	background-image: image-url('project_sheet/comment/seemore.png');
	background-position: bottom center;

	&:hover {
	    color: $colorMedDarkGrey;
	}
    }
}

.comment {
    @include i4p-transition(all .5s ease);
    @include border-radius($sizeRadiusSmall);

    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: block;
    background-color: white;
    position: relative;
    padding: $sizePaddingSmall;

    &:hover {
	background-color: $colorLightLightGrey;
    }

    .avatar {
	@include border-radius($sizeRadiusSmall);

	float: left;
	display: block;
	width: $commentList_sizeAvatar;
	height: $commentList_sizeAvatar;
	background-color: black;

	img {
	    @include border-radius($sizeRadiusSmall);
	}
    }

    .header {
	margin-left: $commentList_sizeAvatar + (2 * $sizePaddingSmall);
	margin-bottom: .5rem;

	.author {
	    @include i4p-font-subtitle($sizeTextBig);
	    font-style: italic;

	    a {
		color: black;
	    }
	}

	.postdate {
	    &:before {
		content: " - ";
	    }
	}
    }

    .content {
	margin-left: 60px;
    }
}
