@import "i4p-mixins";
@import "i4p-constants";

.comments-list {

}

.comment {
    &:hover {
	background-color: $colorLightGrey;
    }

    .author {
	font-weight: bold;
	font-style: italic;
    }

    .postdate {
    }
}
