// load reusable components
@import "i4p/mixins";
@import "i4p/constants";
@import "i4p/buttons";
@import "i4p/fonts";

$i4p-form-action-sprite-dimensions: true;
$i4p-form-action-sprites: sprite-map("project_sheet/i4p-form-action/*.png");
@import "project_sheet/i4p-form-action/*.png"; // */
// @include all-i4p-form-action-sprites; // NO AUTO INCLUDE


.project-details {
    h2 {
		@include i4p-font-title;
    }

    .detail-question {
		margin:0 0 15px;
		text-transform:none;
    }


    &.edit-mode {
	background-color: $colorLightBlue;
    }

    .detail-question {
		.i4p-button {
			@include i4p-transition(all .5s ease);
		    display:block;
		    position:absolute;
		    top:0;
		    right:0;
		    background:image-url('project_sheet/edit-corner.png') no-repeat 70px 0;
		    width:70px;
		    height:66px;
		    text-indent:-999em;
		}
    }

    .detail-answer {
		.inline-edit {
		    @include ctb-clearfix;

		    margin-left: -1rem;

		    // background-color: $colorLightBlue;
		    padding: $sizePaddingSmall;

		    textarea {
			@include box-sizing(border-box);

			font-size: $sizeTextNormal;
			line-height: $sizeTextNormal * 1.3;
			min-height: $sizeTextNormal * 1.3 * 4;
			resize: vertical;
			-moz-resize: vertical;
		    }
		}
    }

    .detail-item {
    	@include box-sizing(border-box);
    	float: left;
	    padding: 20px 30px;
	    position: relative;
	    width: 100%;

    	&:nth-child(odd) {
    		background:#f1f1f1;
    	}

    	&:nth-child(even) {
    		background:white;
    	}

		&:hover .i4p-button {
			background:image-url('project_sheet/edit-corner.png') no-repeat top left;
		}

		&.editing {
		    @include i4p-transition(all .5s ease);
		    background-color: $colorLightBlue;

		    h2{
			padding-top: 0;
			color:white;
		    }
		}
    }

    button[type='submit'] {
		@include i4p-form-action-sprite('ok-white'); 

		border: none;
		display: block;
		float: right;
		font-size: 0;
		margin-left: $sizeMarginMedium;
		cursor: pointer;
    }

    button[type='cancel'] {
		@include i4p-form-action-sprite('cancel-white'); 

		border: none;
		display: block;
		float: right;
		font-size: 0;
		margin-left: $sizeMarginMedium;
		cursor: pointer;
    }
}

