
@import "i4p-mixins";
@import "i4p/constants";
@import "i4p/buttons";
@import "i4p/fonts";

$gallery_sizeModalColumns: 10;
$gallery_sizeModalWidth: $gallery_sizeModalColumns * $gridColumnWidth + $gridGutterWidth * ($gallery_sizeModalColumns);
$gallery_strOverlayUrl: 'project_sheet/gallery_fancy/view-overlay.png';

$gallery_sizeSliderWidth: 540px;
$gallery_sizeSliderHeight: 75px;

$gallery_sizeSliderImageWidth: 88px;
$gallery_sizeSliderImageHeight: 55px;


.project-gallery-modal {
    box-shadow: 0 0 $sizeShadowHuge rgba(0,0,0,0.5);
    width: $gallery_sizeModalWidth;
    margin-left: -$gallery_sizeModalWidth/2;
    overflow: hidden;

    // FIXME: remove after debug ?
    max-height: 80%;

    overflow: hidden;
    overflow-y: auto;

    .row:first-child {
	background-image: image-url('project_sheet/gallery_fancy/horizontal-separator.png');
	background-position: center bottom;
	background-repeat: repeat-x;
    }

    .gallery-slider-container {
	// local anythingslider adaptation
	.anythingSlider {
	    position: relative;
	    height: $gallery_sizeSliderHeight;

	    .anythingWindow {
		height: 100%;
		overflow: hidden;
		position: relative;
		width: $gallery_sizeSliderWidth;
	    }

	    .anythingBase {
		position: absolute;
	    }

	    .panel {
		height: $gallery_sizeSliderHeight;
	    }

	    .activePage {
		img {
		    outline: 1px solid white;
		}
	    }
	}

	.gallery-slider {
	    display: block;
	    overflow: hidden;
	    list-style: none;
	    height: $gallery_sizeSliderHeight;

	    & > li {
		@include box-sizing(border-box);

		float: left;
		display: block;
		margin:0;
		position: relative;
		overflow: hidden;
		height: $gallery_sizeSliderHeight;
		width: 108px;

		a {
		    img {
			position: absolute;
			left: 11px;
			top: 2px;
			outline: 1px solid $colorDarkGrey;
			z-index: 1;
			height: $gallery_sizeSliderImageHeight;
			width: $gallery_sizeSliderImageWidth;
			margin-top: 5px;
			margin-bottom: 5px;
		    }

		    // in before, we put the view icon
		    &:before {
			@include i4p-transition(all .5s ease);
			background-position: center center;
			background-repeat: no-repeat;
			background-image: image-url($gallery_strOverlayUrl);
			content: "";
			z-index: 3;
			display: block;
			height: $gallery_sizeSliderImageHeight;
			width: $gallery_sizeSliderImageWidth;
			left: 11px;
			position: absolute;
			top: 7px;
			opacity: 0;
		    }

		    // in after we manage the darkness
		    &:after {
			@include i4p-transition(all .5s ease);
			background-color: black;
			content: "";
			z-index: 2;
			display: block;
			height: $gallery_sizeSliderImageHeight;
			width: $gallery_sizeSliderImageWidth;
			left: 11px;
			position: absolute;
			top: 7px;
			opacity: 0.7;
		    }

		    &:hover {
			&:after {
			    opacity: 0;
			}

			&:before {
			    opacity: 1;
			}
		    }


		    // FIXME: show view thing over images on overlay
		    &:hover {
			// FIXME
		    }
		}
	    }
	}
    }

    .gallery-nav {
	@include i4p-font-subtitle($sizeTextNormal);
	text-transform: uppercase;
	display: block;

	a {
	    color: white;
	    padding: 0;
	    padding-left: $sizePaddingMedium;
	    padding-right: $sizePaddingMedium;
	}
    }

    .viewer-side {
	background-color: black;

	&.top-side {
	    min-height: 200px;
	}

	&.bottom-side {
	    // FIXME
	    min-height: 100px;
	}
    }

    .information-side {
	&.top-side {
	    // FIXME
	}

	&.bottom-side {
	    a {
		@include i4p-button-fancy-bordered;

		display: block;
		width: 60%;
		margin-top: $sizeTextNormal * 2;
		margin-left: auto;
		margin-right: auto;
	    }
	}
    }
}
