@import "i4p-mixins";
@import "i4p/constants";
@import "i4p/fonts";

$sprite-layout: smart;
@import "compass/utilities/sprites/base";

// create sprites for progressbar
$progressbar-sprite-dimensions: true;
@import "project/progressbar/*.png"; // */
@include all-progressbar-sprites(true);

// @import "project/topic/*.png"; // */

$picto-sprite-dimensions: true;
@import "project/picto/*.png"; // */
@include all-picto-sprites(true);

$topic-sprite-dimensions: true;
@import "project/topic/*.png"; // */
@include all-topic-sprites(true);

$i4p-slider-sprite-dimensions: true;
$i4p-slider-sprites: sprite-map("project_sheet/i4p-slider/*.png");
@import "project_sheet/i4p-slider/*.png"; // */
// @include all-i4p-slider-sprites; // NO AUTO INCLUDE


$memberListFancySquare_sizeContainerWidth: 300px;
$memberListFancySquare_sizeContainerHeight: 65px;

$memberListFancySquare_sizeItemMargin: 10px;

$memberListFancySquare_sizeWindowMarginWidth: 30px;
$memberListFancySquare_sizeWindowWidth: $memberListFancySquare_sizeContainerWidth - (2 * $memberListFancySquare_sizeWindowMarginWidth);
$memberListFancySquare_sizeWindowHeight: 65px;


$memberListFancySquare_sizeWidth: 88px;
$memberListFancySquare_sizeHeight: 52px;


.member-list-overlay.square.fancy {
    @include i4p-transition(all .5s ease);
    @include border-radius($sizeRadiusSmall);
    @include box-sizing(border-box);
    @include i4p-box-shadow-bottomleft;

    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    opacity: 0;
    z-index: 99;

    background-color: $colorDarkGrey;
    min-width: 200px;
    min-height: 60px;
    padding: $sizePaddingMedium;

    &.open-member,
    &.open-overlay {
	display: block;
	opacity: 1;
    }

    .avatar {
	@include border-radius($sizeRadiusSmall);
	display: block;
	float: left;
	width: 60px;
	height: 60px;
	overflow: hidden;
	border: 1px solid $colorMedGrey;
    }

    .details {
	margin-left: 75px;
	font-size: $sizeTextSmall;

	.fullname {
	    @include i4p-font-subtitle($sizeTextNormal);
	    font-style: italic;
	    color: white;
	    white-space: nowrap;
	}

	.contact, .profile {
	    background-position: center left;
	    background-repeat: no-repeat;
	    display: block;
	    padding-left: 20px;

	    @include i4p-transition(all .5s ease);
	    color: $colorMedGrey;

	    &:hover {
		color: $colorLightGrey;
		text-decoration: none;
	    }
	}
	.contact {
	    background-image: image-url('project_sheet/memberlist/contact.png');
	}
	.profile {
	    background-image: image-url('project_sheet/memberlist/profile.png');
	}
    }
}


.member-list.square.fancy {
    @include bootstrap-clearfix;
    @include border-radius($sizeRadiusSmall);
    @include box-sizing(border-box);
    @include i4p-transition(all .5s ease);

    width: $memberListFancySquare_sizeContainerWidth;
    // width: inherit;
    height: 70px;

    overflow: hidden;
    background-color: $colorLightGrey;

    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;

    // hide block before anythingSlider initialization
    & > .member-list-slider {
	visibility: hidden;
	display: none;
	// FIXME: add a loader as a background image
    }


    // NOTE: do not style the slider itself, the JS overrides everything.
    .anythingSlider {
	// height: $memberListFancySquare_sizeContainerHeight;
	// width: $memberListFancySquare_sizeContainerWidth;
	// padding-left: 22px;
	// padding-right: 22px;

	.anythingWindow {
	    height: 100%;
	    overflow: hidden;
	    position: relative;
	    width: $memberListFancySquare_sizeWindowWidth;
	    margin-left: $memberListFancySquare_sizeWindowMarginWidth;
	    margin-right: $memberListFancySquare_sizeWindowMarginWidth;
	}

	.anythingBase {
	    position: absolute;
	    margin: 0;
	    // padding-left: ;
	    // background-color: red;


	    & > li {
		@include box-sizing(border-box);
		@include i4p-transition(all .5s ease);

		display: block;
		float: left;
		margin: 0;
		position: relative;
		width: 60px;
		opacity: 1;
		visibility: visible;

		img {
		    position: absolute;
		    left: 5px;
		}

		&.cloned {
		    visibility: hidden;
		    opacity: 0;
		}
	    }
	}

	.anythingControls {
	    position: absolute;
	    top: 100px;
	    left: 0;
	    display: block;
	    height: $memberListFancySquare_sizeContainerHeight;
	    width: $memberListFancySquare_sizeContainerWidth;
	}

	.arrow {
	    position: absolute;
	    top: 25px;

	    &.back {
		left: 5px;
	    }

	    &.forward {
		right: 5px;
	    }

	    & > a {
		@include i4p-transition(all .5s ease);
		font-size: $sizeTextLarge;
		font-family: $fontOpenSans;
		font-stretch: condensed;
		font-size: $sizeTextHuge;
		color: $colorMedGrey;

		&:hover {
		    color: $colorDarkGrey;
		    text-decoration: none;
		}
	    }
	}

	.panel {
	    height: $memberListFancySquare_sizeContainerHeight + 2;

	    img {
		@include i4p-transition(all .5s ease);
		outline: 1px solid rgba(255,255,255,0);
	    }

	    &.activePage {
		img {
		    outline: 1px solid rgba(255,255,255,0.5);
		}
	    }

	    .description, .source, .licence, .delete {
		position: absolute;
		top: 0;
		height: 1px;
		display: none;
		visibility: hidden;
	    }

	}
    }

    input {
	display: none;
    }


    .slide-input {
	display: none;
    }

    @mixin member-list-leftcontrol {
	background: $i4p-slider-sprites no-repeat;
	@include i4p-slider-sprite(prev); 
	position: absolute;
	display: block;
	bottom: 25px;
	left: 10px;
	width: 15px;
	height: 15px;
    }

    @mixin member-list-rightcontrol {
	background: $i4p-slider-sprites no-repeat;
	@include i4p-slider-sprite(next); 
	position: absolute;
	display: block;
	bottom: 25px;
	right: 6px;
	width: 15px;
	height: 15px;
    }


}

// FIXME: move block rules elsewhere
.member-block {
    @include i4p-seemore-class;
    position: relative;
    margin-bottom: 20px;
    padding: 0;
    padding-top: 5px;

    h2 {
	margin-top: 5px;
	text-transform: uppercase;
	font-size: $sizeTextLarge;
	font-family: $fontOpenSans;
	font-stretch: condensed;
    }
}
