
@import "i4p-mixins";
@import "i4p/constants";
@import "i4p/buttons";
@import "i4p/fonts";

$memberlistModal_sizeModalColumns: 10;
$memberlistModal_sizeModalWidth: $memberlistModal_sizeModalColumns * $gridColumnWidth + $gridGutterWidth * ($memberlistModal_sizeModalColumns);

$memberlistModal_strOverlayUrl: 'project_sheet/gallery_fancy/view-overlay.png';
$memberlistModal_strSeparatorUrl: 'project_sheet/gallery_fancy/horizontal-separator.png';


$i4p-memberlist-sprite-dimensions: true;
$i4p-memberlist-sprites: sprite-map("project_sheet/i4p-memberlist/*.png");
@import "project_sheet/i4p-memberlist/*.png"; // */

.memberlist-modal-seeall {
    // project-gallery-modal
    @include i4p-font-base($sizeTextNormal);
    @include all-i4p-memberlist-sprites; // include all sprites within memberlist-modal
    @include i4p-sprite('i4p-memberlist');

    box-shadow: 0 0 $sizeShadowHuge rgba(0,0,0,0.5);
    margin-left: -$memberlistModal_sizeModalWidth/2;
    max-height: 80%; // FIXME: remove after debug ?
    overflow: hidden;
    overflow-y: auto;
    width: $memberlistModal_sizeModalWidth;
    // top: 50%;
    // margin-top: -20%;

    & > .modal-body {
	padding: 0;
	max-height: 500px;
    }

    & > .modal-body > .row {
	display: table-row;
    }


    h2 {
	@include i4p-font-title($sizeTextLarge);
	@include i4p-sprite-margin('i4p-memberlist');
    }

    // FIXME: which comportement for overflow/scroll on modal windows ? 
    .action-side {
	display: table-cell;
	background-color: $colorDarkGrey;
	color: white;
	float: none;
	vertical-align: top;

	a { color: white; }

	// magic element to resize vertically
	//.sizehack {
	  //  display: block;
	   // width: 1px;
	  //  height: 1000px;
	//}
    }

    .list-side {
	display: table-cell;
	margin-left: 0;

	.member-add-block {
	    margin: 10px 10px 0;
	    padding: $sizePaddingMedium;
	    padding-left:20px;
	    background:$colorLightDarkGrey;
	    @include border-radius(5px,5px);
	    float:left;
	    width:94%;

	    form {
	    	margin:0;

	     	label {
		    	display:none;
		    }

		    input[type='text'], textarea {
		    	border:0;
		    	font-size:1.1rem;
		    	font-style:italic;
		    	@include border-radius(4px,4px);
		    	color:$colorMedDarkGrey;
		    	border:1px solid $colorLightGrey;
		    	margin:0;

		    	&:active, &:focus {
		    		border:1px solid $colorLightBlue;
		    	}
		    }

		    input[type='text'] {
		    	width:47%;
		    }

		    textarea {
		    	width:95%;
		    	height:60px;
		    	margin:0 0 5px;
		    }

		    p {
		    	margin:0 0 5px;
		    }

		    input[type='image'] {
		    	float:right;
		    	margin:0 14px 0 5px;
		    }

		    a.action-close {
		    	display:block;
		    	width:30px;
		    	height:29px;
		    	text-indent:-9999em;
		    	background:image-url('project_sheet/close.png') no-repeat top left;
		    	float:right;
		    }
		}
	}

	.everybody-block {
	    padding: 10px 10px 20px;
	    float:left;

	    h2 {
	    	margin:0 0 0 22px;
	    }

	    & > ul {
		list-style: none;
		margin: 0 0 0 10px;

		& > .member {
		    @include i4p-transition(all .5s ease);
		    @include border-radius($sizeRadiusSmall);

		    display: block;
		    float: left;
		    height: 80px;
		    margin: $sizeMarginMedium;
		    width: 240px;

		    &:hover {
			background-color: $colorLightDarkGrey;
		    }

		    .fullname {
			@include i4p-font-subtitle($sizeTextNormal);
			line-height:15px;
			margin:7px 0 0 0;
		    }

		    .avatar {
			@include border-radius($sizeRadiusSmall);

			margin: 5px;
			display: block;
			width: 70px;
			height: 70px;
			float: left;
			border: 1px solid $colorLightGrey;
			overflow: hidden;
		    }

		    .position {
		    	font-size:0.8em
		    }

		    .details {
			margin-left: 85px;

			.contact, .profile { 
			    @include i4p-sprite-margin('i4p-memberlist');

			    color: $colorMedDarkGrey;
			    display: block; 
			    font-size: 0.9em;
			    font-stretch: condensed;
			    font-weight: bold;
			    text-transform: uppercase;
			}
		    }
		}

	    }
	}
    }

    .counters-block {
	padding: $sizePaddingMedium;
	ul{
	    list-style: none;
	}
	border-bottom: 1px solid darken($colorDarkGrey,10%);
	
    }

    .contact-block, .add-block {
	@include i4p-sprite-margin('i4p-memberlist');

	display: block;
	    text-decoration: none;
	padding: $sizePaddingMedium;
	border-top: 1px solid lighten($colorDarkGrey,10%);
	border-bottom: 1px solid darken($colorDarkGrey,10%);

	&:hover {
	    @include i4p-transition(all .5s ease);
	    border-top: 1px solid transparent;
	    border-bottom: 1px solid transparent;
	    background-color: darken($colorDarkGrey,5%);
	}

    }

    .after-block {
	display: block;
	border-top: 1px solid lighten($colorDarkGrey,10%);
    }
}

