@import "i4p/mixins";
@import "i4p/constants";

$sprite-layout: smart;
@import "compass/utilities/sprites/base";

// create sprites for progressbar
$flag-sprite-dimensions: true;
@import "flag/*.png"; // */
@include all-flag-sprites;


.people-list.wide-flat{

    @include i4p-seemore-class;
    @include border-radius($sizeRadiusSmall);
    @include box-sizing(border-box);
    border: 1px solid darken($colorLightLightGrey,2%);
    position: relative;

    padding: 5px;
    background-color: $colorLightLightGrey;
    margin-bottom: 12px;

    h2 {
    font-family: $fontOpenSans;
    font-size: $sizeTextLarge;
    font-stretch: condensed;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
    }

    ul {
    list-style: none;

    li {
        margin-bottom: 10px;
    }
    }
}

.person.wide-flat {
    position: relative;
    @include box-sizing(border-box);
    @include i4p-transition(all .5s ease);
    width: 100%;
    padding: 0.8em;

    * {

    }

    .avatar {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 1em 0 0;
    border: 1px solid $colorMedLightGrey;
    }

    .fullname {
        display: inline-block;
        margin: 0 0 0 0;
        a {
            color: black;
            @include i4p-font-base($sizeTextNormal);
            font-weight: bold;
            font-style: italic;
            line-height: 80%;
        }
    }

    .project {
        display: block;
        margin: 0 0 0 0;
        a {
            color: black;
            @include i4p-font-base($sizeTextSmall);
            font-weight: bold;

            &:before {
                display: block;
                content: attr(data-memberof-str);
                font-style: italic;
                font-weight: normal;
                line-height: 70%;
            }
         
    }
    }

    .country {
    position: absolute;
    display: block;
    margin: 0;
    top: 35px;
    left: 30px;
    }

    &:hover {
    background-color: white;
    }
}
