
// load reusable components
@import "i4p/mixins";
@import "i4p/constants";

.project-menubar {
    @include box-sizing(border-box);
    @include i4p-transition(box-shadow 1.5s ease);
    background-color: $colorLightGrey;
    clear: both;
    height: 43px;

    &.fixed {
    	position:fixed;
    	top:0;
    	width:100%;
    	z-index:8000;
    	@include box-shadow(0 3px 8px #aaa);
    }

    .menubar-leftcolumn, .menubar-rightcolumn {
	& > ul {
	    list-style: none;
	    margin: 0;

	    & > li {
		@include box-sizing(border-box);
		margin: 0;
		display: block;
		float:left;
		border-right: 1px solid $colorMedLightGrey;
		position: relative;
		font-size: $sizeTextSmall;
		font-family: $fontOpenSans;
		font-stretch: condensed;
		text-transform: uppercase;
		padding: 0;
		height: 43px;
		border-collapse: collapse;

		a {
		    display: block;
		    padding: 0 7px 0 30px;
		    color: $colorMedGrey;
		    font-weight: 500;
		    height:43px;
		    line-height:43px;

		    i {
			position: relative;
			top: -2px;
			display: inline-block;
			vertical-align: middle;
		    }

		    &:hover {
			color: white;
			background-color: $colorMedLightGrey;
		    }

		    &.share {
			&:focus ~ .submenu {
			    opacity: 1;
			    display: block;
			}
		    }
		}

		&.project a { background:image-url('project_sheet/menubar/project_ico.png') no-repeat 10px center; }
		&.project a:hover, &.project.active a { background:image-url('project_sheet/menubar/project_ico_hover.png') no-repeat 10px center; }

		&.gallery a { background:image-url('project_sheet/menubar/photo_ico.png') no-repeat 5px center; }
		&.gallery a:hover, &.gallery.active a { background:image-url('project_sheet/menubar/photo_ico_hover.png') no-repeat 5px center; }

		&.discuss a { background:image-url('project_sheet/menubar/discu_ico.png') no-repeat 5px center; padding-left:40px; }
		&.discuss a:hover, &.discuss.active a { background:image-url('project_sheet/menubar/discu_ico_hover.png') no-repeat 5px center; }

		&.support a { background:image-url('project_sheet/menubar/need_ico.png') no-repeat 5px center; }
		&.support a:hover, &.support.active a { background:image-url('project_sheet/menubar/need_ico_hover.png') no-repeat 5px center; }

		&.history a { background:image-url('project_sheet/menubar/activ_ico.png') no-repeat 8px center; }
		&.history a:hover, &.history.active a { background:image-url('project_sheet/menubar/activ_ico_hover.png') no-repeat 8px center; }
		
		.submenu {
		    @include i4p-transition;
		    top: 30px;
		    right: -$sizeMarginSmall;
		    width: 60px;
		    padding: $sizePaddingMedium;
		    display: none;
		    background-color: $colorLightLightGrey;
		    opacity: 0;
		    list-style: none;
		    position: absolute;
		    z-index: 1;

		    li {
			display: block;
		    }
		}

		&:hover {
		    background-color: $colorMedLightGrey;
		    border-color: $colorMedLightGrey; // both left & right (flat effect)

		    & > a {
			color: white;
			text-decoration: none;
		    }
		}

		&.right {
		    float:right;
		    margin-left:20px;

		    a {
				padding: 6px $sizePaddingSmall;
				height: 31px;
   				line-height: 31px;
		    }
		}


		&.active {
		    @include i4p-background-vertical-gradient($colorLightBlue, $colorDarkBlue);
		    position: relative;
		    border-right-color: $colorDarkBlue;

		    a {
			color: white;
		    }

		    /*&:before {
			content:""; 
			position: absolute; 
			left: 50%; 
			bottom: -10px; 
			width: 0; 
			height: 0; 
			margin-left: -10px;
			border-left: 10px solid transparent; 
			border-top: 10px solid $colorDarkBlue; 
			border-right: 10px solid transparent;
		    }*/

		    &:hover {
			background-image: none;
			background-color: $colorMedGrey;
			border-color: $colorMedGrey; // both left & right (flat effect)

			a { 
			    color: white;
			}

			&:before {
			    border-top-color: $colorMedGrey;
			}
		    }
		}
	    } // & > li 
	} // & > ul
    } // .menubar-leftcolumn, .menubar-rightcolumn

    // specifics to left column
    .menubar-leftcolumn {
	margin-left: 0;
	margin-right: 20px;

	& > ul > li {
	    &.right {
		border: none;
	    }
	}
    }

    // specifics to right column
    .menubar-rightcolumn {
	& > ul > li > a {
	    padding-left: $sizePaddingSmall;
	    padding-right: $sizePaddingSmall;
	}
    }

    .lang-menu {
	.lang-code {
	    display: inline-block;
	    font-weight: bold;
	    min-width: 3rem;
	}
	.lang-title {
	    font-style: italic;
	    font-weight: normal;
	    text-transform: capitalize;
	}
	.lang-action {
	    font-style: italic;
	    font-weight: normal;
	    text-transform: normal;
	}
	.lang-arrow {
	    display: inline-block;
	    min-width: 3rem;
	    content: "<";
	}
    }

    .dropdown-menu {
		background-color: $colorLightGrey;

		form {
			margin:0
		}
		li a {
			padding:0 5px !important;
			margin:0 3px;
			height:21px;
			line-height:21px;
			@include border-radius(4px,4px)
		}

		li button {
			background:none;
			border:0;
			color: $colorMedGrey;
			@include border-radius(4px,4px);
			font-size:1rem;
			margin:0 4px;
			width:150px;
			text-align:left;

			&:hover {
				background:$colorMedLightGrey;
				color:white;
			}
		}
    }

    .dropdown-submenu > a:after { display:none }
}

