@import "../../mixin.scss";
@import "../../constants.scss";
@import "../../fonts.scss";

$sprite-layout: smart;
@import "compass/utilities/sprites/base";

// create sprites for progressbar
$progressbar-sprite-dimensions: true;
@import "project/progressbar/*.png"; // */
@include all-progressbar-sprites(true);

// @import "project/topic/*.png"; // */

$picto-sprite-dimensions: true;
@import "project/picto/*.png"; // */
@include all-picto-sprites(true);

$topic-sprite-dimensions: true;
@import "project/topic/*.png"; // */
@include all-topic-sprites(true);

.project-list.square-card {
    position: relative;
    margin-bottom: 20px;
    padding: 0;
    padding-top: 5px;

    h2 {
	margin-top: 5px;
	text-transform: uppercase;
	font-size: $sizeTextLarge;
	font-family: $fontOpenSans;
	font-stretch: condensed;
    }

    @import "../../common/block/seemore.scss";
}

.project.square-card {
    @include box-shadow-bottomleft;
    @include border-radius($sizeRadiusSmall);
    height: 150px;
    position: relative;

    .summary {
	@include border-radius($sizeRadiusSmall);
	@include transition(all .5s ease);
	position: relative;
	height: 150px;

	background-image: url(../../../images/tags/icon-arrow-white-big.png), url(../../../images/base/background-black-dots.png);
	background-repeat: no-repeat, repeat;
	background-position: 200px 110px, top left;
	background-size: 25px 25px, auto;

	z-index: 2;

	.title {
	    @include transition(all .5s ease);
	    position: absolute;
	    font-size: 1em;
	    bottom: 60px;
	    margin-left: 10px;
	    margin-right: 10px;
	    color: black;
	    text-transform: uppercase;
	    background-color: white;
	    z-index: 2;
	    opacity: 1;
	    padding-left: 5px;
	    padding-right: 5px;
	}

	.description {
	    opacity: 0;
	    visibility: hidden;
	    height: 50px;
	    overflow: hidden;
	}

	&:before { // the SEE THE PROJECT label
	    display: block;
	    position: absolute;
	    content: attr(data-action-1);
	    text-transform: uppercase;
	    font-weight: bold;
	    text-decoration: none;
	    visibility: hidden;
	    top: 105px;
	    left: 10px;
	    font-size: 80%;
	    width: 65%;
	    opacity: 0;
	    color: white;
	}
    }

    .progress {
	@include transition(all .5s ease);
	position: absolute;
	top: 90px;
	left: 0;
	width: 100%;
	height: 25px;
	color: white;
	text-shadow: 0 0 $sizeRadiusSmall black;
	padding-top: 10px;
	background-image: url(../../../images/project/front-uprounded-rectangle.png);
	opacity: 1;
	z-index: 3;

	.status {
	    display: block;
	    position: absolute;
	    width: 100px;
	    top: 15px;
	    left: 5px;
	    font-style: italic;
	    font-size: 80%;
	    background-size: 100px 60px; // resize progressbar icon
	    text-align: right;
	    padding-right: 10px;
	}
    }

    .location {
	@include border-radius(0 0 $sizeRadiusSmall $sizeRadiusSmall);
	@include border-box;
	@include transition(all .5s ease);
	position: absolute;
	top: 125px;
	font-size: 80%;
	width: 100%;
	height: 25px;
	background: black;
	padding-left: 10px;
	z-index: 3;
	opacity: 1;

	.flag {
	    float: left;
	    margin-right: 5px;
	}
    }


    .pictos {
	position: absolute;
	@include transition(all .5s ease);
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	opacity: 1;

	.picto-team {
	    position: absolute;
	    top: 105px;
	    right: 25px;
	}

	.picto-editing {
	    position: absolute;
	    top: 105px;
	    right: 10px;
	}

	.picto-bestof {
	    display: block;
	    position: absolute;
	    top: -2px;
	    left: 5px;
	}
    }

    .topic {
	@include transition(all .5s ease);
	background-image: url(../../../images/project/card-top-handler.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-opacity: 1;
	opacity: 1;
	z-index: 4;
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	.illustration {
	    @include transition(all .5s ease);
	    position: absolute;
	    top: 2px;
	    left: 65px;
	}

	.description {
	    @include transition(all .5s ease);
	    position: absolute;
	    // FIXME: add left-size icon
	    top: -20px;
	    padding: 10px;
	    text-align: center;
	    font-weight: bold;
	    color: white;
	    opacity: 0;
	    visibility: hidden;
	}
    }

    .photo {
	@include border-radius($sizeRadiusSmall);
	overflow: hidden;
	position: absolute;
	z-index: 1;

	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;


	img {
	    @include border-radius($sizeRadiusSmall $sizeRadiusSmall 0 0);
	    width: auto;
	    height: 100%;
	    margin-left: -50%;
	}

    }

    &:hover {

	.summary {
	    height: 150px;

	    background-color: rgba($colorLightBlue,0.7);
	    background-image: url(../../../images/tags/icon-arrow-white-big.png), url(../../../images/base/background-black-dots.png);
	    background-repeat: no-repeat, repeat;
	    background-position: 100px 110px, 0 0;

	    .title {
		visibility: hidden;
		opacity: 0;
	    }

	    .description {
		position: absolute;
		top: 30px;
		padding: 10px;
		visibility: visible;
		text-decoration: none;
		font-style: normal;
		color: white;
		z-index: 7;
		opacity: 1;
	    }

	    &:before { // the SEE THE PROJECT label
		visibility: visible;
		opacity: 1;
	    }

	}

	.location {
	    opacity: 0;
	}

	.progress {
	    opacity: 0;
	}

	.photo {
	    &:after {
		opacity: 0;
	    }
	}

	.topic {
	    background-position: center -100px;

	    .illustration {
		top: -100px;
		opacity: 0;
		visibility: hidden;
	    }

	    .description {
		top: 0px;
		opacity: 1;
		visibility: visible;
	    }
	}

	.pictos {
	    opacity: 0;
	}

    } // hover

} // project

