// load reusable components
@import "i4p/mixins";
@import "i4p/constants";

$i4p-action-sprite-dimensions: true;
$i4p-action-sprites: sprite-map("i4p-action/*.png");
@import "i4p-action/*.png"; // */
// @include all-i4p-action-sprites; // NO AUTO INCLUDE

$i4p-form-action-sprite-dimensions: true;
$i4p-form-action-sprites: sprite-map("project_sheet/i4p-form-action/*.png");
@import "project_sheet/i4p-form-action/*.png"; // */
// @include all-i4p-form-action-sprites; // NO AUTO INCLUDE

// FIXME: DISABLED UNTIL FUNCTIONAL
.references-block {
    .references-links > a.button {
	// display: none;
    }
    .references-documents  > a.button {
	display: none;
    }
}
        
.references-block {
    @include i4p-layout-block;
    @include box-sizing(border-box);
    float:left;
    padding:20px 30px;
    background:#F1F1F1;
    margin:30px 0 20px 0;
    width:100%;

    h2 {
	@include i4p-font-title;
    }

    h3 {
	@include i4p-font-title($sizeTextBig);
    }

    .references-links {
		position: relative;

		ul {
		    margin:0 0 15px;
		    width:82%;
			list-style-type:disc;

		    .link-item {
				@include i4p-transition;
				display: block;
				padding-left: 1em;
				margin:0 0 5px;

				&:hover {
				    background-color: $colorLightDarkGrey;
				}

				a {
				    color: #8b8b8b;
				    text-decoration: none;
				}
		    }
		}

	.button {
		color:#04add1;
		background:image-url('i4p_base/search/black_arrow.png') no-repeat center right;
		padding:0 12px;
		font-weight:bold;
		font-size:1.15rem;
	}

	form {
	    @include box-sizing(border-box);
	    background-color: $colorLightBlue;
	    color: white;
	    padding: $sizePaddingMedium;
	    text-align: left;
	    width:89%;

	    label[for*="-desc"] {
		clear: both;
		margin-top: 1rem;
		float: left;
	    }

	    label[for*="-DELETE"] {
		float: right;
	    }

	    input[type="checkbox"] {
		float: right;
		margin-right: .25rem;
	    }

	    input[type="submit"] {
		@include i4p-form-action-sprite('ok-white'); 

		border: none;
		clear: both;
		content: "";
		cursor: pointer;
		display: block;
		float: right;
		font-size: 0;
		margin-left: $sizeMarginMedium;
		margin-top: 2rem;
	    }

	    input[type="text"] {
		@include box-sizing(border-box);
		width: 100%;
		min-height: 2 * $sizeTextNormal;
	    }

	    .helptext {
		float: left;
		clear: both;
		font-style: italic;
	    }

	    &:after {
		display: block;
		content: "";
		clear: both;
	    }
	}
    }

    .references-documents {
	position: relative;

	ul {
	    margin-bottom: 1em;

	    .document-item {
		@include i4p-transition;
		display: block;
		padding-left: 1em;
		background-color: white;

		&:hover {
		    background-color: $colorLightDarkGrey;
		}

		a {
		    color: black;
		    text-decoration: none;
		}
	    } 
	}


	.button {
	    @include i4p-button-flat;

	    .action-add {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		background: $i4p-action-sprites no-repeat; 
		@include i4p-action-sprite(add-black); 
	    }

	    &:hover .action-add {
		background: $i4p-action-sprites no-repeat; 
		@include i4p-action-sprite('add-white'); 
	    }
	}
    }
}
