// load reusable components
@import "i4p/mixins";
@import "i4p/constants";
@import "i4p/buttons";
@import "i4p/fonts";


// create sprites for progressbar
$sheet-sprite-dimensions: true;
@import "project/sheet/*.png"; // */
@include all-sheet-sprites;

// create sprites for toolbar
$i4p-toolbar-sprite-dimensions: true;
@import "project_sheet/i4p-toolbar/*.png"; // */
@include all-i4p-toolbar-sprites;

$i4p-action-sprite-dimensions: true;
$i4p-action-sprites: sprite-map("i4p-action/*.png");
@import "i4p-action/*.png"; // */
// @include all-i4p-action-sprites; // NO AUTO INCLUDE

@mixin i4p-editable {
    .editing-button {
    @include i4p-button-editable-fancy;
    @include i4p-transition(all .5s ease);
    opacity: 0;
    }

    &:hover .editing-button {
    opacity: 1;
    }
}

.project-subheader {
    background-color: #1b1b1b;
    position: relative;
    height:300px;
    overflow:hidden;

    .subheader {
        overflow: hidden;
        position: relative;
            /* necessary when there is no project image */
            min-height: 150px;
        margin-left: 0px;
        height: 300px;        
        @include box-shadow(-18px 0 20px #111);
    
        .overlay {
            @include box-sizing(border-box);
            background-color: rgba(0,0,0,0.7);
            position: absolute;
            bottom: 0;
            min-height: 6rem;
            z-index: 1;
            width: 100%;
    
            .title {
            @include i4p-font-pagetitle($sizeTextHuge);
            @include i4p-editable;
            color: white;
            margin:8px 0 0 20px;
            padding-right:50px;
            font-size:2.1rem;

                .editing-button {
                    background:image-url('project_sheet/edit_ico.png') no-repeat center center !important;
                    border:0;

                    &:before {
                        background:none !important;
                    }
                }
            }
    
            .description {
            @include i4p-font-base($sizeTextNormal);
            @include i4p-editable;
            margin:0 0 15px 20px;
            padding-right:50px;
            color: white;
            font-style: italic;
            line-height:2rem;
            font-size:1.2rem;

                .editing-button {
                    background:image-url('project_sheet/edit_ico.png') no-repeat center center !important;
                    border:0;

                    &:before {
                        background:none !important;
                    }
                }
            }

            .links {
                height:30px;
                background-color: rgba(0,0,0,0.3);
                width:100%;

                span { display:none }

                a {
                    float:right;
                    color:white;
                    font-size:1.2rem;
                    font-style:italic;
                    line-height:30px;
                    margin-right:20px;
                }
            }
        }
    
        .background {
            top: 0;
            left: 0;
    
            
            img {
            height: 300px;
            width: 620px;
            }

            .i4p-button {
                background: image-url('project_sheet/edit-corner.png') no-repeat scroll 70px 0 transparent;
                display: block;
                height: 66px;
                position: absolute;
                right: 0;
                text-indent: -999em;
                top: 0;
                @include i4p-transition(all .5s ease);
                width: 70px;
            }

            &:hover .i4p-button {
                background: image-url('project_sheet/edit-corner.png') no-repeat scroll top left transparent;
            }
        }
    }

    .infocard {
        @include i4p-sprite('sheet');
        @include i4p-sprite-header('sheet');
        padding:0 10px;
        margin-left:0;
        color: white;
        height:300px;
        overflow:hidden;
        background:black;
        position:relative;
        @include box-shadow(18px 0 20px #111);

        h2 {
            @include i4p-font-title($sizeTextBig);
            color: white;
        }

        .editing-button {
            background: image-url('project_sheet/edit-corner.png') no-repeat scroll 70px 0 transparent;
            display: block;
            height: 66px;
            position: absolute;
            right: 0;
            text-indent: -999em;
            top: 0;
            @include i4p-transition(all .5s ease);
            width: 70px;
            z-index:2000;
        }

        .infotable {
            th {
                background-color: #151515;
            }
    
            .infotable-location {
                @include i4p-editable;

                .map-button {
                    float:left;
                    margin:0 5px 0 0;
                }

                td {
                    padding:0;
                }
            }
    
            .infotable-website {
                @include i4p-editable;

                a {
                    color:#04add1;
                    font-style:italic;
                    font-size:1.15rem;
                }
            }
    
            .infotable-maturity {
                height: 1.5rem;
    
                .progressbar {
                    position: relative;
                    top: 1.2rem;
                }
                .status {
                    position: relative;
                    top: -1.4rem;
                    text-shadow: 0px 0px $sizeBorderSmall rgba(0,0,0,0.5);
                    font-style: italic;
                    padding-left: $sizePaddingSmall;
                    font-size:1rem;
                }
            }
            .infotable-share {
                td {
                    text-align: center;
                    vertical-align: center;
                    .addthis_toolbox {
                        margin-top: 5px; /* Compensate for space at the bottom of iframes */
                    }
                }
            }
        }

        &:hover .editing-button {
            background: image-url('project_sheet/edit-corner.png') no-repeat scroll top left transparent;
        }
    }
}
