// load reusable components
@import "i4p/mixins";
@import "i4p/constants";
@import "i4p/buttons";
@import "i4p/fonts";

.project-subheader {
    // common styles

	.infotable {
	    width: 100%;

	    label {
	    	font-size:1.2rem;

	    	&[for$="DELETE"] {
	    		display:inline;
	    	}

	    	&[for$="geom"] {
	    		display:none;
	    	}
	    }

	    a {
	    	color:white;
	    }

	    tr {
		border-bottom: $sizeMarginSmall solid transparent;
	    }

	    th {
		@include i4p-font-title($sizeTextNormal);
		@include box-sizing(border-box);

		padding: $sizePaddingSmall;
		vertical-align: top; // FIXME: should be middle in the future
		text-align: left;
	    }

	    td {
		color: white;
		padding: $sizePaddingSmall;
	    }
        tr.location {
            td {
                margin: 0;
                border: 0;
            }
            div#projectLocationsMap {
                color: $colorMedDarkGrey;
                height: 120px;
                min-height: 100px;
                width: 260px;
                min-width: 100px;
                display: inline-block;
            }
        }
        .location-formset {
            padding: 5px;
            label {  }
            textarea {
                height: 100px;
            }
            #id_address {
                max-height: $sizeTextNormal * 5;
            }
	    }
	}
}

