@import "i4p/mixins";
@import "i4p/constants";

/*---- New project style popup ----*/

#new_project_style_popup_zone {
    width: 100%;
    height: 1000px;
    background-image: image-url('base/black.png');
    position: fixed;
    z-index: 9000;
}

#new_project_style_popup {
    width: 620px;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    background-image: image-url('base/newproject_popup-bg.png');
    border: 1px solid #9b9b9b;
    @include border-radius(4px);

    #project_type {
    display: inline-block;

    .topic_picto {
        width: 142px;
        height: 99px;
        margin: 5px;
        float: left;

        div {
        width: 142px;
        height: 99px;
        }

        a:hover {
        text-decoration: none;
        }
    }
    }

    .close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 800;
    cursor: pointer;
    }

    h1 {
    font-family: "OpenSansCondensedBold_obsolete", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
    position: relative;
    top: 5px;
    }

    hr {
    border-top: 1px dotted white !important;
    border-bottom: 0px dotted white !important;
    width: 92%;
    }

    #project_type {

    a {
        width: 142px;
        height: 99px;
        position: relative;
        float: left;

        span {
        width: 100%;
        position: absolute;
        bottom: 5px;
        left: 0px;
        color: $normalgrey;
        font-family: "OpenSansBoldItalic_obsolete", Arial, Helvetica, sans-serif;
        font-size: 12px;
        }
    }

    a:hover span {
        color: white;
    }
    }
}


/*---- New project style popup ----*/

// FIXME: move to topic-select specific page & blocks files
#new_project_style_page {
    padding: 50px 0px;
    padding-bottom: 60px;

    #new_project_style_popup {
    margin-top: 10px;

    a.close-button {
        display: none;
        visibility: hidden;
    }

    a:hover {
        text-decoration: none;
    }
    }
}
