{% comment %}

Parameters for this block
=========================

* members : member list (FIXME: object type ?)

{% endcomment %}
{% load i18n %}
{% load word_boundary_aware_truncate_chars %}
{% load sekizai_tags %}
{% load unique_counter_tag %}

{% addtoblock "js" %}
{% endaddtoblock %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/memberlist_square.css" />
{% endaddtoblock %}

{% comment %} SYNCHRONOUS JS LOADING {% endcomment %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.anythingslider-1.8.6.js"></script>
{% endaddtoblock %}

{% comment %} ASYNCHRONOUS JS LOADING {% endcomment %}
{% addtoblock "footer_js" %}
<script type="text/javascript">
$.getScript(I4P_STATIC_URL+"js/project_sheet/block/memberlist_square.js");  
</script>
{% endaddtoblock %}

{% unique_counter memberlist_overlay %}
{% with overlay_unique_counter=memberlist_overlay_counter %}

{% unique_counter memberlist_modal %}
{% with modal_addmember_unique_counter=memberlist_modal_counter %}

{% if members.all %}
<div class="memberlist square fancy" 
	data-toggle="i4p-memberlist-overlay" 
	data-overlay-view-id="memberlist-overlay-{{ overlay_unique_counter }}"
	>
	<ul class="memberlist-slider" data-toggle="i4p-memberlist-slider" >
		{% for member in members.all %}
		{% include "project_sheet/block/member_fancy_square.html" %}
		{% endfor %}
	</ul>
</div>

<div id="memberlist-overlay-{{ overlay_unique_counter }}" class="memberlist-overlay square fancy">
	<img class="avatar" />
	<div class="details">
		<h3 class="fullname"></h3>
		<span class="position"></span>
		<a href="#" class="contact">{% trans 'Contact' %}</a>
		<a href="#" class="profile">{% trans 'Profile' %}</a>
	</div>
</div>


{% else %}
No user associated with this project.
{% endif %}

{% endwith %}
{% endwith %}
