/**
 * Colors
 */
/**
 *  Font sizes
 */
/**
 *  Mixins
 */
.people-list {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  border: 1px solid #ededed;
  padding: 5px;
  background-color: #f2f2f2;
}
.people-list h2 {
  font-size: 120%;
  text-transform: uppercase;
}
.people-list .seemore {
  display: block;
  color: black;
  margin-bottom: 10px;
}
.people-list .seemore:after {
  content: " >";
}
.people-list ul {
  list-style: none;
}
.people-list ul li {
  margin-bottom: 10px;
}

.person {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  width: 100%;
  padding: 5px;
}
.person * {
  margin-left: 45px;
}
.person .avatar {
  width: 40px;
  height: 40px;
  float: left;
  margin: 0;
}
.person .fullname {
  display: block;
  color: black;
  font-weight: bold;
  font-style: italic;
}
.person .project {
  display: block;
  color: black;
  font-weight: bold;
}
.person .project:before {
  content: attr(data-memberof-str);
  font-style: italic;
  display: block;
  font-weight: normal;
}
.person:hover {
  background-color: white;
}
