.content {
    min-height:250px;
}

#feedback-text{
    font-size:11px;
    margin-bottom:10px;
}

#feedback_filters{
    background-color:#0c0c0c;
    border-top:1px solid #353535;
    border-bottom:1px solid black;
    padding:10px;
    -moz-box-shadow: 0px 0px 4px black;  
    -webkit-box-shadow: 0px 0px 4px black;  
    box-shadow: 0px 0px 4px black; 	
	
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    -khtml-border-radius: 4px; 
    border-radius: 4px; 
    position:fixed;
    width:80px;
}

#feedback_filters h4{
    margin-top:8px;
}

#feedback_filters .button{
   margin-left:0px;
   margin-bottom:4px;
   top:-5px;
   
    -moz-box-shadow: 0px 0px 4px black;  
    -webkit-box-shadow: 0px 0px 4px black;  
    box-shadow: 0px 0px 4px black; 	
}

#feedback_infos{
    margin-top:10px;
}

#feedback-list
{
    list-style-type: none;
    padding-top:5px;
   /* border-top: 1px #eee solid;*/
}

#feedback-list li {
    /*border-bottom: 1px #eee solid;*/
    padding-bottom: 5px;
    padding-top: 5px;
    background-image:url(../images/base/separator.jpg);
	background-repeat:repeat-x;
	background-position:top;
    padding-left:20px;
}

#feedback-pagination{
    position:absolute;
    right:0px;
    bottom:0px;
}

.vote-actions .button{
    -moz-box-shadow: 0px 0px 4px black;  
    -webkit-box-shadow: 0px 0px 4px black;  
    box-shadow: 0px 0px 4px black; 	
    margin-left:2px;
    margin-right:2px;
    left:1px;
}

.feedback-votes {
    background-color: #eee;
    width: 50px;
    text-align: center;
    padding: 3px;
    background-color:#0c0c0c;
    border-top:1px solid #353535;
    border-bottom:1px solid black;
    -moz-box-shadow: 0px 0px 4px black;  
    -webkit-box-shadow: 0px 0px 4px black;  
    box-shadow: 0px 0px 4px black; 	
	-moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    -khtml-border-radius: 4px; 
    border-radius: 4px; 
    margin-top:10px;
    margin-bottom:10px;
}

.feedback-votes .numvotes{
    font-size:10px;
    margin-bottom:3px;
}

.feedback-entry .score {
    /*
    padding-top: 8px;
    padding-bottom: 8px;
    */
    font-size: 3em;
    font-weight: bold;
}

.feedback-entry form {
   display: inline;
}

.feedback-entry .vote_button {
   border:1px solid #666;
   width: 20px;
   height: 20px;
}


.feedback-info{
    margin-top:10px;
    margin-bottom:10px;
}

.feedback-entry .feedback-info .type_Q {
    padding: 3px;
    color:white;
    vertical-align: middle;
    /*background-image:url(../images/base/minibutton_blue.jpg);
	background-repeat:repeat-x;*/
}

.feedback-entry .feedback-info .type_P { 
    padding: 3px; 
    color:white;
    vertical-align:middle; 
   /* background-image:url(../images/base/minibutton_red.jpg);
	background-repeat:repeat-x;*/
}

.feedback-entry .feedback-info .type_I { 
    padding: 3px;    
    color:white;
    vertical-align:middle; 
   /* background-image:url(../images/base/minibutton_green.jpg);
	background-repeat:repeat-x;*/
}

.feedback-entry .feedback-info  span img{
    position:relative;
    top:-1px;
}

.feedback-entry .feedback-info .title { 
    font-size: 1.4em;
    vertical-align: middle; 
}

.feedback-entry .feedback-info .title .link { 
    font-size:17px;
}

.feedback-entry .feedback-info .feedback-desc { 
    color: #666; 
}

.feedback-entry .feedback-info .who { 
    font-size: 0.8em; 
}

#feedback-filter {
    list-style: none;
    margin-bottom: 20px;
}

#feedback-filter li {
    list-style: none;
    text-align: center;
    margin-bottom: 3px;
    /*background-color: #666;*/
    color: #eee;
    width: 100%;
    font-size: 1.1em;
}

#feedback-order li {
    list-style: none;
    text-align: center;
    margin-bottom: 3px;
    /*background-color: #666;*/
    color: #eee;
    width: 100%;
    font-size: 1.1em;
}

#feedback-order .order-on .button, #feedback-filter .filter-on .button
{
    background-image:url(../images/base/minibutton_red.jpg);
	background-repeat:repeat-x;
    color:white;
    text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
    border:1px solid #881b1b;	

}


#feedback-tab-suggestions
{
    width: 200px;
}

form#feedback-new #kind {
    margin-bottom: 10px;
}

form#feedback-new ul {
    display: inline;
}

form#feedback-new ul li {
    list-style-type: none;
    display: inline;
    vertical-align: middle;
    padding-left: 0px;
    margin-left: 5px;
}

form#feedback-new div#subject {
    margin-bottom: 10px;
}

form#feedback-new div#subject input {
    width: 400px;
}

form#feedback-new input[type="submit"] {
    border: 1px solid black;
    height: 25px;
    background-color: #eee;
}

div#feedback-sidebar {
    color: #666;

    background-color:#0c0c0c;
    border-top:1px solid #353535;
    border-bottom:1px solid black;
    padding:10px;
    -moz-box-shadow: 0px 0px 4px black;  
    -webkit-box-shadow: 0px 0px 4px black;  
    box-shadow: 0px 0px 4px black; 	
	
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    -khtml-border-radius: 4px; 
    border-radius: 4px; 
}



#feedback-comment #id_comment{
    width:100%;
    border:1px solid black;
    top:-10px;
    position:relative;
}

#feedback-comment input[type=submit]{
    float:right;
}

#feedback-comments-list li div{
    margin-bottom:15px;
}


#feedback-comments-list li div{
    font-size:10px;
    color:#7F7E7E;
}

#feedback-new #id_text{
    width:100%;
}

.feedback-description{
    text-align:justify;
}

.feedback-new-page #id_title{
    width:100% !important;
}

.feedback-edit-admin  form label{
    width:10%;
    float:left;
}