/*---- Projects sorting ----*/

#projectlist_sort{
    background-color:#0c0c0c;
    border-top:1px solid #353535;
    border-bottom:1px solid black;
    padding:3px;
    padding-top:5px;
    padding-bottom:5px;
    -moz-box-shadow: 0px 0px 4px black;  
    -webkit-box-shadow: 0px 0px 4px black;  
    box-shadow: 0px 0px 4px black; 		
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    -khtml-border-radius: 4px; 
    border-radius: 4px; 
    /*float:right;*/
    position:absolute;
    right:0px;
    top:0px;
}

#projectlist_sort h4{
    margin-top:8px;
}

#projectlist_sort .button{
    top:1px;
    margin-left:3px;
    margin-right:4px;
    -moz-box-shadow: 0px 0px 4px black;  
    -webkit-box-shadow: 0px 0px 4px black;  
    box-shadow: 0px 0px 4px black; 	
}

#projectlist_sort_buttons{
    display:block;
    float:left;
}

#projectlist_sort_buttons .filter-on a.button {
    background-image:url("../images/base/minibutton_red.jpg");
    background-repeat:repeat-x;
    border:1px solid #881B1B;
    color:white;
    text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.3);
}

/*---- Projects languages ----*/

#langage-tool  {
    position:relative !important;
    width:90px;
    top:-2px;
}

.sf-menu {
    position:absolute;
}

.sf-menu ul {
	position: static !important;
    width:auto !important;
    border-top:0px solid #393939 !important;
}

.sf-menu li {
    width:80px;
}

.sf-menu a {
	color:#979797;
}

.sf-menu a {
    padding:5px;
}

.sf-menu .sf-sub-indicator {
    top:6px;
}


/*---- Filters ----*/

.categories .menu ul .selected a {
    color:#888888;
}

.categories {
    background-image:url("../images/base/menu-bg.jpg");
    background-color:#161616;
    height:260px;
}

#projects_filters{
    /*background-color:#161616;*/
    padding-top:10px;
    padding-bottom:10px;
    position:relative;
    top:-10px;
}

.filters_box{
    background-color:#0e0e0e;
    -moz-border-radius:3px; 
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
    margin-bottom:10px;
}

.filtersbox_content{
    margin:10px;
    color:#393939;
    position:relative;
}

.filtersbox_content h4{
    color:#d3d3d1;
    font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:18px;
	font-weight:bold;
	font-style:italic;
    display:block;
    border-bottom:1px solid #393939;
    margin:0px;
    margin-bottom:10px;
    padding-bottom:3px;
}

.filtersbox_content .invert{
    position:absolute;
    top:6px;
    right:0px;
    cursor:pointer;
}

.filtersbox_content .invert:hover{
    text-decoration:none;
    color:#d3d3d1;
}


.filtersbox_content a{
    font-size:11px;
    color:#393939;
}

.filtersbox_content p{
    clear: both;
    display: block;
}


.filtersbox_content select{
    width:100%;
    height: 148px;
}

.filtersbox_content option[selected="selected"]{
    background-color:red;
}

.filtersbox_content  .pictos-categ{
    margin-bottom:10px;
    border-right:1px solid #393939;
    text-align:center;
    font-size:10px;
}

.filtersbox_content  .pictos-categ:last-child{
    border-right:0px solid #393939;
}

.filtersbox_content  .filtersbox_choices{
    position:absolute;
    top:2px;
    right:0px;
}

.filtersbox_content  .filtersbox_choices a{
    margin-left:5px;
    cursor:pointer;
}

.filtersbox_content  .filtersbox_choices a:hover{
    text-decoration:none;
    color:#d3d3d1;
}

/*---- Themes - Cloudtag ----*/

#cloudtag_list li a {
    color:#767676;
    font-family:Georgia,"Ma Georgia","Century Schoolbook L","URW Palladio L",Helvetica,serif,Arial;
    font-style:italic;
    font-weight:bold;
    text-decoration:underline;
}

#cloudtag_list li a.selected {
    color:#119CBA;
}


/*---- Project Status - Checkboxes ----*/

.filters-picto {
    width:70px;
    margin-left:auto;
    margin-right:auto;
}

.filters-picto p {
    visibility: hidden;
    display: none;
}

.filters-progress{
    margin-bottom:10px;
    position:relative;
}

.filters-progress , .filters-progress a{
    font-size:10px;
}

.filters-picto ul, .filters-progress ul{
    margin:0;
    padding:0;
}

.filters-picto ul li , .filters-progress ul li{
    display:inline;
    list-style-type:none;
    margin:0;
    padding:0;
    float:left;
    margin-left:5px;
    margin-right:5px;
}

.filters-picto  .ez-checkbox {
	width: 19px;
	height: 27px;
	padding: 0 5px 0 0;
	display: block;
	clear: left;
	float: left;
    /*background-repeat:no-repeat;*/
    background-position:top center;
    cursor:pointer;
}

.ez-hide { 
    opacity: 0; 
    filter:alpha(opacity=0); 
    cursor:pointer;
}

.filters-picto .ez-checked { 
    background-position: -2px -25px !important; 
}

.filters-picto #filter_val_edit .ez-checkbox{
    background-image: url("../images/project/filters-picto-editing.jpg");
}

.filters-picto #filter_val_full .ez-checkbox{
    background-image: url("../images/project/filters-picto-complete.jpg");
}

.filters-picto #bestof .ez-checkbox{
    background-image: url("../images/project/filters-picto-bestof.jpg");
    left:17px;
    position:relative;
}

.filters-picto #popular .ez-checkbox{
    background-image: url("../images/project/filters-picto-popular.jpg");
}

.filters-picto #team .ez-checkbox{
    background-image: url("../images/project/filters-picto-team.jpg");
}

.filters-picto #nobody .ez-checkbox{
    background-image: url("../images/project/filters-picto-nobody.jpg");
}


.filters-progress{
    position:relative;
    margin-left:20px;
    margin-top:12px;
}

.filters-progress ul li{
    margin:0px;
    padding:0px;
    width:90px;
    text-align:center;
    margin-bottom:15px;
}


.filters-progress  .ez-checkbox {
	width: 90px;
	height: 20px;
	padding: 0 5px 0 0;
	display: block;
	clear: left;
	float: left;
    background-repeat:no-repeat;
    background-position:top center;
    cursor:pointer;
    margin-bottom:5px;
}

.filters-progress .ez-checked { 
    background-position: 3px -25px !important; 
}

.filters-progress #filter_val_idea .ez-checkbox{
    background-image: url("../images/project/filters-progressbar_25.jpg");
}

.filters-progress #filter_val_begin .ez-checkbox{
    background-image: url("../images/project/filters-progressbar_50.jpg");
}

.filters-progress  #filter_val_wip .ez-checkbox{
    background-image: url("../images/project/filters-progressbar_75.jpg");
}

.filters-progress  #filter_val_end .ez-checkbox{
    background-image: url("../images/project/filters-progressbar_100.jpg");
}

.filters-progress ul li.selected p{
    color:white;
}



#reset_filters{
    position:relative;
    margin-left:15px;
    cursor:pointer;
    font-size:11px;
    top:4px;
    font-style:normal;
    font-family:Verdana,Arial,Helvetica,sans-serif;   
    font-weight:normal;    
}

#reset_filters:hover{
    text-decoration:none;
    color:white;
}