.hidden{

	display:none;
	visibility:hidden;

}

.nomargin{

	margin:0px;

}

.nopadding{

	padding:0px;

}

.left{

	float:left;

}

.right{

	float:right;

}

.none{

	float:none;

}

.edit1:hover{

	background-image:url("../images/project/edit1.png");
	background-position:right center;
	background-repeat:no-repeat;
	display:block inline;
	padding-right:20px;
	position:relative;

}

.edit2{

	background-image:url("../images/project/edit2.png");
	background-position:right center;
	background-repeat:no-repeat;
	display:inline-block;
	padding-right:20px;
	position:relative;

}


.focus:hover{

	background-color:#e4e4e4;
	
}