.hidden{

	display:none;
	visibility:hidden;

}

.nomargin{

	margin:0px;

}

.nopadding{

	padding:0px;

}

.left{

	float:left;

}

.right{

	float:right;

}

.none{

	float:none;

}

.bold{

	font-weight:bold;

}

.separator{

	height:2px;
	background-image:url(../images/base/separator.jpg);
	background-repeat:repeat-x;
	position:relative;
	margin-top:15px;
	margin-bottom:15px;

}

.link{
    color:#04ADD1;
    font-family:Georgia,"Century Schoolbook L","URW Palladio L",Helvetica,serif,Arial;
    font-size:12px;
    font-style:italic;
    font-weight:bold;
    text-decoration:none;
}

.link:hover{
    text-decoration:underline;
}


.edit1:hover{

	background-image:url("../images/project/edit1.png");
	background-position:right center;
	background-repeat:no-repeat;
	display:block inline;
	padding-right:20px;
	position:relative;

}

.edit2{

	background-image:url("../images/project/edit2.png");
	background-position:right center;
	background-repeat:no-repeat;
	display:inline-block;
	padding-right:20px;
	position:relative;

}


.focus:hover{

	background-color:#e4e4e4;
	
}