.content {
    background-image:none;
}

ul.history{
    list-style-image:url("../images/base/bullet.png");
    padding-left:20px;
    position:relative;
}

ul.history li {
    display: list-item;
    margin-top:4px;
}
