body{
    background-image:url("../images/home/home-bg.jpg");
    background-position:top center;
}

.nav-bg{
    top:20px;
    position:relative;
}

#i4p_baseline{
    z-index:100;
    width:100%;
    text-align:right;
    float:right;
    font-size:23px;
    position:absolute;
    right:0px;
    top:5px;
    color:white;
}

#for-picto{
    position:absolute;
    left:-5px;
    z-index:90;
    top:280px;
}

#projects_rotator_minis{
    position:absolute;
    right:25px;
    top:276px;
    z-index:110;
    width:210px;    
    border:4px solid black;
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 4px; 
    -moz-box-shadow: 0px 0px 8px #161616;  
    -webkit-box-shadow: 0px 0px 8px #161616;  
    box-shadow: 0px 0px 8px #161616;  
}


#projects_rotator_minis li{
    float:left;
    width:42px;
    height:42px;
    position:relative;
}


#projects_rotator_minis li img{
    width:40px;
    height:40px;
    border:1px solid black;
}

#projects_rotator_minis li img:hover{
    border:1px solid white;
}

#projects_rotator_minis .home-minis-plus:hover{
    border:1px solid black;
}

#mask{
    position:absolute;
    top:-36px;
    z-index:20;
}


#projects_rotator li{
    position:absolute;
    top:40px;
    left:10px;
    height:450px;
    overflow:hidden;
}

#projects_rotator li img{
    width:960px;
}

#projects_rotator .project_desc{
    position:absolute;
    z-index:200;
    width:350px;
    right:266px;
    bottom:90px;
    padding:10px;
    background-color:black;
    background-color:rgba(0,0,0,0.9);
    text-align:right;  
}

#projects_rotator .project_desc h1{
    color:white;   
    font-size:23px;
}

#projects_rotator .project_desc h2{
    color:#898989;    
    font-size:13px;
}

#projects_rotator .project_desc a:hover{
    text-decoration:none;
}

#projects_rotator .project_desc .link{
    text-align:left;
    float:left;
}

#projects_rotator .project_desc .link:hover{
    text-decoration:underline;
}


#browse-picto{
    background-image:url('../images/home/browse-picto.png');
    width:91px;
    height:46px;
    position:absolute;
    top:-55px;
    left:160px;
}