.categ-button, .categ-button2, .search, .toolbox{

    display:none;
    visibility:hidden;

}

.selected .categ-button{

    display:block;
    visibility:visible;

}

.nav-bg{

    top:20px;
    position:relative;

}

.categories{

    border-top:0px solid #676665;

}



.block-content .colonne:last-child {

    width:310px !important;

}

.block-content p{

margin-top:10px;
margin-bottom:10px;
font-size:15px;

}

.block-content .colonne h1:last-child {

    margin-top:28px;

}

.catchy{

	position:relative;
	margin-top:50px;
	/*background-color:#282828;*/
	color:white;

}

.catchy h1{

	font-size:25px;
	/*background-color:#282828;*/

	
	-moz-text-shadow: 2px 2px black; 
	-webkit-text-shadow: 2px 2px #181818; 
	-opera-text-shadow: 2px 2px #181818; 
	-text-shadow: 2px 2px #181818; 
	text-shadow: 2px 2px #181818; 

}

.catchy  .edito{

	font-size:18px;
	/*background-color:#282828;*/
	padding-right:20px;
	
	-moz-text-shadow: 2px 2px black; 
	-webkit-text-shadow: 2px 2px #181818; 
	-opera-text-shadow: 2px 2px #181818; 
	-text-shadow: 2px 2px #181818; 
	text-shadow: 2px 2px #181818; 	

	text-align:left;

}

.manifesto-link{

	color:#04add1;
	
	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:18px;
	

	border-bottom:1px solid #1b5e6c;
	padding-top:5px;
	margin-right:15px;
// margin-left: 30px;
display: block;
	padding-bottom:3px;
	display:table;
	
	float:right;

	
	font-weight:bold;
	font-style:italic;
	
	-moz-text-shadow: 2px 2px black; 
	-webkit-text-shadow: 2px 2px #181818; 
	-opera-text-shadow: 2px 2px #181818; 
	-text-shadow: 2px 2px #181818; 
	text-shadow: 2px 2px #181818; 


}

.manifesto-link:hover{

	color:#65e4ff;

}