/* --Projects Cards-- */

.profile{
	position:relative;
	margin-top:35px;
    padding-bottom:15px;
    float:left;
}

.profile_action a {
    color: #555555;
    font-family: Georgia,"Ma Georgia","Century Schoolbook L","URW Palladio L",Helvetica,serif,Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: underline;
}

.profile_action li {
    display: block;
    list-style-type: block;
}