
.categories{
    display:none;
    visibility:hidden;
}


.nav-white {
    background-color:black;
    background-image:url("../images/base/nav-white-bg.png");
    background-position:center center;
    background-repeat:repeat-x;
    height:181px;
    margin:0;
    padding:0;
    width:100%;
}

.content{
    border-top:1px solid #393939;
}


/* --Profile-- */


#profile{
	position:relative;
    padding-bottom:15px;
    float:left;
    width:100%;
}

#profile #avatar {
    position:relative;
    position:absolute;
    top:-80px;
    right:0px;    
    z-index:1000;
}

#profile #avatar > #social_buttons{
    position:absolute;
    right:5px;
    bottom:4px;
    height:30px;
    /bottom:3px;
    z-index:4000;
}

#profile #avatar > img{
	width:164px;
    height:164px;
    border:1px solid white;
    
    -moz-box-shadow: 0px 0px 8px black;  
    -webkit-box-shadow: 0px 0px 8px black; 
    box-shadow: 0px 0px 8px black;      
}

#profile_action{
    position:absolute;
    clear:both;
    top:-3px;
}

#profile_action .button{
    margin-right:5px;
    z-index:3000;
}

#profile_action .button:hover{
    margin-right:5px;
    z-index:3000;
}

#profile_bar{
    padding-right:180px;
    position:relative;
    top:-5px;
    text-align:right;
    background-image:url("../images/profile/profile_bar.jpg");
    background-repeat:repeat-x;
    background-position:0px 29px;
    height:90px;
}

#profile_bar #profile_bar_middle{
    height:30px;
    width:100%;
    padding-top:7px;
    position:relative;
}

#profile_bar .motto{
    position:absolute;
    left:10px;
    font-style:italic;
}

#profile_bar .infos{
    position:absolute;
    right:0px;
}

#profile h1{
    font-size:25px;
    position:relative;
    top:-5px;
    height:30px;
   /*display:inline;*/
}

#profile_about{
    background-image:url("../images/project/quote2-white.png"), url("../images/project/quote1-white.png");
    background-position:right top, left bottom;
    background-repeat:no-repeat;
    min-height:55px;
    padding-left:80px;
    padding-right:80px;
    margin-top:30px;
    color:#909090;
    text-align:justify;
}

#profile_projects .separator{
    margin-top:40px;
}

#profile .separator h2{
    position:relative;
    top:-11px;
    padding-right:15px;
    background-color:#282828;
    width:auto;
    display:inline;
}



/* ----- Profile Edition -----*/


#profile .profile_edition  .separator{
    margin-top:30px;
    margin-bottom:30px;
}

#profile .profile_edition p {
    margin-top:5px;
    margin-bottom:5px;
}


#profile .profile_edition label{
    color:#04ADD1;
    width:120px;
    margin-right:10px;
    float:left;
    position:relative;
    text-align:right;
    top:2px;
}

#profile .profile_edition .button{
    background-image:url("../images/base/minibutton_blue.jpg");
    border:1px solid #2A65A0;
    color:#FFFFFF;
    text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 4px black;  
    -webkit-box-shadow: 0px 0px 4px black;  
    box-shadow: 0px 0px 4px black;  
    position:absolute !important;
    bottom:25px !important;
    top:auto !important;
    right:-14px;
}

#signin_form  .button{
    left:200px !important;
    clear:both;
    width:120px;
    float:none !important;
}

#profile .profile_edition .button:hover{
   background-color:#EEEEEE;
   background-image:none !important;
   border:1px solid #BDBDBD;
   color:#5A5959;
   text-shadow:1px 1px 0 #FFFFFF;
}

#id_website, #id_linkedin, #id_twitter, #id_facebook{
    width:250px;
}

#password_change_form p{
    width:56%;
    /*float:left;*/
    position:relative !important;
}

#password_change_form p label{
    width:60% !important;    
}

#password_change_form p input{
    width:35%;
}

#email_change_form p{
    width:56%;
    float:left;
}

#email_change_form p label{
    width:25% !important;    
}

#email_change_form p input{
    width:30%;
}

#id_motto{
    height:16px;
    width:400px;
}

#id_about{
    height:96px;
    width:400px;
}


#id_address{
    height:50px;
    width:400px;
}

.errorlist{
    /*float:right;
    top:8px;*/
    display:block;
    position:relative;
    /*right:220px;*/
    margin-top:18px;
    clear:both;
    
}

.errorlist li{
   /* margin-left:30%;*/
   margin-left:130px;
}

#password_change_form .errorlist li{
    margin-left:338px;
}

#email_change_form  .errorlist li{
    margin-left:150px;
}

#signin_form{
   /* 
    width:400px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    */
}


#signin_form .checkbox label{
    width:100% !important;
    float:none !important;
    top:10px;
    font-style:italic;
}

#signin_form  .forgot-password{
    position:relative;
    top:-12px;
    left:0px;
    display:inline;
}
