
/* ----------Project Body - CREATION + EDITION ----------- */

form{

	position:relative;
	width:100%;

}

.edit_logo{

	position:relative;
	float:left;

}


.project_content{

	padding-top:10px;
	padding-bottom:10px;

}

.project_content a{

	text-decoration:none;

}

#id_title{

	height:54px;
	width:642px;
	padding:0px;
	/*background-color:#5a5959;*/
	background-color:white;
	color:black;
	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:38px;
        float:left;
	border:1px solid grey;

	
	font-weight:bold;
	font-style:italic;
	
	-moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    -khtml-border-radius: 0px; 
    border-radius: 0px; 
	
	/*border:0px;*/
	text-indent:10px;	

}

#project_title_submit{

	position:relative;
	/*float:left;*/
	height:56px;
	width:8%;
	margin:0px;
	padding:0px;
	border:0px;
	
	background-image:url("../images/project/project_title_validate.jpg");
	background-position:right;
	background-repeat:no-repeat;
	background-color:#5a5959;	

}


#project_title_submit:hover{

	background-image:url("../images/project/project_title_validate_hover.jpg");

}



#project_title_edit_inactive{


	height:56px;
	width:100%;
	padding:0px;
	background-color:#5a5959;
	color:white;
	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:38px;
	/*float:left;*/
	
	background-image:url("../images/project/project_title_edit.jpg");
	background-position:right bottom;
	background-repeat:no-repeat;
	
	font-weight:bold;
	font-style:italic;
	
	-moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    -khtml-border-radius: 0px; 
    border-radius: 0px; 
	
	border:0px;
	text-indent:11px;
	line-height:56px;

}


#project_title_edit_inactive:hover{

	background-image:url("../images/project/project_title_edit_hover.jpg");

}

.project_baseline_edition, .project_baseline_edition_inactive{

	color:#2a2a2a;
	height:24px;
	background-color:#bdbdbd;
	font-size:15px;
	font-family : Tahoma, Verdana, Arial, Sans-serif;
	position:relative;
	width:100%;
	border:0px;
	/*float:left;*/
	padding-top:5px;
	padding-bottom:5px;
	text-indent:10px;
	line-height:24px;
	/*font-weight:bold;*/
	
	margin-bottom:37px;

}

.project_baseline_edition .greenbutton{

	margin-left:3px !important;
	margin-right:7px !important;

}


.project_baseline_edition_inactive p{

	color:#898989;
	background-color:#bdbdbd;
	font-size:17px;
	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-weight:bold;
	font-style:italic;
	position:relative;
	width:92%;
	border:0px;
	float:left;
	padding-top:5px;
	padding-bottom:5px;
	text-indent:10px;
	line-height:14px;
	/*font-weight:bold;*/
	
}

#id_baseline {

	color:#2a2a2a;
	background-color:white;
	font-size:17px;
	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-weight:bold;
	font-style:italic;
	position:relative;
	width:90%;
	border:0px;
	height:20px;
	line-height:20px;
	float:left;
	padding-top:5px;
	padding-bottom:5px;
	text-indent:6px;
	left:3px;
	top:-3px;
	/*font-weight:bold;*/
	
}

.project_baseline_edition_inactive .button{

	position:relative;
	text-align:center;
	margin:0px;
	margin-right:3px;
	top:4px;
	padding-right:10px;
	padding-left:10px;
	
	padding-top:6px;
	padding-bottom:0px;
	
	left:2px;
	line-height:15px;

}


.project_baseline_edition .button, 
.project_baseline_edition .redbutton,
.project_baseline_edition .greenbutton,
.project_details_body form button[type="submit"],
.project_details_body form button[type="cancel"] {

	position:relative;
	float:right;
	text-align:center;
	margin:0px;
	margin-left: 8px;
	top:2px;
	padding-right:3px;
	padding-left:3px;
	line-height:15px;

}

.project_details_body form button {
    	background-color:#eeeeee;
	border:1px solid #bdbdbd;
	position:relative;
	margin-left:15px;
	margin-right:15px;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	font-size:9px;
	font-family : Verdana, Arial, Sans-serif;
	font-weight:bold;
	color:#5a5959;
	text-shadow:1px 1px 0 #fff; 
	text-align:center;
	text-decoration:none;
	text-transform:none;
	font-style:normal;
	
	top:-1px;
		
	-moz-box-shadow: 0px 0px 4px #a1a1a1;  
	-webkit-box-shadow: 0px 0px 4px #a1a1a1;  
    box-shadow: 0px 0px 4px #a1a1a1; 
	
	-moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    -khtml-border-radius: 4px; 
    border-radius: 4px; 
	
	behavior: url(border-radius.htc); 

}

.project_details_body form button:hover{
	color:#fff;
	text-decoration:none;
	text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
	background-position:0 -30px;
}

.project_details_body form button[type='submit']:hover {
	background:url(../images/base/minibutton_green.jpg);
	border:1px solid #01841f;	
}

.project_details_body form button[type='cancel']:hover {
	background:url(../images/base/minibutton_red.jpg);
	border:1px solid #881b1b;	
}



.project_infos_bloc{

	font-family : Tahoma, Verdana, Arial, Sans-serif;
	font-size:12px;
	color:#898989;
	margin-top:20px;
	margin-bottom:20px;
	position:relative;

}

#project_photo_upload{

	background-color:#bdbdbd;
	background-image:url("../images/project/media_upload.jpg");
	background-position:center;
	background-repeat:no-repeat;
	
	position:relative;

	height:362px;
	width:100%;

}


#project_photo_upload_edit{

	background-color:#E4E4E4;
	height:292px;
	width:100%;
	padding-top:70px;
	position:relative;
	
}

#project_photo_upload_edit h1{

	text-align:center;
	font-size:25px;
	margin-bottom:55px;
	position:relative;
	color:#5A5959;
	
}

#project_photo_upload_edit #forms_files{

	width:85%;
	margin-left:auto;
	margin-right:auto;	
	
}

#project_photo_upload_edit #forms_files .button{

	top:2px;

}

#project_photo_upload_edit .redbutton{

	position:absolute;
	right:10px;
	top:10px;
	z-index:1000;
	
}

#project_photo_upload_edit form{

	position:relative;
	margin-bottom:20px;
	padding-left:5px;
	height:30px;
	padding-right:5px;
	border-bottom:1px solid #BDBDBD;
	
}

#forms_files label{

	font-weight:bold;

}

#forms_files input[type=text], #forms_files input[type=file]{

	background-color:#CCC8C8;
	border:0 none;
	color:white;
	font-family:Georgia,"Ma Georgia","Century Schoolbook L","URW Palladio L",Helvetica,serif,Arial;
	font-size:14px;
	font-style:italic;
	font-weight:bold;
	padding:3px 4px;
	width:200px;
	
	-moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    -khtml-border-radius: 4px; 
    border-radius: 4px; 

}

.project_description_zone_edition{

	background-color:#5a5959;
	background-image: url("../images/project/quote2-black.jpg"),url("../images/project/quote1-black.jpg"); 
	background-position: right top, left bottom; 
	background-repeat: no-repeat; 

}


.project_description_txt_edit{

	width:77%;
	padding-top:10px;
	padding-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	
	min-height:110px;

}

.project_description_txt_edit textarea{

	background-color:#BDBDBD;
	border:0px;
	width:100%;
	height:105px;

}

.project_description_txt_edit .button,
.project_description_txt_edit .redbutton,
.project_description_txt_edit .greenbutton {

	position:relative;
	float:right;
	top:-25px;
	right:-73px;
	margin-right:3px;
	
	-moz-box-shadow: 0px 0px 4px #424242;  
    -webkit-box-shadow: 0px 0px 4px #424242;  
    box-shadow: 0px 0px 4px #424242; 

}

.project_description_txt_edit h1{

	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:22px;
	
	font-weight:bold;
	font-style:italic;
	
	margin-top:30px;
	
	color:white;
	


}

.project_description_txt_edit h2{

	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:17px;
	
	font-weight:bold;
	font-style:italic;
	
	color:#232323;
	position:relative;
	display:inline;
	
	padding-right:20px;
	
	background-image: url("../images/project/edit1.png");
	background-position: right;
	background-repeat: no-repeat; 

}


.project_details_title_edit{

	border-bottom:1px solid #bbbbbb;
	width:100%;
	float:left;
	padding-bottom:3px;
 height: 19px;

}

.project_details_title_edit h2{

	margin:0px;
	padding:0px;
	position:relative;
	float:left;
	
	font-size:14px;
	color:#424242;

}

.project_details_title_edit .button{

	top:-1px;
	right:-15px;
	float:right;

}

.project_details_body{

	position:relative;
	float:left;
	display:inline;
	margin-top:10px;	
	margin-bottom:30px;	


	width: 100%;
	font-size:11px;
	color:#5e5e5e;

}

.project_details_body form textarea {
    width: 690px;
    padding: 4px;
    margin-bottom: 5px;
    border: 1px solid #aaa;
}

.empty{

	font-style:italic;
	color:#838181;

}


.project_details_body_edit{

	margin-top:5px;
	position:relative;
	float:left;
	margin-bottom:20px;	
	text-align:right;
	
}

.project_details_body_edit textarea{

	margin-top:5px;
	margin-bottom:10px;
	position:relative;
	float:left;
	width:696px;
	height:80px;
	
	
	padding-top:5px;
	padding-bottom:5px;
	
	/*color:white;
	border:0px;
	background-color:grey;*/

}


/* ----------Project Body - VISUALISATION ----------- */


.project_description{

	position:relative;
	margin-top:50px;
	margin-bottom:40px;

}


.project_description .about_project{

	font-family : Tahoma, Verdana, Arial, Sans-serif;
	font-size:26px;
	color:#424242;
	font-weight:normal;
	font-style:normal;
	
	margin-bottom:10px;

}

.project_description .about_project .button{

	top:8px;
	

}

.project_description_zone_view{

	background-color:#5a5959;
	background-image: url("../images/project/quote1-white.jpg"),url("../images/project/quote2-white.jpg"); 
	background-position: right bottom, left top; 
	background-repeat: no-repeat,no-repeat; 

}

#project_title{

	color:#5a5959;
	
	/*height:56px;*/

	padding:0px;
	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:38px;
	/*float:left;*/
	
	font-weight:bold;
	font-style:italic;
	
	-moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    -khtml-border-radius: 0px; 
    border-radius: 0px; 
	
	border:0px;
	/*text-indent:11px;*/
	/*padding-left:11px;*/
	line-height:56px;

}

#project_title:hover {

	color:white;	

	text-decoration:none;
	background-image:url("../images/project/project_title_edit.jpg");
	background-position:right bottom;
	background-repeat:no-repeat;
	background-color:#5A5959;


}

.project_baseline{

	color:#2a2a2a;
	font-size:15px;
	font-family : Tahoma, Verdana, Arial, Sans-serif;
	position:relative;
	width:100%;
	border:0px;
	float:left;
	padding-top:5px;
	padding-bottom:5px;
	/*text-indent:10px;*/
	/*font-weight:bold;*/

}


.project_baseline p{

	color:#898989;
	font-size:17px;
	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-weight:bold;
	font-style:italic;
	position:relative;
	width:93%;
	border:0px;
	float:left;
	padding-top:2px;
	padding-bottom:5px;
	/*text-indent:10px;*/

	/*font-weight:bold;*/
	
}


.project_baseline .button{

	position:relative;
	text-align:center;
	margin:0px;
	margin-right:3px;
	top:1px;
	padding-right:10px;
	padding-left:10px;
	

	padding-top:2px;
	padding-bottom:2px;
	
	left:-4px;
	line-height:15px;

}


.project_description_zone{

	background-image: url("../images/project/quote2-white.png"),url("../images/project/quote1-white.png"); 
	background-position: right top, left bottom; 
	background-repeat: no-repeat; 

}


.project_description_txt{

	width:77%;
	padding-top:10px;
	padding-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	
	color:#5e5e5e;
	
	min-height:110px;

}

.project_description_txt p{
	
	padding-top:5px;
	padding-bottom:5px;	
	text-align:justify;

}


/* ----------Project Body - CREATION ----------- */




#project_photo_gallery{

	position:relative;
	width:700px;
	

}

#project_photo_gallery .button{

	position:absolute;
	right:-5px;
	top:10px;
	z-index:1000;

}

#project_photo_gallery_current_photo{



}

#project_photo_gallery_mini{

	/*	
	background-image:url(../images/base/black.png);	
	position:absolute;
	height:81px;
	width:100%;
	bottom:0px;
	z-index:2000;
	padding-top:10px;
	*/
	
}


#project_photo_gallery_mini li{

	list-style-type:none;
	display:inline;
	padding:0px;
	/*margin:0px;*/
	height:100%;	
	
}

#project_photo_gallery_mini img{


	width:95px;
	height:65px;
	position:relative;
	border:3px solid white;
	float:left;
	
	margin-left:16px;
	margin-right:16px;
	

}


#project_photo_gallery_mini img:hover{

	border:3px solid black;
	
}


.grey_column_objective_edition, .grey_column_cloudtag_edition{

	position:relative;
	display:block-inline;
	width:100%;
	float:left;
	margin-top:30px;
}


#grey_column_cloudtag_edition_title{

	position:relative;
	margin-bottom:10px;

}


.grey_column_content label{

	font-weight:bold;
	color:#5a5959;
	font-size:14px;
	margin-bottom:30px;
	position:relative;
	

}

#project_objective{

	font-size:14px;
	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-weight:bold;
	font-style:italic;
	color:#119cba;
	text-decoration:underline;

}

.grey_column_tagcloud{

	position:relative;
	float:left;
	margin-top:30px;
	

}

.grey_column_tagcloud ul{

	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-weight:bold;
	font-style:italic;
	color:#119cba;
	
}

.grey_column_tagcloud ul li a{

	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-weight:bold;
	font-style:italic;
	color:#119cba;
	text-decoration:underline;

}

.grey_column_objective_edition select{

	font-weight:bold;
	font-size:14px;
	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-weight:bold;
	font-style:italic;
	color:white;
	border:0px;
	background-color:#ccc8c8;
	
	padding:3px;
	padding-left:4px;
	padding-right:4px;
	
	width:200px;
	
	-moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    -khtml-border-radius: 4px; 
    border-radius: 4px; 

}

.precision{

	color:#9a9a9a;
	font-size:11px;

}

/* Tags for theme */
ul#themes_tags {
    background-color: white;
}

ul#themes_tags li.tagit-new input {
    height: 20px;
    font-size: 1em;
}

ul#themes_tags li.tagit-choice a {
    margin-left:5px;
    color:#119cba;
    font-family:Verdana,Arial,Sans-serif;
    font-size:10px;
    font-style:normal;
    top:-1px;
    position:relative;
}


ul#themes_tags li.tagit-choice {
    background-color: #CCC8C8;
    padding:5px;
    
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    -khtml-border-radius: 4px; 
    border-radius: 4px; 
    
    font-size:14px;
    font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
    font-weight:bold;
   /* font-style:italic;*/
    color:white;
    
    position:relative;
}

#themes_list {
    background-color: #ccc8c8;
    position:relative;
    float:left;
    padding:10px;
    width: 100%;
    
    margin-bottom:15px;
    
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    -khtml-border-radius: 4px; 
    border-radius: 4px;
}

#themes_list li a {
    font-size:14px;
    font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
    font-weight:bold;
    font-style:italic;
    color:white;
    
    position:relative;
}

/*-- license --*/
#license-note {
    padding-top: 30px;

    font-size: 0.7em;
    color: #666;
    font-style: italic;
    vertical-align: middle;

    text-align: right;
}

#license-note img {
    vertical-align: middle;
    padding-bottom: 2px;
}