
/* ----------Project Body - CREATION ----------- */

form{

	position:relative;
	width:100%;

}


.project_content{

	padding-top:10px;
	padding-bottom:10px;

}

#project_title_edit{

	height:56px;
	width:92%;
	padding:0px;
	background-color:#5a5959;
	color:white;
	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:38px;
	float:left;
	
	font-weight:bold;
	font-style:italic;
	
	-moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    -khtml-border-radius: 0px; 
    border-radius: 0px; 
	
	border:0px;
	text-indent:10px;	

}

#project_title_submit{

	position:relative;
	float:left;
	height:56px;
	width:8%;
	margin:0px;
	padding:0px;
	border:0px;
	
	background-image:url("../images/project/project_title_edit.jpg");
	background-position:right;
	background-repeat:no-repeat;
	background-color:#5a5959;	

}


#project_title_edit_inactive{


	height:56px;
	width:100%;
	padding:0px;
	background-color:#5a5959;
	color:white;
	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:38px;
	float:left;
	
	background-image:url("../images/project/project_title_edit.jpg");
	background-position:right bottom;
	background-repeat:no-repeat;
	
	font-weight:bold;
	font-style:italic;
	
	-moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    -khtml-border-radius: 0px; 
    border-radius: 0px; 
	
	border:0px;
	text-indent:11px;
	line-height:56px;

}


.baseline_edit{

	color:#2a2a2a;
	background-color:#bdbdbd;
	font-size:15px;
	font-family : Tahoma, Verdana, Arial, Sans-serif;
	position:relative;
	width:100%;
	float:left;
	padding-top:5px;
	padding-bottom:5px;
	text-indent:10px;
	/*font-weight:bold;*/


	
}






/* ----------Project Body - EDITION ----------- */






/* ----------Project Body - VISUALISATION ----------- */