/* --Projects Cards-- */

#projects_list{

	position:relative;
	margin-top:35px;

}


.project_card{


	/*width:47%;*/
	margin-right:20px;
	margin-bottom:25px;
	float:left;
	position:relative;
	background-color:black;
	border:0px;
	padding:0px;
	border:0px;
	top:5px;
	text-align:right;
	
	width:137px;
	
	border:0px !important;
	
	-moz-box-shadow: 0px 0px 12px #181818; 
	-webkit-box-shadow: 0px 0px 12px #181818; 
	-opera-box-shadow: 0px 0px 12px #181818; 
	-box-shadow: 0px 0px 12px #181818; 
	box-shadow: 0px 0px 12px #181818; 
	
	
}


.project_card:hover{

	text-decoration:none;

}


.project_card .project-photo{

	position:relative;
	top:-5px;
	width:100%;
	height:71px;
	
	background-color:#BDBDBD;
	background-image:url("../images/project/no-picture.jpg");
	background-position:center center;
	background-repeat:no-repeat;

}


.project_card .project-photo img{

	width:100%;
	height:71px;

}

.project_card_type img{

	position:relative;
	width:100%;
	height:20px;

}

.project_card_status{

	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#7d3b09;
	padding-top:5px;
	padding-bottom:30px;
	font-style:normal;
	font-weight:normal;


}

.project_card_content{

	position:relative;
	padding-left:7px;
	margin-right:7px;
	margin-bottom:5px;
	height:125px;

}

.project_card_infos li{

	display:block;
	list-style-type:none;
	
	font-size:11px;
	color:#a4a4a3;
	text-decoration:none;
		
}


.project_card img, .project_card a{

	border:0px;
	padding:0px;
	
}


.project_infos{

	width:50%;	
	float:right;
	position:relative;
	height:234px;

}

.project_infos a{

	position:absolute;
	bottom:0px;

}



.project_infos_title{

	font-size:15px;
	font-family : Tahoma, Verdana, Arial, Sans-serif;
	font-weight:bold;
	font-style:normal;
	color:#c2c2c2;
	/*height:55px;*/
	
	position:absolute;
	bottom:0px;
	margin-bottom:15px;
	text-align:left;

}


.project_infos_location{

	font-size:11px;
	font-family : Tahoma, Verdana, Arial, Sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#848484;
	
	position:absolute;
	bottom:0px;
	text-align:left;



}

.project_infos_baseline{

	font-size:15px;
	font-family : Tahoma, Verdana, Arial, Sans-serif;
	font-weight:bold;
	font-style:normal;
	color:#c2c2c2;
	height:55px;

}

.project_infos_description{

	font-size:10px;
	margin-bottom:27px;

}

#pagination{

	position:relative;
	text-align:center;
	margin-bottom:30px;

}

.categories_project_page{

	position:relative !important;
	top:-73px;
	/*overflow:hidden;*/

}