body{
	
	background-color:black;
	padding:0px;
	margin:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	
}


.centreur{
	
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:977px;

	
}

.global{
	
}



@font-face {
	font-family: "Ma Georgia";
	font-weight: bold;
	font-style: italic;
	src: url('georgia.ttf');
}


h1{

	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:18px;
	
	font-weight:bold;
	font-style:italic;
	color:#c2c2c2;
	/*text-transform:lowercase;*/
	
	padding:0px;
	margin:0px;

}


a{

	text-decoration:none;
	border:0px;
	
}


a:hover{

	text-decoration:underline;
	
}

p{

padding:0px;
margin:0px;

}

img{

border:0px;

}


.separator{

	height:2px;
	background-image:url(../images/base/separator.jpg);
	background-repeat:repeat-x;
	position:relative;
	margin-top:15px;
	margin-bottom:15px;

}


.button{

	background-color:#eeeeee;
	border:1px solid #bdbdbd;
	position:relative;
	margin-left:15px;
	margin-right:15px;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	font-size:9px;
	font-family : Verdana, Arial, Sans-serif;
	font-weight:bold;
	color:#5a5959;
	text-shadow:1px 1px 0 #fff; 
	text-align:center;
	text-decoration:none;
	text-transform:none;
	font-style:normal;
	
	top:-2px;	
		
	-moz-box-shadow: 0px 0px 4px #a1a1a1;  
    -webkit-box-shadow: 0px 0px 4px #a1a1a1;  
    box-shadow: 0px 0px 4px #a1a1a1; 
	
	-moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    -khtml-border-radius: 4px; 
    border-radius: 4px; 
	
	behavior: url(border-radius.htc); 

}

.button, .redbutton{

	background-color:#eeeeee;
	border:1px solid #bdbdbd;
	position:relative;
	margin-left:15px;
	margin-right:15px;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	font-size:9px;
	font-family : Verdana, Arial, Sans-serif;
	font-weight:bold;
	color:#5a5959;
	text-shadow:1px 1px 0 #fff; 
	text-align:center;
	text-decoration:none;
	text-transform:none;
	font-style:normal;
	
	top:-2px;	
		
	-moz-box-shadow: 0px 0px 4px #a1a1a1;  
    -webkit-box-shadow: 0px 0px 4px #a1a1a1;  
    box-shadow: 0px 0px 4px #a1a1a1; 
	
	-moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    -khtml-border-radius: 4px; 
    border-radius: 4px; 
	
	behavior: url(border-radius.htc); 

}


.button:hover{

	color:#fff;
	text-decoration:none;
	text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
	background-position:0 -30px;
	background:url(../images/base/minibutton_blue.jpg);
	border:1px solid #2a65a0;	

}


.redbutton:hover{

	color:#fff;
	text-decoration:none;
	text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
	background-position:0 -30px;
	background:url(../images/base/minibutton_red.jpg);
	border:1px solid #2a65a0;	

}

/*
.button:hover{

	color:white;
	background-color:black;
	text-decoration:none;
	border:1px solid black;

}
*/


.close{

	font-family:Verdana,Arial,Sans-serif;
	font-size:9px;
	color:black;
	float:right;
	font-weight:bold;
	text-decoration:none;
	position:relative;
	padding-left:2px;
	padding-right:2px;
	top:4px;
	
	-moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
    -khtml-border-radius: 2px; 
    border-radius: 2px; 

}


.close:hover{

	color:white;	
	text-decoration:none;
	background-color:black;

}



/* --HEADER---------------------------------------------------------------------------------------------------- */

.header{
	
	width:100%;
	height:60px;
	padding:0px;
	margin:0px;
	
}

.logo{

	position:absolute;
	float:left;
	top:22px;
	left:-5px;

}


.header .linkbox{

	position:absolute;
	right:0px;
	padding-top:5px;
	font-size:11px;

}

.header .linkbox a{

	text-decoration:underline;
	margin-left:20px;

}

.header .linkbox a:hover{


}


.header .menu{

	position:relative;
	float:right;
	top:28px;
	
}



.menu a{

	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:18px;
	
	font-weight:bold;
	font-style:italic;
	text-transform:lowercase;

}

.header .menu a{

	margin-left:35px;

}

.header .menu a:hover{

	text-decoration:none;

}

ul{

	padding:0px;
	margin:0px;
	height:100%;

}

ul li{

	list-style-type:none;
	width:100%;
	display:inline;
	padding:0px;
	margin:0px;
	height:100%;

}



/* Categories-------------------------------------------------------------------------------------------------- */

.categories{

	width:100%;
	background-image:url(../images/base/menu-bg.png);
	height:37px;
	
	position:relative;
	top:-37px;
	
	padding:0px;
	margin:0px;
	background-repeat:repeat-x;

}

.categories .menu{
	


}

.categories .menu ul{


	padding-top:8px;
	position:relative;
	top:-8px;


}

.categories .menu ul li  .categ-button{

	position:relative;
	padding:0px;
	margin:0px;
	width:107px;
	height:35px;
	float:left;
	
	padding-top:8px;
	
	border-top:1px solid #676665;
	border-left:1px solid #676665;
	
	text-align:center;
	
}

.georgia{

	position:relative;
	
	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:17px;
	
	font-weight:bold;
	font-style:italic;
	text-transform:lowercase;
	


}

.categories .menu ul li  .categ-button span{

	float:left;

}

.menu a:hover {

	text-decoration:none;
	color:white;

}



.categories .menu ul li  .categ-button2{

	position:relative;
	padding:0px;
	margin:0px;
	width:230px;
	height:35px;
	float:left;
	
	padding-top:8px;
	
	border-top:1px solid #676665;
	border-left:1px solid #676665;
	border-right:1px solid #676665;
	
	text-align:center;
	
}


.categories .menu ul li a{

	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
	color:#979797;
	
	
}

.categories .menu ul  .selected a{

	
	position:absolute;
	width:109px;
	height:40px;
	top:-8px;
	left:-1px;
	
	padding-top:16px;
	z-index:100;	
	
	font-weight:bold;
	text-align:center;


}


.categories .menu ul li .categ-button a:hover{

	color:white;
	text-decoration:none;
	
	background-image:url(../images/base/menu-bg-hover.png);
	height:37px;

	position:relative;
	text-decoration:none;
	
	top:-9px;
	left:-1px;
	
	padding:0px;
	margin:0px;
	background-repeat:repeat-x;
	
	position:relative;
	padding:0px;
	margin:0px;
	width:107px;
	height:28px;
	float:left;
	
	padding-top:8px;
	
	border-top:1px solid #676665;
	border-left:1px solid #676665;
	
	text-align:center;


}


.categories .menu ul li .categ-button2 a:hover{

	color:white;
	text-decoration:none;
	
	background-image:url(../images/base/menu-bg-hover.png);
	height:37px;

	position:relative;
	
	top:-9px;
	left:-1px;
		
	padding:0px;
	margin:0px;
	background-repeat:repeat-x;
	
	position:relative;
	padding:0px;
	margin:0px;
	width:230px;
	height:35px;
	float:left;
	
	padding-top:8px;
	
	border-top:1px solid #676665;
	border-left:1px solid #676665;
	border-right:1px solid #676665;
	
	text-align:center;


}


/* -- Search -- */



.search{

	height:40px;
	position:relative;
	float:left;
	top:-1px;
	padding-left:5px;
}


.search form input[type="text"]{

	background-color:#211e1c;
	color:#646464;
	border:1px solid #646464;
	
	font-family:Arial,Helvetica,sans-serif;
	font-size:16px;
	
	text-indent:5px;
	
	width:220px;

	padding:1px;

}

.search form input[type="button"]{

	background-image:url(../images/base/search.jpg);
	height:23px;
	width:23px;
	background-repeat:no-repeat;
	border:0px;
	
	border-top:1px solid #646464;
	border-bottom:1px solid #646464;
	border-left:1px solid #646464;
	
	position:relative;
	left:4px;

}


/* -- Tools -- */


.toolbox{

	position:absolute;
	right:0px;
	height:74px;
	background-image:url(../images/base/tools-bg.png);
	float:left;
	width:156px;
	top:-38px;

}

.tools-title{

	position:relative;
	width:100%;
	height:20px;
	color:#929292;
	text-align:right;
	font-size:12px;
	padding-top:8px;
	left:-5px;

}

.tools img{

	border:0px;

}



/* Contenu global-------------------------------------------------------------------------------------------------- */




.nav{

	background-image:url(../images/base/teaser-nav-bg.jpg);
	width:100%;
	height:423px;
	background-color:black;
	
	padding:0px;
	margin:0px;
	
	/*background-repeat:no-repeat;*/
	
	background-position:center;
	background-color:#282828;

}


.content{

	position:relative;
	padding:0px;
	margin:0px;
	
	top:-37px;	
	
	padding-top:15px;
	padding-bottom:20px;
	

	

}

.block-content{

	position:relative;	
	width:100%;

}

.paging{

	/*background-image:url(../images/base/paging-bg.png);
	background-repeat:no-repeat;*/
	
	background-color:#292929;
	
	width:60px;
	padding-left:12px;
	margin-bottom:10px;
	height:23px;
	
	margin-left:auto;
	margin-right:auto;
	position:relative;
	
	-moz-opacity:0.5;
	opacity: 0.5;
	filter:alpha(opacity=50);
	
	-moz-border-radius: 15px;
	
}

.paging a img{

	border:0px;
		
}


.paging a{

	position:relative;
	top:5px;
	left:3px;
	
}

.colonne{

	/*width:32%;
	padding:5px;
	margin-right:3px;*/
	
	float:left;
	position:relative;
}


.edito{

	color:#9d9d9d;
	font-size:15px;
	
	margin-top:10px;
	margin-bottom:5px;
	

}

.colonne a{

	color:#04add1;
	
	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:12px;
	

	border-bottom:1px solid #1b5e6c;
	padding-top:5px;
	padding-bottom:3px;
	display:table;

	
	font-weight:bold;
	font-style:italic;
	text-transform:lowercase;


}

.colonne a:hover{

	color:#65e4ff;	

}


/* --Formulaires-- */



.newsletter{

	padding:3px;
	padding-left:10px;
	
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	
	background-image:url("../images/base/tools-bg.png");

}



.newsletter form{

	/*background-image:url("../images/base/form.jpg");
	background-position:0px -3px;
	background-repeat:no-repeat;*/

}


.newsletter form label{

	width:33%;
	display:inline-block;
	vertical-align:top;
	font-weight:bold;
	/*text-align:right;*/
	
	font-family:georgia;
	font-size:18px;
	font-style:italic;
	font-weight:bold;
	color:#04ADD1;
	
	margin-top:3px;
	margin-bottom:3px;
	margin-right:2px;


}


.newsletter form  .error_msg, .errorlist{

	color:white;
	position:absolute;
	top:45px;
	right:100px;
	font-style:italic;

}



#id_content{

	height:50px;
	width:64%;
	
	border:1px solid grey;
	-moz-border-radius:4px; 
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	
	color:white;
	background-color:#242424;
	font-size:11px;
	padding:4px;
	
	margin-top:3px;
	margin-bottom:3px;
	
	
	/*
	box-shadow: 0 0 6px #353535;
	-moz-box-shadow: 0 0 6px #353535;  
	-webkit-box-shadow: 0 0 6px #353535;  
	*/



}

#id_nom, #id_prenom, #id_mail, #id_subject/*,.content input*/{

	width:64%;
	
	border:1px solid grey;
	-moz-border-radius:4px; 
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	
	color:white;
	background-color:#242424;
	font-size:11px;
	height:12px;
	padding:4px;
	
	margin-top:3px;
	margin-bottom:3px;
	
	/*
	box-shadow: 0 0 6px #353535;
	-moz-box-shadow: 0 0 6px #353535;  
	-webkit-box-shadow: 0 0 6px #353535;  
	*/

}


.newsletter form button{

	float:right;
	position:relative;
	background-color:#121212;
	border:1px solid #3a3937;
	color:#04ADD1;
	font-size:16px;
	font-style:italic;
	font-weight:bold;
	
	height:25px;
	margin-top:8px;
	padding-bottom:3px;
	
	/*box-shadow: 0 0 6px #353535;
	-moz-box-shadow: 0 0 6px #353535;  
	-webkit-box-shadow: 0 0 6px #353535;  
	*/

}







/* --FOOTER---------------------------------------------------------------------------------------------------- */

.footer{
	
	width:100%;
	color:#393939;
	text-align:left;
	font-size:12px;
	height:12px;
	padding-top:10px;
	position:relative;
	top:-30px;	
	
	
	/*float:left;*/

}

.footer ul{

	margin-bottom:20px;

}

.footer a{

	color:#555555;
	text-decoration:underline;
	
	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:12px;
	
	margin-right:20px;
	
	font-weight:bold;
	font-style:italic;
	
}

.footer a:hover{

	color:white;
	
}

.social-networks{

	position:absolute;
	right:0px;

}


.social-networks a{

	padding:10px;
	background-color:#282828;
	margin-right:3px;
	
}

.social-networks img{

	border:0px;
	position:relative;
	top:4px;

}

