.header .linkbox .linkbox-login, .categories .menu, .paging, .social-networks{

	display:none;
	visibility:hidden;

}

.header .menu{

	position:relative;
	/*left:-120px;*/

}

.header .menu a{

	font-size:19px;

}


.langswitcher input, select {

	-moz-border-radius:4px 4px 4px 4px;
	-moz-box-shadow:0 0 6px #353535;
	background-color:#242424;
	border:1px solid grey;
	color:white;
	font-size:10px;
	font-variant:small-caps;
	height:25px;
	padding:3px;
	vertical-align:middle;
	
	top:22px;
	position:relative;
	
}

.nav-bg{

	position:relative;
	top:20px;

}

.catchy{

	position:relative;
	margin-top:50px;
	/*background-color:#282828;*/
	color:white;

}

.catchy h1{

	font-size:25px;
	/*background-color:#282828;*/

	
	-moz-text-shadow: 2px 2px black; 
	-webkit-text-shadow: 2px 2px #181818; 
	-opera-text-shadow: 2px 2px #181818; 
	-text-shadow: 2px 2px #181818; 
	text-shadow: 2px 2px #181818; 

}

.catchy  .edito{

	font-size:18px;
	/*background-color:#282828;*/
	padding-right:20px;
	
	-moz-text-shadow: 2px 2px black; 
	-webkit-text-shadow: 2px 2px #181818; 
	-opera-text-shadow: 2px 2px #181818; 
	-text-shadow: 2px 2px #181818; 
	text-shadow: 2px 2px #181818; 	

	text-align:justify;

}

.colonne h1{

	padding-right:10px;

}

.colonne .edito{

	position:relative;
	padding-top:5px;
	text-align:justify;	
	padding-right:10px;
	line-height:16px;


}

.manifesto-link{

	color:#04add1;
	
	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:18px;
	

	border-bottom:1px solid #1b5e6c;
	padding-top:5px;
	margin-right:15px;
	padding-bottom:3px;
	display:table;
	
	float:right;

	
	font-weight:bold;
	font-style:italic;
	
	-moz-text-shadow: 2px 2px black; 
	-webkit-text-shadow: 2px 2px #181818; 
	-opera-text-shadow: 2px 2px #181818; 
	-text-shadow: 2px 2px #181818; 
	text-shadow: 2px 2px #181818; 


}

.manifesto-link:hover{

	color:#65e4ff;

}

.colonne .edito{

	font-size:12px;

}



/* --- ^ ! TEMPORAIRE ! ^--- */


body{
	
	background-color:black;
	padding:0px;
	margin:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	
}

.centreur{
	
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:977px;

	
}

.global{
	
}



@font-face {
	font-family: "Ma Georgia";
	font-weight: bold;
	font-style: italic;
	src: url('georgia.ttf');
}


h1{

	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:18px;
	
	font-weight:bold;
	font-style:italic;
	color:#c2c2c2;
	/*text-transform:lowercase;*/
	
	padding:0px;
	margin:0px;

}


a{

	text-decoration:none;
	
}


a:hover{

	text-decoration:underline;
	
}

p{

padding:0px;
margin:0px;

}


.separator{

	height:2px;
	background-image:url(../images/base/separator.jpg);
	background-repeat:repeat-x;
	position:relative;
	margin-top:15px;
	margin-bottom:15px;

}


/* --HEADER---------------------------------------------------------------------------------------------------- */

.header{
	
	background-image:url(../images/base/header-bg.png);
	width:100%;
	color:black;
	height:60px;
	padding:0px;
	margin:0px;
	background-repeat:repeat-x;
	
}

.logo{

	position:relative;
	float:left;
	top:22px;
	left:-5px;

}


.header .linkbox{

	position:absolute;
	right:0px;
	padding-top:5px;
	font-size:11px;

}

.header .linkbox a{

	color:#595959;
	text-decoration:underline;
	margin-left:20px;

}

.header .linkbox a:hover{

	color:#7F7E7E;

}


.header .menu{

	position:relative;
	float:right;
	top:28px;
	
}



.menu a{

	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:18px;
	
	font-weight:bold;
	font-style:italic;
	color:#7f7e7e;
	text-transform:lowercase;

}

.header .menu a{

	margin-left:35px;

}

.header .menu a:hover{

	text-decoration:none;
	color:white;

}

ul{

	padding:0px;
	margin:0px;
	height:100%;

}

ul li{

	list-style-type:none;
	width:100%;
	display:inline;
	padding:0px;
	margin:0px;
	height:100%;

}



/* Categories-------------------------------------------------------------------------------------------------- */

.categories{

	width:100%;
	background-image:url(../images/base/menu-bg.png);
	height:37px;
	
	position:relative;
	top:-37px;
	
	padding:0px;
	margin:0px;
	background-repeat:repeat-x;

}

.categories .menu{
	


}

.categories .menu ul{


	padding-top:8px;
	position:relative;
	top:-8px;


}

.categories .menu ul li  .categ-button{

	position:relative;
	padding:0px;
	margin:0px;
	width:107px;
	height:35px;
	float:left;
	
	padding-top:8px;
	
	border-top:1px solid #676665;
	border-left:1px solid #676665;
	
	text-align:center;
	
}

.georgia{

	position:relative;
	
	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:17px;
	
	font-weight:bold;
	font-style:italic;
	text-transform:lowercase;
	


}

.categories .menu ul li  .categ-button span{

	float:left;

}

.menu a:hover {

	text-decoration:none;
	color:white;

}



.categories .menu ul li  .categ-button2{

	position:relative;
	padding:0px;
	margin:0px;
	width:230px;
	height:35px;
	float:left;
	
	padding-top:8px;
	
	border-top:1px solid #676665;
	border-left:1px solid #676665;
	border-right:1px solid #676665;
	
	text-align:center;
	
}


.categories .menu ul li a{

	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
	
	
}

.categories .menu ul  .selected a{

	background-image:url(../images/base/categories-selected.png);	
	
	position:absolute;
	width:109px;
	height:40px;
	top:-8px;
	left:-1px;
	
	padding-top:16px;
	z-index:100;	
	
	font-weight:bold;
	text-align:center;
	color:white;


}


.categories .menu ul li .categ-button a:hover{

	color:white;
	text-decoration:none;
	
	background-image:url(../images/base/menu-bg-hover.png);
	height:37px;

	position:relative;
	text-decoration:none;
	
	top:-9px;
	left:-1px;
	
	padding:0px;
	margin:0px;
	background-repeat:repeat-x;
	
	position:relative;
	padding:0px;
	margin:0px;
	width:107px;
	height:28px;
	float:left;
	
	padding-top:8px;
	
	border-top:1px solid #676665;
	border-left:1px solid #676665;
	
	text-align:center;


}


.categories .menu ul li .categ-button2 a:hover{

	color:white;
	text-decoration:none;
	
	background-image:url(../images/base/menu-bg-hover.png);
	height:37px;

	position:relative;
	
	top:-9px;
	left:-1px;
		
	padding:0px;
	margin:0px;
	background-repeat:repeat-x;
	
	position:relative;
	padding:0px;
	margin:0px;
	width:230px;
	height:35px;
	float:left;
	
	padding-top:8px;
	
	border-top:1px solid #676665;
	border-left:1px solid #676665;
	border-right:1px solid #676665;
	
	text-align:center;


}



/* -- Search -- */



.search{

	height:40px;
	position:relative;
	float:left;
	top:-1px;
	padding-left:5px;
}


.search form input[type="text"]{

	background-color:#211e1c;
	color:#646464;
	border:1px solid #646464;
	
	font-family:Arial,Helvetica,sans-serif;
	font-size:16px;
	
	text-indent:5px;
	
	width:220px;

	padding:1px;

}

.search form input[type="button"]{

	background-image:url(../images/base/search.jpg);
	height:23px;
	width:23px;
	background-repeat:no-repeat;
	border:0px;
	
	border-top:1px solid #646464;
	border-bottom:1px solid #646464;
	border-left:1px solid #646464;
	
	position:relative;
	left:4px;

}


/* -- Tools -- */


.toolbox{

	position:absolute;
	right:0px;
	height:74px;
	background-image:url(../images/base/tools-bg.png);
	float:left;
	width:156px;
	top:-38px;

}

.tools-title{

	position:relative;
	width:100%;
	height:20px;
	color:#929292;
	text-align:right;
	font-size:12px;
	padding-top:8px;
	left:-5px;

}

.tools img{

	border:0px;

}



/* Contenu global-------------------------------------------------------------------------------------------------- */




.nav{

	background-image:url(../images/base/teaser-nav-bg.jpg);
	width:100%;
	height:423px;
	background-color:black;
	
	padding:0px;
	margin:0px;
	
	/*background-repeat:no-repeat;*/
	
	background-position:center;
	background-color:#282828;

}


.content{

	background-image:url(../images/base/content-bg.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	background-color:#282828;

	position:relative;
	padding:0px;
	margin:0px;
	
	top:-37px;	
	
	padding-top:15px;
	padding-bottom:20px;
	
	color:#bdbdbd;
	

}

.block-content{

	position:relative;	
	width:100%;

}

.paging{

	/*background-image:url(../images/base/paging-bg.png);
	background-repeat:no-repeat;*/
	
	background-color:#292929;
	
	width:60px;
	padding-left:12px;
	margin-bottom:10px;
	height:23px;
	
	margin-left:auto;
	margin-right:auto;
	position:relative;
	
	-moz-opacity:0.5;
	opacity: 0.5;
	filter:alpha(opacity=50);
	
	-moz-border-radius: 15px;
	
}

.paging a img{

	border:0px;
		
}


.paging a{

	position:relative;
	top:5px;
	left:3px;
	
}

.colonne{

	/*width:32%;
	padding:5px;
	margin-right:3px;*/
	
	float:left;
	position:relative;
}


.edito{

	color:#9d9d9d;
	font-size:15px;
	
	margin-top:10px;
	margin-bottom:5px;
	

}

.colonne a{

	color:#04add1;
	
	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:12px;
	

	border-bottom:1px solid #1b5e6c;
	padding-top:5px;
	padding-bottom:3px;
	display:table;

	
	font-weight:bold;
	font-style:italic;
	text-transform:lowercase;


}

.colonne a:hover{

	color:#65e4ff;	

}



/* --Projects-- */


.project_card{


	/*width:47%;*/
	margin-right:20px;
	float:left;
	position:relative;
	background-color:black;
	border:0px;
	padding:0px;
	border:0px;
	top:5px;
	text-align:right;
	
	-moz-box-shadow: 0px 0px 12px #181818; 
	-webkit-box-shadow: 0px 0px 12px #181818; 
	-opera-box-shadow: 0px 0px 12px #181818; 
	-box-shadow: 0px 0px 12px #181818; 
	box-shadow: 0px 0px 12px #181818; 

	
	
	
}

.project_card .project-photo{

	position:relative;
	margin-bottom:20px;
	top:-5px;

}

.project_card_type{


	background-repeat:no-repeat;
	position:absolute;
	right:177px;
	width:100%;
	height:20px;
	top:80px;

}

.project_card_status{

	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#7d3b09;
	padding-top:5px;
	padding-bottom:30px;
	font-style:normal;
	font-weight:normal;


}

.project_card_content{

	position:relative;
	margin-right:5px;
	margin-bottom:5px;

}

.project_card_infos li{

	display:block;
	list-style-type:none;
	
	font-size:11px;
	color:#a4a4a3;
	text-decoration:none;
		
}


.project_card img, .project_card a{

	border:0px;
	padding:0px;
	
}


.project_infos{

	width:50%;	
	float:right;
	position:relative;
	height:227px;

}

.project_infos a{

	position:absolute;
	bottom:0px;

}



.project_infos_title{

	font-size:16px;
	font-family: Arial, Helvetic, sans-serif;
	font-weight:bold;
	margin-bottom:5px;

}

.project_infos_location{

	font-size:12px;
	font-family: Arial, Helvetic, sans-serif;
	font-weight:bold;
	margin-bottom:24px;
	color:#848484;


}

.project_infos_description{

	font-size:10px;
	margin-bottom:27px;

}


/* --Formulaires-- */



.newsletter{

	padding:3px;
	padding-left:10px;
	
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	
	background-image:url("../images/base/tools-bg.png");

}



.newsletter form{

	/*background-image:url("../images/base/form.jpg");
	background-position:0px -3px;
	background-repeat:no-repeat;*/

}


.newsletter form label{

	width:33%;
	display:inline-block;
	vertical-align:top;
	font-weight:bold;
	/*text-align:right;*/
	
	font-family:georgia;
	font-size:18px;
	font-style:italic;
	font-weight:bold;
	color:#04ADD1;
	
	margin-top:3px;
	margin-bottom:3px;
	margin-right:2px;


}


.newsletter form  .error_msg, .errorlist{

	color:white;
	position:absolute;
	top:45px;
	right:100px;
	font-style:italic;

}



#id_content{

	height:50px;
	width:64%;
	
	border:1px solid grey;
	-moz-border-radius:4px; 
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	
	color:white;
	background-color:#242424;
	font-size:11px;
	padding:4px;
	
	margin-top:3px;
	margin-bottom:3px;
	
	
	/*
	box-shadow: 0 0 6px #353535;
	-moz-box-shadow: 0 0 6px #353535;  
	-webkit-box-shadow: 0 0 6px #353535;  
	*/



}

#id_nom, #id_prenom, #id_mail, #id_subject,.content input{

	width:64%;
	
	border:1px solid grey;
	-moz-border-radius:4px; 
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	
	color:white;
	background-color:#242424;
	font-size:11px;
	height:12px;
	padding:4px;
	
	margin-top:3px;
	margin-bottom:3px;
	
	/*
	box-shadow: 0 0 6px #353535;
	-moz-box-shadow: 0 0 6px #353535;  
	-webkit-box-shadow: 0 0 6px #353535;  
	*/

}


.newsletter form button{

	float:right;
	position:relative;
	background-color:#121212;
	border:1px solid #3a3937;
	color:#04ADD1;
	font-size:16px;
	font-style:italic;
	font-weight:bold;
	
	height:25px;
	margin-top:8px;
	padding-bottom:3px;
	
	/*box-shadow: 0 0 6px #353535;
	-moz-box-shadow: 0 0 6px #353535;  
	-webkit-box-shadow: 0 0 6px #353535;  
	*/

}







/* --FOOTER---------------------------------------------------------------------------------------------------- */

.footer{
	
	width:100%;
	color:#393939;
	text-align:left;
	font-size:12px;
	height:12px;
	padding-top:10px;
	position:relative;
	top:-30px;	
	
	/*float:left;*/

}

.footer ul{

	margin-bottom:20px;

}

.footer a{

	color:#555555;
	text-decoration:underline;
	
	font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
	font-size:12px;
	
	margin-right:20px;
	
	font-weight:bold;
	font-style:italic;
	
}

.footer a:hover{

	color:white;
	
}

.social-networks{

	position:absolute;
	right:0px;

}


.social-networks a{

	padding:10px;
	background-color:#282828;
	margin-right:3px;
	
}

.social-networks img{

	border:0px;
	position:relative;
	top:4px;

}

