@import "mixin.scss";


#opened-sidebar, #opened-sidebar-team, #langage-tool ul li ul{
    visibility:hidden;
}

#langage-tool  ul li ul{
    display:none;
}



.content{
	background-color:white;	
	background-image:url(../images/base/white-page-content-bg.jpg);	
	background-repeat:repeat-y;	
	background-position:center;
	width:100%;	
}


/* --MENU------- */


.nav-white{
	background-image:url(../images/base/nav-white-bg.png);	
	height:181px;
	background-repeat:repeat-x;		
	width:100%;
	background-color:black;	
	padding:0px;
	margin:0px;	
	background-position:center;	
}


.categories .menu ul  .selected{
	background-image:url(../images/base/categories-selected-white.png)	!important;
	color:black !important;
    border:0px !important;	
}

.categories .menu ul li .categ-button .selected:hover{
    width:109px;
	height:40px;
	top:-16px;
	left:-1px;    
	padding-top:16px;
	z-index:5000;		
	font-weight:bold;
	text-align:center;    
    cursor:default;
}


.black_column{
	background-color:black;
	height:181px;
	position:relative;
}


/* --HEADER---------------------------------------------------------------------------------------------------- */

.header{	
	color:#4a4a4a;
	background-color:white;
}


.header .linkbox a{
	color:#595959;
}

.header .linkbox a:hover{
	color:#7F7E7E;
}


.menu a{
	color:#4a4a4a;
}

.header .menu a{


}

.header .menu a:hover{
	color:#BDBDBD;
}


/* --CONTENT---------------------------------------------------------------------------------------------------- */


.grey_column{
	position:relative;
}

.grey_column_content{
	padding-left:20px;
	padding-right:20px;
	color:#5a5959;
}

.title{
	background-color:white;
	position:relative;
	color:#4e4e4e;
    @include georgia(22px);
	text-transform:lowercase;
	margin-top:15px;
	margin-bottom:20px;
}

.grey_column  .title, .grey_column_open .title{
	padding:6px;
	padding-left: 60px;
	padding-right:20px;
	float:right;	
	right:-20px;
}

.grey_column_objective {
    clear: both;
}

.grey_column_open .title{
	right:-20px;
    padding-right:19px !important;
}
 
.grey_column_content .title .button{
    position: absolute;
    left: 2px;
    top: 10px !important;
}
 
.grey_column_content .title .button img{
	position:relative;
}
 
.grey_column_close,  .grey_column_save_close{
    padding:6px;
    padding-left:20px;
    padding-right:30px;
    float:left;
    position:relative;
    color:#4e4e4e;
    @include georgia(22px);
    background-repeat:no-repeat;	
    margin-top:15px;
}
 
 
.grey_column_close{
	background-image:url(../images/project/close-arrow.png);
	background-position:right;	
	left:-20px; 
 }
 
 
.grey_column_save_close{
	color:#119CBA;
	background-image:url(../images/project/close-arrow-right.png);	
	background-position:left;	
	float:right;
	right:-35px;
    border:0px; 
    background-color:transparent;
    cursor:pointer; 
 } 
  
.grey_column_close:hover{
    text-decoration:underline;
}


.grey_column_content h1{
	font-size:18px;	
	margin-bottom:20px;
	color:#5a5959;
	float:left;
}


.grey_column_content p, .grey_column_content p a{
	font-family : Tahoma, Verdana, Arial, Sans-serif;
	font-size:15px;	
	margin-top:5px;
	margin-bottom:5px;
	color:#5a5959;
	float:left;
	text-decoration:none;
}

.grey_column_content p a:hover{
	text-decoration:none;
	color:grey;
}

.grey_column_open{
	margin-left:20px;
	margin-right:20px;
	color:#5a5959;
	position:absolute;
	padding-bottom:20px;
	right:-19px;
	z-index:5000;
	background-color:#e4e4e4;
    height:auto !important;
}