body{
	
	background-color:black;
	padding:0px;
	margin:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	
}

.content{

	background-color:white;

}


/* --HEADER---------------------------------------------------------------------------------------------------- */

.header{
	
	/*background-image:url(../images/base/header-bg.png);*/
	/*background-repeat:repeat-x;*/
	color:#4a4a4a;
	background-color:white;
	
}


.header .linkbox a{

	color:#595959;


}

.header .linkbox a:hover{

	color:#7F7E7E;

}


.menu a{
	
	color:#4a4a4a;

}

.header .menu a{

	

}

.header .menu a:hover{

	color:#e4e4e4;

}



