@import "i4p/_mixins";
@import "i4p/_fonts";
@import "i4p/_constants";

.box {
	h2 {
		font-family: "OpenSans",Arial,Helvetica,sans-serif;
	    font-size: 1.6rem;
	    font-stretch: condensed;
	    text-transform: uppercase;
	    line-height:22px;
	}
}

.statsWidget {
	margin:25px 0 0 0;
}