{% extends "base_obsolete.html" %}
{% load i18n %}
{% load compress %}

{% block style %}
  {% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/black_page.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/partners.css" />
    {% endcompress %}
{% endblock %}

{% block nav %}<div style="height:37px;"></div>{% endblock %}

{% block content %}	  

<div class="content" id="partner_detail"> 
    <div class="container_18">
    
        <br /><br />
    
        <div class="grid_18 alpha omega title">
            <h1>{{ partner.name }}</h1>                            
            <a href="{{ partner.website }}" class="link">{{ partner.website }}</a>         
        </div>
        <br />
        <div class="separator"></div>

        <div class="grid_6 alpha">
            <img class="logo" src="{{ MEDIA_URL }}{{ partner.picture.original_image }}"/>
        </div>
        
        <div class="grid_12 omega description">
            {{ partner.description|safe|linebreaks }}
        </div>
        
        <div class="clear"></div>

        <div id="partner_projects">                
          <h2>{% trans 'Supported projects' %}</h2>
	    {% for project_translation in partner_projects %}
	    {% include "project_sheet/block/card_fancy_square.html" %}
	    {% empty %}
	    {% trans "No projects" %}
	    {% endfor %}
        </div>

        <div class="clear"></div>
        
    </div>
</div>
{% endblock %}



