body {
  background-color: #282828;
}

a:hover {
  text-decoration: none;
}

hr {
  border: 1px solid black !important;
  border-bottom: 1px solid #333333 !important;
  background-image: none;
}

/*---- HEADER ----*/
#blue_border {
  border-top: 3px solid #04add1;
  position: relative;
  z-index: 2000;
}

#header-zone {
  background-color: #171717;
}
#header-zone #header {
  height: 123px;
  position: relative;
}
#header-zone #header .logo {
  width: 217px;
  height: 70px;
  position: absolute;
  top: 25px;
}
#header-zone #header #menu {
  position: relative;
  float: right;
  top: 94px;
  margin-right: 210px;
}
#header-zone #header #menu a {
  font-family: "OpenSansSemibold", Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #c1c1c1;
  margin-left: 15px;
}
#header-zone #header #menu a:hover {
  text-decoration: none;
  color: white;
}

/*---- Search box ----*/
.search {
  float: left;
  background: url(../images/base/search_engine.jpg) no-repeat left 0;
  height: 22px;
}
.search input[type="text"] {
  font-family: "OpenSansItalic", Arial, Helvetica, sans-serif;
  font-style: italic;
  background-color: transparent;
  border: 0px solid #646464;
  color: #7F7E7E;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  height: 19px;
  padding: 1px;
  padding-left: 4px;
  text-indent: 0px;
  width: 155px;
}
.search input[type="submit"] {
  background-image: none;
  background-color: transparent;
  border: 0px;
  margin: 0px;
  width: 32px;
  float: right;
}

#header .search {
  position: absolute!important;
  bottom: 10px !important;
  right: 0px!important;
  padding: 0px!important;
}

/*---- VIDEO ----*/
#video-zone {
  height: 133px;
  background-color: #e8e8e8;
}

/*---- FOCUS ----*/
#focus-zone {
  background-image: url(../images/home/focus-bg.jpg);
}
#focus-zone #focus {
  background-color: black;
  color: #737373;
}

/*---- CONTENT ----*/
#content-zone #content {
  background: url(../images/home/content-bg.jpg) repeat-y right;
  padding: 15px 0px;
}
#content-zone #content #left_col {
  width: 685px;
  float: left;
  position: relative;
}
#content-zone #content #right_col {
  width: 245px;
  padding: 0px 10px;
  float: right;
  position: relative;
  color: #cdcdcd;
}
#content-zone #content #right_col span {
  font-family: "OpenSansItalic", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 11px;
}
#content-zone #content #right_col .homebox {
  margin: 10px 0px;
}
#content-zone #content #right_col .homebox h1 {
  font-family: "OpenSansCondensedBold", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 3px;
}
#content-zone #content #right_col .homebox hr {
  margin: 7px 0px;
}
