/*------------ GENERALS ------------*/
.categories {
  display: none;
  visibility: hidden;
}

.content a {
  color: #04add1;
}

/*------------ MESSAGES ------------*/
.usermessages_content h1.title {
  color: white;
  margin-top: 0px;
  text-transform: none;
  font-size: 17px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  -moz-box-shadow: 0px 0px 4px #181818;
  -webkit-box-shadow: 0px 0px 4px #181818;
  -o-box-shadow: 0px 0px 4px #181818;
  box-shadow: 0px 0px 4px #181818;
  background-image: url("../images/usermessages/my-messages-title.jpg");
  background-color: transparent !important;
  background-repeat: no-repeat;
  padding-right: 35px;
  height: 22px;
}
.usermessages_content h1.title:hover {
  text-decoration: underline;
}
.usermessages_content .title_bar {
  display: block;
  background-color: #686868;
  padding-right: 10px;
  width: 100%;
  height: 32px;
  margin-bottom: 20px;
  -moz-box-shadow: 0px 0px 4px #181818;
  -webkit-box-shadow: 0px 0px 4px #181818;
  -o-box-shadow: 0px 0px 4px #181818;
  box-shadow: 0px 0px 4px #181818;
}
.usermessages_content .title_bar a.new_message {
  height: 32px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: url("../images/usermessages/new_message.jpg");
  background-repeat: no-repeat;
  color: white;
  padding-left: 50px;
  padding-right: 30px;
  position: absolute;
  top: 0px;
  font-family: Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
}
.usermessages_content .title_bar a.new_message:hover {
  text-decoration: underline;
}
.usermessages_content .title_bar div.mail_nav {
  position: absolute;
  right: -4px;
  top: 6px;
}
.usermessages_content a:hover {
  text-decoration: none;
}
.usermessages_content .nb_messages {
  background-color: #2b2b2b;
  padding: 4px;
  color: white;
  text-transform: uppercase;
}
.usermessages_content .nb_messages strong {
  background-color: #04add1;
  padding-left: 3px;
  padding-right: 3px;
  color: white;
}
.usermessages_content .nb_messages em {
  background-color: grey;
  padding-left: 3px;
  padding-right: 3px;
  color: white;
  font-style: normal;
}
.usermessages_content #usermessage_list .usermessage {
  width: 100%;
  min-height: 107px;
  float: left;
  padding: 5px;
  margin-bottom: 10px;
  background-image: url("../images/usermessages/message-bg-see.jpg");
  position: relative;
  color: white;
}
.usermessages_content #usermessage_list .usermessage em {
  color: white;
  font-size: 10px;
}
.usermessages_content #usermessage_list .usermessage h1 {
  text-decoration: underline;
  margin-top: 4px;
  font-size: 14px;
}
.usermessages_content #usermessage_list .usermessage a {
  color: white;
}
.usermessages_content #usermessage_list .usermessage a:hover {
  text-decoration: none;
}
.usermessages_content #usermessage_list .usermessage p {
  color: grey;
}
.usermessages_content #usermessage_list .usermessage .avatar {
  width: 127px;
  height: 117px;
  background-image: url("../images/usermessages/avatar-bg.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
}
.usermessages_content #usermessage_list .usermessage .avatar img {
  width: 105px;
  height: 105px;
  margin: 6px;
}
.usermessages_content #usermessage_list .usermessage .usermessage_body {
  margin-left: 135px;
  color: grey;
}
.usermessages_content #usermessage_list .usermessage .message_actions {
  position: absolute;
  right: 5px;
  top: 5px;
}
.usermessages_content #usermessage_list .usermessage .message_actions .nb_news {
  background-color: #04add1;
  padding: 2px 6px 2px 6px;
  text-align: center;
  font-family: Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  color: white;
  float: left;
  margin-right: 5px;
}
.usermessages_content #usermessage_list .usermessage .message_actions form#delete_message {
  float: left;
}
.usermessages_content #usermessage_list .usermessage .message_actions form#delete_message input[type=image] {
  background-color: #595959;
  border: 0px;
  padding-top: 1px;
}
.usermessages_content #usermessage_list .usermessage:hover {
  background-image: url("../images/usermessages/message-bg-see-over.png");
}
.usermessages_content #usermessage_list .usermessage.unsee {
  background-image: url("../images/usermessages/message-bg-unsee.jpg");
  color: black;
}
.usermessages_content #usermessage_list .usermessage.unsee em {
  color: black;
}
.usermessages_content #usermessage_list .usermessage.unsee a {
  color: black;
}
.usermessages_content #usermessage_list .usermessage.unsee p {
  color: black;
}
.usermessages_content #usermessage_list .usermessage.unsee .avatar {
  background-image: url("../images/usermessages/avatar-bg2.png");
}
.usermessages_content #usermessage_list #usermessage_compose {
  background-image: none;
  padding: 0px;
  position: relative;
}
.usermessages_content #usermessage_list #usermessage_compose .avatar {
  display: none;
  visibility: hidden;
}
.usermessages_content #usermessage_list #usermessage_compose p {
  width: 628px !important;
}
.usermessages_content #usermessage_list #usermessage_compose p textarea {
  padding: 5px;
  height: 100px;
}
.usermessages_content #usermessage_list #usermessage_compose input[type=submit] {
  left: 10px;
  position: relative;
  cursor: pointer;
}
.usermessages_content #usermessage_compose {
  width: 100%;
  float: left;
  padding: 5px;
  margin-bottom: 10px;
  background-image: url("../images/usermessages/message-bg-see.jpg");
  position: relative;
  color: white;
}
.usermessages_content #usermessage_compose form {
  margin-left: 135px;
}
.usermessages_content #usermessage_compose form p {
  float: left;
  margin-bottom: 5px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: white;
}
.usermessages_content #usermessage_compose form p label {
  position: relative;
  color: #403f3d;
  color: grey;
  float: left;
  padding: 3px;
  background-color: white;
}
.usermessages_content #usermessage_compose form p input[type=text] {
  padding-left: 45px;
  width: 100%;
  position: absolute;
  border: 1px solid white;
  border-left: 0px;
  padding: 3px;
  padding-top: 1px;
  line-height: 10px;
}
.usermessages_content #usermessage_compose form p textarea {
  width: 624px;
  border: 1px solid white;
}
.usermessages_content #usermessage_compose form p.help, .usermessages_content #usermessage_compose form .helptext, .usermessages_content #usermessage_compose form label[for=id_body] {
  display: none;
  visibility: hidden;
}
.usermessages_content #usermessage_compose form input[type=submit] {
  float: right;
  background-color: #6b6b6b;
  border: 0px;
  margin-right: 2px;
  font-family: Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  color: white;
  padding: 2px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  right: -2px;
}
.usermessages_content #usermessage_compose form input[type=submit]:hover {
  background-color: grey;
}
.usermessages_content #usermessage_compose form #id_to_on_deck > div > div {
  margin-left: 45px;
}
.usermessages_content #usermessage_compose .avatar {
  width: 127px;
  height: 117px;
  background-image: url("../images/usermessages/avatar-bg.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
}
.usermessages_content #usermessage_compose .avatar img {
  width: 97px;
  height: 97px;
  margin: 10px;
}

.ui-icon {
  background-image: url("../images/ui-icons_222222_256x240-white.png") !important;
  position: absolute;
  right: 5px;
  z-index: 200;
}

.results_on_deck {
  clear: both;
}

.ui-autocomplete {
  width: 500px !important;
}
