/* --Workgroups------- */
.content {
  background-image: none;
  background-color: white;
  color: black;
}

.separator {
  background-image: none;
  border-bottom: 1px solid #c2c2c2;
}

#workgroups_list li {
  background-color: white;
  width: 290px;
  height: 200px;
  padding: 8px;
  float: left;
  -moz-box-shadow: 0px 0px 8px black;
  -webkit-box-shadow: 0px 0px 8px black;
  -o-box-shadow: 0px 0px 8px black;
  box-shadow: 0px 0px 8px black;
  behavior: url(static/js/pie/PIE.htc);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  background-image: url("../images/workgroups/workgroup_bulles.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
}
#workgroups_list li .link {
  font-size: 17px;
}
#workgroups_list li img {
  position: absolute;
  right: 10px;
  top: 10px;
}
#workgroups_list li span a {
  color: #7f7d7d;
  text-decoration: none;
}
#workgroups_list li span a:hover {
  color: #ab9c9c;
}

#workgroup_detail {
  position: relative;
  /*
  background-image:none;
  background-color:white;
  */
  background-image: url("../images/workgroups/workgroup_bulles.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
}
#workgroup_detail h1 a {
  font-size: 18px;
}
#workgroup_detail .language {
  position: absolute;
  right: 10px;
  top: 35px;
}
#workgroup_detail a {
  color: #04add1;
  font-family: Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
#workgroup_detail .workgroup_desc {
  color: #333333;
  font-size: 11px;
}
#workgroup_detail h3 {
  float: left;
  display: block;
  margin: 0px;
}
#workgroup_detail ul li img {
  border: 1px solid #F1E4D3;
  -moz-box-shadow: 0px 0px 6px black;
  -webkit-box-shadow: 0px 0px 6px black;
  -o-box-shadow: 0px 0px 6px black;
  box-shadow: 0px 0px 6px black;
  behavior: url(static/js/pie/PIE.htc);
  margin-left: 3px;
  margin-right: 3px;
}
#workgroup_detail .button {
  color: #fff;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  background-position: 0 -30px;
  background: url(../images/base/minibutton_blue.jpg);
  border: 1px solid #2a65a0;
  padding: 3px 7px 3px 7px;
  float: right;
  top: -18px;
  right: -8px;
}
#workgroup_detail .button:hover {
  color: #5a5959;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  background-color: #eeeeee;
  border: 1px solid #bdbdbd;
  background-image: none;
}
