{% extends "base.html" %}

{% comment %}

form : criterion form
page : pagination object

{% endcomment %}


{% load compress %}
{% load i18n %}
{% load word_boundary_aware_truncate_chars %}
{% load sekizai_tags %}


{% block content %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/i4p_base/search.css" />
{% endaddtoblock %}
{% addtoblock "js"%}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.history.js"></script>
{% endaddtoblock %}
{% addtoblock "js"%}
<script type="text/javascript" src="{{ STATIC_URL }}js/search_filter.js"></script>
{% endaddtoblock %}


{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/i4p_base/search.js"></script>
{% endaddtoblock %}

<section id="search-block">
    <form id="search_form" method="get" action="{% url i4p-search %}">
        <label for="{{ form.q.name }}">Rechercher des projets inspirants, des groupes de travail, des membres, des besoins...</label>
        <input type="text" id="{{ form.q.name }}" name="{{ form.q.name }}" placeholder="Entrez votre recherche ..." value="{{ form.q.value|default:"" }}"/>
        <button type="submit"><span>Rechercher</span></button>
    
</section>

<nav id="categories">
    <ul>
        <li id="projects"><a href="#"><span>Projets ({{ page.paginator.count }})</span></a></li>
      {% comment %}<li id="all" class="active"><a href="#"><span>Tous (298)</span></a></li>
        <li id="needs"><a href="#"><span>Besoins (10)</span></a></li>
        <li id="groups"><a href="#"><span>Groupes (16)</span></a></li>
        <li id="members"><a href="#"><span>Membres (12)</span></a></li>
        <li id="discussions"><a href="#"><span>Discussions (40)</span></a></li>
	{% endcomment %}
    </ul>
</nav>

<div id="wrap-content-panel">
    <div id="content-panel">
        <div id="col">
            <header>
                <a class="active" id="discover-button" href="#"><span>Découvrir</span></a>
                <span class="hidden">|</span>
                <a id="filter-button" href="#"><span>Filtrer</span></a>
            </header>

           {% comment %} <form method="post" action="#">{% endcomment %}
                <section id="more-search">
                    <div class="inner">
                        <a href="#" title="Switch to filter panel" class="switch">Switch</a>
                        <h1>Affiner<br /> votre recherche</h1>
                        <div id="tags-list">
                            <p><strong>Recherche actuelle</strong> <a href="#">Tout effacer</a></p>
                            <ul>
                                <li><a href="#">Coworking</a></li>
                                <li><a href="#">Télétravail</a></li>
                            </ul>
                        </div>
                            <input type="text" id="tag-search" name="tag-search" placeholder="Entrez un mot clé, un thème..." />
    			{% comment %}
                            <input type="checkbox" id="check-interest" name="check-interest" />
                            <label for="check-interest">Mes centres d'intêret</label>
    			{% endcomment %}
                    </div>
                </section>

                <section id="languages">
                    <header>
                        <h1>Langue(s)</h1>
                        <a href="#" title="refresh">Refresh</a>
                    </header>
                    <div class="inner">
                        <a href="#" class="select">Sélectionnez vos langues</a>
                        <ul class="selected">
                            <li><a href="#"><span>FR</span> Français</a></li>
                            <li><a href="#"><span>ENG</span> Anglais</a></li>
                        </ul>
                    </div>

                </section>

                <section id="localisations">
                    <header>
                        <h1>Localisation(s)</h1>
                        <a href="#" title="refresh">Refresh</a>
                    </header>
                    <div class="inner">
                        <a href="#" class="select">Sélectionnez un pays</a>
                        <ul class="selected">
                            <li><a href="#"><img src="../../../static/images/flags/ae.gif" alt="FR" /> France</a></li>
                            <li><a href="#"><img src="../../../static/images/flags/ae.gif" alt="CAN" /> Canada</a></li>
                             

                        </ul>
                    </div>
                </section>

                <section id="project-state">
                    <header>
                        <h1>Statut du projet</h1>
                        <a href="#" title="refresh">Refresh</a>
                    </header>
                    <div class="inner">
                        <p class="progressbar progressbar-wip"><span>Projet mature</span></p>
                    </div>
                </section>

                <section id="card-state">
                    <header>
                        <h1>État de la fiche</h1>
                        <a href="#" title="refresh">Refresh</a>
                    </header>
                    <div class="inner">
                            <ul>
                                <li class="bestof">{{form.best_of}}<label for="">Best-of</label></li>
                                <li class="users">{{form.has_team}}<label for="">Porteur(s) associé(s)</label></li>
                                {% comment %}<li class="inprogress"><input type="checkbox" /><label for="">En cours de rédaction</label></li>
                                <li class="discussions"><input type="checkbox" /><label for="">Discussion(s)</label></li>
                                <li class="needs"><input type="checkbox" /><label for="">Besoin(s)</label></li>
                                {% endcomment %}
                            </ul>
                    </div>
                </section>
            </form>
        </div>

        <div id="main">
            {% include "project_sheet/block/project_card_list.html" with project_list=project_list %}
        </div>
    </div>
</div>
{% endblock %}

