/* =============================================================================
                                    WIDGETS
============================================================================== */
/* ----- Sidebar Widgets Box, check main_page/sidebar.html or question/sidebar.html ----- */
.box {
    position:relative;
    margin-bottom:20px;
  /* widgets for question template */

  /* notify by email box */

}
/*.box p {
  margin-bottom: 4px;
  color: #707070;
  font-family: 'Open Sans Condensed', Arial, sans-serif;
}*/
.box p.info-box-follow-up-links {
  text-align: right;
  margin: 0;
}
.box h2 {
  padding-left: 0;
  text-transform:uppercase;
  font-size: 16px;
  font-weight: normal;
  color: #242424;
  padding-right: 10px;
  margin-bottom: 10px;
  font-family: 'Open Sans Condensed', Arial, sans-serif !important;
  background: none;
}
.box h3 {
  color: #4a757f;
  font-size: 18px;
  text-align: left;
  font-weight: normal;
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  padding-left: 0px;
}

.box label {
  color: #242424;
  font-size: 12px;
  vertical-align: bottom;
  display: inline;
  text-align: left;
    font-family: 'OpenSans', Arial, sans-serif;
}
.box #displayTagFilterControl label,
.box #emailTagFilterControl label {
  /*Especial width just for the tag filter boxes in index page*/

}
/*.box ul {
  margin-left: 22px;
}
.box li {
  list-style-type: disc;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #707070;
}*/
/*.box ul.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 170%;
  display: block;
}*/

/*.box .inputs #interestingTagInput,
.box .inputs #ignoredTagInput,
.box .inputs #subscribedTagInput,
.box .inputs #ab-tag-search {
  border: #c9c9b5 1px solid;
  height: 25px;
  width: 140px;
  margin-bottom: 0px;
}*/
.box .inputs #ab-tag-search {
  width: 138px;
}
/*.box .inputs #interestingTagAdd,
.box .inputs #ignoredTagAdd,*/
.box .inputs #subscribedTagAdd,
.box .inputs #ab-tag-search-add {
  border: 0;
  font-weight: bold;
  margin-top: -2px;
  height: 27px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #4a757f;
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  text-shadow: 0px 1px 0px #c6d9dd;
  -moz-text-shadow: 0px 1px 0px #c6d9dd;
  -webkit-text-shadow: 0px 1px 0px #c6d9dd;
  border-top: #eaf2f3 1px solid;
  background-color: #d1e2e5;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d1e2e5), color-stop(25%, #d1e2e5), to(#a9c2c7));
  background-image: -webkit-linear-gradient(#d1e2e5, #d1e2e5 25%, #a9c2c7);
  background-image: -moz-linear-gradient(top, #d1e2e5, #d1e2e5 25%, #a9c2c7);
  background-image: -ms-linear-gradient(#d1e2e5, #d1e2e5 25%, #a9c2c7);
  background-image: -o-linear-gradient(#d1e2e5, #d1e2e5 25%, #a9c2c7);
  background-image: linear-gradient(#d1e2e5, #d1e2e5 25%, #a9c2c7);
  border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-box-shadow: 1px 1px 2px #636363;
  -moz-box-shadow: 1px 1px 2px #636363;
  box-shadow: 1px 1px 2px #636363;
  border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  margin-left: 1px;
}
/*.box .inputs #interestingTagAdd:hover,
.box .inputs #ignoredTagAdd:hover,*/
.box .inputs #ab-tag-search-add:hover {
  background-color: #cde5e9;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cde5e9), color-stop(25%, #cde5e9), to(#94b3ba));
  background-image: -webkit-linear-gradient(#cde5e9, #cde5e9 25%, #94b3ba);
  background-image: -moz-linear-gradient(top, #cde5e9, #cde5e9 25%, #94b3ba);
  background-image: -ms-linear-gradient(#cde5e9, #cde5e9 25%, #94b3ba);
  background-image: -o-linear-gradient(#cde5e9, #cde5e9 25%, #94b3ba);
  background-image: linear-gradient(#cde5e9, #cde5e9 25%, #94b3ba);
  text-decoration: none;
  text-shadow: 0px 1px 0px #c6d9dd;
  -moz-text-shadow: 0px 1px 0px #c6d9dd;
  -webkit-text-shadow: 0px 1px 0px #c6d9dd;
}
.box .inputs #ab-tag-search-add {
  width: 47px;
}
.box img.gravatar {
  margin: 1px;
}
.box .favorite-number {
  padding: 5px 0 0 5px;
  font-size: 100%;
  font-family: Arial;
  font-weight: bold;
  color: white;
  text-align: center;
}

.users-page .box label {
  display: inline;
  float: none;
}

.questions-related {
  word-wrap: break-word;
}
.questions-related p {
  line-height: 20px;
  padding: 4px 0px 4px 0px;
  font-size: 16px;
  font-weight: normal;
  border-bottom: #cccccc 1px solid;
}
.questions-related p:first-child {
  margin-top: -4px;
}
.questions-related p:last-child {
  border: none;
}
.questions-related a {
  font-size: 13px;
  line-height: 1.3;
}

/*++++++++++++ BOX TIPS & BOX MARKDOWN HELP ++++++++++++++*/

div#tips h2{
    line-height:15px;
    margin-bottom:3px;
}

div#tips ul{
    position:relative;
    background-color:#242424;
    -webkit-border-radius: 4px;    
    border-radius: 4px;
    padding:15px;
    }
    
div#tips li {
    padding-left:25px;
    padding-bottom:15px;
    background: url(../images/widget_tips/picto_ampoule.png) no-repeat;
}

div#tips ul li.pointe_cadre{
    position:absolute;
    top:7px;
    left:-7px;
    width:7px;
    height:15px;
    padding-left:25px;
    padding-bottom:15px;
    background: url(../images/widget_tips/pointe_cadre.png) no-repeat;}

div#tips li p{
    font-size:12px;
    color:#ffffff;
}


div#markdownHelp h2{
    line-height:15px;
    margin-bottom:3px;
}

div#markdownHelp ul{
    background-color:#242424;
    -webkit-border-radius: 4px;    
    border-radius: 4px;
    padding:15px;
    }
        
div#markdownHelp ul li {
    padding-left:25px;
    padding-bottom:15px;
    background: url(../images/widget_markdown_help/puce.png) 3px 4px no-repeat;
}

div#markdownHelp li p{
    font-size:12px;
    color:#ffffff;
}


/*++++++++++++ FIN BOX TIPS & BOX MARKDOWN HELP ++++++++++++++*/




/*++++++++++++ BOX CONTRIBUTORS ++++++++++++++*/
div#contrib-users h2 {
  padding-left:29px;
  background:  url(../images/widget_contributors/picto_contributors.png) 0px 7px no-repeat;
}

div#contrib-users a.voir_tout{
    display:block;
    position:absolute;
    right:0;
    top:8px;
    line-height:normal;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size:11px;
    color:#242424;
    padding-right:15px;
  background:  url(../images/widget_contributors/chevron_droit.png) right 3px no-repeat;}
/*++++++++++++ FIN BOX CONTRIBUTORS ++++++++++++++*/


/*++++++++++++ BOX TAG SELECTOR ++++++++++++++*/
div#tagSelector h2 {
  padding-left:21px;
  background:  url(../images/widget_tag_selector/picto_tag.png) 0px 7px no-repeat;
}

div#tagSelector h3 {
  font-family: 'OpenSans', Arial, sans-serif;text-transform:uppercase;
  font-size: 12px;
  text-transform:uppercase;
  font-weight: bold;
  color: #706f6f;
  margin-bottom:10px;
}

div#tagSelector div.inputs {
  clear: both;
  float: none;
  margin-bottom: 10px;
}

div#tagSelector ul.taglist{
    zoom:1;
    margin-bottom:10px;}
div#tagSelector ul.taglist:after {  
    content: "";
    display: block;
    clear: both;}

div#tagSelector ul.taglist li{
    zoom:1;
    float:left;
    margin-right:4px;
    margin-bottom:4px;
    padding-left:7px;
    padding-right:7px;
    padding-top:2px;
    padding-bottom:3px;
    background-color:#dedede;
    -webkit-border-radius: 6px;    
    border-radius: 6px;}
div#tagSelector ul.taglist li:after {   
    content: "";
    display: block;
    clear: both;}

div#tagSelector ul.taglist li a{
    float:left;
    font-size:12px;
    font-style:italic;
    font-weight:bold;
    color:#8f8f8f;
    padding-right:7px;}

div#tagSelector ul.taglist li span.delete-icon{
    float:right;
    display:block;
    text-indent:-5000px;
    width:9px;
    height:9px;
    margin-top:4px;
    background:  url(../images/widget_tag_selector/croix.png) left top no-repeat;
    cursor:pointer;
    }
div#tagSelector ul.taglist li div.delete-icon:hover{
    background:  url(../images/widget_tag_selector/croix.png) left bottom no-repeat;
    }
    
div#tagSelector div.inputs {
    zoom:1;}
div#tagSelector div.inputs:after {  
    content: "";
    display: block;
    clear: both;}

div#tagSelector div.inputs input[type=text]{
    float:left;
    border:1px solid #8b8b8b;
    -webkit-border-radius: 3px;    
    border-radius: 3px;
    width:185px;
}

div#tagSelector div.inputs input[type=submit]{
    float:left;
    color:#ffffff;
    font-family: 'OpenSans', Arial, sans-serif;text-transform:uppercase;
    font-size: 20px;
    line-height:20px;
    margin-top:-1px;
    margin-left:5px;
    font-weight:bold;
    border:3px solid #c7e4ea;
    -webkit-border-radius: 5px;    
    border-radius: 5px;
    background: rgb(74,186,233);
    background: -moz-linear-gradient(top,  rgba(74,186,233,1) 0%, rgba(57,144,180,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(74,186,233,1)), color-stop(100%,rgba(57,144,180,1)));
    background: -webkit-linear-gradient(top,  rgba(74,186,233,1) 0%,rgba(57,144,180,1) 100%);
    background: -o-linear-gradient(top,  rgba(74,186,233,1) 0%,rgba(57,144,180,1) 100%);
    background: -ms-linear-gradient(top,  rgba(74,186,233,1) 0%,rgba(57,144,180,1) 100%);
    background: linear-gradient(to bottom,  rgba(74,186,233,1) 0%,rgba(57,144,180,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4abae9', endColorstr='#3990b4',GradientType=0 );
}

div#tagSelector div.inputs input[type=submit]:hover{
    background: rgb(57,144,180);
    background: -moz-linear-gradient(top,  rgba(57,144,180,1) 0%, rgba(74,186,233,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(57,144,180,1)), color-stop(100%,rgba(74,186,233,1)));
    background: -webkit-linear-gradient(top,  rgba(57,144,180,1) 0%,rgba(74,186,233,1) 100%);
    background: -o-linear-gradient(top,  rgba(57,144,180,1) 0%,rgba(74,186,233,1) 100%);
    background: -ms-linear-gradient(top,  rgba(57,144,180,1) 0%,rgba(74,186,233,1) 100%);
    background: linear-gradient(to bottom,  rgba(57,144,180,1) 0%,rgba(74,186,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3990b4', endColorstr='#4abae9',GradientType=0 );
}

div#tagSelector div#displayTagFilterControl p label {
  color: #707070;
  font-size: 12px;
}
/*++++++++++++ FIN BOX TAG SELECTOR ++++++++++++++*/




/*++++++++++++ BOX AUTHOR AND FOLLOW QUESTION ++++++++++++++*/
div.author_and_follow_question{
    position:relative;
    padding:15px;
    background-color:#04add1;
    }
div.author_and_follow_question h2{    
    line-height: 15px;
    margin-bottom: 3px;}


div.author_and_follow_question div.arrow{
    position:absolute;
    top:15px;
    left:-7px;
    width:7px;
    height:16px;
    background:  url(../images/widget_author/arrow_author_box.png) no-repeat;}
    
div.author_and_follow_question div.author_info_question{
    position:relative;
    zoom:1;
    padding-bottom:15px;
    min-height:48px;
    height:auto !important;
    height:48px;}
div.author_and_follow_question div.author_info_question:after { 
    content: "";
    display: block;
    clear: both;}
    
div.author_and_follow_question div.author_info_question img.gravatar{
    position:absolute;
    -webkit-border-radius: 4px;    
    border-radius: 4px;}    

div.author_and_follow_question div.avatar_author_date p{
    padding-left:60px;
    color:#ffffff;
    font-style:italic;}
    
div.author_and_follow_question div.avatar_author_date p a{
    font-weight:bold;
    font-style:normal;}

div.author_and_follow_question div.avatar_author_date .timeago{
    font-weight:normal;}
        
div.author_and_follow_question div.author_info_question div.wrapper_country_badges{
    zoom:1;
    padding-left:60px;padding-top:5px;}
div.author_and_follow_question div.author_info_question div.wrapper_country_badges:after {  
    content: "";
    display: block;
    clear: both;}
    
div.author_and_follow_question div.author_info_question a{
    color:#ffffff;
    font-style:italic;}

div.author_and_follow_question div.author_info_question div.wrapper_country_badges img{
    float:left;
    padding-right:5px;
    padding-top:2px;}

div.author_and_follow_question div.author_info_question div.wrapper_country_badges p{
    float:left;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size:10px;
    color:#ffffff;
    font-style:italic;}

div.author_and_follow_question div.author_info_question div.wrapper_country_badges ul{
    zoom:1;
    float:left;}
div.author_and_follow_question div.author_info_question div.wrapper_country_badges ul:after {   
    content: "";
    display: block;
    clear: both;}

div.author_and_follow_question div.author_info_question div.wrapper_country_badges ul li{
    float:left;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size:10px;
    color:#ffffff;
    padding-right:14px;
    margin-left:10px
    }

div.author_info_question div.wrapper_country_badges ul li.gold_badge{   
    background:  url(../images/widget_author/badges.png) right 3px  no-repeat;}
div.author_info_question div.wrapper_country_badges ul li.silver_badge{ 
    background:  url(../images/widget_author/badges.png) right -47px  no-repeat;}
div.author_info_question div.wrapper_country_badges ul li.bronze_badge{ 
    background:  url(../images/widget_author/badges.png) right -97px no-repeat;}


    /*--- Follow the question ---*/
div.author_and_follow_question a.followed{  
    float:none;
    display:block;  
    text-transform:uppercase;
    font-family: 'OpenSans', Arial, sans-serif;
    padding:0;margin:0;
    padding:5px;
    padding-right:10px;
    padding-left:10px;
    font-weight:bold;   
    font-size:11px;
    -webkit-border-radius: 5px;    
    border-radius: 5px;
    border:3px solid #3cc8e6;
    box-shadow:none;
    text-shadow:none;
    height:auto;
    text-align: center;
    background: rgb(254,254,254);
    background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(231,231,231,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(231,231,231,1)));
    background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(231,231,231,1) 100%);
    background: -o-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(231,231,231,1) 100%);
    background: -ms-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(231,231,231,1) 100%);
    background: linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(231,231,231,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e7e7e7',GradientType=0 );
    color:#3A92B6;}
    
div.author_and_follow_question a.followed .unfollow{
    font-size: 9px;
}

div.author_and_follow_question div.notify-sidebar label {
    font-family: 'OpenSans', Arial, sans-serif;
    font-size:12px;
    color:#ffffff; 
}

div.author_and_follow_question div.notify-sidebar p.rss{
    padding-left:25px;
    padding-top:5px;
    margin-top:10px;
    background:  url(../images/widget_author/rss.png) 4px 4px no-repeat;}
div.author_and_follow_question div.notify-sidebar p a{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size:12px;
    color:#ffffff; }
    
    
    /*--- End follow question ---*/
/*++++++++++++ FIN BOX AUTHOR INFOS ++++++++++++++*/



/*++++++++++++ BOX STATS WIDGET ++++++++++++++*/
div.statsWidget h2{
    line-height:15px;
    margin-bottom:3px;
}

div.statsWidget div{
    position:relative;
    background-color:#242424;
    -webkit-border-radius: 4px;    
    border-radius: 4px;
    padding:15px;
    }
    
div.statsWidget p {
  color: #ffffff;
  border-bottom: #5c5c5c 1px dotted;
  font-size: 12px;
  padding-top:10px;
  padding-bottom:5px;
}
div.statsWidget p:first-child{
  padding-top:0px;}
  
div.statsWidget p strong {
  float: right;
  font-style:italic;
}
/*++++++++++++ END BOX STATS WIDGET ++++++++++++++*/





/*++++++++++++ RELATED TAGS ++++++++++++++*/
ul#related-tags{
    zoom:1;}
ul#related-tags:after{
    clear: both;
    content: "";
    display: block;}


div.related_tag_widget h2 {
    background: url("../images/widget_tag_selector/picto_tag.png") no-repeat scroll 0 7px transparent;
    padding-left: 21px;
}

div.related_tag_widget h2 a{
    color:#706f6f;}
div.related_tag_widget h2 a:hover{
    text-decoration:none;
    color: #04ADD1;}

ul#related-tags li{
    float:left;
    zoom:1;
    float:left;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 2px 7px 3px;
    background-color: #DEDEDE;}
ul#related-tags li:after{
    clear: both;
    content: "";
    display: block;}
    
ul#related-tag li:first-child{
    padding-left:10px;
    margin-left:0px;
    }

ul#related-tags li div.tag-left{float:left;}
ul#related-tags span.tag-number{
    display:block; 
    float:left; 
    font-family: 'OpenSans', Arial, sans-serif;
    padding-left:4px;
    font-size: 13px;
    color: #8F8F8F;
    letter-spacing: -2px;}

ul#related-tags li div.tag-left a{
    color: #8F8F8F;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    padding-right:4px;
    border-right: 1px solid #FFFFFF;
}

/*++++++++++++ END RELATED TAGS ++++++++++++++*/


/* =============================================================================
                               FIN WIDGETS
============================================================================== */