/*====================================================================================================================
                                          QUESTION TEMPLATE
====================================================================================================================*/
.question-body li {
display: list-item;
text-align: -webkit-match-parent;
list-style: disc;
color: white;
font-size: 12px;
}

.question-body a {
color: #415073;
}

.question-body p {
padding-bottom: 6px;
}

.question-body ul {
list-style-position: outside;
margin-top: 0.2857em;
margin-bottom: 0.714285em;
margin-left: 2em;
padding-left: 0;
}

body.question-page div.conteneur_question_card{
    position:relative;
    min-height:190px;
    height:auto !important;
    height:190px;
    padding:15px;
    padding-left:60px;
    padding-right:60px;
    background-color:#04add1;}

body.question-page div.conteneur_question_card h1{
    padding:0;
    margin:0;
    }
        
body.question-page #question-table{
    }

body.question-page div.conteneur_question_card h1,
body.question-page div.conteneur_question_card h1 a{
    text-transform:uppercase;
    font-family: 'OpenSans', Arial, sans-serif;
    font-weight:bold;
    font-size:15px;
    color:#ffffff;}


body.question-page div.conteneur_question_card a.btn_comment{
    position:absolute;
    left:15px;
    bottom:15px;
    text-transform:uppercase;
    font-family: 'OpenSans', Arial, sans-serif;
    font-weight:bold;
    font-size:10px;
    color:#ffffff}
    
/*++++++++  VOTE NUMBER ++++++++*/  
body.question-page div.conteneur_question_card div.wrapper_vote_number{
    position:absolute;
    width:60px;
    top:15px;
    left:0;}
    
body.question-page div.conteneur_question_card div.wrapper_vote_number div.question-img-upvote{
    height:14px;
    background: url(../images/arrow_up_vote.png) center top no-repeat;
    cursor: pointer;
}

body.question-page div.conteneur_question_card div.wrapper_vote_number div.vote-number{
    text-transform:uppercase;
    font-family: 'OpenSans', Arial, sans-serif;
    font-weight:bold;
    font-size:18px;
    padding-top:9px;
    padding-bottom:9px;
    color:#ffffff;
    text-align:center;}

body.question-page div.conteneur_question_card div.wrapper_vote_number div.question-img-downvote {
    height:14px;
  background: url(../images/arrow_down_vote.png) center top no-repeat;
   cursor: pointer;
}
/*++++++++  END VOTE NUMBER ++++++++*/


/*++++++++  SHARE BUTTONS ++++++++*/
body.question-page div.share_buttons{
    position:absolute;
    width:25px;
    right:15px;
    top:15px;}

body.question-page div.share_buttons{}

.facebook-share.icon,
.twitter-share.icon,
.linkedin-share.icon,
.identica-share.icon
{
  background: url(../images/social_sprite.png) no-repeat;
  display: block;
  text-indent: -100em;
  width: 25px;
  height: 23px;
  margin-bottom: 10px;
}
.facebook-share.icon:hover,
.twitter-share.icon:hover,
.linkedin-share.icon:hover,
.identica-share.icon:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#plusone{
  margin-top: 10px;
  background-position: -50px 0px;
}
.twitter-share.icon {
  margin-top: 10px;
  background-position: 0px 0px;
}
.facebook-share.icon {
  background-position: -25px 0px;
}
.identica-share.icon {
  background-position: -75px 0px;
}
.linkedin-share.icon {
  background-position: -100px 0px;
}
/*++++++++  END SHARE BUTTONS ++++++++*/

body.question-page div.question-body p{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size:12px;
    color:#ffffff;}


/*++++++++  TAGLIST(OVERRIDE)  ++++++++*/
body.question-page div.conteneur_question_card ul.tag_list{
    margin-top:15px;
    margin-bottom:15px;}
    
body.question-page div.conteneur_question_card ul.tag_list li{
    border-top:1px solid #04add1;
    border-bottom:1px solid #04add1;
    background-color:#ffffff;}

body.question-page div.conteneur_question_card ul.tag_list li:first-child{
    border-left:1px solid  #04add1;
    }

body.question-page div.conteneur_question_card ul.tag_list li div.part_pointe{
    background: url(../images/taglist/arrow_part_white.png) no-repeat;}
/*++++++++  END TAGLIST(OVERRIDE) ++++++++*/

/*++++++++  QUESTION CONTROLS ++++++++*/
body.question-page div.conteneur_question_card div#question-controls{
    position:absolute;
    right:15px;
    bottom:15px;
    text-align:right;}

body.question-page div.conteneur_question_card div#question-controls a{
    padding-left:4px;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size:11px;
    color:#ffffff;}

/*++++++++  END QUESTION CONTROLS ++++++++*/

/*++++++++  COMMENTS ON A QUESTION OR ANSWER ++++++++*/
body.question-page div.comments{
    padding-top:15px;
    padding-right:15px;
    padding-left:125px;
    background: url(../images/question/arrow_comment_box.png) 150px 8px no-repeat;}

body.question-page div.comments div.comment-body p{
    padding-bottom:5px;}

body.question-page div.content{
    -webkit-border-radius: 5px;    
    border-radius: 5px;
    background-color:#ececec;
}

body.question-page div.comment{
    padding-top:15px;
    padding-bottom:15px;
    padding-right:15px;
    padding-left:35px;
    border-top:1px solid #ffffff;
    border-bottom:1px solid #dedede;
}
/*body.question-page div.comment:first-child{
    padding-top:0;
    border-top:none;
    background: url(../images/question/chevron_up.png) 11px 3px no-repeat;}*/

body.question-page div.comment div.comment_infos{
    padding-bottom:10px;}

body.question-page div.comment div.comment_infos a.author{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size:11px;
    font-weight:bold;
    font-style:italic;
    color:#2e2e2e;
}
body.question-page div.comment div.comment_infos span.age{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size:11px;
    font-weight:normal;
    font-style:normal;
    color:#706f6f;
}

body.question-page div.comment div.admin_actions{
    zoom:1;
    float: right;
}
    
body.question-page div.comment div.admin_actions:after{
  clear: both;
  content: "";
  display: block;}

body.question-page div.comment div.admin_actions .comment-delete {
    float:right;
}
body.question-page div.comment div.admin_actions a.delete-icon.comment-delete  {
    font-family: 'OpenSans', Arial, sans-serif;
    font-size:11px;
    font-weight:normal;
    font-style:normal;
    color:#706f6f;
    padding-left:4px;   
}
body.question-page div.comment div.admin_actions a.edit-icon.comment-edit {
    float:right;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size:11px;
    font-weight:normal;
    font-style:normal;
    color:#706f6f;
}
body.question-page div.comments div.controls{
    zoom:1;}
body.question-page div.comments div.controls:after{
  clear: both;
  content: "";
  display: block;}
    
/*body.question-page div.comments div.controls .button{
    float:right;
    font-family: 'OpenSans', Arial, sans-serif;
    margin:0; padding:0;
    padding:5px;
    padding-left:7px;
    padding-right:7px;
    margin-right:15px;
    margin-top:15px;
    font-size:11px;
    font-weight:bold;
    text-transform:uppercase;
    background-color:#266774;
    color:#ffffff;
    box-shadow:none;
    text-shadow:none;
    border:none;
    -webkit-border-radius: 5px;    
    border-radius: 5px;
}*/

/*body.question-page div.comments div.controls .button:hover{
    background: rgb(39,115,120);
    background: rgb(17,79,91);
    background: -moz-linear-gradient(top,  rgba(17,79,91,1) 0%, rgba(39,115,120,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,79,91,1)), color-stop(100%,rgba(39,115,120,1)));
    background: -webkit-linear-gradient(top,  rgba(17,79,91,1) 0%,rgba(39,115,120,1) 100%);
    background: -o-linear-gradient(top,  rgba(17,79,91,1) 0%,rgba(39,115,120,1) 100%);
    background: -ms-linear-gradient(top,  rgba(17,79,91,1) 0%,rgba(39,115,120,1) 100%);
    background: linear-gradient(to bottom,  rgba(17,79,91,1) 0%,rgba(39,115,120,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#114f5b', endColorstr='#277378',GradientType=0 );}*/

body.question-page div.comments form.post-comments{
    zoom:1;
    padding:15px;}  
body.question-page div.comments form.post-comments:after{
  clear: both;
  content: "";
  display: block;}
    
body.question-page div.comments form.post-comments textarea{
    margin-bottom:15px;
    resize:none;}
    
body.question-page div.comments form.post-comments button.submit{
    float:right;
    font-family: 'OpenSans', Arial, sans-serif;
    margin:0; padding:0;
    height:auto;
    padding:5px;
    padding-left:7px;
    padding-right:7px;
    font-size:11px;
    font-weight:bold;
    text-transform:uppercase;
    background-color:#266774;
    color:#ffffff;
    box-shadow:none;
    text-shadow:none;
    border:none;
    -webkit-border-radius: 5px;    
    border-radius: 5px;
    background-image:none;
    margin-left:10px;
    line-height:normal;}

body.question-page div.comments form.post-comments button.submit:hover{
    background: rgb(39,115,120);
    background: rgb(17,79,91);
    background: -moz-linear-gradient(top,  rgba(17,79,91,1) 0%, rgba(39,115,120,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,79,91,1)), color-stop(100%,rgba(39,115,120,1)));
    background: -webkit-linear-gradient(top,  rgba(17,79,91,1) 0%,rgba(39,115,120,1) 100%);
    background: -o-linear-gradient(top,  rgba(17,79,91,1) 0%,rgba(39,115,120,1) 100%);
    background: -ms-linear-gradient(top,  rgba(17,79,91,1) 0%,rgba(39,115,120,1) 100%);
    background: linear-gradient(to bottom,  rgba(17,79,91,1) 0%,rgba(39,115,120,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#114f5b', endColorstr='#277378',GradientType=0 );
}

body.question-page div.comments form.post-comments span.counter{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size:11px;}
/*++++++++  END COMMENTS ON A QUESTION OR ANSWER ++++++++*/


/*++++++++  ANSWER ++++++++*/
body.question-page div.answer{
    margin-bottom:20px;}

body.question-page div.answer-body{
    position:relative;
    -webkit-border-radius: 5px;    
    border-radius: 5px;
    background-color:#ececec;
    padding:15px;}
    
body.question-page div.answer-body div.post-author-info{
    zoom:1;
    padding-bottom:10px;}
body.question-page div.answer-body div.post-author-info:after{
   clear: both;
   content: "";
   display: block;}
 
body.question-page div.answer-body div.post-author-info a,
body.question-page div.answer-body div.post-author-info p{
    float:left;}

body.question-page div.answer-body div.post-author-info br{
    display:none;}
    
body.question-page div.answer-body div.post-author-info a{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size:12px;
    font-weight:bold;
    font-style:italic;
    color:#2e2e2e;
    padding-right:10px;}
    
body.question-page div.answer-body div.post-author-info p{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size:11px;
    color:#706F6F;}
body.question-page div.answer-body div.post-author-info .timeago{font-weight:normal;}

body.question-page div.answer-body div.post-update-info{
    position:absolute;
    top:15px;
    right:15px;}
body.question-page div.answer-body div.post-update-info p,
body.question-page div.answer-body div.post-update-info a{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size:11px;
    color:#706F6F;
    font-style:italic;}
body.question-page div.answer-body div.post-update-info .timeago{font-weight:normal;}

body.question-page div.answer-body div.answer_txt{
    padding-bottom:15px;}

body.question-page div.answer-body div.answer_txt p{
    padding-left:42px;
    line-height:auto;
    padding-bottom:5px;} 

body.question-page div.answer-body a.btn_comment{
    bottom: 15px;
    color: #706F6F;
    font-family: 'OpenSans',Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
    left: 15px;
    position: absolute;
    text-transform: uppercase;
}
    
body.question-page div.answer-controls{
    text-align:right;}
    
body.question-page div.answer-controls a{    
    padding-left: 3px;
    color: #706F6F;
    font-family: 'OpenSans',Arial,sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;}

body.question-page div.answer-body div.vote-buttons{
    position:absolute;
    width:13px;
    top:60px;
    left:24px;}
    
body.question-page div.answer-body div.vote-number{
    font-family: 'OpenSans',Arial,sans-serif;
    font-weight:bold;
    font-size:14px;
    color:#706f6f;
    text-align:center;}
    
body.question-page div.answer-body div.answer-img-upvote{
    height:7px;
    background: url(../images/question/chevron_up.png) no-repeat;
    cursor : pointer;
}

body.question-page div.answer-body div.answer-img-downvote{
    height:7px;
    background: url(../images/question/chevron_down.png) no-repeat;
    cursor : pointer;
}


/*++++++++  END ANSWER ++++++++*/

/*++++++++  FIRST ANSWER ++++++++*/
form#fmanswer{
    margin-top:20px;
    padding-top:30px;
    background: url(../images/ombre_questions.png) center top no-repeat;}

form#fmanswer h2{   
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    font-size:20px;
    margin-top: 8px;
    color:#04add1;}

form#fmanswer div.wmd-container{
    margin-top:20px;
    border:2px solid #87cad9;
    background-color:#ffffff;
    margin-bottom:20px;}

form#fmanswer div#wmd-button-bar{
    border-bottom:1px solid #dedede;}

form#fmanswer textarea{
    border:none;}

form#fmanswer div.preview-toggle{
    padding-bottom:20px;}
    
form#fmanswer div.preview-toggle p#pre-collapse{
    text-transform:uppercase;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size:14px;
    font-weight:bold;
    color:#706f6f;
    padding-bottom:5px;
    cursor:pointer;}

form#fmanswer div.wmd-preview{
    padding:5px;
    min-height:60px;
    height:auto !important;
    height:60px;
    -webkit-border-radius: 5px;    
    border-radius: 5px;
    background-color:#fff;}

form#fmanswer table.proxy-user-info div.form-item{
    padding-bottom:10px;}

form#fmanswer input[type="text"] {
    border: 2px solid #87CAD9;
}
    
form#fmanswer table.proxy-user-info label{
    color: #242424;
    display: block;
    font-family: 'Open Sans Condensed',Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
    text-transform: uppercase;
    vertical-align: middle;}

form#fmanswer input#add-answer-btn{
    text-transform:uppercase;
    font-family: 'OpenSans', Arial, sans-serif;
    margin-top:10px;
    padding:5px;
    padding-right:10px;
    padding-left:10px;
    font-weight:bold;   
    font-size:12px;
    -webkit-border-radius: 15px;    
    border-radius: 15px;
    border:none;
    box-shadow:none;
    text-shadow:none;
    height:auto;
    color:#ffffff;
    background: rgb(74,185,232);
    background: -moz-linear-gradient(top,  rgba(74,185,232,1) 0%, rgba(57,144,180,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(74,185,232,1)), color-stop(100%,rgba(57,144,180,1)));
    background: -webkit-linear-gradient(top,  rgba(74,185,232,1) 0%,rgba(57,144,180,1) 100%);
    background: -o-linear-gradient(top,  rgba(74,185,232,1) 0%,rgba(57,144,180,1) 100%);
    background: -ms-linear-gradient(top,  rgba(74,185,232,1) 0%,rgba(57,144,180,1) 100%);
    background: linear-gradient(to bottom,  rgba(74,185,232,1) 0%,rgba(57,144,180,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ab9e8', endColorstr='#3990b4',GradientType=0 );
}

form#fmanswer div.checkbox{
    float: left;
    margin-top: 20px;}

form#fmanswer div.checkbox label{
    color:#706F6F;}
/*++++++++ END FIRST ANSWER ++++++++*/


body.question-page div#ContentLeft > a.submit , body.question-page div.comments div.controls .button{ 
    text-transform:uppercase;
    font-family: 'OpenSans', Arial, sans-serif;
    padding:5px;
    padding-right:10px;
    padding-left:10px;
    font-weight:bold;   
    font-size:12px;
    -webkit-border-radius: 15px;    
    border-radius: 15px;
    border:none;
    box-shadow:none;
    text-shadow:none;
    height:auto;
    background: rgb(74,185,232);
    background: -moz-linear-gradient(top,  rgba(74,185,232,1) 0%, rgba(57,144,180,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(74,185,232,1)), color-stop(100%,rgba(57,144,180,1)));
    background: -webkit-linear-gradient(top,  rgba(74,185,232,1) 0%,rgba(57,144,180,1) 100%);
    background: -o-linear-gradient(top,  rgba(74,185,232,1) 0%,rgba(57,144,180,1) 100%);
    background: -ms-linear-gradient(top,  rgba(74,185,232,1) 0%,rgba(57,144,180,1) 100%);
    background: linear-gradient(to bottom,  rgba(74,185,232,1) 0%,rgba(57,144,180,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ab9e8', endColorstr='#3990b4',GradientType=0 );
    color:#ffffff;
    }
body.question-page div#ContentLeft > a.submit:hover{
    text-decoration:none;
    background: rgb(57,144,180);
    background: -moz-linear-gradient(top,  rgba(57,144,180,1) 0%, rgba(73,182,228,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(57,144,180,1)), color-stop(100%,rgba(73,182,228,1)));
    background: -webkit-linear-gradient(top,  rgba(57,144,180,1) 0%,rgba(73,182,228,1) 100%);
    background: -o-linear-gradient(top,  rgba(57,144,180,1) 0%,rgba(73,182,228,1) 100%);
    background: -ms-linear-gradient(top,  rgba(57,144,180,1) 0%,rgba(73,182,228,1) 100%);
    background: linear-gradient(to bottom,  rgba(57,144,180,1) 0%,rgba(73,182,228,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3990b4', endColorstr='#49b6e4',GradientType=0 );
}

body.question-page div#ContentLeft > span {
    display:block;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size:11px;
    color:#706f6f;
    padding-top:10px;}
    
    
    
    
/*===================================================================================================================
                                       FIN QUESTION TEMPLATE
====================================================================================================================*/
