{#<span class="action-link swap-qa">
    <a id="swap-question-with-answer-{{answer.id}}">{% trans %}swap with question{% endtrans %}</a>
</span>uncomment if needed#}
<span class="action-link">
    <a  class="permant-link"
        href="{{ answer.get_absolute_url(question_post=question) }}"
        title="{% trans %}permanent link{% endtrans %}">
        {% trans %}link{% endtrans %}
    </a>
</span>
<span id='post-{{answer.id}}-delete' class="action-link delete-post">
    <a class="question-delete"
    >{% if answer.deleted %}{% trans %}undelete{% endtrans %}{% else %}{% trans %}delete{% endtrans %}{% endif %}</a>
</span>
{% if answer.offensive_flag_count > 0 %}
<span 
    id="answer-offensive-remove-flag-{{ answer.id }}"
    class="action-link offensive-flag"
    title="{% trans %}remove offensive flag{% endtrans %}"
>
    <a class="question-flag">{% trans %}remove flag{% endtrans %}</a>
</span>
<span 
    id="answer-offensive-flag-{{ answer.id }}"
    class="action-link offensive-flag"
    title="{% trans %}report as offensive (i.e containing spam, advertising, malicious text, etc.){% endtrans %}"
>
    <a class="question-flag">{% trans %}flag offensive{% endtrans %} ({{ answer.offensive_flag_count }})</a>
    </a>
</span>
{% else %}
<span 
    id="answer-offensive-flag-{{ answer.id }}"
    class="action-link offensive-flag"
    title="{% trans %}report as offensive (i.e containing spam, advertising, malicious text, etc.){% endtrans %}"
>
    <a class="question-flag">{% trans %}flag offensive{% endtrans %}</a>
</span>
{% endif %}
<span id='post-{{answer.id}}-edit' class="action-link">
    <a class="question-edit" href="{% url edit_answer answer.id %}">{% trans %}edit{% endtrans %}</a>
</span>
<script type="text/javascript">
    askbot['functions']['renderPostControls']('{{answer.id}}');
</script>
