<a name="{{ answer.id }}"></a>
{% if answer.old_answer_id %}
    {# Make old URL anchors/hashes work #}
    <a class="old_answer_id_anchor" name="{{ answer.old_answer_id }}"></a>
{% endif %}
<div
        id="post-id-{{ answer.id }}"
        class="answer {% if answer.accepted() %}accepted-answer{% endif %} {% if answer.author_id==question.author_id %} answered-by-owner{% endif %} {% if answer.deleted %}deleted{% endif -%}">
    
    <div class="answer-table">

        <div class="item-right">
            <div class="answer-body">
            	<div class="vote-buttons">
                    {% include "question/answer_vote_buttons.html" %}
                </div>
                <div class="post-update-info-container">
                    {% include "question/answer_author_info.html" %}
                </div>
                <div class="answer_txt">{{ answer.html }}</div>
                <div class="answer-controls post-controls">
                    {{ include_django("project_questions/block/answer_controls.html", request, answer=answer) }}
                </div>
            </div>
            {% with answer as post %}
                {% include "question/post_comments.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="clean"></div>
</div>
<div class="clean"></div>
