<a name="{{ answer.id }}"></a>
{% if answer.old_answer_id %}
    {# Make old URL anchors/hashes work #}
    <a class="old_answer_id_anchor" name="{{ answer.old_answer_id }}"></a>
{% endif %}
<div
        id="post-id-{{ answer.id }}"
        class="{{ macros.answer_classes(answer, question) }}">
    
    <div class="answer-table">

        <div class="item-right">
            <div class="answer-body">
            	<div class="vote-buttons">
                    {% include "question/answer_vote_buttons.html" %}
                </div>
                <div class="post-update-info-container">
                    {% include "question/answer_author_info.html" %}
                </div>
                <div class="answer_txt">{{ answer.html }}</div>
                <a class="btn_comment"><i class="icon-bubbles"> </i> Poster un commentaire</a>
                <div class="answer-controls post-controls">
                    {% include "question/answer_controls.html" %}
                </div>
            </div>
            {% include "question/answer_comments.html" %}
        </div>
    </div>
    <div class="clean"></div>
</div>
<div class="clean"></div>
