<script type="text/javascript">
    {% if not thread.closed %}
        var maxCommentLength = {{settings.MAX_COMMENT_LENGTH}};
    {% if settings.SAVE_COMMENT_ON_ENTER %}
        askbot['settings']['saveCommentOnEnter'] = true;
    {% else %}
        askbot['settings']['saveCommentOnEnter'] = false;
    {% endif %}
    {% endif %}
    // define reputation needs for comments
    var repNeededForComments = 50;
    
    $(document).ready(function(){
        var answer_sort_tab = "{{ tab_id }}";
        $("#" + answer_sort_tab).attr('className',"on");
        
        Vote.init({{ question.id }}, '{{ thread.title|slugify }}', '{{ question.author_id }}','{{ request.user.id }}');

        $('#btLogin').bind('click', function(){
        	window.location.href='{{ settings.LOGIN_URL }}'; 
        });
        
        if (window.location.hash === 'fmanswer'){
            $('#fmanswer textarea').focus();
        }
        {% if settings.ENABLE_SHARING_GOOGLE %}
        $.getScript("http://apis.google.com/js/plusone.js")
        {% endif %}

        {% if request.user.id == question.author_id %}
            $("#fmanswer_button").click(function() {
                $("#fmanswer").show();
                $("#fmanswer_button").hide();
            });
        {%endif%}
    });

    $(window).bind('hashchange', animate_hashes);

    function animate_hashes(){
      var id_value = window.location.hash;
      if (id_value != ""){
        var previous_color = $(id_value).css('background-color');
        $(id_value).css('backgroundColor', '#FFF8C6');
        $(id_value).animate({backgroundColor: '#ff7f2a'}, 1000).animate({backgroundColor: '#FFF8C6'}, 1000, function(){
            $(id_value).css('backgroundColor', previous_color);
        });
      }
    }
</script>
{% include "meta/editor_data.html" %}
