<div class="author_info_question">
	<div class="avatar_author_date">
        {% include "widgets/avatar.html"%}
        <p>{% trans %}posted{% endtrans %} {{ macros.timeago(question.added_at) }}</p>
        <p>{% trans %}by{% endtrans %} <a href="{{ profile.get_absolute_url() }}">{{profile.user.username}}</a></p>
    </div>
    <div class="wrapper_country_badges">
        {% if profile.country %}
        <img class="flag_country" width="14" height="10" 
            alt="{% trans country=profile.country.name %}Flag of {{country}}{% endtrans %}" 
            title="{% trans country=profile.country.name, person=profile.user.username|escape %}{{person}} is from {{country}}{% endtrans %}"
            src="{{ profile.country.flag }}">
        <p>{{ profile.country.name }}</p>
        {% endif %}
        {#
        <ul>
            <li class="gold_badge">{{ profile.gold }}</li>
            <li class="silver_badge">{{ profile.silver }}</li>
            <li class="bronze_badge">{{ profile.bronze }}</li>
        </ul>
        #}
    </div>
</div>