<div id="post-id-{{question.id}}" class="question-content{% if question.deleted %} deleted{% endif %}">
    	<div class="conteneur_question_card">
            <div class="wrapper_vote_number vote-buttons"> <!-- vote-buttons for JS callback -->
                {% include "question/question_vote_buttons.html" %}
            </div> 
            <div class="share_buttons">            
                {% include "question/share_buttons.html" %}
            </div>
            <h1><a href="{{ question.get_absolute_url() }}">{{ thread.get_title(question)|escape }}</a></h1>
            <div id="question-tags">
            {% include "question/question_tags.html" %}    
            </div>
            <div class="question-body">
                {{ question.html }}
            </div>
            {% if question.comment_count == 0 %}
            <a id="add-first-comment-to-post" class="btn_comment"><i class="icon-bubbles icon-white"> </i> {% trans %}Post a comment{% endtrans %}</a>
            {% endif %}
            <div id="question-controls" class="post-controls">
                {% include "question/question_controls.html" %}
            </div>
    </div><!--fin div.conteneur_question_card-->
    <div id="question-table">
        {% with question as post %}
        {% include "question/question_comments.html" %}
        {% endwith %}
    </div>
    <script type="text/javascript"> 
    (function(){
        if (askbot['data']['userIsAuthenticated'] === false){
            var ctrl = document.getElementById('question-controls')
            ctrl.parentNode.removeChild(ctrl);
        }
        {% if question.comment_count == 0 %}
        $("#add-comment-to-post-{{question.id}}").hide()
        $("#add-first-comment-to-post").click(function(){
             $("#add-comment-to-post-{{question.id}}").click();
             return false;
        });
        {% endif %}
    })();
     </script>
 </div>
