
{% if question.offensive_flag_count > 0 %}
    <span 
        id="question-offensive-remove-flag-{{ question.id }}"
        class="offensive-flag"
        title="{% trans %}report as offensive (i.e containing spam, advertising, malicious text, etc.){% endtrans %}"
    >
        <a class="question-flag"><i class="icon-remove icon-white"> </i> {% trans %}remove flag{% endtrans %}</a>
    </span>
    <span 
        id="question-offensive-flag-{{ question.id }}" class="offensive-flag"
        title="{% trans %}report as offensive (i.e containing spam, advertising, malicious text, etc.){% endtrans %}"
    >
        <a class="question-flag"><i class="icon-flag icon-white"> </i> {% trans %}flag offensive{% endtrans %} ({{ question.offensive_flag_count }})</a>
    </span>
{% else %}
    <span 
        id="question-offensive-flag-{{ question.id }}" class="offensive-flag"
        title="{% trans %}report as offensive (i.e containing spam, advertising, malicious text, etc.){% endtrans %}"
    >
        <a class="question-flag"><i class="icon-flag icon-white"> </i> {% trans %}flag offensive{% endtrans %}</a>
    </span>
{% endif %}
<a id="retag" class="question-retag" href="{% url retag_question question.id %}"><i class="icon-tag icon-white"> </i>{% trans %}retag{% endtrans %}</a>
<a id="post-{{question.id}}-edit" class="question-edit" href="{% url edit_question question.id %}"><i class="icon-pencil icon-white"> </i> {% trans %}edit{% endtrans %}</a>
<a id="post-{{question.id}}-delete" class="question-delete">
{% if question.deleted %}<i class="icon-trash icon-white"> </i> {% trans %}undelete{% endtrans %}{% else %}<i class="icon-trash icon-white"> </i> {% trans %}delete{% endtrans %}{% endif %}
</a>
{% if thread.closed %}
    <a  class="question-close" href="{% url reopen question.id %}">{% trans %}reopen{% endtrans %}</a>
{% else %}
    <a class="question-close" href="{% url close question.id %}"><i class="icon-remove icon-white"> </i> {% trans %}close{% endtrans %}</a>
{% endif %}
<script type="text/javascript">
    var retagUrl = "{% url retag_question question.id %}";
</script>
<script type="text/javascript">
    askbot['functions']['renderPostControls']('{{question.id}}');
</script>
