{% import "macros.html" as macros %}
{% if settings.SIDEBAR_QUESTION_HEADER %}
<div class="box">
    {{ settings.SIDEBAR_QUESTION_HEADER }}
</div>
{% endif %}
<div class="box author_and_follow_question vote-buttons">
    	<div class="arrow"></div>       
        {% with question.author.get_profile() as profile %} 
        {% include "question/question_author_info.html" %}
        {% endwith %}
        {{ include_django("project_questions/block/mail_subscription.html",request, thread=thread, question=question, favorited=favorited) }}
        
</div><!-- end div.box author_and_follow_question-->

{{ include_django("forum/block/workgroup/grouplist_fancy_wide.html",request, thread=thread) }}

{% if settings.SIDEBAR_QUESTION_SHOW_META %}
<div class="box statsWidget">
    <h2>{% trans %}Stats{% endtrans %}</h2>
    <div>
        <p>
            {% trans %}Asked{% endtrans %}: <strong>{{ macros.timeago(question.added_at) }}</strong>
        </p>
        <p> 
            {% trans %}Seen{% endtrans %}: <strong>{{ thread.view_count|intcomma }} {% trans %}times{% endtrans %}</strong>
        </p>
        <p>
            {% trans %}Last updated{% endtrans %}: <strong title="{{ thread.last_activity_at }}">{{thread.last_activity_at|diff_date}}</strong>
        </p>
    </div>
</div>
{% endif %}


{% if similar_threads.data() and settings.SIDEBAR_QUESTION_SHOW_RELATED %}
    {#% cache 1800 "related_questions" related_questions question.id language_code %#}
    <div class="box">
        <h2>{% trans %}Related questions{% endtrans %}</h2>
        <div class="questions-related">
            {% for thread_dict in similar_threads.data() %}
            <p>
                <a href="{{ thread_dict.url }}">{{ thread_dict.title|escape }}</a>
            </p>
            {% endfor %}
        </div>
    </div>
    {#% endcache %#}
{% endif %}
