/*
Syntax error: Undefined variable: "$greymenu".
        on line 11 of /home/vinz/i4p-env/imaginationforpeople/static/sass/home-blocks/twittblogboxes.scss

Backtrace:
/home/vinz/i4p-env/imaginationforpeople/static/sass/home-blocks/twittblogboxes.scss:11
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/script/variable.rb:45:in `_perform'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/script/node.rb:40:in `perform'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:215:in `visit_prop'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:230:in `visit_rule'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:230:in `visit_rule'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/tree/root_node.rb:20:in `render'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/engine.rb:291:in `_render'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/engine.rb:239:in `render'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/util.rb:297:in `silence_sass_warnings'
/home/vinz/i4p-env/gems/gems/sass-3.1.4/lib/sass/../sass/engine.rb:239:in `render'
/home/vinz/i4p-env/gems/gems/compass-0.11.5/lib/compass/compiler.rb:136:in `compile'
/home/vinz/i4p-env/gems/gems/compass-0.11.5/lib/compass/compiler.rb:122:in `timed'
/home/vinz/i4p-env/gems/gems/compass-0.11.5/lib/compass/compiler.rb:135:in `compile'
/home/vinz/i4p-env/gems/gems/compass-0.11.5/lib/compass/logger.rb:45:in `red'
/home/vinz/i4p-env/gems/gems/compass-0.11.5/lib/compass/compiler.rb:134:in `compile'
/home/vinz/i4p-env/gems/gems/compass-0.11.5/lib/compass/compiler.rb:114:in `compile_if_required'
/home/vinz/i4p-env/gems/gems/compass-0.11.5/lib/compass/compiler.rb:99:in `run'
/home/vinz/i4p-env/gems/gems/compass-0.11.5/lib/compass/compiler.rb:97:in `each'
/home/vinz/i4p-env/gems/gems/compass-0.11.5/lib/compass/compiler.rb:97:in `run'
/home/vinz/i4p-env/gems/gems/compass-0.11.5/lib/compass/compiler.rb:122:in `timed'
/home/vinz/i4p-env/gems/gems/compass-0.11.5/lib/compass/compiler.rb:96:in `run'
/home/vinz/i4p-env/gems/gems/compass-0.11.5/lib/compass/commands/watch_project.rb:142:in `recompile'
/usr/lib/ruby/1.8/rubygems/custom_require.rb:31:in `to_proc'
/home/vinz/i4p-env/gems/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
/home/vinz/i4p-env/gems/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
/home/vinz/i4p-env/gems/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
/home/vinz/i4p-env/gems/gems/fssm-0.2.7/lib/fssm/path.rb:35:in `update'
/home/vinz/i4p-env/gems/gems/fssm-0.2.7/lib/fssm/state/directory.rb:39:in `modified'
/home/vinz/i4p-env/gems/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `each'
/home/vinz/i4p-env/gems/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `modified'
/home/vinz/i4p-env/gems/gems/fssm-0.2.7/lib/fssm/state/directory.rb:18:in `refresh'
/home/vinz/i4p-env/gems/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `run'
/home/vinz/i4p-env/gems/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `each'
/home/vinz/i4p-env/gems/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `run'
/home/vinz/i4p-env/gems/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `loop'
/home/vinz/i4p-env/gems/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `run'
/home/vinz/i4p-env/gems/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
/home/vinz/i4p-env/gems/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
/home/vinz/i4p-env/gems/gems/compass-0.11.5/lib/compass/commands/watch_project.rb:86:in `perform'
/home/vinz/i4p-env/gems/gems/compass-0.11.5/lib/compass/commands/base.rb:18:in `execute'
/home/vinz/i4p-env/gems/gems/compass-0.11.5/lib/compass/commands/project_base.rb:19:in `execute'
/home/vinz/i4p-env/gems/gems/compass-0.11.5/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/vinz/i4p-env/gems/gems/compass-0.11.5/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/vinz/i4p-env/gems/gems/compass-0.11.5/bin/compass:25
/home/vinz/i4p-env/gems/gems/compass-0.11.5/bin/compass:39:in `call'
/home/vinz/i4p-env/gems/gems/compass-0.11.5/bin/compass:39
/home/vinz/i4p-env/gems/bin/compass:19:in `load'
/home/vinz/i4p-env/gems/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$greymenu\".\A         on line 11 of /home/vinz/i4p-env/imaginationforpeople/static/sass/home-blocks/twittblogboxes.scss"; }
