.twittblogbox {
  float: left;
  width: 100%;
  height: 290px;
  overflow: hidden;
  background-image: url("../../images/home/infoblock-bg.jpg");
}
.twittblogbox h1 {
  padding: 8px;
  background-color: #c1c1c1;
  font-family: "OpenSansCondensedBold", Arial, Helvetica, sans-serif !important;
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase;
  text-shadow: 1px 1px #f3f3f3;
  border-top: 3px solid #04add1;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 5px 2px;
  color: black;
}
.twittblogbox ul {
  margin: 2px 8px;
  padding: 0px;
}
.twittblogbox ul li {
  list-style-type: none;
  display: inline;
  padding: 5px 0px;
  border-bottom: 1px dotted #c1c1c1;
  float: left;
  font-size: 10px;
  color: #303030;
}
.twittblogbox ul li img {
  float: left;
  margin-right: 10px;
}
.twittblogbox ul li span.date, .twittblogbox ul li .tweet_time {
  color: grey;
  clear: right;
  font-size: 9px;
}
.twittblogbox ul li span.date a, .twittblogbox ul li .tweet_time a {
  color: grey;
}
.twittblogbox ul li a {
  color: #04add1;
}
.twittblogbox ul li a:hover {
  text-decoration: underline;
}

#left_col #twitter_box h1 {
  color: #303030;
  background-image: url("../../images/home/twitter-logo.jpg");
}

#right_col #twitter_box {
  height: auto;
  background-image: none;
}
#right_col #twitter_box h1 {
  background-image: url("../../images/home/twitter-logo.jpg");
}
#right_col #twitter_box ul {
  margin: 0px;
}
#right_col #twitter_box ul li {
  color: white;
  margin-top: 5px;
}
#right_col #twitter_box ul li span.tweet_text {
  font-family: Verdana,Arial,Helvetica,sans-serif !important;
}
#right_col #twitter_box ul li span.tweet_text {
  margin: 5px 0px !important;
}
#right_col #twitter_box ul li span.tweet_join {
  margin: 0px !important;
  margin-bottom: 10px !important;
}
#right_col #twitter_box ul li span.date, #right_col #twitter_box ul li .tweet_time {
  color: grey;
  clear: right;
  font-size: 9px;
  margin: 0px !important;
}
#right_col #twitter_box ul li span.date a, #right_col #twitter_box ul li .tweet_time a {
  color: grey;
}
#right_col #twitter_box ul li a {
  color: #04add1 !important;
}

#twitter_box h1 {
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 5px 2px;
}
#twitter_box h1 a {
  color: black;
}
