@import "../../mixin.scss";
@import "../../constants.scss";
@import "../../fonts.scss";

.seemore {
    font-family: $fontOpenSans;
    font-size: $sizeTextTiny;

    position: absolute;
    display: block;
    color: black;
    right: 5px;
    top: 0;
    right: 0;
    text-decoration: none;
    margin-top: 1.1em;
    margin-right: 1em;

    &:after {
	margin-left: 1em;
	content: ">";
	font-weight: bold;
    }
}
