{% extends "base.html" %}
{% load i18n %}
{% load compress %}
{% load sekizai_tags %}
{% load tagging_tags %}

{% block style %}
{% compress css %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/layout/project_base.css" />
{% endcompress %}
{% endblock %}

{% block meta_desc %}{{project_translation.about_section|truncatewords:60}}{% endblock %}

{% block extra_meta %}<meta property="og:url" content="{{ project_translation.master.get_absolute_url  }}" />{% endblock %}
{% block meta_keywords %}
    {% if project_translation %}
      {% tags_for_object project_translation.master as project_tags %}
         {% for tag in project_tags %}
           {% if not forloop.first %}, {% endif %}
           {{ tag.name }}
           {% if forloop.last %}, {% endif %}
         {% endfor %}
    {% endif %}
    {{ block.super }}
{% endblock meta_keywords%}

{% block title %}
{% if project_translation.title %}
{{project_translation.title|capfirst}} 
{% if project_translation.baseline %}
: {{ project_translation.baseline }}
{% endif %}
{% else %}
{% trans 'start a project'|capfirst %}
{% endif %}
| {{ site.name }}
{% endblock %}

{% block content %}	
{% addtoblock "js" strip %}
   <script>
   if (!window.console) console = {};
   if (!window.console.log) console.log = function () { };
   </script>
{% endaddtoblock %}
{% include "addthis.html" %}
{% if project_translation %}
    <script>
        // Addthis configuration
        var addthis_share = {
            templates : {
                twitter : "{{ project_translation.title }} : {{ project_translation.baseline }} | Imagination for People : http://imaginationforpeople.org{% language project_translation.language_code %}{% url project_sheet-show project_translation.slug %}{% endlanguage %} (via @ipvoices)"
            }
        };
    </script>
{% endif %}

{% addtoblock "css" strip %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/memberlist_square.css" />
{% endaddtoblock %}

{% include "project_sheet/block/subheader.html" %}

{% block navigation %}
{% include "project_sheet/block/menubar.html" %}
{% endblock %}

{% comment %}
{% include "project_sheet/block/toolbar.html" %}
{% endcomment %}

{% block misc_toolbar %}{% endblock %}

<div class="project-content">
{% block project_content %}{% endblock %}
</div>

{% endblock %}
