{% load i18n %}
{% load localeurl_tags %}
{% load compress %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml" lang="fr">
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <meta http-equiv="Content-Language" content="FR" /> 
    <meta name="keywords" content="Imagin:nation for people, i4p, social, innovation sociale" /> 
    <meta name="description" content="Imagination 4 People" /> 

    <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/i4p-ico.png" />

    <title>{% trans "Imagination for People" %}</title>

      {% compress css %}
      <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/grid.css" /> 
      <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style_beta.css" />
      <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery/colorbox.css" />
      {% endcompress %}
      
    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.5.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.colorbox.js"></script>
    {% endcompress %}

    {% block extra_head %}{% endblock %}
  </head>

  <body>

    <div class="global">
      <div class="header">
	<div class="container_18">
	  <div class="grid_18 alpha omega">
	    <div class="logo">
	      <a href="{% url privatebeta_invite %}">
		<img src="{{ STATIC_URL }}images/base/logo.png" alt="Imagination for People" border="0"/>
	      </a>
	    </div>
	    <div class="linkbox">   
	      {% block lang %}
	      {% for lang in LANGUAGES %}
	      <a href="{{ request.path|chlocale:lang.0 }}">{{ lang.1 }}</a>
	      {% endfor %}
	      {% endblock %}	
	    </div>
	    <div class="menu">            
	      <ul>
		<li><a href=".">{% trans "Detect, highlight and monetize social innovation that is truly disruptive." %}</a></li>
	      </ul>
	    </div>
	  </div>	
	</div>
      </div>


      <div class="nav">
	<div class="container_18">
	  <div class="grid_18 alpha omega">
	    <div class="nav-bg">
	      <div class="grid_6 alpha catchy">
		<h1>{% trans "About imagination for people" %}</h1>
		<p class="edito">
		  {% blocktrans %}
		  We believe in the virtue of civic imagination, imagination to serve the common good. Our filter is useful creativity or the imagination applied. 
		  {% endblocktrans %}
		</p>
		<a href="{% url manifesto %}" class="manifesto-link">{% trans "Manifesto" %} ></a>
		<a href="{% url project-description %}" class="manifesto-link">{% trans "Project description" %} ></a>
	      </div>
	      <div class="grid_12 omega">						
		<img src="{{ STATIC_URL }}images/teaser/teaser.png" alt="Imagination for People preview" />					
	      </div>
	    </div>		
	  </div>
	</div>
      </div>
      

      <div class="categories">        
	<div class="container_18">
	  <div class="grid_18 alpha omega">
	    <div class="menu">
	      <ul>
		<li class="selected"><div class="categ-button"><a href="#">{% trans "Featured" %}</a></div></li>
		<li><div class="categ-button"><a href="#">{% trans "Filters" %}</a></div></li>
		<li><div class="categ-button"><a href="#">{% trans "Help" %}</a></div></li>
		<li><div class="categ-button2"><a href="#">{% trans "<span class='georgia'>My</span> imagination for people" %}</a></div></li>
	      </ul>
	      <div class="search">
		<form action="#">
		  <input type="button" value="&nbsp;">
		    <input type="text" value="Search project" name="search" id="searchInput">						
		    </form>
		  </div>
		  <div class="toolbox">
		    <div class="tools-title georgia">{% trans "Node view" %}</div>
		    <div class="tools">
		      <a href="#"><img src="{{ STATIC_URL }}images/base/tool1.png" /></a>
		      <a href="#"><img src="{{ STATIC_URL }}images/base/tool2.png" /></a>
		      <a href="#"><img src="{{ STATIC_URL }}images/base/tool3.png" /></a>
		      <a href="#"><img src="{{ STATIC_URL }}images/base/tool4-selected.png" /></a>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	  
	  
	  <div class="content">        
	    <div class="container_18">
	      <div class="grid_18 alpha omega">
		<div class="paging">					
		  <a href="#"><img src="{{ STATIC_URL }}images/base/paging-on.png" /></a>
		  <a href="#"><img src="{{ STATIC_URL }}images/base/paging-off.png" /></a>
		  <a href="#"><img src="{{ STATIC_URL }}images/base/paging-off.png" /></a>
		</div>
		<div class="block-content"> 
		  {% block content %}{% endblock content %} 				
		</div>										
	      </div>
	    </div>
	    <div class="clear"></div>	
	  </div>


	  <div class="footer">
	    <div class="container_18">
	      <div class="grid_18 alpha omega">
		<div class="social-networks">		
		  <ul>
		    <li><a href="#"><img src="{{ STATIC_URL }}images/base/facebook-logo.jpg" alt="facebook" /></a></li>
		    <li><a href="#"><img src="{{ STATIC_URL }}images/base/twitter-logo.jpg"alt="twitter" /></a></li>
		  </ul>
		</div>
		<ul>
		  <li><a href="{% url manifesto %}">{% trans "Manifesto" %}</a></li>
          <li><a href="{% url userena_signin %}?next=/normal_index">{% trans 'log in'|capfirst %}</a></li>
          {#<li><a href="http://alpha.imaginationforpeople.com">{% trans "Alpha version" %}</a></li>#}
        </ul>

	      </div>
	    </div>
	  </div>

	</div>

<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push([ '_setAccount', 'UA-21778007-2' ]);
	_gaq.push([ '_trackPageview' ]);

	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl'
				: 'http://www')
				+ '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
</script>


      </body>
    </html>


