{% extends "privatebeta/base.html" %}
{% load i18n %}

{% block extra_head %}
  <script type="text/javascript">
    $(document).ready(function() {
       $('#feedback').colorbox({href: '{% url contact_form %}'});
    });
  </script>
{% endblock %}

{% block content %}		
	
	<div class="colonne grid_18 alpha omega">

		<h1>{% trans "Thanks for your interest" %}</h1>
		

		<p class="edito">
			{% blocktrans %}
			The team at Imagination for People would like to thank you for your interest as we embark upon this new adventure in the civic imagination. We are currently developing a Beta version of our site which we expect will be online in March of 2011. True to the spirit of Imagination for People, all of the programming, the design of the logo and the content is open source.<br /><br />
			As of March 2011, it will be your turn, should you be interested, to share your comments, improvements and interests so that the Imagination for People platform meets your expectations. <br /><br />
			We will keep you regularly informed as we advance during this short development period. Thank you for being part of the "early bird" IP community!<br /><br />
			- The Imagination for People team
			{% endblocktrans %}
		</p>

		<p>
		  <a id="feedback" href="#">{% trans "Click here to get in touch with us and leave a message"|capfirst %}</a>
		</p>
		
		<a href="{% url privatebeta_invite %}">&larr; {% trans "Back" %}</a>
		
	</div>
					
{% endblock %}
