@import "i4p/mixins";
@import "i4p/constants";
@import "i4p/fonts";

#workgroup-infos {
	height:164px;
	background:#e6e6e6;
	margin-left:0;
	position:relative;

	.span8, .span4 {
		height:164px;
		margin-left:0;
		position:relative;
	}

	.span8 {
		border-right:1px solid #dbdbdb;

		#workgroup-card {
			background: image-url('workgroup/group.png') no-repeat scroll left 10px transparent;
		    margin: 18px 0 0 240px;
		    padding: 0 0 0 65px;

		    h1 {
		    	color:black;
		    	text-transform:uppercase;
		    	font-size:2.2rem;

		    	a {
		    		color:black;
		    		font-style:normal;
		    		font-family:$fontOpenSans;
		    	}
		    }

		    .workgroup_desc {
		    	display: block;
			    font-family: $fontOpenSans;
			    font-size: 1.1rem;
			    height: 78px;
			    line-height: 1.5rem;
			    overflow: hidden;
			    padding: 5px 10px 0 0;
		    }
		}
	}

	.workgroup-lang {
		font-size:1.1rem;
		padding:15px 0 0 15px;
	}

	.members {
		padding:15px 0 0 15px;

		strong {
			padding:0 0 0 40px;
			background:image-url('workgroup/members.png') no-repeat center left;
			font-weight:bold;
			color:#706f6f;
			text-transform:uppercase;
			font-size:1.6rem;
			font-family:$fontOpenSans;
			display:block;

			span {
				color:#54a2da
			}
		}

		a {
			background: image-url('workgroup/black_arrow.png') no-repeat scroll right center transparent;
		    color: #242424;
		    font-size: 1rem;
		    margin: 3px 0 0 90px;
		    padding: 0 12px 0 0;
		}
	}
}

#workgroup-menubar {
  height:40px;
  line-height:40px;
  background:#D6D6D6;
  width:100%;
  
  ul {
    height:40px;
    margin:0;
    padding:0 0 0 10px;
    
    li {
      display:block;
      float:left;
      height:40px;
      padding:0 20px;
      
      a {
        display:block;
        float:left;
        height:40px;
        line-height:40px;
        color:#7F7F7F;
        font-weight:bold;
        font-family:$fontOpenSans;
        font-size:1.15rem;
      }
       
      &.active, &:hover {
        @include i4p-background-vertical-gradient(#4BB7E5, #3b90b5);
  
        a {
          color:white;
          text-decoration:none;
        }     
      }
    }
  }
}

#workgroup-detail {
	#workgroup-content {

		padding-top:10px;

		.wiki p {
			font-family:$fontOpenSans;
			font-size: 1.2rem;
		    line-height: 1.7rem;
		    padding: 0 10px 10px 0;
		    text-align: justify;
		}

		h3 {
			font-family:$fontOpenSans;
			font-stretch:condensed;
			font-size:1.6rem;
			text-transform:uppercase;
		}

		.shoutbox-box {
			padding-top:20px;

			h3 {
				padding-left:26px;
				background:image-url('workgroup/comments.png') no-repeat center left;
			}

			.shoutbox-form {

				background:#f2f2f2;
				padding: 10px 0 2px 10px;
				@include border-radius(5px,5px);

				form {
					label {
						clear: left;
					    display: block;
					    float: left;
					    font-size: 1.2rem;
					    height: 26px;
					    margin-bottom: 9px;
					    padding-right: 10px;
					    text-align: right;
					    width: 140px;
					    font-family: $fontOpenSans;
					    line-height:26px;

					    &[for="id_honeypot"] {
					    	display:none;
					    }
					}

					#id_honeypot {
						display:none;
					}

					input[type="text"] {
						width:370px;
						border-width:2px;
						font-style:italic;
					}

					textarea {
						width:370px;
						height:100px;
						border-width:2px;
						font-style:italic;
					}

					input[type="submit"] {
						margin:0 0 0 486px;
						background: #04add1; /* Old browsers */
						background: -moz-linear-gradient(top,  #04add1 0%, #378cc2 100%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04add1), color-stop(100%,#378cc2)); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(top,  #04add1 0%,#378cc2 100%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(top,  #04add1 0%,#378cc2 100%); /* Opera 11.10+ */
						background: -ms-linear-gradient(top,  #04add1 0%,#378cc2 100%); /* IE10+ */
						background: linear-gradient(to bottom,  #04add1 0%,#378cc2 100%); /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04add1', endColorstr='#378cc2',GradientType=0 ); /* IE6-9 */
						height:26px;
						border:0;
						color:white;
						@include border-radius(13px,13px);
						text-transform:uppercase;
						font-weight:bold;
						font-stretch:condensed;
						font-family:$fontOpenSans;
						padding:0 10px;
					}
				}
			}

			dl#comments {

				font-family: $fontOpenSans;

				dt {
				    font-size: 1.4rem;
				    font-stretch: condensed;
				    font-style: italic;
				}

				dd {
					margin-left:0;

					p {
						font-size:1.1rem;
						line-height:1.5rem;
						padding:5px 10px 5px 0;
						margin:0;
						font-family: $fontOpenSans;
					}
				}
			}
		}

		.group-projects h3 {
			padding-left:26px;
			background:image-url('workgroup/link.png') no-repeat center left;
		}
	}
}

#workgroup-header {
	background:#E6E6E6;

	// TODO : FIX AND LINK TO WORKGROUP HEADER BLOCK ONLY

	#workgroup-header-inner {
		margin:0 auto;
		width:960px;
	}
}