{% load i18n %}
{% load comments %}
{% load sekizai_tags %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/workgroup/block/grouplist_fancy_wide.css" />
{% endaddtoblock %}

<div class="project_workgroups">
	<h2>{% trans "Related Groups"|capfirst %}</h2>
	<!--<a class="seemore" href="#">{% trans "See all" %}</a>-->
	
	<ul>
		{% for group in project.workgroups.all %}
			<li>
				<a href="{% url workgroup-detail group.slug %}">
					<div>
						<span>{{ group.name }}</span>
						<p>
							{{ group.description|urlize }}
						</p>
					</div>
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
