{% load i18n %}
{% load sekizai_tags %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/workgroup/block/subscribe_button.css" />
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/workgroup/block/subscribe_button.js"></script>
{% endaddtoblock %}

<div id="subscribe-button">
{% if workgroup.outside_url %}
<a href="{{ workgroup.outside_url }}" target="_blank">
  <span>
    <div class="quit">
      {% trans "Open Group Page" %}
    </div>
  </span>
</a>
{% else %}
{% if not request.user in workgroup.subscribers.all %}
  <form method='GET' action='{% url workgroup-subscribe workgroup.slug %}'>
    {% csrf_token %}
    <button type='submit' class='button join'><span>{% trans 'Join the workgroup and follow the discussion' %}</span></button>
	   <input type="hidden" name='next_url' value="{{ request.path }}"/>
  </form>
{% else %}
  <form method='GET' action='{% url workgroup-unsubscribe workgroup.slug %}'>
    {% csrf_token %}
    <div class='quit'>
      <span>{% trans 'You are part of this group' %}</span><button original-title="{% trans 'Quit this group' %}" type="submit">{% trans 'Quit this group' %}</button>
  	  <input type="hidden" name='next_url' value="{{ request.path }}"/>
    </div>
  </form>
{% endif %}
{% endif %}
</div>
