{% load guardian_tags %}
{% load thumbnail %}
{% load i18n %}

{% if workgroup.picture %}
<img src="{% thumbnail workgroup.picture 960x300 crop %}"/>
{% else %}
<img src="{{ STATIC_URL }}images/workgroup/group_nopicture.jpg"/>
{% endif %}

<div id="workgroup-infos" class="row">
  <div class="span8">
    {% include "workgroup/block/workgroup_subscribers.html" %}
    {% include "workgroup/block/subscribe_button.html" %}
    
    <div id="workgroup-card">
      <h1 class="workgroup_title"><a href="{{ workgroup.get_absolute_url }}">{{ workgroup.name }}</a></h1>
      {% get_obj_perms request.user for workgroup as "workgroup_perms" %}
      {% if "change_workgroup" in workgroup_perms %}
      [<a href="{% url workgroup-edit workgroup.slug %}">{% trans "Edit Group" %}</a>]
      {% endif %}
      <span class="workgroup_desc">{{ workgroup.description|urlize }}</span>
    </div>
  </div>
  <div class="span4">
    <div class="workgroup-lang">
      {% trans "Spoken language :" %} {{ workgroup.get_language_display }}
    </div>
    <div class="members">
      <strong><span>{{ workgroup.subscribers.all|length}}</span> 
	{% if workgroup.mailing_list %}
	{% blocktrans with workgroup.subscribers.all|length|pluralize as member_plural and ml_nonmember_list|length as nonmember_count %}
	member{{ member_plural|add:nonmember_count }}
	{% endblocktrans %}
	{% else %}
	{% blocktrans with workgroup.subscribers.all|length|pluralize as member_plural %}
	member{{ member_plural }}
	{% endblocktrans %}
	{% endif %}
      </strong>
      <a href="{% url workgroup-members workgroup.slug %}">{% trans "See all" %}</a>
    </div>
  </div>
</div>
