{% load i18n %}
{% load sekizai_tags %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/workgroup/block/workgroup_subscribers.css" />
{% endaddtoblock %}

<div id="subscribers-list">
  <ul>
    {% for subscriber in workgroup.subscribers.all|slice:":25" %}
    <li><a href="{% url userena_profile_detail subscriber.username %}"><img class="tipsed" title="{{ subscriber.first_name }} {{ subscriber.last_name }}" src="{{ subscriber.get_profile.get_mugshot_url }}" width="40px" height="40px"/></a></li>
    {% endfor %}
  </ul>
</div>
