/**
 *  Mixins
 */
/***
 * IMPORTANT : CONSTANTS NAMING SCHEME
 *
 * The naming scheme is simple, your constants name must follow this rule :
 * "<typename>[<Targetname>]<Attributename>"
 * 
 * - <typename> could be "color", "size", "font", etc.
 *
 * - <targetname> is optional and could be any targetable CSS objects or
 *   properties like "text", "border", etc. 
 *
 * - <attributename> is a meaningful description of your constant, like "Blue",
 *   "LightBlue", "Small", "Huge", etc.
 */
/**
 * Old Colors (obsolete, please use new color naming scheme instead)
 */
/**
 * New colors
 */
/**
 * text sizes
 */
/**
 * font piles
 */
@font-face {
  font-family: 'OpenSansBold_obsolete';
  src: url('../../../fonts/opensans-bold-webfont.eot');
  src: url('../../../fonts/opensans-bold-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-bold-webfont.woff') format("woff"), url('../../../fonts/opensans-bold-webfont.ttf') format("truetype"), url('../../../fonts/opensans-bold-webfont.svg#OpenSansBold') format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansBoldItalic_obsolete';
  src: url('../../../fonts/opensans-bolditalic-webfont.eot');
  src: url('../../../fonts/opensans-bolditalic-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-bolditalic-webfont.woff') format("woff"), url('../../../fonts/opensans-bolditalic-webfont.ttf') format("truetype"), url('../../../fonts/opensans-bolditalic-webfont.svg#OpenSansBoldItalic') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansCondensedBold_obsolete';
  src: url('../../../fonts/opensans-condbold-webfont.eot');
  src: url('../../../fonts/opensans-condbold-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-condbold-webfont.woff') format("woff"), url('../../../fonts/opensans-condbold-webfont.ttf') format("truetype"), url('../../../fonts/opensans-condbold-webfont.svg#OpenSansCondensedBold') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular_obsolete';
  src: url('../../../fonts/opensans-regular-webfont.eot');
  src: url('../../../fonts/opensans-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-regular-webfont.woff') format("woff"), url('../../../fonts/opensans-regular-webfont.ttf') format("truetype"), url('../../../fonts/opensans-regular-webfont.svg#OpenSansRegular') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansItalic_obsolete';
  src: url('../../../fonts/opensans-italic-webfont.eot');
  src: url('../../../fonts/opensans-italic-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-italic-webfont.woff') format("woff"), url('../../../fonts/opensans-italic-webfont.ttf') format("truetype"), url('../../../fonts/opensans-italic-webfont.svg#OpenSansItalic') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansSemibold_obsolete';
  src: url('../../../fonts/opensans-semibold-webfont.eot');
  src: url('../../../fonts/opensans-semibold-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-semibold-webfont.woff') format("woff"), url('../../../fonts/opensans-semibold-webfont.ttf') format("truetype"), url('../../../fonts/opensans-semibold-webfont.svg#') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../../fonts/opensans-bold-webfont.eot');
  src: url('../../../fonts/opensans-bold-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-bold-webfont.woff') format("woff"), url('../../../fonts/opensans-bold-webfont.ttf') format("truetype"), url('../../../fonts/opensans-bold-webfont.svg#OpenSansBold') format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../../fonts/opensans-bolditalic-webfont.eot');
  src: url('../../../fonts/opensans-bolditalic-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-bolditalic-webfont.woff') format("woff"), url('../../../fonts/opensans-bolditalic-webfont.ttf') format("truetype"), url('../../../fonts/opensans-bolditalic-webfont.svg#OpenSansBoldItalic') format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../../fonts/opensans-condbold-webfont.eot');
  src: url('../../../fonts/opensans-condbold-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-condbold-webfont.woff') format("woff"), url('../../../fonts/opensans-condbold-webfont.ttf') format("truetype"), url('../../../fonts/opensans-condbold-webfont.svg#OpenSansCondensedBold') format("svg");
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../../fonts/opensans-regular-webfont.eot');
  src: url('../../../fonts/opensans-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-regular-webfont.woff') format("woff"), url('../../../fonts/opensans-regular-webfont.ttf') format("truetype"), url('../../../fonts/opensans-regular-webfont.svg#OpenSansRegular') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../../fonts/opensans-italic-webfont.eot');
  src: url('../../../fonts/opensans-italic-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-italic-webfont.woff') format("woff"), url('../../../fonts/opensans-italic-webfont.ttf') format("truetype"), url('../../../fonts/opensans-italic-webfont.svg#OpenSansItalic') format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../../fonts/opensans-semibold-webfont.eot');
  src: url('../../../fonts/opensans-semibold-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-semibold-webfont.woff') format("woff"), url('../../../fonts/opensans-semibold-webfont.ttf') format("truetype"), url('../../../fonts/opensans-semibold-webfont.svg#') format("svg");
  font-weight: 600;
  font-style: normal;
}

.tag-list {
  line-height: 1.5em;
  margin-top: 2em;
  margin-bottom: 2em;
}
.tag-list h2 {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  background-image: url('../../../images/tags/icon-tag-white-small.png?1346926954');
  background-position: 5px center;
  background-repeat: no-repeat;
  height: 16px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 0.92em;
  display: inline;
  color: white;
  float: left;
  background-color: #535353;
  padding-left: 20px;
  padding-right: .5em;
  margin: 0;
  margin-right: .25em;
}
.tag-list ul {
  display: block;
  list-style: none;
  margin-left: 0.5em;
}
.tag-list ul:after {
  content: "";
  clear: both;
}
.tag-list ul li {
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  display: block;
  float: left;
  background-color: #c9c9c9;
  color: #535353;
  margin-bottom: 4px;
  margin-right: 8px;
  height: 16px;
  padding-left: 5px;
  padding-right: 5px;
  font-style: italic;
  font-weight: bold;
  font-size: 0.92em;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  position: relative;
}
.tag-list ul li a {
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  font-size: 100%;
  color: inherit;
  margin-right: 0.2em;
  text-decoration: none;
}
.tag-list ul li:first-child:before {
  display: inline;
  border-left: none;
}
.tag-list ul li:before {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  display: inline;
  position: absolute;
  content: "";
  top: 0;
  width: 0;
  height: 0;
  left: -5px;
  border-left: 5px solid transparent;
  border-top: 8px solid #c9c9c9;
  border-bottom: 8px solid #c9c9c9;
}
.tag-list ul li:after {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  position: absolute;
  content: "";
  top: 0;
  right: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid #c9c9c9;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.tag-list ul li:hover {
  background-color: #8e8e8e;
  color: #f2f2f2;
}
.tag-list ul li:hover:before {
  border-top-color: #8e8e8e;
  border-bottom-color: #8e8e8e;
}
.tag-list ul li:hover:after {
  border-left-color: #8e8e8e;
}
