{% spaceless %}

{% if receiving_user %}
{% trans %}Dear{% endtrans %} {{receiving_user.get_full_name_or_username()}},
{% endif %} 

{% if update_author %}
<a href="http://imaginationforpeople.org/{{update_author.get_absolute_url()}}">
	{{update_author.get_full_name_or_username()}}
</a>
{{user_action}}
{% endif %}

{% if post %}
<a href="http://imaginationforpeople.org/{{post.get_absolute_url()}}">
{{post_type}}
</a>
{% endif %}

{{ content_preview }}
{% trans %}<p>Sincerely,<br/>The Imagination for People support team</p>{% endtrans %}
{% endspaceless %}