{% extends "two_column_body.html" %}
{% import "macros.html" as macros %}
<!-- question_edit.html -->
{% block title %}{% spaceless %}{% trans %}Edit question{% endtrans %}{% endspaceless %}{% endblock %}
{% block forestyle %}
    <link rel="stylesheet" type="text/css" href="{{"/js/wmd/wmd.css"|static_url}}" />
{% endblock %}
{% block content %}
<div class="section-title">{% trans %}Edit question{% endtrans %} <a href="{{ question.get_absolute_url() }}">({% trans %}back{% endtrans %})</a></div>
<form id="fmedit" action="{% url edit_question question.id %}" method="post" >{% csrf_token %}

    {% if revision_form.revision.errors %}{{ revision_form.revision.errors.as_ul() }}{% endif %}
    <div style="vertical-align:middle">
    {{ revision_form.revision }} <input type="submit" style="display:none"
                                        id="select_revision" name="select_revision" 
                                        value="{% trans %}select revision{% endtrans %}">
    </div> 
    {{
        macros.edit_post(
                    form,
                    post_type='question',
                    edit_title=True,
                    mandatory_tags = mandatory_tags,
                    user = request.user
                )
    }}
    <div class="after-editor">
        <div class="question-options">
            {% if settings.WIKI_ON and question.wiki == False %}
                {{ macros.checkbox_in_div(form.wiki) }}
            {% endif %}
            {% if form.can_stay_anonymous() %}
                {{ macros.checkbox_in_div(form.reveal_identity) }}
            {% endif %}
        </div>
        <input type="submit" value="{% trans %}Save edit{% endtrans %}" class="submit" />&nbsp;
        <input type="button" value="{% trans %}Cancel{% endtrans %}" class="submit" onclick="history.back(-1);" />

    </div>
</form>
{% endblock %}

{% block sidebar %}
{% include "widgets/question_edit_tips.html" %}
{% endblock %}

{% block endjs %}
    {% include "meta/editor_data.html" %}
{% endblock %}
<!-- end question_edit.html -->
