.project
.pydevproject
*.db
*.pyc
*~
build
src
lib
media
*.mo
*,cover
#*.py
.#*
\#*\#
#*.html
*~
media/.sass-cache
i4p_index/
*.swp
.coverage
site_settings.py
pip-log.txt
.settings
docs/_build/*
media/*
vendor/bundle
.bundle
Gemfile.lock
/static/compiled_sass/
/static/compiled_images/
