django==1.4
psycopg2==2.4.1
south==0.7.5
pygraphviz==1.1

django-extensions==1.0.0

django-countries==1.0.5

django-tagging==0.3.1
django-autoslug==1.4.1
django-autocomplete-light==1.1.13

easy-thumbnails==1.0.3

# Django cms 2.3rc2.post0
-e git://github.com/ImaginationForPeople/django-cms.git@dj14#egg=django-cms

# Wiki
-e git://github.com/benjaoming/django-wiki.git@64a22a81807898f3fb1d60c86a9c13bb26fe4ac8#egg=django-wiki

-e git://github.com/CommOnEcoute/cmsplugin_facebook.git@6c92c68533bbcff98cff57bd48278cfd773473ac#egg=cmsplugin-facebook

-e git://github.com/divio/cmsplugin-iframe.git@8427d128d8bdadc276ce19b433f46792b8b3a0d8#egg=cmsplugin-iframe

# Show everybody actions in admin
-e git+https://github.com/vaal-/django-logentry-admin.git@654bf834bb2593b074222a114a3984d873e68bde#egg=django-logentry-admin

cmsplugin-contact==1.0.0
    
django-imagekit==0.3.6
Pillow==1.7.4

django-serializers==0.5.1

whoosh==1.8.4
# Haystack 2.0.0-beta
-e git://github.com/toastdriven/django-haystack.git@master#egg=django-haystack

django-voting==0.1
django-annoying==0.7.4

django-robots==0.8.0
django-honeypot==0.3.0

django-tinymce==1.5.1a2
-e git+https://github.com/smacker/django-filebrowser-no-grappelli-for-django13.git@17eee97ac7d58de76bef851b092625dcec8e5b2b#egg=django-filebrowser
-e git+https://github.com/tstone/django-uploadify.git@5d9ba2f6ed0687d2c8d74eb2a57edc578d0ffb0a#egg=django_uploadify

# Python < 2.7 compatibility
ordereddict==1.1

django-sekizai==0.7

BeautifulSoup
lxml
html5lib
django-ajax-selects==1.2.3
django-ajaxcomments==0.2
linaro-django-pagination==2.0.2
-e git://github.com/simonz05/django-tabs.git@11561e13047a96e1a074754581b877b49c83ae8b#egg=django-tabs

-e git://github.com/ImaginationForPeople/emencia-django-newsletter.git@master#egg=emencia.django.newsletter

django_compressor==1.2

#-e git+https://github.com/jtauber/django-notification.git@555b506a3e225d476d17939d8b43f853fd0226ec#egg=django-notification
-e git+https://github.com/liberation/django-notification.git@75867589ad63078cba8271d228920a66a02833b0#egg=django-notification
-e hg+https://bitbucket.org/atiberghien/django-licenses@365f65fa7148312372783af370e37f80bd3787d5#egg=django-licenses

-e git+https://github.com/ImaginationForPeople/django-oembed-works#egg=django-oembed-works
#django-userena==1.2.0
#Recent snapshot, fixes missing messages
-e git://github.com/bread-and-pepper/django-userena.git@13edb3cd5613cc022d5f887f734b36f0e3c7256c#egg=django-userena
django-social-auth==0.6.9

-e git+https://github.com/jorgebastida/django-dajaxice.git@d5a70654fbcd7241fbdfaf5a89fea2746cd25369#egg=django-dajaxice
-e git+https://github.com/jorgebastida/django-dajax.git@510a6c3e267ce7b2a5423a7e8bcca191956247ed#egg=django-dajax

-e git+https://github.com/SpreadBand/django-backcap.git@master#egg=django-backcap

django-reversion==1.6.5

# django-mailman
-e git://github.com/ImaginationForPeople/django-mailman.git#egg=django-mailman

-e git+git://github.com/callowayproject/django-categories.git@1.1.3#egg=django-categories

# For Sentry
raven==2.0.3

django-hvad==0.2

feedparser==5.1.2
-e git+https://github.com/justquick/django-template-utils.git#egg=django-template-utils
django-simplegravatar==0.2

-e hg+https://bitbucket.org/andrewnelis/django-dynamicsites@e3c6cad807f0#egg=django-dynamicsites

# Askbot
-e hg+https://atiberghien@bitbucket.org/atiberghien/django-keyedcache#egg=django-keyedcache
-e git://github.com/ImaginationForPeople/askbot-devel.git@0ea4fc253c3b8dae883afbd759da1d4d1c45dba9#egg=askbot

# Zinnia blog
-e git://github.com/Fantomas42/django-blog-zinnia.git@v0.12.1#egg=django-blog-zinnia
-e git://github.com/Fantomas42/cmsplugin-zinnia.git@3790581ae8f669ad37dcdaedf86ee6ca61e1d06b#egg=cmsplugin-zinnia

# REST API
-e git://github.com/ImaginationForPeople/django-tastypie.git@2794c04f568c417279b2a48381e85b87cbec7274#egg=django-tastypie

# Google diff patch
diff-match-patch==20120106

# Our version of actstream, patched to register models manually
-e git://github.com/ImaginationForPeople/django-activity-stream.git@master#egg=django-activity-stream

# Testing tools
coverage<3.4
lettuce==0.1.27
django-nose==0.1.3
pylint
-e git+https://github.com/cmheisel/nose-xcover.git@d19650235ac95839481d05bd8867afe486fea5c3#egg=nosexcover
-e git+https://github.com/lamby/django-lint.git@b3a67edce69da9f532dfa0c1624c835b6a51fafb#egg=django-lint

# Dev tools
pyparsing==1.5.6
werkzeug
django-debug-toolbar
sphinx
dozer==0.1

