django==2.2.24
psycopg2==2.4.1
south==0.7.5
pygraphviz==1.1

django-extensions==1.0.0

django-countries==1.0.5

django-tagging==0.3.1
django-autoslug==1.4.1
django-autocomplete-light==1.1.13

easy-thumbnails==1.0.3

# Django cms
#-e git://github.com/imaginationforpeople/django-cms.git@support/2.4.x#egg=django-cms
-e git://github.com/ImaginationForPeople/django-cms.git@601ee31eb37c96b50b4d559e275688f8ff9eabd7#egg=django-cms

# Wiki
-e git://github.com/benjaoming/django-wiki.git@alpha/0.0.23#egg=django-wiki

-e git://github.com/ImaginationForPeople/cmsplugin_facebook.git@6c92c68533bbcff98cff57bd48278cfd773473ac#egg=cmsplugin-facebook

-e git://github.com/divio/cmsplugin-iframe.git@8427d128d8bdadc276ce19b433f46792b8b3a0d8#egg=cmsplugin-iframe

-e git://github.com/changer/cmsplugin-twitter.git@5806f912ebd79da0e195566a8ebc57a903b0661c#egg=cmsplugin-twitter

# Show everybody actions in admin
-e git+https://github.com/vaal-/django-logentry-admin.git@654bf834bb2593b074222a114a3984d873e68bde#egg=django-logentry-admin

cmsplugin-contact==1.0.0
    
django-imagekit==0.3.6
Pillow==1.7.4

django-serializers==0.5.1

whoosh==2.4.1
#That's pretty far from current pysolr...
pysolr==2.1.0-beta
# Haystack 2.0.0
#-e git://github.com/toastdriven/django-haystack.git@v2.0.0#egg=django-haystack
-e git://github.com/fsw/django-haystack.git@47482755bf09a9e07aaa2d2a74902c3c2f22267c#egg=django-haystack

django-voting==0.1
django-annoying==0.7.4

django-robots==0.8.0
django-honeypot==0.3.0

django-tinymce==1.5.1
-e git://github.com/smacker/django-filebrowser-no-grappelli-django14.git@02cd12aba08cbebeadf2490231c07057ab90978f#egg=django-filebrowser
-e git+https://github.com/tstone/django-uploadify.git@f30066dacee0e69ce21842d5c40f09ba31dbc048#egg=django_uploadify

# Python < 2.7 compatibility
ordereddict==1.1

django-sekizai==0.7

beautifulsoup4
BeautifulSoup
lxml
html5lib
django-ajax-selects==1.2.3
django-ajaxcomments==0.2
linaro-django-pagination==2.0.2
-e git://github.com/simonz05/django-tabs.git@11561e13047a96e1a074754581b877b49c83ae8b#egg=django-tabs

-e git://github.com/ImaginationForPeople/emencia-django-newsletter.git@master#egg=emencia.django.newsletter

django_compressor==1.2

#-e git+https://github.com/jtauber/django-notification.git@555b506a3e225d476d17939d8b43f853fd0226ec#egg=django-notification
-e git+https://github.com/liberation/django-notification.git@75867589ad63078cba8271d228920a66a02833b0#egg=django-notification
-e hg+https://bitbucket.org/atiberghien/django-licenses@365f65fa7148312372783af370e37f80bd3787d5#egg=django-licenses

-e git+https://github.com/ImaginationForPeople/django-oembed-works#egg=django-oembed-works
#django-userena==1.2.0
#Recent snapshot, fixes missing messages
-e git://github.com/bread-and-pepper/django-userena.git@13edb3cd5613cc022d5f887f734b36f0e3c7256c#egg=django-userena
django-social-auth==0.6.9

-e git+https://github.com/jorgebastida/django-dajaxice.git@d5a70654fbcd7241fbdfaf5a89fea2746cd25369#egg=django-dajaxice
-e git+https://github.com/jorgebastida/django-dajax.git@510a6c3e267ce7b2a5423a7e8bcca191956247ed#egg=django-dajax

-e git+https://github.com/SpreadBand/django-backcap.git@25b2b07b53f23956d481d6276bf505d962c7266a#egg=django-backcap

django-reversion==1.6.6

# django-mailman
-e git://github.com/ImaginationForPeople/django-mailman.git#egg=django-mailman

-e git+git://github.com/callowayproject/django-categories.git@1.1.3#egg=django-categories

# For Sentry
raven==2.0.3

-e git+https://github.com/ImaginationForPeople/django-hvad.git@master#egg=django-hvad

feedparser==5.1.2
-e git+https://github.com/justquick/django-template-utils.git#egg=django-template-utils
django-simplegravatar==0.2

-e hg+https://bitbucket.org/uysrc/django-dynamicsites@e3c6cad807f0#egg=django-dynamicsites

# Askbot
-e hg+https://atiberghien@bitbucket.org/atiberghien/django-keyedcache#egg=django-keyedcache
-e git://github.com/atiberghien/askbot-devel.git@48be3c776e218bb47b195365bfc66fe6f5470096#egg=askbot
django-lamson==0.1.0.beta

# Zinnia blog
#-e git://github.com/Fantomas42/django-blog-zinnia.git@v0.12.3#egg=django-blog-zinnia
-e git://github.com/benoitg/django-blog-zinnia.git@b6e2187ee65566550775fcba9a33f2c17f68769d#egg=django-blog-zinnia
-e git://github.com/Fantomas42/cmsplugin-zinnia.git@3790581ae8f669ad37dcdaedf86ee6ca61e1d06b#egg=cmsplugin-zinnia

# REST API
-e git://github.com/ImaginationForPeople/django-tastypie.git@d5085eb1f142d7b2a6c5c1250bf3766b9cf986fe#egg=django-tastypie

# Google diff patch
diff-match-patch==20120106

# Our version of actstream, patched to register models manually
-e git://github.com/ImaginationForPeople/django-activity-stream.git@master#egg=django-activity-stream
#-e git+https://github.com/justquick/django-activity-stream.git@master#egg=django-activity-stream

# GIS/mapping tools
-e git://github.com/benoitg/geopy.git@7ab1b236fc2f36ec20e482c7574074d9fcb36b9e#egg=geopy
django-leaflet==0.5.1
django-floppyforms==1.1
# Do NOT specify a version here, as the appropriate one depends on your GDAL version
#GDAL
#On ubuntu saucy, you need:
# export CPLUS_INCLUDE_PATH=/usr/include/gdal
# export C_INCLUDE_PATH=/usr/include/gdal
# pip install GDAL==1.9.1

# Prod deployment tools
python-memcached

# Testing tools
coverage<3.4
lettuce==0.1.27
django-nose==0.1.3
pylint
-e git+https://github.com/cmheisel/nose-xcover.git@d19650235ac95839481d05bd8867afe486fea5c3#egg=nosexcover
-e git+https://github.com/lamby/django-lint.git@b3a67edce69da9f532dfa0c1624c835b6a51fafb#egg=django-lint

# Dev tools
pyparsing==1.5.6
werkzeug
#django-debug-toolbar
-e git+https://github.com/benoitg/django-debug-toolbar.git@master#egg=django-debug-toolbar
sphinx
dozer==0.1
django-mptt==0.5.5

django-cors-headers==0.12
