django==1.2.4
south==0.7.3

coverage<3.4
lettuce
django-nose
pylint
django-extensions
werkzeug
django-debug-toolbar

-e git+git://github.com/bread-and-pepper/django-userena.git#egg=userena
-e git+https://github.com/cmheisel/nose-xcover.git#egg=nosexcover
-e git+https://github.com/SpreadBand/django-privatebeta.git#egg=django-privatebeta
