# Sample site configuration
# Edit as needed

DEBUG = True
TEMPLATE_DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'imaginationforpeople', # Or path to database file if using sqlite3.
        'USER': 'imaginationforpeople', # Not used with sqlite3.
        'PASSWORD': 'plop', # Not used with sqlite3.
        'HOST': '', # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '', # Set to empty string for default. Not used with sqlite3.
    }
}

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash if there is a path component (optional in other cases).
# Examples: "http://media.lawrence.com", "http://example.com/media/"
MEDIA_URL = 'http://imaginationforpeople.org/site_media/'

FACEBOOK_APP_ID = "TO_COMPLETE"
FACEBOOK_API_SECRET = "TO_COMPLETE"

GOOGLE_OAUTH2_CLIENT_ID = "TO_COMPLETE"
GOOGLE_OAUTH2_CLIENT_SECRET = "TO_COMPLETE"

# Dynamicsites
ENV_HOSTNAMES = {
# examples useful for testing dynamicsites
# see settings.HOSTNAME_REDIRECTS
    'example.dev':           'example.com',
    'example2.dev':          'example2.com',
    'other.example2.dev':    'other.example2.com',
}