# Sample site configuration
# Edit as needed

DEBUG = True
TEMPLATE_DEBUG = True

### HAYSTACK
# We use Whoosh in dev env and SolR in prod/staging. If you want to force SolR in debug env, set USESOLR = True
USESOLR = True
# Un-comment this to test static files, javascript and css compression, and 
# 404 and 500 pages locally:
#COMPRESS_ENABLED = True 

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'imaginationforpeople', # Or path to database file if using sqlite3.
        'USER': 'imaginationforpeople', # Not used with sqlite3.
        'PASSWORD': 'plop', # Not used with sqlite3.
        'HOST': '', # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '', # Set to empty string for default. Not used with sqlite3.
    }
}

# If set, OVERRIDE_CACHE_BACKEND will unconditionally change the cache backends
# to the one set in, in OVERRIDE_CACHE_BACKEND, including when DEBUG=True.  This 
# is used for two purposes:
# 1- To change the backend in development from the DummyCache backend to debug 
# cache problems 
# 2- To change the backend in production from the LocMemCache default (typically
# to MemcacheD.
# Default value: None
# Usefull values:
# {'BACKEND': 'django.core.cache.backends.dummy.DummyCache'}
# {'BACKEND': 'django.core.cache.backends.locmem.LocMemCache'}
# {'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache', 'LOCATION': '127.0.0.1:11211',}
#
# OVERRIDE_CACHE_BACKEND = {'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache', 'LOCATION': '127.0.0.1:11211',}

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash if there is a path component (optional in other cases).
# Examples: "http://media.lawrence.com", "http://example.com/media/"
# If you're using a dev server, just use '/site_media/'
MEDIA_URL = 'http://imaginationforpeople.org/site_media/'

#Optional, leave None if you don't have/don't want to use a AddThis account.
#Addthis will still work without it
ADDTHIS_USERNAME = None

FACEBOOK_APP_ID = "TO_COMPLETE"
FACEBOOK_API_SECRET = "TO_COMPLETE"

# Optional, leave None if you don't have a google analytics account
GOOGLE_ANALYTICS_ACCOUNT = None #Example:  UA-21778007-2

GOOGLE_OAUTH2_CLIENT_ID = "TO_COMPLETE"
GOOGLE_OAUTH2_CLIENT_SECRET = "TO_COMPLETE"

## Dynamicsites
DEFAULT_HOST = 'imaginationforpeople.org'
HOSTNAME_REDIRECTS = {
    'example.dev':           'example.com',
    'example2.dev':          'example2.com',
    'other.example2.dev':    'other.example2.com',
}

# Use this for developement aliases
ENV_HOSTNAMES = {
  'localhost': 'imaginationforpeople.org',
}

# If you need error reporting via Raven, configure this
# RAVEN_CONFIG = {
#     'dsn': 'http://public:secret@example.com/1',
# }
