{% extends "project_sheet/layout/project_base.html" %}
{% load i18n extra_tags humanize%}

{% block style %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}style/forum_tags.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}style/forum_question.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}style/forum_question_list.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}style/forum_widgets.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_support.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/wmd/wmd.css" />
{% endblock %}

{% block extra_body_class %}{{block.super}} question-page{% endblock %}

{% block extra_script %}
{{block.super}}
{% include_jinja "meta/html_head_javascript.html" request %}
{% include_jinja "question/head_javascript.html" request%}
{% endblock %}

{% block project_content %}
<div class="container">        
    <div class="row">
    <div class="span8 project-main">
    {% include_jinja "question/content.html" request%}
    </div>
    <div class="span4 project-sidebar"> 
    {% include_jinja "question/sidebar.html" request%}
    </div>
    </div>
</div>
{% endblock %}

{% block inline_js %}
{{block.super}}
{% include_jinja "meta/bottom_scripts.html" request%}
{% include_jinja "question/bottom_javascript.html" request %}
{% endblock %}