{% extends "project_sheet/layout/project_base.html" %}
{% load i18n %}
{% load sekizai_tags %}

{% block content %}
{{block.super}}
{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/project_support/page/support_form.css" />
{% endaddtoblock %}
{% endblock %}

{% block project_content %}
<div class="container">        
    <div class="row">
   	 	<div class="span8 project-main">
	    	<div id="support-form">
	    		{% block inner_form %}
	    		<h1>{% trans 'Please explain your need here'%}</h1>
	    		<div class="wrap-form">
			        <form action="." method="post">{% csrf_token %}
			        	{{ form.as_p }}
			        	{% if request.user.is_authenticated %}
			       	 	<input type="submit" value="{% trans 'submit'%}">
			       	 	{% else %}
			       	 	<a href="{% url userena_signin %}?next={{request.get_full_path}}">{% trans 'First signin' %}</a>
			       	 	{% endif%}
			        </form>
			    </div>
			    {% endblock %}
	    	</div>
	    </div>
    </div>
</div>
{% endblock %}