{% comment %}

Parameters for this block
=========================

* person : ?

{% endcomment %}
{% load i18n %}
{% load word_boundary_aware_truncate_chars %}

<div class="person">
	<img class="avatar" src="{{ person.user.get_profile.get_mugshot_url }}" />
	<a class="fullname" href="{{ person.user.get_profile.get_absolute_url }}">{{ person.user.get_profile.get_full_name_or_username }}</a>
	<a class="project" href="{{ person.project.get_absolute_url }}" data-memberof-str="{% trans "Member of : " %}">{{ person.project }}</a>
</div>
