{% comment %}

Parameters for this block
=========================

* project_translation : I4pProjectTranslation

{% endcomment %}
{% load i18n %}
{% load word_boundary_aware_truncate_chars %}

<div class="summary" data-action-1="{% trans "See the project" %}" />
	<h2 class="title">{{ project_translation.title }}</h2>
	<p class="description">
		{% if project_translation.baseline|slice:"-1" != "." %}
		{{ project_translation.baseline|add:'.'|truncatechars:70 }}
		{% endif %}
		{%comment%}{{ project_translation.baseline|truncatechars:70 }{%endcomment%}
	</p>
</div>

<div class="card" >
	<div class="photo">	
		{% if project_translation.project.pictures.all|length > 0 %}
		<img src="{{ project_translation.project.pictures.all.0.thumbnail_idcard.url }}" alt=""/>
		{% endif %}
	</div>

	<div class="progress">
		<p class="status progressbar-{{project_translation.project.status|lower }}">{{ project_translation.project.get_status_display }}</p>
	</div>

	<!-- FIXME: replace with an elegant CSS theme instead of an hardcoded image -->
	<div class="pictos">
		{% if project_translation.project.members.count > 0 %}
		<div class="picto-team"></div>
		{% endif %}
		{% ifequal project_translation.completion_progress "EDIT" %}
		<div class="picto-editing"></div>
		{% endifequal  %}
		{% if project_translation.project.best_of %}
		<div class="picto-bestof"></div>
		{% endif %}
	</div>

	<div class="location">
		{% if project_translation.project.location.country %}
		{{project_translation.project.location.get_country_display|truncatewords:2|capfirst}}
		<img src="{{ project_translation.project.location.country.flag }}" class="flag" title="{{ project_translation.project.location.get_country_display }}" alt="{{ project_translation.project.location.get_country_display }}"/>
		{% else %}

		{% endif %}
	</div>	

	{% if project_translation.project.topics.all.0 %}
	<!-- FIXME: replace with an elegant CSS theme instead of an hardcoded image -->
	<div class="topic topic-{{ project_translation.project.topics.all.0.topic.slug }}">
		<img src="{{ STATIC_URL }}images/{{ site.folder_name }}/topics/{{ project_translation.project.topics.all.0.topic.slug }}-mini.png" alt="{{ project_translation.project.topics.all.0.topic.label }}" title="{{ project_translation.project.topics.all.0.topic.label }}" />
	</div>
	{% endif %}
</div>

