{% extends "base.html" %}
{% load i18n %}
{% load compress %}

{% block style %}
    {% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/black_page.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/error_pages.css" />
    {% endcompress %}
{% endblock %}


{% block content %}	
<div class="content">
    <div class="container">

        <div id="error_page" class="page404">
            <div id="error_page_content">
                <h1>{% trans "Ooops!" %} </h1>
                <br /> 
                <p>
                    {% trans "It seems the page you are looking for doesn't exist..." %}<br />
                    {% trans "Have you tried using the search engine ?" %}<br />
                    <br />
                </p>
                <a class="link" href="{% url i4p-index %}">{% trans "Back to home &gt;" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


