{% extends "base.html" %}
{% load i18n %}
{% load compress %}

{% block style %}
    {% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/black_page.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/error_pages.css" />
    {% endcompress %}
{% endblock %}

{% block extra_head %}
  {{ block.super }}
{% endblock %}

{% block content %}	
<div class="content">
    <div class="container">
        <div id="error_page" class="page500">
            <div id="error_page_content">
                <h1>{% trans "Ooops!" %} </h1>
                <br />
                <p>
                    {% trans "The page you requested encountered an error" %}<br />
                    {% trans "Thank you try again later." %}<br />
                    <br />
                </p>
                <a class="link" href="/">{% trans "Back to home &gt;" %}</a>
            </div>
        </div>

        <div class="clear"></div>

    </div>	

{% endblock %}

{% block footer %} {% endblock %}
