{% load i18n %}
{% load compress %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml" lang="fr">
  <head>  
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}" /> 
    <meta name="keywords" content="Imagin:nation for people, i4p, social, innovation sociale" /> 
    
    <meta name="description" content="{% block meta_desc %}{% trans 'Imagination for People (IP) is a multilingual, Wikipedia-like open platform dedicated to disruptive social innovation. At a global scale, IP aims to detect, publicize, amplify and adapt creative solutions to the new challenges of living together.' %}{% endblock %}" /> 
    <title>{% block title %}Imagination for People | {% trans 'detect, highlight and monetize social innovation'|capfirst%}{% endblock %}</title>


    {% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/grid.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/generals.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/buttons.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery/tipsy.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/backcap.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/support-panel.css" media="screen, projection" />
    {% endcompress %}

    {% block style %}
      {% compress css %}
      <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/white_page.css" />
      {% endcompress %}
    {% endblock %}

    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/buttons.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.slidePanel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.tipsy.js"></script>
    {% endcompress %}
    
    {% if not debug %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21778007-2']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% endif %}

    <!-- Support panel -->
    <script type="text/javascript">
      $(document).ready(function(){
	  $('#feedback').slidePanel({
	      triggerName: '#feedback-trigger',
	      position: 'fixed',
	      triggerTopPos: '150px',
	      panelTopPos: '0px',
	      ajax: false
	  });
          var more = $('#feedback-tab textarea');
          more.hide();
          $('#feedback-tab #subject a.link').click(function() { more.fadeIn('fast'); });
      });
    </script>


    <script type="text/javascript">
      $(document).ready(function() {
	 $('.tipsed').tipsy({delayIn: 600});
      });
    </script>


    
    {% block extra_head %}{% endblock %}
    

  </head>


  <body>
    
    <div id="beta-logo"></div>
    
    <div class="global">   
    
      {% block header %} {% include "header.html" %} {% endblock %}			
      <!-- insert a test here ; in function of the type of the page (nav ou view) the nav nis not the same ( bubble_nav / basic nav)   -->
      {% block nav %} {% include "bubble_nav.html" %} {% endblock %}
      
      {% if user.is_authenticated %}
      <div>
	<a href="#" id="feedback-trigger" class="trigger right">{% trans "Feedback" %}</a>
	<div id="feedback" class="feedback-panel right">
	  {% include 'backcap/feedback_tab.html' %}
	</div>
      </div>
      {% endif %}

      
      {% block content %}<br /><br /><br /><br /><br />{% endblock %}	


      {% block footer %} {% include "footer.html" %} {% endblock %}


    </div>

  </body>

</html>

