{% load i18n %}
{% load compress %}
{% load sekizai_tags %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">  

<head>  
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}" /> 
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="keywords" content="{% block meta_keywords %}Imagination for people, i4p, social, innovation sociale{% endblock %}" /> 
    <meta name="author" content="{{ site }}" />
    <meta name="description" content="{% block meta_desc %}{% trans 'Imagination for People (IP) is a multilingual, Wikipedia-like open platform dedicated to disruptive social innovation. At a global scale, IP aims to detect, publicize, amplify and adapt creative solutions to the new challenges of living together.' %}{% endblock %}" /> 
    {% block extra_meta %}{% endblock %}

    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon.ico">
    {% block extra_link %}{% endblock %}

    <title>{% block title_prefix %}{% endblock %}{% block title %}{{ site.name }} | {% trans 'identify and support imaginative social projects'|capfirst%}{% endblock %}</title>

    {% compress css %}
    {% block base_grid %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/grid/960gs-18cols.css" />
    {% endblock %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/common/fonts.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/i4p_base/header.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/i4p_base/footer.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/generals.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery/tipsy.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/i4p_base/backcap/backcap.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/support-panel.css" media="screen, projection" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/login-slide.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/i4p_base/superfish_main_menu.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/i4p_base/block/modal.css" />
    {% endcompress %}

    {% block style %}
      {% compress css %}
      <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/white_page.css" />
      {% endcompress %}
    {% endblock %}

    <!-- render_block "css" -->
    {% render_block "css" postprocessor "apps.i4p_base.sekizai_postprocessors.compress" %}
    <!-- /render_block "css" -->
    <!-- render_block "ipcss" -->
    {% render_block "ipcss" postprocessor "apps.i4p_base.sekizai_postprocessors.compress" %}
    <!-- /render_block "ipcss" -->
    
    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.2.js"></script>
	<script type="text/javascript">
		var I4P_STATIC_URL="{{STATIC_URL}}";
	</script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.reject.js"></script>
	<!-- PLEASE: i4p-prefix & document overloaded classes <script type="text/javascript" src="{{ STATIC_URL }}js/buttons.js"></script> -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.slidePanel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.tipsy.js"></script>
    <!--<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/slide.js"></script>-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/csrf-protection.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.example.js"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ba-throttle-debounce.js"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}js/pure.js"></script> 
    		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/hoverIntent.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/superfish.js"></script>
    {% endcompress %}


    <!-- for i18n -->
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog "i4p_base" %}"></script>
    <script type="text/javascript">
		//FIXME: please use uppercase for constant 
		var i4p_globalsearch_complete_url = "{% url i4p-globalsearch-complete %}";
    </script>										       
	<script type="text/javascript">
	$.getScript(I4P_STATIC_URL+"js/base/panels.js");  
	</script>

    {% render_block "js" postprocessor "apps.i4p_base.sekizai_postprocessors.compress" %}
	<!-- FIXME: do not enable until directive/compile is fixed
	<script type="text/javascript" src="{{ STATIC_URL }}js/search.js"></script>
	-->

    <script type="text/javascript">
		//FIXME: move IE-reject functions into an async-loaded js/i4p/ie-reject.js library
      $(document).ready(function(){
      
        // Reject for old browsers
        $.reject({reject: {msie5: true,
                msie6: true,
                msie7: true
                },
            imagePath: "{{ STATIC_URL}}images/browsers/",
            header: "{% trans 'Did you know that your Internet Browser is out of date?'|escapejs %}",
            paragraph1: "{% trans 'Your browser is out of date, and may not be compatible with our website. A list of the most popular web browsers can be found below.'|escapejs %}",
            paragraph2: "{% trans 'Just click on the icons to get to the download page'|escapejs %}",
            closeMessage: "{% trans 'By closing this window you acknowledge that your experience on this website may be degraded'|escapejs %}",
            closeLink: "{% trans 'Close This Window'|escapejs %}"
        });
            
            
		// FIXME: move base-specific JS into a js/...base/block/something.js library //
        $(".social-login img").tipsy({html: true });
             
        $("input[name=identification]").example("{% trans 'Enter your email'|escapejs %}");
        $("input[name=password]").example("{% trans 'Password'|escapejs %}");
        
        $("input[name=openid_identifier]").example("{% trans 'Enter your username'|escapejs %}");
        
        $(".newsletter input[type=text]").example("{% trans 'Enter your email adress'|escapejs %}");

        
        //Show new project topic popup when user click on add a project
        var popup_content = $("#new_project_style_popup_zone"); 
        
        // Rollover for social networks links
        $("li.social-login a img").hover(function(){
            $(this).attr("src", $(this).attr("src").replace(".png", "-on.png"));
            //$(this).stop().rotate({animateTo:360});
        }).mouseleave(function(){
            $(this).attr("src", $(this).attr("src").replace("-on-on.png", ".png"));
            //$(this).stop().rotate({animateTo:0});
        });	
        
        $('#top-zone').hide();
        $('#user-bt a.open-panel').click(function(){
          $('#top-zone').slideToggle();
        });
        
    });
        
</script>
    {% block extra_script %}{% endblock %}
    
    {% block extra_head %}{% endblock %}
    
    {% include "sites_specs.html" %}
    
    {% if not debug %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-21778007-2"]);
      _gaq.push(["_setDomainName", "imaginationforpeople.org"]);
      _gaq.push(["_trackPageview"]);
   
     (function() {
       var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
        ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
       var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}

  </head>


  <body class="{% block extra_body_class %}{% endblock %}">
    
    <div id="beta-logo"></div>
    
    <div class="global">   
       
      {% block newproject_popup %} 
        <div id="new_project_style_popup_zone" class="hidden">
        </div>
      {% endblock %}      
      
      {% block header %}{% include "header.html" %}{% endblock %}			

      {% block nav %}{% endblock %}
      
      {% if user.is_authenticated %}
      <div>
	<a href="#" id="feedback-trigger" class="trigger right">&nbsp;</a>
	<div id="feedback" class="feedback-panel right">
	  {% include 'backcap/feedback_tab.html' %}
	</div>
      </div>
      {% endif %}

      {% block central_content_zone %}
        {% block content %}{% endblock %}
      {% endblock %}

      {% block footer %} {% include "footer.html" %} {% endblock %}


    </div>


    <!-- INLINE JS -->
    {% render_block "footer_js" postprocessor "apps.i4p_base.sekizai_postprocessors.compress" %}
    {% block inline_js %}
    {% endblock %}
    <!-- /INLINE JS -->
  </body>

</html>

