  {% load i18n %}
  
  <div class="categories categories_project_page">        
    <div class="container_18">
      <div class="grid_18 alpha omega">

        <div id="browse-picto"></div>
        
        <!-- Lock is by default in "off" class ; user's click set class at "on" -->
        <a id="lock-picto" class="off tipsed" href="#" title="{% trans "Pin/Unpin the panel" %}"></a>
      
        <div class="menu">
          
            <ul>
                <li><div class="categ-button first"><a href="#about" class="{%if about_tab_selected %}selected{% endif %}">{% trans "About"|capfirst %}</a></div></li>
                <li><div class="categ-button"><a href="#filters" class="{%if filters_tab_selected %}selected{% endif %}">{% trans "Filters"|capfirst %}</a></div></li>
                <li><div class="categ-button hidden"><a href="{% url feedback-list %}">{% trans "Help" %}</a></div></li>
            </ul>
          
            {% include "search.html" %}
              
              
            <div class="toolbox">
                <div class="tools-title georgia">{% trans "Project view" %}</div>
                <div class="tools">
                    <a href="{% url project_sheet-list %}"><img src="{{ STATIC_URL }}images/nav/tool1-selected.png" /></a>                   
                    <!--
                    <a href="#"><img src="{{ STATIC_URL }}images/nav/tool2.png" /></a>                   
                    <a href="#"><img src="{{ STATIC_URL }}images/nav/tool3.png" /></a>
                    <a href="#"><img src="{{ STATIC_URL }}images/nav/tool4.png" /></a>
                    -->
                </div>
            </div>
              
        </div>
        
        <div class="clear"></div>
        
        
        <!-- Filters -->
        <div id="filters" class="categ-panel"> 
        
          <form id="filter_form" action="{% url project_sheet-list %}" method="get">
                    <input type="hidden" name="order" value="{{order}}" />
                    
                    <div class="grid_6 alpha">
                        <div class="grid_6 alpha filters_box">
                            <div class="filtersbox_content">
                                <a href="{% url project_sheet-list %}" id="reset_filters"><img src="{{ STATIC_URL }}images/project/reset-picto.png" /><span>{% trans "Clear filters"|capfirst %}</span></a>
                            </div>
                        </div>
                        
                        <div class="grid_6 alpha ">
                            <div class="filtersbox_content">
                                <h4>{% trans "Themes" %}</h4>
                                <!-- <a class="invert">{% trans "invert" %}</a> -->
                                <ul id="cloudtag_list">
                                    {% for tag in project_sheet_tags|slice:":27" %}
                                        <li><a class="tag_link {%if tag.id in selected_tags%}selected{% endif %}" title="{% blocktrans with count=tag.count %}{{ count }} project sheets{% endblocktrans %}" href="javascript:;" id="tag_{{tag.id}}">{{ tag|capfirst }}</a></li>
                                    {% endfor %}                    
                                </ul>
                                {{themes_filter.themes.as_hidden}}
                            </div>
                        </div>
                    </div>
                    

                    
                    <div class="grid_4 filters_box omega">
                        <div class="filtersbox_content">
                            <h4>{% trans "Location" %}</h4>
                            {{location_filter.country}}
                        </div>
                        
                        <div class="filtersbox_content">
                            <h4>{% trans "Objectives" %}</h4>
                             <!-- <a class="invert">{% trans "invert" %}</a> -->
                            {{objective_filter.objective}}
                        </div>
                    </div>
                    
                    <div class="grid_8 omega">
                        <div class="grid_8 omega filters_box">
                            <div class="filtersbox_content">
                            
                                <h4>{% trans "Sheet Status" %}</h4>
                                <div class="grid_2 alpha omega pictos-categ">
                                    <div class="filters-picto">
                                        <ul>
                                            <li id="bestof" title="{% trans 'Best-of' %}" >{{best_of_filter.best_of}}</li>
    <!--                                         <li id="popular" title="{% trans 'Popular project' %}"><input type="checkbox" class="styled hidden" checked="checked" name="1"></li> -->
                                        </ul>
                                    </div>
                                    <p>{% trans "best-of" %}</p>
                                </div>
                                <div class="grid_2 alpha omega pictos-categ">
                                
                                    <div class="filters-picto">
                                        {{progress_filter.progress}}
                                    </div>                            
                                    <p>{% trans "progression" %}</p>
                                    
                                </div>
                                <div class="grid_2 alpha omega pictos-categ">
                                
                                    <div class="filters-picto">
                                        <ul>
                                            <li id="team" title="{% trans 'Associated team' %}" >{{members_filter.with_members}}</li>
                                            <li id="nobody" title="{% trans 'Orphan project' %}">{{members_filter.without_members}}</li>
                                        </ul>
                                    </div>                            
                                    <p>{% trans "team" %}</p>
                                    
                                </div>
                                
                            </div>
                        </div> 

                        <div class="grid_8 omega filters_box">
                            <div class="filtersbox_content">
                            
                                <h4>{% trans "Project Status" %}</h4>
                                <div class="filters-progress">
                                    {{status_filter.status}}
                                </div>                            
                              
                               
                            </div>
                        </div>                    
                    </div>         
                
          </form>
        </div>
        
        
        
        <!-- About -->
        <div id="about" class="categ-panel"> 

            <div class="block-content">  			

                <br />
                 
                <div class="colonne grid_4 alpha">
                    <h1><img src="{{ STATIC_URL }}images/home/picto-projects.jpg" />{% trans 'projects'|capfirst %}</h1>						
                    <p>{% blocktrans %}Explore and contribute to social projects around the world.{% endblocktrans %}</p>
                    <a href="{% url project_sheet-list %}">{% trans 'Projects &gt;' %}</a> 						
                    <a href="{% url project_sheet-start %}">{% trans 'Add a new project &gt;' %}</a> 						
                </div>
                
                <div class="colonne grid_4">						
                    <h1><img src="{{ STATIC_URL }}images/home/picto-community.jpg" />{% trans 'community'|capfirst %}</h1>						
                    <p>{% blocktrans %}Connect with a community of citizens from over 30 countries.{% endblocktrans %}</p>
                    <a href="{% url userena_profile_list %}">{% trans 'The community' %}</a>
                    <!-- <a href="#">{% trans 'The community &gt;' %}</a> 		       -->
                    <!-- <a href="{% url userena_signup %}">{% trans 'Join the community &gt;' %}</a> 		       -->
	                </div>
                
                <div class="colonne grid_4">
                    <h1><img src="{{ STATIC_URL }}images/home/picto-ressources.jpg" />{% trans 'resources'|capfirst %}</h1>						
                    <p>{% blocktrans %}Discover the latest tools, methods and debates in the world of social innovation{% endblocktrans %}.</p>											
                    <a class="tipsed" href="#" title="{% trans "Work-in-Progress" %}">{% trans 'Resources (WIP)' %}</a>

                    <!-- <a href="#">{% trans 'Join a group &gt;' %}</a> 		     -->
                </div>	

                <div class="colonne grid_6 omega">
                    <h1>
                        {% blocktrans %}A community of imaginative citizens to detect and develop socially innovative projects.{% endblocktrans %}
                    </h1>
                    <p></p>
                    <a href="/wiki/Manifesto{{ LANGUAGE_CODE }}">{% trans 'Read the manifesto &gt;' %}</a> 		    
                    <a href="/wiki/AboutUs{{ LANGUAGE_CODE }}">{% trans 'About IP &gt;' %}</a> 	                    
                </div>	                    
                                    
            </div> 

        </div>
        
                  
        
        
        
        <div class="clear"></div>
	    
	  </div>
	</div>
      
      
    <div class="clear"></div>
    
    {% include "footer.html" %}
 
    
</div>
  

<div class="clear"></div>


