{% load i18n %}

{% block nav %}	
	
	
	<div class="nav">
		<div class="container_18">
			<div class="grid_18 alpha omega">

				<div class="nav-bg"></div>		
		
			</div>
		</div>
	</div>
	

	<div class="categories">        
		<div class="container_18">
			<div class="grid_18 alpha omega">
		
				<div class="menu">
					
					<ul>
						<li class="selected"><div class="categ-button"><a href="#">Featured</a></div></li>
						<li><div class="categ-button"><a href="#">Filters</a></div></li>
						<li><div class="categ-button"><a href="#">Help</a></div></li>
						<li><div class="categ-button2"><a href="#"><span class="georgia">My</span> imagination for people</a></div></li>
					</ul>
					
					<div class="search">
					
						<form action="#">
							<input type="button" value="&nbsp;">
							<input type="text" value="Search project" name="search" id="searchInput">						
						</form>
					
					</div>
					
					<div class="toolbox">
						<div class="tools-title georgia">Node view</div>
						<div class="tools">
							<a href="#"><img src="{{ STATIC_URL }}images/base/tool1.png" /></a>
							<a href="#"><img src="{{ STATIC_URL }}images/base/tool2.png" /></a>
							<a href="#"><img src="{{ STATIC_URL }}images/base/tool3.png" /></a>
							<a href="#"><img src="{{ STATIC_URL }}images/base/tool4-selected.png" /></a>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>	
	
	
	
{% endblock %}