{% extends "base.html" %}
{% load cms_tags %}
{% load sekizai_tags %}

{% block title %}
    {% page_attribute "page_title" as page_title %}
    {% if page_title %}
        {{ page_title }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block meta_keywords %}
    {% page_attribute "meta_keywords" as meta_keywords %}
    {% if meta_keywords|length %}
        {{ meta_keywords }}
    {% else %}
        {{ block.super }}
    {% endif %}
    {% addtoblock "sekizai_extra_head" strip %}
        {% if page_rel_cannonical_language_link %}
            <link rel=canonical href="{{ page_rel_cannonical_language_link }}" />
        {% endif %}
        {% for language, link in page_rel_alternative_languages_links %}
            <link rel="alternate" hreflang="{{ language }}" href="{{ link }}" />
        {% endfor %}
        
    {% endaddtoblock %}
{% endblock %}

{% block meta_desc %}
    {% page_attribute "meta_description" as meta_description %}
    {% if meta_description %}
        {{ meta_description }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}"