{% load i18n %}
{% load cms_tags %}
{% load pagination_tags %}
  
  <div class="categories categories_project_page">        
    <div class="container_18">
      <div class="grid_18 alpha omega">

        <div id="browse-picto"></div>
        
        <!-- Lock is by default in "off" class ; user's click set class at "on" -->
        <a id="lock-picto" class="off tipsed" href="#" title="{% trans "Pin/Unpin the panel" %}"></a>
      
        <div class="menu">
          
            <ul>
                <li><div class="categ-button"><a href="#filters" class="{%if filters_tab_selected %}selected{% endif %}">{% trans "Filter results"|capfirst %}</a></div></li>
                <li><div class="categ-button hidden"><a href="{% url feedback-list %}">{% trans "Help" %}</a></div></li>
            </ul>

            {% comment %}
            {% include "search.html" %}
            {% endcomment %}
            {% autopaginate project_translation_list 12 %}
            {% paginate using "project_sheet/project_list_pagination.html" %}
              
              
            <div class="toolbox">
                <div class="tools-title georgia">{% trans "Project view" %}</div>
                <div class="tools">
                    <a href="{% url project_sheet-list %}"><img src="{{ STATIC_URL }}images/nav/tool1-selected.png" /></a>                   
                    <!--
                    <a href="#"><img src="{{ STATIC_URL }}images/nav/tool2.png" /></a>                   
                    <a href="#"><img src="{{ STATIC_URL }}images/nav/tool3.png" /></a>
                    <a href="#"><img src="{{ STATIC_URL }}images/nav/tool4.png" /></a>
                    -->
                </div>
            </div>
              
        </div>
        
        <div class="clear"></div>
        
        
        <!-- Filters -->
        <div id="filters" class="categ-panel"> 
        
          <form id="filter_form" action="{% url project_sheet-list %}" method="get">
                    <input type="hidden" name="order" value="{{order}}" />
                    
                    <div class="grid_6 alpha">
                        <div class="grid_6 alpha filters_box">
                            <div class="filtersbox_content">
                                <a href="{% url project_sheet-list %}" id="reset_filters"><img src="{{ STATIC_URL }}images/project/reset-picto.png" /><span>{% trans "Clear filters"|capfirst %}</span></a>
                            </div>
                        </div>
                        
                        <div class="grid_6 alpha ">
                            <div class="filtersbox_content">
                                <h4>{% trans "Tags" %}</h4>
                                <!-- <a class="invert">{% trans "invert" %}</a> -->
                                <ul id="cloudtag_list">
                                    {% for tag in project_sheet_tags|slice:":27" %}
                                        <li><a class="tag_link {%if tag.id in selected_tags%}selected{% endif %}" title="{% blocktrans with count=tag.count %}{{ count }} project sheets{% endblocktrans %}" href="javascript:;" id="tag_{{tag.id}}">{{ tag|capfirst }}</a></li>
                                    {% endfor %}                    
                                </ul>
                                {{themes_filter.themes.as_hidden}}
                            </div>
                        </div>
                    </div>
                    

                    
                    <div class="grid_4 filters_box omega">
                        <div class="filtersbox_content">
                            <h4>{% trans "Location" %}</h4>
                            {{location_filter.country}}
                        </div>
                        
                        <div class="filtersbox_content">
                            <h4>{% trans "Categories" %}</h4>
                             <!-- <a class="invert">{% trans "invert" %}</a> -->
                            {{objective_filter.objectives}}
                        </div>
                    </div>
                    
                    <div class="grid_8 omega">
                        <div class="grid_8 omega filters_box">
                            <div class="filtersbox_content">
                            
                                <h4>{% trans "Sheet Status" %}</h4>
                                <div class="grid_2 alpha omega pictos-categ">
                                    <div class="filters-picto">
                                        <ul>
                                            <li id="bestof" title="{% trans 'Best-of' %}" >{{best_of_filter.best_of}}</li>
    <!--                                         <li id="popular" title="{% trans 'Popular project' %}"><input type="checkbox" class="styled hidden" checked="checked" name="1"></li> -->
                                        </ul>
                                    </div>
                                    <p>{% trans "best-of" %}</p>
                                </div>
                                <div class="grid_2 alpha omega pictos-categ">
                                
                                    <div class="filters-picto">
                                        {{progress_filter.progress}}
                                    </div>                            
                                    <p>{% trans "progression" %}</p>
                                    
                                </div>
                                <div class="grid_2 alpha omega pictos-categ">
                                
                                    <div class="filters-picto">
                                        <ul>
                                            <li id="team" title="{% trans 'Associated team' %}" >{{members_filter.with_members}}</li>
                                            <li id="nobody" title="{% trans 'Orphan project' %}">{{members_filter.without_members}}</li>
                                        </ul>
                                    </div>                            
                                    <p>{% trans "team" %}</p>
                                    
                                </div>
                                
                            </div>
                        </div> 

                        <div class="grid_8 omega filters_box">
                            <div class="filtersbox_content">
                            
                                <h4>{% trans "Project Status" %}</h4>
                                <div class="filters-progress">
                                    {{status_filter.status}}
                                </div>
                                </script>
                               
                            </div>
                        </div>                    
                    </div>         
                
          </form>
        </div>	    
	  </div>
	</div>
      
      
    <div class="clear"></div>
    
</div>
  

<div class="clear"></div>


