{% load i18n %}
<div class="footer">
  <div class="container_18">
    <div class="grid_18 alpha omega">
     
    
    <div class="social-networks">		
        <ul>
          <li><a href="http://www.facebook.com/imaginationforpeople.org"><img src="{{ STATIC_URL }}images/base/facebook-logo.jpg" alt="facebook" /></a></li>
          <li><a href="http://twitter.com/ipvoices"><img src="{{ STATIC_URL }}images/base/twitter-logo.jpg"alt="twitter" /></a></li>
        </ul>
    </div>
      
     <ul>
	<li><a href="/wiki/AboutUs{{ LANGUAGE_CODE }}">{% trans 'About us' %}</a></li>
    	<li><a href="/wiki/FAQ{{ LANGUAGE_CODE }}">{% trans 'FAQ' %}</a></li>
    	<li><a href="/wiki/RAQ{{ LANGUAGE_CODE }}">{% trans 'RAQ' %}</a></li
	<li><a href="/wiki/ProjectSheetHelp{{ LANGUAGE_CODE }}">{% trans 'Project sheet guide' %}</a></li>
	<li><a href="/wiki/LegalNotice{{ LANGUAGE_CODE }}">{% trans 'Legal Notice' %}</a></li>
	<li><a href="/wiki/TermsOfUse{{ LANGUAGE_CODE }}">{% trans 'Terms of use' %}</a></li>
	<li><a href="/wiki/Contact{{ LANGUAGE_CODE }}">{% trans 'Contact' %}</a></li>
      </ul>
          
    </div>
  </div>
</div>
