{% load i18n %}	
<div id="footer-zone-top">

    <div id="footer" class="center container_18">
        
        <div class="grid_6 alpha"> 
        BLABla<br />BLABla<br />BLABla<br />
        </div>
        
        <div class="grid_7">
        BLABla<br />BLABla<br />BLABla<br />
        </div>
        
        <div class="grid_5 omega">
        BLABla<br />BLABla<br />BLABla<br />
        </div>
        
        <div class="clear"></div>
        
    </div>
    
</div>


<div id="footer-zone-bottom">

    <div id="footer-bottom" class="center">
       <center> 
           <ul>
                <li><a href="#">{% trans "Faq" %}</a></li>
                <li><a href="#">{% trans "Raq" %}</a></li>
                <li><a href="#">{% trans "Partenaires" %}</a></li>
                <li><a href="#">{% trans "Mentions légales" %}</a></li>
                <li><a href="#">{% trans "Conditions d'utilisation" %}</a></li>
                <li><a href="#">{% trans "Manifeste" %}</a></li>
                <li><a href="#">{% trans "Contact" %}</a></li>
            </ul>
        </center>
    </div>
    
</div>