{% extends "base.html" %}
{% load i18n %}
{% load compress %}

{% block style %}
    {% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fonts.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/homepage.css" />
    {% endcompress %}
{% endblock %}

{% block extra_head %}
  {{ block.super }}
  
  {% compress js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/homepage.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/hoverIntent.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ezmark.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.example.js"></script>
  
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.idTabs.min.js"></script>
  
    <script type="text/javascript">
    $(document).ready(function(){
    
    <!-- Text example for forms -->
    $('.search input[type=text]').example('{% trans "Project search" %}');

    $('#quick_project input[type=text]').example('{% trans "My project title" %}');
    $('#quick_project textarea').example('{% trans "One line description" %}');

    $('.panel2 #openid_identifier').example('{% trans "Enter your username" %}');

    $('input[name=identification]').example('{% trans "Enter your login" %}');
    $('input[name=password]').example('{% trans "Password" %}');

    
    $("#loginbox .panel1 a#loginlink-subscribe").click(function () {
        $("#panels-slide").stop().animate({left: '-490px'}, 500);
    });	
    
    $("#loginbox .panel1 a.openid-button").click(function () {
        $("#panels-slide").stop().animate({left: '-245px'}, 500);
    });	
    
    $("#loginbox .loginpanel a.close-button").click(function () {
        $("#panels-slide").stop().animate({left: '0px'}, 500);
    });	
      
    });
    </script>
  {% endcompress %}

{% endblock %}


{% block header %}
    <div id="header-zone">
        <div id="header" class="center">
        
            <div class="logo"><a href="{% url i4p-index %}"><img src="{{ STATIC_URL }}images/base/logo.png" alt="Imagination for People" width="214" height="70" border="0"/></a></div>
            
            <ul id="menu">
                <li><a href="http://alpha.imaginationforpeople.org/wakka.php?wiki=vAboutUs{{ LANGUAGE_CODE }}" rel="noindex, nofollow">{% trans "About us" %}</a></li>
                <li><a href="{% url project_sheet-list %}">{% trans "Projects" %}</a></li>
                <li><a href="/workgroup/">{% trans 'Workgroups' %}</a></li>
                <li><a href="/contribute/">{% trans 'Contribute' %}</a></li>
            </ul>
                    <div class="clear"></div>

            {% include "search.html" %}
                    <div class="clear"></div>

        </div>
    </div>
{% endblock %}



{% block nav %}
<div id="video-zone">
    <div id="video" class="center">
        <img src="{{ STATIC_URL }}images/home/video.jpg" alt="Imagination for People" width="982" height="132"/>
    </div>
</div>

<div id="focus-zone">
    <div id="focus" class="center">
        BLA<br />BLA<br />BLA<br />BLA<br />BLA<br />
    </div>
</div>

{% endblock %}

{% block content %}	
<div id="content-zone">

    <div id="content" class="center">
        
        <div id="left_col">
            <div class="infoblock">
                <img class="image" src="http://www.linternaute.com/nature-animaux/magazine/photo/les-100-paysages-de-france/image/etretat-262711.jpg" alt="Titre du projet" width="250" height="250"/>
                <div class="details">
                    <h2>Infos libres</h2>
                    <a href="#" class="plus"><img src="{{ STATIC_URL }}images/home/infoblock-plus.jpg" alt="Imagination for People" width="23" height="23"/></a>
                    <span class="date">28 Février 2012</span>
                    <h1>AnimFr : Groupe des animateurs de projets, groupes et réseaux collaboratifs</h1>
                    <p class="description">Le groupe de travail AnimFr rassemble les acteurs impliqués dans l’animation de projets coopératifs, dans la formation aux pratiques collaboratives et à l’animation de réseaux thématiques ou territoriaux...</p>
                    <hr />
                    <ul class="infotags">
                        <li>Contribute</li>
                        <li>Dev</li>
                        <li>Groupes de travail</li>
                    </ul>
                    
                    <ul class="info-share">
                        <li><a href="#"><img src="{{ STATIC_URL }}images/home/share-twitter.jpg" alt="Twitter" width="19" height="19" /></a></li>
                        <li><a href="#"><img src="{{ STATIC_URL }}images/home/share-fb.jpg" alt="Facebook" width="19" height="19" /></a></li>
                        <li><a href="#"><img src="{{ STATIC_URL }}images/home/share-google.jpg" alt="Google+" width="19" height="19" /></a></li>
                    </ul>
                    
                    
                </div>
                <div class="clear"></div>
            </div>
        </div>
        
        <div id="right_col">
        
            {% include "search.html" %}            
            <div class="clear"></div><br />
            
            <span>{% trans 'Vous voulez <strong>participer</strong>, <strong>partager</strong> vos idées ou <strong>inscrire votre projet</strong> ?' %}</span>
            
            
            <!-- Login Box -->
            {% if not user.is_authenticated %}
            <div id="loginbox" class="homebox">
                <div id="panels-slide">
                    <div class="loginpanel panel1">
                        <center>
                            <a href="javascript:;" class="loginlink" id="loginlink-subscribe"><img src="{{ STATIC_URL }}images/home/login-picto.jpg" alt="Facebook" width="19" height="19" />{% trans 'Connexion' %}</a>
                            <a href="{% url userena_signup %}" class="loginlink">{% trans 'Inscription' %}<img src="{{ STATIC_URL }}images/home/subscribe-picto.jpg" alt="Facebook" width="19" height="19" /></a>
                            <hr />
                            <ul>
                                <li class="social-login"> <a href="{% url socialauth_begin 'facebook' %}"><img src="{{ STATIC_URL }}images/home/social-fb.png" alt="Facebook" width="32" height="32" /></a> </li>
                                <li class="social-login"> <a href="{% url socialauth_begin 'google-oauth2' %}"><img src="{{ STATIC_URL }}images/home/social-google.png" alt="Google +" width="32" height="32" /></a> </li>
                                <li class="social-login"> <a href="{% url socialauth_begin 'twitter' %}"><img src="{{ STATIC_URL }}images/home/social-twitter.png" alt="Twitter" width="32" height="32" /></a> </li>
                                <li class="social-login"> <a href="{% url socialauth_begin 'linkedin' %}"><img src="{{ STATIC_URL }}images/home/social-ln.png" alt="LinkedIn" width="32" height="32" /></a> </li>
                                <li class="social-login"> <a href="javascript:;" class="openid-button"><img src="{{ STATIC_URL }}images/home/social-openid.png" alt="OpenID" width="32" height="32" /></a> </li>
                            </ul>
                        </center>   
                    </div>
                    
                    <div class="loginpanel panel2">
                        <a class="close-button"><img src="{{ STATIC_URL }}images/home/close.png" alt="{% trans 'close' %}" width="11" height="11" /></a>
                        <br />
                        <form action="{% url socialauth_begin 'openid' %}" method="POST" class="openid-form">
                            <img src="{{ STATIC_URL }}images/home/openid-logo.jpg" alt="OpenID" width="79" height="29" />
                            <br />
                            {% csrf_token %}
                            <input type="text" name="openid_identifier" id="openid_identifier" />&nbsp;
                            <button>{% trans 'Login' %}</button>
                        </form> 
                    </div>
                    
                    <div class="loginpanel panel3">
                        <a class="close-button"><img src="{{ STATIC_URL }}images/home/close.png" alt="{% trans 'close' %}" width="11" height="11" /></a>
                        
                        <form action="{% url userena_signin %}" class="clearfix" method="post" class="profile_edition">
                        {% csrf_token %}
                            {{ signin_form.non_field_errors }}
                            {% for field in signin_form %}
                            {{ field.errors }}
                            {% if field.name == 'remember_me' %}
                            <p class="checkbox">
                                <label for="id_{{ field.name }}">{{ field }} {% trans "Remember me" %}</label>
                            </p>
                            {% else %}
                            <p>
                                {{ field.label_tag }} 
                                {{ field }}
                            </p>
                            {% endif %}
                            {% endfor %}
                        <input type="submit" style="margin-left:0px;" value="{% trans 'Go !' %}" />
                        <a class="link" href="{% url userena_password_reset %}">{% trans "Lost your password?" %}</a>

                        </form>
                    </div>
                </div>
                
            </div>            
            {% else %}
            <div id="loginbox" class="homebox">
            MOI
            </div>            
            {% endif %}
            
            
            <!-- Quick Project -->
            <div id="quick_project" class="homebox">
                <h1>{% trans 'Add your project' %}</h1>
                <hr />
                <form>
                    <input type="text" />
                    <textarea></textarea>
                    <input type="submit" value="{% trans 'Valider' %}" />
                </form>
            </div>
            
            <div id="members" class="homebox">
                <h1>{% trans "New project's members" %}</h1>
                <hr />
                <div></div>
            </div>
            
        </div>
        
        <div class="clear"></div>

    </div>

    <div class="clear"></div>

    </div>	
{% endblock %}
