{% extends "base.html" %}
{% load i18n %}
{% load compress %}

{% block style %}
  {% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/black_page.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/homepage.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/filters.css" />
    
    <style type="text/css"> 
        body{background-color:#161616;}
    </style>
    {% endcompress %}
{% endblock %}

{% block extra_head %}
  {{ block.super }}

  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.timers-1.2.js"></script>  
  <script type="text/javascript" src="{{ STATIC_URL }}js/homepage.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
	$('ul#projects_rotator_minis').mosaic();
        
    });
  </script>

  {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/hoverIntent.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ezmark.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.cookie.js"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.example.js"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/project_sheet/filtersPanel.js"></script>

  {% endcompress %}

{% endblock %}

{% block nav %}<div style="height:37px;"></div>{% endblock %}

{% block content %}	
	
  <div class="container_18">
    <div class="grid_18 alpha omega rotator">			
      
      <h1 id="i4p_baseline">"{% trans " Repérer, déployer, solvabiliser <br /> l'innovation sociale de rupture " %}"</h1>
      
      <img id="for-picto" src="{{ STATIC_URL }}images/home/for-picto.png" />
      
      <ul id="projects_rotator_minis">
	{% for project_translation in project_translations %}
          <li><a href="#"><img src="{{ project_translation.project.pictures.all.0.mosaic_tile.url }}" title="XX" /></a></li>
	{% endfor %}
	<li><a href="{% url project_sheet-list %}"><img src="{{ STATIC_URL }}images/home/home-minis-plus.jpg" title="{% trans 'Discover more projects' %}" class="home-minis-plus" /></a></li>
	
      </ul>
      
      <img id="mask" src="{{ STATIC_URL }}images/home/mask.png" />	
      
      <ul id="projects_rotator">
	{% for project_translation in project_translations %}
          <li>
	    <div class="project_desc">
	      <a href="{{ project_translation.get_absolute_url }}"><h1>{{ project_translation.title }}</h1><h2>{{ project_translation.baseline }}</h2></a>
	      <a href="{{ project_translation.get_absolute_url }}" class="link">{% trans "Discover this project &gt;" %}</a>
	    </div>
	    <img src="{{ project_translation.project.pictures.all.0.original_image.url }}" />
	  </li>
	{% endfor %}
      </ul>
      
    </div>
    
    <div class="clear"></div>
    
  </div>		
{% endblock %}

{% block footer %} {% include "bottom-panel.html" %} {% endblock %}
