{% extends "base.html" %}
{% load i18n %}
{% load compress %}

{% block style %}
  {% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/black_page.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/homepage.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/filters.css" />
    
    <style type="text/css"> 
        body{background-color:#161616;}
    </style>
    {% endcompress %}
{% endblock %}



{% block extra_head %}
  {{ block.super }}
  {% compress js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/hoverIntent.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/superfish.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ezmark.js"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.example.js"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.filtersPanel.js"></script>
  
{% endcompress %}
{% endblock %}


{% block nav %}<div style="height:37px;"></div>{% endblock %}

{% block content %}	
	
		<div class="container_18">
			<div class="grid_18 alpha omega rotator">			
                
                <h1 id="i4p_baseline">"{% trans " Repérer, déployer, solvabiliser <br /> l'innovation sociale de rupture " %}"</h1>
                
                <img id="for-picto" src="{{ STATIC_URL }}images/home/for-picto.png" />

                <ul id="projects_rotator_minis">
                   <li><a href="#"><img src="http://imaginationforpeople.org/site_media/cache/uploads/projects/162/pictures/3365197181_83cfe00b50_b_display.jpg" title="#" /></a></li>
                   <li><a href="#"><img src="http://imaginationforpeople.org/site_media/cache/uploads/projects/162/pictures/3365197181_83cfe00b50_b_display.jpg" title="#" /></a></li>
                   <li><a href="#"><img src="http://imaginationforpeople.org/site_media/cache/uploads/projects/162/pictures/3365197181_83cfe00b50_b_display.jpg" title="#" /></a></li>
                   <li><a href="#"><img src="http://imaginationforpeople.org/site_media/cache/uploads/projects/162/pictures/3365197181_83cfe00b50_b_display.jpg" title="#" /></a></li>
                   <li><a href="#"><img src="http://imaginationforpeople.org/site_media/cache/uploads/projects/162/pictures/3365197181_83cfe00b50_b_display.jpg" title="#" /></a></li>
                   <li><a href="#"><img src="http://imaginationforpeople.org/site_media/cache/uploads/projects/162/pictures/3365197181_83cfe00b50_b_display.jpg" title="#" /></a></li>
                   <li><a href="#"><img src="http://imaginationforpeople.org/site_media/cache/uploads/projects/162/pictures/3365197181_83cfe00b50_b_display.jpg" title="#" /></a></li>
                   <li><a href="#"><img src="http://imaginationforpeople.org/site_media/cache/uploads/projects/162/pictures/3365197181_83cfe00b50_b_display.jpg" title="#" /></a></li>
                   <li><a href="#"><img src="http://imaginationforpeople.org/site_media/cache/uploads/projects/162/pictures/3365197181_83cfe00b50_b_display.jpg" title="#" /></a></li>
                   <li><a href="#"><img src="http://imaginationforpeople.org/site_media/cache/uploads/projects/162/pictures/3365197181_83cfe00b50_b_display.jpg" title="#" /></a></li>
                   <li><a href="#"><img src="http://imaginationforpeople.org/site_media/cache/uploads/projects/162/pictures/3365197181_83cfe00b50_b_display.jpg" title="#" /></a></li>
                   <li><a href="#"><img src="http://imaginationforpeople.org/site_media/cache/uploads/projects/162/pictures/3365197181_83cfe00b50_b_display.jpg" title="#" /></a></li>
                   <li><a href="#"><img src="http://imaginationforpeople.org/site_media/cache/uploads/projects/162/pictures/3365197181_83cfe00b50_b_display.jpg" title="#" /></a></li>
                   <li><a href="#"><img src="http://imaginationforpeople.org/site_media/cache/uploads/projects/162/pictures/3365197181_83cfe00b50_b_display.jpg" title="#" /></a></li>
                   <li><a href="#"><img src="{{ STATIC_URL }}images/home/home-minis-plus.jpg" title="{% trans 'Discover more projects' %}" class="home-minis-plus" /></a></li>
 
                </ul>
                
                <img id="mask" src="{{ STATIC_URL }}images/home/mask.png" />	
                
                <ul id="projects_rotator">
                    <li><div class="project_desc"><a href="#"><h1>We feel fine</h1><h2>Exploration of human emotion on a global scale ; it’s a very very long long sentence !!!</h2></a><a href="#" class="link">{% trans "Discover this project &gt;" %}</a></div><img src="http://imaginationforpeople.org/site_media/cache/uploads/projects/162/pictures/3365197181_83cfe00b50_b_display.jpg" /></li>
                </ul>
            
			</div>
			
			<div class="clear"></div>
			
		</div>		
	
	
{% endblock %}

{% block footer %} {% include "bottom-panel.html" %} {% endblock %}
