{% load i18n %}
{% load cms_tags %}
{% load menu_tags %}
{% load honeypot %}
{% load umessages_tags %}               
{% load i4p_tags %}
	
<div id="toppanel">
	<div id="panel">
		<div class="panel_content clearfix">
			
            {% if not user.is_authenticated %}
            <div class="left">
            {% else%}
            <div class="left-logged">
            {% endif %}            
				<h1>{% trans "Interface language" %}</h1>
				<ul id="interface_lang">
				  {% get_available_languages as languages %}
{% for lang_code, lang_name in languages %}
{% language lang_code %}
                    <li><a href="{{ request.path|chlocale:lang_code }}" title="{{ lang_name }}"><img src="{{ STATIC_URL }}images/flags/{{ lang_code }}.gif" alt="{{ lang_name }}" />{{ lang_name }}</a></li>
{% endlanguage %}
                    {% endfor %}
                </ul>
			</div>
			
            {% if not user.is_authenticated %}
            
            <div class="left">
                <form action="{% url userena_signin %}?next={{ request.path }}" class="clearfix" method="post" class="profile_edition">
		        <h1 class="padlock">{% trans "Member Login" %}</h1>
                    
                    {% csrf_token %}
                        {{ signin_form.non_field_errors }}
                        {% for field in signin_form %}
                            {{ field.errors }}
                            {% comment %} Displaying checkboxes differently {% endcomment %}
                            {% if field.name == 'remember_me' %}
                            <p class="checkbox">
                                <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
                            </p>
                            {% else %}
                            <p>
                                {{ field.label_tag }} 
                                {{ field }}
                            </p>
                            {% endif %}
                        {% endfor %}
                    <div class="clear"></div>
                    <input type="submit" id="top-signin" value="{% trans 'Sign in' %}" />
					<a class="password_lost" href="{% url userena_password_reset %}">{% trans "Lost your password?" %}</a>

				</form>
			</div>
			
            <div class="left right">
            
                <h1 class="padlock">{% trans "You can also use" %}</h1>
                {% with redirect_url=request.path %}
                    {% include "userena/social-networks.html" %}
                {% endwith %}
                <div class="clear"></div>
                <br /><br />

                <div style="position:absolute; bottom:70px;">
                    <h1 class="padlock">{% trans "Not a member yet ?" %}</h1>
                    <a class="link" href="{% url userena_signup %}">{% trans "Signup now !" %}</a>        
                </div>
                
            </div>
            
            {% else %}
            
            
            <div class="panel_projects">
            
                <h1>{% trans "My projects" %}</h1>	
                
                {% for membership in user.project_memberships.all|slice:'3' %}
                    
                <a href="{{ membership.project.translations.all.0.get_absolute_url }}" class="project_card" title="{{ membership.project.translations.all.0.baseline }}">
                    <div class="project-photo">	
                        {% if membership.project.pictures.all|length > 0 %}
                            <img src="{{ membership.project.pictures.all.0.thumbnail_idcard.url }}" alt=""/>
                        {% endif %}
                    </div>

                    <div class="project_card_content">
                        <div class="project_infos_title">{{ membership.project.translations.all.0.title|slice:'45' }}</div>	
                        <!-- <div class="project_infos_baseline">{{ membership.project.translations.all.0.baseline }}</div> -->
                    </div>
                    <div class="clear"></div>              
                </a>
                    
                {% empty %}
                    {% trans "You have no projects" %}            
                {% endfor %}
            
            </div>
            
            {% endif %}
            
            
		</div>
	</div> <!-- /login -->	

    <!-- The tab on top -->	
	<div class="tab">
        <div class="container_18">
            <ul class="login">
                <li class="left">&nbsp;</li>
                <li class="language toggle">
                    <a class="open-panel" href="javascript:;">{{ LANGUAGE_CODE|upper}}</a>
                    <!--<a class="close-panel" style="display: none;" href="javascript:;">{{ LANGUAGE_CODE|upper}}</a>-->
                </li>
                <li class="middle">&nbsp;</li>                
                <li class="toggle">
                {% if user.is_authenticated %}	
                    <a class="open link open-panel" href="javascript:;">{{ user.username }}</a>
                {% else %}
                    <a class="open link open-panel" href="javascript:;">{% trans "Log In" %} | {% trans "Register" %}</a>
                {% endif %}
                    <!--<a style="display: none;" class="close link close-panel" href="javascript:;">{% trans "Close Panel" %}</a>-->
                </li>
            {% if user.is_authenticated %}
            
                {% get_unread_message_count_for user as unread_message_count %}
                {% if unread_message_count != 0 %}
                <li><a href="{% url userena_umessages_list %}" class="tipsed on" title="{% trans 'My messages' %}"><img src="{{ STATIC_URL }}images/base/message-count-on.png" /><div class="message_count" >{{ unread_message_count }}</div></a></li>
                {% else %}
                <li><a href="{% url userena_umessages_list %}" class="tipsed on" title="{% trans 'My messages' %}"><img src="{{ STATIC_URL }}images/base/message-count-off.png" /></a></li>
                {% endif %}
                
                <li><a href="{% url userena_profile_detail request.user %}" class="tipsed on" title="{% trans 'View my profile' %}"><img src="{{ STATIC_URL }}images/base/panel-view.png" /></a></li>
                <li><a href="{% url userena_profile_edit user.username %}" class="tipsed on" title="{% trans 'Edit my profile' %}"><img src="{{ STATIC_URL }}images/base/panel-edit.png" /></a></li>
                {% if user.is_staff %}
                <li><a href="/admin/" class="tipsed on" title="{% trans 'Administration' %}"><img src="{{ STATIC_URL }}images/base/admin.png" /></a></li>
                {% endif %}
                <li><a href="{% url userena_signout %}?next={% page_url 'homepage' %}" class="tipsed on" title="{% trans 'Log out' %}"><img src="{{ STATIC_URL }}images/base/panel-logout.png" /></a></li>
            {% endif %}

                <li class="right">&nbsp;</li>
            </ul> 
        </div> <!-- / top -->
	</div> 
	
</div> 	
	
