{% comment %}
Superfish menu implementation
{% endcomment %}

{% load cms_tags %}
{% load i18n %}
{% load menu_tags %}

<script type="text/javascript">
    // initialise plugins
    jQuery(function(){
        jQuery('ul.sf-main-menu').superfish({

            disableHI: true
        });
    });
</script>

<ul id="header-menuCHANGEMEBACK" class="sf-main-menu">
	<li><a href="{% url i4p-index %}"><img src="{{ STATIC_URL }}images/base/home.png" alt="{% trans "Home" %}" border="0"/></a></li>
	{% show_menu 0 100 100 100 %}
</ul>

