{% load i18n %}
{% load localeurl_tags %}


{% block nav %}	
	
	
	<div class="nav-white">
		<div class="container_18">
			<div class="grid_18 alpha omega">

				<div class="grid_13 alpha">		
					<br />
				</div>
				
				<div class="grid_5 omega  black_column">		
					<br />
				</div>		
		
			</div>
		</div>
	</div>
	

	<div class="categories">        
		<div class="container_18">
			<div class="grid_18 alpha omega">
		
				<div class="menu">
					
					<ul>
                        {% if project_translation %}
						<li class="selected"><div class="categ-button first"><a href="{% url project_sheet-show project_translation.slug %}">{% trans "Project" %}</a></div></li>
						<li><div class="categ-button" id="categ-last"><a href="{% url project_sheet-history project_translation.slug %}">{% trans "History" %}</a></div></li>
						<!--
						<li><div class="categ-button"><a href="#">Filters</a></div></li>
						<li><div class="categ-button"><a href="#">Help</a></div></li>
						<li><div class="categ-button2"><a href="#"><span class="georgia">My</span> imagination for people</a></div></li>
						-->
                       {% else %}
                        <li class="selected"><div class="categ-button first"><a href="#">{% trans "Project" %}</a></div></li>
                       {% endif %}
					</ul>
					
					<div id="langage-tool" class="grid_5 omega">				
	
					  
						<ul id="sample-menu-1" class="sf-menu">		
						  {% if project %}
							<li class="current">
								<a href="#a">{% trans 'other languages'|capfirst %}&nbsp;&nbsp;<img src="{{ STATIC_URL }}images/flags/{{ LANGUAGE_CODE }}.gif" title="{{ LANGUAGE_CODE }}" /></a>
								<ul>
									
								  {% for translation in project_translation.project.translations.all %}
								  <!-- FIXME - if possible, the title and the text next the flag must been the full language name, and NOT the abreviation ! -->
								  <li>
								    <a href="{% locale_url translation.language_code project_sheet-show translation.slug %}"><img src="{{ STATIC_URL }}images/flags/{{ translation.language_code }}.gif" title="{{ translation.language_code }}" />{{ translation.language_code }}</a>
								    {% endfor %}		
								    
								  </li>
								  <li class="current">
								    <a href="#ab" id="new_translation">{% trans 'create a new translation'|capfirst %}</a>
								    
								    <!-- FIXME - the translatable languages must be displayed in 3 columns of 33% and margin-left:5px; in a div of 520px of width -->
								    <!-- FIXME - add the link for translation's creation -->
								    <ul>
								      {% for language in LANGUAGES %}
								      <li><a href="{% url project_sheet-translate project_translation.slug language.0 %}"><img src="{{ STATIC_URL }}images/flags/{{ language.0 }}.gif" title="{{ language.1 }}" />{{ language.1 }}</a>
								      {% endfor %}										
								    </ul>
								  </li>
								</ul>		
							</li>
							{% endif %}

						</ul>

					
					
					
					</div>

					
					<!-- MOTEUR DE RECHERCHE -->
					
					<div class="search">
					
						<form action="#">
						  {% csrf_token %}
						  {{ project_sheet_search_form.as_p }}
							<input type="button" value="&nbsp;">
							<input type="text" value="Search projects" name="search" id="searchInput">						
						</form>
					
					</div>
			
					
				</div>
			
			</div>
		</div>
	</div>	
	
	
	
{% endblock %}