@import "i4p/_mixins";
@import "i4p/_fonts";
@import "i4p/_constants";

body.question-page {
	div.conteneur_question_card, div.author_and_follow_question { 
		background:$colorDarkerBlue;
	}
}

a {
    cursor : pointer;
}

.project-content {
    padding-top: 0 !important ;
}
li {
    list-style: none outside none;
}

li.short-summary div.infos_question {
    float: right;
    width: auto !important;
}

li.short-summary div.wrap_question_description {
    float: left;
    width: auto !important;
}

.support-toolbar {
    -moz-box-sizing: border-box;
    background-color: #242424;
    clear: both;
    height: 5rem;
}

.support-toolbar ul {
    margin: 0px;
}

.support-toolbar .row > ul > li {
    -moz-box-sizing: border-box;
    border-collapse: collapse;
    border-left: 1px solid white;
    border-right: 1px solid #C9C9C9;
    display: block;
    float: left;
    font-family: "OpenSans",Arial,Helvetica,sans-serif;
    font-size: 1.1rem;
    font-weight : bold;
    height: 5rem;
    margin: 0;
    padding: 15px;
    position: relative;
    text-transform: uppercase;
    color: white;
}

.support-toolbar a.propose-link {
    color : #83A769;
}

ul#all-support-activities {
    margin: 0;
    list-style: disc outside none;
}

ul#all-support-activities li {
    padding : 5px;
    margin-bottom: 3px;
}


.support-activity {
    background-color: #F2F2F2;
    display: block;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
}


.support-activity img {
    border: 1px solid #8E8E8E;
    border-radius: 4px;
    height: 30px;
    overflow: hidden;
    width: 30px;
}

.support-activity a {
    /*float : left;*/
}

.support-activity p {
    margin-left: 5px;
    width: 85%;
    font-family: 'OpenSans',Arial,sans-serif;
    font-size: 11px;
    line-height: normal;
    float : right;
}


a.rss {
    background: url("/static/images/rss.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 15px;
    margin-left: 15px;
    margin-top: 17px;
    text-indent: -5000px;
    width: 15px;
}

#categorySearch div {
    float: left;
}