@import "mixin.scss";


body{
    background-color:white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}

img{
	border:0px;
}


.hidden{
	display:none;
	visibility:hidden;
}

.clear{
    display:none;
    visibility:hidden;
    clear:both;
}

.centrer{
    /*
    height: auto !important;
    margin: 0 auto -29px;
    min-height: 100%;
    */
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}

hr{
    border-bottom:1px solid #969696;
}

a{
    text-decoration:underline;
    color:#951B81;
}

.clear{
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

.separatorv{
	background-image:url(../../images/pages/contrib/separator-v.jpg);
    background-repeat:no-repeat;
    width:2px;
    height:132px;
    float:left;
    position:relative;
    background-position:left -25px;
}



/* --HEADER---------------------------------------------------------------------------------------------------- */

.nav-white {
    display:none;
}

/* --ZONES DE CONTENUS---------------------------------------------------------------------------------------------------- */


.content{
}



/* --CONTENT---------------------------------------------------------------------------------------------------- */

.col1, .col2{
    width:340px;
    float:left;
    margin-right:20px;
}

.col3{
    float:left;
    width:255px;

}

.col {

    h1{
        @include georgia(22px); 
        border-bottom:1px solid #dadada;
    }
    
    ul{
        margin:0px;
        padding:0px;
        float:left;
        width:100%;
        
        li{
            margin:0px;
            padding:0px;
            list-style-type:none;
            padding-top:10px;
            padding-bottom:12px;
            border-bottom:1px solid #dadada;
            font-size:10px;
            
            img{
                float:left;
                margin-right:10px;
                position:relative;
                top:0px;
                border:1px solid #dadada;
            }
            
            p, a{
                color:#0090be;
                font-weight:normal;
            }
            
            a:hover{
                color:#00ade4;
            }
        }
        
        li.even{
            background-color:#f5f5f5;
        }
    }
    
    ul.community li{
        border-bottom:0px solid #dadada;
        padding-top:4px;
        padding-bottom:5px;
    }
}



.content {

    #tagline{
        position:relative;
        
        span#tagline1, span#tagline2{
            color:#00b1d2;
            font-size:35px;
            font-weight:bold;
            text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
            position:absolute;
        }
        
        span#tagline1{
            top:15px;
            left:55px;
        }
        
        span#tagline2{
            bottom:20px;
            right:340px;
        }
    
    }

    h2{
        font-size:15px;
        color:#818181;
        font-weight:normal;
        font-style:italic;
    }
    
    a{
        color:#00b1d0;
        text-decoration:none;
        font-weight:bold;
    }
}


#jobs_block{
    background-color:#fafafa;
    border:1px solid #cdcdcd;
    @include border-radius(8px); 
    @include shadow(3px, #f3f3f3);
    margin-top:30px;
    
    ul#jobs{
        position:relative;
        padding:0px;
        margin-left:5px;
        
        li{
            float:left; /*pour IE*/
            list-style-type:none;
            padding-bottom:10px;
            position:relative;
            
            span{
                @include georgia(20px); 
                text-align:center;
                position:absolute;
                bottom:15px;
                left:0px;
                width:100%;
                z-index:50;
            }
        }
        
        li:hover{
            background-image:url(../../images/pages/contrib/arrow.jpg);
            background-repeat:no-repeat;
            background-position:bottom center;
        }
    }
    
    .details-block{
        height:167px;
    }
    
    .details{
        width:100%;
        height:167px;
        border-top:1px solid #cdcdcd;
        position:absolute;
        
        img{
            float:left;
        }
        
        div.txt{
            color:#8e8e8e;
            @include georgia(18px); 
            padding:20px;
            padding-left:50px;
            width:510px;
            float:left;
        }
        
        a.button{
            position:absolute;
            right:20px;
            bottom:15px;
            background-image:url(../../images/pages/contrib/button.jpg);
            background-repeat:repeat-x;
            height:25px;
            line-height:25px;
            padding:2px;
            padding-right:15px;
            @include georgia(18px); 
            @include border-radius(4px); 
            
            img{
                position:relative;
                top:0px;
                margin-left:10px;
                margin-right:10px;
            }
        }
    }
}


/* --FOOTER---------------------------------------------------------------------------------------------------- */


* {
    margin: 0;
}
html, body {
    height: 100%;
}


#footer-zone-top {

    background-color: #f3f3f3;
    border-top:1px solid #dadada;
    #footer{
        background-color:#f3f3f3;
        background: None;
        color:#818181;
        text-align:center;
        padding-top:7px;	
        padding-bottom:7px;	
        font-size:11px;
    
        #stain-top{
            background-image:url(../../images/pages/contrib/tache-bottom.png);
            background-repeat:repeat-x;
            width:443px;
            height:38px;
            background-position:center;
            position:absolute;
            top:-38px;
            right:0px;
        }
    
        .separatorv{
            left:20px;
        }
    
        a{
            color:#818181;
            text-decoration:none;
        }
    
        a:hover{
            color:#5f5f5f;
        }
    
        img{
            position:relative;
            top:8px;
        }
    
        #links{
            width:670px;
            float:right;
            padding-top:10px;
        
            ul{
                width:180px;
                float:left;
                margin-left:20px;
                padding:0px;
                text-align:left;
                padding-left:20px;
            
                li{
                    list-style-type:none;
                    font-size:14px;
                }
            
                h1{
                    color: #0090be;
                    @include georgia(20px); 
                    margin-bottom:10px;
                }
            }
        }
    }
}
#footer-zone-bottom {
    background-color: #f3f3f3;
}

