@import "mixin.scss";

.content{

    a{
        color:$blue;
    }

    h1{
        font-size:20px;
        margin-top:10px;
        margin-bottom:15px;    
        border-bottom:1px solid grey;
    }

    h2{
        font-size:15px;
    }

    h3{
        font-size:10px;
    }

    p{
        font-size:12px;
        text-align:justify;
        line-height:17px;
        margin-left:30px;
        margin-right:30px;
    }

    hr{
        margin-top:20px;
        margin-bottom:20px;
        background-image:url("../images/base/separator.jpg");
        background-repeat:repeat-x;
        border:0px;
        height:2px;
    }


    blockquote{
    }

    q{
    }

    cite{
    }

    img{
    }

    ul, ol{
    }

    li{
    }

    pre{
    }

    acronym{
    }

    abbr{
    }

    table{
    }

    tr{
    }

    td{
    }

    code{
    }

    a{
    }
}