@import "../mixin.scss";
@import "../constants.scss";

body {
    background-color: $colorWhite;
}

#header-zone {
    background-color: $colorDarkGrey;
}

#subheader-zone {
    background-color: white;
    position: relative; // make children element 'absolute' positionning relative to this elment
}

#pictured-zone {
    background-color: black;
    height: 253px; // 232px for grid_13 , 214px for grid_12
    border-bottom: $sizeBorderSmall solid $colorLightBlue;


    .tag-header {
	// FIXME: add an inset shadow, if needed
	position: relative;

	a {
	    img {
		width: 100%;
		height: auto;
		border: none;
	    }
	}

	.credit {
	    font-family: $fontOpenSans;
	    font-size: $sizeTextTiny;
	    font-style: italic;
	    position: absolute;
	    top: 145px;
	    left: 10px;
	    color: white;
	}
    }

    .pano-header-block {
	margin-top: 20px;
    }

    .pano-header {
	position: relative; // make children position absolute but relative to this
	height: 81px; // 81px for grid_5 , 64px for grid_4
	width: inherit;
	margin-bottom: 10px;
	@include border-radius($sizeRadiusSmall);
	@include box-shadow-bottomleft;

	img {
	    @include border-radius($sizeRadiusSmall);
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: inherit;
	    height: inherit;
	}


	.project-information {
	    @include border-radius($sizeRadiusSmall);
	    @include border-box;
	    position: absolute; // yet relative to parent
	    top: 0;
	    left: 0;
	    width: inherit;
	    height: inherit;
	    padding: 10px;
	    color: white;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    background-image: url(../../images/tags/icon-arrow-white-big.png), url(../../images/base/background-black-dots.png);
	    background-repeat: no-repeat, repeat;
	    background-position: 400px center, top left;
	    @include transition( all .5s ease );

	    .title {
		display: block;
		position: absolute;
		font-family: $fontOpenSans;
		font-size: $sizeTextBig;
		font-stretch: condensed;
		font-weight: bold;
		text-transform: uppercase;
		visibility: visible;
		background-color: white;
		color: black;
		bottom: 10px;
		padding-left: 1em;
		padding-right: 1em;
	    }

	    .description {
		padding-right: 70px;
		font-family: $fontOpenSans;
		font-size: $sizeTextNormal;
		font-style: italic;
		opacity: 0;
	    }
	}

	&:hover .project-information {
	    @include border-box;
	    position: absolute; // yet relative to parent
	    top: 0;
	    left: 0;
	    padding: 10px;
	    visibility: visible;
	    background-color: rgba($colorLightBlue,0.7);
	    // background-image: url(../../images/tags/icon-arrow-white-big.png);
	    // background-repeat: no-repeat;
	    background-position: 200px center, top left;
	    color: white;

	    .title {
		margin-right: 70px;
		position: static;
		color: white;
		background: none;
		padding: 0;
		margin-bottom: 0.5em;
	    }

	    .description {
		opacity: 1;
	    }
	}
    }
}

#content-zone {
    clear: both;
    background-color: white;
}

#description-zone {
    @include background-vertical-gradient($colorDarkGrey, black);
    @include box-shadow-bottomleft;
    border-radius: 0 $sizeRadiusSmall $sizeRadiusSmall 0;

    // position: relative;
    // z-index: 1;
    position: absolute;
    top: 170px;
    left: 0px;
    padding: 0;
    width: 55%;
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 90px;

    .icon-tag-big {
	display: block;
	margin: 0;
	padding: 0;
	min-height: 5em;
	min-width: 5em;
	background-image: url(../../images/tags/icon-tag-white-big.png);
	background-repeat: no-repeat;
	background-position: 80px center;
    }

    .tag-title {
	color: white;
	font-family: $fontOpenSans;
	font-size: $sizeTextHuge;
	font-style: normal;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
    }

    .tag-description {
	color: white;
	font-family: $fontOpenSans;
	font-size: $sizeTextNormal;
	font-style: italic;

	.button {
	    margin-top: 1em;
	    margin-left: 1em;
	    float: right;
	}
    }

    .readmore {
	@include border-radius($sizeRadiusSmall);
	@include background-vertical-gradient($colorDarkGrey, black);
	@include box-shadow-bottomleft;
	position: absolute;
	top: 25px;
	right: -25px;
	display: block;
	width: 50px;
	height: 50px;

	&:hover {
	    right: -30px;
	}

	a {
	    display: block;
	    width: 100%;
	    height: 100%;
	    background-image: url(../../images/tags/icon-arrow-blue-big.png);
	    background-position: center center;
	    background-repeat: no-repeat;
	}
    }
}



hr.shaded-separator {
    display: block;
    border: 0;
    width: 100%;
    height: 10px;
    background-image: url(../../images/base/horizontal-separator.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.tag-follow-button {
    @include background-vertical-gradient(#4abae9, #3990b4);
    @include border-radius($sizeRadiusSmall);
    @include transition( all .5s ease );
    display: block;
    border: 4px solid #c7e4ea;
    color: white;
    padding: 1em;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 2em;
    text-transform: uppercase;

    &:hover {
	@include background-vertical-gradient(darken(#4abae9,5%), darken(#3990b4,5%));
	border: 4px solid darken(#c7e4ea,5%);
	text-decoration: none;
    }
}

.tag-add-button {
    @include border-radius($sizeRadiusSmall);
    @include transition( all .5s ease );
    display: block;
    background-color: $colorLightBlue;

    box-shadow: inset 0 0 0 $colorLightBlue;
    background-image: url(../../images/tags/icon-plus-white-big.png),
	url(../../images/base/background-white-dots.png);

    background-opacity: 1, 1, 0;
    background-repeat: no-repeat, repeat;
    background-position: 190px center, top left;

    padding: 10px;
    padding-right: 65px;

    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-bottom: 2em;

    &:hover {
	text-decoration: none;
	background-color: darken($colorLightBlue,5%);
    }
}
