@import "../mixin.scss";

$colorDarkGrey: #282828;
$colorLightBlue: #0aaece;
$colorWhite: #f8f8f8;
$colorMedGrey: #c9c9c9;
$colorMedDarkGrey: #535353;

$sizeTitle: 20px;

$sizeShadowSmall: 2px;

$sizeBorderSmall: 4px;

$sizeRadiusSmall: 4px;

// box model that includes padding widthin width
@mixin border-box {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

@mixin shadow_bottomleft {
    box-shadow: $sizeShadowSmall $sizeShadowSmall $sizeShadowSmall rgba(0,0,0,0.5);
}

body {
    background-color: $colorWhite;
}

#header-zone {
    background-color: $colorDarkGrey;
}

#subheader-zone {
    background-color: white;
    position: relative; // make children element 'absolute' positionning relative to this elment
}

#pictured-zone {
    background-color: black;
    height: 214px; // 232px for grid_13 , 214px for grid_12
    border-bottom: $sizeBorderSmall solid $colorLightBlue;


    .tag-header {
	// FIXME: add an inset shadow, if needed
	position: relative;

	a {
	    img {
		width: 100%;
		height: auto;
		border: none;
	    }
	}

	.credit {
	    position: absolute;
	    top: 145px;
	    left: 10px;
	    color: white;
	    font-style: italic;
	}
    }

    .pano-header-block {
	margin-top: 20px;
    }

    .pano-header {
	position: relative; // make children position absolute but relative to this
	height: 81px; // 81px for grid_5 , 64px for grid_4
	width: inherit;
	margin-bottom: 10px;
	@include border-radius($sizeRadiusSmall);
	@include shadow_bottomleft;

	img {
	    @include border-radius($sizeRadiusSmall);
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: inherit;
	    height: inherit;
	}


	.project-information {
	    @include border-radius($sizeRadiusSmall);
	    @include border-box;
	    position: absolute; // yet relative to parent
	    top: 0;
	    left: 0;
	    width: inherit;
	    height: inherit;
	    visibility: hidden;
	    padding: 10px;
	    background: rgba(0,0,255,0.5);
	    color: white;
	    text-overflow: ellipsis;
	    overflow: hidden;

	    .title {
		display: block;
		position: absolute;
		font-weight: bold;
		text-transform: uppercase;
		visibility: visible;
		background-color: white;
		color: black;
		bottom: 10px;
		padding-left: 1em;
		padding-right: 1em;
	    }

	    .description {
		display: block;
	    }
	}

	&:hover .project-information {
	    @include border-box;
	    position: absolute; // yet relative to parent
	    top: 0;
	    left: 0;
	    padding: 10px;
	    padding-right: 70px;
	    visibility: visible;
	    background-color: rgba($colorLightBlue,0.7);
	    background-image: url(../../images/tags/icon-arrow-white-big.png), url(../../images/base/background-dots.png);
	    background-repeat: no-repeat, repeat;
	    background-position: 200px center, top left;
	    color: white;

	    .title {
		position: static;
		color: white;
		background: none;
		padding: 0;
		margin-bottom: 0.5em;
	    }

	    .description {
	    }
	}
    }
}

#content-zone {
    clear: both;
    background-color: white;
}

#description-zone {
    @include vertical_gradient($colorDarkGrey, black);
    @include shadow_bottomleft;
    border-radius: 0 $sizeRadiusSmall $sizeRadiusSmall 0;

    // position: relative;
    // z-index: 1;
    position: absolute;
    top: 170px;
    left: 0px;
    padding: 0;
    width: 55%;
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 90px;

    .icon-tag-big {
	display: block;
	margin: 0;
	padding: 0;
	min-height: 5em;
	min-width: 5em;
	background-image: url(../../images/tags/icon-tag-white-big.png);
	background-repeat: no-repeat;
	background-position: 80px center;
    }

    .tag-title {
	color: white;
	font-family: "OpenSansBold", Arial,Helvetica, sans-serif;
	font-size: $sizeTitle;
	font-style: normal;
	text-transform: uppercase;

    }

    .tag-description {
	color: white;
	font-style: italic;

	.button {
	    margin-top: 1em;
	    margin-left: 1em;
	    float: right;
	}
    }

    .readmore {
	@include border-radius($sizeRadiusSmall);
	@include vertical_gradient($colorDarkGrey, black);
	@include shadow_bottomleft;
        position: absolute;
	top: 25px;
	right: -25px;
        display: block;
	width: 50px;
	height: 50px;

	a {
		display: block;
		width: 100%;
		height: 100%;
		background-image: url(../../images/tags/icon-arrow-blue-big.png);
		background-position: center center;
		background-repeat: no-repeat;
	}
    }
}

#tags-related {
    h2 {
	    text-size: 100%;
	font-weight: bold;
	color: white;
	background-color: $colorMedDarkGrey;
    }

    ul {
	display: inline;
	list-style: none;

	li {
	    display: inline;
	    background-color: $colorMedGrey;

	    a {
		color: $colorMedDarkGrey;
	    }
	}
    }
}

hr.shaded-separator {
    display: block;
    position: relative;
    border: 0;
    width: 100%;
    height: 10px;
    top: -7px;
    background-image: url(../../images/base/horizontal-separator.png);
    background-repeat: no-repeat;
    background-position: center center;
}
