

// load reusable components
@import "i4p/mixins";
@import "i4p/constants";
@import "i4p/mixins";

// create sprites for progressbar
$sheet-sprite-dimensions: true;
@import "project/sheet/*.png"; // */
@include all-sheet-sprites;

// create sprites for toolbar
$i4p-toolbar-sprite-dimensions: true;
@import "project_sheet/i4p-toolbar/*.png"; // */
@include all-i4p-toolbar-sprites;

$i4p-action-sprite-dimensions: true;
$i4p-action-sprites: sprite-map("i4p-action/*.png");
@import "i4p-action/*.png"; // */
// @include all-i4p-action-sprites; // NO AUTO INCLUDE

// quick fix for a broken thing
#langage-tool { visibility: hidden; display: none; }


.project-content {
    @include i4p-sprite('sheet');
    @include i4p-sprite-header('sheet');
    background-color: $colorWhite;
    padding-top: 20px;

    .project-main {
    	margin-left:0 !important;
    }

    .project-inspirational {
    	width:380px;
    	height:160px;
    	margin:20px auto 0;
    	clear:both;
    	text-align:center;

    	strong {
    		font-size:2rem;
    		font-weight:normal;
    	}

    	.icos {
    		margin:15px 0 0 85px;

    		.like {
    			display:block;
    			width:54px;
    			height:53px;
    			margin:0 20px 0 0;
    			float:left;
    			background:image-url('project_sheet/big_ico_like.png') no-repeat top left;
    		}
    		.discu {
    			display:block;
    			width:54px;
    			height:53px;
    			margin:0 20px 0 0;
    			float:left;
    			background:image-url('project_sheet/big_ico_discu.png') no-repeat top left;
    		}
    		.share {
    			display:block;
    			width:54px;
    			height:53px;
    			float:left;
    			background:image-url('project_sheet/big_ico_share.png') no-repeat top left;
    		}
    	}

    	p {
    		width:100%;
    		font-size:1.4rem;
    		font-style:italic;
    		margin:15px 0 0;
    		float:left;
    	}
    }

    .shaded-separator {
	@include i4p-shaded-separator;
	display:none;
    }

    .project-comments {
	h2 {
	    @include i4p-font-title;
	}
    }

    .wrap-partners {
    	background:white;
    }
    .project-partners {
		@include i4p-layout-block;
		@include i4p-seemore-class;

		h2 {
		    @include i4p-font-title;
		}

		#partner-list {
			list-style-type:none;

			li {
				float:left;
				width:25%;
				display:block;
				padding-right:15px;
				@include box-sizing(border-box);
			}
		}
    }

    .project-gallery {
	@include i4p-layout-block;
	@include i4p-seemore-class;
	h2 {
	    @include i4p-font-title;
	}
    }

    .project-related {
    	background:black image-url('project_sheet/black_texture.png');
    	color:white;
		@include i4p-layout-block;
		@include i4p-seemore-class;
		width: inherit;
		margin:0;
		padding-bottom:25px;

		> .container > h2 {
		    @include i4p-font-title;
		    color:white;
		    padding-left:30px;
		    background:image-url('project_sheet/project-related.png') no-repeat center left;
		    margin:30px 0 25px;
		}

		.project-card {
			margin-right:30px;
			@include box-shadow(0 0 2px #555555);
		}
    }

    .project-sidebar {
	@include ctb-makeColumn(4,0);
    }

    .project-members {
	margin-top: 0;
	width: inherit;
	position: relative;
    }
}





.wrap-about {
	background:white;
	padding:20px 30px 1px;
	position:relative;
	@include border-radius(5px 5px 0 0);
}

.project-about {
    & > h2 {
		@include i4p-font-title;
		margin:0 0 15px;
    }

    p {
	@include box-sizing(border-box);
	padding-left: 0;
	position: relative;
	margin-bottom: 2em;

	// background quote sign
	&:before {
	    margin: 0;
	    padding: 0;
	    color: $colorLightLightGrey;
	    content: '\201D';
	    font-size: 12rem;
	    font-weight: bold;
	    position: absolute;
	    right: 0;
	    top: 3rem;
	    z-index: -1;
	}

	// background quote sign
	&:after {
	    margin: 0;
	    padding: 0;
	    color: $colorLightLightGrey;
	    content: '\201C';
	    font-weight: bold;
	    font-size: 12rem;
	    left: -1rem;
	    bottom: -3rem;
	    position: absolute;
	    z-index: -1;
	}
    }
}
