

// load reusable components
@import "i4p/mixins";
@import "i4p/constants";
@import "i4p/mixins";

// create sprites for progressbar
$sheet-sprite-dimensions: true;
@import "project/sheet/*.png"; // */
@include all-sheet-sprites;

// create sprites for toolbar
$i4p-toolbar-sprite-dimensions: true;
@import "project_sheet/i4p-toolbar/*.png"; // */
@include all-i4p-toolbar-sprites;

$i4p-action-sprite-dimensions: true;
$i4p-action-sprites: sprite-map("i4p-action/*.png");
@import "i4p-action/*.png"; // */
// @include all-i4p-action-sprites; // NO AUTO INCLUDE

// quick fix for a broken thing
#langage-tool { visibility: hidden; display: none; }


.project-content {
    @include i4p-sprite('sheet');
    @include i4p-sprite-header('sheet');
    background-color: $colorWhite;
    padding-top: 20px;

    .project-main {
    	margin-left:0 !important;
    }

    .shaded-separator {
	@include i4p-shaded-separator;
    }

    .project-comments {
	h2 {
	    @include i4p-font-title;
	}
    }

    .project-partners {
	@include i4p-layout-block;
	@include i4p-seemore-class;
	h2 {
	    @include i4p-font-title;
	}
    }

    .project-gallery {
	@include i4p-layout-block;
	@include i4p-seemore-class;
	h2 {
	    @include i4p-font-title;
	}
    }

    .project-related {
	@include i4p-layout-block;
	@include i4p-seemore-class;
	width: inherit;

	h2 {
	    @include i4p-font-title;
	}
    }

    .project-sidebar {
	@include ctb-makeColumn(4,0);
    }

    .project-members {
	margin-top: 0;
	width: inherit;
	position: relative;
    }
}





.wrap-about {
	background:white;
	padding:20px 30px;
	position:relative;
	@include border-radius(5px 5px 0 0);
}

.project-about {
    & > h2 {
		@include i4p-font-title;
		margin:0 0 15px;
    }

    p {
	@include box-sizing(border-box);
	padding-left: 0;
	position: relative;
	margin-bottom: 2em;

	// background quote sign
	&:before {
	    margin: 0;
	    padding: 0;
	    color: $colorLightLightGrey;
	    content: '\201D';
	    font-size: 12rem;
	    font-weight: bold;
	    position: absolute;
	    right: 0;
	    top: 3rem;
	    z-index: -1;
	}

	// background quote sign
	&:after {
	    margin: 0;
	    padding: 0;
	    color: $colorLightLightGrey;
	    content: '\201C';
	    font-weight: bold;
	    font-size: 12rem;
	    left: -1rem;
	    bottom: -3rem;
	    position: absolute;
	    z-index: -1;
	}
    }
}



.project-references {
}

