<link href="{{"/style/forum_style.css"|static_url }}" rel="stylesheet" type="text/css" />
<link href="{{"/style/bootstrap.css"|static_url }}" rel="stylesheet" type="text/css" />
{% if settings.USE_LOCAL_FONTS %}
    {% include "meta/fonts.html" %}
{% else %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:400,700&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
{% endif %}
{{ skin.get_extra_css_link() }}
{% if settings.USE_CUSTOM_CSS %}
    <link 
        href="{% url "custom_css" %}?v={{settings.MEDIA_RESOURCE_REVISION}}"
        rel="stylesheet"
        type="text/css"
    />
{% endif %}
