{% load i18n %}
{% load tagging_tags %}
{% load word_boundary_aware_truncate_chars %}
{% load sekizai_tags %}
{% load unique_counter_tag %}
{% load i18n i4p_tags %}

{% comment %} JS DEPENDENCIES FOR INLINE EDITING {% endcomment %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.growfield2.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.jeditable.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.jeditable.growfield.js"></script>
{% endaddtoblock %}

{% comment %} ASYNCHRONOUS JS LOADING {% endcomment %}
{% addtoblock "footer_js" %}
<script type="text/javascript">
$.getScript(I4P_STATIC_URL+"js/project_sheet/block/about.js");  
</script>
{% endaddtoblock %}
{% addtoblock "footer_js" %}
<script type="text/javascript">
	$.getScript(I4P_STATIC_URL+"js/i4p/editable.js");
</script>
{% endaddtoblock %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/about.css" />
{% endaddtoblock %}



{% unique_counter about %}
{% with about_unique_counter=about_counter %}

<div class="project-about">
	<a name="project-about"></a>

	{% if project_translation %}
	<h2><span>{% trans "About the project" %}</span>
		{% if project_translation %}
		<a href="#FIXME-bad-static-edit-url" class="i4p-button"
			data-toggle="i4p-editable-button"
			data-target="about-description-{{about_unique_counter}}"
			>
			<span>{% trans 'Edit' %}</span>
		</a>
		{% endif %}
	</h2>
	{% endif %}

	{% if project_translation %}
	{% comment %} PROJECT ABOUT SECTION {% endcomment %}

	<p id="about-description-{{about_unique_counter}}"
	data-toggle="i4p-editable"
	data-language-code="{{ LANGUAGE_CODE }}"
	data-editable-id="about_section_txt"
	data-editable-trigger="dblclick"
	data-editable-tooltip="{% trans 'Double-click to edit' %}"
	data-editable-type="textarea"
	data-editable-load-url="{% if project_translation %}{% url project_sheet-ajax-field-load project_translation.slug %}{% else %}{% url project_sheet-ajax-field-load %}{% endif %}"
	data-editable-save-url="{% if project_translation %}{% url project_sheet-ajax-field-save project_translation.slug %}{% else %}{% url project_sheet-ajax-field-save %}{% endif %}" 
	data-editable-cancel="<button type='cancel'>Cancel</button>"
	data-editable-submit="<button type='submit'>Submit</button>"
	data-editable-placeholder="{% trans "This field is blank. Don’t forget to complete it!"|capfirst %}"
	>
	{{ project_translation.about_section|linebreaksbr|urlize|url_target_blank }}
	</p>
	{% else %}
	<h3>{% trans "Welcome to your new project sheet!" %}</h3>
	<br/>
	<p>
	<strong>{% trans "The first step is to edit the project title." %}</strong>
	</p>
	<p>
	{% trans "To do that, <strong>hover your mouse on 'My Project Title'</strong> so you can see the pencil. Then, <strong>click on it</strong> and fill in your project title." %}
	</p>
	<p>
	{% trans "You will then <strong>have access to the whole sheet</strong> where you can fill in all the details of your project, the same way you did for the title. If you've already used a <strong>wiki</strong> before, you'll feel at home. " %}
	</p>
	<p>
	{% trans "At any time, if you feel lost, just use the <strong>Feedback</strong> tab, located on the right of the screen. We'll try to help you as fast as possible." %}
	</p>
	{% endif %}

	{% endwith %}<!-- %about_unique_counter -->
</div>

<div class="project-about">
	{% comment %} PROJECT TAGS {% endcomment %}



	{% if project_translation %}
	{% if project_sheet_themes_form %}
	<form method='POST' action='?'>
		{% csrf_token %}
		{{ project_sheet_themes_form }}
		<input type="submit"/>
	</form>
	{% else %}

	{% tags_for_object project_translation as project_tags %}

	{% url project_sheet-instance-edit-tags project_translation.slug as url_edit_tags %}
	{% with taglist_title="Themes" taglist_tags=project_tags taglist_is_editable=1 taglist_edit_action=url_edit_tags %}
	{% include "tags/block/taglist.html" %}
	{% endwith %}
	{% endif %}

	{% endif %}
</div> <!-- .project-about -->

