{% comment %}

Parameters for this block
=========================

* project : I4pProject

{% endcomment %}
{% load i18n %}
{% load word_boundary_aware_truncate_chars %}
{% load sekizai_tags %}

{% addtoblock "js" strip %}
{% endaddtoblock %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/card_fancy_wide.css" />
{% endaddtoblock %}

<a href="{{ project.get_absolute_url }}" 
	class="project wide-card">
	<img src="{{ project.pictures.all.0.small_pano_header.url }}"/>

	<div class="project-information">
		<p class="title"><span>{{ project.title }}</span></p>
		<p class="description">{{ project.baseline }}</p>
	</div>
</a>
