{% comment %}

Parameters for this block
=========================

* project : I4pProject

{% endcomment %}
{% load i18n %}
{% load word_boundary_aware_truncate_chars %}
{% load sekizai_tags %}

{% addtoblock "js" strip %}
{% endaddtoblock %}

{% addtoblock "css" strip %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/project_sheet/block/card_fancy_square.css" />
{% endaddtoblock %}

<a class="project square fancy {% if forloop.first %} alpha{%endif%}{% if forloop.last %} omega{%endif%}"
    href="{{ project.get_absolute_url }}" >

    <div class="summary" data-action-1="{% trans "See the project" %}" />
        <h2 class="title"><span>{{ project.title|truncatechars:50 }}</span></h2>
        <p class="description">
            {% if project.baseline|slice:"-1" != "." %}
            {{ project.baseline|add:'.'|truncatechars:70 }}
            {% endif %}
            {%comment%}{{ project.baseline|truncatechars:70 }{%endcomment%}
        </p>
    </div> <!-- summary -->

    <div class="card" >
        <div class="photo">    
            {% if project.pictures.all|length > 0 %}
            <img src="{{ project.pictures.all.0.thumbnail_idcard.url }}" alt=""/>
            {% endif %}
        </div> <!-- photo -->

        <div class="project-progress">
            <p class="status progressbar-{{project.status|lower }}">{{ project.get_status_display }}</p>
        </div>

        <div class="pictos">
            {% if project.members.count > 0 %}
            <div class="picto-team"></div>
            {% endif %}
            {% ifequal project.completion_progress "EDIT" %}
            <div class="picto-editing"></div>
            {% endifequal  %}
            {% if project.master.best_of %}
            <div class="picto-bestof"></div>
            {% endif %}
        </div>

        <div class="location">
            {% if project.location.country %}
            <img src="{{ project.location.country.flag }}" class="flag" title="{{ project.location.get_country_display }}" alt="{{ project.location.get_country_display }}"/>{{project.location.get_country_display|truncatewords:2|capfirst}}
            {% else %}


            {% endif %}
        </div>    

        {% if project.topics.all.0 %}
        <div class="topic">
            <div class="illustration topic-{{ project.topics.all.0.topic.slug }}-small" title="{{ project.topics.all.0.topic.label }}"></div>
            <p class="description">{{ project.topics.all.0.topic.label }}</p>
        </div>
        {% endif %}
    </div>

</a>
