{% comment %}

Parameters for this block
=========================

* project_translation : I4pProjectTranslation

{% endcomment %}
{% load i18n %}
{% load word_boundary_aware_truncate_chars %}
{% load sekizai_tags %}

{% addtoblock "js" strip %}
{% endaddtoblock %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/card_flat_wide.css" />
{% endaddtoblock %}

<li class="project wide-flat">
	<p class="title">{{ project_translation.title }}</p>
	<p class="description">{{ project_translation.baseline }}</p>
</li>
