{% comment %}

Parameters for this block
=========================

* project : I4pProject

{% endcomment %}
{% load i18n %}
{% load word_boundary_aware_truncate_chars %}
{% load sekizai_tags %}

{% addtoblock "js" strip %}
{% endaddtoblock %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/card_flat_wide.css" />
{% endaddtoblock %}
<a href="{{ project.get_absolute_url }}" 
    class="project wide-flat">
	<p class="title">{{ project.title }}</p>
	<p class="description">{{ project.baseline }}</p>
</a>
