{% comment %}

Parameters for this block
=========================

* project_translation : I4pProjectTranslation

{% endcomment %}
{% load i18n %}
{% load word_boundary_aware_truncate_chars %}
{% load sekizai_tags %}

{% addtoblock "js" strip %}
{% endaddtoblock %}

{% addtoblock "css" strip %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/project_sheet/block/card_fancy_square.css" />
{% endaddtoblock %}

<a class="project square fancy {% if forloop.first %} alpha{%endif%}{% if forloop.last %} omega{%endif%}"
    href="{{ project_translation.master.get_absolute_url }}" >

    <div class="summary" data-action-1="{% trans "See the project" %}" />
        <h2 class="title"><span>{{ project_translation.title|truncatechars:50 }}</span></h2>
        <p class="description">
            {% if project_translation.baseline|slice:"-1" != "." %}
            {{ project_translation.baseline|add:'.'|truncatechars:70 }}
            {% endif %}
            {%comment%}{{ project_translation.baseline|truncatechars:70 }{%endcomment%}
        </p>
    </div> <!-- summary -->

    <div class="card" >
        <div class="photo">    
            {% if project_translation.master.pictures.all|length > 0 %}
            <img src="{{ project_translation.master.pictures.all.0.thumbnail_idcard.url }}" alt=""/>
            {% endif %}
        </div> <!-- photo -->

        <div class="project-progress">
            <p class="status progressbar-{{project_translation.master.status|lower }}">{{ project_translation.master.get_status_display }}</p>
        </div>

        <div class="pictos">
            {% if project_translation.master.members.count > 0 %}
            <div class="picto-team"></div>
            {% endif %}
            {% ifequal project_translation.completion_progress "EDIT" %}
            <div class="picto-editing"></div>
            {% endifequal  %}
            {% if project_translation.master.best_of %}
            <div class="picto-bestof"></div>
            {% endif %}
        </div>

        <div class="location">
            {% if project_translation.master.location.country %}
            <img src="{{ project_translation.master.location.country.flag }}" class="flag" title="{{ project_translation.master.location.get_country_display }}" alt="{{ project_translation.master.location.get_country_display }}"/>{{project_translation.master.location.get_country_display|truncatewords:2|capfirst}}
            {% else %}


            {% endif %}
        </div>    

        {% if project_translation.master.topics.all.0 %}
        <div class="topic">
            <div class="illustration topic-{{ project_translation.master.topics.all.0.topic.slug }}-small" title="{{ project_translation.master.topics.all.0.topic.label }}"></div>
            <p class="description">{{ project_translation.master.topics.all.0.topic.label }}</p>
        </div>
        {% endif %}
    </div>

</a>
