{% load i18n %}
{% load comments %}
{% load sekizai_tags %}

{% addtoblock "js" %}
{% endaddtoblock %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/comment-list.css" />
{% endaddtoblock %}
{% comment %}FIXME: use real comment block instead {% endcomment %}
<div class="comment-list span5">
	<ul>
		{% if "show_comments" in request.GET %}
		{% for comment in comment_list reversed %}
		<li class="comment {% cycle 'odd' 'even' %}">
			{% include "project_sheet/block/comment-item.html" %}
		</li>
		{% endfor %}

		{% else %}
		{% for comment in comment_list|slice:"-5:" reversed %}
		<li class="comment {% cycle 'odd' 'even' %}">
			{% include "project_sheet/block/comment-item.html" %}
		</li>
		{% endfor %}
		{% endif %}
	</ul>
	<a class="seemore" href="#FIXME-URL: show remaining comments">
		{% trans "Show all FIXME-COUNTER comments" %}
		<!-- FIXME: show down chevron icon -->
	</a>
</div>
{% comment %}
<!-- ------------------------------
OLD VERSION OF THE SAME TEMPLATE BELOW :
---------------------------------->

{% load i18n %}
{% load comments %}
{% load sekizai_tags %}

{% addtoblock "js" %}
{% endaddtoblock %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/comment.css" />
{% endaddtoblock %}

<ul id="comments-list">
	{% if "show_comments" in request.GET %}
	{% for comment in comment_list reversed %}
	<li class="{% cycle 'odd' 'even' %}">
		{% include "project_sheet/block/comment.html" %}
	</li>
	{% endfor %}

	{% else %}
	{% for comment in comment_list|slice:"-5:" reversed %}
	<li class="{% cycle 'odd' 'even' %}">
		{% include "project_sheet/block/comment.html" %}
	</li>
	{% endfor %}
	{% endif %}
</ul>
{% endcomment %}
