{% load i18n %}
{% load comments %}
{% load sekizai_tags %}

{% addtoblock "js" %}
{% endaddtoblock %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/comment-list.css" />
{% endaddtoblock %}
{% comment %}FIXME: use real comment block instead {% endcomment %}
<div class="comment-list span5">
	<ul>
		{% if "show_comments" in request.GET %}
		{% get_comment_list for project_translation as comment_list %}
		{% for comment in comment_list reversed %}
		<li class="comment {% cycle 'odd' 'even' %}">
			PIF
			{% include "project_sheet/block/comment-item.html" %}
		</li>
		{% endfor %}

		{% else %}
		{% for comment in comment_list|slice:"-5:" reversed %}
		<li class="comment {% cycle 'odd' 'even' %}">
			PAF
			{% include "project_sheet/block/comment-item.html" %}
		</li>
		{% endfor %}
		{% endif %}
	</ul>
	<a class="seemore" href="?show_comments=1#comments-module">
      {% get_comment_count for project_translation as comment_count %}
        {% trans "Show all" %} {{ comment_count }} {% trans "comments" %}</a>
	</a>
</div>
