{% load i18n %}
{% load comments %}
{% load sekizai_tags %}

{% addtoblock "js" %}
{% endaddtoblock %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/comment.css" />
{% endaddtoblock %}
<div class="comment-list span5">
	<ul>
		<li class="comment">
			<div class="header">
				<span class="author">Simon Sarazin</span>
				<span class="postdate">Oct. 28, 2011</span>
			</div>
			<div class="content">
				Lorem ipsum dolor sit amet, consectetur apiscing elit, sed do eiusmod...
			</div>
		</li>
		<li class="comment">
			<div class="header">
				<span class="author">Simon Sarazin</span>
				<span class="postdate">Oct. 28, 2011</span>
			</div>
			<div class="content">
				Lorem ipsum dolor sit amet, consectetur apiscing elit, sed do eiusmod...
			</div>
		</li>
	</ul>
	<!-- FIXME: missing see the XX comments -->
	<!-- FIXME: missing add your comment -->
</div>
{% comment %}
<!-- ------------------------------
OLD VERSION OF THE SAME TEMPLATE BELOW :
---------------------------------->

{% load i18n %}
{% load comments %}
{% load sekizai_tags %}

{% addtoblock "js" %}
{% endaddtoblock %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/comment.css" />
{% endaddtoblock %}

<ul id="comments-list">
	{% if "show_comments" in request.GET %}
	{% for comment in comment_list reversed %}
	<li class="{% cycle 'odd' 'even' %}">
		{% include "project_sheet/block/comment.html" %}
	</li>
	{% endfor %}

	{% else %}
	{% for comment in comment_list|slice:"-5:" reversed %}
	<li class="{% cycle 'odd' 'even' %}">
		{% include "project_sheet/block/comment.html" %}
	</li>
	{% endfor %}
	{% endif %}
</ul>
{% endcomment %}
