{% comment %}
vim: set syntax=htmldjango:

Parameters for this block
=========================

FIXME: use picture list instead of project_translation

* project_translation : I4pProjectTranslation
* gallery_modal_unique_counter : a unique counter

{% endcomment %}

{% load i18n %}
{% load sekizai_tags %}
{% load thumbnail %}
{% load unique_counter_tag %}
{% load oembed_works_tags %}


{% addtoblock "css" strip %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/gallery_modal.css" />
{% endaddtoblock %}

{% comment %} SYNCHRONOUS JS LOADING {% endcomment %}
{% addtoblock "js" strip %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.anythingslider-1.8.6.js"></script>
{% endaddtoblock %}

{% comment %} ASYNCHRONOUS JS LOADING {% endcomment %}
{% addtoblock "footer_js" strip %}
<script type="text/javascript">
$.getScript(I4P_STATIC_URL+"js/project_sheet/block/gallery_modal.js");  
</script>
{% endaddtoblock %}

{% unique_counter gallery_fancy_slider %}
{% with modal_unique_counter=gallery_fancy_slider_counter %}

<div class="project-gallery-modal modal hide fade in out span10" tabindex="-1" 
	role="dialog" id="gallery-{{ gallery_modal_unique_counter }}" >
	<div class="row">
		<div class="top-side viewer-side span7">
			<div class="viewer-container">
				<ul id="gallery-modal-view-{{ modal_unique_counter }}"
					data-toggle="i4p-gallery-modal-viewer" 
					data-slider-information-id="gallery-modal-information-{{ modal_unique_counter }}"
					data-slider-actions-id="gallery-modal-actions-{{ modal_unique_counter }}"
					class="viewer-slider"
					>

					{% comment %} IMAGE LOOP {% endcomment %}
					{% for project_picture in project_translation.master.pictures.all %}
					<li data-slider-index="{{ forloop.counter }}">
						<img src="{% thumbnail project_picture.original_image.name 520x400 upscale=1 crop='50,50' %}"  
						alt="image-{{ forloop.counter }}" /> 
						<div class="description">{{project_picture.desc}}</div>
						<div class="source">{{project_picture.source}}</div>
						<div class="licence">{{project_picture.licence}}</div>
						{% comment %} FIXME: both methods below use GET calls instead of POST (since altering DB state) {% endcomment %}
						<a class="delete" href="{% url project_sheet-instance-picture-del project_translation.slug project_picture.id %}"></a>
						<a class="set-cover" href="{% url  project_sheet-instance-picture-set-cover project_translation.slug project_picture.id %}"></a>
                       
					</li>
					{% endfor %}

					{% comment %} VIDEO LOOP {% endcomment %}
					{% for project_video in project_translation.master.videos.all %}
					<li data-slider-index="{{ project.pictures.all|length|add:forloop.counter }}" class="video-item">
						{% oembed 520x400 %}{{ project_video.video_url }}{% endoembed %}
						<div class="description">{{project_video.desc}}</div>
						<div class="source">{{project_video.source}}</div>
						<div class="licence">{{project_video.licence}}</div>
						<a href="{% url project_sheet-instance-picture-del project_translation.slug project_video.id %}" class="delete"></a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="top-side information-side span3" id="gallery-modal-information-{{ modal_unique_counter }}">
			<div class="title">
				<h2>Title</h2>
				<span class="gallery-viewer-title"></span>
			</div>

			<div class="source">
				<h2>Source</h2>
				<span class="gallery-viewer-source"></span>
			</div>

			<div class="license">
				<h2>License</h2>
				<span class="gallery-viewer-license"></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="bottom-side viewer-side span7">
			<div class="thumbnails-container">
				<ul id="gallery-slider-{{ modal_unique_counter }}" 
					class="gallery-slider" 
					data-toggle="i4p-gallery-fancy-slider" 
					data-slider-view-id="gallery-modal-view-{{ modal_unique_counter }}">
					{% for project_picture in project_translation.master.pictures.all %}
					<li data-slider-index="{{ forloop.counter }}">
					<a href="{% thumbnail project_picture.original_image.name 520x400 upscale=1 crop='50,50' %}">
						<img src="{% thumbnail project_picture.original_image.name 88x58 upscale=1 crop='50,50' %}"  
						alt="" />
					</a>
					</li>
					{% endfor %}

					{% for project_video in project_translation.master.videos.all %}
					<li data-slider-index="{{ project_translation.master.pictures.all|length|add:forloop.counter }}">
					<a href="#">
						<img  src="{{ STATIC_URL }}images/play_video.png" class="color" alt="" />

						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="gallery-nav">
				<a href="#" data-toggle="i4p-gallery-modal-control" 
					data-slider-target-id="gallery-slider-{{ modal_unique_counter }}" 
					data-slider-command="goBack">
					{% trans "Previous"|capfirst %}
				</a>
				<a href="#" data-toggle="i4p-gallery-modal-control" 
					data-slider-target-id="gallery-slider-{{ modal_unique_counter }}" 
					data-slider-command="goForward" class='right'>
					{% trans "Next" %}
				</a>
			</div>
		</div>
		<div class="bottom-side information-side span3"
			id="gallery-modal-actions-{{ modal_unique_counter }}"
			>
			<div class="action">	
                <!-- dynamic url setting via JS : you need to add there your class when you want more actions here -->
				<a class='set-cover' href="#">{% trans 'Set as cover picture' %}</a>
				<a class='delete' href="#">{% trans 'Delete this picture' %}</a>
                {% comment %}                        
				<a class='edit' href="#FIXME-bad-url-for-modify">{% trans 'Modify this picture' %}</a>
				{% endcomment %}
			</div>

			<div class="action-primary">
				<a class='view-gallery' href="{% url project_sheet-instance-gallery project_translation.slug %}">{% trans 'View gallery' %}</a>
			</div>
		</div>
	</div>
</div>

{% endwith %}
