{% comment %}

Parameters for this block
=========================

FIXME: use picture list instead of project_translation

* project_translation : I4pProjectTranslation

{% endcomment %}
{% load i18n %}
{% load sekizai_tags %}
{% load thumbnail %}
{% load unique_counter_tag %}

{% comment %} ASYNCHRONOUS JS LOADING {% endcomment %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.anythingslider-1.8.6.js"></script>
{% endaddtoblock %}

{% addtoblock "footer_js" %}
<script type="text/javascript">
$.getScript(I4P_STATIC_URL+"js/project_sheet/block/gallery_fancy.js");  
</script>
{% endaddtoblock %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/gallery_fancy.css" />
{% endaddtoblock %}

{% unique_counter gallery_fancy %}
{% with gallery_unique_counter=gallery_fancy_counter %}

{% unique_counter gallery_fancy_slider %}
{% with modal_unique_counter=gallery_fancy_slider_counter %}

<div class="project-gallery-widget">
	<ul>
		{% for project_picture in project_translation.project.pictures.all %}
		{% comment %} WE DISPLAY ONLY FOUR PICTURES, NOT MORE {% endcomment %}
		{% if forloop.counter0 < 4 %}
		<li class="picture
		{% if project_translation.project.pictures.all|length < 3 %}
		{% comment %} FOR SMALL GALLERIES, WE DO ONLY BIG IMAGES {% endcomment %}
		picture-big
		{% else %}
		{% comment %} FOR BIGGER GALLERIES,}WE ALTERNATE ONE BIG AND TWO SMALL {% endcomment %}
		{% if forloop.counter0|divisibleby:"3" %}picture-big{% else %}picture-small{% endif %}
		{% endif %}
		" data-target="#gallery-{{ gallery_unique_counter }}" data-toggle="modal" >
		<div class="image">
			<img src="{% thumbnail project_picture.original_image.name 300x197 upscale=1 crop='50,50' %}" class="color" alt="">
			<img src="{% thumbnail project_picture.original_image.name 300x197 upscale=1 crop='50,50' bw %}" class="bw" alt="">
		</div>
		<div class="description">
			{{project_picture.desc}}
		</div>
		<!-- TODO: rewrite with semantic HTML if possible -->
		<div class="overlay-one"></div>
		<div class="overlay-two"></div>
		</li>
		{% endif %}
		{% empty %}
		<li>{% trans 'No picture found' %}</li>
		{% endfor %}
	</ul>
</div>


<div class="project-gallery-modal modal hide fade in out span10" tabindex="-1" role="dialog" id="gallery-{{ gallery_unique_counter }}" >
	<div class="row">
		<div class="top-side viewer-side span7">
			<ul class="gallery-viewer-container" id="gallery-modal-view-{{ modal_unique_counter }}">
			</ul>
		</div>

		<div class="top-side information-side span3">
			<div class="title">
				<h2>Title</h2>
				<span class="gallery-viewer-title"></span>
			</div>

			<div class="source">
				<h2>Source</h2>
				<span class="gallery-viewer-source"></span>
			</div>

			<div class="license">
				<h2>License</h2>
				<span class="gallery-viewer-license"></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="bottom-side viewer-side span7">
			<div class="gallery-slider-container">
				<ul id="gallery-slider-{{ modal_unique_counter }}" 
					class="gallery-slider" 
					data-toggle="i4p-gallery-fancy-slider" 
					data-slider-view="#gallery-modal-view-{{ modal_unique_counter }}">
					{% for project_picture in project_translation.project.pictures.all %}
					<li data-slide-number="{{ forloop.counter }}">
					<a href="{% thumbnail project_picture.original_image.name 600x400 upscale=1 crop='50,50' %}">
						<img src="{% thumbnail project_picture.original_image.name 88x58 upscale=1 crop='50,50' %}"  alt="" />
					</a>
					</li>
					{% endfor %}

					{% for project_picture in project_translation.project.pictures.all %}
					<li data-slide-number="{{ forloop.counter }}">
					<a href="{% thumbnail project_picture.original_image.name 600x400 upscale=1 crop='50,50' %}">
					<img src="{% thumbnail project_picture.original_image.name 88x58 upscale=1 crop='50,50' %}"  alt="FIXME: remove after debug" />
				</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="gallery-nav">
				<a href="#" data-toggle="i4p-gallery-fancy-modal-control" 
					data-slider-target="gallery-slider-{{ modal_unique_counter }}" 
					data-slider-command="goBack">
					{% trans "Previous"|capfirst %}
				</a>
				<a href="#" data-toggle="i4p-gallery-fancy-modal-control" 
					data-slider-target="gallery-slider-{{ modal_unique_counter }}" 
					data-slider-command="goForward" class='right'>
					{% trans "Next" %}
				</a>
			</div>
		</div>
		<div class="bottom-side information-side span3">
			<div class="actions">
				<a href="#FIXME-bad-url-for-gallery">view gallery</a>
			</div>
		</div>
	</div>
</div>
{% endwith %}
{% endwith %}
