{% comment %}

Parameters for this block
=========================

FIXME: use picture list instead of project_translation

* project_translation : I4pProjectTranslation

{% endcomment %}
{% load i18n %}
{% load sekizai_tags %}
{% load thumbnail %}
{% load unique_counter_tag %}

{% comment %} ASYNCHRONOUS JS LOADING {% endcomment %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.anythingslider-1.8.6.js"></script>
{% endaddtoblock %}

{% addtoblock "footer_js" %}
<script type="text/javascript">
$.getScript(I4P_STATIC_URL+"js/project_sheet/block/gallery_fancy_thin.js");  
</script>
{% endaddtoblock %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/gallery_fancy_thin.css" />
{% endaddtoblock %}

{% unique_counter gallery_fancy_thin %}
{% with gallery_modal_unique_counter=gallery_fancy_thin_counter %}

<div class="project-gallery-widget">
	<ul>
		{% for project_picture in project_translation.master.pictures.all %}
		{% comment %} WE DISPLAY ONLY FOUR PICTURES, NOT MORE {% endcomment %}
		{% if forloop.counter0 < 4 %}
		<li class="picture
		{% if project_translation.master.pictures.all|length < 3 %}
		{% comment %} FOR SMALL GALLERIES, WE DO ONLY BIG IMAGES {% endcomment %}
		picture-big
		{% else %}
		{% comment %} FOR BIGGER GALLERIES,}WE ALTERNATE ONE BIG AND TWO SMALL {% endcomment %}
		{% if forloop.counter0|divisibleby:"3" %}picture-big{% else %}picture-small{% endif %}
		{% endif %}
		" 
		data-modal-target-id="gallery-{{ gallery_modal_unique_counter }}" 
		data-slider-view-id="gallery-modal-view-{{ gallery_modal_unique_counter }}"
		data-toggle="i4p-gallery-modal" 
		data-slider-index="{{ forloop.counter }}"
		>
		<div class="image">
			<img src="{% thumbnail project_picture.original_image.name 300x197 upscale=1 crop='50,50' %}" class="color" alt="">
			<img src="{% thumbnail project_picture.original_image.name 300x197 upscale=1 crop='50,50' bw %}" class="bw" alt="">
		</div>
		<div class="description">
			{{project_picture.desc}}
		</div>
		<!-- TODO: rewrite with semantic HTML if possible -->
		<div class="overlay-one"></div>
		<div class="overlay-two"></div>
		</li>
		{% endif %}
		{% empty %}
		<li>{% trans 'No picture found' %}</li>
		{% endfor %}
	</ul>
</div>

{% include "project_sheet/block/gallery_modal.html" %}

{% endwith %}

