
{% load i18n %}
{% load tagging_tags %}
{% load compress %}
{% load honeypot %}
{% load sekizai_tags %}
{% load comments %}
{% load thumbnail %}
{% load oembed_works_tags %}
{% load tabs %}


{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/gallery_fancy_wide.css" />
{% endaddtoblock %}

<div class="gallery-fancy-wide-block">
	<h2><span>{% trans 'pictures' %}</span></h2>
	<div class="row">
		{% for picture in project.pictures.all %}
		<div class="picture span2" >
			<!-- <img src="{{ MEDIA_URL }}{{ picture.original_image }}"/> -->

			<div class="image">
				<img src="{% thumbnail picture.original_image.name 140x120 upscale=1 crop='50,50' %}" class="color" alt="">
			</div>

			<div class="description">
				{{picture.desc}}
			</div>
			<a href="{% url project_sheet-instance-picture-del project_translation.slug picture.id %}" class="delete">
				<i class="icon-remove icon-white"></i>
			</a>
		</div>
		{% endfor %}
	</div>
</div>

<div class="vidgallery-fancy-wide-block">
	<h2><span>{% trans 'videos' %}</span></h2>
	<div class="row">
		{% for video in project.videos.all %}
		<div class="project-gallery-video" >
			<div class="video">
				{% oembed 140x120 %}{{ video.video_url }}{% endoembed %}
			</div>

			<div class="description">
				{{video.desc}}
			</div>
			{% comment %}
			[<a href="{% url project_sheet-instance-video-del project_translation.slug video.id %}">delete</a>]
			{% endcomment %}
		</div>
		{% endfor %}
	</div>
</div>

