{% comment %}

Parameters for this block
=========================

FIXME: use picture list instead of project_translation

* project_translation : I4pProjectTranslation

{% endcomment %}
{% load i18n %}
{% load sekizai_tags %}
{% load thumbnail %}

{% addtoblock "js" %}
{% endaddtoblock %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/gallery_fancy.css" />
{% endaddtoblock %}

<div class="project-gallery">
	<ul>
		{% for project_picture in project_translation.project.pictures.all %}
		{% comment %} WE DISPLAY ONLY FOUR PICTURES, NOT MORE {% endcomment %}
		{% if forloop.counter0 < 4 %}
		<li class="picture
			{% if project_translation.project.pictures.all|length < 3 %}
			{% comment %} FOR SMALL GALLERIES, WE DO ONLY BIG IMAGES {% endcomment %}
			picture-big
			{% else %}
			{% comment %} FOR BIGGER GALLERIES,}WE ALTERNATE ONE BIG AND TWO SMALL {% endcomment %}
			{% if forloop.counter0|divisibleby:"3" %}picture-big{% else %}picture-small{% endif %}
			{% endif %}
			">
			<div class="image">
				<!-- <img src="{{project_picture.display.url}}" class="normal" alt=""> -->
				<img src="{% thumbnail project_picture.display.name 300x300 upscale=1 crop=300x300 %}" class="color" alt="">
				<img src="{% thumbnail project_picture.display.name 300x300 upscale=1 crop=300x300 bw %}" class="bw" alt="">
			</div>
			<div class="description">
				{{project_picture.desc}}
			</div>
			<!-- FIXME: use semantic HTML if possible -->
			<div class="overlay-one"></div>
			<div class="overlay-two"></div>
			<!-- FIXME: add links & popup -->
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</div>

