{% comment %}

Parameters for this block
=========================

* member : project team member or fan list (FIXME: object type ?)

{% endcomment %}
{% load i18n %}
{% load word_boundary_aware_truncate_chars %}
{% load sekizai_tags %}

{% addtoblock "js" strip %}
{% endaddtoblock %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/member_fancy_square.css" />
{% endaddtoblock %}

<li id="member-{{ member.id }}" class="member square fancy {% if member.role %}team_member{%elif member.fan_since%}fan{%endif%}" 
	data-slider-index="{{ forloop.counter }}"
	data-toggle="i4p-member-overlay-hook"
	data-member-position="{% if member.role %}{{member.role}}{%elif member.fan_since%}Fan{%endif%}"
	data-member-fullname="{{ member.user.get_full_name|default:member.user.username }}"
	data-member-profile="{{ member.user.get_profile.get_absolute_url }}"
	data-member-contact="{% url userena_umessages_compose_to member.user %}"
	>
	<a href="{{ member.user.get_profile.get_absolute_url }}">
		<img src="{{ member.user.get_profile.get_mugshot_url }}" alt="{{ member.user.username }}" class="avatar"/>
	</a>

	<div class="details">
		<a href="{{ member.user.get_profile.get_absolute_url }}"><img class="avatar" src="{{ person.user.get_profile.get_mugshot_url }}" /></a>
		<a class="fullname" href="{{ person.user.get_profile.get_absolute_url }}"
			>{{ member.user.get_full_name|default:member.user.username }}</a>
		<a class="project" href="{{ person.project.get_absolute_url }}" data-memberof-str="{% trans "Member of : " %}">{{ person.project.translations.all.0.title }}</a>
		<div class="country flag-{{ person.user.get_profile.country|lower }}"></div>
	</div>
</li> 
