{% comment %}

Parameters for this block
=========================

* person : ?

{% endcomment %}
{% load i18n %}
{% load word_boundary_aware_truncate_chars %}
{% load sekizai_tags %}

{% addtoblock "js" strip %}
{% endaddtoblock %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/member_flat_wide.css" />
{% endaddtoblock %}

<div class="person wide-flat">
    <a href="{{ person.user.get_profile.get_absolute_url }}"><img class="avatar" src="{{ person.user.get_profile.get_mugshot_url }}" /></a>
    <p class="fullname">
        <a href="{{ person.user.get_profile.get_absolute_url }}">{{ person.user.get_profile.get_full_name_or_username }}</a>
    </p>
    <p class="project">
        <a href="{{ person.project.get_absolute_url }}" data-memberof-str="{% trans "Member of : " %}">{{ person.project.title }}</a>
    </p>
    <div class="country flag-{{ person.user.get_profile.country|lower }}"></div>
</div>
