{% comment %}
vim: set syntax=htmldjango:

Parameters for this block
=========================

* memberlist_modal_seeall_unique_counter : a unique counter

{% endcomment %}

{% load i18n %}
{% load sekizai_tags %}
{% load thumbnail %}
{% load unique_counter_tag %}


{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/memberlist_fancy_modal_seeall.css" />
{% endaddtoblock %}

{% comment %} ASYNCHRONOUS JS LOADING {% endcomment %}
{% addtoblock "footer_js" %}
<script type="text/javascript">
$.getScript(I4P_STATIC_URL+"js/project_sheet/block/memberlist_fancy_modal_seeall.js");  
</script>
{% endaddtoblock %}

<div id="memberlist-fancy-modal-seeall-{{ modal_seeall_unique_counter }}" class="memberlist-modal-seeall square fancy">
</div>
