{% comment %}

Parameters for this block
=========================

* members : member list (FIXME: object type ?)

{% endcomment %}
{% load i18n %}
{% load word_boundary_aware_truncate_chars %}
{% load sekizai_tags %}

{% addtoblock "js" %}
{% endaddtoblock %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/memberlist_fancy_square.css" />
{% endaddtoblock %}

<div class="member-list square fancy">
	{% for member in project.detailed_members.all|slice:"4" %}
	<input id="slide-{{forloop.counter0}}" type="radio" name="slider" {% if forloop.first %}checked=""{% endif %} selected="false">
	{% endfor %}
	<ul class="view">
		{% for member in project.detailed_members.all %}
		{% include "project_sheet/block/member_fancy_square.html" %}
		{% endfor %}
	</ul>
	<div class="controls">
	</div>
	<div class="active">
	{% comment %} FIXME: add shuffle filter to the list {% endcomment %}
	{% for member in project.detailed_members.all|slice:"4" %}
	<label for="slide-{{forloop.counter0}}"></label>
	{% endfor %}
	</div>
</div>
