{% comment %}
vim: set syntax=htmldjango:

Parameters for this block
=========================

* memberlist_modal_seeall_unique_counter : a unique counter

{% endcomment %}

{% load i18n %}
{% load sekizai_tags %}
{% load thumbnail %}
{% load unique_counter_tag %}


{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/memberlist_modal_seeall.css" />
{% endaddtoblock %}

{% comment %} ASYNCHRONOUS JS LOADING {% endcomment %}
{% addtoblock "footer_js" %}
<script type="text/javascript">
$.getScript(I4P_STATIC_URL+"js/project_sheet/block/memberlist_modal_seeall.js");  
</script>
{% endaddtoblock %}

<div id="memberlist-modal-seeall-{{ memberlist_modal_seeall_unique_counter }}" 
	class="memberlist-modal-seeall modal hide fade in out span10" tabindex="-1" 
	role="dialog" >
	<div class="modal-body">
		<div class="row">
			<div class="action-side span3">
				<div class="counters-block">
					<h2><i class="i4p-memberlist-sprite i4p-memberlist-members"></i>{% trans 'members' %}</h2>
				</div>
				{% if project_translation.project.members.all %}
				<a href="{% url userena_umessages_compose_to project_translation.project.members.all|join:"+" %}" class="contact-block">
					<i class="i4p-memberlist-sprite i4p-memberlist-contact-big-white"></i>
					{% trans 'Contact all members' %}
				</a>
				{% endif %}
				{% if not request.user in project_translation.project.members.all %}
				<a href="#FIXME-BAD-URL" class="add-block">
					<i class="i4p-memberlist-sprite i4p-memberlist-add-big-white"></i>
					{% trans 'Join the project' %}
				</a>
				{% endif %}
				<div class="after-block"></div>
			</div>
			<div class="list-side span7">
				<div class="member-add-block">
					<h2>{% trans "I want to announce that I am a member of this project's team" %}</h2>	
					<form method='POST' action='{% url project_sheet-instance-add-member project_translation.slug %}'>
					    {% csrf_token %}
					    {{ project_member_add_form.as_p }}
					    <input height="29" width="30" type="image" src="{{ STATIC_URL }}images/project_sheet/valid.png" alt="{% trans 'save' %}" />
						<a class="action-close" href="javascript:void(0)">{% trans 'close' %}</a>
					</form>
				</div>
				<div class="everybody-block">
					<h2>{% trans 'members' %}</h2>
					<ul>
						{% for member in project.detailed_members.all %}
						{% include "project_sheet/block/member_modal.html" %}
						{% endfor %}
					</ul>
					<h2>{% trans 'Fans' %}</h2>
					<ul>
						{% for member in project.detailed_fans.all %}
						{% include "project_sheet/block/member_modal.html" %}
						{% endfor %}
					</ul>
				</div>

				<!-- FIXME: information about founders/supporters/users is missing
				<div class="founders-block">
				</div>
				<div class="supporters-block">
				</div>
				<div class="users-block">
				</div>
				-->
			</div>
		</div>
	</div>
</div>

