{% comment %}

Parameters for this block
=========================

* members : member list (FIXME: object type ?)

{% endcomment %}
{% load i18n %}
{% load word_boundary_aware_truncate_chars %}

<div class="project-members wide-fancy">
	MEMBER_WIDE_FANCY
	(where members are displayed)

                {% for member in project.detailed_members.all %}
                <li class="grey_column_team_member member{{ member.id }}">
                    <div  style="position:relative; float:left; width:80px;">
                        <img src="{{ member.user.get_profile.get_mugshot_url }}" alt="{{ member.user.username }}" width="80" height="80"/>
                        <div class="grey_column_team_buttons">
                            <!-- <a title="{% trans 'Edit'|capfirst %}" href="javascript:alert('Not Yet Implemented');"	class="button nomargin"><img src="{{ STATIC_URL }}images/base/edit.png" alt="edit" /></a> -->
                            {% if user.is_authenticated %}
                            <input id="del_member_link" type="image" title="{% trans 'Delete'|capfirst %}" value="{% url project_sheet-instance-del-member project_translation.slug member.user.username %}" class="button redbutton nomargin" src="{{ STATIC_URL }}images/base/trash.png" alt="{% trans 'delete' %}" /> 
                            {% endif %}
                        </div>
                        {% if member.user.get_profile.country %}
                            <img src="{{ member.user.get_profile.country.flag }}" class="flag" title="{{ member.user.get_profile.country.name }}" alt="{{ member.user.get_profile.country }}"/>
                        {% endif %}
                       
                        <div class="member-contact">
                            <a href="{%  url userena_umessages_compose_to member.user.username %}">{% trans "Contact" %}</a>
                            <div class="on"></div>
                            <div class="off"></div>
                        </div>
                        
                    </div> 

</div>
