{% load i18n %}
{% load compress %}
{% load sekizai_tags %}
{% load tabs %}

{% addtoblock "css" strip %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/menubar.css" />
{% endaddtoblock %}

{% addtoblock "js" strip %}
<script src="{{ STATIC_URL }}js/compass_twitter_bootstrap/bootstrap-dropdown.js"></script>
{% endaddtoblock %}


{% addtoblock "js" %}
<script src="{{ STATIC_URL }}js/project_sheet/block/menubar.js"></script>
{% endaddtoblock %}

<div class="project-menubar">
  <div class="container">
    <div class="row">
      <div class="menubar-leftcolumn span12">
	<ul>
	  <!-- project -->
	  <li class="{% iftab 'project_sheet' 'project' %}active{% endiftab %} project">
	    <a href="{{ project_translation.master.get_absolute_url  }}">{% trans "Project" %}</a>
	  </li>
	  <!-- gallery -->
	  <li class="{% iftab 'project_sheet' 'gallery' %}active{% endiftab %} gallery">
	    <a href="{% url project_sheet-instance-gallery project_translation.slug %}">{% trans "Gallery" %}</a>
	  </li>
	  <!-- discussion -->
          <li class="{% iftab 'project_sheet' 'discuss' %}active{% endiftab %} discuss">
            <a href="{% url project_discussion_list project_translation.slug %}">
              {% trans "Discussions" %}
              <span class="badge">{{discussion_count}}</span>
            </a>
          </li>
	  <!-- support -->
          <li class="{% iftab 'project_sheet' 'support' %}active{% endiftab %} support">
            <a href="{% url project_support_main project_translation.slug %}">
              {% trans "Needs" %}
              <span class="badge">{{need_count}}</span>
            </a>
          </li>
	  <!-- history -->
	  <li class="{% iftab 'project_sheet' 'history' %}active{% endiftab %} history">
	    <a href="{% url project_sheet-instance-history project_translation.slug %}">{% trans "History" %}</a>
	  </li>
				{% comment %}
				<li><a href="#FIXME-BADURL">{% trans "Activity" %}</a></li>
				<li class="right"><a href="#FIXME-BADURL">
						<i class="i4p-toolbar-favorite"></i>
					</a>
				</li>
				<li class="right"><a href="#FIXME-BADURL">
						<i class="i4p-toolbar-print"></i>
					</a>
				</li>
				<li class="right"><a href="#FIXME-BADURL">
						<i class="i4p-toolbar-widgets"></i>
				</a></li>
				{% endcomment %}
				<li class="right">
					<a role="menu" href="#" class="dropdown-toggle" 
						data-target="#" data-toggle="dropdown">{% trans "Lang" %}
						<i class="i4p-toolbar-dropdown"></i>
					</a>
					<ul class="dropdown-menu lang-menu">
						{% for translation in project_translation.master.translations.all %}
						<li>
						<a tabindex="-1" 
							href="{% language translation.language_code %}{% url project_sheet-show project_translation.slug %}{% endlanguage %}" 
							>
							<span class="lang-code">{{ translation.language_code }}</span>
							<span class="lang-title">{{ translation.language_code|language_name_local }}</span>
						</a>
						</li>
						{% endfor %}
						<li class="divider"></li>
						<li class="dropdown-submenu">
						<a tabindex="-1" href="#" >
							<span class="lang-arrow"><</span>
							<span class="lang-action">{% trans "Add new translation" %}</span>
						</a>
							<ul class="dropdown-menu">
								<!-- FIXME: the submenu always show all language, even if they exist/are filled -->
								{% for language in LANGUAGES %}
								<li>
									<!--<form method='POST' tabindex="-1" action="{% url project_sheet-translate project_translation.slug %}">
									  {% csrf_token %}
										<span class="lang-code">{{ language.0 }}</span>
										<span class="lang-title">{{ language.1 }}</span>
										<input type='hidden' name='requested_language' value='{{ language.0 }}'/>
										<input type='submit' value='{{ language.1 }}'/>
									</form>-->
									<form method='POST' tabindex="-1" action="{% url project_sheet-translate project_translation.slug %}">
									  {% csrf_token %}
										<input type='hidden' name='requested_language' value='{{ language.0 }}'/>
									  	<button type="submit">
											<span class="lang-code">{{ language.0 }}</span>
											<span class="lang-title">{{ language.1 }}</span>
										</button>
									</form>
								</li>
								{% endfor %}
							</ul>
						</li>
					</ul>
				</li>
				<li class="right">
					<a class="addthis_button_compact share" data-target="#">{% trans "Share" %}
						<i class="i4p-toolbar-dropdown"></i>
					</a>

					<!-- AddThis Button BEGIN -->
					<!--<div class="addthis_toolbox addthis_default_style dropdown-menu">
					    <a class="addthis_counter addthis_pill_style"></a>
					    <a class="addthis_button_compact">Share</a>
					</div>->
					<!-- AddThis Button END -->
				</li>
			</ul>
			</div>
			<!--<div class="menubar-rightcolumn span4">
				<ul>
					<li class="right"><a href="#FIXME:next-project-url">&gt;</a></li>
					<li class="right"><a href="#FIXME:prev-project-url">&lt;</a></li>
				</ul>
			</div>-->
		</div>
	</div>
</div> <!-- .project-menubar -->
