{% load i18n %}
{% load compress %}
{% load sekizai_tags %}
{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/menubar.css" />
{% endaddtoblock %}

<div class="project-menubar">
	<div class="container">
		<div class="row">
			<ul class="span8">
				<li class="active"><a href="{{ project_translation.get_absolute_url  }}">{% trans "Project" %}</a></li>
				<li><a href="{% url project_sheet-instance-gallery project_translation.slug %}">{% trans "Gallery" %}</a></li>
				{% comment %}
				<li><a href="#FIXME-BADURL">{% trans "Discussion" %}</a></li>
				<li><a href="#FIXME-BADURL">{% trans "Calls for help" %}</a></li>
				<li><a href="#FIXME-BADURL">{% trans "Activity" %}</a></li>
				<li class="right"><a href="#FIXME-BADURL">
						<i class="i4p-toolbar-favorite"></i>
					</a>
				</li>
				<li class="right"><a href="#FIXME-BADURL">
						<i class="i4p-toolbar-print"></i>
					</a>
				</li>
				<li class="right"><a href="#FIXME-BADURL">
						<i class="i4p-toolbar-widgets"></i>
				</a></li>
				<li class="right"><a href="#FIXME-BADURL">{% trans "FR" %}</a></li>
				{% endcomment %}
				<li class="right">
					<a class="share dropdown-toggle" data-target="#" data-toggle="dropdown">{% trans "Share" %}
						<i class="i4p-toolbar-dropdown"></i>
					</a>

					<!-- AddThis Button BEGIN -->
					<ul class="addthis_toolbox addthis_default_style dropdown-menu">
						<a class="addthis_button_facebook_like"  fb:like:layout="button_count"></a>
						<a class="addthis_button_tweet" tw:via="ipvoices" ></a>
					</ul>
					<!-- AddThis Button END -->
				</li>
			</ul>
		</div>
	</div>
</div> <!-- .project-menubar -->
