{% load i18n %}
{% load cms_tags %}
{% load pagination_tags %}
{% load sekizai_tags %}

{% addtoblock "css" strip %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/project_list_filter_panel.css" />
{% endaddtoblock %}
{% addtoblock "js" strip %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ezmark.js"></script>
{% endaddtoblock %}
{% addtoblock "js" strip %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/project_sheet/block/project_list_filter_panel.js"></script>
{% endaddtoblock %}
{% addtoblock "footer_js" strip %}
    <script type="text/javascript">
    $.getScript(I4P_STATIC_URL+"js/jquery/jquery.ezmark.js");  
    </script>
{% endaddtoblock %}
{% addtoblock "footer_js" strip %}
    <script type="text/javascript">
    $(document).ready(function() {
        if($.cookie('i4p_bottom_panel') == 'on'){
            $("a#lock-picto").click();
            $(".categories_project_page").css({height: '260px'}); 
        }
    });
  </script>
{% endaddtoblock %}

<div class="categories categories_project_page">        
    <div class="container">
        <div class="menu row">
            <div class="span2">
                <div id="panel-lock-container">
                    <!-- Lock is by default in "off" class ; user's click set class at "on" -->
                    <a id="lock-picto" class="off tipsed" href="#" title="{% trans "Pin/Unpin the panel" %}"></a>
                </div>
                
                <ul>
                    <li><div class="categ-button"><a href="#filters" class="{%if filters_tab_selected %}selected{% endif %}">{% trans "Filter results"|capfirst %}</a></div></li>
                    <li><div class="categ-button hidden"><a href="{% url feedback-list %}">{% trans "Help" %}</a></div></li>
                </ul>
            </div>
            <div class="span5">
                {% paginate using "project_sheet/block/project_list_pagination.html" %}
            </div>
            <!-- Projects sorting -->
            <div id="projectlist_sort" class="span5" >
                {% trans 'Order by:'%}
                <ul id="projectlist_sort_buttons">
                    <li class="ui-corner-all {% ifequal order 'creation' %}filter-on{% endifequal %}"><a class="button" href="{% url project_sheet-list %}?{{orderparams}}&order=creation">{% trans "Newest projects" %}</a></li>
                    <li class="ui-corner-all {% ifequal order 'modification' %}filter-on{% endifequal %}"><a class="button" href="{% url project_sheet-list %}?{{orderparams}}&order=modification">{% trans "Recent changes" %}</a></li>
                </ul>    
                <a href="{% url project_sheet-new-projects-rss %}" class="rss"><img src="{{ STATIC_URL }}images/base/picto_rss.gif" alt="{% trans 'RSS Feed' %}" /></a>
            </div>
        </div>

        <!-- Filters -->
        <div id="filters" class="categ-panel row"> 
            <form id="filter_form" action="{% url project_sheet-list %}" method="get">
                <input type="hidden" name="order" value="{{order}}" />
                <div class="span4">
                    <div class="filtersbox_content">
                        <a href="{% url project_sheet-list %}" id="reset_filters"><img src="{{ STATIC_URL }}images/project/reset-picto.png" /><span>{% trans "Clear filters"|capfirst %}</span></a>
                    </div>
                    <div class="filtersbox_content">
                        <h4>{% trans "Tags" %}</h4>
                        <!-- <a class="invert">{% trans "invert" %}</a> -->
                        <ul id="cloudtag_list">
                            {% for tag in project_sheet_tags|slice:":27" %}
                                <li><a class="tag_link {%if tag.id in selected_tags%}selected{% endif %}" title="{% blocktrans with count=tag.count %}{{ count }} project sheets{% endblocktrans %}" href="javascript:;" id="tag_{{tag.id}}">{{ tag|capfirst }}</a></li>
                            {% endfor %}
                        </ul>
                        {{themes_filter.themes.as_hidden}}
                    </div>
                </div>

                <div class="span3">
                    <div class="filtersbox_content">
                        <h4>{% trans "Location" %}</h4>
                        {{location_filter.country}}
                    </div>
                        
                    <div class="filtersbox_content">
                        <h4>{% trans "Categories" %}</h4>
                        <!-- <a class="invert">{% trans "invert" %}</a> -->
                        {{objective_filter.objectives}}
                    </div>
                </div>
                <div class="span5">
                    <div class="filtersbox_content">
                        <h4>{% trans "Sheet Status" %}</h4>
                        <div class="pictos-categ">
                            <div class="filters-picto">
                                <ul>
                                    <li id="bestof" title="{% trans 'Best-of' %}" >{{best_of_filter.best_of}}</li>
                                    {% comment %}<li id="popular" title="{% trans 'Popular project' %}"><input type="checkbox" class="styled hidden" checked="checked" name="1"></li>{% endcomment %}
                                </ul>
                            </div>
                            <p>{% trans "best-of" %}</p>
                        </div>
                        <div class="pictos-categ">
                            <div class="filters-picto">
                                {{progress_filter.progress}}
                            </div>
                            <p>{% trans "progression" %}</p>
                            
                        </div>
                        <div class="pictos-categ">
                       
                            <div class="filters-picto">
                                <ul>
                                    <li id="team" title="{% trans 'Associated team' %}" >{{members_filter.with_members}}</li>
                                    <li id="nobody" title="{% trans 'Orphan project' %}">{{members_filter.without_members}}</li>
                                </ul>
                            </div>
                            <p>{% trans "team" %}</p>
                        </div>
                    </div>
                    <div class="filtersbox_content">
                        <h4>{% trans "Project Status" %}</h4>
                        <div class="filters-progress">
                            {{status_filter.status}}
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
            </form>
       </div>
    </div>
</div>



