{% comment %}

Parameters for this block
=========================

* project : I4pProject

{% endcomment %}
{% load i18n %}
{% load word_boundary_aware_truncate_chars %}
{% load sekizai_tags %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/project_card.css" />
{% endaddtoblock %}

<div class="project-card">
    {% if project.best_of %}
      <div class="cocarde">&nbsp;</div>
    {% endif %}
    <div class="top">
        <img src="../../../static/images/i4p_base/search/_TEMP/pirate.png" alt="" />
        <h2 title="{{ project.title }}">{{ project.title|truncatechars:40 }}</h2>
        <div class="progressbar"><span>Projet mature</span></div>
        <p>
            {{ project.baseline|truncatechars:110 }}
        </p>
    </div>
    <div class="bottom">
        <span class="supported" title="project supported">Project supported</span>
        <span class="country"><img src="../../../static/images/flags/{{ project.language_code }}.gif" alt="FR" /> France</span>
        <p>
            <span class="comments" title="8 comments">8</span>
            <span class="needs" title="73 needs">73</span>
            <span class="fav" title="10 favorites">10</span>
        </p>
    </div>
    <div class="hover">
        <div class="name" title="{{ project.title }}">{{ project.title|truncatechars:40 }}</div>
        <p>
            {{ project.text|truncatechars:200 }}
        </p>
        <div class="more"><a href="#">{% trans 'See the project' %}</a></div>
    </div>
</div>
