{% comment %}

Parameters for this block
=========================

* project_list : list of I4pProject

{% endcomment %}
{% load i18n %}
{% load word_boundary_aware_truncate_chars %}
{% load sekizai_tags %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/project_card_list.css" />
{% endaddtoblock %}

<section id="projects-list">
    <header>
        <h1>Projets</h1>
        {% comment %}<a href="#">Voir tout (15)</a>{% endcomment %}
    </header>

    {% for project in project_list %}
	{% include "project_sheet/block/project_card.html" %}
    {% empty %}
	{% trans "No projects found" %}
    {% endfor %}

</section>
