{% load i18n %}
{% load compress %}
{% load sekizai_tags %}
{% load thumbnail %}
{% load unique_counter_tag %}


{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/subheader-readwrite.css" />
{% endaddtoblock %}

{% comment %} ASYNCHRONOUS JS LOADING {% endcomment %}
{% addtoblock "footer_js" %}
<script type="text/javascript">
$.getScript(I4P_STATIC_URL+"js/project_sheet/block/subheader-readwrite.js");  
</script>
{% endaddtoblock %}

<div class="span12 ">
	<a name="project-information"></a>
	<h2><i class="sheet-information-white"></i>{% trans "Information" %}</h2>
</div> <!-- .subheader -->


<form action="{% url project_sheet-instance-edit-info project_translation.slug %}" method="post">
{% csrf_token %}
<div class="span12 location-card">
	<table class="infotable">
		<tr class="infotable-location location">
			<th>{% trans "Locations" %}</th>
			<td>
				{% if project_location_formset %}<!-- LOCATION/READWRITE -->
				<div class="location-formset">
                        {{ project_location_formset.management_form }}
                        {% for form in project_location_formset %}

                            {{ form.id }}
                            {% include "i4p_base/location/location_form.html" with formset=project_location_formset %}

                        {% endfor %}
						<div class="clear"></div>
						{% comment %} FIXME: include form button for degraded view 
						{% include "project_sheet/block/form-buttons.html" %}
						{% endcomment %}
				</div> <!-- .location-formset -->
				{% else %}
				{% if project_translation %}
				<!-- LOCATION/READONLY filled-->
				<div class="location-address">
					{% if project_translation.master.location %}
					<!-- Add the script for GPS coordonates on hover of the picture + add the GPS coordonates in alt text  -->
					{% if project_translation.master.location.address %}
					{{ project_translation.master.location.address }}
					{% endif %}
					{% endif %}
				</div>
				<div class="location-country">
					{% if project_translation.master.location.country %}
					<img src="{{ project.location.country.flag }}" alt="{{ project_translation.master.location.country }}"/> {{ project_translation.master.location.country.name }}
					{% endif %}
					{% if project_translation.master.location.lat %}
					<img src="{{ STATIC_URL }}images/project/globe.png" alt="#"/>
					{% endif %}
					<a title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-instance-edit-info project_translation.slug %}" class="button editing-button right"><img src="{{ STATIC_URL }}images/base/edit.png"/></a>
				</div> <!-- .location-address -->
				{% else %}<!-- LOCATION/READONLY/EMPTY mode -->
				<em>{% trans 'unknown'|capfirst %}</em>
				{% comment %}<a title="{% trans 'Edit'|capfirst %}" href="#FIXME: no edit url defined for location ?" class="button editing-button right"><img src="{{ STATIC_URL }}images/base/edit.png"/></a>{% endcomment %}
				{% endif %}
				{% endif %}
			</td>
		</tr>
	</table>
</div>

<div class="span12 web-card">
	<table class="infotable">
		<tr class="infotable-website">
			<th>{% trans "Web" %}</th>
			<td>

					{{ project_info_form.as_p }}

					{% comment %} FIXME: include form button for degraded view 
					{% include "project_sheet/block/form-buttons.html" %}
					{% endcomment %}
			</td>
		</tr>
		<!-- FIXME: re-enable whell data will be in the object model
		<tr class="infotable-follow">
			<th>{% trans "Follow" %}</th>
			<td></td>
		</tr>
		<tr class="infotable-share">
			<th>{% trans "Share" %}</th>
			<td></td>
		</tr>
		-->
	</table>
</div>

<div class="span12 subheader-actions">
	<!-- FIXME: validate all forms at once with JS -->
	<!-- FIXME: for clean degradation, include button in each form & hide them once JS is loaded -->

	{% include "project_sheet/block/form-buttons.html" %}
</div>
</form>

