{% load i18n %}
{% load compress %}
{% load sekizai_tags %}
{% load thumbnail %}

{% block base_grid %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/grid/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/common/fonts.css" />
{% endblock %}

{% block style %}
{% compress css %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/subheader.css" />
{% endcompress %}
{% endblock %}

{% if project_translation %}
<div class="project-subheader">
    <div class="container">
	<div class="row">
	    <div class="span8 subheader">
		<div class="background">
		    <img src="{% thumbnail project_translation.project.pictures.all.0.original_image.name 600x250 upscale crop='50,50' %}" alt="" />&nbsp;
		</div>
		<div class="overlay">
		    <h1 class="title"> <!-- TITLE -->
			{% if title_form %}<!-- readwrite mode-->
			<form id="title" 
			    {% if project_translation %}
			    action="{% url  project_sheet-instance-edit-field project_translation.slug 'title' %}" 
			    {% else %}
			    action="{% url project_sheet-edit-field topic.slug 'title' %}"
			    {% endif %}
			    method="post">{% csrf_token %}
			    {{title_form.title}}
			    <input id="project_title_cancel" type="reset" onclick="history.back()" value="&nbsp;" alt="X" title="{% trans 'Cancel'|capfirst %}"  />
			    <input id="project_title_submit" type="submit" value="&nbsp;" alt="V" title="{% trans 'Ok'|capfirst %}"  />
			</form>

			{% else %}
			{% if project_translation %}<!-- readonly filled -->
			{{ project_translation.title }}
			<a title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-instance-edit-field project_translation.slug 'title' %}" class="button editing-button nomargin right">
			    <img src="{{ STATIC_URL }}images/base/edit.png" />
			</a>
			{% else %}
			<!-- PROJECT TITLE - empty -->
			<a href="{% url project_sheet-edit-field topic.slug 'title' %}">
			    {% trans 'my project title'|capfirst %}
			</a>
			{% endif %}
			{% endif %}
		    </h1> <!-- /TITLE -->
		    <div class="description"><!-- BASELINE -->
			{% if baseline_form %}
			<!-- BASELINE - edition mode-->
			<form id="baseline" 
			    {% if project_translation %}
			    action="{% url project_sheet-instance-edit-field project_translation.slug 'baseline' %}" 
			    {% else %}
			    action="{% url project_sheet-edit-field topic.slug 'baseline'%}" 
			    {% endif %}
			    method="post" class="project_baseline_edition">{% csrf_token %}
			    {{ baseline_form.baseline }}
			    <input  title="{% trans 'Ok'|capfirst %}" class="greenbutton" type="image"  src="{{ STATIC_URL }}images/base/v.png" alt="Ok" />
			    <a class="button redbutton nomargin "  href="javascript:history.back(1)" 
				title="{% trans 'Cancel'|capfirst %}" class="button editing-button"
				><img src="{{ STATIC_URL }}images/base/x.png" alt="X" /></a>
			</form>
			{% else %}
			{% if project_translation %}
			<!-- BASELINE - filled-->
			{{ project_translation.baseline }}
			<a title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-instance-edit-field project_translation.slug 'baseline' %}" class="button editing-button right"><img src="{{ STATIC_URL }}images/base/edit.png" /></a>
			{% else %}
			<!--  BASELINE - empty -->
			{% trans "One line description"|capfirst %}
			<a title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-edit-field topic.slug 'baseline' %}" class="button editing-button right"><img src="{{ STATIC_URL }}images/base/edit.png"/></a>
			{% endif %}
			{% endif %}	
		    </div><!-- /BASELINE -->

		    <div class="details"></div>
		</div>
	    </div>
	    <div class="span4 infocard">
		<a name="project-information"></a>
		<h2><i class="sheet-information-white"></i>{% trans "Information" %}</h2>
		<table class="infotable">
		    <tr class="infotable-location location">
			<!-- FIXME: integrate mini-map (googlemap ? other ?) -->
			<th>{% trans "Location" %}</th>
			<td>
			    <div class="location-address">
				{% if project_translation.project.location %}
				<!-- Add the script for GPS coordonates on hover of the picture + add the GPS coordonates in alt text  -->
				{% if project_translation.project.location.address %}
				{{ project_translation.project.location.address }}
				{% endif %}
			    </div>
			    <div class="location-country">
				{% if project_translation.project.location.country %}
				<img src="{{ project.location.country.flag }}" alt="{{ project_translation.project.location.country }}"/> {{ project_translation.project.location.country.name }}
				{% endif %}
				{% if project_translation.project.location.lat %}
				<img src="{{ STATIC_URL }}images/project/globe.png" alt="#"/>
				{% endif %}
				{% else %}
				<em>{% trans 'unknown'|capfirst %}</em>
				{% endif %}
			    </div>
			</td>
		    </tr>
		    <tr class="infotable-website">
			<th>{% trans "Web" %}</th>
			<td>
			    <!-- Website -->              
			    {% if project_translation.project.website %}
			    <a href="{{ project.website }}" target="_blank" rel="nofollow">{{ project_translation.project.website }}</a>
			    {% else %}
			    {% trans 'unknown'|capfirst %}
			    {% endif %}
			</td>
		    </tr>
		    <!-- FIXME: re-enable whell data will be in the object model
		    <tr class="infotable-follow">
			<th>{% trans "Follow" %}</th>
			<td></td>
		    </tr>
		    <tr class="infotable-share">
			<th>{% trans "Share" %}</th>
			<td></td>
		    </tr>
		    -->
		    <!-- FIXME: re-enable whell data will be in the object model
		    <tr class="infotable-movecommons">
			<th>{% trans "Movecommons" %}</th>
			<td></td>
		    </tr>
		    -->
		    <tr class="infotable-maturity">
			<th>{% trans "Maturity" %}</th>
			<td>
			    {% comment %} FIXME: make a reusable componnent from progressbar cf project fancy card {% endcomment %}
			    <p class="progressbar progressbar-{{project_translation.project.status|lower }}">
				<span class="status">{{ project_translation.project.get_status_display }}</span>
			    </p>
			</td>
		    </tr>
		</table>
	    </div>
	</div>
    </div>
</div> <!-- .project-subheader -->
{% endif %}
