{% load i18n %}
{% load compress %}
{% load sekizai_tags %}
{% load thumbnail %}
{% load unique_counter_tag %}


{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/subheader.css" />
{% endaddtoblock %}

{% comment %} ASYNCHRONOUS JS LOADING {% endcomment %}
{% addtoblock "footer_js" %}
<script type="text/javascript">
$.getScript(I4P_STATIC_URL+"js/project_sheet/block/subheader.js");  
</script>
{% endaddtoblock %}

<div class="project-subheader {% if project_location_formset or project_info_form %}readwrite{%else%}readonly{%endif%}">
	<div class="container">
		<div class="row">
			{% if project_location_formset or project_info_form %}
				{% include "project_sheet/block/subheader-readwrite.html" %}
			{% else %}
				{% include "project_sheet/block/subheader-readonly.html" %}
			{% endif %}
		</div>
	</div>
</div> <!-- .project-subheader -->

