{% load i18n %}
{% load compress %}
{% load sekizai_tags %}
{% load thumbnail %}
{% load unique_counter_tag %}


{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/subheader-readwrite.css" />
{% endaddtoblock %}

{% comment %} ASYNCHRONOUS JS LOADING {% endcomment %}
{% addtoblock "footer_js" %}
<script type="text/javascript">
$.getScript(I4P_STATIC_URL+"js/project_sheet/block/subheader-readwrite.js");  
</script>
{% endaddtoblock %}

<div class="span12 ">
	<a name="project-information"></a>
	<h2><i class="sheet-information-white"></i>{% trans "Information" %}</h2>
</div> <!-- .subheader -->

<div class="span4 location-card">
	<table class="infotable">
		<tr class="infotable-location location">
			<th>{% trans "Address" %}</th>
			<td>
				{% if project_location_form %}<!-- LOCATION/READWRITE -->
				<div class="location-form">
					<form action="{% url project_sheet-instance-edit-location project_translation.slug %}" method="post">
						{% csrf_token %}
						{{ project_location_form.as_p }}
						<div class="clear"></div>
						{% comment %} FIXME: include form button for degraded view 
						{% include "project_sheet/block/subheader-buttons.html" %}
						{% endcomment %}
					</form>	
				</div> <!-- .location-form -->
				{% else %}
				{% if project_translation %}
				<!-- LOCATION/READONLY filled-->
				<div class="location-address">
					{% if project_translation.project.location %}
					<!-- Add the script for GPS coordonates on hover of the picture + add the GPS coordonates in alt text  -->
					{% if project_translation.project.location.address %}
					{{ project_translation.project.location.address }}
					{% endif %}
					{% endif %}
				</div>
				<div class="location-country">
					{% if project_translation.project.location.country %}
					<img src="{{ project.location.country.flag }}" alt="{{ project_translation.project.location.country }}"/> {{ project_translation.project.location.country.name }}
					{% endif %}
					{% if project_translation.project.location.lat %}
					<img src="{{ STATIC_URL }}images/project/globe.png" alt="#"/>
					{% endif %}
					<a title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-instance-edit-location project_translation.slug %}" class="button editing-button right"><img src="{{ STATIC_URL }}images/base/edit.png"/></a>
				</div> <!-- .location-address -->
				{% else %}<!-- LOCATION/READONLY/EMPTY mode -->
				<em>{% trans 'unknown'|capfirst %}</em>
				{% comment %}<a title="{% trans 'Edit'|capfirst %}" href="#FIXME: no edit url defined for location ?" class="button editing-button right"><img src="{{ STATIC_URL }}images/base/edit.png"/></a>{% endcomment %}
				{% endif %}
				{% endif %}
			</td>
		</tr>
	</table>
	<!-- FIXME: integrate mini-map (googlemap ? other ?) -->
</div>

<div class="span4 web-card">
	<table class="infotable">
		<tr class="infotable-website">
			<th>{% trans "Web" %}</th>
			<td>
				<form action="{% url project_sheet-instance-edit-info project_translation.slug %}" method="post">
					{% csrf_token %}

					{{ project_info_form.as_p }}

					{% comment %} FIXME: include form button for degraded view 
					{% include "project_sheet/block/subheader-buttons.html" %}
					{% endcomment %}
				</form>	
				&nbsp;
			</td>
		</tr>
		<!-- FIXME: re-enable whell data will be in the object model
		<tr class="infotable-follow">
			<th>{% trans "Follow" %}</th>
			<td></td>
		</tr>
		<tr class="infotable-share">
			<th>{% trans "Share" %}</th>
			<td></td>
		</tr>
		-->
	</table>
</div>

<div class="span4 insight-card">
	<table class="infotable">
		<!-- FIXME: re-enable whell data will be in the object model
		<tr class="infotable-movecommons">
			<th>{% trans "Movecommons" %}</th>
			<td></td>
		</tr>
		-->
		<tr class="infotable-maturity">
			<th>{% trans "Maturity" %}</th>
			<td>
				{% comment %} FIXME: is there a form for maturity information {% endcomment %}
				{% comment %} FIXME: make a reusable componnent from progressbar cf project fancy card {% endcomment %}
				<p class="progressbar progressbar-{{project_translation.project.status|lower }}">
				<span class="status">{{ project_translation.project.get_status_display }}</span>
				</p>
			</td>
		</tr>

	</table>
</div> <!-- .infocard -->

<div class="span12 subheader-actions">
	<!-- FIXME: validate all forms at once with JS -->
	<!-- FIXME: for clean degradation, include button in each form & hide them once JS is loaded -->

	{% include "project_sheet/block/subheader-buttons.html" %}
</div>

