{% load i18n %}
{% load l10n %}
{% load compress %}
{% load sekizai_tags %}
{% load thumbnail %}
{% load unique_counter_tag %}
{% load leaflet_tags %}

{% addtoblock "css" strip %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/subheader-readonly.css" />
{% endaddtoblock %}

{% comment %} ASYNCHRONOUS JS LOADING {% endcomment %}
{% addtoblock "footer_js" strip %}
<script type="text/javascript">
$.getScript(I4P_STATIC_URL+"js/project_sheet/block/subheader-readonly.js");  
</script>
{% endaddtoblock %}


<div class="span8 subheader">
	<div class="background">
		{% comment %} FIXME: cover image is simply the first of the list, not a special/selected one {% endcomment %}

        {% if project_translation.master.pictures.count %}
		<img src="{% thumbnail project_translation.master.pictures.all.0.original_image.name 620x300 upscale=1 crop='50,50' %}" alt="" />&nbsp;
        {% endif %}
	</div>
	<div class="overlay">
		<h1 class="title"> <!-- TITLE -->
			{% if title_form %}<!-- TITLE/READWRITE -->
			<form id="title" 
				{% if project_translation %}
				action="{% url  project_sheet-instance-edit-field project_translation.slug 'title' %}" 
				{% else %}
				action="{% url project_sheet-edit-field topic.slug 'title' %}"
				{% endif %}
				method="post">{% csrf_token %}
				{{title_form.title}}
				<input id="project_title_cancel" type="reset" onclick="history.back()" value="Cancel" alt="X" title="{% trans 'Cancel'|capfirst %}"  />
				<input id="project_title_submit" type="submit" value="Ok" alt="V" title="{% trans 'Ok'|capfirst %}"  />
			</form>

			{% else %}
			{% if project_translation %}<!-- TITLE/READONLY filled -->
			{% unique_counter subheader %}
			{% with subheader_title_unique_counter=subheader_counter %}
			<span id="subheader-title-{{subheader_title_unique_counter}}"
				{% comment %}
				data-toggle="i4p-editable"
				data-language-code="{{ LANGUAGE_CODE }}"
				data-editable-id="project_title"
				data-editable-tooltip="{% trans 'Double-click to edit' %}"
				data-editable-type="textarea"
				data-editable-load-url="{% if project_translation %}{% url project_sheet-ajax-field-load project_translation.slug %}{% else %}{% url project_sheet-ajax-field-load %}{% endif %}"
				data-editable-save-url="{% if project_translation %}{% url project_sheet-ajax-field-save project_translation.slug %}{% else %}{% url project_sheet-ajax-field-save %}{% endif %}" 
				data-editable-placeholder="{% trans "This field is blank. Don’t forget to complete it!"|capfirst %}"
				{% endcomment %}
				>
				{{ project_translation.title }}
			</span>
			<a title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-instance-edit-field project_translation.slug 'title' %}" class="button editing-button nomargin right"
				{% comment %}
				data-toggle="i4p-editable-button"
				data-target="subheader-title-{{subheader_title_unique_counter}}"
				{% endcomment %}
				>
			</a>
			{% endwith %}<!-- %subheader_title_unique_counter -->
			{% else %}
			<!-- TITLE/READONLY empty -->

			<a title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-edit-field topic.slug 'title' %}" class="button editing-button right"><img src="{{ STATIC_URL }}images/base/edit.png"/></a>
			{% trans 'my project title'|capfirst %}

			{% endif %}
			{% endif %}
		</h1> <!-- /TITLE -->
		<div class="description"><!-- BASELINE -->
			{% if baseline_form %}
			<!-- BASELINE/READWRITE -->
			<form id="baseline" 
				{% if project_translation %}
				action="{% url project_sheet-instance-edit-field project_translation.slug 'baseline' %}" 
				{% else %}
				action="{% url project_sheet-edit-field topic.slug 'baseline'%}" 
				{% endif %}
				method="post" class="project_baseline_edition">{% csrf_token %}
				{{ baseline_form.baseline }}
				{% include "project_sheet/block/form-buttons.html" %}
			</form>
			{% else %}
			{% if project_translation %}
			<!-- BASELINE/READONLY filled-->
			{% unique_counter subheader %}
			{% with subheader_baseline_unique_counter=subheader_counter %}
			<span
				id="subheader-baseline-{{subheader_baseline_unique_counter}}"
				{% comment %}
				data-toggle="i4p-editable"
				data-language-code="{{ LANGUAGE_CODE }}"
				data-editable-id="baseline"
				data-editable-tooltip="{% trans 'Double-click to edit' %}"
				data-editable-type="textarea"
				data-editable-load-url="{% if project_translation %}{% url project_sheet-ajax-field-load project_translation.slug %}{% else %}{% url project_sheet-ajax-field-load %}{% endif %}"
				data-editable-save-url="{% if project_translation %}{% url project_sheet-ajax-field-save project_translation.slug %}{% else %}{% url project_sheet-ajax-field-save %}{% endif %}" 
				data-editable-placeholder="{% trans "This field is blank. Don’t forget to complete it!"|capfirst %}"
				{% endcomment %}
				>
				{{ project_translation.baseline }}
			</span>
			<a title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-instance-edit-field project_translation.slug 'baseline' %}" class="button editing-button right"></a>
			{% endwith %}
			{% else %}
			<!--  BASELINE/READONLY empty -->
			{% trans "One line description"|capfirst %}
			<a title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-edit-field topic.slug 'baseline' %}" class="button editing-button right"><img src="{{ STATIC_URL }}images/base/edit.png"/></a>
			{% endif %}
			{% endif %}	
		</div><!-- /BASELINE -->

		<!-- FIXME: missing long description of the project for header -->
		<div class="details"></div>
	</div> <!-- .overlay -->
</div> <!-- .subheader -->

<div class="span4 infocard">
	<a name="project-information"></a>
	<h2><i class="sheet-information-white"></i>{% trans "Information" %}</h2>
	<table class="infotable">
		<tr class="infotable-location location">
			<td colspan=2>

{% if project_translation.master.locations.all %}
    {% addtoblock "css" strip %}
        {% leaflet_css plugins="markercluster" %}
    {% endaddtoblock %}
    {% addtoblock "sekizai_extra_head" strip %}
        {% comment %}
        Do NOT put this in the js block, it does
        not tolerate compress
        {% endcomment %} 
        {% leaflet_js plugins="markercluster" %}
    {% endaddtoblock %}
    {% leaflet_map "projectLocationsMap" %}

    {% localize off %}
<script type="text/javascript">
    function projectLocationsMapInit(map, bounds) {
        var markers = new L.MarkerClusterGroup();
        {% for location in project_translation.master.locations.all %}
        {% if location.geom %}
        var marker = new L.marker([{{ location.geom.coords.1 }}, {{ location.geom.coords.0 }}]);
        markers.addLayer(marker);
        popup_html = '' +
        '<div class="location-address">' +
        '{{ location.address|escapejs }}' +
        '</div>' +
        '<div class="location-country">' +
        '<img src="{{ location.country.flag|escapejs }}" alt="{{ location.country|escapejs }}"/> {{ location.country.name|escapejs }}'
        '</div>'
        marker.bindPopup(popup_html).openPopup();
        {% endif %}
        {% endfor %}
        map.addLayer(markers);
        map.fitBounds(markers.getBounds());
    }
</script>
    {% endlocalize %}
				<!-- LOCATION/READONLY filled-->
                {% for location in project_translation.master.locations.all %}
				    {% if not location.geom %}
                    <div class="location-address">
    					{{ location.address }}
    				</div>
    				<div class="location-country">
    					{% if location.country %}
    					<img src="{{ location.country.flag }}" alt="{{ location.country }}"/> {{ location.country.name }}
    					{% endif %}
    				</div>
                    {% endif %}
                {% endfor %}
{% else %}
<em>{% trans 'unknown'|capfirst %}</em>
<!-- LOCATION/READONLY/EMPTY mode -->
                
                {% comment %}<a title="{% trans 'Edit'|capfirst %}" href="#FIXME: no edit url defined for location ?" class="button editing-button right"></a>
                We now have a url now to edit locations individually:  see i45_base/url.py, but not as a group.
                {% endcomment %}
{% endif %}
                <a title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-instance-edit-info project_translation.slug %}" class="button editing-button right"></a>
			</td>
		</tr>

		<tr class="infotable-website">
			<th>{% trans "Web" %}</th>
			<td>
				{% if project_translation %}<!-- WEBSITE/READONLY filled -->
				{% if project_translation.master.website %}
				<a href="{{ project.website }}" target="_blank" rel="nofollow">
					{{ project_translation.master.website }}
				</a>
				{% else %}
				{% trans 'unknown'|capfirst %}
				{% endif %}

				<a title="{% trans 'Edit'|capfirst %}" 
					href="{% url project_sheet-instance-edit-info project_translation.slug %}" 
					class="button editing-button right"
					></a>

				{% else %}<!-- WEBSITE/READONLY empty -->
				{% trans 'unknown'|capfirst %}
				{% endif %}
			</td>
		</tr>
		<!-- FIXME: re-enable whell data will be in the object model
		<tr class="infotable-follow">
			<th>{% trans "Follow" %}</th>
			<td></td>
		</tr>
		<tr class="infotable-share">
			<th>{% trans "Share" %}</th>
			<td></td>
		</tr>
		-->
		<!-- FIXME: re-enable whell data will be in the object model
		<tr class="infotable-movecommons">
			<th>{% trans "Movecommons" %}</th>
			<td></td>
		</tr>
		-->
		<tr class="infotable-maturity">
			<th>{% trans "Maturity" %}</th>
			<td>
				{% comment %} FIXME: make a reusable componnent from progressbar cf project fancy card {% endcomment %}
				<p class="progressbar progressbar-{{project_translation.master.status|lower }}">
				<span class="status">{{ project_translation.master.get_status_display }}</span>
				</p>
			</td>
		</tr>

		<tr class="infotable-share">
			
			<td colspan=2>
				<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style">
						<a class="addthis_button_tweet" tw:count="horizontal"></a>
					    <a class="addthis_button_facebook_like"></a>
					</div>
				<!-- AddThis Button END -->
			</td>
		</tr>
	</table> <!-- .infotable -->
</div> <!-- .infocard -->

