{% load i18n %}

<h1 class="about_project">{% trans 'about the project'|capfirst%}
	{% if not about_section_form %}
		{% if project_translation %}
			<a title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-instance-edit-field project_translation.slug 'about_section' %}#about_section" class="button editing-button nomargin right"><img src="{{ MEDIA_URL }}/images/base/edit.png" /></a>
		{% else %}
			<a title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-edit-field 'about_section' %}#about_section" class="button editing-button nomargin right"><img src="{{ MEDIA_URL }}/images/base/edit.png" /></a>
		{% endif %}
	{% endif %}
</h1>
{% if about_section_form %}
	<!-- Project title, in edit mode -->
	<div id="about_section" class="project_description_zone_edition">
		{% if project_translation %}
			<form class="project_description_txt_edit" action="{% url project_sheet-instance-edit-field project_translation.slug  'about_section' %}#about_section" method="post">{% csrf_token %}
		{% else %}
			<form class="project_description_txt_edit" action="{% url project_sheet-edit-field 'about_section' %}" method="post">{% csrf_token %}
		{% endif %}
			{{about_section_form.about_section}}
			<input title="{% trans 'Ok'|capfirst %}" class="greenbutton nomargin" type="image" src="{{ MEDIA_URL }}/images/base/v.png" alt="Ok" />							
			<input title="{% trans 'Cancel'|capfirst %}" class="redbutton nomargin" type="image" src="{{ MEDIA_URL }}/images/base/x.png" alt="X" />
		</form>
	
	</div>
{% else %}
	{% if project_translation %} 
		{% if project_translation.about_section %}
			<!-- Titre du projet deja créé, avec section about, en mode NON éditable-->
			<div id="about_section" class="project_description_zone focus">
				<div class="project_description_txt">{{ project_translation.about_section|linebreaksbr }}</div>
			</div>
		{% else %}
			<!-- Titre du projet deja créé, SANS section about, en mode NON éditable-->
			<a href="{% url project_sheet-instance-edit-field project_translation.slug 'about_section' %}#about_section">
				<div id="about_section" class="project_description_zone_edition">
					<div class="project_description_txt">
						<h1>{% trans "project description"|capfirst %}</h1>
						<h2>{% trans 'click here to describe your project'|capfirst %}</h2>
					</div>
				</div>
			</a>
		{% endif %}
	{% else %}
		<!-- Titre du projet en mode NON éditable-->
		<a href="{% url project_sheet-edit-field 'about_section' %}#about_section">
			<div class="project_description_zone_edition">
				<div class="project_description_txt">
					<h1>{% trans "what’s make my project an innovant project ?"|capfirst %}</h1>
					<h2>{% trans 'click here to describe your project'|capfirst %}</h2>
				</div>
			</div>
		</a>
	{% endif %}
{% endif %}