{% load i18n %}
{% load tagging_tags %}
{% load localeurl_tags %}

<div class="grid_5 omega grey_column">
	<div class="grey_column_content">
     {% if project_translation %}
        <center>
                <div id="project_status">
                
                    <div class="project_card_pictos">        
                        {% if project_translation.project.members.count > 0 %}
                        <img src="{{ STATIC_URL }}images/project/picto-team.jpg" alt="{% trans 'associated team' %}" class="tipsed" title="{% trans 'associated team' %}"/>
                        {% endif %}
                        {% ifequal project_translation.completion_progress "EDIT" %}
                        <img src="{{ STATIC_URL }}images/project/picto-editing.jpg" alt="{% trans 'in progress' %}" class="tipsed" title="{% trans 'in progress' %}"/>
                        {% endifequal  %}
                        {% if project_translation.project.popular %}
                        <img src="{{ STATIC_URL }}images/project/picto-popular.jpg" alt="{% trans 'popular' %}" class="tipsed" title="{% trans 'popular' %}"/>
                        {% endif %}
                        {% if project_translation.project.best_of %}
                        <img src="{{ STATIC_URL }}images/project/picto-bestof.jpg" alt="{% trans 'bestof' %}" class="tipsed" title="{% trans 'bestof' %}"/>
                        {% endif %}
                    </div>

                
                    {% ifequal project_translation.project.status "IDEA" %}
                    <div class="project_card_progress"><img src="{{ STATIC_URL }}images/project/progress25.jpg" /><p> {{ project_translation.project.get_status_display }}</p></div>
                    {% endifequal %}
                    {% ifequal project_translation.project.status "BEGIN" %}
                    <div class="project_card_progress"><img src="{{ STATIC_URL }}images/project/progress50.jpg" /><p>{{ project_translation.project.get_status_display }}</p></div>
                    {% endifequal %}
                    {% ifequal project_translation.project.status "WIP" %}
                    <div class="project_card_progress"><img src="{{ STATIC_URL }}images/project/progress75.jpg" /><p>{{ project_translation.project.get_status_display }}</p></div>
                    {% endifequal %}
                    {% ifequal project_translation.project.status "END" %}
                    <div class="project_card_progress"><img src="{{ STATIC_URL }}images/project/progress100.jpg" /><p>{{ project_translation.project.get_status_display }}</p></div>
                    {% endifequal %}

                </div>
        </center>
        
        <br />
                
        <div id="sidebar-section-related" class="sidebar-section-openable">
            
            <div class="title">
                {% trans 'take action'|capfirst %}
            </div>            
            
            <div class="clear"></div>        

            <div id="social-sharing" style="float:right; height:20px; width: position:relative; width: 145px;">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style ">
                    <a class="addthis_button_facebook"></a>
                    <a class="addthis_button_twitter"></a>
                    <a class="addthis_button_google"></a>
                    <a class="addthis_button_email"></a>
                    <a class="addthis_button_compact"></a>
                    <a class="addthis_counter addthis_bubble_style"></a>
                </div>
                <!-- AddThis Button END -->
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#async=1"></script>
            </div>
            
            <div class="clear"></div>    
            
            <div class="title">
                <a title="{% trans 'edit'|capfirst %}"
                 href="{% url project_sheet-instance-edit-related project_translation.slug %}"
                 class="button sidebar-opener editing-button" name="opened-sidebar"> 
                    <img src="{{ STATIC_URL }}images/base/edit.png" alt="edit" /> 
                </a>
                {% trans 'related'|capfirst %}
            </div>

            <!-- Colonne grise remplie -->

            {% if project_translation.objectives.all|length > 0 %}
            <div class="grey_column_objective">
                <label>{% trans 'objectives:'|capfirst %}</label> 
                  <ul id="cloudtag_list">
                  {% for objective in project.objectives.all %}
                        <li><a href="{% url project_sheet-list%}?objectives={{ objective.id }}" class="link">{{ objective }}</a>{% if not forloop.last %},{% endif%}</li> 
                    {% endfor %}
                </ul>
            </div>
            {% endif %}


            {% if not project_translation.themes %}
            <p>
                <a class="sidebar-opener" href="#" name="opened-sidebar">
                {% trans "Click here to set the <strong>categories</strong> and <strong>tags</strong> of this project."|capfirst %}</a>
            </p>
            {% else %} {% tags_for_object project_translation as taglist %}
            <div class="grey_column_tagcloud">
                <label>{% trans 'Themes:'|capfirst %}</label>
                <ul id="cloudtag_list">
                    {% for tag in taglist %}
                        <li><a href="{% url project_sheet-list%}?themes={{tag.id}}">{{ tag }}</a>{% if not forloop.last %},{% endif%}</li> 
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        
        <div class="clear"></div>

        <div id="sidebar-section-callto">
            <!-- Call to (help request) -->
            <div class="title">
                <a title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-instance-edit-field project_translation.slug 'callto_section' %}#sidebar-section-callto" class="button editing-button"><img src="{{ STATIC_URL }}images/base/edit.png" alt="{% trans 'edit' %}" /></a>
                {% trans 'Project&nbsp;needs'|capfirst %}
            </div>

            <div class="clear"></div>

            {% if callto_section_form %}
                <form method="POST" action="{% url project_sheet-instance-edit-field project_translation.slug 'callto_section' %}#sidebar-callto">
                    {% csrf_token %}
                    {{ callto_section_form.callto_section }}
                    <br /><br />
                    <input type="image" alt="Ok" src="/static/images/base/v.png" style="margin-left: 4px;" class="greenbutton right nomargin" title="Ok">
                    <input type="image" alt="X" src="/static/images/base/x.png" style="margin-left: 4px;" class="redbutton right nomargin" title="Cancel">
                </form>
            {% else %}
              {% if project_translation.callto_section %}
                {{ project_translation.callto_section }}
              {% else %}
                {% trans "Project support is not needed or not known. Please edit if you think this project needs help." %}
               {% endif %}
            {% endif %}

        </div>

        <div class="clear"></div>        

        <div id="sidebar-section-team" class="sidebar-section-openable">
            <!-- About the team -->
            <div class="title">
                <a title="{% trans 'Add a member'|capfirst %}" href="#" class="button sidebar-opener editing-button" name="opened-sidebar-team"><img src="{{ STATIC_URL }}images/base/add.png" alt="{% trans 'add' %}" /></a>
                {% trans 'The team'|capfirst %}
            </div>

            <div class="clear"></div>

            {% if project.members.all|length == 0 %}
              <!-- Text that is visible when this section is empty -->
              <!-- The name attribute of the anchor is the ID of the sidebar to open -->
              <p>
                <a href="#" class="sidebar-opener"  name="opened-sidebar-team">
                  <img src="{{ STATIC_URL }}images/project/avatar.jpg" alt="{% trans 'There is no registered team members: please to fill this section !' %}" />
                </a>
              </p>
            {% else %}

            <ul id="member_list">
                {% for member in project.detailed_members.all %}
                <li class="grey_column_team_member member{{ member.id }}">
                    <div  style="position:relative; float:left; width:80px;">
                        <img src="{{ member.user.get_profile.get_mugshot_url }}" alt="{{ member.user.username }}" width="80" height="80"/>
                        <div class="grey_column_team_buttons">
                            <!-- <a title="{% trans 'Edit'|capfirst %}" href="javascript:alert('Not Yet Implemented');"	class="button nomargin"><img src="{{ STATIC_URL }}images/base/edit.png" alt="edit" /></a> -->
                            {% if user.is_authenticated %}
                            <input id="del_member_link" type="image" title="{% trans 'Delete'|capfirst %}" value="{% url project_sheet-instance-del-member project_translation.slug member.user.username %}" class="button redbutton nomargin" src="{{ STATIC_URL }}images/base/trash.png" alt="{% trans 'delete' %}" /> 
                            {% endif %}
                        </div>
                        {% if member.user.get_profile.country %}
                            <img src="{{ member.user.get_profile.country.flag }}" class="flag" title="{{ member.user.get_profile.country.name }}" alt="{{ member.user.get_profile.country }}"/>
                        {% endif %}
                    </div> 
                    
                    <div  style="position:relative; float:left; width:130px; margin-left:10px;">

                        <h2>
                            <a href="{% url userena_profile_detail member.user %}">{{ member.user.get_full_name|default:member.user.username }}</a>             
                        </h2>
                        <div class="clear"></div>
                          
                        <h3>{{ member.role }}</h3>
                        <div class="clear"></div>
                          
                        <p>{{ member.comment }}</p>	
                    
                    </div> 

                    <div class="clear"></div>                    

                </li>
                
                <div class="clear"></div>                    

                {% endfor %}
            </ul>
        {% endif %}
         </div>
     
        
        <div class="clear"></div>      
        <div id="sidebar-section-partners">
            <div id="partners-widget">
                <div class="title">
                    <a title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-instance-edit-field project_translation.slug 'partners_section' %}#partners-widget" class="button editing-button"><img src="{{ STATIC_URL }}images/base/edit.png" alt="{% trans 'edit' %}" /></a>
                    {% trans 'Partners'|capfirst %}
                </div> 
                
                <div class="clear"></div>   
                
            {% if project.partners.all|length %}
                    <ul id="partners_list">
                        {% for partner in project.partners.all %}
                        
                        <div class="clear"></div>

                        <li class="grey_column_team_partner">
                            <a href="{% url partner-detail partner.slug %}">
                                <img src="{{ MEDIA_URL }}{{ partner.picture.original_image }}" alt="{{ partner.name }}" />
                            </a>  
                                
                            <h2>
                                <a href="{% url partner-detail partner.slug %}">{{ partner.name }}</a>             
                            </h2>

                            {{ partner.description|linebreaks }}
                        </li>
                        {% endfor %}
                    </ul>     
            {% endif %}
            
            {% if not project.partners.all|length and not project_translation.partners_section %}
                {% trans "This project has no known partners." %}
                <br /><br />
            {% endif %}

            {% if partners_section_form %}
                <form method="POST" action="{% url project_sheet-instance-edit-field project_translation.slug 'partners_section' %}#partners-widget">
                    {% csrf_token %}
                    {{ partners_section_form.partners_section }}
                    <br /><br />
                    <input type="image" alt="Ok" src="/static/images/base/v.png" style="margin-left: 4px;" class="greenbutton right nomargin" title="Ok">
                    <input type="image" alt="X" src="/static/images/base/x.png" style="margin-left: 4px;" class="redbutton right nomargin" title="Cancel">
                </form>
                {% else %}
                    {% if project_translation.partners_section %}
                        {{ project_translation.partners_section|linebreaks }}
                    {% endif %}
                {% endif %}

                
                
            </div>
        </div>

            


		{% else %}
            <h1>{% trans "Want to get started on your project sheet ?" %}</h1>
            {% trans "Click on the field you want to edit, edit it, and save the changes. Once you’ve modified a field, your project sheet will be created." %} 

        {% endif %}
        
        
		<div class="clear"></div>
        
	</div>
</div>
