{% extends "project_sheet/project_base.html" %}
{% load i18n %}
{% load compress %}

{% block style %}
  {% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/white_page.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/history.css" />
    {% endcompress %}
{% endblock %}


{% block nav %} {% include "nav.html" %} {% endblock %}

{% block project_content %}

<ul class="history">
{% for version, fields in versions.iteritems %}
    <li>{% trans "Done the" %} <em>{{version.revision.date_created|date:_("DATETIME_FORMAT")}}</em> {% trans "by" %} 
    {% if version.revision.user.profile %}
        <a href="{% url userena_profile_detail version.revision.user.profile.user.username %}" class="link">{{version.revision.user.profile.get_full_name_or_username}}</a> {% trans "on the field" %}
    {% else %}
        {% trans 'anonymous' %}
    {% endif %}
    {% for field in fields %}
        {% if forloop.last %}
            &nbsp;{% trans 'and' %}&nbsp;
        {%else%}
            {% if not forloop.first %}
                ,&nbsp;
            {%endif%}
        {%endif%}
         <strong>{% trans '"' %}{{field}}{% trans '"' %} </strong>
    {% endfor %}
    </li>   
{% endfor %}
</ul>
{% endblock %}