{% extends "project_sheet/project_base.html" %}
{% load i18n %}

{% block style %}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/white_page.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/history.css" />
{% endblock %}


{% block nav %} {% include "nav.html" %} {% endblock %}

{% block project_content %}

<ul class="history">
{% for version, fields in versions.iteritems %}
    
    {% for field in fields %}
    <li>{% trans "Done the" %} <em>{{version.revision.date_created|date:_("DATETIME_FORMAT")}}</em> {% trans "by" %} <a href="#" class="link">{{version.revision.user}}</a> {% trans "on the field" %}
    <strong>{% trans '"' %}{{field}}{% trans '"' %}</strong>
     
    </li>   
    {% endfor %}

{% endfor %}
</ul>
{% endblock %}