{% load i18n %}
{% load oembed_works_tags %}

{% if picture_form %}
<!-- MEDIA - edition mode -->
<div id="project_photo_upload_edit">
	<h1>{% trans "upload a media"|capfirst %}</h1>
	
	<div id="forms_files">
		{% if project_translation %}		
			<form method="post" id="photo_upload_form"  action="{% url project_sheet-instance-add-picture project_translation.slug %}" enctype="multipart/form-data" >{% csrf_token %}
		{% else %}
			<form method="post" id="photo_upload_form"  action="{% url project_sheet-add-picture %}" enctype="multipart/form-data">{% csrf_token %}
		{% endif %}
		
				<p><label for="#" class="bold">{% trans "Choose an image to upload :"|capfirst %}</label> <span class="precision"></span>{{ picture_form.original_image }}</p>
					
				<div class="clear"></div>
				
				<p class="media_desc_up left">{{picture_form.desc.label_tag}} : {{picture_form.desc}}</p>
				<p class="media_licence_select">	
					{{picture_form.license.label_tag}} : {{picture_form.license}} 						
				</p>
				<p class="media_licence_up left">{{picture_form.author.label_tag}} : {{picture_form.author}}</p>
				<p class="media_licence_up left">{{picture_form.source.label_tag}} : {{picture_form.source}}</p>
				
				<div class="clear"></div>
				
				<input id="upload_img_input" class="button nomargin right" type="submit" value="{% trans 'Upload'|capfirst %}" enctype="multipart/form-data"/>
				
			</form>
		
		{% if project_translation %}		
			<form method="post" id="vid_upload_form"  action="{% url project_sheet-instance-add-video project_translation.slug %}" >{% csrf_token %}
		{% else %}
			<form method="post" id="vid_upload_form"  action="{% url project_sheet-add-video %}">{% csrf_token %}
		{% endif %}
			<p>
				<label for="#" class="bold">{% trans "add a video (youtube, dailymotion, etc): "|capfirst %}</label><span class="precision"></span>
				{{ video_form.video_url }}
				<input class="greenbutton nomargin right" type="image" src="{{ MEDIA_URL }}/images/base/v.png" Alt="Ok" />
			</p>
		</form>			
	</div>
	<a href="javascript:history.go(-1);" title="{% trans 'Cancel'|capfirst %}"  class="redbutton nomargin right"><img src="{{ MEDIA_URL }}/images/base/x.png" alt="X" /></a>	
</div>
{% else %}
	{% if project_translation %}
		{% if project_translation.project.pictures.count or project_translation.project.videos.count %}
			
			<!-- MEDIA - created project - with pictures -->
			<div id="project_photo_gallery">
				
				<div id="media_buttons">
					<a href="{% url project_sheet-instance-add-media project_translation.slug %}" class="button nomargin"><img title="{% trans 'Add'|capfirst %}" src="{{ MEDIA_URL }}/images/base/add.png" alt="+" /></a>
					<a href="javascript:alert('Not Yet Implemented');" id="media_metadata_button" class="button nomargin"><img title="{% trans 'Metadata - Click to edit'|capfirst %}" src="{{ MEDIA_URL }}/images/base/infos.png" alt="?" /></a>
					<a id='del_media' href="#" class="button redbutton nomargin"><img title="{% trans 'Delete'|capfirst %}" src="{{ MEDIA_URL }}/images/base/trash.png" alt="X" /></a>
				</div>
				
                <ul id="all_metadata">
                {% for pic in project_translation.project.pictures.all %}
                <!-- MEDIA - Metadata viewing - Hidden by default. When user hover #media_metadata_button, metadata becomes visible -->
                    <li>
                        <div class="metadata">
                            <strong>{% trans 'Date :'|capfirst %}</strong> {{pic.created}} <br /><br />
                            <strong>{% trans 'Description :'|capfirst %}</strong> {{pic.desc}} <br /><br />
                            <strong>{% trans 'Author :'|capfirst %}</strong> {{pic.author}} |   
                            <strong>{% trans 'Source :'|capfirst %}</strong> {{pic.source}} | 
                            <strong>{% trans 'Licence :'|capfirst %}</strong> {{pic.license}}
                        </div>
                    </li>
                {% endfor %}
                </ul>
                
				<!-- !!!!!!!!! -->
				<!-- !!FOCUS!! -  Each field must be tested ; if one field is not filled, it is not present -->
				<!-- !!!!!!!!!-->
				
				<!-- MEDIA - Metadata editing - Class hidden by default. When user click on #media_metadata_button, metadata edition becomes visible, but the medatada viewing must not been visible on hover ! -->
				<!-- When user edit metadata, the block buttons (#media_buttons) is hidden until action is validated or cancelled -->
				<div id="metadata" class="metadata_edit metadata">
					<form action="#">	
						<strong>{% trans 'Date :'|capfirst %}</strong> 12-03-1995<br /><br />

						<p class="media_desc_edit"><label>{% trans 'Description :'|capfirst %}</label><input type="text" value="The Speaker's Corner is a very unique way of giving lorem ipsum dolores ectamed dolred iposed lidum ed solimec acladim so remule delumdolesc deloea siloga iposbile... " name="#" id="#" /></p>

						<p class="left"><label>{% trans 'Author :'|capfirst %}</label><input type="text" value="Pierrick Mabrouk" name="#" id="#" /></p>
						<p class="left"><label>{% trans 'Source :'|capfirst %}</label><input type="text" value="Naturelle" name="#" id="#" /></p>

						<p class="left">	
							<label>{% trans 'Licence :'|capfirst %}</label> 						
							<select name="#">
								<option selected>Licence IV</option>
								<option>Licence à la pompe</option>
								<option>Licence assion</option>
								<option>Licence assfriture</option>
							</select>
						</p>
							
					<a href="#" title="{% trans 'Ok'|capfirst %}"  class="button greenbutton right nomargin"><img src="{{ MEDIA_URL }}/images/base/v.png" alt="ok" /></a>	
					<a href="#" title="{% trans 'Cancel'|capfirst %}" class="button redbutton right nomargin"><img src="{{ MEDIA_URL }}/images/base/x.png" alt="x" /></a>
						
					</form>				
				</div>
				
	
				<div id="gallery">
					<ul id="project_photo_gallery_current_photo">
						{% for pic in project_translation.project.pictures.all %}
							<li>
                                <a class="hidden del_link" href="{% url project_sheet-instance-del-picture project_translation.slug pic.id%}"></a>
                                <img src="{{pic.display.url}}" alt="">
                            </li>
						{% endfor %}
						{% for vid in project_translation.project.videos.all %}
							<li>
                                <a class="hidden del_link" href="{% url project_sheet-instance-del-video project_translation.slug vid.id%}"></a>
                                {% oembed 700x460 %}{{vid.video_url}}{% endoembed %}
                           </li>
						{% endfor %}
					</ul>
					<ul id="project_photo_gallery_mini" class="jcarousel-skin-tango">
						{% for pic in project_translation.project.pictures.all %}
							<li><a onclick="changeslider({{forloop.counter}});" href="javascript:;"><img src="{{pic.thumbnail_image.url}}" alt="" /></a></li>
						{% endfor %}

						{% for vid in project_translation.project.videos.all %}
							<li>
								<a onclick="changeslider({{forloop.counter|add:project_translation.project.pictures.count}});" href="javascript:;">
									<img src="{{MEDIA_URL}}/images/play_video.png" alt="Play" height="48" width="48"/>
								</a>
							</li>

						{% endfor %}
					</ul>
				</div>				
			</div>
		{% else %}
			<!-- MEDIA - created project - no pictures -->
			<a href="{% url project_sheet-instance-add-media project_translation.slug %}">
				<div id="project_photo_upload">
				</div>
			</a>
		{% endif %}	
	{% else %}
		<!-- MEDIA - no project - no pictures -->
		<a href="{% url project_sheet-add-media %}">
			<div id="project_photo_upload">
			</div>
		</a>
	{% endif %}
    
    <!-- modal content -->
    <div id='confirm'>
        <div class='message'></div>
        <div class='buttons'>
		<a title="{% trans 'Yes'|capfirst %}" href="#"	class="yes button greenbutton right"><img src="{{ MEDIA_URL }}/images/base/v.png" alt="edit" /></a>
        <a title="{% trans 'No'|capfirst %}" href="#" class="no button redbutton right nomargin"><img src="{{ MEDIA_URL }}/images/base/x.png" alt="edit" /></a> 
        </div>
    </div>
{% endif %}
