{% extends "project_sheet/project_base.html" %}

{% load i18n %}
{% load tagging_tags %}
{% load compress %}
{% load honeypot %}

{% block meta_desc %}{{project_translation.about_section|truncatewords:60}}{% endblock %}

{% block title %}
    {% if project_translation.title %}
        {{project_translation.title|capfirst}} 
	{% if project_translation.baseline %}
	: {{ project_translation.baseline }}
	{% endif %}
    {% else %}
        {% trans 'start project'|capfirst %}
    {% endif %}
    | {{ site.name }}
{% endblock %}

{% block style %}
  {{ block.super }}
  {% compress css %}


  {% endcompress %}
{% endblock %}

{% block extra_head %}
  {{ block.super }}
  {% compress js %}
  
  {% endcompress %}
{% endblock %}



{% block project_content %}	

    {% if project_translation %}
	{% tags_for_object project_translation as project_tags %}
	{% with taglist_title="Tags" %}
	{% with taglist_tags=project_tags %}
	{% include "tags/block/tag_list.html" %}
	{% endwith %}
	{% endwith %}
    {% endif %}

{% endblock %}
