{% extends "base.html" %}
{% load i18n %}
{% load compress %}

{% block base_grid %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/grid/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/common/fonts.css" />
{% endblock %}

{% block style %}
{% compress css %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/pages/project_base.css" />
{% endcompress %}
{% endblock %}

{% block content %}	
{% with gridsystem='bootstrap' %}


<div class="project-subheader">
    <div class="container">
	<div class="row">
	    <div class="span8 subheader">
		<h1 class="title">{{ project_translation.title }}</h1>
		<div class="description">{{ project_translation.baseline }}</div>
	    </div>
	    <div class="span4 infobox">
		INFOBOX
	    </div>
	</div>
    </div>
</div>

<div class="project-menubar">
    <div class="container">
	<div class="row">
	<ul class="span8">
	    <li class="active"><a href="#FIXME-BADURL">{% trans "Project" %}</a></li>
	    <li><a href="#FIXME-BADURL">{% trans "Discussion" %}</a></li>
	    <li><a href="#FIXME-BADURL">{% trans "Calls for help" %}</a></li>
	    <li><a href="#FIXME-BADURL">{% trans "Activity" %}</a></li>
	    <li><a href="#FIXME-BADURL">{% trans "Gallery" %}</a></li>
	    <li class="right"><a href="#FIXME-BADURL">z</a></li>
	    <li class="right"><a href="#FIXME-BADURL">y</a></li>
	    <li class="right"><a href="#FIXME-BADURL">x</a></li>
	    <li class="right"><a href="#FIXME-BADURL">{% trans "FR" %}</a></li>
	    <li class="right"><a href="#FIXME-BADURL">{% trans "Share" %}</a></li>
	</ul>
    </div>
    </div>
</div> <!-- .project-menubar -->

<div class="project-toolbar">
    Fixed
</div>

<div class="project-content">
{% block project_content %}{% endblock %}
</div>

{% endwith %}
{% endblock %}
