{% extends "base.html" %}
{% load i18n %}
{% load compress %}

{% block meta_desc %}{% trans 'These experiences have a positive social impact and create social goodwill. they demonstrate a disruptive inventiveness and can be easily disseminated and scaled in other places or cultural contexts.'%}{% endblock %}
{% block title %}{% trans 'Find project on Imagination for People'%}{% endblock %}

{% block style %}
  {% compress css %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/black_page.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_card.css" />
  {% endcompress %}
{% endblock %}


{% block nav %}<div style="height:37px;"></div>{% endblock %}


{% block content %}
  <div class="content">        
    <div class="container_18">
    <br /><br /><br />
    <form method="post" action="">{% csrf_token %}
        {% for filter in filters %}
        <p>
        {% for field in filter %}
            {{field.label_tag}}
            {{field}}
        {% endfor %}

        </p>
        {% endfor %}
        <input type="submit" value="{% trans 'filter'|capfirst %}" />
    </form>
    </div>
  </div>
{% endblock %}
