{% load i18n %}

<a href="{{ project_translation.get_absolute_url }}" class="project_card">
  
  <div class="project-photo">	
    <img src="{{ project_translation.project.pictures.all.0.thumbnail_idcard.url }}" alt=""/>
  </div>
  
  <div class="project_card_type">{# <img src="http://www.google.fr/images/logos/ps_logo2.png" alt="democratize" /> #}</div>
  
  <div class="project_card_content">
    {# <div class="project_card_status">Completed</div> #}
    <div class="project_infos_title">{{ project_translation.title }}</div>	
    <div class="project_infos_location">USA, New York</div>				
  </div>
  <div class="clear"></div>
  
</a>