{% extends "base.html" %}
{% load i18n %}
{% load compress %}

{% block style %}
{% compress css %}
<!-- base CSS -->
<!-- FIXME: integrate boostrap grid -->
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/pages/project_base.css" />


<!-- blocks -->
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/tags/block/tag_list.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/card_fancy_wide.css" />
<style>

    #langage-tool { visibility: hidden; display: none; }
</style>
{% endcompress %}
{% endblock %}

{% block content %}	
{% with gridsystem='bootstrap' %}


<!-- FIXME: integrate project_content -->
<!-- FIXME: integrate project_sidebar -->

<div class="container">        
    <div class="row">
	<div class="span9 project-main">
	    {% block project_content %}{% endblock %}

	    FIXME: EOF DESCRIPTION
	</div> <!-- .project-description -->

	<div class="span3 project-sidebar">	

	    <div class="project-members clearfix">
	    <!-- FIXME: use dynamic data for member list -->
	    <h2>{% trans "Contributors" %}</h2>
	    {% include "project_sheet/block/member_fancy_wide.html" %}
	    </div>
	    
	    <div class="project-related clearfix">
	    <!-- FIXME: use dynamic data for member list -->
	    <h2>{% trans "Related projects" %}</h2>
	    {% include "project_sheet/block/cardlist_fancy_wide.html" %}
	    </div>

	    <div class="project-gallery clearfix">
	    <!-- FIXME: use dynamic data for member list -->

	    <div class="project-list square-card clearfix">
		<h2>{% trans "Gallery" %}</h2>
		<a href="#FIXME-BADURL" class="seemore">{% trans "See more" %}</a>
		{% include "project_sheet/block/gallery_fancy.html" %}
	    </div>

	    <div class="project-partners clearfix">
	    <!-- FIXME: use dynamic data for member list -->
	    <h2>{% trans "Partners" %}</h2>
	    PARTNERS
	    </div>
	    FIXME: EOF SIDEBAR
	</div> <!-- .project-sidebar -->
    </div>
    <div class="clear"></div>
</div>


{% endwith %}
{% endblock %}
