{% extends "project_sheet/project_base.html" %}

{% load i18n %}
{% load localeurl_tags %}
{% load tagging_tags %}
{% load compress %}

{% block meta_desc %}{{project_translation.about_section|truncatewords:60}}{% endblock %}
{% block title %}
    {% if project_translation.title %}
        {{project_translation.title|capfirst}} 
	{% if project_translation.baseline %}
	: {{ project_translation.baseline }}
	{% endif %}
    {% else %}
        {% trans 'start project'|capfirst %}
    {% endif %}
    | Imagination for People
{% endblock %}

{% block style %}
  {{ block.super }}
  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery/jquery.ui.autocomplete.tagit.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery/jquery.autocomplete.css" media="screen, projection" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/anythingslider.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/superfish.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/confirm.css" type="text/css" media="screen" />

  <link rel="stylesheet" href="{{ STATIC_URL }}/css/ajax_select.css" type="text/css" media="screen" />

  
  <style type="text/css">
  .dynamic-form {
      width: 100%;
    }
    
    .dynamic-form input{
    width: 90%;
    border: 1px solid #AAAAAA;
    margin-bottom: 5px;
    padding: 4px;
    font-size: 11px;
    color: #838181;
    }
    </style>

  {% endcompress %}
{% endblock %}

{% block extra_head %}
  {{ block.super }}
  
  {% compress js %}
    
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.blockUI.js" ></script>
	
  <!-- inline editing -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.growfield2.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.jeditable.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.jeditable.growfield.js"></script>

  
  <!-- for tags -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.tag-it.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.tag-it.iecompat.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.tinysort.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.tagcloud.js"></script>
  
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ba-serializeobject.js"></script>

  
  <!-- Scripts for Image Slider & Miniatures -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.easing.1.2.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.anythingslider.js" ></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.jcarousel.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/swfobject.js" ></script>
  
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/hoverIntent.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/superfish.js"></script>
  
  <!-- Scripts for Media Slider -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.simplemodal.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/project_sheet/media.js"></script>

  <!-- Custom checkbox -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.simpleImageCheck-0.4.js"></script>
  
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.formset.js"></script>
  
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.autocomplete.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/post-comment.js"></script>
  
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.example.js"></script>

  <!-- Autocomplete -->
  <script type="text/javascript" src="{{ STATIC_URL }}/js/ajax_select.js"></script>

  
  {% endcompress %}


{% endblock %}

{% block inline_js %}
  {% compress js %}
  <!-- Sidebar -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/project_sheet/sidebar.js"></script>
  
  <script type="text/javascript">
    // Upper menu
    $(document).ready(function(){ 
        $("ul.sf-menu").superfish({delay: 400, speed: 'fast'})
  
        // Comments
	// Customize the location of the media to match your project structure
        var media = '{{ STATIC_URL }}'

    // On enter
    $('#comment-form #id_comment').keypress(function(e) {
          if ( e.which == 13 ) {
               $('#comment-form form').blur();
               $('#comment-form form').submit();
          }
    });

    // Sample text
    $("#comment-form #id_comment").example("{% trans 'Type your message here and hit enter when done...' %}");
    
    // Ajax 
    $('div#comment-form form').submit(function() {
        ajaxComment({'media': media});
        return false;
    });

    // Team section 
    $("#member_list_edit").hide();
    $(".grey_column_team_buttons").hide();

	$("#member_list li").hover(function() {
	    $(this).find(".grey_column_team_buttons").show();
	}, function() {
	    $(this).find(".grey_column_team_buttons").fadeOut("fast");
	});


  // Project infos 
    var project_infos_block_edit = $('#project_infos_block_edit');
    var project_infos_block = $('#project_infos_block');
	var project_infos_edit_button = $('#project_infos_block_edit_button');
	var project_infos_edit_button_cancel = $('#project_infos_block_edit_button_cancel');

	project_infos_block_edit.hide();

	/* When clicking on the edit pencil, for the project infos section */
	project_infos_edit_button.click(function() {
	    project_infos_block.hide();
	    project_infos_block_edit.show();

	    return false;
	});

	/* When clicking on the [X] button in inline edit mode */
	project_infos_edit_button_cancel.click(function() {
	    project_infos_block_edit.hide();
	    project_infos_block.show();
	    project_infos_edit_button.hide();

	    return false;
	});

        // Addthis
        addthis.init();
    });
  </script>


  {% endcompress %}

  <script type="text/javascript" defer="defer">
    // Related updates
    function on_project_themes_updated(data) {
        if ( data == Dajaxice.EXCEPTION ) { alert('error'); }
        else {
           $('#opened-sidebar').slideToggle();
           location.reload();
        } 


    }

    function project_update_related() {
	themes_form = $('#themes-form').serializeObject(true);

        Dajaxice.apps.project_sheet.project_update_related(on_project_themes_updated, {'language_code': '{{ LANGUAGE_CODE }}',
                                                                                       'related_form': themes_form,
                                                                                       'project_slug': '{{ project_translation.slug }}'}
        );                                                          
	return false;
    }


    /* Notification  area 
    Must be here because functions are used in inline_editing_save_callback
    */
	function clearNotification(theDivNotificationClass){
		$("#notification-area ul li ."+theDivNotificationClass).parent("li").remove();
	}
	
	function notifySomething(theDivNotificationClass){
		clearNotification(theDivNotificationClass);
		var notifClone = $("div."+theDivNotificationClass).clone();
		$("#notification-area ul").append("<li></li>");
		$("#notification-area ul li:last").append(notifClone);
		notifClone.removeClass("hidden");
		notifClone.find("a.close-notif").click(function(){
			notifClone.parent("li").remove();
			return false;
		});
		notifClone.find("a.login-slide-openner").click(function(){
			$("#open").click();
			clearNotification(theDivNotificationClass);
			return false;
		});
	}
	
	{% if not user.is_authenticated %}
		{% if title_form or baseline_form or picture_form %}
		notifySomething("anonymous-disclaimer");
		{% endif %}
		$(".editing-button").click(function(){
			notifySomething("anonymous-disclaimer");
		});
	{% endif %}
	
	{% if project_translation.completion_progress == "EDIT" %}
	notifySomething("edition-notification");
	{% endif %}

	// Inline save callback
	function inline_editing_save_callback(data) {
	    var res = jQuery.parseJSON(data);

	    /* Toggle black background to white in case we're editing for the first time the "About Project" section */
	    $(this).parent('div.project_description_zone_edition').removeClass('project_description_zone_edition').addClass('project_description_zone');

	    if ( res.redirect ) {
		window.location = res.redirect_url;
	    }
	    
	    $(this).html(res.text);
	    if($(this).attr('id') == "project_translation_progress"){
	    	edit_btn = $("<a title=\"{% trans 'Edit'|capfirst %}\" href=\"#\" class=\"button editing-button nomargin right\"><img src=\"{{ STATIC_URL }}images/base/edit.png\" /></a>");
	    	$(this).append(edit_btn);
	    	
	    	edit_btn.click(function() {
	    		{% if not user.is_authenticated %}
	    		notifySomething("anonymous-disclaimer");
	    		{% endif %}
	    		$(this).dblclick();
	    	    return false;
	    	});
	    	
	    	edit_btn.hide();
	        $(this).hover(function() {edit_btn.show();},
	        		      function() {edit_btn.fadeOut('fast');}
	        );
	    	
	        if(res.completion_progress == "EDIT"){
	        	notifySomething("edition-notification");
	        }
	        else {
	        	clearNotification("edition-notification");
	        }
	        
	    }

	    return false;

	}


    $(document).ready(function() {
	var tags = $("#themes_tags").tagit({
	    itemName: 'themes'
	});

	$("#themes_list").tagcloud({type:"sphere", sizemin:10, height: 200, colormin: "888888", colormax: "343434"}).find("li").tsort();

	$("#themes_list li").click(function($this) {
	    $.fn.tagit.create_tag($(this).text());
	});

	// restore tags in get
        {% if project_translation %}
          {% tags_for_object project_translation as project_tags %}
        	{% for tag in project_tags %}
	     $.fn.tagit.create_tag("{{ tag }}");
	  {% endfor %}
        {% endif %}



     /* FIXME: This needs to be factorized */
    $('#project_translation_progress').editable('{% if project_translation %}{% url project_sheet-ajax-field-save project_translation.slug %}{% else %}{% url project_sheet-ajax-field-save %}{% endif %}',
                                               {event: 'dblclick',
						tooltip: 'Double-click to edit',
						loadurl: '{% if project_translation %}{% url project_sheet-ajax-field-load project_translation.slug %}{% else %}{% url project_sheet-ajax-field-load %}{% endif %}',
						loaddata: {'language_code': '{{ LANGUAGE_CODE }}'},
						submitdata: {'language_code': '{{ LANGUAGE_CODE }}'},
						dataType: 'json',
						callback: inline_editing_save_callback,
						indicator: 'Saving...',
						type: 'select',
						height: '40px',
						width: '535px',
						cancel: "<input title='{% trans 'Cancel'|capfirst %}'  class='redbutton right nomargin' style='margin-left:4px;' type='image' src='{{ STATIC_URL }}images/base/x.png' alt='X'/>",
						submit: "<input title='{% trans 'Ok'|capfirst %}'  class='greenbutton right nomargin' style='margin-left:4px;' type='image' src='{{ STATIC_URL }}images/base/v.png' alt='Ok'/>",
						onblur: 'ignore',
						cssclass: 'inline-edit',
						});
	
	$('.project_description_txt').editable('{% if project_translation %}{% url project_sheet-ajax-field-save project_translation.slug %}{% else %}{% url project_sheet-ajax-field-save %}{% endif %}',
                                               {event: 'dblclick',
						tooltip: 'Double-click to edit',
						loadurl: '{% if project_translation %}{% url project_sheet-ajax-field-load project_translation.slug %}{% else %}{% url project_sheet-ajax-field-load %}{% endif %}',
						loaddata: {'language_code': '{{ LANGUAGE_CODE }}'},
						submitdata: {'language_code': '{{ LANGUAGE_CODE }}'},
						dataType: 'json',
						callback: inline_editing_save_callback,
						indicator: 'Saving...',
						type: 'growfield',
						height: '40px',
						width: '535px',
						cancel: "<input title='{% trans 'Cancel'|capfirst %}'  class='redbutton right nomargin' style='margin-left:4px;' type='image' src='{{ STATIC_URL }}images/base/x.png' alt='X'/>",
						submit: "<input title='{% trans 'Ok'|capfirst %}'  class='greenbutton right nomargin' style='margin-left:4px;' type='image' src='{{ STATIC_URL }}images/base/v.png' alt='Ok'/>",
						onblur: 'ignore',
						cssclass: 'inline-edit',
						placeholder: "{% trans "This bloc is empty : don’t forget to fill it !"|capfirst %}"
                                               });

    {% if user.is_authenticated and project_translation %}
    $('#project_status').editable('{% url project_sheet-instance-edit-status project_translation.slug %}', {
data: '{{ project_status_choices|safe }}',
        type: "select",
        submit: "OK",
        name: "status"
    });
    {% endif %}


	$('.project_details_body').editable('{% if project_translation %}{% url project_sheet-ajax-field-save project_translation.slug %}{% else %}{% url project_sheet-ajax-field-save %}{% endif %}',
                                            {event: 'dblclick',
                                             tooltip: 'Double-click to edit',
                                             loadurl: '{% if project_translation %}{% url project_sheet-ajax-field-load project_translation.slug %}{% else %}{% url project_sheet-ajax-field-load %}{% endif %}',
					     loaddata: {'language_code': '{{ LANGUAGE_CODE }}'},
					     submitdata: {'language_code': '{{ LANGUAGE_CODE }}'},
					     dataType: 'json',
					     callback: inline_editing_save_callback,
                         indicator: 'Saving...',
                         type: 'growfield',
                         height: '40px',
                         width: '690px',
                         cancel: "<input title='{% trans 'Cancel'|capfirst %}' class='redbutton right nomargin' style='margin-left:4px;' type='image' src='{{ STATIC_URL }}images/base/x.png' alt='X'/>",
                         submit: "<input title='{% trans 'Ok'|capfirst %}' class='greenbutton right nomargin' style='margin-left:4px;' type='image' src='{{ STATIC_URL }}images/base/v.png' alt='Ok'/>",
                         onblur: 'ignore',
                         cssclass: 'inline-edit',
                         placeholder: "{% trans "This field is blank. Don’t forget to complete it!"|capfirst %}"
                                            });
	

    $('.project_details_body').dblclick(function() {
      $('a.editing-button').fadeOut('fast');
    });

    $('.project_details_title_edit a.button').click(function() {
      $(this).parent().next('.project_details_body').dblclick();
       return false;
    });


    $('.project_description .button').click(function() {
	$('.project_description_txt').dblclick();
       return false;
    });

    $('div#about_section_txt > a').click(function() {
	$('.project_description_txt').dblclick();
	return false;
    });
    
    $('div#project_translation_progress > a').click(function() {
    	$('#project_translation_progress').dblclick();
    	return false;
    });

    /*
     * TODO: only related to the fadeIn/Out of edition button
     * can be externalized
     */
        $('a.editing-button').hide();
        $('a.editing-button').each(function(){
        	var button = $(this);
        	$(this).parents("div").first().hover(function() {
        		button.show();
        	},function() {
        		button.fadeOut('fast');
            }
        	);
        });


    // References section
    	$('#reference_form tr').formset();
    	
        $('#cancel_ref_edit').click(function(){
            $('#reference_list').show();
            $('#reference_form').replaceWith(refFormClone);
            $('#reference_form').hide();
            return false;
        })

    	$('#edit_references_button').click(function(){
    		refFormClone = $('#reference_form').clone(true);
    		$('#reference_list').hide();
    		$('#reference_form').show('slow');
    		return false;
    	});
    	
        $('td.ref input[type=checkbox]').simpleImageCheck({
              image: '{{ STATIC_URL }}images/check_off.png',
              imageChecked: '{{ STATIC_URL }}images/check_on.png',
              afterCheck: function(isChecked) {
                  input = $(this).parent().find('input[type=text]')
                if (isChecked) {
                  input.attr('disabled', 'disabled');
                }
                else{
                  input.removeAttr("disabled");
                }
              }
        });

        refFormClone = null;
        $('#reference_form').hide();
        $('a.delete-row').each(function(){
        	var txt = $(this).html();
        	$(this).html("<img src='{{ STATIC_URL }}images/check_on.png' title='"+txt+"' alt='"+txt+"'/>");
        });
        $('a.add-row').addClass("link");
        
    });
  </script>





{% endblock %}



{% block project_content %}	
<div class="grid_13 alpha project_content">
    <div id="notification-area" class="grid_13 alpha omega">
  	 
        <ul>
        </ul>
         
        <div class="anonymous-disclaimer hidden">
            {% blocktrans %}
            Thank you for the interest you have shown in this project. <br />
            Don't you want to <a class="login-slide-openner link" href="#">log in</a> or <a class="login-slide-openner link" href="#">sign up</a> before editing?
            {% endblocktrans %}
            <a class="close-notif" href="#">X</a>
        </div>
        
        <div class="edition-notification hidden">
            {% blocktrans %}
            This project sheet is a draft. 
            <br />You can enrich it very simply by clicking on text boxes which seem to be incomplete. You will then have access to a wiki field allowing you to write additional content.
            <br />Become in one click a co-publisher of this project.

            {% endblocktrans %}
            <a class="close-notif" href="#">X</a>
        </div>

    </div>
    <!-- PROJECT TITLE -->
    {% if title_form %}
      <!-- PROJECT TITLE - edition mode-->
      {% if project_translation %}
	<form id="title" action="{% url  project_sheet-instance-edit-field project_translation.slug 'title' %}" method="post">{% csrf_token %}
      {% else %}
	<form id="title" action="{% url project_sheet-edit-field 'title' %}" method="post">{% csrf_token %}
      {% endif %}
      {{title_form.title}}
      <input id="project_title_cancel" type="reset" onclick="history.back()" value="&nbsp;" alt="X" title="{% trans 'Cancel'|capfirst %}"  />
      <input id="project_title_submit" type="submit" value="&nbsp;" alt="V" title="{% trans 'Ok'|capfirst %}"  />
	</form>

      {% else %}
	{% if project_translation %}
	  <!-- PROJECT TITLE - filled -->
	  <a href="{% url project_sheet-instance-edit-field project_translation.slug 'title' %}">
	    <div id="project_title">{{ project_translation.title }}</div>
	  </a>
	  <div id="project_translation_progress">
	  	  <a title="{% trans 'Edit'|capfirst %}" href="#" class="button editing-button nomargin right"><img src="{{ STATIC_URL }}images/base/edit.png" /></a>
	  </div>
	{% else %}
	  <!-- PROJECT TITLE - empty -->
	  <a href="{% url project_sheet-edit-field 'title' %}">
	    <div id="project_title_edit_inactive">{% trans 'my project title'|capfirst %}</div>
	  </a>
	{% endif %}
      {% endif %}
      

      <!-- BASELINE -->
      {% if baseline_form %}
	<!-- BASELINE - edition mode-->
	{% if project_translation %}

	<form id="baseline" action="{% url project_sheet-instance-edit-field project_translation.slug 'baseline' %}" method="post" class="project_baseline_edition">{% csrf_token %}
	{% else %}
	<form id="baseline" action="{% url project_sheet-edit-field 'baseline'%}" method="post" class="project_baseline_edition">{% csrf_token %}
	{% endif %}
	{{ baseline_form.baseline }}
	<input  title="{% trans 'Ok'|capfirst %}" class="greenbutton" type="image"  src="{{ STATIC_URL }}images/base/v.png" alt="Ok" />
    <a class="button redbutton nomargin "  href="javascript:history.back(1)" title="{% trans 'Cancel'|capfirst %}" class="button editing-button"><img src="{{ STATIC_URL }}images/base/x.png" alt="X" /></a>
	</form>
	{% else %}
	  {% if project_translation %}
	    <!-- BASELINE - filled-->
	    <div class="project_baseline focus">
	      <p>{{ project_translation.baseline }}</p>
	      <a title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-instance-edit-field project_translation.slug 'baseline' %}" class="button editing-button right"><img src="{{ STATIC_URL }}images/base/edit.png" /></a>
	    </div>
	  {% else %}
	    <!--  BASELINE - empty -->
	    <div class="project_baseline_edition_inactive">
	      <p>{% trans "One line description"|capfirst %}</p>
	      <a title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-edit-field 'baseline' %}" class="button editing-button right"><img src="{{ STATIC_URL }}images/base/edit.png"/></a>
	    </div>
	  {% endif %}
	{% endif %}					
	
	<!-- PROJECT INFOS - existing project - viewable version -->
	<div id="project_infos_block">
	  {% if project_translation %} 
	  
		<!-- edition of the full information block  -->
		<a href="#" id="project_infos_block_edit_button" title="{% trans 'Edit'|capfirst %}" class="button editing-button right"><img src="{{ STATIC_URL }}images/base/edit.png" alt="edit" /></a>

		<!-- add the creation date + the author (this info is auto-filled if a "Project Leader" is defined in the "Team" section) 
		<div class="creation_date">
	    Created {{ project_translation.created }} {% trans 'by' %} 
	    <i>
	      {% if project.author %}
		{{ project.author.get_full_name_or_username }}
	      {% else %}
		{% trans 'anonymous'|capfirst %}
	      {% endif %}
	    </i>
	    ({{ project.ip_addr }})
	    </div> -->
	    
		<div class="location">{% trans "Location:" %}
		{% if project_translation.project.location %}
			<!-- Add the script for GPS coordonates on hover of the picture + add the GPS coordonates in alt text  -->
			{% if project_translation.project.location.address %}
            {{ project_translation.project.location.address }} -
            {% endif %}
	    {% if project_translation.project.location.country %}
			  <img src="{{ project.location.country.flag }}" alt="{{ project_translation.project.location.country }}"/> {{ project_translation.project.location.country.name }}
			  {% endif %}
			{% if project_translation.project.location.lat %}
			<img src="{{ STATIC_URL }}images/project/globe.png" alt="#"/>
			{% endif %}
		{% else %}
			<em>{% trans 'unknown'|capfirst %}</em>
		{% endif %}
		</div>
		
		<!-- Website -->
		{% if project_translation.project.website %}
		  <div class="website">{% trans "Website:" %} <a href="{{ project.website }}" target="_blank" rel="nofollow">{{ project_translation.project.website }}</a></div>
		{% else %}
            {% trans "Website:" %} <em>{% trans 'unknown'|capfirst %}</em>
        {% endif %}
	   
		
	  {% endif %}
	</div>
	
	{% if project_translation %} 
	<!-- PROJECT INFOS - editing version -->
	<div id="project_infos_block_edit">
	  <form action="{% url project_sheet-instance-edit-location project_translation.slug %}" method="post">
	    {% csrf_token %}

	    {{ project_info_form.as_p }}
 	    {{ project_location_form.as_p }}
	    <div class="clear"></div>
	    <input title="{% trans 'Ok'|capfirst %}" class="button greenbutton nomargin right" type="image" src="{{ STATIC_URL }}images/base/v.png" alt="Ok" />							
	    <input id="project_infos_block_edit_button_cancel" title="{% trans 'Cancel'|capfirst %}"  class="button redbutton nomargin right" type="image" src="{{ STATIC_URL }}images/base/x.png" alt="X" />
	  </form>	
	</div>
	{% endif %}
	
	
	
	
	{% include "project_sheet/media_gallery.html"%}
	
	<!-- PROJECT DESCRIPTION -->
	<div class="project_description">
	  {% include "project_sheet/about_section.html" %}
	</div>					
	

	<!-- PROJECT DETAILS -->
	<div class="project_details">
	  {% include "project_sheet/uniqueness_section.html" %}
	  
	  {% include "project_sheet/value_section.html" %}
	  
	  {% include "project_sheet/scalability_section.html" %}

	  {% include "project_sheet/triggering_factor_section.html" %}

	  {% include "project_sheet/business_model_section.html" %}
	</div>
	
	<div class="clear"></div>
	
	{% include "project_sheet/references_section.html" %}
	
	<div class="clear"></div>

	{% if project_translation %}
	{% include "comments/comments-module.html" %}
	{% endif %}

	<div id="license-note">
	  {% blocktrans %}
	    This project sheet, except media, is licensed under the <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons CC-BY-SA 3.0</a> <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Contrat Creative Commons" style="border-width:0" src="{{ STATIC_URL }}images/cc-by-sa3_80_25.png" /></a>
	  {% endblocktrans %}
	</div>
	
    </div>      
    <!-- GREY COLUMN - closed (default) -->
	{% include "project_sheet/grey_column.html"%}

	<!-- GREY COLUMN - RELATED - opened -->
	{% include "project_sheet/sidebar_related.html"%}
	
	<!-- GREY COLUMN - TEAM - opened -->
	{% include "project_sheet/sidebar_team.html"%}

{% endblock %}
