{% extends "base.html" %}
{% load i18n %}
{% load compress %}
{% load tagging_tags %}

{% block meta_desc %}{% trans 'These experiences have a positive social impact and create social goodwill. they demonstrate a disruptive inventiveness and can be easily disseminated and scaled in other places or cultural contexts.'%}{% endblock %}
{% block title %}{% trans 'Find project on Imagination for People'%}{% endblock %}

{% block style %}
  {{ block.super }}
  {% compress css %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/black_page.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_card.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/superfish.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/filters.css" />

  {% endcompress %}
{% endblock %}

{% block extra_head %}
  {{ block.super }}
  {% compress js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/hoverIntent.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/superfish.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ezmark.js"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.example.js"></script>

    <script type="text/javascript" defer="defer">
 
    $(document).ready(function(){ 
        $("ul.sf-menu").superfish({delay: 400, speed: 'fast'}); 
        
        $(".filters_box input.styled").ezMark();
        
        $(".filtersbox_content select#id_country").change(function(){
        	$("#filter_form").submit();
        });
        
        $(".filters_box input.styled").change(function(){
            $("#filter_form").submit();
        });
        
        $(".tag_link").click(function(){
        	var val = $("#id_themes").val();
        	var tag_id = $(this).attr("id").replace("tag_", "");
        	
        	if($(this).hasClass("selected")){
        		$(this).removeClass("selected");
        		var new_val = val.replace(tag_id, "");
        		new_val = new_val.replace(",,", ",");
        		new_val = new_val.replace(/^,/g,'').replace(/,$/g,'')
        		$("#id_themes").val(new_val);
        	}
        	else {
                $(this).addClass("selected");
                var new_tag = val == "" ? tag_id : ","+tag_id;
                $("#id_themes").val(val + new_tag);
        	}
        	$("#filter_form").submit();
        });

        $("#filters").toggle(function() {
				 $('.categories_project_page').animate({height: '260px'});
			     },
			     function() {
				 $('.categories_project_page').animate({height: '36px'});
			     });
		      }); 
  </script>
  
  <script type="text/javascript">
    $(document).ready(function() {
        $(".search #id_text").example("project search");
    });
  </script>


  
{% endcompress %}
{% endblock %}


{% block nav %}<div style="height:37px;"></div>{% endblock %}


{% block content %}


  <div class="content">
    <div class="container_18 relative">
    
    
        <!-- Projects sorting -->
        <div id="projectlist_sort" >
            <ul id="projectlist_sort_buttons">
                <li class="ui-corner-all {% if last_created %}filter-on{% endif %}"><a class="button" href="{% url project_sheet-list %}?{{getparams_last_created}}">{% trans "Last projects" %}</a></li>
                <li class="ui-corner-all {% if last_modif %}filter-on{% endif %}"><a class="button" href="{% url project_sheet-list %}?{{getparams_last_modif}}">{% trans "Last editions" %}</a></li>
            </ul>            
           <!--   
           <div id="langage-tool">				
                <ul id="sample-menu-1" class="sf-menu">		
                    <li class="current">
                        <a href="#"><img src="{{ STATIC_URL }}/images/flags/{{ LANGUAGE_CODE }}.gif" title="{{ LANGUAGE_CODE }}" /> {{ LANGUAGE_CODE }}</a>
                        <ul>
                              {% for language in LANGUAGES %}
                              <li><a href="#"><img src="{{ STATIC_URL }}/images/flags/{{ language.0 }}.gif" title="{{ language.1 }}" />{{ language.0 }}</a>
                              {% endfor %}	
					
                        </ul>		
                    </li>
                </ul>					
            </div>
             -->        
        </div>

    
   
    <div style="position:relative; top:25px; height:35px;">
        {% include "project_sheet/project_list_pagination.html" %}
    </div>
      
      <div id="projects_list">
	{% for project_translation in project_translation_list %}
	  
	  <!-- Affichage à choisir en fonction du type d'affichage désiré ! -->
	  <!-- PROJECT VIEW : mosaique 6 projets par ligne : pas de descriptif, juste la carte d'ID -->
	  <div class="colonne grid_6">
	    {% include "project_sheet/project_complete_card.html" %}			
	  </div>
	  
	  <!-- LIST VIEW : mosaique 3 projets par ligne : descriptif et baseline -->
	  <!--
	      <div class="colonne grid_3">
	      {% include "project_sheet/project_id_card.html" %}			
	      </div>
	  -->
	  
	{% endfor %}
      </div>
      
      <div class="clear"></div>

      

    {% include "project_sheet/project_list_pagination.html" %}
      
      
      

    </div>
  </div>



  <div class="categories categories_project_page">        
    <div class="container_18">
      <div class="grid_18 alpha omega">

        <div class="menu">
          
            <ul>
                <li><div id="filters" class="categ-button first selected"><a href="#">{% trans "Filters" %}</a></div></li>
                <li><div class="categ-button hidden"><a href="{% url feedback-list %}">{% trans "Help" %}</a></div></li>
                <li><div class="categ-button2"><a href="#"><span class="georgia">My</span> imagination for people</a></div></li>
            </ul>
          
            <a href="{% url project_sheet-list %}" id="reset_filters">{% trans "reset filtering"|capfirst %}</a>

            {% block search %} {% include "search.html" %} {% endblock %}
              
              
            <div class="toolbox">
                <div class="tools-title georgia">Project view</div>
                <div class="tools">
                    <a href="#"><img src="{{ STATIC_URL }}images/nav/tool1-selected.png" /></a>
                    <a href="#"><img src="{{ STATIC_URL }}images/nav/tool2.png" /></a>
                    <a href="#"><img src="{{ STATIC_URL }}images/nav/tool3.png" /></a>
                    <a href="#"><img src="{{ STATIC_URL }}images/nav/tool4.png" /></a>
                </div>
            </div>
              
        </div>
        
        <div class="clear"></div>
        
        
        <!-- Filters -->
        <div id="projects_filters"> 
        
	  <form id="filter_form" action="{% url project_sheet-list %}?{{getparams_submit}}" method="get">
             
                <div class="grid_6 alpha">
                    <div class="filtersbox_content">
                        <h4>{% trans "Themes" %}</h4>
                        <!-- <a class="invert">{% trans "invert" %}</a> -->
                        <ul id="cloudtag_list">
                            {% for tag in project_sheet_tags|slice:":35" %}
                                <li><a class="tag_link {%if tag.id in selected_tags%}selected{% endif %}" title="{% blocktrans with count=tag.count %}{{ count }} project sheets{% endblocktrans %}" href="javascript:;" id="tag_{{tag.id}}">{{ tag|capfirst }}</a></li>
                            {% endfor %}                    
                        </ul>
                        {{themes_filter.themes.as_hidden}}
                        
                    </div>
                </div>
                
                <div class="grid_4 filters_box">
                    <div class="filtersbox_content">
                        <h4>{% trans "Location" %}</h4>
                         <!-- <a class="invert">{% trans "invert" %}</a> -->
                        {{location_filter.country}}

                    </div>
                </div>
                
                <div class="grid_8 omega">
                    <div class="grid_8 omega filters_box">
                        <div class="filtersbox_content">
                        
                            <h4>{% trans "Sheet status" %}</h4>
                            <div class="grid_2 alpha omega pictos-categ">
                                <div class="filters-picto">
                                    <ul>
                                        <li id="bestof" title="{% trans 'Best-of' %}" >{{best_of_filter.best_of}}</li>
<!--                                         <li id="popular" title="{% trans 'Popular project' %}"><input type="checkbox" class="styled hidden" checked="checked" name="1"></li> -->
                                    </ul>
                                </div>
                                <p>{% trans "quality" %}</p>
                            </div>
                            <div class="grid_2 alpha omega pictos-categ">
                            
                                <div class="filters-picto">
                                    {{progress_filter.progress}}
                                </div>                            
                                <p>{% trans "progression" %}</p>
                                
                            </div>
                            <div class="grid_2 alpha omega pictos-categ">
                            
                                <div class="filters-picto">
                                    <ul>
                                        <li id="team" title="{% trans 'Associated team' %}" >{{members_filter.with_members}}</li>
                                        <li id="nobody" title="{% trans 'Orphan project' %}">{{members_filter.without_members}}</li>
                                    </ul>
                                </div>                            
                                <p>{% trans "team" %}</p>
                                
                            </div>
                            
                        </div>
                    </div> 

                    <div class="grid_8 omega filters_box">
                        <div class="filtersbox_content">
                        
                            <h4>{% trans "Project status" %}</h4>
                            <div class="filters-progress">
                                {{status_filter.status}}
                            </div>                            
                          
                           
                        </div>
                    </div>                    
                </div>         
            
	  </form>
        </div>
        
        <div class="clear"></div>
	    
	  </div>
	</div>
  </div>


<div class="clear"></div>
  
  
{% endblock %}

 {% block footer %} {% include "footer.html" %} <br /><br /><br />{% endblock %}
