{% extends "project_sheet/project_base.html" %}
{% load i18n %}

{% block meta_desc %}{{ project_translation.about_section }}{% endblock %}
{% block title %}{{ project_translation.title|capfirst }} | Imagination for People{% endblock %}

{% block project_content %}

  <h2>{% blocktrans with project_translation.title as project_title %}Edit related infos of &laquo;&nbsp;{{ project_title }}&nbsp;&raquo;{% endblocktrans %}</h2>

  <form method="POST">
    {% csrf_token %}

    {{ project_sheet_objectives_form.as_p }}
    {{ project_sheet_themes_form.as_p }}
    
    <button type="submit">{% trans "Update" %}</button>
  </form>

{% endblock %}