{% load i18n i4p_tags %}

<!-- REFERENCES - Viewable version -->
{% if project_translation%}
<div id="project_refs">
    <div class="title">
        {% trans 'References'|capfirst %} <a id="edit_references_button" title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-instance-edit-references project_translation.slug %}" class="button right"> <img src="{{ MEDIA_URL }}/images/base/edit.png" alt="edit" /> </a>
    </div>

    <div class="clear"></div>

    <ul id="reference_list">
        {% for ref in project_translation.project.references.all %}
        <li class="ref">{{ ref.desc|urlize|url_target_blank }}</li> 
        {% empty %}
        <li class="ref">{% trans 'no references'|capfirst %}</li> 
        {% endfor %}
    </ul>

    <form id="reference_form" action="{% url project_sheet-instance-edit-references project_translation.slug %}" method="post">
        <input type="hidden" name="next" value="{{project_translation.get_absolute_url}}#project_refs">
        {% csrf_token %} {{ reference_formset.management_form }}
        <ul class="project_refs">
            {% if reference_form %}
            <li class="ref new_ref">
                <p>
                    {{reference_form.desc}} 
                    <input type="image" alt="Ok" title="Add this reference" src="{{ MEDIA_URL }}/images/base/v.png" class="button greenbutton nomargin right" title="Ok">
                </p>
                {{reference_form.desc.help_text}} 
            </li> 
            {% endif %} 
            {% for ref_form in reference_formset.forms %}
            <li class="ref">
                <p>{{ ref_form.id }}{{ ref_form.desc }}{{ ref_form.DELETE }}</p>
            </li> 
            {% endfor %}
        </ul>
        <a id="cancel_ref_edit" class="grey_column_close" href="{% url project_sheet-show project_translation.slug %}">{% trans 'Cancel & close'%}</a>
        <input type="image" alt="{% trans 'Save & close'%}" class="grey_column_save_close right" title="{% trans 'Save & close'%}">
    </form>
</div>
{% endif %}
