{% load i18n %}

{% if scalability_section_form %}
	<!-- PARAGRAPH - edition mode -->
	<div id="scalability_section" class="project_details_title_edit">
		<h2>{% trans 'how scalable can the experience be'|capfirst %}?</h2>
	</div>
		{% if project_instance %}
			<form class="project_details_body_edit" action="{% url project_sheet-instance-edit-field project_instance.slug 'scalability_section' %}" method="post">{% csrf_token %}
		{% else %}
			<form class="project_details_body_edit" action="{% url project_sheet-edit-field 'scalability_section' %}" method="post">{% csrf_token %}
		{% endif %}
			{{ scalability_section_form.scalability_section }}
			<input  title="{% trans 'Ok'|capfirst %}" class="greenbutton nomargin" type="image" src="{{ STATIC_URL }}images/base/v.png" alt="Ok" />		
			<input  title="{% trans 'Cancel'|capfirst %}" class="redbutton nomargin" type="image" src="{{ STATIC_URL }}images/base/x.png" alt="X"/>	
	</form>
{% else %}
	{% if project_translation %}
		<div id="scalability_section" class="project_details_title_edit">
			<h2>{% trans 'how scalable can the experience be'|capfirst %}?</h2>
			<a href="{% url project_sheet-instance-edit-field project_translation.slug 'scalability_section' %}" class="button editing-button"><img src="{{ STATIC_URL }}images/base/edit.png" /></a>
		</div>
		{% if project_translation.scalability_section %}
			<!-- PARAGRAPH - filled -->
			<p class="project_details_body">{{project_translation.scalability_section|linebreaksbr }}</p>
		{% else %}
			<p class="project_details_body empty">{% trans "This bloc is empty : don’t forget to fill it ! A good project is a complete project !"|capfirst %}</p>
		{% endif %}	
	{% else %}
		<!-- PARAGRAPH - empty -->
		<div id="scalability_section" class="project_details_title_edit">
			<h2>{% trans 'how scalable can the experience be'|capfirst %}?</h2>
			<a  title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-edit-field 'scalability_section' %}" class="button editing-button"><img src="{{ STATIC_URL }}images/base/edit.png" /></a>
		</div>
		<p class="project_details_body empty"></p>
	{% endif %}
{% endif %}