{% load i18n %}
<div id="opened-sidebar-team" class="grey_column_open"> 
    <div class="grey_column_team_content">  
    
    {% if project_translation %}
    <div class="title">{% trans 'The team'|capfirst %}</div>

    <div class="clear"></div>
    <h3>{% trans 'Add a team member' %}</h3>
        <form action="{% url project_sheet-instance-add-member project_translation.slug %}" method="post">
          {% csrf_token %}
          {{ project_member_form.as_p }}

          <div class="clear"></div>
            
          <a id="grey_column_close" class="grey_column_close sidebar-close" href="javascript:;">{% trans 'Close & discard'%}</a>
          <input type="submit" alt="{% trans 'Save & close'%}" class="grey_column_save_close" id="grey_column_save_close" title="{% trans 'Save & close'%}" value="{% trans 'Save & close'%}" />
                        
        </form> 
    {% endif %}
    </div>                  

</div>  