{% load i18n %}
{% load tagging_tags %}
<div id="opened-sidebar" class="grey_column_open related_open">
    <div class="grey_column_content">   
    
        <div class="title">{% trans 'related'|capfirst %}</div>
        
        <form id="themes-form" method="POST" action={% url project_sheet-project_update_related project_translation.slug %}>{%csrf_token%}
            <input type="hidden" name="language_code" value="{{ LANGUAGE_CODE }}" />
            <div class="grey_column_content_edition">
    
                <div class="grey_column_objective_edition">                     
                <p>
                    <label class="objectives_label">{% trans 'Objectives:'|capfirst %}</label> 
                    {{ project_objectives_form.objectives }}
                </p>                   
                </div>    
    
                <div class="grey_column_cloudtag_edition">
    
                    <div id="grey_column_cloudtag_edition_title">
                        <label>{% trans 'Themes:'|capfirst %}</label><span class="precision">({% trans 'select your tags from the cloud below' %})</span>
                    </div>
    
                    <ul id="themes_list">
                        {% tags_for_model project_sheet.I4pProjectTranslation as project_sheet_tags with counts %}
    
                        {% for tag in project_sheet_tags|dictsortreversed:"count"|slice:":35" %}
                        <li value="{{ tag.count }}"><a href="javascript:;">{{ tag }}</a></li>
                        {% endfor %}
                    </ul>
    
                    <ul id="themes_tags"></ul>
    
                </div>
                
                <div class="clear"></div>
    
                <a id="sidebar_related_close" class="grey_column_close sidebar-close" href="javascript:;">{% trans 'Close &amp; discard'%}</a>
                <input id="sidebar_team_submit" type="submit" alt="{% trans 'Save & close'%}" class="grey_column_save_close" title="{% trans 'Save & close'%}" value="{% trans 'Save & close'%}" />
            </div>
        
        </form>
    </div>
</div>
