{% extends "base.html" %}

{% load compress %}
{% load wiki_tags %}

{% block style %}
  {% compress css %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/white_page.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_card.css" />
  {% endcompress %}

{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="container_18" style="height: 800px">
  <div class="grid_12 alpha omega">
  <h1>Projects tagged with "{{ tag }}"</h1>

  <p>
    {% wiki_render article %} 
    <a href="{% url wiki:edit_url article_path %}">[edit]</a>

  </p>

  </div>

  <div class="clear"></div>

  <br/>
  <p>
  <strong>Related tags</strong>
  {% for tag in related_tags %}
  <a href="{% url project_sheet-tag-page tag %}">{{ tag.name }}</a>({{ tag.count }})
  {% endfor %}
  </p>

  <hr>

  <h2>Random projects</h2>
  {% for project_translation in project_translations %}
  {% include "project_sheet/project_id_card.html" %}
  {% endfor %}
  <br/>
  [<a href="#">See more</a>]
</div>
{% endblock %}
