{% load i18n %}
{% if uniqueness_section_form %}
	<!-- PARAGRAPH - edition mode -->
	<div id="uniqueness_section" class="project_details_title_edit">
		<h2>{% trans "in what ways is this project unique and creative"|capfirst %}?</h2>
	</div>
		{% if project_instance %}
			<form class="project_details_body_edit" action="{% url project_sheet-instance-edit-field project_instance.slug 'uniqueness_section' %}" method="post">{% csrf_token %}
		{% else %}
			<form class="project_details_body_edit" action="{% url project_sheet-edit-field 'uniqueness_section' %}" method="post">{% csrf_token %}
		{% endif %}
			{{uniqueness_section_form.uniqueness_section}}
			<input  title="{% trans 'Ok'|capfirst %}" class="greenbutton nomargin" type="image" src="{{ STATIC_URL }}images/base/v.png" alt="Ok" />	
			<input  title="{% trans 'Cancel'|capfirst %}" class="redbutton nomargin" type="image" src="{{ STATIC_URL }}images/base/x.png" alt="X" />
	</form>
{% else %}
	{% if project_translation %}
		<div id="uniqueness_section" class="project_details_title_edit">
			<h2>{% trans "in what ways is this project unique and creative"|capfirst %}?</h2>
			<a href="{% url project_sheet-instance-edit-field project_translation.slug 'uniqueness_section' %}" class="button editing-button"><img src="{{ STATIC_URL }}images/base/edit.png" /></a>
		</div>
		{% if project_translation.uniqueness_section %}
			<!-- PARAGRAPH - filled -->
			<p id="project_uniqueness_txt" class="project_details_body">{{ project_translation.uniqueness_section|linebreaksbr }}</p>
		{% else %}
			<p id="project_uniqueness_txt" class="project_details_body empty">{% trans "This field is blank. Don’t forget to complete it!"|capfirst %}</p>
		{% endif %}
	{% else %}
		<!-- PARAGRAPH - empty -->
		<div id="uniqueness_section" class="project_details_title_edit">
			<h2>{% trans "in what ways is this project unique and creative"|capfirst %}?</h2>
			<a  title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-edit-field 'uniqueness_section' %}" class="button editing-button"><img src="{{ STATIC_URL }}images/base/edit.png" /></a>
		</div>
		<p id="project_uniqueness_txt" class="project_details_body empty"></p>
	{% endif %}
{% endif %}
