{% load i18n %}

{% if value_section_form %}
	<!-- PARAGRAPH - edition mode -->
	<div id="value_section" class="project_details_title_edit">
		<h2>{% trans 'What is the social value of this project'|capfirst %}?</h2>
	</div>
		{% if project_instance %}
				<form class="project_details_body_edit" action="{% url project_sheet-instance-edit-field project_instance.slug 'value_section' %}" method="post">{% csrf_token %}
		{% else %}
				<form class="project_details_body_edit" action="{% url project_sheet-edit-field 'value_section' %}" method="post">{% csrf_token %}
		{% endif %}
			{{ value_section_form.value_section }}
			<input  title="{% trans 'Ok'|capfirst %}" class="greenbutton nomargin" type="image" src="{{ STATIC_URL }}images/base/v.png" alt="Ok" />
			<input  title="{% trans 'Cancel'|capfirst %}" class="redbutton nomargin" type="image" src="{{ STATIC_URL }}images/base/x.png" alt="X" />
	</form>
{% else %}
	{% if project_translation %}
		<div id="value_section" class="project_details_title_edit">
			<h2>{% trans 'What is the social value of this project'|capfirst %}?</h2>
			<a href="{% url project_sheet-instance-edit-field project_translation.slug 'value_section' %}" class="button editing-button"><img src="{{ STATIC_URL }}images/base/edit.png" /></a>
		</div>
		{% if project_translation.value_section %}
			<!-- PARAGRAPH - filled -->
			<p id="project_value_txt" class="project_details_body">{{ project_translation.value_section|linebreaksbr }}</p>
		{% else %}
			<p id="project_value_txt" class="project_details_body empty">{% trans "This field is blank. Don’t forget to complete it!"|capfirst %}</p>
		{% endif %}
	{% else %}
		<!-- PARAGRAPH - empty -->
		<div id="value_section" class="project_details_title_edit">
			<h2>{% trans 'What is the social value of this project'|capfirst %}?</h2>
			<a title="{% trans 'Edit'|capfirst %}" href="{% url project_sheet-edit-field 'value_section' %}" class="button editing-button"><img src="{{ STATIC_URL }}images/base/edit.png" /></a>
		</div>
		<p id="project_value_txt" class="project_details_body empty"></p>
	{% endif %}
{% endif %}
