{% import "macros.html" as macros %}
<script type='text/javascript' src='{{"/js/jquery.typewatch.js"|static_url}}'></script>
<script type='text/javascript' src='{{"/js/editor.js"|static_url}}'></script>
{% if mandatory_tags %}
    {% include "meta/mandatory_tags_js.html" %}
{% endif %}

<script type='text/javascript'>
    {% if settings.ENABLE_MATHJAX or settings.MARKUP_CODE_FRIENDLY %}
    var codeFriendlyMarkdown = true;
    {% else %}
    var codeFriendlyMarkdown = false;
    {% endif %}
</script>

<script type='text/javascript' src='{{"/js/wmd/showdown.js"|static_url}}'></script>
<script type='text/javascript' src='{{"/js/wmd/wmd.js"|static_url}}'></script>

<script type='text/javascript' src='{{"/js/post.js"|static_url}}'></script>

<script type='text/javascript'>
    var sortMethod = undefined;//need for live_search
    var minSearchWordLength = {{settings.MIN_SEARCH_WORD_LENGTH}};
</script>
<script type='text/javascript' src='{{"/js/live_search_new_thread.js"|static_url}}'></script>

<script type="text/javascript">
    {# data necessary for the post editor, goes into endjs block #}
    askbot['settings']['tagsAreRequired'] = {% if settings.TAGS_ARE_REQUIRED %}true{% else %}false{% endif %};
    askbot['settings']['maxTagLength'] = {{settings.MAX_TAG_LENGTH}};
    askbot['messages']['maxTagLength'] = "{% trans max_chars = settings.MAX_TAG_LENGTH %}each tag must be shorter that {{max_chars}} character{% pluralize %}each tag must be shorter than {{max_chars}} characters{% endtrans %}";
    askbot['settings']['maxTagsPerPost'] = {{settings.MAX_TAGS_PER_POST}};
    askbot['messages']['maxTagsPerPost'] = "{% trans tag_count = settings.MAX_TAGS_PER_POST %}please use {{tag_count}} tag{% pluralize %}please use {{tag_count}} tags or less{% endtrans %}";
    askbot['messages']['tagLimits'] = "{% trans tag_count=settings.MAX_TAGS_PER_POST, max_chars=settings.MAX_TAG_LENGTH %}please use up to {{tag_count}} tags, less than {{max_chars}} characters each{% endtrans %}";
    askbot['settings']['minTitleLength'] = {{settings.MIN_TITLE_LENGTH}}
    askbot['settings']['minQuestionBodyLength'] = {{settings.MIN_QUESTION_BODY_LENGTH}}
    askbot['settings']['minAnswerBodyLength'] = {{settings.MIN_ANSWER_BODY_LENGTH}}
    
    $(document).ready(function(){
    	
    	$("#nav_questions").attr('className',"on");
    	$('#editor').TextAreaResizer();
    	
        //highlight code synctax when editor has new text
        $("#editor").typeWatch({highlight: false, 
                                wait: 3000,
                                captureLength: 5, 
                                callback: lanai.highlightSyntax});
        
        //toggle preview of editor
        var display = true;
        var txt = "[{% trans %}hide preview{% endtrans %}]";
        $('#pre-collapse').text(txt);
        $('#pre-collapse').bind('click', function(){
            txt = display ? "[{% trans %}show preview{% endtrans %}]" : "[{% trans %}hide preview{% endtrans %}]";
            display = !display;
            $('#previewer').toggle();
            $('#pre-collapse').text(txt);
        });
        
        {{ macros.tag_autocomplete_js(id = '#id_tags') }}
        
        setupFormValidation(
        		$("#editor").parents("form"),
                CPValidator.getAnswerFormRules(),
                CPValidator.getAnswerFormMessages()
            );
        
        $('#id_revision').unbind().change(function(){
            $("#select_revision").click();
        });
        
        lanai.highlightSyntax();
        
        liveSearchNewThreadInit();
    	
    });
</script>


