<style type="text/css">
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: url('{{"/fonts/YanoneKaffeesatz-Regular.ttf"|static_url}}');
}
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    src: url('{{"/fonts/YanoneKaffeesatz-Bold.ttf"|static_url}}');
}
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300;
    src: url('{{"/fonts/YanoneKaffeesatz-Light.ttf"|static_url}}');
}
</style>
