{% extends "pages/base.html" %}
{% load i18n cms_tags sekizai_tags %}
{% load cache feeds %}

{% block extra_head %}
    {% addtoblock "js" %}
        <script type="text/javascript">
            jQuery(document).ready(function($){
                
                $(".details").hide();
                $(".details").first().show();
                
                $("ul#jobs li a").mouseenter(function(){
                    var panelID=$(this).attr("id").replace(/-button$/, '');
                    $("#"+panelID).show()
                    $(".details").hide();
                    $("#"+panelID).show();
                });
            });
            
        </script>
    {% endaddtoblock %}
{% endblock %}	

{% block content %}  


    <!-- TAGLINE -->

    <div id="tagline">
        <img src="{{ STATIC_URL }}images/pages/contrib/tagline.jpg" width="974px" height="114px" alt="Une communauté dédiée à l'imagination citoyenne" />
        <span id="tagline1">{% trans "A community dedicated to" %}</span>
        <span id="tagline2">{% trans "citizen imagination" %}</span>
    </div>
    <br />
    <h2>{% placeholder "baseline" %}</h2>
    
    
    <!-- JOBS BIG BLOCK-->
    
    <div id="jobs_block">
        <!-- Jobs picto -->
        <ul id="jobs">
                <li><a id="trad-button" href="#"><img src="{{ STATIC_URL }}images/pages/contrib/job-trad.jpg" width="159px" height="126px" alt="{% trans "Translator" %}" /><span>{% trans "Translator" %}</span></a></li>
                <div class="separatorv"></div>
                <li><a id="dev-button" href="#"><img src="{{ STATIC_URL }}images/pages/contrib/job-dev.jpg" width="159px" height="126px" alt="{% trans "Developer" %}" /><span>{% trans "Developer" %}</span></a></li>
                <div class="separatorv"></div>
                <li><a id="graph-button" href="#"><img src="{{ STATIC_URL }}images/pages/contrib/job-graph.jpg" width="159px" height="126px" alt="{% trans "Designer" %}" /><span>{% trans "Designer" %}</span></a></li>
                <div class="separatorv"></div>
                <li><a id="redac-button" href="#"><img src="{{ STATIC_URL }}images/pages/contrib/job-redac.jpg" width="159px" height="126px" alt="{% trans "Writer" %}" /><span>{% trans "Writer" %}</span></a></li>
                <div class="separatorv"></div>
                <li><a id="ess-button" href="#"><img src="{{ STATIC_URL }}images/pages/contrib/job-ess.jpg" width="159px" height="126px" alt="{% trans "Seeder" %}" /><span>{% trans "Seeder" %}</span></a></li>
                <div class="separatorv"></div>
                <li><a id="rapp-button" href="#"><img src="{{ STATIC_URL }}images/pages/contrib/job-rap.jpg" width="159px" height="126px" alt="{% trans "Q&A" %}" /><span>{% trans "Q&A" %}</span></a></li>
        </ul>  
        
        <div class="clear"></div>
        
        <!-- Jobs details -->
        <div class="details-block">                    
            <div class="details" id="trad">
                <img src="{{ STATIC_URL }}images/pages/contrib/illus-trad.png" width="387px" height="167px" />
                <div>{% placeholder "desc-trad" %}</div>
            </div>
            
            <div class="details" id="dev">
                <img src="{{ STATIC_URL }}images/pages/contrib/illus-dev.png" width="387px" height="167px" />
                <div>{% placeholder "desc-dev" %}</div>
                <a href="https://github.com/ImaginationForPeople/imaginationforpeople">{% trans "Get the code" %}</a>
            </div>
            
            <div class="details" id="graph">
                <img src="{{ STATIC_URL }}images/pages/contrib/illus-graph.png" width="387px" height="167px" />
                <div>{% placeholder "desc-graph" %}</div>
                <a href="#">{% trans "Get the code" %}</a>
            </div>
            
            <div class="details" id="redac">
                <img src="{{ STATIC_URL }}images/pages/contrib/illus-redac.png" width="387px" height="167px" />
                <div>{% placeholder "desc-writer" %}</div>
                <a href="#">{% trans "Get the code" %}</a>
            </div>
            
            <div class="details" id="ess">
                <img src="{{ STATIC_URL }}images/pages/contrib/illus-ess.png" width="387px" height="167px" />
                <div>{% placeholder "desc-ess" %}</div>
                <a href="#">{% trans "Get the code" %}</a>
            </div>
            
            <div class="details" id="rapp">
                <img src="{{ STATIC_URL }}images/pages/contrib/illus-rapp.png" width="387px" height="167px" />
                <div>{% placeholder "desc-rapp" %}</div>
                <a href="#">{% trans "Get the code" %}</a>
            </div>                    
        </div>
        
        <div class="clear"></div>
    </div>
    <img class="stain_center" src="{{ STATIC_URL }}images/pages/contrib/tache-centre.jpg" width="974px" height="30px" alt="{% trans "Une communauté dédiée à l'imagination citoyenne" %}" />
    
    <br /><br />
    
    
    <!-- 3 NEWS COLUMNS -->
    
    <div class="col col1">
        <h1>{% trans "Latest activities" %}
	<a href="https://dev.imaginationforpeople.org/redmine/projects/i4p-app/activity?show_issues=1">
	  <img src="{{ STATIC_URL }}images/pages/contrib/arrow-ico.jpg" width="20px" height="21x" style="float:right;" />
	</a>
	</h1>

	{% cache 600 contrib_latest_activities %}
	{% include_feed "https://dev.imaginationforpeople.org/redmine/projects/i4p-app/activity.atom?show_issues=1" 8 pages/feed_includes/latest_activities.html %}
	{% endcache %}
    </div>
    
    <div class="col col2">
    
        <h1>{% trans "Join the community" %}</h1>
        <ul class="community">
            <li>
                <span>{% trans "Join us on IRC:" %}</span>
                <p><a href="http://webchat.freenode.net/?channels=imaginationforpeople" target="_blank">#imaginationforpeople@irc.freenode.net</a></p>
            </li>
            <li>
                <span>{% trans "or subscribe to the mailing list:" %}</span>
                <p><a href="http://lists.imaginationforpeople.org/cgi-bin/mailman/listinfo/community" target="_blank">community@lists.imaginationforpeople.org</a></p>
		[<a href="http://lists.imaginationforpeople.org/pipermail/dev/">{% trans "Archives" %}</a>]
            </li>
        </ul>
        
        <h1>{% trans "Latest commits" %}
	  <a href="https://dev.imaginationforpeople.org/redmine/projects/i4p-app/activity?show_changesets=1">
	    <img src="{{ STATIC_URL }}images/pages/contrib/arrow-ico.jpg" width="20px" height="21x" style="float:right;" />
	  </a>
	</h1>

	{% cache 600 contrib_latest_commits %}
	{% include_feed "https://dev.imaginationforpeople.org/redmine/projects/i4p-app/activity.atom?show_commits=1" 5 pages/feed_includes/latest_commits.html %}
	{% endcache %}
    
    </div>
    
    <div class="col col3">
        <h1>{% trans "Blog / News" %}
          <a href="http://imaginationforpeople.org/blog/?feed=rss2">
	    <img src="{{ STATIC_URL }}images/pages/contrib/rss.jpg" width="20px" height="21x" alt="RSS" style="float:right;" />
	  </a>
	</h1>

	{% cache 600 contrib_news %}
	{% include_feed "http://imaginationforpeople.org/blog/?feed=rss2" 3 pages/feed_includes/news.html %}
	{% endcache %}

    </div>
    
    <div class="clear"></div>
    <br /><br /><br />
    
    
{% endblock %}
