{% extends "cms_base.html" %}

{% load i18n cms_tags sekizai_tags %}
{% load compress %}

{% block style %}
{% endblock %}

{% block content %}
    {% addtoblock "css" strip%}
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/black_page.css" />
    {% endaddtoblock %}
    {% addtoblock "css" strip%}
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/i4p_base/pages/flatpage.css" />
    {% endaddtoblock %}
    {% addtoblock "css" strip%}
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/no-nav.css" />
    {% endaddtoblock %}
    
    {% if user.is_authenticated %}
        {% cms_toolbar %}
    {% endif %}
    
    <div class="content">        
        <div class="container">
            <div class="block-content">
                {% placeholder "content" or %}
                {% trans "There is no content yet. Switch to edit mode and add a widget." %}
                {% endplaceholder %}
            </div>
        </div>
    </div>
{% endblock %}