{% load i18n %}
{% load cms_tags %}
{% load menu_tags %}

<div id="footer">
    <div class="centrer">
    
        <img id="logo" src="{{ STATIC_URL }}images/pages/contrib/footer-logo.jpg" width="225px" height="81px" alt="Imagination for People - Contrib" />

        <div id="links">
            <div class="separatorv"></div>
            <ul >
                <h1>{% trans "Network" %}</h1>
		<li><a href="https://dev.imaginationforpeople.org/redmine/">Redmine</a></li>
		<li><a href="https://github.com/ImaginationForPeople/imaginationforpeople/">GitHub</a></li>
                <li><a href="/blog/?lang={{ LANGUAGE_CODE }}">Blog</a></li>
            </ul>
            <div class="separatorv"></div>
            <ul>
                <h1>{% trans "About" %}</h1>
                {% show_menu_below_id "info" %}
            </ul>
            <div class="separatorv"></div>
            <ul>
                <h1>{% trans "Get Involved" %}</h1>
                <li><a href="/wiki/translate">{% trans "Translator" %}</a></li>
                <li><a href="/wiki/dev">{% trans "Developer" %}</a></li>
                <li><a href="/wiki/design">{% trans "Designer" %}</a></li>
                <li><a href="/wiki/write">{% trans "Writer" %}</a></li>
                <li><a href="/wiki/animate">{% trans "Animator" %}</a></li>
                <li><a href="/wiki/imagine">{% trans "Imaginer" %}</a></li>
             </ul>
        </div>
    </div>
    <div id="stain-top"></div>
</div>
