{% load i18n %}

<div id="footer">
    <div class="centrer">
    
        <img id="logo" src="{{ STATIC_URL }}images/pages/contrib/footer-logo.jpg" width="225px" height="81px" alt="Imagination for People - Contrib" />

        <div id="links">
            <div class="separatorv"></div>
            <ul >
                <h1>{% trans "Nebuleuse" %}</h1>
                <li><a href="#">Les plus</a></li>
                <li><a href="#">Les plus</a></li>
                <li><a href="#">Les plus</a></li>
            </ul>
            <div class="separatorv"></div>
            <ul>
                <h1>{% trans "About" %}</h1>
                <li><a href="#">Les plus</a></li>
                <li><a href="#">Les plus</a></li>
                <li><a href="#">Les plus</a></li>
            </ul>
            <div class="separatorv"></div>
            <ul>
                <h1>{% trans "Participate" %}</h1>
                <li><a href="#">Les plus</a></li>
                <li><a href="#">Les plus</a></li>
                <li><a href="#">Les plus</a></li>
                <li><a href="#">Les plus</a></li>
                <li><a href="#">Les plus</a></li>
            </ul>
        </div>
    </div>   
    <div id="stain-top"></div>                
</div>    
