<div id="header">
    <div class="centrer">
        <a href="/">
            <img id="logo" src="{{ STATIC_URL }}images/pages/contrib/logo.png" width="194px" height="63px" alt="Imagination for People - Contrib" />
        </a>
        
        <ul id="menu">
            <li><a href="#">Prestations / tarifs</a></li>
            <li><a href="#">Promotions</a></li>
            <li><a href="#">Les plus</a></li>
            <li><a href="#">A propos de moi</a></li>
            <li><a href="#">Contact</a></li>
        </ul>                    
    </div>
    
    <div id="stain-top"></div>
</div>
