{% extends "cms_base.html" %}
{% load i18n %}
{% load compress %}
{% load cms_tags %}  
{% load menu_tags %}
{% load i4p_tags %}
{% load sekizai_tags %}

{% comment %}

{% load i18n %}
{% load compress %}
{% load cms_tags %}  
{% load sekizai_tags %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imagination For People | Welcome</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/i4p_base/pages/homepage_bubbles/foundation.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/i4p_base/pages/homepage_bubbles/main.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
    <script src="{{ STATIC_URL }}js/i4p_base/pages/homepage_bubbles/vendor/modernizr.js"></script>
  </head>
  <body>

{% endcomment %}


{% block style %}
    {% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/i4p_base/pages/homepage.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/i4p_base/pages/block/homepage-zinnia.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/i4p_base/pages/block/project_slide.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/anythingslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/i4p_base/pages/homepage_bubbles/foundation.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/i4p_base/pages/homepage_bubbles/main.css" />
    {% endcompress %}
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
{% endblock %}


{% block extra_head %}
  {{ block.super }}
  {% addtoblock "js" strip %}
      <script src="{{ STATIC_URL }}js/i4p_base/pages/homepage_bubbles/vendor/modernizr.js"></script>
  {% endaddtoblock %}

    {% addtoblock "js" strip %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/hoverIntent.js"></script>
    {% endaddtoblock %}
    {% addtoblock "js" strip %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ezmark.js"></script>
    {% endaddtoblock %}
    {% addtoblock "js" strip %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.anythingslider.js" ></script>
    {% endaddtoblock %}
    {% addtoblock "js" strip %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/homepage/boxes.js" ></script>
    {% endaddtoblock %}
    {% addtoblock "js" strip %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/homepage/slider.js" ></script>
    {% endaddtoblock %}
    {% addtoblock "js" strip %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/compass_twitter_bootstrap/bootstrap-modal.js" ></script>
    {% endaddtoblock %}
{% endblock %}


{% block header %}
{% endblock %}


{% block feedback %}
{% endblock %}


{% block content %}
        
<!--[if lt IE 9]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
  
    <div class="show-for-medium-up">
        <div class="hello-bar">
            <div class="row">
                <div class="table">
                    <div data-type="background">
                        <div class="column small-2 medium-1 text-center" style="padding: 0; margin-left: 30px; width: 30px;">
                            <span class="picto-info">
                                <img src="{{ STATIC_URL }}images/i4p_base/pages/homepage_bubbles/ui/picto-info.png" alt="Information" />
                            </span>
                        </div>
                        <div class="column small-8 medium-10 text-center">
                            <div class="text">
                                {% placeholder "Top alert" or %}
                                Bienvenue sur notre nouvelle page d'accueil ! Pour retrouver la plateforme des projets et des groupes, <a href="#">cliquez ici</a>.
                                {% endplaceholder %}
                            </div>
                        </div>
                        <div class="column small-2 medium-1">
                            <span class="picto-close right">
                                <img src="{{ STATIC_URL }}images/i4p_base/pages/homepage_bubbles/ui/picto-close.png" alt="Information" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
<header id="header">
  <div id="main-nav-wr" class="contain-to-grid fixed">
    <nav class="top-bar row" data-topbar>
        <ul class="title-area column small-4 medium-2" style="position: absolute; z-index: 1;"> 
            <li class="name"> 
                <h1><a href="{{ request.path }}"><img src="{{ STATIC_URL }}images/i4p_base/pages/homepage_bubbles/ui/logo.png" alt="Imagination For People" /></a></h1>
            </li>
        </ul> 

        <section class="top-bar-section small-6 column" style="position: absolute; width: 100%; text-align: center; padding: 0 190px;"> <!-- Right Nav Section --> 
            <span id="menu-sentence" class="show-for-medium-up">
              {% placeholder "Menu sentence" or %}
              Partager les <a href="#idees" class="scrollTo">Idées</a> et les <a href="#projets" class="scrollTo">Projets</a> de demain
              {% endplaceholder %}
            </span>
        </section>
            
            {% comment %} this is how it was in the static template
            <ul id="connexion-nav" class="right button-group radius">
                <li><a href="#">Connexion</a></li>
                <li class="has-dropdown not-click">
                    <a href="#">FR</a>
                    <ul class="dropdown">
                        <li><a href="#">EN</a></li>
                    </ul>
                </li>
            </ul>
            {% endcomment %}

        <section class="top-bar-section small-6 column" style="float: right;"> <!-- Right Nav Section --> 
            <ul id="connexion-nav" class="right button-group radius" style="float: right;">
                <li><a href="{% url userena_signin %}">{% trans 'Connexion' %}</a></li>
                <li class="has-dropdown not-click">
                    <a href="#">{{ LANGUAGE_CODE|upper}}</a>
                    <ul class="dropdown">
                      {% get_available_languages as languages %}
                      {% for lang_code, lang_name in languages %}
                        {% language lang_code %}
                          {% if current_page %}
                            <li><a href="{% page_language_url lang_code %}">{{ lang_name }}</a></li>
                          {% else %}
                            <li><a href="{{ request.path|chlocale:lang_code }}" title="{{ lang_name }}">{{ lang_name }}</a></li>
                          {% endif %}
                        {% endlanguage %}
                      {% endfor %}
                    </ul>
                </li>
            </ul>
            
            <div class="clearfix"></div>
            
        </section> 
        
    </nav>
  </div>

{% comment %}
  First image (woman)
{% endcomment %}
  
  <div id="intro" data-section="intro" data-section-name="{% placeholder "First image menu-item name" or %}Mission{% endplaceholder %}">
      {% comment %}
      <div data-type="background" data-0="background-position:0px 0px;" data-1000="background-position:0px -500px;">
      {% endcomment %}
      <div data-type="background" data-0="background-position:0px 0px;" data-1000="background-position:0px -430px;">
          <div class="row">
            <div class="column small-10 medium-8 text-center small-centered">
                 <div class="row">
                    {% placeholder "First image title" or %}
                        <h1>Partager l'intelligence pour concevoir les projets de demain</h1>
                    {% endplaceholder %}
                 </div>
     
                 <div class="row ruler">
                    <div class="column small-2 small-centered">
                        <hr>
                    </div>
                 </div>
     
                 <div class="row intro-text">
                    {% placeholder "First image content" or %}
                    Imagination for People aide les communautés engagées et les innovateurs sociaux à inventer les idées et réaliser les projets d’un monde plus collaboratif et responsable
                    {% endplaceholder %}
                 </div>
         
                 <div class="row video">
                    {% placeholder "First image button" or %}
                     <a href="http://www.youtube.com/v/ZeStnz5c2GI?fs=1&amp;autoplay=1" class="button fancybox video">Voir la vidéo</a>
                    {% endplaceholder %}
                 </div>
            </div>
          </div>
      </div>
    
  </div>
  
</header>

<div id="main-content-wr">
  
  <div id="idees" data-section="idees" data-section-name="{% placeholder "Second image menu-item name" or %}Idées{% endplaceholder %}">
      
     <div id="panel1" class="seperator projets large-12 row text-center intro">
          <span class="picto-wr">
              <span class="title">
                {% placeholder "First image transition text to second image" or %}
                Nos Applications
                {% endplaceholder %}
              </span>
              <span class="arrow" data-scroll="panel1"></span>
          </span>
          {% placeholder "Second image title" or %}
          <h3>Des <span>idées</span> issues de l’intelligence collective</h3>
          {% endplaceholder %}
          
          <span class="triangle show-for-medium-up"></span>
      </div>


{% comment %}
  Second image (blue bubbles in nature)
{% endcomment %}


          <!-- START PANEL -->
          <section id="panel-idees" class="panel" data-0="background-position:0px -350px;" data-1550="background-position:0px 200px;">
    
              <div class="row" style="padding-bottom: 0;" id="red">
                  <div class="column large-5 medium-5">
                    <div class="row tag-wr co-construire small-only-text-center" data-770="opacity:1; top: -0px;" data-570="opacity: 0; top: 30px;">
                        <div class="columns large-12">
                          {% placeholder "Second image left box title" or %}
                                <h4>Co-Construire une solution</h4>
                          {% endplaceholder %}
                        </div>
                        <div class="column large-10 medium-10 small-12 ">   
                          {% placeholder "Second image left box content" or %}
                            <p>La méthode et le logiciel <a href="#">Assembl</a> permettent de co-construire des connaissances nouvelles à plusieurs milliers de personnes.</p>
                            <a href="#" class="button">Découvrez Assembl</a>
                          {% endplaceholder %}
                        </div>
                        <span class="picto-wr show-for-medium-up">
                            <span class="picto">
                                <span></span>
                            </span>
                            <span class="branch"></span>
                        </span>
                    </div>
                  </div>
                  <div class="column large-5 medium-5">
                    <div class="row tag-wr communaute" data-770="opacity:1; top: -0px;" data-570="opacity: 0; top: 30px;">
            
                        <div class="column large-1 medium-2 show-for-medium-up">&nbsp;</div>
                        <div class="column large-11 medium-10 small-12 small-only-text-center right">
                          {% placeholder "Second image right box title and content" or %}
                            <h4>Animer des communautés d’intérêt</h4>
                            <p>Les espaces <a href="#">Groupes</a> permettent d’échanger des connaissances de manière structurée au sein d’une communauté d’intérêt.</p>
                            <a href="#" class="button">Découvrez les groupes</a>
                          {% endplaceholder %}
                        </div>
                        <span class="picto-wr show-for-medium-up">
                            <span class="picto">
                                <span></span>
                            </span>
                            <span class="branch"></span>
                        </span>
                    </div>
                  </div>
              </div>
              
              <div class="row single" data-770="opacity:1; top: -0px;" data-570="opacity: 0; top: 30px;">
                  <div class="column large-5 medium-5 small-centered">
                    <div class="row tag-wr acteurs text-center">
                        <div class="columns large-12">
                              {% placeholder "Second image bottom box title" or %}
                                <h4>Mettre en réseau les acteurs</h4>
                              {% endplaceholder %}
                        </div>
                        <div class="column small-12">
                          {% placeholder "Second image bottom box content" or %}
                            <p>Des échanges en ligne et des rencontres physiques pour faciliter les échanges entre tous et croiser les thématiques et les territoires.</p>
                            <a href="#" class="button">Découvrez les acteurs</a>
                          {% endplaceholder %}
                        </div>
                        <span class="picto-wr show-for-medium-up small-centered">
                            <span class="picto">
                                <span></span>
                            </span>
                            <span class="branch"></span>
                        </span>
                    </div>
                  </div>
                 
              </div>
   
              <div class="line show-for-medium-up" data-370="height:0%" data-700="height: 40%" data-1180="height: 93%"></div>

          </section>
          <!-- /END PANEL -->
 </div>


{% comment %}
  Third image (sunset big bubble)
{% endcomment %}
 

 
 <div id="projets" data-section="projets" data-section-name="{% placeholder "Third image menu-item name" or %}Projets{% endplaceholder %}">
     <div class="seperator projets orange large-12 row text-center">
          <span class="picto-wr">
              {% comment %} here the data-scroll does not work
              <span class="arrow" data-scroll="projets"></span>
              {% endcomment %}
              <span class="arrow"></span>
              <span class="picto"></span>
          </span>
          {% placeholder "Third image title" or %}
          <h3>Des <span>projets</span> concrets ayant du sens</h3>
          {% endplaceholder %}
          <span class="triangle show-for-medium-up"></span>
      </div>

      <!-- START PANEL -->
      <section id="panel-projets" data-1050="background-position:0px -150px;" data-1800="background-position:0px -0px;" class="panel orange last">
    
          <div class="row">
              <div class="column large-5 medium-5" id="fade-it">
                <div class="row tag-wr projets-sociaux" data-1700="opacity:1;" data-1500="opacity: 0;">
                    <div class="column large-11 medium-11 small-12 small-only-text-center">
                        {% placeholder "Third image left box title and content" or %}
                        <h4>Découvrir des projets sociaux</h4>
                        <p>Plus de <a href="#">2300 projets</a> en lien avec l’innovation sociale sont déjà référencés dans 75 pays. A votre tour de vous inspirer !</p>
                        <a href="#" class="button">Découvrez les projets</a>
                        {% endplaceholder %}
                    </div>
                    <span class="picto-wr show-for-medium-up">
                        <span class="picto">
                            <span></span>
                        </span>
                        <span class="branch"></span>
                    </span>
                </div>
              </div>
              <div class="column large-5 medium-5">
                <div class="row tag-wr affaires-sociales" data-1700="opacity:1;" data-1500="opacity: 0;">
                    <div class="column large-1 medium-2 show-for-medium-up">&nbsp;</div>
                    <div class="column large-11 medium-10 small-12 small-only-text-center right">
                      {% placeholder "Third image right box title and content" or %}
                        <h4>Définir un modèle d’affaires social</h4>
                        <p><a href="#">MySBM</a> aide les entrepreneurs sociaux à formuler la stratégie et le modèle économique de votre projet social.</p>
                        <a href="#" class="button">Découvrez MySBM</a>
                      {% endplaceholder %}
                    </div>
                    <span class="picto-wr show-for-medium-up">
                        <span class="picto">
                            <span></span>
                        </span>
                        <span class="branch"></span>
                    </span>
                </div>
              </div>
          </div>
   
          <div id="line" class="line show-for-medium-up" data-1350="height:0%" data-1550="height: 37%"></div>

      </section>

      <!-- /END PANEL -->
  </div>


{% comment %}
  News articles
{% endcomment %}


      
  <section id="actualites" data-section="actualites" data-section-name="{% placeholder "News articles menu-item name" or %}Actualités{% endplaceholder %}">

     <div class="row text-center">
        {% placeholder "News title" or %}
         <h2>Dernières actualités d’I4P</h2>
        {% endplaceholder %}
     </div> 

    <div class="row">
      {% placeholder "News articles" or %}
        <div class="column large-4 medium-4 small-12 large-uncentered medium-uncentered small-centered small-only-text-center medium-only-text-center">
            <a href="#">
                <img src="{{ STATIC_URL }}images/i4p_base/pages/homepage_bubbles/demo/columbia.jpg" alt="Columbia" />
            </a>
            <h3><a href="#">48h pour développer des projets d'innovation sociale ouverte</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="column large-4 medium-4 small-12 large-uncentered medium-uncentered small-centered small-only-text-center medium-only-text-center">
            <a href="#">
                <img src="{{ STATIC_URL }}images/i4p_base/pages/homepage_bubbles/demo/columbia.jpg" alt="Columbia" />
            </a>
            <h3><a href="#">48h pour développer des projets d'innovation sociale ouverte</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="column medium-4 small-12 large-uncentered medium-uncentered small-centered small-only-text-center medium-only-text-center">
            <a href="#">
                <img src="{{ STATIC_URL }}images/i4p_base/pages/homepage_bubbles/demo/columbia.jpg" alt="Columbia" />
            </a>
            <h3><a href="#">48h pour développer des projets d'innovation sociale ouverte</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        {% endplaceholder %}
    </div>

    <div class="row text-center">
      {% placeholder "News see all" or %}
        <a href="#" class="button radius">Voir toute l’actualité</a>
      {% endplaceholder %}
    </div>

  </section>



<section id="partenaires" class="row ">
  <div class="large-11   columns large-centered">
      <ul class="cycle-slideshow unstyled" 
          data-cycle-fx=carousel
          data-cycle-timeout=2000
          data-cycle-next="#next"
          data-cycle-prev="#prev"
          data-cycle-carousel-visible=5
          data-allow-wrap=false
          data-cycle-slides="> li"
          data-cycle-swipe=true
          data-cycle-carousel-fluid=true
          >
          {% placeholder "Sponsors" or %}
          <li class="large-3 small-2 text-center">
              <a href="#">
                  <img src="{{ STATIC_URL }}images/i4p_base/pages/homepage_bubbles/partenaires/los-alamos.png" alt="Los Alamos" />
              </a>
          </li>

          <li class="large-3 small-2 text-center">
              <a href="#">
                  <img src="{{ STATIC_URL }}images/i4p_base/pages/homepage_bubbles/partenaires/los-alamos.png" alt="Los Alamos" />
              </a>
          </li>

          <li class="large-3 small-2 text-center">
              <a href="#">
                  <img src="{{ STATIC_URL }}images/i4p_base/pages/homepage_bubbles/partenaires/los-alamos.png" alt="Los Alamos" />
              </a>
          </li>

          <li class="large-3 small-2 text-center">
              <a href="#">
                  <img src="{{ STATIC_URL }}images/i4p_base/pages/homepage_bubbles/partenaires/los-alamos.png" alt="Los Alamos" />
              </a>
          </li>
          {% endplaceholder %}


      </ul>

      
          <a href="#" class="nav" id="prev">&lt;&lt; Prev </a>
          <a href="#" class="nav" id="next"> Next &gt;&gt; </a>
      

  </div>
</section>

{% placeholder "Footer first row" or %}
<section id="social">
  <div class="row text-center">
      <div class="column large-2">
          <img src="{{ STATIC_URL }}images/i4p_base/pages/homepage_bubbles/ui/logo-footer.png" alt="Imagination For People" width="110px" height="35px"/>
      </div>
      <div class="column large-8 quote">Partager l'intelligence pour concevoir les projets de demain</div>
      <div class="social-wr column small-12 large-2 large-uncentered small-centered medium-centered">
        <ul class="unstyled social-media">
            <li><a href="https://www.facebook.com/imaginationforpeople.org">Facebook</a></li>
            <li class="twitter"><a href="http://twitter.com/#!/IPvoices">Twitter</a></li>
            <li class="googleplus"><a href="https://plus.google.com/100737503407974547401#100737503407974547401/posts">Google+</a></li>
        </ul>
    </div>
</div>  
</section>
{% endplaceholder %}

{% comment%} this nav contains the menu with the blue discs on the right of the screen {% endcomment %}
<nav class="controls show-for-large-up">
  <ul class="unstyled"></ul>
</nav>

{% placeholder "Footer second row" or %}
<footer>
  <div class="row">
    <div class="column large-3 medium-3 small-12 large-uncentered medium-uncentered small-centered small-only-text-center medium-only-text-center">
        <h4>Co-Construire</h4>
        <ul>
            <li><a href="#">The Project</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Social Entrepreneurship</a></li>
            <li><a href="#">Social Entrepreneur</a></li>
        </ul>
    </div>
    <div class="column large-3 medium-3 small-12 large-uncentered medium-uncentered small-centered small-only-text-center medium-only-text-center">
        <h4>Animer</h4>
        <ul>
            <li><a href="#">Derniers projets</a></li>
            <li><a href="#">Derniers changements</a></li>
            <li><a href="#">Derniers besoins exprimés</a></li>
            <li><a href="#">Démarrer un projet</a></li>
        </ul>
    </div>
    <div class="column large-3 medium-3 small-12 large-uncentered medium-uncentered small-centered small-only-text-center medium-only-text-center">
        <h4>Repérer</h4>
        <ul>
            <li><a href="#">Tous les groupes</a></li>
            <li><a href="#">Toutes les discussions</a></li>
            <li><a href="#">Démarrer une discussion</a></li>
        </ul>
    </div>
    <div class="column large-3 medium-3 small-12 large-uncentered medium-uncentered small-centered small-only-text-center medium-only-text-center">
        <h4>Soutenir</h4>
        <ul>
            <li><a href="#">Tous les groupes</a></li>
            <li><a href="#">Toutes les discussions</a></li>
            <li><a href="#">Démarrer une discussion</a></li>
        </ul>
    </div>
  </div>
</footer>
{% endplaceholder %}

<!-- <script src="{{ STATIC_URL }}js/i4p_base/pages/homepage_bubbles/vendor/jquery.js"></script> -->
<script src="{{ STATIC_URL }}js/i4p_base/pages/homepage_bubbles/vendor/foundation/foundation.min.js"></script>
<script src="{{ STATIC_URL }}js/i4p_base/pages/homepage_bubbles/vendor/jquery.backstretch.min.js"></script>
<script src="{{ STATIC_URL }}js/i4p_base/pages/homepage_bubbles/vendor/greensock/TweenMax.min.js"></script>

<script src="{{ STATIC_URL }}js/i4p_base/pages/homepage_bubbles/vendor/jquery.cycle2.min.js"></script>
<script src="{{ STATIC_URL }}js/i4p_base/pages/homepage_bubbles/vendor/jquery.cycle2.carousel.min.js"></script>
<script src="{{ STATIC_URL }}js/i4p_base/pages/homepage_bubbles/vendor/jquery.scrollto.min.js"></script>
<script src="{{ STATIC_URL }}js/i4p_base/pages/homepage_bubbles/vendor/jquery.easing-1.3.min.js"></script>

<script src="{{ STATIC_URL }}js/i4p_base/pages/homepage_bubbles/vendor/skrollr.js"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}js/i4p_base/pages/homepage_bubbles/vendor/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}js/i4p_base/pages/homepage_bubbles/vendor/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}js/i4p_base/pages/homepage_bubbles/vendor/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}js/i4p_base/pages/homepage_bubbles/vendor/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>  
<script src="{{ STATIC_URL }}js/i4p_base/pages/homepage_bubbles/main.js"></script>

{% endblock %}

{% comment %}
  do not show default footer
{% endcomment %}
{% block footer %}
{% endblock %}

{% comment %}
  </body>
</html>
{% endcomment %}
