{% extends "base.html" %}
{% load i18n %}
{% load compress %}
{% load cms_tags %}  
{% load sekizai_tags %}

{% block style %}
    {% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/i4p_base/pages/homepage.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/i4p_base/pages/block/homepage-zinnia.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/i4p_base/pages/block/project_slide.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/anythingslider.css" type="text/css" media="screen" />
    {% endcompress %}
{% endblock %}


    {% block meta_keywords %}{% page_attribute meta_description %}{% endblock %}
    {% block meta_desc %}{% page_attribute meta_keywords %}{% endblock %}" /> 
    {% block title %}{{ site.name }} | {% trans 'identify and support imaginative social projects'|capfirst%}{% endblock %}


{% block extra_head %}
  {{ block.super }}
    {% addtoblock "js" strip %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/hoverIntent.js"></script>
    {% endaddtoblock %}
    {% addtoblock "js" strip %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ezmark.js"></script>
    {% endaddtoblock %}
    {% addtoblock "js" strip %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.anythingslider.js" ></script>
    {% endaddtoblock %}
    {% addtoblock "js" strip %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/homepage/boxes.js" ></script>
    {% endaddtoblock %}
    {% addtoblock "js" strip %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/homepage/slider.js" ></script>
    {% endaddtoblock %}
    {% addtoblock "js" strip %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/compass_twitter_bootstrap/bootstrap-modal.js" ></script>
    {% endaddtoblock %}
    {% compress js %}

    <script type="text/javascript">
    $(document).ready(function(){
    
    // Text example for forms
        $("#quick_project input[name=title]").example("{% trans 'My project title'|escapejs %}");
        $("#quick_project input[name=baseline]").example("{% trans 'One line description'|escapejs %}");
        
        
    // AJAX Focus Zone 
    var sections = $("#focus-menu .focus-filters li");  
    var loading = $("#loading");     
    var content = $("#projects_slide"); 

    function showLoading(){  
    
        $("#projects_slide").fadeOut(0);

        loading  
            .css({visibility:"visible"})  
            .css({opacity:"1"})  
            .css({display:"block"})  
        ;  
    }  

    //hide loading bar  
    function hideLoading(){  
        loading.fadeTo(800, 0);
        
        //Slider initialization after AJAX loading
        $("#projects_slide").anythingSlider({width:977, height:290,  easing: "swing", delay: 5000, animationTime: 1000, buildArrows: false, buildNavigation: false, autoPlay: true, startPanel: 1});
         
        //Projects rollover reset
        $("#projects_slide ul .focus_project").hover(function(){
            $(this).find(".project_title_cover").fadeOut(150);
        }).mouseleave(function(){
            $(this).find(".project_title_cover").fadeIn(0);
        });
    };   
        

    //Projects slider manage click events
    sections.click(function(){
        //show the loading bar
        showLoading();

        //load selected section
        switch(this.id){
            case "projects-discover":
                content.load("{% url i4p-homepage-ajax-slider-bestof %}", hideLoading);
                $("#projects_slide").anythingSlider(1).delay(900).fadeIn(150);; // Reset to first slide
                $("#projects_slide").data("AnythingSlider").startStop(true);
                break;
            case "projects-recents":
                content.load("{% url i4p-homepage-ajax-slider-latest %}", hideLoading);
                $("#projects_slide").anythingSlider(1).delay(900).fadeIn(150);; // Reset to first slide
                $("#projects_slide").data("AnythingSlider").startStop(true).delay(550);
                break;
            case "projects-comments":
                content.load("{% url i4p-homepage-ajax-slider-commented %}", hideLoading);
                $("#projects_slide").anythingSlider(1).delay(900).fadeIn(150);; // Reset to first slide
                $("#projects_slide").data("AnythingSlider").startStop(true);
                $("#projects_slide").delay(550).removeClass("hidden");
                break;
            case "projects-help":
                content.load("", hideLoading);
                break;
            default:
                //hide loading bar if there is no selected section
                hideLoading();
                break;
            }        
        });
        
        //Load bestof projects slider by default
        showLoading();
        content.load("{% url i4p-homepage-ajax-slider-bestof %}", hideLoading);
        $("#projects_slide").fadeIn(0);
    
    });



    </script>
    {% endcompress %}


{% endblock %}




{% block nav %}
    {% cms_toolbar %}
    <div id="homepage-banner-outer-container">
        {% include "pages/block/homepage-video-lightbox.html" %}
        {% comment %}LANGUAGE FALLBACK DOESN'T CURRENTLY WORK WITH OR
        {% placeholder "Top homepage banner" or%}
            <div id="homepage-banner">
                            <h1>Customize this banner</h1>
                            <p>To use, see this text in homepage.html as an example.
                             and add in the "home banner" block in the homepage admin page</p>
                            <p>For no banner at all, add an empty Fragment Snippet in the block</p>
                            
                <div class="container">
                    <div class="block-container">
                        <img src="{{ STATIC_URL }}images/i4p_base/pages/homepage/banner/mascot.png" />
                        <div class="i4p-block">
                            <h1>h1 title</h1>
                            <h2>h2 title</h2>
                            <hr>
                            <ul>
                                <li>
                                    <a href='#'>A link in a list</a>
                                </li>
                                <li>
                                    A list item
                                </li>
                            </ul>
                        </div>
                        <div class="i4p-block">
                            <p>Some text in a paragraph.</p>
                            <hr>
                            <p>Notice separator above..</p>
                            <p>Notice image on the left.</p>
                        </div>
                        <!-- Button to trigger modal -->
                        <a id="home-video-lightbox-modal-link" href="#home-video-lightbox-modal" role="button" data-toggle="modal" alt='Découvrez Imagination for People en vidéo'>
                        </a>
                        <!--                     <div class="i4p-block">
                            <h1>h1</h1>
                            <h2>h2</h2>
                            Some text
                        </div> -->
                    </div>
                </div>
            </div>
        {% endplaceholder %}
        {% endcomment %}
        {% placeholder "Top homepage banner" %}
    </div>
    
    {% include "pages/home-blocks/focus-zone.html" %}     

{% endblock %}

{% block content %}

{% comment %}
<!-- Newsletter popup -->
{% include "pages/home-blocks/newsletter-popup.html" %}            
{% endcomment %}

        
<div id="content-zone">

    <div id="content" class="center">
        <div id="left_col">
        {% placeholder "Left column" %}
            
            
            <div id="blog_box_zone">
                {% placeholder "Feed Zone 1" %}
            </div>
                
            <div id="twitter_box_zone">
                {% placeholder "Feed Zone 2" %}
            </div>
            

        </div>
         
        <div id="right_col">
            
            {% placeholder "Right Column" %}
            
            {% comment %}
                <span>
                {% placeholder "Site Purpose" or %}{% trans 'You can <strong>contribute</strong> , <strong>share</strong> your ideas,  <strong>register</strong> your project' %}{% endplaceholder %}
                </span>
            {% endcomment %}
            
            {% comment %}
                <!-- Loginbox -->
                {% include "pages/home-blocks/loginbox.html" %}
            {% endcomment %}
            
            {% comment %}
                <!-- Quick Project -->
                <!-- FIXME -->
                {% include "pages/home-blocks/quick_project.html" %} 
            {% endcomment %}            
            
            <!-- Last members -->
            {% include "pages/home-blocks/last_members.html" %}     

            
        </div>
        
        <div class="clear"></div>

    </div>

    <div class="clear"></div>

    </div>	
{% endblock %}
