{% extends "base.html" %}
{% load menu_tags %}
{% load i18n cms_tags sekizai_tags %}
{% load compress %}

{% block title %}
   {% page_attribute "page_title" %} | Imagination For People

{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
{% addtoblock "css" %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/black_page.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/pages/onemenu.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/no-nav.css" />
{% endaddtoblock %}

{% if user.is_authenticated %}
    {% cms_toolbar %}
{% endif %}


	<div class="content">        

		<div class="container_18">

			<div class="grid_3 alpha omega">			
			
				<div class="left-menu">  	
					
					{% placeholder "menu_workgroups" or %}  
					<h2>{% trans "MENU" %}</h2>
					<ul>             
						{% show_menu 0 100 100 100 %}
					</ul>
					{% endplaceholder %}
               
				</div>
				
			</div>
			
			<div class="grid_14 alpha omega">			
			
				<div class="block-content">  			
			      {% placeholder "page_title" or %}
			      <h1>{% page_attribute "page_title" %}</h1>
			      {% endplaceholder %}

				  {% placeholder "content" or %}
				  <iframe src="http://pad.imaginationforpeople.org/p/{% page_attribute "page_title" request.current_page.parent.id %}{% page_attribute "page_title" request.current_page %}?showChat=false&showLineNumbers=false&showControls=true" frameborder="0" width="755px" height="550px"></iframe>
				  {% endplaceholder %}
									
				</div>
				
			</div>
			
			<div class="clear"></div>
			
		</div>		
	</div>

	

{% endblock %}
