#confirm {display:none;}

#confirm-overlay {
    background-color:#eee; 
    cursor:wait;
}

/* Container */
#confirm-container {
    height:90px; 
    width:420px; 
    font-family:Tahoma,Verdana,Arial,Sans-serif;
    font-size: 15px;
    text-align:left; 
    z-index:8000 !important;
    background-color:#E4E4E4;
    
    -moz-box-shadow: 0px 0px 6px #a1a1a1;  
	-webkit-box-shadow: 0px 0px 6px #a1a1a1;  
    box-shadow: 0px 0px 6px #a1a1a1; 
    
}

#confirm-container .message {
    color:#5A5959;
    font-weight:bold;
    font-size:14px;
    margin:0; 
    padding:12px 4px 12px 8px;
    margin-top:10px;
    text-align:center;
    
}
#confirm-container .buttons {
    line-height:26px; 
    width:160px; 
    float:right; 
    padding:10px 8px 0;
    top:-6px;
    position:relative;
} 
#confirm-container .buttons div {
    float:right; 
    margin-left:4px; 
    width:70px; 
    height:26px; 
    color:#666; 
    font-weight:bold; 
    text-align:center;  
    border:1px solid #bbb; 
    cursor:pointer;
} 
