// reset utilities
@import "compass/utilities/general/reset";

@mixin i4p-button-flat {
    @include reset-box-model;
    @include reset-font;
    @include reset-focus;

    @include i4p-font-title($sizeTextNormal);
    @include i4p-background-vertical-gradient( $colorLightBlue, $colorDarkBlue);
    @include ctb-makeColumn(3);
    @include i4p-transition;
    @include border-radius($sizeRadiusSmall);
    @include box-sizing(border-box);

    float: none;
    position: static;
    display: block;
    border: none;
    color: $colorMedDarkGrey;
    margin: 0;
    padding: 0.2em;
    text-align: center;
    text-shadow: none;
    margin-left: auto;
    margin-right: auto;
    background-color: $colorLightDarkGrey;
    background-image: none;
    box-shadow: none;

    &:hover {
	background-color: $colorLightBlue;
	color: white;
    }
}

@mixin i4p-button-fancy-bordered {
    @include reset-box-model;
    @include reset-font;
    @include reset-focus;

    @include i4p-font-button($sizeTextNormal);
    @include i4p-background-vertical-gradient( $colorLightBlue, $colorDarkBlue);
    background-color: $colorLightBlue;
    @include i4p-transition;
    @include border-radius($sizeRadiusSmall);

    box-shadow: none;
    border: $sizeBorderSmall solid rgba($colorPaleBlue,0.50);
    color: white;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: none;
    width: 100%;

    &:hover {
	@include i4p-background-vertical-gradient( $colorDarkBlue, $colorDarkBlue);
	background-color: $colorDarkBlue;
	border-color: $colorLightBlue;
	color: white;
	text-decoration: none;
    }
}


@mixin i4p-button-fancy-bordered-small {
    @include i4p-button-fancy-bordered;

    width: auto;
    padding-left: $sizePaddingSmall;
    padding-right: $sizePaddingSmall;
    font-size: $sizeTextSmall;
    float: right;
    line-height: $sizeTextSmall * 1.3;
}

@mixin i4p-add-button-fancy-dotted {
    @include border-radius($sizeRadiusSmall);
    @include i4p-transition( all .5s ease );
    display: block;
    background-color: $colorLightBlue;
    vertical-align: middle;
    box-shadow: inset 0 0 0 $colorLightBlue;
    background-image: image-url("tags/icon-plus-white-big.png"), image-url("base/background-white-dots.png");

    background-opacity: 1, 1, 0;
    background-repeat: no-repeat, repeat;
    background-position: 90% center, center center;
    min-height: 46px; /* 46px background */
    padding: 10px;
    padding-left: 10px;
    padding-right: 75px;

    font-size: $sizeTextBig;
    font-family: $fontOpenSans;
    font-stretch: condensed;
    font-weight: bold;

    text-transform: uppercase;
    color: white;
    margin-bottom: 2em;

    &:hover {
	text-decoration: none;
	background-color: darken($colorLightBlue,5%);
    }
}

@mixin i4p-button-editable-fancy {
    @include i4p-button-fancy-bordered-small;

    margin: 0;
    padding-top: $sizePaddingTiny;
    padding-bottom: $sizePaddingTiny;

    span {
	padding: 0;
	@include i4p-transition(all .5s ease);
	background-color: transparent;
    }

    &:before {
	display: inline-block;
	background-image: image-url('project_sheet/edit-icon.png');
	content: "";
	background-position: right center;
	background-repeat: no-repeat;
	width: 17px;
	height: 20px;
	vertical-align: middle;
    }
}

