
// FIXME: rename 

@mixin i4p-font-base($sizeText : $sizeTextNormal) {
    font-size: $sizeText;
    /* There used not to be a line height defined here.  It is essential to have
    a line-height defined, otherwise the line spacing won't match the font size 
    when the mixin is used.  If for some reason you need a custom line-height
    change it in your stylesheet, below the mixin, but DO NOT REMOVE IT FROM 
    HERE */
    line-height: $sizeText * 1.25;  
    font-family: $fontOpenSans;
}

@mixin i4p-font-pagetitle($sizeText : $sizeTextHuge) {
    @include i4p-font-base($sizeText);
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}

@mixin i4p-font-subtitle($sizeText : $sizeTextLarge) {
    @include i4p-font-base($sizeText);
    font-stretch: condensed;
}

@mixin i4p-font-title($sizeText : $sizeTextLarge) {
    @include i4p-font-subtitle($sizeText);
    font-family:$fontOpenSansCondensed;
    text-transform: uppercase;
}

@mixin i4p-font-button($sizeText : $sizeTextLarge) {
    font-family: $fontOpenSans;
    font-size: $sizeText;
    font-stretch: normal;
    font-weight: bold;
    text-transform: uppercase;
}

@mixin i4p-font-search($sizeText : $sizeTextNormal) {
    font-family: $fontOpenSans;
    font-size: $sizeText;
    font-stretch: condensed;
    font-weight: normal;
}

@mixin i4p-font-menu($sizeText : $sizeTextNormal) {
    font-family: $fontOpenSans;
    font-size: $sizeText;
    font-stretch: normal;
    font-weight: bold;
}

@mixin i4p-font-header-right-top($sizeText : $sizeTextNormal) {
    font-family: $fontOpenSans;
    font-size: $sizeText;
    font-stretch: normal;
    font-weight: bold;
}

