
$i4p-action-sprite-dimensions: true;
$i4p-action-sprites: sprite-map("i4p-action/*.png");
@import "i4p-action/*.png"; // */
// @include all-i4p-action-sprites; // NO AUTO INCLUDE

@mixin i4p-sprite($classname) {
    [class^="#{$classname}-"],
    [class*=" #{$classname}-"] {
	display: inline-block;
	vertical-align: middle;
    }

}

@mixin i4p-sprite-header($classname) {
    h1, h2, h3, h4, h5, h6 {
	i[class^="#{$classname}-"],
	i[class*=" #{$classname}-"] {
	    margin-right: .25em;
	}
    }
}

