
/***
 * IMPORTANT : CONSTANTS NAMING SCHEME
 *
 * The naming scheme is simple, your constants name must follow this rule :
 * "<typename>[<Targetname>]<Attributename>"
 * 
 * - <typename> could be "color", "size", "font", etc.
 *
 * - <targetname> is optional and could be any targetable CSS objects or
 *   properties like "text", "border", etc. 
 *
 * - <attributename> is a meaningful description of your constant, like "Blue",
 *   "LightBlue", "Small", "Huge", etc.
 */


/**
 * Old Colors (obsolete, please use new color naming scheme instead)
 */

$darkgrey: #171717;
$grey:#cdcdcd;
$greyblack:#303030;
$greymenu:#c1c1c1;
$normalgrey:#BDBDBD;


/**
 * New colors
 */

$colorLightBlue: #04add1;
$colorDarkBlue: #378cc2;

$colorWhite: #f8f8f8;

$colorLightGrey: #f2f2f2;
$colorMedLightGrey: #c9c9c9;
$colorMedGrey: #8e8e8e;
$colorMedDarkGrey: #535353;
$colorDarkGrey: #282828;


/**
 * text sizes
 */
$sizeTextHuge: 2.33em; //28px;
$sizeTextLarge: 1.33em; //16px;
$sizeTextBig: 1.17em; //14px;
$sizeTextNormal: 1em; //12px
$sizeTextSmall: 0.92em; //11px;
$sizeTextTiny: 0.83em; //10px;


/**
 * font piles
 */

$fontOpenSans: "OpenSans", Arial, Helvetica, sans-serif;

// effect sizes
$sizeShadowSmall: 2px;
$sizeShadowBig: 4px;

$sizeBorderSmall: 4px;

$sizeRadiusSmall: 4px;

$sizePaddingSmall: 5px;

$sizeMarginSmall: 5px;
$sizeMarginBig: 10px;

