@import "mixin.scss";
@import "constants.scss";


.content-feedback {
    min-height:250px;
}

.feedback-title{
    font-size:18px;
}

#feedback-text{
    font-size:11px;
    margin-bottom:10px;
}

#feedback_filters{
    background-color:#0c0c0c;
    border-top:1px solid #353535;
    border-bottom:1px solid black;
    padding:10px;
    
    @include shadow(4px, black); 
	@include border-radius(4px);
    
    position:fixed;
    width:80px;
    
    h4{
        margin-top:8px;
    }
    
    .button{
    margin-left:0px;
    margin-bottom:4px;
    top:-5px;
   
    @include shadow(4px, black);  	
    }
}


#feedback_infos{
    margin-top:10px;
}

#feedback-list{
    list-style-type: none;
    padding-top:5px;
    
    li {
        padding-bottom: 5px;
        padding-top: 5px;
        background-image:url(../images/base/separator.jpg);
        background-repeat:repeat-x;
        background-position:top;
        padding-left:20px;
    }
}


#feedback-pagination{
    position:absolute;
    right:0px;
    bottom:0px;
}

.vote-actions .button{
    @include shadow(4px, black); 
    margin-left:2px;
    margin-right:2px;
    left:1px;
}

.feedback-votes {
    background-color: #eee;
    width: 50px;
    text-align: center;
    padding: 3px;
    background-color:#0c0c0c;
    border-top:1px solid #353535;
    border-bottom:1px solid black;
    
    @include shadow(4px, black); 
    @include border-radius(4px);  
	
    margin-top:12px;
    margin-bottom:12px;
    
    .numvotes{
        font-size:10px;
        margin-bottom:3px;
    }
}


.feedback-entry .score {
    font-size: 3em;
    font-weight: bold;
}

.feedback-entry {

    form {
        display: inline;
    }
    
    .vote_button {
        border:1px solid #666;
        width: 20px;
        height: 20px;
    }
    
    a {
		color: #04ADD1;
		font-family: Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
		font-weight: bold;
		font-style: italic;
		font-size: 12px;
	}
	
    .feedback-info {
      
        .type_Q, .type_P , .type_I {
            padding: 3px;
            color:white;
            vertical-align: middle;
        }
        
        span img{
            position:relative;
            top:-1px;
        }
        
        .title { 
            font-size: 1.4em;
            vertical-align: middle;

            .link { 
                font-size:17px;
            }            
        }
        
        .feedback-desc { 
            color: #666; 
        }
        
        .who { 
            font-size: 0.8em; 
        }

        
    
    }

}


.feedback-info{
    margin-top:10px;
    margin-bottom:10px;
}


#feedback-filter {
    list-style: none;
    margin-bottom: 20px;
    
     li {
        list-style: none;
        text-align: center;
        margin-bottom: 3px;
        color: #eee;
        width: 100%;
        font-size: 1.1em;
    }
}


#feedback-order li {
    list-style: none;
    text-align: center;
    margin-bottom: 3px;
    color: #eee;
    width: 100%;
    font-size: 1.1em;
}

#feedback-order .order-on .button, #feedback-filter .filter-on .button
{
    background-image:url(../images/base/minibutton_red.jpg);
	background-repeat:repeat-x;
    color:white;
    text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
    border:1px solid #881b1b;	

}


#feedback-tab-suggestions
{
    width: 200px;
}

form#feedback-new {

    #kind {
        margin-bottom: 10px;
    }
    
    ul {
        display: inline;
        
        li {
            list-style-type: none;
            display: inline;
            vertical-align: middle;
            padding-left: 0px;
            margin-left: 5px;
        }
    }
    
    div#subject {
        margin-bottom: 10px;
        
        input {
            width: 400px;
        }
    }
    
    input[type="submit"] {
        border: 1px solid black;
        height: 25px;
        background-color: #eee;
    }
}


div#feedback-sidebar {
    color: #666;
    background-color:#0c0c0c;
    border-top:1px solid #353535;
    border-bottom:1px solid black;
    padding:10px;
    
    @include shadow(4px, black); 
	@include border-radius(4px);
}


#feedback-comment{

    #id_comment{
        width:100%;
        border:1px solid black;
        top:-10px;
        position:relative;
    }
    
    input[type=submit]{
        float:right;
    }
}


#feedback-comments-list{
	a {
		color: #04ADD1;
		font-family: Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
		font-weight: bold;
		font-style: italic;
		font-size: 12px;
	}
	
	li div{
    margin-bottom:15px;
    font-size:12px;
    color:#7F7E7E;
	}
}

#feedback-new #id_text{
    width:100%;
}

.feedback-description{
    text-align:justify;
}

.feedback-new-page #id_title{
    width:100% !important;
}

.feedback-edit-admin { 
   
    form{

        p{
            margin-top:5px;
            margin-bottom:5px;
        }
        
        label{
            width:10%;
            float:left;
            text-align:right;
            padding-right:10px;
            font-weight:bold;
            position:relative;
            top:3px;
            color: $colorLightBlue;
        }
        
        .helptext{
            margin-left:11%;
        }
        
        input[type=text], textarea{
            width:85%;
        }
        
        select{

        }
    }
    
    input[type=submit]{
        float:right;
        position:relative;
        right:20px;
        top:5px;
    }
}
