@import "i4p/mixins";
@import "i4p/constants";

.content{
    background-color: $colorDarkGrey;
    background-image:image-url('base/content-bg.jpg');
    background-repeat:no-repeat;
    background-position: center top;
    color: $colorLightGrey;
    min-height:240px;
    
    h1 {
        @include georgia($sizeTextVeryLarge);
        color: $colorMedLightGrey;
        padding: 0px;
        margin: 0px;
        a {
            @include georgia($sizeTextVeryLarge);
        }
    }

}

/* --HEADER---------------------------------------------------------------------------------------------------- */

.header{
	background-image:image-url('base/header-bg.png');
	color:black;
	background-repeat:repeat-x;
}


.header .linkbox a{
	color:#595959;
}

.header .linkbox a:hover{
	color:#7F7E7E;
}



.menu a{
	color:#7f7e7e;
}

.header .menu a{

	
}

.header .menu a:hover{
	color:white;
}


.button{
    @include i4p-shadow(4px,black); 	
}
