
// colors
$colorLightBlue: #0aaece;
$colorWhite: #f8f8f8;

$colorLightGrey: #f2f2f2;
$colorMedLightGrey: #c9c9c9;
$colorMedGrey: #8e8e8e;
$colorMedDarkGrey: #535353;
$colorDarkGrey: #282828;

// text sizes
$sizeTextBig: 20px;
$sizeTextMedium: 16px;
$sizeTextSmall: 12px;

// effect sizes
$sizeShadowSmall: 2px;
$sizeShadowBig: 4px;

$sizeBorderSmall: 4px;

$sizeRadiusSmall: 4px;

$sizePaddingSmall: 5px;

$sizeMarginSmall: 5px;
$sizeMarginBig: 10px;

