body {

}

#error_page{
    width:100%;
    height:485px;
    background-repeat:no-repeat;
    background-position: top center;
    position:relative;
    
    #error_page_content{
        position:absolute;
        width:49%;
        right:0px;
        bottom:120px;
        
        h1{
            font-size:40px;
        }
        
        p{
            font-size:18px;
            color:white;
        }
    }

}


#error_page.page404{
    background-image: image-url('404.jpg');
}

#error_page.page500{
    background-image: image-url('500.jpg');
}
