@import "i4p/mixins";
@import "i4p/constants";

// please do not use theses non-semantic classes (or rewrite them as mixins)
.hidden{
	display:none !important;
	visibility:hidden !important;
}

.nomargin{
	margin:0px;
}

.nopadding{
	padding:0px;
}

.left{
	float:left;
}

.right{
	float:right;
}

.none{
	float:none;
}

.relative{
	position:relative;
}

.absolute{
	position:absolute;
}

.bold{
	font-weight:bold;
}

.grey{
	background-color:#d2d2d2 !important;
    cursor:default;
}

.grey:hover{
	background-color:#d2d2d2 !important;
    background-image:none !important;
}

.arrondi{
	@include border-radius(2px); 
}


.separator{
	height:2px;
	background-image: image-url("base/separator.jpg");
	background-repeat:repeat-x;
	position:relative;
	margin-top:15px;
	margin-bottom:15px;
}

hr{
    background-image: image-url("base/separator.jpg");
    background-repeat:repeat-x;
    background-position:bottom;
    width:100%;
    border:0px;
    margin-top:10px;
    margin-bottom:10px;
    height:2px;
}


.link{
    color: $colorLightBlue;
    @include georgia(12px);
    text-decoration:none;
}

.link:hover{
    text-decoration:underline;
}


.edit1:hover{
	background-image: image-url("project/edit1.png");
	background-position:right center;
	background-repeat:no-repeat;
	display:block inline;
	padding-right:20px;
	position:relative;
}

.edit2{
	background-image: image-url("project/edit2.png");
	background-position:right center;
	background-repeat:no-repeat;
	display:inline-block;
	padding-right:20px;
	position:relative;
}


.focus:hover{
	background-color:#e4e4e4;
}




/* Infobulles-------------------------------------------------------------------------------------------------- */


a.info{
    position:relative !important;
    z-index:24;
    color:white;
    text-decoration:none;
    float:left;
}
 
a.info:hover{
    z-index:25;
}
 
a.info span{
    display: none;
}
 
a.info:hover span{
    display:block;
    position:absolute;
    top:10px; left:2em; width:5em;
    border:1px solid #000;
    background-color:black;
    color:white;
    text-align: center;
    font-weight:none;
    padding:5px;

    @include border-radius(4px); 
}

.greyblock table a.info:hover span{
    left:-7em; 
    width:5em;
}
