@import "mixin.scss";
@import "constants.scss";

body{
    background-color:#282828;
}

a:hover{
    text-decoration:none;
}

hr{
    border:1px solid #050505 !important;
    border-bottom:1px solid #333333 !important;
    background-image:none;
    height:0px;
}



/*---- VIDEO ----*/

#video-zone{
    height:133px;
    background-color:#e8e8e8;
    position:relative;
    
    h1.what_is{
        font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
        font-size:32px;
        position:absolute;
        top:40px;
        left:0px;
        width:255px; 
        color:$greyblack;
        z-index:60;
        text-align:right;
        font-style:normal;
        text-transform:uppercase;
    }
    
    #project_block, #network_block{
        width:180px;
        position:absolute;
        top:30px;
        font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
        font-size:13px;
        text-transform:uppercase;
        z-index:60;
        
        h1{
            font-family: "OpenSansCondensedBold", Arial, Helvetica, sans-serif;
            font-size:19px;
            text-shadow: 1px 1px white;
            font-style:normal;
            font-weight:normal;
            color:$greyblack;
        }
        
        a{
            font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
            color:black;
        }
    }
    
    #project_block{
        left:375px;
    }
    
    #network_block{
        left:615px;
    }
    
    .baseline{
        font-family: "OpenSansItalic", Arial, Helvetica, sans-serif;
        font-size:15px;
        position:absolute;
        right:0px;
        bottom:30px;
        width:180px;
        text-align:right;
    }
}

/*---- FOCUS ----*/

#focus-zone{
  	background-image: url(../images/home/focus-bg.jpg); 
    height:364px;
    
    #focus{
        background-color:black;
        color:#737373;
        position:relative;
        
        #focus-menu{
            height:37px;
            position:relative;
            
            ul.focus-filters{
                float:left;
                padding:6px 0px;
                padding-top:10px;
                position:relative;
                
                li{
                    position:relative;
                }
            }
            
            .allprojects{
                float:right;
            }
        }
        
        #projects_slide{
            height:290px;
            width:977px;
            overflow:hidden;
        
            .project_slider{
            
                .focus_project{
                    position:relative;
                    float:left;
                    width:195px;
                    height:290px;
                    /*margin-right:1px;*/
                
                    .project_title_cover{
                        position:absolute;
                        top:0px;
                        left:0px;
                        background-image:url('../images/home/projectslide_cre.png');
                        width:195px;
                        height:290px;
                        z-index:200px;
                    } 
                   
                    /* hack for IE8 & 9 */
                    @media \0screen {
                        .project_title_cover{
                            background-image:url('../images/home/projectslide_cre.gif');
                        }                    
                    }

                    .project_photo{
                        width:195px;
                        height:290px;
                        background-color:$normalgrey;
                        background-position: center bottom;
                        background-repeat: no-repeat;
                    
                        table{
                            width:110px;
                            height:90px;
                            margin:0px auto;
                            position:relative;
                            top:75px;
                            text-align:center;
                            
                            span{
                                text-align:center;
                                position:relative;
                                font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
                                font-size:15px;
                                text-transform:uppercase;
                                background-color:white;
                                font-style:normal;
                                font-weight:normal;
                                color:$greyblack;
                                line-height:20px;
                                
                                a{
                                    color:$greyblack;
                                }
                            }
                        }
                    }
                }

                .focus_project.addproject{
                    
                    h1{
                        font-family: "OpenSansCondensedBold", Arial, Helvetica, sans-serif;
                        font-size:23px;
                        font-style:normal;
                        position:absolute;
                        right:0px;
                        top:119px;
                        width:50%; 
                        margin-right:15px;
                        color:white;
                        text-transform:uppercase;
                    }
                }
            }
        }

        #loading{
            width:32px;
            height:32px;
            position:absolute;
            text-align: center; 
            visibility: hidden;
            z-index:999;
            top:160px;
            left:470px;
            @include border-radius(20px);
            background-color:black;
            
            img{
                position:relative;
                top:9px;
            }
        }        

        #focus-nav{
            height:37px;
            
            .previous, .next{
                position:relative;
                top:10px;
            }
            
            .previous{
                float:left;
            }
            
            .next{
                float:right;
            }            
        } 

        #focus-menu a, #focus-nav a{
            font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
            font-size:15px;
            text-transform:uppercase;
            color:$greymenu;
            padding:8px 10px;
            padding-bottom:5px;
        }
        
        #focus-menu a:hover{
            color:white;
        }
        
        #focus-menu a.selected{
            color:white;
            border-bottom:4px solid $blue;
        }
        
         #focus-nav a:hover{
            color:white;
        }
        
        .allprojects{
            padding:6px 0px;
            padding-top:10px;
        }        
    }
}

/*---- CONTENT ----*/


#content-zone{

    #content{    
        background: url(../images/home/content-bg.jpg) repeat-y right; 
        padding:15px 0px;
        
        #left_col{
            width:685px;
            float:left;
            position:relative;
            
            .infoblock{
                background-image: url('../images/home/infoblock-bg.jpg');
                margin-bottom:20px;
                height:250px;
            
                .image{
                    border-right:3px solid $blue;
                    float:left;
                    width:250px;
                    height:250px;
                }
                
                .details{
                    width:385px;
                    height:230px;
                    padding:10px 28px;
                    padding-left:15px;
                    float:right;
                    position:relative;
                    
					a {
						color: #04ADD1;
					}
					
                    h2{
                        margin:0px;
                        color:$greyblack;
                        text-shadow:1px 1px 0px white;
                        font-family: "OpenSansCondensedBold", Arial, Helvetica, sans-serif !important;
                        font-size:16px;
                    }

                    span.date{
                        position:absolute;
                        top:11px;
                        right:33px;
                        color:#737373;
                        font-style:italic;
                        font-size:11px;
                    }
                    
                    .plus{
                        position:absolute;
                        top:0px;
                        right:0px;
                    }
                    
                    h1{
                        margin:7px 0px;
                        color:$greyblack;
                        font-family: "OpenSansRegular", Arial, Helvetica, sans-serif !important;
                        font-size:17px;
                        text-transform:uppercase;
                        font-style:normal;
                        font-weight:bold;
                    }
                    
                    .description{
                    
                        p{
                            color:$greyblack;
                            margin-bottom:8px;
                        }
                        
                        ul{
                            padding-left:20px;
                            color:$greyblack;
                            margin-bottom:10px;

                            li{
                                float:none;
                                list-style-image:url('../images/base/blue_tick.png');
                                display: list-item;
                                margin:4px 0px;
                            }
                        }                    
                    }
                
                    hr{
                        border-top:1px solid #c1c1c1 !important;
                        border-left:1px solid #c1c1c1 !important;
                        border-right:1px solid #c1c1c1 !important;
                        border-bottom:1px solid white !important;
                        position:absolute;
                        bottom:33px;
                        width:385px;
                    }
                    
                    ul.infotags{
                        position:absolute;
                        bottom:16px;
                    
                        li{
                            background-color:#a7a7a7;
                            padding:3px;
                            font-style:italic;
                            font-size:11px;
                            
                            a{
                                color:white;
                            }
                        }
                    }
                    
                    ul.info-share{
                        position:absolute;
                        bottom:12px;
                        right:30px;
                    }
                }
            }
            
            #blog_box_zone{
                width:54.5%;
                margin-right:1.5%;
                float:left;
            }
            
            #twitter_box_zone{
                width:42.5%;
                margin-left:1.5%;
                float:right;
            }

            
        }
        
        #right_col{
            width:245px;
            padding:0px 10px;
            float:right;
            position:relative;
            color:$grey;
            
            span{
                font-family: "OpenSansItalic", Arial, Helvetica, sans-serif;
                font-size:11px;
                margin:15px 0px;
                margin-top:5px;
                display:block;
                
                a{
                    color:$grey;
                }
                
                a:hover{
                    color:white;
                }
            }
            
            .homebox{
                margin:15px 0px;
                position:relative;
            
                h1{
                    font-family: "OpenSansCondensedBold", Arial, Helvetica, sans-serif;
                    font-size:14px;
                    font-style:normal;
                    margin:0px;
                    padding:0px;
                    position:relative;
                    text-transform:uppercase;
                    top:3px;
                }
                
                hr{
                margin:7px 0px;
                }
                
                label{
                    float:left;
                }
                
                input[type=text], input[type=password], textarea{
                    background-color:#242424;
                    color:#818181;
                    border:1px solid #343434;
                    margin: 3px 0px;
                    width:98%;
                    font-family: "OpenSans", Arial, Helvetica, sans-serif;
                    font-size:10px;
                    padding:2px;
                    @include border-radius(4px); 
                }
                
                input[type=submit], button{
                    font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
                    font-size:11px;
                    padding:3px 6px;
                    margin:0px;
                    background-color:#303030;
                    color:#737373;
                    border:0px;
                    cursor:pointer;     
                    @include border-radius(4px);
                }
                
                input[type=submit]:hover, button:hover{
                    color:black !important;
                }
                
                .close-button{
                    position:absolute;
                    top:0px;
                    right:0px;
                    cursor:pointer;
                }

            }
            
            #loginbox{
                background-color:#292929;
                background-image: url("../images/home/loginbox-bg.jpg");
                @include border-radius(4px);
                padding:10px;
                overflow:hidden;
                
                .loginlink{
                    font-family: "OpenSansCondensedBold", Arial, Helvetica, sans-serif;
                    font-size:15px;
                    text-transform:uppercase;
                    color:$grey;
                    margin:0px 3px;
                    
                    img{
                        margin:0px 5px;
                        position:relative;
                        top:3px;
                    }
                }
                
                .loginlink:first-child{
                    color:$blue;
                }
                
                hr{
                    border-top:1px solid #242424 !important;
                    border-left:1px solid #242424 !important;
                    border-right:1px solid #242424 !important;
                    margin-top:10px;
                }
                
                ul{
                    margin-top:8px;
                }

                
                form{
                
                    label{                   
                        display:none;
                        visibility:hidden;
                    }                   

                    input[type=submit], button{
                        background-image: url('../images/home/openid-button.jpg');
                        color:white;
                    }
                }
                
                #panels-slide{
                    width:735px;
                    height:80px;
                    position:relative;
                    left:-0px;
                
                
                    .loginpanel{
                        position:relative;
                        width:225px;
                        height:80px;                        
                        margin-right:20px;
                        float:left;
                    }
                    
                    .panel2{
                    
                        input[type=text]{
                            width:55%;
                            padding:4px;
                        }                      
                    }  

                    .panel3{
                    
                        input[type=text], input[type=password]{
                            width:65%;
                            padding:4px;
                        } 

                        label[for=id_remember_me]{
                            display:block;
                            visibility:visible;
                            color:$blue;
                            position:absolute;
                            left:0px;
                            bottom:0px;
                            font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
                            font-size:9px;
                        }
                        
                        input[type=submit]{
                            position:absolute;
                            right:20px;
                            top:31px;
                        }
                        
                        .link{
                            position:absolute;
                            right:0px;
                            bottom:0px;
                            font-size:9px;
                            font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
                            font-style:normal;
                            font-weight:normal;
                        }
                    }  
                }
                
                .avatar{
                    float:left;
                    margin-right:15px;
                }

                ul.profile_actions{
                    position:relative;
                    margin:0px;
                    padding:0px;
                    
                    li{
                        float:left;
                        position:relative;
                        margin-right:3px;
                        list-style-type:none;
                        display:inline;
                        .message_count{
                            color: white;
                            position: absolute;
                            right: 3px;
                            text-align: center;
                            top: -1px;
                            width: 20px;
                            font-weight: bold;
                            font-size: 80%;
                        }                        
                    }
                }
            }
            
            #quick_project{                
            
                
            }
            
            #newmembers{                
                padding:0px;
                margin:0px;
                li{
                    margin:1px 2px;
                    list-style-type:none;
                    display:inline;
                    padding:0px;
                    float:left;
                    position:relative;
                    background-color:$normalgrey;
                    height:45px;
                    width:45px;
                } 
                
                .big{
                    width:94px;
                    height:94px;                
                    
                    .name{
                        background:url('../images/base/membername.png') no-repeat;
                        position:absolute;
                        top:0px;
                        left:0px;
                        width:94px;
                        height:94px;
                        color:$grey;
                        
                        span{
                            position:absolute;
                            bottom:0px;
                            left:0px;
                            margin:5px;
                        }
                    }
                    
                }
                
                .big:hover .name{
                    color:white;
                }
                
                li.bottom-member1, li.bottom-member2{
                    position:absolute;
                    bottom:0px;
                    left:0px;
                }
                
                li.bottom-member2{
                    left:49px;
                }
            }
            
            .fb-like-box{
                background-color:#292929;
                background-image: url("../images/home/loginbox-bg.jpg");
                @include border-radius(4px);
                padding:0px;
                height:85px !important;
                width:100%;
                margin-bottom:18px;
            }            
        }
    }
}


/*--- NEWSLETTER POPUP ----*/


#newsletter_popup{
    background-image: url("../images/home/newsletter-popup-bg.png");
    padding:10px;
    @include border-radius(4px);
    border:1px solid #9b9b9b;
    
    position:fixed;
    width:245px;
    bottom:50px;
    right:40px;
    z-index:300;
    @include shadow(8px, black);
    
    h1{
        font-size:17px;
        font-family: "OpenSansCondensedBold", Arial, Helvetica, sans-serif;
        font-style:normal;
        color:white;
        margin:0px;
    }
    
    .close-button{
        position:absolute;
        top:15px;
        right:10px;
        cursor:pointer;
    }
    
    hr{
        border:1px dotted #9b9b9b;
        border-style: dotted !important;
        background-image:none;
        margin-top:5px;
    }

    img.newsletter_picto{
        float:left;
        margin-right:10px;
    }
    
    p{
        font-size:11px;
        color:white;
    }
    
    form{
    
        input[type=text]{
            width:100%;
            @include border-radius(4px);
            border:0px;
            color: #7F7E7E;
            font-family: "OpenSans",Arial,Helvetica,sans-serif !important;
            font-size: 10px;
            padding:3px 0px;
        }
        
        input[type=submit]{
            width:100%;
            @include border-radius(4px);
            background-color:$blue;
            border:0px;
            margin-top:5px;
            color:white;
            background:url(../images/base/minibutton_blue.jpg);
        }
        
        input[type=submit]:hover{
            background:url(../images/base/minibutton_green.jpg);
        }
    }
}


/*--- CMS edition fixes ----*/

.cms_placeholder-title{
    color:#666666 !important;
    text-transform: none !important;
    font-weight:bold !important;
    font: 13px "Helvetica Neue",Helvetica,Arial,sans-serif !important;    
    margin-top:3px !important;
     
    a{
        color:#666666 !important;
        cursor:default;
        font-weight:bold !important;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;    
    }
}

.cms_toolbar-btn{
    font-style:normal !important;

    span{
        margin:0px !important;
        font: 13px "Helvetica Neue",Helvetica,Arial,sans-serif !important;
        text-transform: none !important;
    }
}

.cms_placeholder-subnav{
    
    span{
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
        text-transform:none !important;
    }

    li a{
        color: #666666 !important;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;   
        text-transform: none !important;
    }
}

/* cmsplugin-zinnia */
.hentry {
    margin: 10px 0px;
    padding: 0px 0px;
    background-color: $colorLightGrey;
    overflow: hidden;
    color:$colorDarkGrey;
    > .entry-image {
        width: 35%;
        line-height: 200px;
        vertical-align:top;
        display: inline-block;
        margin-right: 0px;
        border-right: 3px solid $colorLightBlue;
        img {
            vertical-align: middle;
            max-width: 100%;
            float: none;
        }
        
    }
    .entry-main-details-image {
            width: 62%;
    }
    .entry-main-details {
        display: inline-block;
        border-left: 3px solid $colorLightBlue;
        margin-left: -3px;
        padding: 0px 0px 0px 10px;
    }
    
    a {
    color: $colorLightBlue;
    }
    .entry-header {
        margin: 10px 0px;
        
        .entry-info {
            font-size: 70%;
            color:$colorMedGrey;
        }
        h2 {
        margin:7px 0px;
        font-family: "OpenSansRegular", Arial, Helvetica, sans-serif !important;
        font-size:17px;
        text-transform:uppercase;
        font-style:normal;
        font-weight:bold;
        }
    }
    .entry-footer {
        margin-top: 10px;
        font-size: 70%;
        display: none;
    }
    .continue-reading {
        margin: 8px 0px;
        font-weight: bold;
    }
    .entry-info {
        margin: 5px 5px;
        text-align: right;
                display: none;
    }
    
    
    .entry-content {
        img {
            float: left;
            max-width: 35%;
            height: auto;
            margin-right: 1em;
            /* -(margin left + border) */
            margin-left: -13px;
        }
    }
        .entry-body {
        margin-right: 10px;
    }

        p {
            margin: 8px 0px;
        }
                        
                        ul{
                            padding-left:20px;
                            color:$colorDarkGrey;
                            margin-bottom:10px;

                            li{
                                float:none;
                                list-style-image:url('../images/base/blue_tick.png');
                                display: list-item;
                                margin:4px 0px;
                            }
                        }                    
                    
}
