@import "i4p/mixins";
@import "i4p/constants";


/*
Name: Sliding Login Panel with jQuery 1.3.2
Author: Jeremie Tisseau
Author URI: http://web-kreation.com/
Date: March 26, 2009
Version: 1.0
*/

/***** clearfix *****/
.clear {clear: both;height: 0;line-height: 0;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.clearfix {height: 1%;}
.clearfix {display: block;}


/* Panel Tab/button */
.tab {
  	background: image-url('base/tab_b.png') repeat-x 0 0;
	height: 30px;
	position: relative;
    top: -4px;
    z-index: 800;
    
    ul.login {
        display: block;
        position: relative;
        clear: right;
        height: 32px;
        right:-9px;
        width: auto;
        font-weight: bold;
        line-height: 30px;
        margin: 0;
        float:right;
        color: white;
        font-size: 80%;
        text-align: center;
        
        li.left , li.right {
            height: 32px;
            width: 30px;
            padding: 0;
            margin: 0;
            display: block;
            float: left;
            position:relative;
            top:4px;
        }

        li.left {
            background: image-url('base/tab_l.png') no-repeat left 0;
            width:28px;
        }

        li.right {
            background: image-url('base/tab_r.png') no-repeat left 0;
        }
        
        li.middle {
            background: image-url('base/tab_c.png') no-repeat left 0;
            width:17px;
        }
        
        li.language{
            font-size:14px;
            padding:0px;
            padding-top:2px;
            
            a{
                font-family: 'OpenSansCondensedBold_obsolete', Arial, Helvetica, sans-serif;
                color:white;
            }
        }
        
        .close:hover{
            background-color:transparent !important;
        }

        
        li {
            text-align: left;
            padding: 0 6px;
            padding-top: 2px;
            display: block;
            float: left;
            height: 32px;
            background: image-url('base/tab_m.png') repeat-x 0 0;
            position:relative;
            position:relative;
            top:4px;
            
            a {
                color: $colorLightBlue;
            }
            
            a:hover {
                color: white;
                text-decoration:none;
            }
            
            .sep {
                color:#414141
            }
            
            .message_count{
                position:absolute;
                right:10px;
                top:6px;
                text-align:center;
                width:20px;
                color:white;
            }
            
            a.open.link, a.close.link {
                height: 20px;
                font-family: 'OpenSansBoldItalic_obsolete', Arial, Helvetica, sans-serif;
                line-height: 20px !important;
                /*padding-left: 32px !important;*/
                cursor: pointer;
                display: block;
                /*width: 100px;*/
                position: relative;
                font-style:normal;
                top: 5px;
                font-size:11px;
            }
            
            a.open {/*background: image-url('base/bt_open.png') no-repeat left 0;*/}
            a.close {/*background: image-url('base/bt_close.png') no-repeat left 0;*/}
            a:hover.open {/*background: image-url('base/bt_open.png') no-repeat left -19px;*/}
            a:hover.close {/*background: image-url('base/bt_close.png') no-repeat left -19px;*/}
        }
    }
}



/* sliding panel */
#toppanel {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    .social-login a {
    
    }

}

#top-zone {
    padding-top: 15px;
    text-align: center;
    background:black;
    
    h1.padlock {
        @include i4p-font-title($sizeTextNormal);
        color: white;
    }
    h2 {
        @include i4p-font-base($sizeTextNormal);
        color: white;
    }
    #form-user {
        display: inline-block; /* Remove once bootstrap conversion is complete */
        width:300px; /* Remove once bootstrap conversion is complete */

        /* margin:0 25px 0 0 */
    }

    #form-user p {
        margin:0.25em 0 0.25em 0;
    }

    
    .panel_projects{
        width:460px;
        float: right;
        padding: 0 15px;
    }
    
    form{
        padding: 0 3em;
        border-left: 2px solid $colorLightBlue;
        border-right: 2px solid $colorLightBlue;
        margin: 0 0 10px 0;
        position:relative;
    }
    
    label{
        display:none;
        visibility:hidden;
    }
    
    label[for=id_remember_me]{
        display:block !important;
        visibility:visible !important;
        @include i4p-font-base($sizeTextSmall);
        color: $colorLightBlue;
        
        input {
            margin-top: 0px; /* To manually match bootstrap's  checkbox */
            display: inline-block;
            float: none;
        }

    }
    
    input[type=text], input[type=password]{
        border: 1px #1A1A1A solid;
        width: 150px;
        color: $colorDarkGrey;
        @include i4p-font-base($sizeTextNormal);
        @include border-radius(4px); 
    }
    
    #form-user p.checkbox {
        /* margin-top:10px */
    }

    #top-signin, button{
        @include i4p-button-fancy-bordered;
        width: 150px;
        display: inline-block;
       
    }
    
    #top-signin:hover, button:hover{
        color:black !important;
    }
    
    input:focus.field {
        background: #545454;
    }
    
    #top-signin{

    }
    
    .password_lost{
        color: $colorLightBlue;
    }
    
    .password_lost:hover{

    }
    #social-sign-in {
        display: inline-block; /* Remove once bootstrap conversion is complete */
        width:300px; /* Remove once bootstrap conversion is complete */

        .social-panel ul {
            margin-left:0;
            margin-bottom:15px;
            list-style: none;
            li {
                margin-top: 0.5em;
                display: list-item;
            }
        }
    }
    
    #social-sign-up {
        display: inline-block; /* Remove once bootstrap conversion is complete */
        width:300px; /* Remove once bootstrap conversion is complete */
    }
    .social-panel ul {
        margin-left:0;
        margin-bottom:15px;
        list-style: none;
        li {
            display: inline;
        }
    }

    #not-yet h1 {
    }
    
    #not-yet a {
        @include i4p-button-fancy-bordered;
        width: 146px;
        display: inline-block;
    }

    #interface_lang  {
        position:relative;
        margin-top:10px;
        
        li{
            width:88px;
            float:left;
            margin-right:5px;
            margin-bottom:10px;
            
            img{
                margin-right:8px;
            }
            
            a{
                margin-right:8px;
                color:#898989;
            }
            
            a:hover{
                text-decoration:none;
                color:#d0d0d0;
            }
        }
    }
}



.social-panel{
    p.social-login{
        float:left;
        margin:0px !important;
    }
    
    .openid-form{
        float:left;
    }
    
    #openid_identifier{
        width:165px !important;
    }

}
