@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

$blue: #04ADD1;
$darkgrey: #171717;
$grey:#cdcdcd;
$greyblack:#303030;
$greymenu:#c1c1c1;
$normalgrey:#BDBDBD;
$lightgrey: #e5e5e5;


@mixin georgia($font-size) {
    font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
    font-size:$font-size;
	font-weight:bold;
	font-style:italic;
}


@mixin shadow($size, $color, $hoffset:0px) {
    @include single-box-shadow($color, 0px, $hoffset, $size);
    behavior: url(static/js/pie/PIE.htc);
}
