@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

/**
 * Colors
 */

$blue: #04ADD1;
$darkgrey: #171717;
$grey:#cdcdcd;
$greyblack:#303030;
$greymenu:#c1c1c1;
$normalgrey:#BDBDBD;


/**
 *  Font sizes
 */



/**
 *  Mixins
 */

@mixin georgia($font-size) {
    font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
    font-size:$font-size;
    font-weight:bold;
    font-style:italic;
}


@mixin shadow($size, $color) {
    @include single-box-shadow($color, 0px, 0px, $size);
    behavior: url(static/js/pie/PIE.htc);
}


@mixin background-vertical-gradient($colorTop, $colorBottom) {
    background-image: linear-gradient(top, $colorTop 0%, $colorBottom 100%);
    background-image: -o-linear-gradient(top, $colorTop 0%, $colorBottom 100%);
    background-image: -moz-linear-gradient(top, $colorTop 0%, $colorBottom 100%);
    background-image: -webkit-linear-gradient(top, $colorTop 0%, $colorBottom 100%);
    background-image: -ms-linear-gradient(top, $colorTop 0%, $colorBottom 100%);

    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, $colorTop),
	color-stop(1, $colorBottom)
    );
}

// box model that includes padding widthin width
@mixin border-box {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

@mixin box-shadow-bottomleft {
    box-shadow: $sizeShadowSmall $sizeShadowSmall $sizeShadowSmall rgba(0,0,0,0.5);
}


@mixin transition( $effect ) {
    transition: $effect;
    -moz-transition: $effect;
    -webkit-transition: $effect;
    -o-transition: $effect;
}
