@import "mixin.scss";


/* --Projects Cards-- */

#projects_list{
	position:relative;
	margin-top:40px;
    /*padding-bottom:15px;*/
    float:left;
}


.project_card{
	margin-right:20px;
	margin-bottom:25px;
	float:left;
	position:relative;
	background-color:black;
	border:0px;
	padding:0px;
	border:0px;
	top:5px;
	text-align:right;
	width:137px;
	border:0px !important;

	@include shadow(12px, #181818);

    .project-photo{
        position:relative;
        top:-5px;
        width:100%;
        height:71px;
        background-color:#BDBDBD;
        background-image:url("../images/project/no-picture.jpg");
        background-position:center center;
        background-repeat:no-repeat;
        
        img{
            width:100%;
            height:71px;
        }
    } 
    
    img, a{
        border:0px;
        padding:0px;
    }    
}


.project_card:hover{
	text-decoration:none;
}


.project_card_progress {
    height: 20px;
    position:relative;
    
    p {
        font-size:10px;
        color:white;
        font-style:normal;
        font-family:Arial, Helvetica, sans-serif;
        font-weight:normal;
        text-shadow:1px 1px 1px black;
        position:absolute;
        right:12px;
        top:3px;
        margin:0px;
        padding:0px;
    }
    
    img{
        position:relative;
        width:131px;
        height:15px;
        top:3px;
        left:-3px;
    }
}


.project_card_pictos{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#7d3b09;
	padding-top:1px;
	padding-bottom:30px;
	font-style:normal;
	font-weight:normal;
    margin-right:2px;
    
    ul, ul li{
        margin:0px;
        padding:0px;
    }
}


.project_card_content{
	position:relative;
	padding-left:7px;
	margin-right:7px;
	margin-bottom:5px;
	height:125px;
    
    .project_topic_mini{
        position:absolute;
        bottom:-5px;
        right:-5px;
    }    
}

.project_card_infos li{
	display:block;
	list-style-type:none;
	font-size:11px;
	color:#a4a4a3;
	text-decoration:none;
}



.project_infos{
	width:50%;	
	float:right;
	position:relative;
	height:234px;
    
    a{
        position:absolute;
        bottom:0px;
    }
}


.project_infos_title{
	font-size:15px;
	font-family : Tahoma, Verdana, Arial, Sans-serif;
	font-weight:bold;
	font-style:normal;
	color:#c2c2c2;
	position:absolute;
	bottom:0px;
	margin-bottom:22px;
	text-align:left;
}


.project_infos_location{
	font-size:11px;
	font-family : Tahoma, Verdana, Arial, Sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#848484;
	position:absolute;
	bottom:0px;
	text-align:left;
}

.project_infos_baseline{
	font-size:11px;
	font-family : Tahoma, Verdana, Arial, Sans-serif;
	font-weight:bold;
	font-style:normal;
	color:#c2c2c2;
	height:55px;
}

.project_infos_description{
	font-size:10px;
	margin-bottom:27px;
}

.pagination{
	position:relative;
	text-align:center;
	margin-bottom:30px;
    top:0px;
    
    a{
        color:#BDBDBD;
    }
    
    span.current{
        color:$blue;
    }

}