@import "i4p/mixins";

a.trigger {
    position: absolute;
    background:image-url('feedback/feedback-button.png') no-repeat;
    width:34px;
    height:121px;
    color:#fff;
    z-index:2;
    top: 125px !important;
 }

a.trigger.left {
    left: 0;
    @include border-radius(5px 0px 0px 5px);
}

 a.trigger.right {
    right: 0;
    @include border-radius(5px 0px 0px 5px);
 }

a.trigger:hover {
    /*background-color:#59B;*/
    text-decoration:none;
}

a.active.trigger {
    background:image-url('feedback/feedback-button-off.png') no-repeat;
}

.feedback-panel {
    color:#CCC;
    position: absolute;
    display: none;
    background: #000000;
    height: auto;
    z-index:10000;
}

.feedback-panel.left {
    left: 0;
    padding: 20px 30px 20px 100px;
    @include border-radius(15px);
}

.feedback-panel.right {
    right:-80px;
    padding: 20px 100px 20px 30px;
    @include border-radius(15px);
    background-color:#0C0C0C;
    border-bottom:1px solid black;
    border-top:1px solid #353535;
    margin-top:247px;

}

.feedback-panel p {
    font-size:11px;
}

.highlighted {
    background-color: #ffff66;
    color: #000;
}
