@import "i4p-mixins";
@import "i4p/constants";


/* --Workgroups------- */


.content{
    background-image:none;
    background-color:white;
    color:black;
}

.separator{
    background-image:none;
    border-bottom:1px solid #c2c2c2;
}

#workgroups_list{

    li{
        background-color:white;
        width:290px;
        height:200px;
        padding:8px;
        float:left;
        @include i4p-shadow(8px, black);
        @include border-radius(4px); 
        margin:10px;
        overflow:hidden;
        position:relative;
        background-image:url("../images/workgroups/workgroup_bulles.jpg");
        background-repeat:no-repeat;
        background-position:right bottom;


       
        .link{
            font-size:17px;
        }
        
        img{
            position:absolute;
            right:10px;
            top:10px;
        }
        
        span a{
            color:#7f7d7d;
            text-decoration:none;
        }
        
        span a:hover{
            color:#ab9c9c;
        }
    }
}


#workgroup_detail{
    position:relative;
    /*
    background-image:none;
    background-color:white;
    */        
    background-image:url("../images/workgroups/workgroup_bulles.jpg");
    background-repeat:no-repeat;
    background-position:right bottom;
    
    h1 a{
        font-size:18px;
    }

    .language{
        position:absolute;
        right:10px;
        top:35px;
    }
    
    
    a{
        color: $colorLightBlue;
        @include georgia(12px); 
    }
    
    .workgroup_desc{
        color:#333333;
        font-size:11px;
    }
    
    h3{
        float:left;
        display:block;
        margin:0px;
    }
    
    .workgroup_email {
        text-align: center;
    }
    form {
        display: inline-block;
        vertical-align: middle;
        
        margin: 0px;
        .button{
            color:#fff;
            text-decoration:none;
            text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
            background-position:0 -30px;
            background:url(../images/base/minibutton_blue.jpg);
            border:1px solid #2a65a0;   
            padding:3px 7px 3px 7px;
            margin: 0.5em;
        }
        
        .button:hover{
            color:#5a5959;
            text-decoration:none;
            text-shadow:1px 1px 0 #fff; 
            background-color:#eeeeee;
            border:1px solid #bdbdbd;
            background-image:none;
        }
    }
    
    #wg-ml-subscriber-list {
        ul{
            padding:0px;
            margin:0px;
            li{
                list-style-type:none;
                display:inline;
                padding:0px;
                margin:0px;
            
                img{
                    border:1px solid #F1E4D3;
                    @include i4p-shadow(4px, black);
                    margin:5px;
                }
            }
        }
        #ml_member_list, #ml_nonmember_list {
            li{
                display:list-item;
            }
        }
    }

    

    
    .workgroup_desc {
    /* Custom html contained in workgroup description to create a menu.
      It should not be here, or should be massively refactored */
        .grid_3 {
            width: 20%;
            display: inline-block;
            vertical-align: top;
            }
        .grid_14 {
            width: 70%;
            display: inline-block;
        }
        .sidebar_box {
    		background-color: #FAFAFA;
    		border: 1px solid #CDCDCD;
    		-moz-border-radius: 4px;
    		-webkit-border-radius: 4px;
    		-o-border-radius: 4px;
    		-ms-border-radius: 4px;
    		-khtml-border-radius: 4px;
    		border-radius: 4px;
    		-moz-box-shadow: 0 0 3px #f3f3f3;
    		-webkit-box-shadow: 0 0 3px #f3f3f3;
    		-o-box-shadow: 0 0 3px #f3f3f3;
    		box-shadow: 0 0 3px #f3f3f3;
    		margin-bottom: 40px;
    		padding: 4px 4px 20px 4px;
    	
    	
            h2 {
                color: #333;
                margin: 0 0 1em 0;
                padding: 0.5em 0 0 0;
                border-bottom: 1px solid #CCC;
                clear: left;
                text-align: center;
                #sb_left_dev {
                    color: #333 !important;
                    text-decoration: none !important;
                    text-align: center !important;
                    font-family: 'Lucida Grande', Verdana, Lucida, Helvetica, Arial, sans-serif !important;
                    font-size: 110% !important;
                    font-style: normal !important;
                    font-variant: normal !important;
                    font-weight: normal !important;
                    line-height: normal !important;

                }
            }

            ul {
                margin: 0px;
                li {
                    list-style-type: disc;
                    display: list-item;
                    list-style-type: square;
                    list-style-image: none;
                    margin: 0 0 0em 1.5em;
                    color: #638C9C;
                }
            }
            .secedit {
                display: none;
            }
        }
    	
    	a.wikilink1 {
    		line-height: 1.5em !important;
    		color: #1985B5 !important;
    		font-weight: underline !important;
    		font-style: normal !important;
    		font-family: 'Lucida Grande', Verdana, Lucida, Helvetica, Arial, sans-serif;
    		font-size: 12px;
    		font-style: normal;
    		font-variant: normal;
    		font-weight: normal;
    	}
    	

    }
}


