@import "i4p/mixins";
@import "i4p/constants";
@import "i4p/fonts";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
/* Undo zinnia's stylesheet */
    font-size: inherit;
}
$sizeTextZinnia: 1.3rem;
html {
    font-size: 62.5%; /* Either that or we swallow their whole screen.css... */
}


body.zinniai4p {
    font-size: 1.2rem;
}

body .zinnia {
    
    @include i4p-font-base($sizeTextZinnia);
    p {
    @include i4p-font-base($sizeTextZinnia);
    margin: 0 0 0.5em;

    }
    h2.entry-title {
        @include i4p-font-base($sizeTextLarge);
        font-weight: bold;
        margin: 0.5em 0;
    }
    h3 {
            @include i4p-font-base($sizeTextBig);
    
        margin-bottom: 0em;
    }
    ul {
        margin-bottom: 0.5em;
    }
    .entry-content p {
        @include i4p-font-base($sizeTextZinnia);
    }
    .entry-info {
        padding-left: 2.5em;
    }
    
    
    #header {
        margin-top: 0;
        h1 {
            display:none;
            margin-top: 0;
            a {
                color: $colorLightBlue !important;
            }
        }
        h1:first-letter {
                color: $colorTextGreen;
        }

    }
    a {
        color: $colorLinkOnWhite;
    }
    a:visited {
        color: $colorLinkOnWhite
    }
    .entry-body {
        img {
            max-width: 35%;
        }
        .entry-excerpt {
            display: none;
        }
    }
    #widget-archives ul ul {
        display: none;
    }
    #widget-populars {
        a+a { /* Remove number of comments */
            display: none;
        }
    }
    .entry-footer {
        .addthis_toolbox {
            margin-top: 1.5em;
            margin-bottom: 1em;
        }
    }
    
    form legend {
        @include i4p-font-base($sizeTextZinnia);
        font-weight: bold;
    }
}
body.entry-list { 
    .entry-body {
        img {
            max-height: 120px;
        }
    }
    .entry-footer {
        .entry-addthis {
            text-align: right;
            .addthis_toolbox {
                display: inline-block;
                margin-top: 0em;
                margin-bottom: 0em;
            }
        }
    }
    .continue-reading {
        text-align: right;
        margin-top: -6px;
        }
}

/* Feature hiding */

body.zinniai4p {
 /* All zinnia pages */
    #widget-randoms {
        display: none;
    }
    #widget-tags {
        display: none;
    }
    #widget-linkbacks {
        display: none;
    }
    #widget-calendar {
        display: none;
    }
    #widget-authors {
        display: none;
    }
    #pingbacks {
        display: none;
    }
    #trackbacks{
        display: none;
    }
    .entry-shorturl {
        display: none;
    }
    .entry-next, .entry-previous {
        display: none;
    }
    /* Yearly archives */
    ul.paginator+h2 {
        display:none;
    }
    ul.paginator+h2+ul {
        display:none;
    }
}
/* Entry list page */
body.entry-list { 


    #widget-recents {
        display: none;
    }
    .entry-shorturl {
        display: none;
    }
    .entry-comments {
        display: none;
    }
    .entry-tags {
        display: none;
    }
}
/* Single entry page */
body.entry { 
    #widget-archives {
        display: none;
    }
    #widget-comments {
        display: none;
    }
}
