@import "i4p/mixins";
@import "i4p/constants";
@import "i4p/fonts";

body .zinnia {
    @include i4p-font-base($sizeTextNormal);
    font-size: 62.5%;
    p {
    margin: 0 0 0.5em;
    line-height: 1.5;
    }
    h3 {
        margin-bottom: 0em;
    }
    ul {
        margin-bottom: 0.5em;
    }
    .entry-content p {

    }
    .entry-info {
        padding-left: 2.5em;
    }
    
    
    #header {
        margin-top: 0;
        h1 {
            display:none;
            margin-top: 0;
            a {
                color: $colorLightBlue !important;
            }
        }
        h1:first-letter {
                color: $colorTextGreen;
        }

    }
    a {
        color: $colorLinkOnWhite;
    }
    a:visited {
        color: $colorLinkOnWhite
    }
    .entry-body {
        img {
        max-width: 35%;
        }
        .entry-excerpt {
            display: none;
        }
    }
    #widget-archives ul ul {
        display: none;
    }
    #widget-populars {
        a+a { /* Remove number of comments */
            display: none;
        }
    }
}
body.entry-list { 
    .entry-body {
        img {
            max-height: 120px;
        }
    }
    .continue-reading {
        text-align: right;
        margin-top: -6px;
        }
}

/* Feature hiding */

body.zinniai4p {
 /* All zinnia pages */
    #widget-randoms {
        display: none;
    }
    #widget-tags {
        display: none;
    }
    #widget-linkbacks {
        display: none;
    }
    #widget-calendar {
        display: none;
    }
    #widget-authors {
        display: none;
    }
    #pingbacks {
        display: none;
    }
    #trackbacks{
        display: none;
    }
    .entry-next, .entry-previous {
        display: none;
    }
    /* Yearly archives */
    ul.paginator+h2 {
        display:none;
    }
    ul.paginator+h2+ul {
        display:none;
    }
}
/* Entry list page */
body.entry-list { 


    #widget-recents {
        display: none;
    }
    .entry-shorturl {
        display: none;
    }
    .entry-comments {
        display: none;
    }
    .entry-tags {
        display: none;
    }
}
/* Single entry page */
body.entry { 
    #widget-archives {
        display: none;
    }
    #widget-comments {
        display: none;
    }
}
