
body.question-page div#ContentLeft > a.submit , body.question-page div.comments div.controls .button{ 
    text-transform:uppercase;
    font-family: 'OpenSans', Arial, sans-serif;
    padding:5px;
    padding-right:10px;
    padding-left:10px;
    font-weight:bold;   
    font-size:12px;
    -webkit-border-radius: 15px;    
    border-radius: 15px;
    border:none;
    box-shadow:none;
    text-shadow:none;
    height:auto;
    background: rgb(74,185,232);
    background: -moz-linear-gradient(top,  rgba(74,185,232,1) 0%, rgba(57,144,180,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(74,185,232,1)), color-stop(100%,rgba(57,144,180,1)));
    background: -webkit-linear-gradient(top,  rgba(74,185,232,1) 0%,rgba(57,144,180,1) 100%);
    background: -o-linear-gradient(top,  rgba(74,185,232,1) 0%,rgba(57,144,180,1) 100%);
    background: -ms-linear-gradient(top,  rgba(74,185,232,1) 0%,rgba(57,144,180,1) 100%);
    background: linear-gradient(to bottom,  rgba(74,185,232,1) 0%,rgba(57,144,180,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ab9e8', endColorstr='#3990b4',GradientType=0 );
    color:#ffffff;
    }
body.question-page div#ContentLeft > a.submit:hover{
    text-decoration:none;
    background: rgb(57,144,180);
    background: -moz-linear-gradient(top,  rgba(57,144,180,1) 0%, rgba(73,182,228,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(57,144,180,1)), color-stop(100%,rgba(73,182,228,1)));
    background: -webkit-linear-gradient(top,  rgba(57,144,180,1) 0%,rgba(73,182,228,1) 100%);
    background: -o-linear-gradient(top,  rgba(57,144,180,1) 0%,rgba(73,182,228,1) 100%);
    background: -ms-linear-gradient(top,  rgba(57,144,180,1) 0%,rgba(73,182,228,1) 100%);
    background: linear-gradient(to bottom,  rgba(57,144,180,1) 0%,rgba(73,182,228,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3990b4', endColorstr='#49b6e4',GradientType=0 );
}

body.question-page div#ContentLeft > span {
    display:block;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size:11px;
    color:#706f6f;
    padding-top:10px;}
    
    
    
    
/*===================================================================================================================
                                       FIN QUESTION TEMPLATE
====================================================================================================================*/