/**
 *  Mixins
 */
/***
 * IMPORTANT : CONSTANTS NAMING SCHEME
 *
 * The naming scheme is simple, your constants name must follow this rule :
 * "<typename>[<Targetname>]<Attributename>"
 * 
 * - <typename> could be "color", "size", "font", etc.
 *
 * - <targetname> is optional and could be any targetable CSS objects or
 *   properties like "text", "border", etc. 
 *
 * - <attributename> is a meaningful description of your constant, like "Blue",
 *   "LightBlue", "Small", "Huge", etc.
 */
/**
 * Old Colors (obsolete, please use new color naming scheme instead)
 */
/**
 * New colors
 */
/**
 * text sizes
 */
/**
 * font piles
 */
.content-feedback {
  min-height: 250px;
}

.feedback-title {
  font-size: 18px;
}

#feedback-text {
  font-size: 11px;
  margin-bottom: 10px;
}

#feedback_filters {
  background-color: #0c0c0c;
  border-top: 1px solid #353535;
  border-bottom: 1px solid black;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 4px black;
  -moz-box-shadow: 0px 0px 4px black;
  box-shadow: 0px 0px 4px black;
  behavior: url(static/js/pie/PIE.htc);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  position: fixed;
  width: 80px;
}
#feedback_filters h4 {
  margin-top: 8px;
}
#feedback_filters .button {
  margin-left: 0px;
  margin-bottom: 4px;
  top: -5px;
  -webkit-box-shadow: 0px 0px 4px black;
  -moz-box-shadow: 0px 0px 4px black;
  box-shadow: 0px 0px 4px black;
  behavior: url(static/js/pie/PIE.htc);
}

#feedback_infos {
  margin-top: 10px;
}

#feedback-list {
  list-style-type: none;
  padding-top: 5px;
}
#feedback-list li {
  padding-bottom: 5px;
  padding-top: 5px;
  background-image: url(../images/base/separator.jpg);
  background-repeat: repeat-x;
  background-position: top;
  padding-left: 20px;
}

#feedback-pagination {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.vote-actions .button {
  -webkit-box-shadow: 0px 0px 4px black;
  -moz-box-shadow: 0px 0px 4px black;
  box-shadow: 0px 0px 4px black;
  behavior: url(static/js/pie/PIE.htc);
  margin-left: 2px;
  margin-right: 2px;
  left: 1px;
}

.feedback-votes {
  background-color: #eee;
  width: 50px;
  text-align: center;
  padding: 3px;
  background-color: #0c0c0c;
  border-top: 1px solid #353535;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0px 0px 4px black;
  -moz-box-shadow: 0px 0px 4px black;
  box-shadow: 0px 0px 4px black;
  behavior: url(static/js/pie/PIE.htc);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.feedback-votes .numvotes {
  font-size: 10px;
  margin-bottom: 3px;
}

.feedback-entry .score {
  font-size: 3em;
  font-weight: bold;
}

.feedback-entry form {
  display: inline;
}
.feedback-entry .vote_button {
  border: 1px solid #666;
  width: 20px;
  height: 20px;
}
.feedback-entry a {
  color: #04ADD1;
  font-family: Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
}
.feedback-entry .feedback-info .type_Q, .feedback-entry .feedback-info .type_P, .feedback-entry .feedback-info .type_I {
  padding: 3px;
  color: white;
  vertical-align: middle;
}
.feedback-entry .feedback-info span img {
  position: relative;
  top: -1px;
}
.feedback-entry .feedback-info .title {
  font-size: 1.4em;
  vertical-align: middle;
}
.feedback-entry .feedback-info .title .link {
  font-size: 17px;
}
.feedback-entry .feedback-info .feedback-desc {
  color: #666;
}
.feedback-entry .feedback-info .who {
  font-size: 0.8em;
}

.feedback-info {
  margin-top: 10px;
  margin-bottom: 10px;
}

#feedback-filter {
  list-style: none;
  margin-bottom: 20px;
}
#feedback-filter li {
  list-style: none;
  text-align: center;
  margin-bottom: 3px;
  color: #eee;
  width: 100%;
  font-size: 1.1em;
}

#feedback-order li {
  list-style: none;
  text-align: center;
  margin-bottom: 3px;
  color: #eee;
  width: 100%;
  font-size: 1.1em;
}

#feedback-order .order-on .button, #feedback-filter .filter-on .button {
  background-image: url(../images/base/minibutton_red.jpg);
  background-repeat: repeat-x;
  color: white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #881b1b;
}

#feedback-tab-suggestions {
  width: 200px;
}

form#feedback-new #kind {
  margin-bottom: 10px;
}
form#feedback-new ul {
  display: inline;
}
form#feedback-new ul li {
  list-style-type: none;
  display: inline;
  vertical-align: middle;
  padding-left: 0px;
  margin-left: 5px;
}
form#feedback-new div#subject {
  margin-bottom: 10px;
}
form#feedback-new div#subject input {
  width: 400px;
}
form#feedback-new input[type="submit"] {
  border: 1px solid black;
  height: 25px;
  background-color: #eee;
}

div#feedback-sidebar {
  color: #666;
  background-color: #0c0c0c;
  border-top: 1px solid #353535;
  border-bottom: 1px solid black;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 4px black;
  -moz-box-shadow: 0px 0px 4px black;
  box-shadow: 0px 0px 4px black;
  behavior: url(static/js/pie/PIE.htc);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

#feedback-comment #id_comment {
  width: 100%;
  border: 1px solid black;
  top: -10px;
  position: relative;
}
#feedback-comment input[type=submit] {
  float: right;
}

#feedback-comments-list a {
  color: #04ADD1;
  font-family: Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
}
#feedback-comments-list li div {
  margin-bottom: 15px;
  font-size: 12px;
  color: #7F7E7E;
}

#feedback-new #id_text {
  width: 100%;
}

.feedback-description {
  text-align: justify;
}

.feedback-new-page #id_title {
  width: 100% !important;
}

.feedback-edit-admin form p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.feedback-edit-admin form label {
  width: 10%;
  float: left;
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
  position: relative;
  top: 3px;
  color: #04add1;
}
.feedback-edit-admin form .helptext {
  margin-left: 11%;
}
.feedback-edit-admin form input[type=text], .feedback-edit-admin form textarea {
  width: 85%;
}
.feedback-edit-admin input[type=submit] {
  float: right;
  position: relative;
  right: 20px;
  top: 5px;
}
