/**
 * Colors
 */
/**
 *  Font sizes
 */
/**
 *  Mixins
 */
/*---- Projects sorting ----*/
#projectlist_sort {
  background-color: #0c0c0c;
  padding: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  right: 0px;
  top: 3px;
}
#projectlist_sort h4 {
  margin-top: 8px;
}
#projectlist_sort .rss {
  display: inline-block;
}
#projectlist_sort .button {
  top: 4px;
  margin-left: 3px;
  margin-right: 4px;
  -webkit-box-shadow: 0px 0px 4px black;
  -moz-box-shadow: 0px 0px 4px black;
  box-shadow: 0px 0px 4px black;
  behavior: url(static/js/pie/PIE.htc);
}

#projectlist_sort_buttons {
  display: inline-block;
}
#projectlist_sort_buttons .filter-on a.button {
  background-image: url("../images/base/minibutton_red.jpg");
  background-repeat: repeat-x;
  border: 1px solid #881B1B;
  color: white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

/*---- Projects languages ----*/
#langage-tool {
  position: relative !important;
  width: 90px;
  top: -2px;
}

.sf-menu {
  position: absolute;
}
.sf-menu ul {
  position: static !important;
  width: auto !important;
  border-top: 0px solid #393939 !important;
}
.sf-menu ul li {
  width: 80px;
}
.sf-menu a {
  padding: 5px;
  color: #979797;
}
.sf-menu .sf-sub-indicator {
  top: 6px;
}

/*---- Filters ----*/
.categories_project_page {
  position: relative !important;
  overflow: hidden;
  top: auto;
  bottom: 0px;
  margin-left: 8px;
  margin-right: 7px;
}

.categories {
  background-image: url("../images/base/menu-bg.jpg");
  background-color: #161616;
  height: 36px;
}
.categories .menu {
  margin-left: 34px;
}
.categories .menu a {
  width: 100%;
  height: 30px;
  display: block;
}
.categories .menu ul .selected {
  color: #888888;
}

#projects_filters {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  top: -10px;
}

.filters_box {
  background-color: #0e0e0e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.filtersbox_content {
  margin: 10px;
  color: #393939;
  position: relative;
}
.filtersbox_content h4 {
  color: #d3d3d1;
  font-family: Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  display: block;
  border-bottom: 1px solid #393939;
  margin: 0px;
  margin-bottom: 10px;
  padding-bottom: 3px;
}
.filtersbox_content .invert {
  position: absolute;
  top: 6px;
  right: 0px;
  cursor: pointer;
}
.filtersbox_content .invert:hover {
  text-decoration: none;
  color: #d3d3d1;
}
.filtersbox_content a {
  font-size: 11px;
  color: #393939;
}
.filtersbox_content p {
  clear: both;
  display: block;
}
.filtersbox_content select {
  width: 100%;
}
.filtersbox_content #id_objectives {
  width: 100%;
  height: 83px;
}
.filtersbox_content option[selected="selected"] {
  background-color: red;
}
.filtersbox_content .pictos-categ {
  margin-bottom: 10px;
  border-right: 1px solid #393939;
  text-align: center;
  font-size: 10px;
}
.filtersbox_content .pictos-categ:last-child {
  border-right: 0px solid #393939;
}
.filtersbox_content .filtersbox_choices {
  position: absolute;
  top: 2px;
  right: 0px;
}
.filtersbox_content .filtersbox_choices a {
  margin-left: 5px;
  cursor: pointer;
}
.filtersbox_content .filtersbox_choices a:hover {
  text-decoration: none;
  color: #d3d3d1;
}

/*---- Themes - Cloudtag ----*/
#cloudtag_list li a {
  color: #767676;
  font-family: Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
  font-size: inherit;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
#cloudtag_list li a.selected {
  color: #119CBA;
}

/*---- Project Status - Checkboxes ----*/
.filters-picto {
  width: 70px;
  margin-left: auto;
  margin-right: auto;
}
.filters-picto p {
  visibility: hidden;
  display: none;
}
.filters-picto .ez-checkbox {
  width: 19px;
  height: 27px;
  padding: 0 5px 0 0;
  display: block;
  clear: left;
  float: left;
  background-position: top center;
  cursor: pointer;
}
.filters-picto .ez-checked {
  background-position: -2px -25px !important;
}
.filters-picto #filter_val_edit .ez-checkbox {
  background-image: url("../images/project/filters-picto-editing.jpg");
}
.filters-picto #filter_val_full .ez-checkbox {
  background-image: url("../images/project/filters-picto-complete.jpg");
}
.filters-picto #bestof .ez-checkbox {
  background-image: url("../images/project/filters-picto-bestof.jpg");
  left: 17px;
  position: relative;
}
.filters-picto #popular .ez-checkbox {
  background-image: url("../images/project/filters-picto-popular.jpg");
}
.filters-picto #team .ez-checkbox {
  background-image: url("../images/project/filters-picto-team.jpg");
}
.filters-picto #nobody .ez-checkbox {
  background-image: url("../images/project/filters-picto-nobody.jpg");
}

.filters-progress {
  margin-bottom: 10px;
  position: relative;
  font-size: 10px;
  position: relative;
  margin-left: 20px;
  margin-top: 12px;
}
.filters-progress a {
  font-size: 10px;
}
.filters-progress ul li {
  width: 90px;
  text-align: center;
  margin: 0px !important;
  margin-bottom: 15px !important;
}
.filters-progress ul li input {
  width: 90px;
  height: 20px;
}
.filters-progress ul li.selected p {
  color: white;
}
.filters-progress .ez-checkbox {
  width: 90px;
  height: 20px;
  padding: 0 5px 0 0;
  display: block;
  clear: left;
  float: left;
  background-repeat: no-repeat;
  background-position: top center;
  cursor: pointer;
  margin-bottom: 5px;
}
.filters-progress .ez-checked {
  background-position: 3px -25px !important;
}
.filters-progress #filter_val_idea .ez-checkbox {
  background-image: url("../images/project/filters-progressbar_25.jpg");
}
.filters-progress #filter_val_begin .ez-checkbox {
  background-image: url("../images/project/filters-progressbar_50.jpg");
}
.filters-progress #filter_val_wip .ez-checkbox {
  background-image: url("../images/project/filters-progressbar_75.jpg");
}
.filters-progress #filter_val_end .ez-checkbox {
  background-image: url("../images/project/filters-progressbar_100.jpg");
}

.filters-picto ul, .filters-progress ul {
  margin: 0;
  padding: 0;
}

.filters-picto ul li, .filters-progress ul li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.ez-hide {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}

.categories .menu {
  text-align: center;
}

.categories .menu .pagination {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 300px;
}
.categories .menu .pagination a {
  display: inline;
}

#reset_filters {
  position: relative;
  cursor: pointer;
  font-size: 11px;
  display: inline;
  font-style: normal;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-weight: normal;
}
#reset_filters img {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
#reset_filters span {
  text-decoration: underline;
}

#reset_filters:hover {
  text-decoration: none;
  color: white;
}

/*---- About section ----*/
.block-content .colonne:last-child {
  width: 310px !important;
}
.block-content .colonne h1 {
  padding-left: 30px;
  position: relative;
}
.block-content .colonne h1 img {
  position: absolute;
  top: -5px;
  left: -4px;
}
.block-content .colonne.omega h1 {
  padding-left: 0px;
}
.block-content p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #BDBDBD;
}

.catchy {
  position: relative;
  margin-top: 50px;
  color: white;
}
.catchy h1 {
  font-size: 25px;
  -webkit-box-shadow: 0px 0px 2px #181818;
  -moz-box-shadow: 0px 0px 2px #181818;
  box-shadow: 0px 0px 2px #181818;
  behavior: url(static/js/pie/PIE.htc);
}
.catchy .edito {
  font-size: 18px;
  padding-right: 20px;
  -webkit-box-shadow: 0px 0px 2px #181818;
  -moz-box-shadow: 0px 0px 2px #181818;
  box-shadow: 0px 0px 2px #181818;
  behavior: url(static/js/pie/PIE.htc);
  text-align: left;
}

.manifesto-link {
  color: #04add1;
  font-family: Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  border-bottom: 1px solid #1b5e6c;
  padding-top: 5px;
  margin-right: 15px;
  padding-bottom: 3px;
  float: right;
  -webkit-box-shadow: 0px 0px 2px #181818;
  -moz-box-shadow: 0px 0px 2px #181818;
  box-shadow: 0px 0px 2px #181818;
  behavior: url(static/js/pie/PIE.htc);
}

.manifesto-link:hover {
  color: #65e4ff;
  text-decoration: none;
}

.categories .search {
  right: 162px;
}

.footer {
  top: 11px;
  margin-top: 10px;
  height: 30px;
  padding-top: 10px;
  background-color: black;
}

.social-networks a {
  padding: 3px;
  top: -5px;
  position: relative;
}

#lock-picto {
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 7px;
  margin-left: 8px;
}

#lock-picto.on {
  background-image: url("../images/base/lock-on.png");
  left: -4px;
}

#lock-picto.off {
  background-image: url("../images/base/lock-off.png");
}
