/**
 *  Mixins
 */
/***
 * IMPORTANT : CONSTANTS NAMING SCHEME
 *
 * The naming scheme is simple, your constants name must follow this rule :
 * "<typename>[<Targetname>]<Attributename>"
 * 
 * - <typename> could be "color", "size", "font", etc.
 *
 * - <targetname> is optional and could be any targetable CSS objects or
 *   properties like "text", "border", etc. 
 *
 * - <attributename> is a meaningful description of your constant, like "Blue",
 *   "LightBlue", "Small", "Huge", etc.
 */
/**
 * Old Colors (obsolete, please use new color naming scheme instead)
 */
/**
 * New colors
 */
/**
 * text sizes
 */
/**
 * font piles
 */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

.nomargin {
  margin: 0px;
}

.nopadding {
  padding: 0px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.none {
  float: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bold {
  font-weight: bold;
}

.grey {
  background-color: #d2d2d2 !important;
  cursor: default;
}

.grey:hover {
  background-color: #d2d2d2 !important;
  background-image: none !important;
}

.arrondi {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.separator {
  height: 2px;
  background-image: url(../images/base/separator.jpg);
  background-repeat: repeat-x;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

hr {
  background-image: url(../images/base/separator.jpg);
  background-repeat: repeat-x;
  background-position: bottom;
  width: 100%;
  border: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 2px;
}

.link {
  color: #04add1;
  font-family: Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.edit1:hover {
  background-image: url("../images/project/edit1.png");
  background-position: right center;
  background-repeat: no-repeat;
  display: block inline;
  padding-right: 20px;
  position: relative;
}

.edit2 {
  background-image: url("../images/project/edit2.png");
  background-position: right center;
  background-repeat: no-repeat;
  display: inline-block;
  padding-right: 20px;
  position: relative;
}

.focus:hover {
  background-color: #e4e4e4;
}

/* Infobulles-------------------------------------------------------------------------------------------------- */
a.info {
  position: relative !important;
  z-index: 24;
  color: white;
  text-decoration: none;
  float: left;
}

a.info:hover {
  z-index: 25;
}

a.info span {
  display: none;
}

a.info:hover span {
  display: block;
  position: absolute;
  top: 10px;
  left: 2em;
  width: 5em;
  border: 1px solid #000;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: none;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.greyblock table a.info:hover span {
  left: -7em;
  width: 5em;
}
