body {
  background-color: #282828;
}

a:hover {
  text-decoration: none;
}

hr {
  border: 1px solid #050505 !important;
  border-bottom: 1px solid #333333 !important;
  background-image: none;
  height: 0px;
}

/*---- VIDEO ----*/
#video-zone {
  height: 133px;
  background-color: #e8e8e8;
  position: relative;
}
#video-zone h1.what_is {
  font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
  font-size: 32px;
  position: absolute;
  top: 40px;
  left: 0px;
  width: 255px;
  color: #303030;
  z-index: 60;
  text-align: right;
  font-style: normal;
  text-transform: uppercase;
}
#video-zone #project_block, #video-zone #network_block {
  width: 180px;
  position: absolute;
  bottom: 30px;
  font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  z-index: 60;
}
#video-zone #project_block h1, #video-zone #network_block h1 {
  font-family: "OpenSansCondensedBold", Arial, Helvetica, sans-serif;
  font-size: 19px;
  text-shadow: 1px 1px white;
  font-style: normal;
  font-weight: normal;
  color: #303030;
}
#video-zone #project_block a, #video-zone #network_block a {
  font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
  color: black;
}
#video-zone #project_block {
  left: 375px;
}
#video-zone #network_block {
  left: 615px;
}
#video-zone .baseline {
  font-family: "OpenSansItalic", Arial, Helvetica, sans-serif;
  font-size: 15px;
  position: absolute;
  right: 0px;
  bottom: 30px;
  width: 180px;
  text-align: right;
}

/*---- FOCUS ----*/
#focus-zone {
  background-image: url(../images/home/focus-bg.jpg);
  height: 364px;
}
#focus-zone #focus {
  background-color: black;
  color: #737373;
  position: relative;
}
#focus-zone #focus #focus-menu {
  height: 37px;
  position: relative;
}
#focus-zone #focus #focus-menu ul.focus-filters {
  float: left;
  padding: 6px 0px;
  padding-top: 10px;
  position: relative;
}
#focus-zone #focus #focus-menu ul.focus-filters li {
  position: relative;
}
#focus-zone #focus #focus-menu .allprojects {
  float: right;
}
#focus-zone #focus #projects_slide {
  height: 290px;
  width: 977px;
  overflow: hidden;
}
#focus-zone #focus #projects_slide .project_slider .focus_project {
  position: relative;
  float: left;
  width: 195px;
  height: 290px;
  /*margin-right:1px;*/
  /* hack for IE8 & 9 */
}
#focus-zone #focus #projects_slide .project_slider .focus_project .project_title_cover {
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("../images/home/projectslide_cre.png");
  width: 195px;
  height: 290px;
  z-index: 200px;
}
@media \0screen {
  #focus-zone #focus #projects_slide .project_slider .focus_project .project_title_cover {
    background-image: url("../images/home/projectslide_cre.gif");
  }
}
#focus-zone #focus #projects_slide .project_slider .focus_project .project_photo {
  width: 195px;
  height: 290px;
  background-color: #bdbdbd;
  background-position: center bottom;
  background-repeat: no-repeat;
}
#focus-zone #focus #projects_slide .project_slider .focus_project .project_photo table {
  width: 110px;
  height: 90px;
  margin: 0px auto;
  position: relative;
  top: 75px;
  text-align: center;
}
#focus-zone #focus #projects_slide .project_slider .focus_project .project_photo table span {
  text-align: center;
  position: relative;
  font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  background-color: white;
  font-style: normal;
  font-weight: normal;
  color: #303030;
  line-height: 20px;
}
#focus-zone #focus #projects_slide .project_slider .focus_project.addproject h1 {
  font-family: "OpenSansCondensedBold", Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-style: normal;
  position: absolute;
  right: 0px;
  top: 119px;
  width: 50%;
  margin-right: 15px;
  color: white;
  text-transform: uppercase;
}
#focus-zone #focus #loading {
  width: 32px;
  height: 32px;
  position: absolute;
  text-align: center;
  visibility: hidden;
  z-index: 999;
  top: 160px;
  left: 470px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  background-color: black;
}
#focus-zone #focus #loading img {
  position: relative;
  top: 9px;
}
#focus-zone #focus #focus-nav {
  height: 37px;
}
#focus-zone #focus #focus-nav .previous, #focus-zone #focus #focus-nav .next {
  position: relative;
  top: 10px;
}
#focus-zone #focus #focus-nav .previous {
  float: left;
}
#focus-zone #focus #focus-nav .next {
  float: right;
}
#focus-zone #focus #focus-menu a, #focus-zone #focus #focus-nav a {
  font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #c1c1c1;
  padding: 8px 10px;
  padding-bottom: 5px;
}
#focus-zone #focus #focus-menu a:hover {
  color: white;
}
#focus-zone #focus #focus-menu a.selected {
  color: white;
  border-bottom: 4px solid #04add1;
}
#focus-zone #focus #focus-nav a:hover {
  color: white;
}
#focus-zone #focus .allprojects {
  padding: 6px 0px;
  padding-top: 10px;
}

/*---- CONTENT ----*/
#content-zone #content {
  background: url(../images/home/content-bg.jpg) repeat-y right;
  padding: 15px 0px;
}
#content-zone #content #left_col {
  width: 685px;
  float: left;
  position: relative;
}
#content-zone #content #left_col .infoblock {
  background-image: url("../images/home/infoblock-bg.jpg");
  margin-bottom: 20px;
  height: 250px;
}
#content-zone #content #left_col .infoblock img.image {
  border-right: 3px solid #04add1;
  float: left;
}
#content-zone #content #left_col .infoblock .details {
  width: 385px;
  height: 230px;
  padding: 10px 28px;
  padding-left: 15px;
  float: right;
  position: relative;
}
#content-zone #content #left_col .infoblock .details h2 {
  margin: 0px;
  color: #303030;
  text-shadow: 1px 1px 0px white;
  font-family: "OpenSansCondensedBold", Arial, Helvetica, sans-serif !important;
  font-size: 16px;
}
#content-zone #content #left_col .infoblock .details span.date {
  position: absolute;
  top: 11px;
  right: 33px;
  color: #737373;
  font-style: italic;
  font-size: 11px;
}
#content-zone #content #left_col .infoblock .details .plus {
  position: absolute;
  top: 0px;
  right: 0px;
}
#content-zone #content #left_col .infoblock .details h1 {
  margin: 10px 0px;
  color: #303030;
  font-family: "OpenSansRegular", Arial, Helvetica, sans-serif !important;
  font-size: 19px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
}
#content-zone #content #left_col .infoblock .details .description p {
  color: #303030;
}
#content-zone #content #left_col .infoblock .details .description ul {
  padding-left: 20px;
  color: #303030;
  margin-bottom: 10px;
}
#content-zone #content #left_col .infoblock .details .description ul li {
  float: none;
  list-style-image: url("../images/base/blue_tick.png");
  display: list-item;
  margin: 5px 0px;
}
#content-zone #content #left_col .infoblock .details hr {
  border-top: 1px solid #c1c1c1 !important;
  border-left: 1px solid #c1c1c1 !important;
  border-right: 1px solid #c1c1c1 !important;
  border-bottom: 1px solid white !important;
  position: absolute;
  bottom: 33px;
  width: 385px;
}
#content-zone #content #left_col .infoblock .details ul.infotags {
  position: absolute;
  bottom: 16px;
}
#content-zone #content #left_col .infoblock .details ul.infotags li {
  background-color: #a7a7a7;
  padding: 3px;
  font-style: italic;
  font-size: 11px;
}
#content-zone #content #left_col .infoblock .details ul.infotags li a {
  color: white;
}
#content-zone #content #left_col .infoblock .details ul.info-share {
  position: absolute;
  bottom: 12px;
  right: 30px;
}
#content-zone #content #left_col #blog_box, #content-zone #content #left_col #twitter_box {
  background-image: url("../images/home/infoblock-bg.jpg");
  float: left;
  height: 290px;
  overflow: hidden;
}
#content-zone #content #left_col #blog_box h1, #content-zone #content #left_col #twitter_box h1 {
  padding: 8px;
  background-color: #c1c1c1;
  font-family: "OpenSansCondensedBold", Arial, Helvetica, sans-serif !important;
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase;
  text-shadow: 1px 1px #f3f3f3;
  color: #303030;
  border-top: 3px solid #04add1;
}
#content-zone #content #left_col #blog_box ul, #content-zone #content #left_col #twitter_box ul {
  margin: 8px;
  margin-top: 3px;
}
#content-zone #content #left_col #blog_box ul li, #content-zone #content #left_col #twitter_box ul li {
  padding: 5px 0px;
  border-bottom: 1px dotted #c1c1c1;
  float: left;
}
#content-zone #content #left_col #blog_box ul li img, #content-zone #content #left_col #twitter_box ul li img {
  float: left;
  margin-right: 10px;
}
#content-zone #content #left_col #blog_box ul li p, #content-zone #content #left_col #twitter_box ul li p {
  font-size: 10px;
  color: #303030;
}
#content-zone #content #left_col #blog_box ul li p span.date, #content-zone #content #left_col #twitter_box ul li p span.date {
  color: grey;
  clear: both;
  font-size: 9px;
}
#content-zone #content #left_col #blog_box {
  width: 54.5%;
  margin-right: 1.5%;
}
#content-zone #content #left_col #twitter_box {
  width: 42.5%;
  margin-left: 1.5%;
}
#content-zone #content #left_col #twitter_box h1 {
  padding-left: 40px;
  background-image: url("../images/home/twitter-logo.jpg");
  background-repeat: no-repeat;
  background-position: 5px 2px;
}
#content-zone #content #right_col {
  width: 245px;
  padding: 0px 10px;
  float: right;
  position: relative;
  color: #cdcdcd;
}
#content-zone #content #right_col span {
  font-family: "OpenSansItalic", Arial, Helvetica, sans-serif;
  font-size: 11px;
  margin: 15px 0px;
  margin-top: 5px;
  display: block;
}
#content-zone #content #right_col span a {
  color: #cdcdcd;
}
#content-zone #content #right_col span a:hover {
  color: white;
}
#content-zone #content #right_col .homebox {
  margin: 15px 0px;
  position: relative;
}
#content-zone #content #right_col .homebox h1 {
  font-family: "OpenSansCondensedBold", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  position: relative;
  text-transform: uppercase;
  top: 3px;
}
#content-zone #content #right_col .homebox hr {
  margin: 7px 0px;
}
#content-zone #content #right_col .homebox label {
  float: left;
}
#content-zone #content #right_col .homebox input[type=text], #content-zone #content #right_col .homebox input[type=password], #content-zone #content #right_col .homebox textarea {
  background-color: #242424;
  color: #818181;
  border: 1px solid #343434;
  margin: 3px 0px;
  width: 98%;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
#content-zone #content #right_col .homebox input[type=submit], #content-zone #content #right_col .homebox button {
  font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding: 3px 6px;
  margin: 0px;
  background-color: #303030;
  color: #737373;
  border: 0px;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
#content-zone #content #right_col .homebox input[type=submit]:hover, #content-zone #content #right_col .homebox button:hover {
  color: black !important;
}
#content-zone #content #right_col .homebox .close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
#content-zone #content #right_col #loginbox {
  background-color: #292929;
  background-image: url("../images/home/loginbox-bg.jpg");
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  overflow: hidden;
}
#content-zone #content #right_col #loginbox .loginlink {
  font-family: "OpenSansCondensedBold", Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #cdcdcd;
  margin: 0px 3px;
}
#content-zone #content #right_col #loginbox .loginlink img {
  margin: 0px 5px;
  position: relative;
  top: 3px;
}
#content-zone #content #right_col #loginbox .loginlink:first-child {
  color: #04add1;
}
#content-zone #content #right_col #loginbox hr {
  border-top: 1px solid #242424 !important;
  border-left: 1px solid #242424 !important;
  border-right: 1px solid #242424 !important;
  margin-top: 10px;
}
#content-zone #content #right_col #loginbox ul {
  margin-top: 8px;
}
#content-zone #content #right_col #loginbox form label {
  display: none;
  visibility: hidden;
}
#content-zone #content #right_col #loginbox form input[type=submit], #content-zone #content #right_col #loginbox form button {
  background-image: url("../images/home/openid-button.jpg");
  color: white;
}
#content-zone #content #right_col #loginbox #panels-slide {
  width: 735px;
  height: 80px;
  position: relative;
  left: 0px;
}
#content-zone #content #right_col #loginbox #panels-slide .loginpanel {
  position: relative;
  width: 225px;
  height: 80px;
  margin-right: 20px;
  float: left;
}
#content-zone #content #right_col #loginbox #panels-slide .panel2 input[type=text] {
  width: 55%;
  padding: 4px;
}
#content-zone #content #right_col #loginbox #panels-slide .panel3 input[type=text], #content-zone #content #right_col #loginbox #panels-slide .panel3 input[type=password] {
  width: 65%;
  padding: 4px;
}
#content-zone #content #right_col #loginbox #panels-slide .panel3 label[for=id_remember_me] {
  display: block;
  visibility: visible;
  color: #04add1;
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
  font-size: 9px;
}
#content-zone #content #right_col #loginbox #panels-slide .panel3 input[type=submit] {
  position: absolute;
  right: 20px;
  top: 31px;
}
#content-zone #content #right_col #loginbox #panels-slide .panel3 .link {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 9px;
  font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}
#content-zone #content #right_col #loginbox .avatar {
  float: left;
  margin-right: 15px;
}
#content-zone #content #right_col #loginbox ul.profile_actions {
  position: relative;
  margin: 0px;
}
#content-zone #content #right_col #loginbox ul.profile_actions li {
  float: left;
  position: relative;
  margin-right: 3px;
}
#content-zone #content #right_col #loginbox ul.profile_actions li .message_count {
  color: white;
  position: absolute;
  right: 3px;
  text-align: center;
  top: -1px;
  width: 20px;
  font-weight: bold;
  font-size: 80%;
}
#content-zone #content #right_col #newmembers li {
  margin: 1px 2px;
  float: left;
  position: relative;
  background-color: #bdbdbd;
  height: 45px;
  width: 45px;
}
#content-zone #content #right_col #newmembers .big {
  width: 94px;
  height: 94px;
}
#content-zone #content #right_col #newmembers .big .name {
  background: url("../images/base/membername.png") no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 94px;
  height: 94px;
  color: #cdcdcd;
}
#content-zone #content #right_col #newmembers .big .name span {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 5px;
}
#content-zone #content #right_col #newmembers .big:hover .name {
  color: white;
}
#content-zone #content #right_col #newmembers li.bottom-member1, #content-zone #content #right_col #newmembers li.bottom-member2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#content-zone #content #right_col #newmembers li.bottom-member2 {
  left: 49px;
}
#content-zone #content #right_col #fb-fanbox {
  background-color: #292929;
  background-image: url("../images/home/loginbox-bg.jpg");
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 0px;
  height: 85px !important;
}

/*--- NEWSLETTER POPUP ----*/
#newsletter_popup {
  background-image: url("../images/home/newsletter-popup-bg.png");
  padding: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #9b9b9b;
  position: fixed;
  width: 245px;
  bottom: 50px;
  right: 40px;
  z-index: 300;
  -moz-box-shadow: 0px 0px 8px black;
  -webkit-box-shadow: 0px 0px 8px black;
  -o-box-shadow: 0px 0px 8px black;
  box-shadow: 0px 0px 8px black;
  behavior: url(static/js/pie/PIE.htc);
}
#newsletter_popup h1 {
  font-size: 17px;
  font-family: "OpenSansCondensedBold", Arial, Helvetica, sans-serif;
  font-style: normal;
  color: white;
  margin: 0px;
}
#newsletter_popup .close-button {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}
#newsletter_popup hr {
  border: 1px dotted #9b9b9b;
  border-style: dotted !important;
  background-image: none;
  margin-top: 5px;
}
#newsletter_popup img.newsletter_picto {
  float: left;
  margin-right: 10px;
}
#newsletter_popup p {
  font-size: 11px;
  color: white;
}
#newsletter_popup form input[type=text] {
  width: 100%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 0px;
  color: #7F7E7E;
  font-family: "OpenSans",Arial,Helvetica,sans-serif !important;
  font-size: 10px;
  padding: 3px 0px;
}
#newsletter_popup form input[type=submit] {
  width: 100%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-color: #04add1;
  border: 0px;
  margin-top: 5px;
  color: white;
  background: url(../images/base/minibutton_blue.jpg);
}
#newsletter_popup form input[type=submit]:hover {
  background: url(../images/base/minibutton_green.jpg);
}
