/**
 *  Mixins
 */
/***
 * IMPORTANT : CONSTANTS NAMING SCHEME
 *
 * The naming scheme is simple, your constants name must follow this rule :
 * "<typename>[<Targetname>]<Attributename>"
 * 
 * - <typename> could be "color", "size", "font", etc.
 *
 * - <targetname> is optional and could be any targetable CSS objects or
 *   properties like "text", "border", etc. 
 *
 * - <attributename> is a meaningful description of your constant, like "Blue",
 *   "LightBlue", "Small", "Huge", etc.
 */
/**
 * Old Colors (obsolete, please use new color naming scheme instead)
 */
/**
 * New colors
 */
/**
 * text sizes
 */
/**
 * font piles
 */
/*
Name: Sliding Login Panel with jQuery 1.3.2
Author: Jeremie Tisseau
Author URI: http://web-kreation.com/
Date: March 26, 2009
Version: 1.0
*/
/***** clearfix *****/
.clear {
  clear: both;
  height: 0;
  line-height: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */
.clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* Panel Tab/button */
.tab {
  background: url(../images/base/tab_b.png) repeat-x 0 0;
  height: 30px;
  position: relative;
  top: -4px;
  z-index: 800;
}
.tab ul.login {
  display: block;
  position: relative;
  clear: right;
  height: 32px;
  right: -9px;
  width: auto;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  float: right;
  color: white;
  font-size: 80%;
  text-align: center;
}
.tab ul.login li.left, .tab ul.login li.right {
  height: 32px;
  width: 30px;
  padding: 0;
  margin: 0;
  display: block;
  float: left;
  position: relative;
  top: 4px;
}
.tab ul.login li.left {
  background: url(../images/base/tab_l.png) no-repeat left 0;
  width: 28px;
}
.tab ul.login li.right {
  background: url(../images/base/tab_r.png) no-repeat left 0;
}
.tab ul.login li.middle {
  background: url(../images/base/tab_c.png) no-repeat left 0;
  width: 17px;
}
.tab ul.login li.language {
  font-size: 14px;
  padding: 0px;
  padding-top: 2px;
}
.tab ul.login li.language a {
  font-family: 'OpenSansCondensedBold_obsolete', Arial, Helvetica, sans-serif;
  color: white;
}
.tab ul.login .close:hover {
  background-color: transparent !important;
}
.tab ul.login li {
  text-align: left;
  padding: 0 6px;
  padding-top: 2px;
  display: block;
  float: left;
  height: 32px;
  background: url(../images/base/tab_m.png) repeat-x 0 0;
  position: relative;
  position: relative;
  top: 4px;
}
.tab ul.login li a {
  color: #04add1;
}
.tab ul.login li a:hover {
  color: white;
  text-decoration: none;
}
.tab ul.login li .sep {
  color: #414141;
}
.tab ul.login li .message_count {
  position: absolute;
  right: 10px;
  top: 6px;
  text-align: center;
  width: 20px;
  color: white;
}
.tab ul.login li a.open.link, .tab ul.login li a.close.link {
  height: 20px;
  font-family: 'OpenSansBoldItalic_obsolete', Arial, Helvetica, sans-serif;
  line-height: 20px !important;
  /*padding-left: 32px !important;*/
  cursor: pointer;
  display: block;
  /*width: 100px;*/
  position: relative;
  font-style: normal;
  top: 5px;
  font-size: 11px;
}
.tab ul.login li a.open {
  /*background: url(../images/base/bt_open.png) no-repeat left 0;*/
}
.tab ul.login li a.close {
  /*background: url(../images/base/bt_close.png) no-repeat left 0;*/
}
.tab ul.login li a:hover.open {
  /*background: url(../images/base/bt_open.png) no-repeat left -19px;*/
}
.tab ul.login li a:hover.close {
  /*background: url(../images/base/bt_close.png) no-repeat left -19px;*/
}

/* sliding panel */
#toppanel {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#panel {
  width: 100%;
  color: #999999;
  background-color: black;
  overflow: hidden;
  position: relative;
  z-index: 9000;
  height: 0px;
}
#panel a.link {
  font-family: "OpenSansItalic_obsolete", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
}
#panel h1 {
  font-family: "OpenSansCondensedBold_obsolete", Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-style: normal;
  padding: 5px 0 10px;
  margin: 0;
  color: white;
}
#panel h2 {
  font-size: 1.2em;
  padding: 10px 0 5px;
  margin: 0;
  color: white;
}
#panel p {
  margin: 5px 0;
  padding: 0;
}
#panel a:hover {
  color: white;
}
#panel a-lost-pwd {
  display: block;
  float: left;
}
#panel .panel_content {
  width: 960px;
  margin: 0 auto;
  padding-top: 15px;
  text-align: left;
  font-size: 9px;
  top: -2px;
  position: relative;
}
#panel .panel_content .left, #panel .panel_content .left-logged {
  width: 290px;
  float: left;
  padding: 0 10px;
}
#panel .panel_content .left {
  min-height: 220px;
  position: relative;
  /*border-left: 1px solid #333;*/
}
#panel .panel_content .left:first-child {
  border-left: 0px solid #333;
}
#panel .panel_content .panel_projects {
  width: 460px;
  float: right;
  padding: 0 15px;
}
#panel .panel_content form {
  margin: 0 0 10px 0;
  position: relative;
}
#panel .panel_content label {
  display: none;
  visibility: hidden;
}
#panel .panel_content label[for=id_remember_me] {
  display: block !important;
  visibility: visible !important;
  font-family: "OpenSansItalic_obsolete",Arial,Helvetica,sans-serif;
  font-size: 10px;
  color: #04add1;
}
#panel .panel_content input[type=text], #panel .panel_content input[type=password] {
  border: 1px #1A1A1A solid;
  margin-right: 5px;
  margin-top: 4px;
  width: 150px;
  color: #3d3d3d;
  font-family: "OpenSansItalic_obsolete", Arial, Helvetica, sans-serif;
  font-size: 11px;
  height: 16px;
  padding-left: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#panel .panel_content input[type=submit], #panel .panel_content button {
  background-image: url("../images/home/openid-button.jpg");
  color: white;
  font-family: "OpenSansBold_obsolete", Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding: 2px 6px;
  margin: 0px;
  background-color: #303030;
  border: 0px;
  cursor: pointer;
  position: relative;
  top: -1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#panel .panel_content input[type=submit]:hover, #panel .panel_content button:hover {
  color: black !important;
}
#panel .panel_content input:focus.field {
  background: #545454;
}
#panel .panel_content #top-signin {
  position: absolute;
  margin: 0px !important;
  left: 160px;
  top: 72px;
}
#panel .panel_content .password_lost {
  font-family: "OpenSansItalic_obsolete",Arial,Helvetica,sans-serif;
  font-size: 10px;
  color: #04add1;
  margin-left: 22px;
}
#panel .panel_content .password_lost:hover {
  color: white;
}
#panel .panel_content #interface_lang {
  position: relative;
  margin-top: 10px;
}
#panel .panel_content #interface_lang li {
  width: 88px;
  float: left;
  margin-right: 5px;
  margin-bottom: 10px;
}
#panel .panel_content #interface_lang li img {
  margin-right: 8px;
}
#panel .panel_content #interface_lang li a {
  margin-right: 8px;
  color: #898989;
}
#panel .panel_content #interface_lang li a:hover {
  text-decoration: none;
  color: #d0d0d0;
}

/* BUTTONS */
/* Login and Register buttons */
#panel .panel_content input.bt_login,
#panel .panel_content input.bt_register {
  display: block;
  float: left;
  clear: left;
  height: 24px;
  text-align: center;
  cursor: pointer;
  border: none;
  font-weight: bold;
  margin: 10px 0;
}

#panel .panel_content input.bt_login {
  width: 74px;
  background: transparent url(../images/base/bt_login.png) no-repeat 0 0;
}

#panel .panel_content input.bt_register {
  width: 94px;
  color: white;
  background: transparent url(../images/base/bt_register.png) no-repeat 0 0;
}

#panel .lost-pwd {
  display: block;
  float: left;
  clear: right;
  padding: 15px 5px 0;
  font-size: 0.95em;
  text-decoration: underline;
}
#panel .project_card {
  border: 0 none !important;
  float: left;
  margin-bottom: 20px;
  margin-right: 15px;
  padding: 0;
  position: relative;
  text-align: right;
  top: 5px;
  width: 137px;
}
#panel .project_card .project-photo {
  background-color: #BDBDBD;
  background-image: url("../images/project/no-picture.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 71px;
  position: relative;
  top: -5px;
  width: 100%;
}
#panel .project_infos_title, #panel .project_card, #panel .project_card_content {
  text-decoration: none !important;
}
#panel .project_card_content {
  height: 45px;
  margin-bottom: 5px;
  margin-right: 7px;
  padding-left: 7px;
  position: relative;
}
#panel .project_infos_title {
  color: #C2C2C2;
  font-family: Tahoma,Verdana,Arial,Sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 15px;
  position: absolute;
  text-align: left;
}
#panel .project_infos_baseline {
  color: #C2C2C2;
  font-family: Tahoma,Verdana,Arial,Sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  height: 55px;
}

.social-panel p.social-login {
  float: left;
  margin: 0px !important;
}
.social-panel .openid-form {
  float: left;
}
.social-panel #openid_identifier {
  width: 165px !important;
}
