/**
 *  Mixins
 */
/* --Partners------- */
#partner_detail .title {
  position: relative;
}
#partner_detail .title h1 {
  font-size: 20px;
}
#partner_detail .title a {
  position: absolute;
  right: 0px;
  bottom: 5px;
}
#partner_detail .logo {
  width: 100%;
}
#partner_detail p {
  padding-left: 20px;
}
#partner_detail #partner_projects .separator h2 {
  background-color: #282828;
  display: inline;
  padding-right: 15px;
  position: relative;
  top: -11px;
  width: auto;
}
