/**
 *  Mixins
 */
/***
 * IMPORTANT : CONSTANTS NAMING SCHEME
 *
 * The naming scheme is simple, your constants name must follow this rule :
 * "<typename>[<Targetname>]<Attributename>"
 * 
 * - <typename> could be "color", "size", "font", etc.
 *
 * - <targetname> is optional and could be any targetable CSS objects or
 *   properties like "text", "border", etc. 
 *
 * - <attributename> is a meaningful description of your constant, like "Blue",
 *   "LightBlue", "Small", "Huge", etc.
 */
/**
 * Old Colors (obsolete, please use new color naming scheme instead)
 */
/**
 * New colors
 */
/**
 * text sizes
 */
/**
 * font piles
 */
/* --Projects Cards-- */
#projects_list {
  position: relative;
  margin-top: 20px;
  /*padding-bottom:15px;*/
  float: left;
}

.project_list_project {
  margin-bottom: 1em;
}
.project_list_project a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #bdbdbd;
  border: 1px solid transparent;
  margin: 0;
  padding: 0;
  padding-right: 5px;
  -webkit-box-shadow: 0px 0px 8px #181818;
  -moz-box-shadow: 0px 0px 8px #181818;
  box-shadow: 0px 0px 8px #181818;
  behavior: url(static/js/pie/PIE.htc);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.project_list_project a:hover {
  border: 1px solid #848484;
  -webkit-box-shadow: 0px 0px 8px #848484;
  -moz-box-shadow: 0px 0px 8px #848484;
  box-shadow: 0px 0px 8px #848484;
  behavior: url(static/js/pie/PIE.htc);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
  color: #bdbdbd;
}
.project_list_project .project_infos_title {
  display: table;
  width: 100%;
  #background-color: black;
}
.project_list_project .project_infos_title h2 {
  height: 3em;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding: 0 0.5em;
  font-size: 15px;
  font-family: Tahoma, Verdana, Arial, Sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: 90%;
  color: #c2c2c2;
  text-align: left;
}
.project_list_project .project_card {
  float: left;
  position: relative;
  background-color: black;
  border: 0px;
  padding: 0px;
  border: 0px;
  text-align: right;
  width: 137px;
  height: 190px;
  border: 0px !important;
  -webkit-box-shadow: 0px 0px 12px #181818;
  -moz-box-shadow: 0px 0px 12px #181818;
  box-shadow: 0px 0px 12px #181818;
  behavior: url(static/js/pie/PIE.htc);
}
.project_list_project .project_card .project-photo {
  width: 100%;
  height: 71px;
  background-color: #BDBDBD;
  background-image: url("../images/project/no-picture.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}
.project_list_project .project_card .project-photo img {
  width: 100%;
  height: 71px;
}
.project_list_project .project_card img, .project_list_project .project_card a {
  border: 0px;
  padding: 0px;
}
.project_list_project .project_card:hover {
  text-decoration: none;
}
.project_list_project .project_card_progress {
  height: 20px;
  position: relative;
}
.project_list_project .project_card_progress p {
  font-size: 10px;
  color: white;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-shadow: 1px 1px 1px black;
  position: absolute;
  right: 12px;
  top: 3px;
  margin: 0px;
  padding: 0px;
}
.project_list_project .project_card_progress img {
  position: relative;
  width: 131px;
  height: 15px;
  top: 3px;
  left: -3px;
}
.project_list_project .project_card_pictos {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #7d3b09;
  padding-top: 1px;
  padding-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  margin-right: 2px;
}
.project_list_project .project_card_pictos ul, .project_list_project .project_card_pictos ul li {
  margin: 0px;
  padding: 0px;
}
.project_list_project .project_card_content {
  position: relative;
  padding-left: 7px;
  margin-right: 7px;
  margin-bottom: 5px;
  height: 91px;
}
.project_list_project .project_card_content .project_topic_mini {
  position: absolute;
  bottom: -5px;
  right: -5px;
}
.project_list_project .project_card_infos li {
  display: block;
  list-style-type: none;
  font-size: 11px;
  color: #a4a4a3;
  text-decoration: none;
}
.project_list_project .project_infos {
  width: 165px;
  margin-left: auto;
  margin-right: auto;
  float: right;
  position: relative;
  height: 190px;
}
.project_list_project .project_infos a {
  position: absolute;
  bottom: 0px;
}
.project_list_project .project_infos_location {
  font-size: 11px;
  font-family: Tahoma, Verdana, Arial, Sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #848484;
  position: absolute;
  bottom: 0px;
  text-align: left;
}
.project_list_project .project_infos_baseline {
  margin: 0.5em 0;
  font-size: 11px;
  font-family: Tahoma, Verdana, Arial, Sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #c2c2c2;
}
.project_list_project .project_infos_description {
  font-size: 10px;
  margin-bottom: 27px;
}

.pagination {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  top: 0px;
}
.pagination a {
  color: #BDBDBD;
}
.pagination span.current {
  color: #04add1;
}
