{% extends "backcap/feedback_base.html" %}

{% load i18n %}

{% block javascript %}
  <script type="text/javascript">
    function lookup(inputString) {
	if(inputString.length < 5) {
	    $('#feedback-tab-suggestions-results').hide();
	    $('#feedback-tab-no-suggestions-noresult').show();
	} else {
	    $.get("{% url feedback-search %}", {q: ""+inputString+""}, function(data){
		if(data.length >0) {
		    $('#feedback-tab-suggestions-results').html(data); 
		    $('#feedback-tab-suggestions-noresult').hide();
		    $('#feedback-tab-suggestions-results').show();
		}
	    });
	}
    }
 
 $(document).ready(function() {
     //$("#feedback-tab-suggestions-results").hide();
     //$("#feedback-new #id_title").keyup(function() {
     //lookup($(this).val()) 
     //});
 });
  </script>
{% endblock %}


{% block title %}
  {% trans "New Feedback" %}
{% endblock %}


{% block content %}	
    <div class="content">        
        <div class="container">
            <div class="block-content feedback-new-page">  
                <div id="row">
                    <div class="span8">
                        <h1>{% trans "Leave feedback" %}</h1>
                        {% include "backcap/feedback_new_form.html" %}
                        <div id="feedback-tab-suggestions">
                            <div id="feedback-tab-suggestions-noresult"></div>
                            <div id="feedback-tab-suggestions-results"></div>
                        </div>
                    </div>
                    <div id="feedback-sidebar" class="span3">
                        <p>{% blocktrans %}We are very eager you leave feedback to help us improve the website, thank you !{% endblocktrans %}</p>
                        <p><a class="link" href="{% url feedback-list %}">{% trans "See all feedbacks" %}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}







