{% extends "base.html" %}

{% load comments %}
{% load voting_tags %}
{% load i18n %}

{% block title %}
  {% trans "Feedback" %} &raquo; {{ feedback.title|capfirst|truncatewords:7 }}
{% endblock %}

{% block css %}
  {{ block.super }}
  
  <link rel="stylesheet" type="text/css" media="screen" href="/css/backcap.css" />
{% endblock %}


{% block content %}

  <div id="text">
    <h1><a href="{% url backcap:feedback-list %}">Feedbacks</a> &raquo; {{ feedback.title|capfirst }}</h1>

    <div class="grid_14 alpha omega">

      <div class="feedback-entry alpha omega grid_14">
	{% if feedback.status == 'C' %}
	  <strong>{% trans "This issue is closed." %}</strong>
	{% endif %}
	<div class="alpha grid_2">
	  {% score_for_object feedback as score %}
	    
	    <div class="feedback-votes ui-corner-all">
	      <div class="score">{{ score.score|default:0 }}</div>
	      <div class="numvotes">({{ score.num_votes }} vote{{ score.num_votes|pluralize }})</div>
	      <div class="vote-actions">
		
		<form class="feedbackvote" id="feedbackup{{ feedback.id }}" action="{% if vote and vote.is_upvote %}
										    {% url backcap:feedback-vote feedback.id 'clear' %}
										  {% else %}
										    {% url backcap:feedback-vote feedback.id 'up' %}
										  {% endif %}
										  " method="POST">
		  <input type="submit" class="ui-corner-all vote_button" id="feedbackuparrow{{ feedback.id }}" value="{% if vote and vote.is_upvote %}X{% else %}+{% endif %}"/>
		</form>
		
		<form class="feedbackvote" id="feedbackdown{{ feedback.id }}" action="{% if vote and vote.is_downvote %}
										      {% url backcap:feedback-vote feedback.id 'clear' %}
										    {% else %}
										      {% url backcap:feedback-vote feedback.id 'down' %}
										    {% endif %}
										    " method="POST">
		  
		  <input type="submit" class="ui-corner-all vote_button" id="feedbackdownarrow{{ feedback.id }}" value="{% if vote and vote.is_downvote %}X{% else %}-{% endif %}"/>
		</form>
	      </div>
	      <div class="feedback-info grid_9 omega">
		<div>
		  <span class="ui-corner-all type_{{ feedback.kind }}">{{ feedback.get_kind_display }}</span>
		  <span class="title">{{ feedback.title|capfirst }}</span>
		</div>
		<div class="feedback-desc">
		  {{ feedback.text|truncatewords:20 }}
		</div>
		<div>
		  {{ feedback.get_status_display }} / 
		  <span class="who">
		    {% blocktrans with feedback.created_on|timesince as since %}
		      Posted {{ since }} ago by
		    {% endblocktrans %}
		    <a href="{{ feedback.user.get_profile.get_absolute_url }}">{{ feedback.user.get_full_name|default:feedback.user.username }}</a>
		  </span>
		</div>
	      </div>
	    </div>
	</div>
	<div class="clear"></div>
      </div>

      <div class="alpha omega grid_14">

	  {{ vote }}

	  <hr/>

	  {% if feedback.status == 'A' %}
	    <p>
	      <strong><a href="{{ feedback.assigned_to.get_profile.get_absolute_url }}">{{ feedback.assigned_to.first_name|default:feedback.assigned_to.username }}</a> {% trans "is working on this. Poke him if you think it's taking too long !" %}</strong>
	    </p>
	  {% endif %}

	  {% if feedback.status == 'D' %}
	    <p>
	      <strong>
		<em>
		{% trans "This issue is a duplicate of" %} <a href="{{ feedback.duplicate_of.get_absolute_url }}">{{ feedback.duplicate_of }}</a>
		{% trans "Please don't comment on this issue anymore." %}
		  </em>
	      </strong>
	    </p>
	  {% endif %}

	  <p>{% trans "Description:" %} {{ feedback.text|linebreaks }}</p>

	  <hr/>

	  <h4>{% trans "Comments" %}</h4>
	  <ul>
	    {% get_comment_list for feedback as feedback_comments %}
	      {% for comment in feedback_comments %}
		<li><a href="{% url userena_profile_detail comment.user %}">{{ comment.user.get_full_name|default:comment.user.username }}</a> said "{{ comment.comment|linebreaks }}"</li>
	      {% endfor %}
	  </ul>

	  {% if not feedback.status == 'D' %}
	    <h5>{% trans "Post a new comment" %}</h5>
	        {% get_comment_form for feedback as comment_form %}
		  <form action="{% comment_form_target %}" method="post">
		    {{ comment_form.content_type }}
		    {{ comment_form.timestamp }}
		    {{ comment_form.object_pk }}
		    {{ comment_form.security_hash }}
		    {{ comment_form.comment }}
		    
		    <input type="submit" value="{% trans "Post" %}"/>  
		    <input type="hidden" name="next" value="{% url backcap:feedback-detail feedback.id %}" />
		  </form>
           {% else %}
	     {% trans "Comments closed." %}
	   {% endif %}

		<hr/>

		<p>{% trans "This issue is" %} {{ feedback.get_status_display|lower }}.
		<a href="{% url backcap:feedback-close feedback.id %}" class="minibutton btn-fork"><span><span class="icon"></span>{% trans "Close issue" %}</span></a>

		<p>{% trans "Reported from:" %} <a href="http://{{ request.get_host }}{{ feedback.referer }}">http://{{ request.get_host }}{{ feedback.referer }}</a></p>

		{% if user.is_superuser %}
		  <p>
		    <a href="{% url backcap:feedback-update feedback.id %}" class="minibutton btn-edit"><span><span class="icon"></span>{% trans "Edit" %}</span></a>
		    <a href="{% url backcap:feedback-ping-observers feedback.id %}" class="minibutton btn-fork"><span><span class="icon"></span>{% trans "Ping observers" %}</span></a>
		  </p>
		{% endif %}

		<p>
		  <a href="{% url backcap:feedback-list %}">&larr; {% trans "See all feedbacks" %}</a>
		</p>

	      </div>
	    </div>

	  </div>

	{% endblock %}
