{% load i18n %}

<form id="feedback-new" method="POST" action="{% url feedback-new %}">
  {% csrf_token %}
  <div id="kind">
    {% trans "I have a:" %}{{ feedback_form.kind }}
    
    <span class="error">{{ feedback_form.kind.errors }}</span>
  </div>
  
  <div id="subject">
    {% trans "And I want to tell you that:" %}
    {{ feedback_form.title }}
    <div class="clear"></div>
    <br />
    <a href="#" class="link">{% trans " + I a more things to say !" %}</a>
    <br /><br />
    <div class="clear"></div>

    {{ feedback_form.text }}
    
    <span class="error">{{ feedback_form.title.errors }}</span>
  </div>

  <input type="hidden" id="id_referer" name="referer" value="{{ request.path }}"/>
  
  <input type="submit" class="button greenbutton nomargin"  value="{% trans 'Send' %}" />
</form>
