{% extends "base.html" %}

{% load i18n %}
{% load compress %}

{% block javascript %}
  <script type="text/javascript">
    function lookup(inputString) {
	if(inputString.length < 5) {
	    $('#feedback-tab-suggestions-results').hide();
	    $('#feedback-tab-no-suggestions-noresult').show();
	} else {
	    $.get("{% url feedback-search %}", {q: ""+inputString+""}, function(data){
		if(data.length >0) {
		    $('#feedback-tab-suggestions-results').html(data); 
		    $('#feedback-tab-suggestions-noresult').hide();
		    $('#feedback-tab-suggestions-results').show();
		}
	    });
	}
    }
 
 $(document).ready(function() {
     //$("#feedback-tab-suggestions-results").hide();
     //$("#feedback-new #id_title").keyup(function() {
     //lookup($(this).val()) 
     //});
 });
  </script>
{% endblock %}


{% block style %}
  {% compress css %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/black_page.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/no-nav.css" />
  {% endcompress %}
{% endblock %}


{% block title %}
  {% trans "New Feedback" %}
{% endblock %}


{% block content %}	
	
	<div class="content">        
		<div class="container_18">
			<div class="grid_18 alpha omega">			
			
				<div class="block-content feedback-new-page">  


                
                
                    <div id="text">

                        <div class="grid_12 alpha">
                            <h1>{% trans "Leave feedback" %}</h1>
                        <br />

                        {% include "backcap/feedback_new_form.html" %}


                       <div id="feedback-tab-suggestions">
                            <div id="feedback-tab-suggestions-noresult"></div>
                            <div id="feedback-tab-suggestions-results"></div>
                        </div>

                        </div>

                    </div>
                    <div id="feedback-sidebar" class="grid_5 omega">
                        {% blocktrans %}We are very eager you leave feedback to help us improve the website, thank you !{% endblocktrans %}
                    
                                            <div class="clear"></div>
                        <br />
                        <a class="link" href="{% url feedback-list %}">{% trans "See all feedbacks" %}</a>

                    </div>
                    

                    </div>


										
				</div>
				
			</div>
			
			<div class="clear"></div>
			
		</div>		
	</div>
	
	
{% endblock %}







