{% extends "project_sheet/layout/project_base.html" %}

{% load i18n %}
{% load tagging_tags %}
{% load compress %}
{% load honeypot %}
{% load sekizai_tags %}
{% load comments %}
{% load thumbnail %}
{% load oembed_works_tags %}
{% load tabs %}
{% load activity_tags %}

{% block navigation %}
{% tab 'project_sheet' 'history' %}
{{ block.super }}
{% endblock %}


{% block project_content %}	

<div class="container">        
    <div class="row">
      <h2>HISTORY</h2>
      <h3>Recent Activity</h3>
      <ul>
	{% for action in activity %}

	<li>{% display_action action %}</li>
	<ul>
	  <li>{{ action.version.diffs }}</li>
	</ul>
	{% endfor %}
      </ul>
      <ul>
	<li>questions</li>
	<ul>
	  {% for diff in answer_diffs.values %}
	  <li>{{ diff|safe }}</li>
	  {% endfor %}
	</ul>
      </ul>
    </div>
</div>

{% endblock %}
