{% extends "project_sheet/layout/project_base.html" %}

{% load i18n %}
{% load tagging_tags %}
{% load compress %}
{% load honeypot %}
{% load sekizai_tags %}
{% load comments %}
{% load thumbnail %}
{% load oembed_works_tags %}
{% load tabs %}

{% block navigation %}
{% tab 'project_sheet' 'history' %}
{{ block.super }}
{% endblock %}


{% block project_content %}	

<div class="container">        
    <div class="row">
      HISTORY
      Recent Activity
      <ul>
	{% for action in activity %}
	<li><a href="{% url userena_profile_detail action.actor %}">{{ action.actor.get_profile.get_full_name|default:action.actor.username }}</a> {{ action.verb }} &laquo; {{ action.action_object.question.content }} &raquo; -- {{ action.timestamp|timesince }} ago</li>
	<ul>
	  <li>{{ action.version.revision.version_set.all.0.field_dict.content }}</li>
	</ul>
	{% endfor %}
      </ul>
      <ul>
	<li>questions</li>
	<ul>
	  {% for diff in answer_diffs.values %}
	  <li>{{ diff|safe }}</li>
	  {% endfor %}
	</ul>
      </ul>
    </div>
</div>

{% endblock %}
