{% extends "project_sheet/layout/project_base.html" %}

{% load i18n %}
{% load tagging_tags %}
{% load compress %}
{% load honeypot %}
{% load sekizai_tags %}
{% load comments %}
{% load i4p_djangocms_tags %}
{% load unique_counter_tag %}
{% load tabs %}

{% block navigation %}
{% tab 'project_sheet' 'project' %}
{{ block.super }}
{% endblock %}

{% block project_content %}	

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/page/project_sheet.css" />
{% endaddtoblock %}

<div class="container">        
    {% if user.is_authenticated %}
        {% with "project_sheet_logged_in_popup" as placeholder_name %}
            {% popup_placeholder "project_sheet_logged_in_popup" "popups_notifications_container_page" %}
        {% endwith %}
    {% endif %}

        {% popup_placeholder "project_sheet_unconditional_popup" "popups_notifications_container_page" %}
    <div class="row">
	<div class="span8 project-main">

        <div class="wrap-about">
	        {% include "project_sheet/block/about.html" %}
        </div>
        
	    <div class="project-details detail-list">
		{% include "project_sheet/block/detail-list.html" %}
	    </div> <!-- .project-details -->

	    {% if project_translation %}
	    <hr class="shaded-separator" />

	    {% include "project_sheet/block/reference-block.html" with reference_block_extra_class="project-references" %}


	    <hr class="shaded-separator" />

	    <div id="project-comments" class="project-comments comment-block">
		{% include "project_sheet/block/comment-block.html" %}
	    </div> <!-- .project-comments -->

	    {% endif %}

	</div> <!-- .project-main -->

	<div class="span4 project-sidebar">
	  {% if project_translation %}
	    <div class="project-members member-block">
		<h2>
		    <i class="sheet-members"></i>
		    {% trans "Project Community"|capfirst %}</h2>
        
		<h3>{% trans "The team"|capfirst %}</h3>
        {% with num_team_member=project.detailed_members.all.count %}
            {% include "member/block/memberlist_square.html" with members=project.detailed_members.all %}
            {% if num_team_member > 0 %}
                {% unique_counter memberlist_modal %}
                {% with memberlist_modal_seeall_unique_counter=memberlist_modal_counter %}
                {% include "project_sheet/block/memberlist_modal_seeall.html" %}
                <a  href="#" class="seemore"
                    data-modal-target-id="memberlist-modal-seeall-{{ memberlist_modal_seeall_unique_counter }}" 
                    data-toggle="i4p-memberlist-modal-seeall" 
                    >{% trans "More info about the team" %}</a>
                {% endwith %}
            {% endif %}
            
        {% endwith %}
        
        {% with num_fans=project.detailed_fans.count %}
        
            {% if num_fans == 0 %}
                <h3>{% trans "The fans" %}</h3>
                <p class="fans-no-fans-yet">{% trans "No fans yet" %}
            {% else %}
                <h3>{% blocktrans count num_fans=num_fans %}
                The fans
                {% plural %}
                The {{ num_fans }} fans
                {% endblocktrans %}
                </h3>
                {% include "member/block/memberlist_square.html" with members=project.detailed_fans.all %}
            {% endif %}
        
                    {% if not request.user in project.fans.all %}
                    <div class="fans-not-a-fan-block">
                    <!-- {% trans "Become a fan of this project" %} -->
                    <form id="fans-add-form" method='POST' action='{% url project_sheet-instance-add-fan project.slug %}'>
                        {% csrf_token %}
                        {{ project_fan_add_form.as_p }}
                        <input type="submit" value="{% trans 'Become a fan of this project' %}" />
                    </form>
                    </div>
                    {% else %}
                        <div class="fans-is-fan-block">
                        You are already a fan of this project, thank you!  Would you share it with your friends:  
                        <div class="addthis_toolbox addthis_default_style">
                            <a class="addthis_button_compact share"></a>
                        </div>
                        ?
                        </div>

                    {% endif %}
        {% endwith %}
       
       
      </div>

	    {% include "workgroup/block/grouplist_fancy_wide.html" %}

	    <div class="project-related clearfix">
		<!-- FIXME: use real data for related project list once in the datamodel -->
		<h2>
		    <i class="sheet-related"></i>
		    {% trans "You might also like"|capfirst %}
		</h2>
		{% comment %}<a href="#FIXME-BADURL" class="seemore">{% trans "See more" %}</a>{%endcomment%}
		{% if related_projects %}
		  {% include "project_sheet/block/cardlist_card_wide.html" with project_list=related_projects %}
		{% else %}
		   {% url project_sheet-instance-edit-tags project_translation.slug as tags_url %}
		   {% blocktrans with tags_url=tags_url %}You need to <a href="{{ tags_url }}">tag this project</a> before we can suggest related projects.{% endblocktrans %}
		{% endif %}
	    </div>

	    <div class="project-gallery gallery-block clearfix">
		<h2>
		    <i class="sheet-gallery"></i>
		    {% trans "Gallery"|capfirst %}
		</h2>
		{%comment%}<a href="#FIXME-BADURL" class="seemore">{% trans "See more" %}</a>{%endcomment%}
		{% include "project_sheet/block/gallery_fancy_thin.html" %}

	    </div> <!-- .project-gallery -->

	    {% include "project_sheet/block/partner-block.html" %}
	    {% endif %}
	</div> <!-- .project-sidebar -->
    </div>
</div>

{% endblock %}
