@import "i4p-mixins";
@import "i4p/constants";
/* WARNING, THIS HAS BEEN MOVED FROM STYLE.SCSS, BUT IS NOT LINKED ANYWHERE YET
WAITING FOR PROFILE.SCSS TO MOVE */
#about .colonne a {
    text-decoration: underline;
}


.colonne {

    a {
    @include i4p-font-base($sizeTextSmall);
    color: $colorLightBlue;

    padding-top: 5px;
    padding-bottom: 3px;
    display: block;
    }

    a:hover {
    color:#65e4ff;  
    }
}

