#community {
    
    h2 {
	margin-bottom: 10px;
        font-size: 25px;
    }

    .i4p_pagination {
        text-align: right;
        font-size: 20px;
        a {
            font-size: 20px;
        }
    }
}

#polaroid-wrapper { 
    width:970px; 
    margin:0 auto; 
}

/* POLAROID */
#polaroidcontainer {
    width: 950px; 
    height: 800px;
}

.polaroid { 
    width: 122px;
    height: 150px; 
    background-image: image-url('member/userena/polaroid-bg.png'); 
    position: absolute; 
    
    img {
	width: 108px; 
        height: 108px; 
	margin: 11px 0 0 7px; 
    }    

    p { 
	text-align: center; 
        font-family: Arial;  
	font-size: 9px; 
        color: #2E2E2E; 
	margin-top: 6px; 
    }
}


