{% extends "base.html" %}
{% load i18n %}	
{% load cms_tags %}	

{% block style %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/black_page.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet_block/topic_select.css" />
{% endblock %}


{% block nav %} 
{% endblock %}  


{% block newproject_popup %} 
{% endblock %}   


{% block content %} 

    <script type="text/javascript">
        $.getScript("{{ STATIC_URL }}js/project_sheet/topics_select_popup.js");
    </script>

    <div id="new_project_style_page">
      {% include "project_sheet/obsolete/topic_select_fragment.html" %} 
    </div>
{% endblock %}      

