@import "mixin.scss";


.content{
	background-color:#282828;
	background-image:url(../images/base/content-bg.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	color:#bdbdbd;
    min-height:240px;
}

/* --MENU------- */

.categories .menu ul  .selected {
	background-image:url(../images/base/categories-selected.png);	
	color:white;
    border:0px !important;
}


.categories .menu ul li .categ-button .selected:hover{
    background-image:url(../images/base/categories-selected.png);	
    color:white;
    width:109px;
	height:40px;
	top:-16px;
	left:-1px;
    border:0px;
	padding-top:16px;
	z-index:100;	
	font-weight:bold;
	text-align:center;
    cursor:default;
}


/* --HEADER---------------------------------------------------------------------------------------------------- */

.header{
	background-image:url(../images/base/header-bg.png);
	color:black;
	background-repeat:repeat-x;
}


.header .linkbox a{
	color:#595959;
}

.header .linkbox a:hover{
	color:#7F7E7E;
}



.menu a{
	color:#7f7e7e;
}

.header .menu a{

	
}

.header .menu a:hover{
	color:white;
}


.button{
    @include shadow(4px,black); 	
}
