.fan_box a:hover{
  text-decoration: none;
}
.fan_box .full_widget{
  height: 200px;
  border: 0 !important;
  background: none !important;
  position: relative;
}
.fan_box .connect_top{
  background: none !important;
  padding: 0 !important;
}
.fan_box .profileimage, .fan_box .name_block{
  display: none;
}
.fan_box .connect_action{
  padding: 0 !important;
}
.fan_box .connections{
  padding: 0 !important;
  border: 0 !important;
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #666;
}
span.total{
	bottom:16px;
	color:#FFFFFF;
	display:block;
	font-family:'Trebuchet MS',Sans-Serif;
	font-size:12px;
	height:16px;
	left:12px;
	overflow:hidden;
	position:absolute;
	width:130px;
	z-index:9999;
}
span.total b{
	display: none;
}
.fan_box .connections .connections_grid {
	float:left;
	padding-top:0;
	padding-bottom:40px !important;
}
.fan_box .connections_grid .grid_item{
  background-color:#FFFFFF;
  border:1px solid #E4E4E4;
  margin:0 6px 7px 0;
  padding:2px !important;
}
.fan_box .connections_grid .grid_item .name{
  font-weight: normal;
  color: #666 !important;
  padding-top: 1px !important;
}
.fan_box .connect_widget{
	bottom:13px;
	height:24px;
	overflow:hidden;
	position:absolute;
	right:15px;
	width:62px;
}
.fan_box .connect_widget .connect_widget_interactive_area {
margin: 0 !important;
}
.fan_box .connect_widget td.connect_widget_vertical_center {
padding: 0 !important;
}
