@import "mixin.scss";


body{
    background-color:#282828;
}

a:hover{
    text-decoration:none;
}

hr{
    border:1px solid #050505 !important;
    border-bottom:1px solid #333333 !important;
    background-image:none;
    height:0px;
}



/*---- VIDEO ----*/

#video-zone{
    height:133px;
    background-color:#e8e8e8;
}

/*---- FOCUS ----*/

#focus-zone{
  	background-image: url(../images/home/focus-bg.jpg);    
    
    #focus{
        background-color:black;
        color:#737373;
        
        #focus-menu{
            height:37px;
            position:relative;
            
            ul.focus-filters{
                float:left;
                padding:6px 0px;
                padding-top:10px;
                position:relative;

                
                li{
                    position:relative;
                }
            }
            
            .allprojects{
                float:right;
            }
        }
        
        #projects_slide{
            height:290px;
            width:977px;
            overflow:hidden;
        
            .project_slider{
                width:2931px;
            
                .focus_project{
                    position:relative;
                    float:left;
                    width:195px;
                    height:290px;
                    /*margin-right:1px;*/
                
                    .project_title_cover{
                        position:absolute;
                        top:0px;
                        left:0px;
                        background-image:url('../images/home/projectslide_cre.png');
                        width:195px;
                        height:290px;
                        z-index:200px;
                    } 
                   
                    /* hack for IE8 & 9 */
                    @media \0screen {
                        .project_title_cover{
                            background-image:url('../images/home/projectslide_cre.gif');
                        }                    
                    }

                    .project_photo{
                        width:195px;
                        height:290px;
                        background-color:#bdbdbd;
                        background-position: center bottom;
                        background-repeat: no-repeat;
                    
                        table{
                            width:110px;
                            height:90px;
                            margin:0px auto;
                            position:relative;
                            top:75px;
                            text-align:center;
                            
                            span{
                                text-align:center;
                                position:relative;
                                font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
                                font-size:14px;
                                text-transform:uppercase;
                                background-color:white;
                                font-style:normal;
                                font-weight:normal;
                                color:$greyblack;
                                line-height:20px;
                            }
                        }
                    }
                } 
            }
        } 

        #focus-nav{
            height:37px;
            
            .previous, .next{
                position:relative;
                top:10px;
            }
            
            .previous{
                float:left;
            }
            
            .next{
                float:right;
            }            
        } 

        #focus-menu a, #focus-nav a{
            font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
            font-size:15px;
            text-transform:uppercase;
            color:$greymenu;
            padding:8px 10px;
            padding-bottom:5px;
        }
        
        #focus-menu a:hover{
            color:white;
        }
        
        #focus-menu a.selected{
            color:white;
            border-bottom:4px solid $blue;
        }
        
         #focus-nav a:hover{
            color:white;
        }
        
        .allprojects{
            padding:6px 0px;
            padding-top:10px;
        }        
    }
}

/*---- CONTENT ----*/

#content-zone{

    #content{    
        background: url(../images/home/content-bg.jpg) repeat-y right; 
        padding:15px 0px;
        
        #left_col{
            width:685px;
            float:left;
            position:relative;
            
            .infoblock{
                background-image: url('../images/home/infoblock-bg.jpg');
                margin-bottom:20px;
                height:250px;
            
                img.image{
                    border-right:3px solid $blue;
                    float:left;
                }
                
                .details{
                    width:385px;
                    height:230px;
                    padding:10px 28px;
                    padding-left:15px;
                    float:right;
                    position:relative;
                    
                    h2{
                        margin:0px;
                        color:$greyblack;
                        text-shadow:1px 1px 0px white;
                        font-family: "OpenSansCondensedBold", Arial, Helvetica, sans-serif !important;
                        font-size:16px;
                    }
                    
                    span.date{
                        position:absolute;
                        top:11px;
                        right:33px;
                        color:#737373;
                        font-style:italic;
                        font-size:11px;
                    }
                    
                    .plus{
                        position:absolute;
                        top:0px;
                        right:0px;
                    }
                    
                    h1{
                        margin:10px 0px;
                        color:$greyblack;
                        font-family: "OpenSansRegular", Arial, Helvetica, sans-serif !important;
                        font-size:20px;
                        text-transform:uppercase;
                        font-style:normal;
                        font-weight:bold;
                    }
                    
                    p.description{
                        color:$greyblack
                    }
                    
                    hr{
                        border-top:1px solid #c1c1c1 !important;
                        border-left:1px solid #c1c1c1 !important;
                        border-right:1px solid #c1c1c1 !important;
                        border-bottom:1px solid white !important;
                        position:absolute;
                        bottom:33px;
                        width:385px;
                    }
                    
                    ul.infotags{
                        position:absolute;
                        bottom:16px;
                    
                        li{
                            background-color:#a7a7a7;
                            padding:3px;
                            color:white;
                            font-style:italic;
                            font-size:11px;
                        }
                    }
                    
                    ul.info-share{
                        position:absolute;
                        bottom:12px;
                        right:30px;
                    }
                }
            }
        }
        
        #right_col{
            width:245px;
            padding:0px 10px;
            float:right;
            position:relative;
            color:$grey;
            
            span{
                font-family: "OpenSansItalic", Arial, Helvetica, sans-serif;
                font-style:italic;
                font-size:11px;
                margin:15px 0px;
                margin-top:5px;
                display:block;
            }
            
            .homebox{
                margin:15px 0px;
                position:relative;
            
                h1{
                    font-family: "OpenSansCondensedBold", Arial, Helvetica, sans-serif;
                    font-size:14px;
                    font-style:normal;
                    margin:0px;
                    padding:0px;
                    position:relative;
                    text-transform:uppercase;
                    top:3px;
                }
                
                hr{
                margin:7px 0px;
                }
                
                label{
                    float:left;
                }
                
                input[type=text], input[type=password], textarea{
                    background-color:#242424;
                    color:#818181;
                    border:1px solid #343434;
                    margin: 3px 0px;
                    width:98%;
                    font-family: "OpenSansItalic", Arial, Helvetica, sans-serif;
                    font-style:italic;
                    font-size:10px;
                    padding:2px;
                    @include border-radius(4px); 
                }
                
                input[type=submit], button{
                    font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
                    font-size:11px;
                    padding:3px 6px;
                    margin:0px;
                    background-color:#303030;
                    color:#737373;
                    border:0px;
                    cursor:pointer;     
                    @include border-radius(4px);
                }
                
                input[type=submit]:hover, button:hover{
                    color:black !important;
                }
                
                .close-button{
                    position:absolute;
                    top:0px;
                    right:0px;
                    cursor:pointer;
                }

            }
            
            #loginbox{
                background-color:#292929;
                background-image: url("../images/home/loginbox-bg.jpg");
                @include border-radius(4px);
                padding:10px;
                overflow:hidden;
                
                .loginlink{
                    font-family: "OpenSansCondensedBold", Arial, Helvetica, sans-serif;
                    font-size:15px;
                    text-transform:uppercase;
                    color:$grey;
                    margin:0px 4px;
                    
                    img{
                        margin:0px 5px;
                        position:relative;
                        top:3px;
                    }
                }
                
                .loginlink:first-child{
                    color:$blue;
                }
                
                hr{
                    border-top:1px solid #242424 !important;
                    border-left:1px solid #242424 !important;
                    border-right:1px solid #242424 !important;
                    margin-top:10px;
                }
                
                ul{
                    margin-top:8px;
                }

                
                form{
                
                    label{                   
                        display:none;
                        visibility:hidden;
                    }                   

                    input[type=submit], button{
                        background-image: url('../images/home/openid-button.jpg');
                        color:white;
                    }
                }
                
                #panels-slide{
                    width:735px;
                    height:80px;
                    position:relative;
                    left:-0px;
                
                
                    .loginpanel{
                        position:relative;
                        width:225px;
                        height:80px;                        
                        margin-right:20px;
                        float:left;
                    }
                    
                    .panel2{
                    
                        input[type=text]{
                            width:55%;
                            padding:4px;
                        }                      
                    }  

                    .panel3{
                    
                        input[type=text], input[type=password]{
                            width:65%;
                            padding:4px;
                        } 

                        label[for=id_remember_me]{
                            display:block;
                            visibility:visible;
                            color:$blue;
                            position:absolute;
                            left:0px;
                            bottom:0px;
                            font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
                            font-size:9px;
                        }
                        
                        input[type=submit]{
                            position:absolute;
                            right:20px;
                            top:31px;
                        }
                        
                        .link{
                            position:absolute;
                            right:0px;
                            bottom:0px;
                            font-size:9px;
                            font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
                            font-style:normal;
                            font-weight:normal;
                        }
                    }  
                }
                
                .avatar{
                    float:left;
                    margin-right:15px;
                }

                ul.profile_actions{
                    position:relative;
                    margin:0px;

                    li{
                        position:relative;
                    
                        .message_count{
                            color: white;
                            position: absolute;
                            right: 3px;
                            text-align: center;
                            top: -1px;
                            width: 20px;
                            font-weight: bold;
                            font-size: 80%;
                        }                        
                    }
                }
            }
            
            #quick_project{                
            
                
            }
            
            #newmembers{                
            
                li{
                    margin:1px 2px;
                    float:left;
                    position:relative;
                } 
                
                .big{
                    
                    .name{
                        background:url('../images/base/membername.png') no-repeat;
                        position:absolute;
                        top:0px;
                        left:0px;
                        width:94px;
                        height:94px;
                        
                        span{
                            position:absolute;
                            bottom:0px;
                            left:0px;
                            margin:5px;
                        }
                    }
                }
                
                li.bottom-member1, li.bottom-member2{
                    position:absolute;
                    bottom:0px;
                    left:0px;
                }
                
                li.bottom-member2{
                    left:49px;
                }
            }
            
            #fb-fanbox{
                background-color:#292929;
                background-image: url("../images/home/loginbox-bg.jpg");
                @include border-radius(4px);
                padding:0px;
                height:85px !important;
            }
        }
    }
}
