@import "mixin.scss";


#reset_filters {
    display: none;
    visibility: hidden;
}

body{
    background-image:url("../images/home/home-bg.jpg");
    background-position:top center;
}

.nav-bg{
    top:20px;
    position:relative;
}

#i4p_baseline{
    z-index:100;
    width:100%;
    text-align:right;
    float:right;
    font-size:23px;
    position:absolute;
    right:0px;
    top:5px;
    color:white;
}

#for-picto{
    position:absolute;
    left:-5px;
    z-index:90;
    top:280px;
}

#projects_rotator_minis{
    position:absolute;
    background-color: black;
    right:25px;
    top:276px;
    z-index:110;
    width:210px;    
    border:4px solid black;
    
	@include border-radius(4px);
    @include shadow(8px, #161616); 
}

#projects_rotator_minis{

    li.selected img {
        border:1px solid white;
    }
    
    li:hover img {
        border:1px solid $blue;
    }
    
    li:last-child img {
        border: 1px solid black;
    }
    
    li{
        float:left;
        width:42px;
        height:42px;
        position:relative;
        
        img{
            width:40px;
            height:40px;
            border:1px solid black;
        }
    }
    
    .home-minis-plus:hover{
        border:1px solid black;
    }


} 


#mask{
    position:absolute;
    top:-36px;
    z-index:20;
}

#mask-bg{
    background-image:url('../images/home/mask-bg.jpg');
    background-repeat:no-repeat;
    position:relative;
    top:73px;
    width:979px;
    height:353px;
}


#projects_rotator {

    li{
        position:absolute;
        top:40px;
        left:10px;
        height:450px;
        overflow:hidden;
        
        img{
            width:960px;
        }
    }
    
    .project_desc{
        position:absolute;
        z-index:9;
        width:350px;
        right:0px;
        bottom:90px;
        padding:10px;
        background-color:black;
        background-color:rgba(0,0,0,0.9);
        text-align:right;  
        
        h1{
            color:white;   
            font-size:23px;
        }
        
        h2{
            color:#898989;    
            font-size:13px;
        }
        
        a:hover{
            text-decoration:none;
        }
        
        .link{
            text-align:left;
            float:left;
        }
        
        .link:hover{
            text-decoration:underline;
        }
    }
}


#browse-picto{
    background-image:url('../images/home/browse-picto.png');
    width:91px;
    height:46px;
    position:absolute;
    top:-55px;
    left:160px;
}