@import "mixin.scss";


/*
Name: Sliding Login Panel with jQuery 1.3.2
Author: Jeremie Tisseau
Author URI: http://web-kreation.com/
Date: March 26, 2009
Version: 1.0
*/

/***** clearfix *****/
.clear {clear: both;height: 0;line-height: 0;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.clearfix {height: 1%;}
.clearfix {display: block;}

/* Panel Tab/button */
.tab {
  	background: url(../images/base/tab_b.png) repeat-x 0 0;
	height: 32px;
	position: relative;
    top: -2px;
    z-index: 999;
    
    ul.login {
        display: block;
        position: relative;
        clear: right;
        height: 32px;
        right:0px;
        width: auto;
        font-weight: bold;
        line-height: 30px;
        margin: 0;
        float:right;
        color: white;
        font-size: 80%;
        text-align: center;
        
        li.left , li.right {
            height: 32px;
            width: 30px;
            padding: 0;
            margin: 0;
            display: block;
            float: left;
        }

        li.left {
            background: url(../images/base/tab_l.png) no-repeat left 0;
        }

        li.right {
            background: url(../images/base/tab_r.png) no-repeat left 0;
        }
        
        li {
            text-align: left;
            padding: 0 6px;
            display: block;
            float: left;
            height: 32px;
            background: url(../images/base/tab_m.png) repeat-x 0 0;
            position:relative;
            
            a {
                color: $blue;
            }
            
            a:hover {
                color: white;
            }
            
            .sep {
                color:#414141
            }
            
            .message_count{
                position:absolute;
                right:8px;
                top:0px;
                text-align:center;
                width:20px;
            }
            
            a.open, a.close {
                height: 20px;
                line-height: 20px !important;
                padding-left: 32px !important;
                cursor: pointer;
                display: block;
                /*width: 100px;*/
                position: relative;
                top: 5px;
                font-size:11px;
            }
            
            a.open {background: url(../images/base/bt_open.png) no-repeat left 0;}
            a.close {background: url(../images/base/bt_close.png) no-repeat left 0;}
            a:hover.open {background: url(../images/base/bt_open.png) no-repeat left -19px;}
            a:hover.close {background: url(../images/base/bt_close.png) no-repeat left -19px;}
        }
    }
}



/* sliding panel */
#toppanel {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#panel {
	width: 100%;
	color: #999999;
	background: #0f0f0f;
	overflow: hidden;
	position: relative;
	z-index: 9000;
	display: none;
    
    h1 {
        font-size: 18px;
        padding: 5px 0 10px;
        margin: 0;
        color: white;
    }
    
    h2{
        font-size: 1.2em;
        padding: 10px 0 5px;
        margin: 0;
        color: white;
    }
    
    p {
        margin: 5px 0;
        padding: 0;
    }
    
    a {

    }
    
    a:hover {
        color: white;
    }
    
    a-lost-pwd {
        display: block;
        float: left;
    }
    
    .panel_content {
        width: 960px;
        margin: 0 auto;
        padding-top: 15px;
        text-align: left;
        font-size: 0.85em;
        top:-2px;
        position:relative;
        
        .left, .left-logged {
            width: 280px;
            float: left;
            padding: 0 15px;
        }
        
        .left{
            min-height:220px;
            border-left: 1px solid #333;
        }
        
        .left:first-child {
            border-left: 0px solid #333;
        }
        
        .panel_projects{
            width:610px;
            float: left;
            padding: 0 15px;
            border-left: 1px solid #333;
        }
        
        form {
            margin: 0 0 10px 0;
        }
        
        label {
            float: left;
            padding-top: 8px;
            clear: both;
            width: 280px;
            display: block;
        }
        
        input[type=text], input[type=password]{
            border: 1px #1A1A1A solid;
            background: #414141;
            margin-right: 5px;
            margin-top: 4px;
            width: 200px;
            color: white;
            height: 16px;
        }
        
        input:focus.field {
            background: #545454;
        }
        
        #interface_lang  {
            position:relative;
            margin-top:10px;
            
            li{
                width:88px;
                float:left;
                margin-right:5px;
                margin-bottom:10px;
                
                img{
                    margin-right:8px;
                }
                
                a{
                    margin-right:8px;
                    color:#898989;
                }
                
                a:hover{
                    text-decoration:none;
                    color:#d0d0d0;
                }
            }
        }
    }
}




/* BUTTONS */
/* Login and Register buttons */
#panel .panel_content input.bt_login,
#panel .panel_content input.bt_register {
	display: block;
	float: left;
	clear: left;
	height: 24px;
	text-align: center;
	cursor: pointer;
	border: none;
	font-weight: bold;
	margin: 10px 0;
}

#panel .panel_content input.bt_login {
	width: 74px;
	background: transparent url(../images/base/bt_login.png) no-repeat 0 0;
}

#panel .panel_content input.bt_register {
	width: 94px;
	color: white;
	background: transparent url(../images/base/bt_register.png) no-repeat 0 0;
}

#panel{

    .lost-pwd {
        display: block;
        float:left;
        clear: right;
        padding: 15px 5px 0;
        font-size: 0.95em;
        text-decoration: underline;
    }
    
    .project_card {
        @include shadow(12px, #181818);
        background-color: black;
        border: 0 none !important;
        float: left;
        margin-bottom: 20px;
        margin-right: 15px;
        padding: 0;
        position: relative;
        text-align: right;
        top: 5px;
        width: 137px;
        
        .project-photo {
            background-color: #BDBDBD;
            background-image: url("../images/project/no-picture.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            height: 71px;
            position: relative;
            top: -5px;
            width: 100%;
        }
    }
    
    .project_infos_title , .project_card , .project_card_content{
        text-decoration:none !important;
    }
    
    .project_card_content {
        height: 45px;
        margin-bottom: 5px;
        margin-right: 7px;
        padding-left: 7px;
        position: relative;
    }
    
    .project_infos_title {
        color: #C2C2C2;
        font-family: Tahoma,Verdana,Arial,Sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
        margin-bottom: 15px;
        position: absolute;
        text-align: left;
    }
    
    .project_infos_baseline {
        color: #C2C2C2;
        font-family: Tahoma,Verdana,Arial,Sans-serif;
        font-size: 11px;
        font-style: normal;
        font-weight: bold;
        height: 55px;
    }
}

.social-panel{
    p.social-login{
        float:left;
        margin:0px !important;
    }
    
    .openid-form{
        float:left;
    }
    
    #openid_identifier{
        width:165px !important;
    }

}