@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

$blue: #04ADD1;
$darkgrey: #171717;
$grey:#cdcdcd;


@mixin georgia($font-size) {
    font-family:Georgia, "Ma Georgia", "Century Schoolbook L", "URW Palladio L", Helvetica, serif, Arial;
    font-size:$font-size;
	font-weight:bold;
	font-style:italic;
}


@mixin shadow($size, $color) {
    @include single-box-shadow($color, 0px, 0px, $size);
}
