@import "mixin.scss";


/* ----------Project Body - CREATION + EDITION ----------- */

form{
	position:relative;
	width:100%;
}

.edit_logo{
	position:relative;
	float:left;
}


.project_content{
	padding-top:10px;
	padding-bottom:10px;
    
    a{
        text-decoration:none;
    }
}


#title{
    background-color:#5a5959;	
}

#id_title{
	height:54px;
	width:596px;
	padding:0px;
	/*background-color:#5a5959;*/
	background-color:white;
	color:black;
    float:left;
	border:1px solid grey;
    text-indent:10px;	

    @include georgia(28px); 
    @include border-radius(0px); 
}

#project_title_submit, #project_title_cancel{
	position:relative;
	height:56px;
	width:7%;
	margin:0px;
	padding:0px;
	border:0px;
    background-position:right;
	background-repeat:no-repeat;
	background-color:#5a5959;	
}

#project_title_submit{
	background-image:url("../images/project/project_title_validate.jpg");
}

#project_title_cancel{
    left:5px;
	background-image:url("../images/project/project_title_cancel.jpg");
}


#project_title_submit:hover{
	background-image:url("../images/project/project_title_validate_hover.jpg");
}


#project_title_cancel:hover{
    background-image:url("../images/project/project_title_cancel_hover.jpg");
}


#project_title_edit_inactive{
	height:56px;
	width:100%;
	padding:0px;
	background-color:#5a5959;
	color:white;
	background-image:url("../images/project/project_title_edit.jpg");
	background-position:right bottom;
	background-repeat:no-repeat;
	
	@include border-radius(0px);
    @include georgia(28px);
	
	border:0px;
	text-indent:11px;
	line-height:56px;
}


#project_title_edit_inactive:hover{
	background-image:url("../images/project/project_title_edit_hover.jpg");
}

.project_baseline_edition, .project_baseline_edition_inactive{
	color:#2a2a2a;
	height:24px;
	background-color:#bdbdbd;
	font-size:15px;
	font-family : Tahoma, Verdana, Arial, Sans-serif;
	position:relative;
	width:100%;
	border:0px;
	padding-top:5px;
	padding-bottom:5px;
	text-indent:10px;
	line-height:24px;
	margin-bottom:49px;
}

.project_baseline_edition{

    a{
        text-indent:0px;
    }
    
    .greenbutton{
        margin-left:3px !important;
        margin-right:7px !important;
    }
} 



.project_baseline_edition_inactive {

    p{
        color:#898989;
        background-color:#bdbdbd;
        @include georgia(17px);
        position:relative;
        width:92%;
        border:0px;
        float:left;
        padding-top:5px;
        padding-bottom:5px;
        text-indent:10px;
        line-height:14px;
    }
    
    .button{
        left:-4px;
        line-height:15px;
        margin:0 3px 0 0;
        padding-top:2px;
        padding-bottom:2px;
        padding-left:0px;
        padding-right:10px;
        top:1px;
    }
}

#id_baseline {
	color:#2a2a2a;
	background-color:white;
    @include georgia(17px);
	position:relative;
	width:90%;
	border:0px;
	height:20px;
	line-height:20px;
	float:left;
	padding-top:5px;
	padding-bottom:5px;
	text-indent:6px;
	left:3px;
	top:-3px;
}



.project_baseline_edition .button, 
.project_baseline_edition .redbutton,
.project_baseline_edition .greenbutton{
	position:relative;
	float:right;
	text-align:center;
	margin:0px;
	margin-left: 8px;
	top:2px;
	padding-right:3px;
	padding-left:3px;
	line-height:15px;
}


#project_infos_block{
	font-family : Tahoma, Verdana, Arial, Sans-serif;
	font-size:12px;
	color:#898989;
	margin-top:35px;
	margin-bottom:20px;
	position:relative;
    
    .location img{
        position:relative;
        margin-left:4px;
    }
    
    .button{
        left:-4px;
        line-height:15px;
        margin:0 3px 0 0;
        padding:2px 10px;
        position:relative;
        text-align:center;
        top:3px;
    }
    
    .website a{
        color:#119CBA;
        @include georgia(11px);
        text-decoration:underline;
    }    
}


#project_infos_block:hover{
	background-color:#e4e4e4;
}



#project_infos_block_edit{

	background-color:#e4e4e4;
	font-family : Tahoma, Verdana, Arial, Sans-serif;
	font-size:12px;
	color:#898989;
	margin-top:35px;
	margin-bottom:20px;
	position:relative;
	padding:4px;
    
    .button{
        position:relative;
        top:-22px;
        right:3px;
        margin-left:3px;
        padding-left:3px;
        padding-right:3px;
    }
    
    p {
        width:100%;
        position:relative;
        float:left;
        margin-top:2px;
        margin-bottom:2px;
    }
    
    form{
       
       label{
            width:15%;
            position:relative;
            float:left;
            top:2px;
        }
        
        input, select{
        	font-size:11px;
        }
        
    }    
}



#info_website{
	width:396px;
}


#project_photo_upload{
	background-color:#bdbdbd;
	background-image:url("../images/project/media_upload.jpg");
	background-position:center;
	background-repeat:no-repeat;
	position:relative;
	height:362px;
	width:100%;
}


#project_photo_upload_edit{
	background-color:#E4E4E4;
	height:292px;
	width:100%;
	padding-top:40px;
	position:relative;
    
    h1{
        text-align:center;
        font-size:25px;
        margin-bottom:30px;
        position:relative;
        color:#5A5959;
    }
    
    #forms_files{
        width:85%;
        margin-left:auto;
        margin-right:auto;	
        
        form{
            padding-bottom:5px;
            position:relative;
        }
        
    }
    
    .redbutton{
        position:absolute;
        right:10px;
        top:10px;
        z-index:1000;
    }
    
    .greenbutton{
        position:absolute;
        padding-top:3px;
        padding-bottom:3px;
        right:5px;
    }
    
    form{
        position:relative;
        margin-bottom:15px;
        padding-left:5px;
        padding-bottom:10px !important;
        padding-right:5px;
        border-bottom:1px solid #BDBDBD;
    }
        
}



#photo_upload_form #upload_img_input{
	height:21px;
	padding-top:2px;
	padding-bottom:3px;
	top:-25px;
}

#forms_files  form p{
	margin-bottom:4px;
}

#forms_files {

    .media_desc_up input{


    }
    
    label{
        width:20%;
        float:left;
        position:relative;
        top:4px;
    }
    
    input[type=text], input[type=file]{
        background-color:#CCC8C8;
        border:0 none;
        color:white;
        padding:3px 4px;
        width:350px;
        
        @include border-radius(4px);
    }
    
    select{
        width:357px;
    }
    
    .media_licence_up{
    
        label{

        
        }
        
        input{ 

        
        }
    
    }
    
    form{
    
        .media_licence_select{

            select{
                padding-top:1px;
                padding-bottom:1px;
                margin-left:1px;
                background-color:#CCC8C8;
                border:1px solid #CCC8C8;
                color:white;
                
                @include border-radius(4px);	
            }

        }        
    }
    
    .media_movie_upload {
    
        label{
           width:auto !important;
           margin-right:7px;
        }
        
        input[type=text]{
            width:208px;
        }
    
    }

}



.project_description_zone_edition{
	background-color:#5a5959;
	background-image: url("../images/project/quote2-black.jpg"),url("../images/project/quote1-black.jpg"); 
	background-position: right top, left bottom; 
	background-repeat: no-repeat; 
}


.project_description_txt_edit, .project_description_txt{
	width:77%;
	padding-top:10px;
	padding-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	min-height:110px;
}

.project_description_txt_edit{

    textarea{
        background-color:#BDBDBD;
        border:0px;
        width:100%;
        height:105px;
    }
    
    .button, .redbutton, .greenbutton {
        position:relative;
        float:right;
        top:-25px;
        right:-73px;
        margin-right:3px;
        
        @include shadow(4px, #424242);
    }
}


.project_description_txt {

    h1{
        @include georgia(22px);	
        
        margin-top:30px;	
        color:white;
    }
    
    h2{
        @include georgia(17px);
        
        color:#232323;
        position:relative;
        display:inline;	
        padding-right:20px;	
        background-image: url("../images/project/edit1.png");
        background-position: right;
        background-repeat: no-repeat; 
    }
    
    a:hover{
        text-decoration:none;
    }

}



.project_details_title_edit{
	border-bottom:1px solid #bbbbbb;
	width:100%;
	float:left;
	padding-bottom:3px;
    height: 19px;
    
    h2{
        margin:0px;
        padding:0px;
        position:relative;
        float:left;
        font-size:14px;
        color:#424242;
    }
    
    .button{
        top:-1px;
        right:-15px;
        float:right;
    }
}



.project_details_body{
	position:relative;
	float:left;
	display:inline;
	margin-top:10px;	
	margin-bottom:30px;	
	width: 100%;
	font-size:11px;
	color:#5e5e5e;
    
    form textarea {
        width: 690px;
        padding: 4px;
        margin-bottom: 5px;
        border: 1px solid #aaa;
    }
}


.empty{
	font-style:italic;
	color:#838181;
}


.project_details_body_edit{
	margin-top:5px;
	position:relative;
	float:left;
	margin-bottom:20px;	
	text-align:right;
    
    textarea{
        margin-top:5px;
        margin-bottom:10px;
        position:relative;
        float:left;
        width:696px;
        height:80px;
        padding-top:5px;
        padding-bottom:5px;
    }
}


/* ----------Project Body - VISUALISATION ----------- */


.project_description{
	position:relative;
	margin-top:50px;
	margin-bottom:40px;
    
    .about_project{
        font-family : Tahoma, Verdana, Arial, Sans-serif;
        font-size:26px;
        color:#424242;
        font-weight:normal;
        font-style:normal;
        margin-bottom:10px;
        
        .button{
            top:8px;
        }
    }
}



.project_description_zone_view{
	background-color:#5a5959;
	background-image: url("../images/project/quote1-white.jpg"),url("../images/project/quote2-white.jpg"); 
	background-position: right bottom, left top; 
	background-repeat: no-repeat,no-repeat; 
}

#project_title{
	color:#5a5959;
	padding:0px;
    
    @include georgia(25px);
    @include border-radius(0px);
    
	border:0px;
    padding-top:13px;
    padding-bottom:13px;
}

#project_title:hover {
	color:white;	
	text-decoration:none;
	background-image:url("../images/project/project_title_edit.jpg");
	background-position:right bottom;
	background-repeat:no-repeat;
	background-color:#5A5959;
}

.project_baseline{
	color:#2a2a2a;
	font-size:15px;
	font-family : Tahoma, Verdana, Arial, Sans-serif;
	position:relative;
	width:100%;
	border:0px;
	float:left;
	padding-top:5px;
	padding-bottom:5px;
    
    p{
        color:#898989;
        
        @include georgia(17px);
        position:relative;
        width:93%;
        border:0px;
        float:left;
        padding-top:2px;
        padding-bottom:2px;
    }
    
    .button{
        position:relative;
        text-align:center;
        margin:0px;
        margin-right:3px;
        top:1px;
        padding-right:10px;
        padding-left:10px;
        padding-top:2px;
        padding-bottom:2px;
        left:-4px;
        line-height:15px;
    }
}



.project_description_zone{
	background-image: url("../images/project/quote2-white.png"),url("../images/project/quote1-white.png"); 
	background-position: right top, left bottom; 
	background-repeat: no-repeat; 
    padding-bottom:18px;
}



.project_description_txt{
	width:77%;
	padding-top:10px;
	padding-bottom:10px;
	margin-left:auto;
	margin-right:auto;
    text-align:justify;
	color:#5e5e5e;
	min-height:110px;
    
    p{
        padding-top:5px;
        padding-bottom:5px;	
        text-align:justify;
    }
    
    .greenbutton, .redbutton{
     top:3px;
    }
}


/* ----------Project Body - CREATION ----------- */




#project_photo_gallery{
	position:relative;
	width:700px;
    
    #media_buttons{
        position:absolute;
        right:7px;
        top:10px;
        z-index:1500;
        
        #del_media_inactive{
            background-color:#c4c4c4;
        }
        
        #del_media_inactive:hover{
            background-image:none !important;
            border:1px solid #BDBDBD !important;
        }
    }
}


.metadata{
	position:absolute;
	left:0px;
	z-index:1000;
	padding:10px;
	background-image:url("../images/base/black.png");
	width:683px;
	color:white;
	top:3px;
    
    label{


    }
    
    input[type=text],select{
        font-size:12px;
        width:110px;
        margin-right:10px;
    }
    
    .media_desc_edit{
        position:relative;
        top:-4px;
        margin-bottom:16px;
        
        input{
            width:590px;
            position:relative;
            left:10px;
        }
    }
}

.metadata_edit{
	height:84px;
}

#project_photo_gallery {

    .button{
        position:relative;
        padding:3px;
        padding-top:2px;
        padding-bottom:2px;
        margin-left:4px;
        
        img{
            position:relative;
        }
    }
}


#project_photo_gallery_current_photo{


}

#project_photo_gallery_mini{

    li{
        list-style-type:none;
        display:inline;
        padding:0px;
        height:100%;	
    }
    
    img{
        width:95px;
        height:65px;
        position:relative;
        border:3px solid white;
        float:left;
        margin-left:16px;
        margin-right:16px;
    }
    
    img:hover{
        border:3px solid black;
    }
	
}



.sidebar-section-openable {
  
  
}

#section-callto, #sidebar-section-partners {
    
    textarea{
        width:99%;
        height:180px;
    }
    
    
}


.grey_column #social-sharing.title{
    padding-left: 6px;
    font-style:normal;
}

.grey_column #social-sharing span.spread {
    font-size: 0.7em;
    margin-bottom: 3px;
    display: block;
}

.grey_column_objective_edition, .grey_column_cloudtag_edition{
	position:relative;
	display:block-inline;
	width:100%;
	float:left;
	margin-top:30px;
}


#grey_column_cloudtag_edition_title{
	position:relative;
	margin-bottom:10px;
}


.grey_column_content {
    
    .objectives_label{
        float:left;
        margin-right:5px;
    }

    label{
        font-weight:bold;
        color:#5a5959;
        font-size:14px;
        margin-bottom:30px;
        position:relative;
    }
}


/* --- Project Status --- */

#project_status{
    background-color:black;
    width:65%;
    @include border-radius(4px);
    @include shadow(4px, black);
    padding:5px;    
    
    .project_card_pictos{
        text-align:right;
        padding-right:12px;
    }
    
    .project_card_progress{
        position:relative;
    
        p{
        color: white;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: normal;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 16px;
        text-shadow: 1px 1px 1px black;
        top: 0px;
        }
    }
}




/* --- Related --- */


#project_objective{
	@include georgia(14px);
    
	color:#119cba;
	text-decoration:underline;

}

.grey_column_tagcloud{
	position:relative;
	float:left;
	margin-top:30px;
    
    ul{

        li a{
            @include georgia(inherit);
            color:#119cba;
            text-decoration:underline;
        }    
    }   
}

.grey_column_objective {
  ul {
     li a {
	 @include georgia(inherit);
         color:#119cba;
	 text-decoration:underline;
     }
  }
}

.grey_column_objective_edition select{
	font-weight:bold;
    
    @include georgia(14px);	
    color:#888888;
	border:0px;
	background-color:#ccc8c8;
	padding:3px;
	padding-left:4px;
	padding-right:4px;
	width:300px;
	
    @include border-radius(4px);
}

.precision{
	color:#9a9a9a;
	font-size:11px;
}

/* --- The Team --- */


.grey_column_team_member {
	position:relative;
    
    img{
        float:left;
        margin-right:10px;
    }
    
    h3, h2{
        float:left;
    }
    
    p{
        float:left !important;
        font-size:11px !important;
    }
    
    .grey_column_team_buttons{
        position:absolute;
        top:3px;
        right:-14px;
        padding:0px;
        width:34px;
        
        img{
            margin:0px;
            padding:0px;
        }
        
        .button{
            position:relative;
            padding:0px;
        }
    }
}



.grey_column_team_member, .grey_column_team_content {

	padding-left:20px;
	padding-right:20px;
	margin-top:15px;
	position:relative;

    h2{
    @include georgia(14px);
	padding:0px;
	margin:0px;
    float:left;
    
        a{
            font-size:14px;
            color:#5a5959;
        }
    }
    
    .flag{
        position:absolute;
        bottom:3px;
        right:-7px;
    }
    
    h3{
        font-size:12px;
        padding:0px;
        padding-top:5px;
        padding-bottom:10px;
        margin:0px;
    }
    
    p{
        font-size:12px;
        margin-bottom:25px;
    }
    
    form{
       
        p{
        margin-bottom:3px;
        
            label{
                width:15%;
                float:left;
            }
            
            input, textarea{
                width:495px;
            }
            
            textarea{
                height:80px;
            }
            
            option{
                width:475px;
            }
        }
    
    }

}



.grey_column_team_member_edit{
	position:relative;
	float:left;
	width:100%;	
	margin-bottom:10px;
    
    .empty_photo{
        height:143px;
        background-color:#CCC8C8;
        position:relative;
        overflow:hidden;
        
        img{
            width:100%;
            position:absolute;
        }
    }
    
    form p{
        margin-top:0px;
        margin-bottom:1px;
        
        input, textarea, select{
        	background-color:#CCC8C8;
            color:#5A5959;
            border:1px solid grey;
        }
        
        input, textarea{
        	width:214px;
        }
                
        input[type=file]{
            border:1px solid grey;
            margin-bottom:13px;
            width:100%;
        }
        
        input{
            @include georgia(14px);	
            padding-left:2px;
            padding-right:2px;
        }
        
         textarea{
            margin-top:9px;
            height:80px;
            font-family:Tahoma,Verdana,Arial,Sans-serif;
            font-size:12px;
            padding-top:2px;
            padding-left:2px;
            padding-right:2px;
        }
        
        select{
            width:220px;
            font-weight:bold;
            font-size:12px;
            font-family:Verdana,Arial,Helvetica,sans-serif;
        }
    }
    
    .button{
        margin-left:3px;
        margin-top:5px;
    }
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    .grey_column_team_member_edit form p input[type=file]{ width:214px; } /*hack pour chrome*/
}


/* --- Partners Widget --- */

#partners-widget{

    .title{
        /*padding-left:40px;*/
    }

    #partners_list{
    
        li.grey_column_team_partner{
            float:left;
            margin-bottom:20px;
            
            img{
                width:100%;
            }
            
            h2{
                margin-bottom:5px;
            
                a{
                    font-size:12px;
                    @include georgia(17px);
                    color: #5A5959;
                }
            }
            
            p{
                font-size:11px;
            }
            
        }
    }
    
}





/* Tags for theme */

ul#themes_tags {
    background-color: white;
    width: 720px;
}

ul#themes_tags li.tagit-new input {
    height: 20px;
    font-size: 1em;
}

ul#themes_tags li.tagit-choice a {
    margin-left:5px;
    color:#119cba;
    font-family:Verdana,Arial,Sans-serif;
    font-size:10px;
    font-style:normal;
    top:-1px;
    position:relative;
}

ul#themes_tags li.tagit-choice:first-letter {
    text-transform:uppercase;
}


ul#themes_tags li.tagit-choice {
    background-color: #CCC8C8;
    padding:5px;
    
    @include border-radius(4px);    
    @include georgia(14px);  
    
    font-style:normal;
    color:white;
    position:relative;
}

#themes_list {
    background-color: #ccc8c8;
    position:relative;
    float:left;
    padding:10px;
    width: 730px;
    margin-bottom:15px;
    
    @include border-radius(4px);
}

#themes_list li a {
    @include georgia(14px);
    
    color:white;    
    top:-19px;
    left:-6px;    
    position:relative;
}

#themes_list li a:first-letter {
    text-transform:uppercase;
}


/* References */

#project_refs{
	background-color:#eaeaea;
	padding-bottom:15px;
    
    .title{
        float:left;
        padding:6px 60px 6px 20px;

        .button{
            top:10px;
            right:5px;
            position:absolute;
        }
    }
    
    .ref{
        display:block;
        margin-left:10px;
        margin-right:10px;
        
        img{
          position:relative;
          top:7px;
          left:6px;
        }
    }
    
    .new_ref{
        list-style-type: none !important;
        margin-bottom:20px;
        
        input{
            color:#5A5859;
        }
    }
    
     ul{
        padding-left:20px;
        
        li{
            font-size:11px;
            color:#5a5859;
            display:list-item !important;
            list-style-type: disc !important;
            margin-bottom:3px;
            
            a{
                color:#119cba;
            }
        }
    }
    
    form{
        margin-bottom:54px;
        
        ul li {
        
            input[type=text]{
                width:94%;
                font-size:11px;
            } 

            .button{
             
             
            }            
        }
        
        .grey_column_save_close{
            right:-14px;
        }
        
        .grey_column_close{
            left:-8px;
        }
        
        .delete-row{
            padding:3px;
            margin-left:3px;
        }
        
        .add-row{
            margin-left:10px;
        }
    }
}


/* Comments */


#comments-module{
	background-color:#303030;
    position:relative;
    background-image:url('../images/project/comments-bg.jpg');
            
    .title{
        float:left;
        padding:6px 25px 6px 20px;

        img{
            position:relative;
            margin-right:10px;
            top:3px;
        }
    }
    
        
    #comments-count{
        position:absolute;
        right:20px;
        top:30px;
    }
    
    #comment-form, #comment-list{    
        padding-left:20px;
        padding-right:20px;
    }
    
    #comment-form{    
            position:relative;
            
            form{
                margin-bottom:30px;
                height:50px;
            }
            
            textarea{
                background-color:#5d5d5d;
                border:0px;
                @include border-radius(4px); 
                width:99%;
                height:17px;
                padding:4px;
                color:#aaa7a7;
                font-style:italic;
            }  
            
            .comment-info {
                position:relative;
            
                .bulle{
                    background-image:url('../images/project/bulle2.png');
                    position:absolute;
                    top:-6px;
                    right:60px;
                    width:16px;
                    height:16px;
                }
                
                img{
                    position:absolute;
                    top:-8px;
                    right:10px;
                    @include shadow(4px, black);
                    width:40px;
                    height:40px;
                    border:1px solid #f1e4d3;
                }
            
            }
    
    }
    
    #comment-list li{    
        list-style-type:none;
        padding:0px;
        position:relative;
        margin-bottom:40px;
        width:100%;
        float:left;
        
        .comment-message{        
            background-color:white;
            border:0px;
            @include border-radius(4px); 
            width:99%;
            padding:4px;
            margin-bottom:3px;
            padding-bottom:15px;
            @include single-box-shadow(#1d1a1a, 0px, 2px, 5px);
            color:#828181;
            font-size:11px;
        }

        
        .comment-info{
            position:relative;
            color:#acacac;
            font-size:11px;
            
            a{
                color:#acacac;
            }
            
            strong{
                @include georgia(12px); 
            }
    
            .bulle{
                position:absolute;
                width:16px;
                height:16px;
            }
            
            img{
                position:absolute;
                @include shadow(4px, black);
                width:40px;
                height:40px;
                border:1px solid #f1e4d3;
            }
        }
    }
    
    #comment-list li.even{  
    
        .bulle{
            background-image:url('../images/project/bulle1-d.png');
            top:-6px;
            right:60px;
        }
        
        img{
            top:-15px;
            right:10px;
        }   

        span{
            position:absolute;
            left:0px;
        }        
    }
    
    #comment-list li.odd {
    
        .bulle{
            background-image:url('../images/project/bulle1-g.png');
            top:-6px;
            left:60px;
        }
        
        img{
            top:-15px;
            left:10px;
        } 

        span{
            position:absolute;
            right:0px;
        }
    }    
}





/*-- license --*/
#license-note {
    padding-top: 30px;
    font-size: 9px;
    color: #bbbbbb;
    font-style: italic;
    vertical-align: middle;
    text-align: right;
    
    a{
        font-size: 9px;
        color: #119CBA;
        font-style: italic;
    }
    
     img {
        vertical-align: middle;
        padding-bottom: 2px;
    }
}


.search {
    float:left;
}


/* ----------Popups ----------- */


#notification-area{
    bottom:0px;
    z-index:3000;
    position :fixed;

    .anonymous-disclaimer, .edition-notification{
        background-color:black;
        @include border-radius(4px); 	
        @include shadow(4px, black); 
        padding:10px;
        color:white;
        border:2px solid $blue;
        margin-bottom: 10px;

        
        .close-notif{
            position:absolute;
            top:10px;
            right:10px;
            color:white;    
        }
    }
}
