@import "mixin.scss";

/* --TEMP---------------------------------------------------------------------------------------------------- */


#beta-logo{
    background-image:url('../images/base/beta-logo.png');
    background-repeat:no-repeat;
    width:144px;
    height:144px;
    position:fixed;
    top:0px;
    left:0px;
    z-index:9000;
}

.categories .menu ul li:first-child{
    display:block;
    visibility:visible;
    border-right:1px solid #676665;
}

.categories .menu  .selected .categ-button{
    display:block;
    visibility:visible;
    border-right:1px solid #676665;
}

.categories .menu ul li:first-child .categ-button{
    border-right:1px solid #676665;
}

.sf-menu .current{
    border-right:0px !important;
}



/* ----------------------------------------------------------------------------------------------------------- */





body{	
	background-color:black;
	padding:0px;
	margin:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;	
}


.centreur{	
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:977px;	
}

.global{
	
}


h1{
    @include georgia(18px); 
    color:#c2c2c2;
    
	padding:0px;
	margin:0px;
}


a{
	text-decoration:none;
	border:0px;	
}


a:hover{
	text-decoration:underline;	
}

p{
    padding:0px;
    margin:0px;
}

img{
    border:0px;
}


.button, .redbutton, .greenbutton{
	background-color:#eeeeee;
	border:1px solid #bdbdbd;
	position:relative;
	margin-left:15px;
	margin-right:15px;
    padding-top:1px;
	padding-bottom:1px;
	padding-left:5px;
	padding-right:5px;
	font-size:9px;
	font-family : Verdana, Arial, Sans-serif;
	font-weight:bold;
	color:#5a5959;
	text-shadow:1px 1px 0 #fff; 
	text-align:center;
	text-decoration:none;
	text-transform:none;
	font-style:normal;	
	float:left;	
	top:-1px;	
	
	@include shadow(4px, #a1a1a1); 
	@include border-radius(4px); 
    
    img{
        position:relative;
    }

}


.button:hover{
	color:#fff;
	text-decoration:none;
	text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
	background-position:0 -30px;
	background:url(../images/base/minibutton_blue.jpg);
	border:1px solid #2a65a0;	
}


.redbutton:hover{
	background:url(../images/base/minibutton_red.jpg);
	border:1px solid #881b1b;	
}

.greenbutton:hover{
	background:url(../images/base/minibutton_green.jpg);
	border:1px solid #01841f;	
}


.close{
	font-family:Verdana,Arial,Sans-serif;
	font-size:9px;
	color:black;
	float:right;
	font-weight:bold;
	text-decoration:none;
	position:relative;
	padding-left:2px;
	padding-right:2px;
	padding-right:2px;
	top:4px;
	font-style:normal;
	
	@include border-radius(2px); 
}


.close:hover{
	color:white;	
	text-decoration:none;
	background-color:black;
}


.del{
	font-family:Verdana,Arial,Sans-serif;
	font-size:9px;
	font-weight:bold;
	padding-left:2px;
	padding-right:2px;
	padding-right:2px;
	top:4px;
	font-style:normal;	
	color:white;	
	text-decoration:none;
	background-color:black;
	
	@include border-radius(2px); 	
    
	position:absolute; 
	right:19px; 
	z-index:4000;

}


.del:hover{
	color:black;	
	text-decoration:none;
	background-color:white;
}



/* --HEADER---------------------------------------------------------------------------------------------------- */

.header{
	
	width:100%;
	height:60px;
	/*height:97px;*/
	padding:0px;
	margin:0px;
	overflow:visible;
    
        .logo{
            position:absolute;
            float:left;
            top:22px;
            left:-5px;
            overflow:visible;	
            z-index:900;
            
            img, a{
            	overflow:visible;
            }
            
        }
        
        .linkbox{
            position:absolute;
            right:0px;
            padding-top:5px;
            font-size:11px;
            
            a{
                text-decoration:underline;
                margin-left:20px;
            }
        }

        .menu{
            position:relative;
            float:right;
            top:28px;   

            a{
                @include georgia(18px); 
                margin-left: 15px;
            }  

            a:hover{
                text-decoration:none;
            }            
        }        
	
}



ul{

	padding:0px;
	margin:0px;
    
    li{
        list-style-type:none;
        display:inline;
        padding:0px;
        margin:0px;
    }

}




/* Categories-------------------------------------------------------------------------------------------------- */

.categories{

	width:100%;
	background-image:url(../images/base/menu-bg.png);
	height:37px;	
	position:relative;
	top:-37px;	
	padding:0px;
	margin:0px;
	background-repeat:repeat-x;	
	border-top:1px solid #676665;    
    
    .menu{
    
    
        ul{
            padding-top:8px;
            position:relative;
            top:-8px;
        }
        
        .categ-button.first{
            border-left:1px solid #676665;
        }
        
        .categ-button{
            position:relative;
            padding:0px;
            margin:0px;
            width:107px;
            height:28px;
            float:left;
            padding-top:8px;	
            text-align:center;        
        }
        
        #categ-last{
            border-right:1px solid #676665;
        }
        
        .categ-button span{
        float:left;
        }

    }

}



.georgia{
	position:relative;	
	@include georgia(17px); 
	text-transform:lowercase;	
}


#langage-tool{

	position:absolute;
	right:0px;
	top:0px;
	float:right;
	color:#979797;
	text-align:center;
	z-index:300;
    
    form{
        left:5px;
        position:relative;
        
        select{

        
        }
        
    }
}


.selected-lang{
	width:33px;
	height:11px;
	background-repeat:no-repeat;	
	background-color:#211E1C;
	border:0px solid #646464;
	margin-left:5px;
	position:relative;
	top:4px;
}


#langage-tool form .button{
	padding:1px;
	padding-top:0px;
	padding-bottom:0px;
	margin-left:10px;
	top:1px;
}


.menu a:hover {
	text-decoration:none;
	color:white;
}



.categories .menu ul{

    li{
        a{
            font-family:Arial, Helvetica, sans-serif;
            font-size:16px;
            font-style:normal;
            font-weight:normal;
            color:#979797;
        }
        
        .categ-button a:hover{
            color:white;
            text-decoration:none;
            background-image:url(../images/base/menu-bg-hover.png);
            height:37px;
            position:relative;
            text-decoration:none;
            top:-9px;
            left:-1px;
            padding:0px;
            margin:0px;
            background-repeat:repeat-x;
            position:relative;
            padding:0px;
            margin:0px;
            width:107px;
            height:28px;
            float:left;
            padding-top:8px;
            border-top:1px solid #676665;
            border-left:1px solid #676665;
            border-right:1px solid #676665;
            text-align:center;
        }
        
        .selected {
            position:absolute;
            width:109px;
            height:40px;
            top:-8px;
            left:-1px;            
            padding-top:16px;
            z-index:100;            
            font-weight:bold;
            text-align:center;
        }

    }    
    
}



/* -- Search -- */



.search{

	height:40px;
	position:relative;
	float:right;
    top:-1px;
	padding-left:5px;
    
    input[type="text"]{
        background-color:#211e1c;
        color:#7F7E7E;
        border:1px solid #646464;
        font-family:Arial,Helvetica,sans-serif;
        font-size:16px;
        text-indent:5px;
        height:19px;
        width:220px;
        padding:1px;
    }
    
    input[type="submit"]{
        background-image:url(../images/base/search.jpg);
        height:23px;
        width:23px;
        background-repeat:no-repeat;
        border:0px;
        border-top:1px solid #646464;
        border-bottom:1px solid #646464;
        border-left:1px solid #646464;
        position:relative;
        left:4px;
    }
}



/* -- Tools -- */


.toolbox{

	position:absolute;
	right:0px;
	height:74px;
	background-image:url(../images/base/tools-bg.png);
	float:left;
	width:156px;
	top:-38px;
	overflow:visible;
	z-index:4000;
    
    .tools-title{
        position:relative;
        width:100%;
        height:20px;
        color:#929292;
        text-align:right;
        font-size:12px;
        padding-top:8px;
        left:-5px;
    }
    
    .tools img{
        border:0px;
    }
}




/* Contenu global-------------------------------------------------------------------------------------------------- */



.nav{
	background-image:url(../images/base/teaser-nav-bg.jpg);
	width:100%;
	height:423px;
	background-color:black;
	padding:0px;
	margin:0px;
	background-position:center;
	background-color:#282828;
}


.content{
	position:relative;
	padding:0px;
	margin:0px;
	top:-37px;	
	padding-top:20px;
	padding-bottom:20px;
}

.block-content{
	position:relative;	
	width:100%;
}


.colonne{
	float:left;
	position:relative;
}


.edito{
	color:#9d9d9d;
	font-size:15px;
	margin-top:10px;
	margin-bottom:5px;
}

#about .colonne a{
    text-decoration:underline;
}

.colonne{

    a{
        @include georgia(12px); 
        color:$blue;
        
        padding-top:5px;
        padding-bottom:3px;
        display:block;
    }
    
    a:hover{
        color:#65e4ff;	
    }
}



/* --Formulaires-- */



.newsletter{
	padding:3px;
	padding-left:10px;
	
	@include border-radius(5px); 
	
	background-image:url("../images/base/tools-bg.png");
}



.newsletter form{
	/*background-image:url("../images/base/form.jpg");
	background-position:0px -3px;
	background-repeat:no-repeat;*/
    
    label{
        width:33%;
        display:inline-block;
        vertical-align:top;
        font-weight:bold;
        
        @include georgia(18px); 
        color:$blue;
        
        margin-top:3px;
        margin-bottom:3px;
        margin-right:2px;
    }
    
    button{
        float:right;
        position:relative;
        background-color:#121212;
        border:1px solid #3a3937;
        color:$blue;
        font-size:16px;
        font-style:italic;
        font-weight:bold;	
        height:25px;
        margin-top:8px;
        padding-bottom:3px;
    }
}



.newsletter form  .error_msg, .errorlist{
	color:white;
	/*position:absolute;
	top:45px;
	right:100px;*/
	font-style:italic;
}

#id_content, #id_nom, #id_prenom, #id_mail, #id_subject/*,.content input*/{
	width:64%;
    border:1px solid grey;
	color:white;
	background-color:#242424;
	font-size:11px;
	margin-top:3px;
	margin-bottom:3px;
    @include border-radius(4px); 
}

#id_content{
	height:50px;
	padding:4px;
}

#id_nom, #id_prenom, #id_mail, #id_subject/*,.content input*/{
	height:12px;
	padding:4px;
}





/* --FOOTER---------------------------------------------------------------------------------------------------- */

.footer{
	width:100%;
	color:#393939;
	text-align:left;
	font-size:12px;
	height:12px;
	padding-top:10px;
	position:relative;
	top:-30px;

    ul{
        margin-bottom:20px;
    }	
    
    a{
        @include georgia(12px); 	
        color:#555555;
        margin-right:20px;	
    }
    
    a:hover{
        color:white;
    }
}




.social-networks{

    position:absolute;
    right:0px;

    a{
        padding:10px;
        background-color:#282828;
        margin-right:3px;
    }
    
    img{
        border:0px;
        position:relative;
        top:4px;
    }
}


.rss img{
    position:relative; 
    float:left; 
    margin-left:5px; 
    margin-right:5px; 
    top:2px;
}