@import "i4p-mixins";
@import "i4p/constants";
@import "i4p/buttons";
@import "i4p/sprites";

$gallery_strOverlayUrl: 'project_sheet/gallery_fancy/view-overlay.png';
$gallery_sizeOverlayHeight: image-height($gallery_strOverlayUrl);
$gallery_sizeOverlayWidth: image-width($gallery_strOverlayUrl);
$gallery_sizeThumbImageHeight: 120px;
$gallery_sizeThumbImageWidth: 140px;
$gallery_sizeThumbTextHeight: 60px;

.page-gallery-main,
.page-gallery-sidebar {

    .gallery-actions {
	@include i4p-layout-block;

	.button {
	    @include i4p-button-flat;
	    display: inline-block;

	    .action-add {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		background: $i4p-action-sprites no-repeat; 
		@include i4p-action-sprite('add-black'); 
	    }

	    &:hover .action-add {
		background: $i4p-action-sprites no-repeat; 
		@include i4p-action-sprite('add-white'); 
	    }
	}

    }

}
