{% import "macros.html" as macros %}
<div id="group-wiki-{{group.id}}" class="box group-wiki">
    <h2>{% trans %}Group info{% endtrans %}</h2>
    <img class="group-logo" 
        {% if group.group_profile.logo_url %}
            src="{{ group.group_profile.logo_url }}"
        {% else %}
            style="display:none"
        {% endif %}
    />
    <div class="content">
        {% if group.tag_wiki %}
            {{ group.tag_wiki.html }}
        {% endif %}
    </div>
    <div class="clearfix"></div>
        {{ macros.group_join_button(
                group_id = group.id,
                can_join = user_can_join_group,
                is_member = user_is_group_member
            )
        }}
    {% if request.user.is_authenticated() and request.user.is_administrator() %}
    <div class="controls">
        <a class="edit-description"
        >{% trans %}edit description{% endtrans %}</a>
        {% if group.group_profile.logo_url %}
            <span>|</span>
            <a class="change-logo"
            >{% trans %}change logo{% endtrans %}</a>
            <span>|</span>
            <a class="delete-logo">{% trans %}delete logo{% endtrans %}</a>
        {% else %}
            <span>|</span>
            <a class="change-logo"
            >{% trans %}add logo{% endtrans %}</a>
        {% endif %}
        <br/>
        {% if group_email_moderation_enabled %}
            <input type="checkbox"
                id="moderate-email"
                {% if group.group_profile.moderate_email %}checked="checked"{% endif %}
                data-toggle-url="{% url toggle_group_profile_property %}"
            />
            <label for="moderate-email">
                {% trans %}moderate emailed questions{% endtrans %}
            </label>
            <br/>
        {% endif %}
        <input type="checkbox" 
            id="open-or-close-group"
            {% if group.group_profile.is_open %}checked="checked"{% endif %}
            data-toggle-url="{% url toggle_group_profile_property %}"
        />
        <label for="open-or-close-group">
            {% trans %}anyone can join{% endtrans %}
        </label>
        <br/>
        <a 
            id="preapproved-emails"
            title="{% trans %}list of email addresses of pre-approved users{% endtrans %}"
            data-object-id="{{group.group_profile.id}}"
            data-model-name="GroupProfile"
            data-property-name="preapproved_emails"
            data-url="{% url edit_object_property_text %}"
            data-editor-heading="{% trans %}List of preapproved email addresses{% endtrans %}"
            data-help-text="{% trans %}Users with these email adderesses will be added to the group automatically.{% endtrans %}"
        >{% trans %}edit preapproved emails{% endtrans %}</a>
        <br/>
        <a 
            id="preapproved-email-domains"
            title="{% trans %}list of preapproved email address domain names{% endtrans %}"
            data-object-id="{{group.group_profile.id}}"
            data-model-name="GroupProfile"
            data-property-name="preapproved_email_domains"
            data-url="{% url edit_object_property_text %}"
            data-editor-heading="{% trans %}List of preapproved email domain names{% endtrans %}"
            data-help-text="{% trans %}Users whose email adderesses belong to these domains will be added to the group automatically.{% endtrans %}"
        >{% trans %}edit preapproved email domains{% endtrans %}</a>
    </div>
    {% endif %}
</div>
