{% from "macros.html" import user_country_flag, tag_list_widget, timeago %}
<li class="short-summary{% if extra_class %} {{extra_class}}{% endif %}" id="question-{{question.id}}">
 
	<div class="wrap_question_description">
		<h2><a title="{{question.summary|escape}}" href="{{ question.get_absolute_url(thread=thread) }}">{{thread.get_title(question)|escape}}</a></h2>
		<p>
			Nous recherchons un expert spécialisé dans les pédagogies alternatives pour nous aider à finaliser
			notre offre pédagogique ...
		</p>
		<!--{{ tag_list_widget(thread.get_tag_names(), search_state=search_state) }}-->
		<ul class="suite_tags">
			<li>
				<div class="part_tag">
					<a href="#">Subvention</a>
				</div> 
				<div class="part_pointe"></div>
			</li>
			<li>
				<div class="part_tag">
					<a href="#">Mécénat financé</a>
				</div>
				<div class="part_pointe"></div>
			</li>
			<li>
				<div class="part_tag">
					<a href="#">Recrutement</a>
				</div>
				<div class="part_pointe"></div>
			</li>
		</ul><!--fin ul.suite_tags -->
    </div><!--fin div.wrap_question_description -->
    
    <div class="infos_question">
    	<p>Posté le <span class="date_question">vendredi 7 Septembre 2012</span> par <span class="auteur_question">Sophie Duverger</span></p>
    	<p class="temps_restant">20 jours restants</p>
    	<div class="infos_pictos">
        	<a href="#" class="nbr_reponses">12</a>
        	<a href="#" class="nbr_vues">34</a>
        	<a href="#" class="nbr_votes">05</a>
        </div>
    	
    </div><!--fin div.infos_question -->
    
</li><!--fin li.short-summary -->

