{% extends 'umessages/base_message.html' %}
{% load i18n %}

{% block content_title %}<h2>{% trans "Compose" %}</h2>{% endblock %}

{% block usermessage_content %}
    <div id="usermessage_compose">

        <div class="avatar"><img src="http://www.google.fr/images/srpr/logo3w.png" alt="nom" /></div>
        <form action="" method="post" id="password_change_form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="send" value="{% trans 'Send' %}" />
        </form>
    
    </div>
{% endblock %}
