{% extends 'umessages/base_message.html' %}
{% load i18n %}

{% block content_title %}<h2>Conversation with {{ recipient }}</h2>{% endblock %}

{% block usermessage_content %}
    <ul id="usermessage_list">
        
        {% for message in message_list reversed %}
        <li class="usermessage">
        <div class="avatar"><img src="{{ message.sender.get_profile.get_mugshot_url }}" alt="{{ message.sender }}" /></div>
            
            <div class="usermessage_body">
                <em>{% trans 'Received on' %} {{ message.sent_at }}</em>
                <h1>{{ message.sender }}</h1>
                <br /><br />
                {{ message.body }}
                <br /><br />
            </div>
        </li>        
        {% endfor %}
        
        <div id="usermessage_compose">

        <div class="avatar"><img src="{{ user.get_profile.get_mugshot_url }}" alt="{{ message.to_user }}" /></div>
          <form action="{% url userena_umessages_reply %}" method="post">
                {% csrf_token %}
                
                <p>
                    <input type="hidden" id="id_to" name="to" value="{{ recipient }}" />
                    <textarea class="message" name="body" cols="40" rows="10" id="id_body"></textarea>
                </p>
                <input type="submit" name="send" value="{% trans 'Send' %}" />
            </form>
    
        </div>

        
    </ul>
    
{% endblock %}
