{% extends 'umessages/base_message.html' %}
{% load i18n umessages_tags %}
{% load humanize %}

{% block content_title %}<h2>Messages</h2>{% endblock %}

{% block usermessage_content %}
    <ul id="usermessage_list">
        {% for message in message_list %}
        
        {% if message.from_user == user %}
            {% get_unread_message_count_between user and message.to_user as unread_between_count %}
         {% else %}
            {% get_unread_message_count_between user and message.from_user as unread_between_count %}
        {% endif %}
        
        <li class="usermessage 
            {% if unread_between_count != 0 %}
            unsee
            {% endif %}        
        ">
            <a href="
                {% if message.from_user == user %}
                    {% url userena_umessages_detail message.to_user.username %}
                {% else %}
                    {% url userena_umessages_detail message.from_user.username %}
                {% endif %}
            "> 
                <div class="avatar"><img src="
                    {% if message.from_user == user %}
                        {{ message.to_user.get_profile.get_mugshot_url }}
                     {% else %}
                        {{ message.from_user.get_profile.get_mugshot_url }}
                    {% endif %}            
     
                " alt="
                    {% if message.from_user == user %}
                                {{ message.to_user }}
                             {% else %}
                                 {{ message.from_user }}
                            {% endif %}                
                " /></div>
                
                <div class="usermessage_body">
                    
                    <em>{% trans 'Received on' %} {{ message.latest_message.sent_at|timesince  }}</em>
                    
                    <h1>
                        {% if message.from_user == user %}
                            {% if message.to_user.get_full_name %}
                                {{ message.to_user.get_full_name }}
                            {% else %}
                                {{ message.to_user }}
                            {% endif %}
                         {% else %}
                            {% if message.from_user.get_full_name %}
                                {{ message.from_user.get_full_name }}
                            {% else %}
                                {{ message.from_user }}
                            {% endif %}
                        {% endif %}
                    </h1>
                    
                    <br />
                    <p>
                        {% if message.latest_message.sender == user %}
                            <img src="{{ STATIC_URL }}images/usermessages/answer.png" width="8" height="7" />
                        {% endif %}
                        {{ message.latest_message|truncatewords:20 }} | {{ message.latest_message.sender }}
                    </p>
                </div>
                
            </a>
                
            <div class="message_actions">
                {% if unread_between_count != 0 %}
                    <div class="nb_news">{{ unread_between_count }} {% trans 'new' %} </div>
                {% endif %} 
                
                <!-- DELETE THREAD BUTTON - todo - give possibility to delete all thread, whith his related subemssages -->
                {% comment %}
                <form method="POST" action="{% url userena_umessages_remove %}" id="delete_message">
                    {% csrf_token %}
                    {% with  message.messagecontact_set.all|join:"," as submessages %}
                        <input type="text" name="message_pks" value="[{{ submessages }}]" />
                    {% endwith %}
                    <input type="image" src="{{ STATIC_URL }}images/usermessages/delete.jpg" width="21" height="20" value="Delete" />
                </form>
                {% endcomment %}
            </div>

        </li>
        {% endfor %}
    </ul>
    
{% endblock %}
