<style type="text/css">
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: url('{{"/images/YanoneKaffeesatz-Regular.ttf"|media}}');
}
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    src: url('{{"/images/YanoneKaffeesatz-Bold.ttf"|media}}');
}
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300;
    src: url('{{"/images/YanoneKaffeesatz-Light.ttf"|media}}');
}
</style>
