<script src="{{"/js/modernizr.custom.js"|media }}"></script>
<script type="text/javascript">
    var askbot = {};
    askbot['data'] = {};
    {% if request.user.is_authenticated() %}
        askbot['data']['userIsAuthenticated'] = true;
        askbot['data']['userId'] = {{request.user.id}};
        askbot['data']['userIsAdminOrMod'] = {% if 
                                                request.user.is_administrator()
                                                or request.user.is_moderator()
                                            %}true{% else %}false{% endif %};
        askbot['data']['userReputation'] = {{request.user.reputation}};
    {% else %}
        askbot['data']['userIsAuthenticated'] = false;
        askbot['data']['userReputation'] = 0;
    {% endif %}
    askbot['urls'] = {};
    askbot['settings'] = {};
    askbot['messages'] = {};
</script>
{# avoid adding javascript here so that pages load faster #}
