{% extends "workgroup/layout/workgroup_base.html" %}

{% load i18n %}
{% load wiki_tags %}
{% load tagging_tags %}
{% load comments %}
{% load admin_urls %}
{% load sekizai_tags %}
{% load guardian_tags %}
{% load tabs %}

{% block tab %} {% endblock %}

{% block content %}
  {% tab 'workgroup' 'home' %}

    {% addtoblock "css" %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/workgroup/page/workgroup_detail.css" />
    {% endaddtoblock %}

<div class="container" id="workgroup-detail">
    {% include "workgroup/block/workgroup_header.html" %}

      <div id="workgroup-content" class="row">
        <div class="span8">

          {% if workgroup.mailing_list %}
             <em class="workgroup_email">{% blocktrans with ml_address=workgroup.mailing_list.email %}This group uses a mailing list. You can take part in the discussion by sending an e-mail to the following address: {{ ml_address }}{% endblocktrans %}</em> - [<a class="workgroup_archive" href="{{ workgroup.mailing_list.main_url }}/../../../pipermail/{{ workgroup.mailing_list.name }}">{% trans "Browse the Archives" %}</a>]
          {% endif %}

          {% tags_for_object workgroup as group_tags %}
          {% include 'tags/block/taglist.html' with taglist_tags=group_tags taglist_title='themes' %}


           
          <div class="wiki">
            {{ wiki_article.render|default:"..." }}
             {% block edit_link %}[<a href="{% url workgroup-wiki-edit workgroup.slug %}">edit</a>] {% endblock %}
          </div>

          <div class="shoutbox-box">
            {% get_comment_count for workgroup as comment_count %}
            <h3>{% blocktrans count num_comments=comment_count %}Comment:{% plural %}{{ num_comments }} comments:{% endblocktrans %}</h3> 
            {% if comment_count %}
            {% render_comment_list for workgroup %}
            {% endif %}
            {% get_comment_form for workgroup as comment_form %}
            <div class="shoutbox-form">
              <form method='POST' action='{% comment_form_target %}'>
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit" name="submit" value="Post">
              </form>
            </div>
          </div>
        </div>
	{% include "workgroup/block/workgroup_sidebar.html" %}
      </div>
    </div>
    
{% endblock %}


