{% extends "workgroup/layout/workgroup_base.html" %}
{% load i18n extra_tags support_tags humanize%}
{% load sekizai_tags %}

{% load wiki_tags %}
{% load tagging_tags %}
{% load comments %}
{% load admin_urls %}
{% load guardian_tags %}
{% load thumbnail %}
{% load tabs %}

{% block title %}{% blocktrans with group_name=workgroup.name %}{{ group_name }} group discussions | Imagination for People{% endblocktrans %}{% endblock %}

{% block content %}
   {% tab 'workgroup' 'discussion' %}

{{block.super}}
{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}style/forum_searchbar.css" />
{% endaddtoblock %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/workgroup/page/workgroup_detail.css" />
{% endaddtoblock %}
{% addtoblock "css" %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/workgroup/page/workgroup_members.css" />
{% endaddtoblock %}

{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/project_questions/page/questions_search.css" />
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#queryForm input:submit').hide();
	$("#queryForm").submit(function(){
		var url = $(this).attr("action");
		url = QSutils.patch_query_string(url, "query:"+$(this).find("input[name=query]").val());
		console.log(url);
		window.location.replace("{%url workgroup-discussion workgroup.slug %}" + url);
		return false;
	});
	
	$("a.remove-tag-search").click(function(){
		var url = $(this).attr("href");
		url = QSutils.remove_search_tag(url, $(this).attr("data-tag-name"));
		window.location.replace("{%url workgroup-discussion workgroup.slug %}" + url);
		return false
	});
	
	$("a.remove-query-search").click(function(){
        var url = $(this).attr("href");
        url = QSutils.patch_query_string(url, "query:"+$(this).attr("data-tag-name"), true);
        window.location.replace("{%url workgroup-discussion workgroup.slug %}" + url);
        return false
    });
});
</script>
{% endaddtoblock %}

<div class="container project-content" id="workgroup-detail">      
    {% include "workgroup/block/workgroup_header.html" %}
    
    <div class="row">
        <div class="span8">
            {% if workgroup.mailing_list %}
             <em class="workgroup_email">{% blocktrans with ml_address=workgroup.mailing_list.email %}This group uses a mailing list:&nbsp;</em>{{ ml_address }}{% endblocktrans %}</em> - [<a class="workgroup_archive" href="{% url workgroup-list-archive workgroup.slug %}">{% trans "Find history of messages exchanged" %}</a>]. {% trans "To subscribe/unsubscribe to this list, click the button above." %}
          {% endif %}
            <div id="categorySearch">
                <a href="{{ search_state.full_ask_url }}" id="askButton"><i class="interrogation">&nbsp;</i>{% trans "Ask your question" %}</a>
            </div>
            {% if search_tags or query %}
            <ul class="search-tags">
                {% if query %}
                <li>{{query}}<a class="remove-query-search" data-tag-name="{{query}}" href="{{search_state.full_url}}">X</a></li>
                {% endif %}
                {% for tag in search_tags %}
                <li>{{tag}}<a class="remove-tag-search" data-tag-name="{{tag}}" href="{{search_state.full_url}}">X</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            
            <div>
            {% include_jinja "main_page/tab_bar.html" request %}
            </div>
            {% include "project_questions/block/question_list.html" %}
        </div>
        <!-- INTEGRATION NEEDED -->
        <div class="span4 project-sidebar"> 
            {% include "project_questions/block/questions_activities.html" %}
        </div>
    </div>
    
</div>
{% endblock %}
