{% extends "workgroup/layout/workgroup_base.html" %}

{% load i18n %}
{% load wiki_tags %}
{% load tagging_tags %}
{% load comments %}
{% load admin_urls %}
{% load sekizai_tags %}
{% load guardian_tags %}
{% load tabs %}

{% block title %}{% blocktrans with group_name=workgroup.name %}{{ group_name }} group home | Imagination for People{% endblocktrans %}{% endblock %}

{% block content %}  
    {% addtoblock "css" %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/workgroup/page/workgroup_detail.css" />
    {% endaddtoblock %} 
<div id="workgroup-header">
    <div id="workgroup-header-inner">
        {% block workgroup_header %}{% tab 'workgroup' 'home' %}{% include "workgroup/block/workgroup_header.html" %}{% endblock %}
    </div>
</div>
<div class="container" id="workgroup-detail">
      <div id="workgroup-content" class="row">
      {% if workgroup.mailing_list %}
             <em class="workgroup_email">{% blocktrans with ml_address=workgroup.mailing_list.email %}This group uses a mailing list:&nbsp;</em>{{ ml_address }}{% endblocktrans %}</em> - [<a class="workgroup_archive" href="{% url workgroup-list-archive workgroup.slug %}">{% trans "Find history of messages exchanged" %}</a>]. {% trans "To subscribe/unsubscribe to this list, click the button above." %}
          {% endif %}
          
      {% if workgroup.iframe_home_src %}
        <iframe src="{{ workgroup.iframe_home_src }}" frameborder="0" width="1000" height="1400" ></iframe>
        {% else %}
        <div class="span8">

          
   
          {% tags_for_object workgroup as group_tags %}
          {% include 'tags/block/taglist.html' with taglist_tags=group_tags taglist_title='themes' %}
           
          <div class="wiki">
            {{ wiki_article.render|default:"..." }}
             {% block edit_link %}[<a href="{% url workgroup-wiki-edit workgroup.slug %}">edit</a>] {% endblock %}
          </div>
     {% comment %}
          <div class="shoutbox-box">
            {% get_comment_count for workgroup as comment_count %}
            <h3>{% blocktrans count num_comments=comment_count %}Comment:{% plural %}{{ num_comments }} comments:{% endblocktrans %}</h3> 
            {% if comment_count %}
            {% render_comment_list for workgroup %}
            {% endif %}
            {% get_comment_form for workgroup as comment_form %}
            <div class="shoutbox-form">
              <form method='POST' action='{% comment_form_target %}'>
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit" name="submit" value="Post">
              </form>
            </div>
          </div>
     {% endcomment %}
        </div>
	{% include "workgroup/block/workgroup_sidebar.html" %}
	   {% endif %}
      </div>
    </div>
    
{% endblock %}


