{% extends "workgroup/layout/workgroup_base.html" %}

{% load i18n %}
{% load wiki_tags %}
{% load tagging_tags %}
{% load comments %}
{% load admin_urls %}
{% load guardian_tags %}
{% load thumbnail %}
{% load sekizai_tags %}

{% block content %}

    {% addtoblock "css" %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/workgroup/page/workgroup_detail.css" />
    {% endaddtoblock %}
    {% addtoblock "css" %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/workgroup/page/workgroup_members.css" />
    {% endaddtoblock %}

    <div class="container" id="workgroup-detail">
      {% include "workgroup/block/workgroup_header.html" %}

      <div id="workgroup-content" class="row">
	<div class="span8">
          <div id="subscribers-list-full">
            <h3>{% trans "Subscribers list" %}</h3>
            <ul>
              {% for subscriber in workgroup.subscribers.all %}
              <li><a href="{% url userena_profile_detail subscriber.username %}"><img class="tipsed"  {% if request.user == member %}{% endif %} title="{{ subscriber.first_name }} {{ subscriber.last_name }}" src="{{ subscriber.get_profile.get_mugshot_url }}" width="40px" height="40px"/></a></li>
	      {% empty %}
	      {% trans "There are no group subscribers." %}
              {% endfor %}
            </ul>
	  </div>
	    
	  {% if workgroup.mailing_list and user.is_superuser %}
	    
	  <div>
	    <h3>{% trans "Other mailing list subscribers" %} ({{ ml_nonmember_list|length }})</h3>

	    <ul>
	      {% for ml_member in ml_nonmember_list %}
	      <li>{{ ml_member.email }} </li>
	      {% endfor %}
	    </ul>

	    {% endif %}
          </div>
	</div>
	{% include "workgroup/block/workgroup_sidebar.html" %}
      </div>
    </div>
    
{% endblock %}


