{% extends "workgroup/layout/workgroup_base.html" %}

{% load i18n %}
{% load wiki_tags %}
{% load tagging_tags %}
{% load comments %}
{% load admin_urls %}
{% load guardian_tags %}
{% load thumbnail %}
{% load sekizai_tags %}
{% load tabs %}

{% block title %}{% blocktrans with group_name=workgroup.name %}{{ group_name }} group projects | Imagination for People{% endblocktrans %}{% endblock %}

{% block content %}
	{% if not clean %}
   	{% tab 'workgroup' 'projects' %}
    {% endif %}
    
    {% addtoblock "css" %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/workgroup/page/workgroup_detail.css" />
    {% endaddtoblock %}
    {% addtoblock "css" %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/workgroup/page/workgroup_members.css" />
    {% endaddtoblock %}
    {% addtoblock "css" %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/project_card_list.css" />
   {% endaddtoblock %}

    <div class="container" id="workgroup-detail">
    	{% if not iframe %}
      	{% include "workgroup/block/workgroup_header.html" %}
		{% endif %}
      <div id="workgroup-content" class="row">
	      <div class="span8">
            <section id="projects-list" class="group">
               <header>
                  <h1>
                  {% blocktrans count num_projects=group_projects|length %}
{{ num_projects }} projects Linked to the group
{% plural %}
{{ num_projects }} projects Linked to the group
{% endblocktrans %}</h1>               
               </header>
               {% for project in group_projects %}
                  {% include "project_sheet/block/project_card.html" %}
               {% empty %}
                  {% trans "No projects found" %}
               {% endfor %}
	         </section>
	      </div>
      </div>
   </div>
    
{% endblock %}




