{% load humanize %}
<div class="comment">
  <div class="comment-message">{{ comment.comment|capfirst }}</div>
  <div class="comment-info">
    <div class="bulle"></div>
    <a href="{% url userena_profile_detail comment.user.username %}"><img src="{{ comment.user.get_profile.get_mugshot_url }}" /></a>
    <span><strong><a href="{% url userena_profile_detail comment.user.username %}">{{ comment.user.get_full_name|default:comment.user.username }}</a></strong> - {{ comment.submit_date|naturalday|capfirst }}</span> 
  </div>            
</div>
