@import "i4p/mixins";
@import "i4p/constants";

body {
    background-color: $colorWhite;
}

#header-zone {
    background-color: $colorDarkGrey;
}

#subheader-zone {
    background-color: white;
    position: relative; // make children element 'absolute' positionning relative to this elment
}

#picture-zone {
    background-color: black;
    height: 253px;
    border-bottom: $sizeBorderMedium solid $colorLightBlue;

    .tag-header {
    position: relative;

    a {
        img {
        width: 100%;
        height: auto;
        border: none;
        }
    }

    .credit {
       @include i4p-font-base($sizeTextSmall);
       color: $colorWhite;
    }
    }

    .project-list {
    /* width: 296px;*/
    margin-top: 20px;
    }


}

#content-zone {
    clear: both;
    background-color: white;
    margin-bottom: 2em;
    padding-top: 1em;
    hr.shaded-separator {
    @include i4p-shaded-separator;
    }
}

.description-zone {
    @include i4p-background-vertical-gradient($colorDarkGrey, black);
    @include i4p-box-shadow-bottomleft;
    border-radius: 0 $sizeRadiusSmall $sizeRadiusSmall 0;
    position: relative;  /* For absolution positioning of readmore */
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 90px;
    margin-right: 1em;

    
    .i4p-icon-tag-big {
    display: block;
    margin: 0;
    padding: 0;
    min-height: 5em;
    min-width: 5em;
    background-image: image-url("tags/icon-tag-white-big.png");
    background-repeat: no-repeat;
    background-position: center center;
    }

    .tag-title {
    color: $colorWhite;
    font-family: $fontOpenSans;
    font-size: $sizeTextHuge;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    }

    .tag-description {
    color: $colorWhite;
    font-family: $fontOpenSans;
    font-size: $sizeTextNormal;
    font-style: italic;

    .button {
        margin-top: 1em;
        margin-left: 1em;
        float: right;
    }
    }

    .readmore {
    @include border-radius($sizeRadiusSmall);
    @include i4p-background-vertical-gradient($colorDarkGrey, black);
    @include i4p-box-shadow-bottomleft;
    position: absolute;
    top: 25px;
    right: -25px;
    display: block;
    width: 50px;
    height: 50px;

    &:hover {
        right: -30px;
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
        background-image: image-url("tags/icon-arrow-blue-big.png");
        background-position: center center;
        background-repeat: no-repeat;
    }
    }
}


.tag-follow-button {
    @include i4p-background-vertical-gradient(#4abae9, #3990b4);
    @include border-radius($sizeRadiusSmall);
    @include i4p-transition( all .5s ease );
    display: block;
    border: 4px solid #c7e4ea;
    color: $colorWhite;
    padding: 1em;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 2em;
    text-transform: uppercase;

    &:hover {
    @include i4p-background-vertical-gradient(darken(#4abae9,5%), darken(#3990b4,5%));
    border: 4px solid darken(#c7e4ea,5%);
    text-decoration: none;
    }
}

.tag-add-button {
    @include i4p-add-button-fancy-dotted;
}

