{% import "macros.html" as macros %}

{# ==== BEGIN: question/question_card.html ==== #}
{% include "question/question_card.html" %}
{# ==== END: question/question_card.html ==== #}
{% if thread.closed %}
    {# ==== START: question/closed_question_info.html ==== #}
    {% include "question/closed_question_info.html" %}
    {# ==== END: question/closed_question_info.html ==== #}
{% endif %}

{% if answers %}
    <div class="clean"></div>

    {# ==== START: question/answer_tab_bar.html ==== #}
    {% include "question/answer_tab_bar.html" %}
    {# ==== END: question/answer_tab_bar.html ==== #}

    <div class="clean"></div>
    {{ macros.paginator(paginator_context, anchor='#sort-top') }}
    <div class="clean"></div>

    {% for answer in answers %}
        {# ==== START: question/answer_card.html ==== #}
        {% include "question/answer_card.html" %}
        {# ==== END: question/answer_card.html ==== #}
    {% endfor %}
    {{ macros.paginator(paginator_context, anchor='#sort-top') }}
    <div class="clean"></div>
{% endif %}

{# ==== START: question/new_answer_form.html ==== #}
{% include "question/new_answer_form.html" %}
{# ==== END: question/new_answer_form.html ==== #}
{% if request.user == question.author %}{# this is outside the form on purpose #}
    <input type="button" class="submit after-editor answer-own-question" id="fmanswer_button"  value="{% trans %}Answer Your Own Question{% endtrans %}"/>
{%endif%}
