{% load i18n %}
<!-- 
BEGIN OF FORUM/QUESTION/HEAD_JAVASCRIPT.HTML
 -->
<script type="text/javascript">
    //below is pure cross-browser javascript, no jQuery
        var data = askbot['data'];
        var posts = {};
        var votes = {};
        if (data['userIsAuthenticated']){
            {% for post_id in user_votes %}
                votes['{{post_id}}'] = {{user_votes.post_id}};
            {% endfor %}

            {% for post_id in user_post_id_list %}
                posts['{{post_id}}'] = 1;
            {% endfor %}  
        }
        data['user_posts'] = posts;
        data['user_votes'] = votes;

        function render_vote_buttons(post_type, post_id){
            var upvote_btn = document.getElementById(post_type + '-img-upvote-' + post_id);
            var downvote_btn = document.getElementById(post_type + '-img-downvote-' + post_id);
            
            if (data['userIsAuthenticated']){
                if (post_id in data['user_votes']){
                    var vote = data['user_votes'][post_id];
                    if (vote == -1){
                        var btn = downvote_btn;
                    } else if (vote == 1){
                        var btn = upvote_btn;
                    } else {
                        return;
                    }
                    if (post_type == 'comment'){
                        btn.className = btn.className + ' upvoted';
                    } else {
                        btn.className = btn.className + ' on';
                    }
                }
            }
        }
        function render_post_controls(post_id){
            if (data['userIsAdminOrMod']){
                return;//all functions on
            }
            if (post_id in data['user_posts']){
                //todo: remove edit button from older comments
                return;//same here
            }
            if (data['userReputation'] < {{settings.MIN_REP_TO_DELETE_OTHERS_COMMENTS}}){
                var delete_btn = document.getElementById('post-' + post_id + '-delete');
                delete_btn.parentNode.removeChild(delete_btn);
            }
            if (data['userReputation'] < {{settings.MIN_REP_TO_EDIT_OTHERS_POSTS}}){
                var edit_btn = document.getElementById('post-' + post_id + '-edit')
                edit_btn.parentNode.removeChild(edit_btn);
            }
            var retag_btn = document.getElementById('retag');
            if (data['userReputation'] < {{settings.MIN_REP_TO_RETAG_OTHERS_QUESTIONS}} && retag_btn){
                retag_btn.parentNode.removeChild(retag_btn);
            }
        }
        function render_add_comment_button(post_id, extra_comment_count){
            var can_add = false;
            {% if user_can_post_comment %}
                can_add = true;
            {% else %}
                if (post_id in data['user_posts']){
                    can_add = true;
                }
            {% endif %}
            var add_comment_btn = document.getElementById(
                'add-comment-to-post-' + post_id
            );
            if (can_add === false){
                add_comment_btn.parentNode.removeChild(add_comment_btn);
                return;
            }

            var text = '';
            if (extra_comment_count > 0){
                if (can_add){
                    text = "{% trans 'post a comment / <strong>some</strong> more' %}";
                } else {
                    text = "{% trans 'see <strong>some</strong> more' %}";
                }
            } else {
                if (can_add){
                    text = "{% trans 'post a comment' %}";
                }
            }
            add_comment_btn.innerHTML = text;
            //add the count
            for (node in add_comment_btn.childNodes){
                if (node.nodeName === 'strong'){
                    node.innerHTML = extra_comment_count;
                    break;
                }
            }
        }
        function render_add_answer_button(){
            var add_answer_btn = document.getElementById('add-answer-btn');
            if (askbot['data']['userIsAuthenticated']){
                if (askbot['data']['userId'] == {{question.author_id}}){
                    add_answer_btn.className += ' answer-own-question';
                    add_answer_btn.setAttribute(
                        'value',
                        '{% trans 'Answer Your Own Question' %}'
                    )
                } else {
                    add_answer_btn.setAttribute(
                       'value',
                        '{% trans 'Post Your Answer' %}'
                    )
                }
            } else {
                add_answer_btn.setAttribute(
                    'value',
                    '{% trans 'Login/Signup to Post' %}'
                );
            }
        }
        askbot['functions'] = askbot['functions'] || {};
        askbot['functions']['renderPostVoteButtons'] = render_vote_buttons;
        askbot['functions']['renderPostControls'] = render_post_controls;
        askbot['functions']['renderAddCommentButton'] = render_add_comment_button;
        askbot['functions']['renderAddAnswerButton'] = render_add_answer_button;
</script>
<!-- 
END OF FORUM/QUESTION/HEAD_JAVASCRIPT.HTML
 -->