@import "i4p/mixins";
@import "i4p/constants";

$taglist_sizeBlockHeight: $sizeTextSmall * 1.3;
.tag-list {
    line-height: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;

    h2 {
		@include border-radius($sizeRadiusSmall);
		background-image: image-url("tags/icon-tag-grey-bg.png");
		background-position:0 center;
		background-repeat: no-repeat;
		height: 22px;
		font-family: $fontOpenSans;
		font-weight: bold;
		font-style: italic;
		font-size: 1.1rem;
		display: inline;
		color: white;
		float: left;
		background-color: #706f6f;
		padding-left: 32px; // icon size
		padding-right: 5px;
		margin: 0 5px 0 0;
		line-height: 22px;
    }

    ul {
		display: block;
		list-style: none;
		margin-left: $sizeMarginSmall;

		&:after {
		    content: "";
		    clear: both;
		}

		li {
		    @include i4p-transition(all .5s ease);
		    @include border-radius(5px);
		    background-color: #e6e6e6;
		    color: #706f6f;
		    display: block;
		    float: left;
		    font-family: $fontOpenSans;
		    font-style: italic;
		    font-weight: bold;
		    height: 22px;
		    line-height: 22px;
		    margin:0 5px 4px 0;
		    padding:0 5px;
		    position: relative;

		    &.edit {
		    width:22px;
			background-color: #706f6f;
			color: white;
			background-image: image-url("tags/icon-tag-pencil.png");
			background-position:center center;
			background-repeat: no-repeat;
			padding:0;

				a {
			    	display: block;
				    height: 22px;
				    text-indent: -9999em;
				    width: 22px;
				}
		    }

		    a {
			@include i4p-transition(all .5s ease);

			font-size: 1.1rem;
			color: inherit;
			margin-right: 0.2em;
			text-decoration: none;
		    }

		    &:hover {
			background-color: $colorMedGrey;
			color: $colorLightLightGrey;
		    }
		}
    }
}
