{% load i18n %}  

<div id="fb-fanbox" class="homebox">
    {% comment %}
        <iframe src="http://www.facebook.com/connect/connect.php?id=136396226386057&width=225&connections=3&stream=false&header=false&height=80&css=http://client.skwid-creation.fr/fb-fanbox.css" scrolling= "no" frameborder="0" style="border:none; overflow:hidden; width:225px; height:80px;" allowTransparency="true"></iframe>
    {% endcomment %}
    
    <div class="fb-like-box" data-href="https://www.facebook.com/credemontreal" data-width="250" data-height="80" data-colorscheme="dark" data-show-faces="false" data-stream="false" data-header="false"></div>
    
</div>
