@import "i4p/mixins";
@import "i4p/constants";

.content{
    padding:1em;
    
    a{
        color: $colorLightBlue;
    }

    h1{
        font-size:20px;
        margin-top:10px;
        margin-bottom:15px;    
        border-bottom:1px solid grey;
    }

    h2{
        font-size:15px;
    }

    h3{
        font-size:10px;
    }

    p{
        font-size:12px;
        text-align:justify;
        line-height:17px;
        /*
        margin-left:30px;
        margin-right:30px;
        */
        margin:10px 0px;
    }

    hr{
        margin-top:20px;
        margin-bottom:20px;
        background-image: image-url("base/separator.jpg");
        background-repeat:repeat-x;
        border:0px;
        height:2px;
    }


    blockquote{
    }

    q{
    }

    cite{
    }

    img{
    }

    ul, ol{
        margin:0;
        margin-left:2em;
        padding:0.2em;
    }

ol{
   > li{
        display:list-item;
        margin-left:20px;
        list-style-type:decimal;
    }
	}
	
ul{
    > li{
        display:list-item;
        margin-left:20px;
        list-style-type:square;
    }
	}

    pre{
    }

    acronym{
    }

    abbr{
    }

    table{
    }

    tr{
    }

    td{
    }

    code{
    }

    a{
    }
}
