@import "i4p/mixins";
@import "i4p/constants";


body{
    background-color:#282828;
    color: $colorDarkGrey;
}

a:hover{
    text-decoration:none;
}

/*---- BANNER ----*/

#homepage-banner{
    min-height:133px;
    background-color: $colorLightLightGrey;
    position:relative;
    background-image: image-url('i4p_base/pages/homepage/banner/bubbles_left.png'),image-url('i4p_base/pages/homepage/banner/bubbles_right.png');
    background-repeat:no-repeat,no-repeat;
    background-position:left bottom, right bottom;
    @include i4p-font-base($sizeTextBig);
    text-align:center;
    vertical-align: top;
    horizontal-align: center;
    .container {
        
    }
    .block-container {
        position: relative;

        .i4p-block {
            display: inline-block;
            padding: 0 0.5em 0 0.5em;
            text-align: left;
            vertical-align: top;
            min-height: 100%;
            }
        img {
                margin-top: 3px;
                display: inline;
                vertical-align: bottom;
            }
        #home-video-lightbox-modal-link {
            vertical-align: middle;
            height: 133px;
            margin: 0;
            display: inline-block;
            width: 172px;
            /* 172x87px background, 46x45px play button*/
            background-image: image-url('i4p_base/pages/homepage/banner/play_button_transparent.png'), image-url('i4p_base/pages/homepage/banner/video_background.jpg');
            background-repeat:no-repeat,no-repeat;
            background-position:center center;
            &:hover {
                background-image: image-url('i4p_base/pages/homepage/banner/play_button.png'), image-url('i4p_base/pages/homepage/banner/video_background.jpg');
                background-repeat:no-repeat,no-repeat;
                background-position:center center, center center;
            }
        }
        h1 {
            @include i4p-font-base($sizeTextVeryLarge);
            font-weight: bold;
            text-transform: uppercase;
            color: $colorMedBlue;
            margin: 0.5em 0 0.1em 0;
        }
        h2 {
            @include i4p-font-base($sizeTextNormal);
            font-weight: bold;
            text-transform: uppercase;
            margin: 0.1em 0 0 0;
            color: $colorDarkGrey;
        
        }
        hr {
            @include i4p-shaded-separator;
            margin: 8px 0;
        }
        ul {
            @include i4p-font-base($sizeTextNormal);
            font-weight: bold;
            color: $colorDarkGrey;
            margin: 0.5em 0 0.5em 0;
            li {
                line-height: inherit;
                list-style-type: none;
                margin: 0.3em 0;
                &:before {
                    content:">";
                    margin-right: 0.1em;
                }
                a {
                    color: inherit;
                    &:hover {
                        color: $colorMedBlue;
                    }
                }
            }
        }
    }
}

/*---- FOCUS ----*/

#focus-zone{
  	background-image: image-url('home/focus-bg.jpg'); 
    height:364px;
    

}

/*---- CONTENT ----*/


#content-zone{

    #content{    
        background: image-url('home/content-bg.jpg') repeat-y right; 
        padding:15px 0px;
        
        #left_col{
            width:685px;
            float:left;
            position:relative;
            
            > div {
                margin: 10px 0px;
                padding: 8px 8px;
                background-color: $colorLightGrey;
                color:$colorDarkGrey;
            }
            
            #blog_box_zone{
                padding: 0;
                width:48%;
                margin-right:2%;
                float:left;
            }
            
            #twitter_box_zone{
                padding: 0;
                width:48%;
                margin-left:2%;
                float:right;
            }

            
        }
        
        #right_col{
            width:245px;
            padding:0px 10px;
            float:right;
            position:relative;
            color:$grey;
            
            .homebox{
                margin:15px 0px;
                position:relative;
            
                h1{
                    @include i4p-font-base($sizeTextBig);
                    margin:0px;
                    padding:0px;
                    text-transform:uppercase;
                }
                
                hr{
                margin:7px 0px;
                }
                
                label{
                    float:left;
                }
                
                input[type=text], input[type=password], textarea{
                    @include i4p-font-base($sizeTextTiny);
                    background-color:#242424;
                    color:#818181;
                    border:1px solid #343434;
                    margin: 3px 0px;
                    width:98%;
                    padding:2px;
                    @include border-radius(4px); 
                }
                
                input[type=submit], button{
                    @include i4p-font-base($sizeTextSmall);
                    padding:3px 6px;
                    margin:0px;
                    background-color:#303030;
                    color:#737373;
                    border:0px;
                    cursor:pointer;     
                    @include border-radius(4px);
                }
                
                input[type=submit]:hover, button:hover{
                    color:black !important;
                }
                
                .close-button{
                    position:absolute;
                    top:0px;
                    right:0px;
                    cursor:pointer;
                }

            }
            
            #loginbox{
                background-color:#292929;
                background-image: image-url('home/loginbox-bg.jpg');
                @include border-radius(4px);
                padding:10px;
                overflow:hidden;
                
                .loginlink{
                    @include i4p-font-base($sizeTextLarge);
                    text-transform:uppercase;
                    color:$grey;
                    margin:0px 3px;
                    
                    img{
                        margin:0px 5px;
                        position:relative;
                        top:3px;
                    }
                }
                
                .loginlink:first-child{
                    color: $colorLightBlue;
                }
                
                hr{
                    border-top:1px solid #242424 !important;
                    border-left:1px solid #242424 !important;
                    border-right:1px solid #242424 !important;
                    margin-top:10px;
                }
                
                ul{
                    margin-top:8px;
                }

                
                form{
                
                    label{                   
                        display:none;
                        visibility:hidden;
                    }                   

                    input[type=submit], button{
                        background-image: image-url('home/openid-button.jpg');
                        color:white;
                    }
                }
                
                #panels-slide{
                    width:735px;
                    height:80px;
                    position:relative;
                    left:-0px;
                
                
                    .loginpanel{
                        position:relative;
                        width:225px;
                        height:80px;                        
                        margin-right:20px;
                        float:left;
                    }
                    
                    .panel2{
                    
                        input[type=text]{
                            width:55%;
                            padding:4px;
                        }                      
                    }  

                    .panel3{
                    
                        input[type=text], input[type=password]{
                            width:65%;
                            padding:4px;
                        } 

                        label[for=id_remember_me]{
                            display:block;
                            visibility:visible;
                            color: $colorLightBlue;
                            position:absolute;
                            left:0px;
                            bottom:0px;
                            font-family: "OpenSansRegular_obsolete", Arial, Helvetica, sans-serif;
                            font-size:9px;
                        }
                        
                        input[type=submit]{
                            position:absolute;
                            right:20px;
                            top:31px;
                        }
                        
                        .link{
                            position:absolute;
                            right:0px;
                            bottom:0px;
                            font-size:9px;
                            font-family: "OpenSansRegular_obsolete", Arial, Helvetica, sans-serif;
                            font-style:normal;
                            font-weight:normal;
                        }
                    }  
                }
                
                .avatar{
                    float:left;
                    margin-right:15px;
                }

                ul.profile_actions{
                    position:relative;
                    margin:0px;
                    padding:0px;
                    
                    li{
                        float:left;
                        position:relative;
                        margin-right:3px;
                        list-style-type:none;
                        display:inline;
                        .message_count{
                            color: white;
                            position: absolute;
                            right: 3px;
                            text-align: center;
                            top: -1px;
                            width: 20px;
                            font-weight: bold;
                            font-size: 80%;
                        }                        
                    }
                }
            }
            
            #quick_project{                
            
                
            }
            
            #newmembers{                
                padding:0px;
                margin:0px;
                li{
                    margin:1px 2px;
                    list-style-type:none;
                    display:inline;
                    padding:0px;
                    float:left;
                    position:relative;
                    background-color:$normalgrey;
                    height:45px;
                    width:45px;
                } 
                
                .big{
                    width:94px;
                    height:94px;                
                    
                    .name{
                        background:image-url('base/membername.png') no-repeat;
                        position:absolute;
                        top:0px;
                        left:0px;
                        width:94px;
                        height:94px;
                        color:$grey;
                        
                        span{
                            position:absolute;
                            bottom:0px;
                            left:0px;
                            margin:5px;
                        }
                    }
                    
                }
                
                .big:hover .name{
                    color:white;
                }
                
                li.bottom-member1, li.bottom-member2{
                    position:absolute;
                    bottom:0px;
                    left:0px;
                }
                
                li.bottom-member2{
                    left:49px;
                }
            }
            
            .fb-like-box{
                background-color:#292929;
                background-image: image-url('home/loginbox-bg.jpg');
                @include border-radius(4px);
                padding:0px;
                height:85px !important;
                width:100%;
                margin-bottom:18px;
            }            
        }
    }
}


/*--- NEWSLETTER POPUP ----*/


#newsletter_popup{
    background-image: image-url('home/newsletter-popup-bg.png');
    padding:10px;
    @include border-radius(4px);
    border:1px solid #9b9b9b;
    
    position:fixed;
    width:245px;
    bottom:50px;
    right:40px;
    z-index:300;
    @include i4p-shadow(8px, black);
    
    h1{
        @include i4p-font-base($sizeTextLarge);
        color:white;
        margin:0px;
    }
    
    .close-button{
        position:absolute;
        top:15px;
        right:10px;
        cursor:pointer;
    }
    
    hr{
        border:1px dotted #9b9b9b;
        border-style: dotted !important;
        background-image:none;
        margin-top:5px;
    }

    img.newsletter_picto{
        float:left;
        margin-right:10px;
    }
    
    p{
        font-size:11px;
        color:white;
    }
    
    form{
    
        input[type=text]{
            width:100%;
            @include border-radius(4px);
            border:0px;
            color: #7F7E7E;
            @include i4p-font-base($sizeTextTiny);
            padding:3px 0px;
        }
        
        input[type=submit]{
            width:100%;
            @include border-radius(4px);
            background-color: $colorLightBlue;
            border:0px;
            margin-top:5px;
            color:white;
            background:image-url('base/minibutton_blue.jpg');
        }
        
        input[type=submit]:hover{
            background:image-url('base/minibutton_green.jpg');
        }
    }
}


/*--- CMS edition fixes ----*/

.cms_placeholder-title{
    color:#666666 !important;
    text-transform: none !important;
    font-weight:bold !important;
    font: 13px "Helvetica Neue",Helvetica,Arial,sans-serif !important;    
    margin-top:3px !important;
     
    a{
        color:#666666 !important;
        cursor:default;
        font-weight:bold !important;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;    
    }
}

.cms_toolbar-btn{
    font-style:normal !important;

    span{
        margin:0px !important;
        font: 13px "Helvetica Neue",Helvetica,Arial,sans-serif !important;
        text-transform: none !important;
    }
}

.cms_placeholder-subnav{
    
    span{
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
        text-transform:none !important;
    }

    li a{
        color: #666666 !important;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;   
        text-transform: none !important;
    }
}


