@import "i4p/mixins";
@import "i4p/constants";
@import "i4p/fonts";
@import "compass/css3/box-sizing";

.content > .container {
    background-color: $colorLightGrey;
    
    
    .block-content {
        background-color: $colorWhite;
        > p, > div, > h1, > h2, > h3, > h4, > h5, > h6, > blockquote, > iframe {
            margin-left: 1rem;
            margin-right: 1rem;
        }
        @include i4p-font-base($sizeTextNormal);

        color: $colorMedDarkGrey !important;
    
    
        a{
            color: $colorDarkBlue;
        }
    
        a:hover {
            text-decoration:underline;
            color: $colorLightBlue;
        }
    
        h1{
            border-bottom:1px solid grey;
            @include i4p-font-base($sizeTextVeryLarge);
            font-style: italic;
            font-weight: bold;
            margin-top: 7px;
            padding-bottom: 0.2em;
            margin-bottom:7px;
            color: $colorMedDarkGrey;
            font-stretch:condensed;
        }
    
        h2{
            @include i4p-font-base($sizeTextLarge);
            margin-top: 7px;
            margin-bottom:7px;
            font-stretch:condensed;
        }
    
        h3{
            @include i4p-font-base($sizeTextBig);
            margin-top: 5px;
            margin-bottom:5px;
        }
    
        h4 {
            @include i4p-font-base($sizeTextNormal);
            font-weight: bold;
            margin-top: 5px;
            margin-bottom:5px;
        }
    
        p{
            @include i4p-font-base($sizeTextNormal);
            text-align:left;
        }
        
        p,li{
            img {
                float: left;
                margin-right: 10px;
                margin-bottom: 2px;
            }
        }
    
        hr{
            margin:15px 0;
            background-image:url("../../images/base/separator.jpg");
            background-repeat:repeat-x;
            border:0px;
            height:1px;
        }
    
        dd {
            margin-bottom:5px;
        }
    
        ul {
            list-style: disc outside none;
            margin-bottom: 9px;
            li {
                margin-top: 0.2em;
            }
            ul {
                margin-bottom:0;
                list-style: circle outside none;
            }
        }
    
        ol {
            margin-bottom: 9px;
            margin-left: 2.8em;
            li {
                margin-top: 0em;
            }
            ol {
                margin-bottom:0;
            }
        }
    
        blockquote {
            border-left: 5px solid $colorLightGrey;
            
            padding: 0 0 0 15px;
            p {
                margin-left: 0;
                margin-right: 0;
                font-style:italic;
                padding-right:2em;
            }
        }
    }
}
.content {
    background-color: $colorWhite;
    background-image: none;

/* Left menu */
    .left-menu {
        width: 100%;
        > ul {
            width: 100%;
            list-style-type: none;
            
            margin: 1rem 0 0 0;
            li {
                > a {
                    @include i4p-font-base($sizeTextNormal);
                    display: inline-block;
                    @include box-sizing(border-box);
                    padding: 0.5em;
                    width: 100%;
                    }
            }
            
            > li { /* Top level */
                width: 100%;
                margin: 0.2em 1rem;
                > a {
                    @include border-radius($sizeRadiusSmall);
                    @include i4p-font-menu($sizeTextBig);                    
                    background-color: $colorLightBlue;
                    color: white;
                    &:hover {
                        background-color: $colorDarkBlue;
                        text-decoration: none;
                    }
                }
                &.selected {
                    > a {
                        background-color: $colorDarkBlue;
                    }
                }
                ul {
                    margin-left: 0;
                    li {
                        background-color: none;
                        border-bottom: 1px dotted $colorMedGrey;
                        &:last-child {
                            border-bottom:none;
                        }
                        > a {
                            padding-left: 1em;
                        }
                        li {
                            > a {
                                padding-left: 2em;
                            }
                        }
                    }
                }
            }
        }
    }
    /* Form contact */

    form {
        label {
            float:left;
            width:20%;
            font-family: $fontOpenSans;
            font-size:1.2rem;
            line-height:25px;
            padding:0 15px 0 0;
            text-align:right;
        }

        input[type="text"] {
            width:50%;
        }

        textarea {
            width:50%;
            height:100px;
        }

        input[type="submit"] {
            margin:0 0 0 22%;
        }
    }
}


#wg-ml-subscriber-list {
        li {
            list-style-type: none;
            margin-left: 0px;
            display: inline;
            }
        }
        
#projects_list {
                margin-top: -28px !important;
                .grid_6 {
                    width: 235px;
                    }
                }
        
.project_infos {
        width: 33% !important;
        }

.project_infos_baseline {
        color: #424242 !important;
        }

.project_infos_title h2 {
color: #5A5959 !important;
}

.project_list_project {
        a     {
        box-shadow: none !important;
            }
        a:hover {
        border-color: white !important;
                }
        }

.project_infos_description {
display: none;
}

.step-links a {
color: #5A5959 !important;
}
