@import "i4p/mixins";
@import "i4p/constants";
@import "i4p/fonts";

.nav-white {
    background-color: black;
    height:0px !important;
}

.grid_14 {
	margin-left: 30px !important;
}

.content {	
	font-family: $fontOpenSans;
	background-color: $colorWhite;
	background-image: none;
	color: #424242 !important;
	
    a{
        color: $colorLightBlue;
    }

    a:hover {
    	text-decoration:underline;
    	color: $colorDarkBlue;
    }

    h1{
        border-bottom:1px solid grey;
		font-family: $fontOpenSans;
		font-size: 1.7rem;
		text-transform: uppercase;
		font-style: normal;
		font-weight: bold;
		margin: 7px 0px;
		color: #5A5959;
		font-stretch:condensed;
    }

    h2{
        font-size:1.6rem;
        margin: 7px 0px;
        font-stretch:condensed;
    }

    h3{
        font-size:1.4rem;
        margin: 5px 0px;
    }

    h4 {
    	font-size:1.3rem;
    	margin: 5px 0px;
    }

    p{
        font-size:1.2rem;
        text-align:justify;
        line-height:1.7rem;
		font-family: $fontOpenSans;
	}

    hr{
        margin:15px 0;
        background-image:url("../../images/base/separator.jpg");
        background-repeat:repeat-x;
        border:0px;
        height:1px;
    }

    dd {
    	margin-bottom:5px;
    }

    ul {
    	list-style: disc outside none;
    	margin: 0 0 9px 12px;

    	ul {
    		margin-bottom:0;
    		list-style: circle outside none;
    	}
    }

    ol {
    	margin: 0 0 9px 17px;

    	ol {
    		margin-bottom:0;
    	}
    }

    blockquote {
    	p {
    		margin-bottom:2px;
    		font-style:italic;
    		padding-right:30px;
    	}
    }

    /* Form contact */

    form {
    	label {
    		float:left;
    		width:20%;
    		font-family: $fontOpenSans;
    		font-size:1.2rem;
    		line-height:25px;
    		padding:0 15px 0 0;
    		text-align:right;
    	}

    	input[type="text"] {
    		width:50%;
    	}

    	textarea {
    		width:50%;
    		height:100px;
    	}

    	input[type="submit"] {
    		margin:0 0 0 22%;
    	}
    }
}


#wg-ml-subscriber-list {
		li {
			list-style-type: none;
			margin-left: 0px;
			display: inline;
			}
		}
		
#projects_list {
				margin-top: -28px !important;
				.grid_6 {
					width: 235px;
					}
				}
		
.project_infos {
		width: 33% !important;
		}

.project_infos_baseline {
		color: #424242 !important;
		}

.project_infos_title h2 {
color: #5A5959 !important;
}

.project_list_project {
		a 	{
		box-shadow: none !important;
			}
		a:hover {
		border-color: white !important;
				}
		}

.project_infos_description {
display: none;
}

.step-links a {
color: #5A5959 !important;
}
