/**
 * Colors
 */
/**
 *  Font sizes
 */
/**
 *  Mixins
 */
.flag-sprite, .flag-ad, .flag-ae, .flag-af, .flag-ag, .flag-ai, .flag-al, .flag-am, .flag-an, .flag-ao, .flag-ar, .flag-as, .flag-at, .flag-au, .flag-aw, .flag-ax, .flag-az, .flag-ba, .flag-bb, .flag-bd, .flag-be, .flag-bf, .flag-bg, .flag-bh, .flag-bi, .flag-bj, .flag-bm, .flag-bn, .flag-bo, .flag-br, .flag-bs, .flag-bt, .flag-bv, .flag-bw, .flag-by, .flag-bz, .flag-ca, .flag-catalonia, .flag-cc, .flag-cd, .flag-cf, .flag-cg, .flag-ch, .flag-ci, .flag-ck, .flag-cl, .flag-cm, .flag-cn, .flag-co, .flag-cr, .flag-cs, .flag-cu, .flag-cv, .flag-cx, .flag-cy, .flag-cz, .flag-de, .flag-dj, .flag-dk, .flag-dm, .flag-do, .flag-dz, .flag-ec, .flag-ee, .flag-eg, .flag-eh, .flag-el, .flag-en, .flag-england, .flag-er, .flag-es, .flag-et, .flag-europeanunion, .flag-fam, .flag-fi, .flag-fj, .flag-fk, .flag-fm, .flag-fo, .flag-fr, .flag-ga, .flag-gb, .flag-gd, .flag-ge, .flag-gf, .flag-gh, .flag-gi, .flag-gl, .flag-gm, .flag-gn, .flag-gp, .flag-gq, .flag-gs, .flag-gt, .flag-gu, .flag-gw, .flag-gy, .flag-hk, .flag-hm, .flag-hn, .flag-hr, .flag-ht, .flag-hu, .flag-id, .flag-ie, .flag-il, .flag-in, .flag-io, .flag-iq, .flag-ir, .flag-is, .flag-it, .flag-jm, .flag-jo, .flag-jp, .flag-ke, .flag-kg, .flag-kh, .flag-ki, .flag-km, .flag-kn, .flag-kp, .flag-kr, .flag-kw, .flag-ky, .flag-kz, .flag-la, .flag-lb, .flag-lc, .flag-li, .flag-lk, .flag-lr, .flag-ls, .flag-lt, .flag-lu, .flag-lv, .flag-ly, .flag-ma, .flag-mc, .flag-md, .flag-me, .flag-mg, .flag-mh, .flag-mk, .flag-ml, .flag-mm, .flag-mn, .flag-mo, .flag-mp, .flag-mq, .flag-mr, .flag-ms, .flag-mt, .flag-mu, .flag-mv, .flag-mw, .flag-mx, .flag-my, .flag-mz, .flag-na, .flag-nc, .flag-ne, .flag-nf, .flag-ng, .flag-ni, .flag-nl, .flag-no, .flag-np, .flag-nr, .flag-nu, .flag-nz, .flag-om, .flag-pa, .flag-pe, .flag-pf, .flag-pg, .flag-ph, .flag-pk, .flag-pl, .flag-pm, .flag-pn, .flag-pr, .flag-ps, .flag-pt, .flag-pw, .flag-py, .flag-qa, .flag-re, .flag-ro, .flag-rs, .flag-ru, .flag-rw, .flag-sa, .flag-sb, .flag-sc, .flag-scotland, .flag-sd, .flag-se, .flag-sg, .flag-sh, .flag-si, .flag-sj, .flag-sk, .flag-sl, .flag-sm, .flag-sn, .flag-so, .flag-sr, .flag-st, .flag-sv, .flag-sy, .flag-sz, .flag-tc, .flag-td, .flag-tf, .flag-tg, .flag-th, .flag-tj, .flag-tk, .flag-tl, .flag-tm, .flag-tn, .flag-to, .flag-tr, .flag-tt, .flag-tv, .flag-tw, .flag-tz, .flag-ua, .flag-ug, .flag-um, .flag-us, .flag-uy, .flag-uz, .flag-va, .flag-vc, .flag-ve, .flag-vg, .flag-vi, .flag-vn, .flag-vu, .flag-wales, .flag-wf, .flag-ws, .flag-ye, .flag-yt, .flag-za, .flag-zh, .flag-zm, .flag-zw {
  background: url('../../../compiled_images/flag.png') no-repeat;
}

.flag-ad {
  background-position: 0 -407px;
  height: 11px;
  width: 16px;
}

.flag-ae {
  background-position: 0 -2453px;
  height: 11px;
  width: 16px;
}

.flag-af {
  background-position: 0 -825px;
  height: 11px;
  width: 16px;
}

.flag-ag {
  background-position: 0 -1276px;
  height: 11px;
  width: 16px;
}

.flag-ai {
  background-position: 0 -418px;
  height: 11px;
  width: 16px;
}

.flag-al {
  background-position: 0 -198px;
  height: 11px;
  width: 16px;
}

.flag-am {
  background-position: 0 -2464px;
  height: 11px;
  width: 16px;
}

.flag-an {
  background-position: 0 -935px;
  height: 11px;
  width: 16px;
}

.flag-ao {
  background-position: 0 -2673px;
  height: 11px;
  width: 16px;
}

.flag-ar {
  background-position: 0 -517px;
  height: 11px;
  width: 16px;
}

.flag-as {
  background-position: 0 -1122px;
  height: 11px;
  width: 16px;
}

.flag-at {
  background-position: 0 -1518px;
  height: 11px;
  width: 16px;
}

.flag-au {
  background-position: 0 -77px;
  height: 11px;
  width: 16px;
}

.flag-aw {
  background-position: 0 -1639px;
  height: 11px;
  width: 16px;
}

.flag-ax {
  background-position: 0 -88px;
  height: 11px;
  width: 16px;
}

.flag-az {
  background-position: 0 -836px;
  height: 11px;
  width: 16px;
}

.flag-ba {
  background-position: 0 -847px;
  height: 11px;
  width: 16px;
}

.flag-bb {
  background-position: 0 -946px;
  height: 11px;
  width: 16px;
}

.flag-bd {
  background-position: 0 -1650px;
  height: 11px;
  width: 16px;
}

.flag-be {
  background-position: 0 -1815px;
  height: 11px;
  width: 16px;
}

.flag-bf {
  background-position: 0 -2552px;
  height: 11px;
  width: 16px;
}

.flag-bg {
  background-position: 0 -1661px;
  height: 11px;
  width: 16px;
}

.flag-bh {
  background-position: 0 -594px;
  height: 11px;
  width: 16px;
}

.flag-bi {
  background-position: 0 -209px;
  height: 11px;
  width: 16px;
}

.flag-bj {
  background-position: 0 -1287px;
  height: 11px;
  width: 16px;
}

.flag-bm {
  background-position: 0 -605px;
  height: 11px;
  width: 16px;
}

.flag-bn {
  background-position: 0 -297px;
  height: 11px;
  width: 16px;
}

.flag-bo {
  background-position: 0 -2167px;
  height: 11px;
  width: 16px;
}

.flag-br {
  background-position: 0 -682px;
  height: 11px;
  width: 16px;
}

.flag-bs {
  background-position: 0 -2519px;
  height: 11px;
  width: 16px;
}

.flag-bt {
  background-position: 0 -220px;
  height: 11px;
  width: 16px;
}

.flag-bv {
  background-position: 0 -957px;
  height: 11px;
  width: 16px;
}

.flag-bw {
  background-position: 0 -1430px;
  height: 11px;
  width: 16px;
}

.flag-by {
  background-position: 0 -2178px;
  height: 11px;
  width: 16px;
}

.flag-bz {
  background-position: 0 -1826px;
  height: 11px;
  width: 16px;
}

.flag-ca {
  background-position: 0 -154px;
  height: 11px;
  width: 16px;
}

.flag-catalonia {
  background-position: 0 -2695px;
  height: 11px;
  width: 16px;
}

.flag-cc {
  background-position: 0 -528px;
  height: 11px;
  width: 16px;
}

.flag-cd {
  background-position: 0 -2684px;
  height: 11px;
  width: 16px;
}

.flag-cf {
  background-position: 0 -968px;
  height: 11px;
  width: 16px;
}

.flag-cg {
  background-position: 0 -1969px;
  height: 11px;
  width: 16px;
}

.flag-ch {
  background-position: 0 -2618px;
  height: 11px;
  width: 11px;
}

.flag-ci {
  background-position: 0 -1672px;
  height: 11px;
  width: 16px;
}

.flag-ck {
  background-position: 0 -1683px;
  height: 11px;
  width: 16px;
}

.flag-cl {
  background-position: 0 -2189px;
  height: 11px;
  width: 16px;
}

.flag-cm {
  background-position: 0 -693px;
  height: 11px;
  width: 16px;
}

.flag-cn {
  background-position: 0 -1837px;
  height: 11px;
  width: 16px;
}

.flag-co {
  background-position: 0 -2607px;
  height: 11px;
  width: 16px;
}

.flag-cr {
  background-position: 0 -2310px;
  height: 11px;
  width: 16px;
}

.flag-cs {
  background-position: 0 -2200px;
  height: 11px;
  width: 16px;
}

.flag-cu {
  background-position: 0 -308px;
  height: 11px;
  width: 16px;
}

.flag-cv {
  background-position: 0 -319px;
  height: 11px;
  width: 16px;
}

.flag-cx {
  background-position: 0 -2475px;
  height: 11px;
  width: 16px;
}

.flag-cy {
  background-position: 0 -1133px;
  height: 11px;
  width: 16px;
}

.flag-cz {
  background-position: 0 -2255px;
  height: 11px;
  width: 16px;
}

.flag-de {
  background-position: 0 -2321px;
  height: 11px;
  width: 16px;
}

.flag-dj {
  background-position: 0 -979px;
  height: 11px;
  width: 16px;
}

.flag-dk {
  background-position: 0 -539px;
  height: 11px;
  width: 16px;
}

.flag-dm {
  background-position: 0 -1144px;
  height: 11px;
  width: 16px;
}

.flag-do {
  background-position: 0 -1441px;
  height: 11px;
  width: 16px;
}

.flag-dz {
  background-position: 0 -429px;
  height: 11px;
  width: 16px;
}

.flag-ec {
  background-position: 0 -2266px;
  height: 11px;
  width: 16px;
}

.flag-ee {
  background-position: 0 -2332px;
  height: 11px;
  width: 16px;
}

.flag-eg {
  background-position: 0 -2486px;
  height: 11px;
  width: 16px;
}

.flag-eh {
  background-position: 0 -1980px;
  height: 11px;
  width: 16px;
}

.flag-el {
  background-position: 0 -330px;
  height: 11px;
  width: 16px;
}

.flag-en {
  background-position: 0 -2640px;
  height: 11px;
  width: 16px;
}

.flag-england {
  background-position: 0 -341px;
  height: 11px;
  width: 16px;
}

.flag-er {
  background-position: 0 -2211px;
  height: 11px;
  width: 16px;
}

.flag-es {
  background-position: 0 -2222px;
  height: 11px;
  width: 16px;
}

.flag-et {
  background-position: 0 -1694px;
  height: 11px;
  width: 16px;
}

.flag-europeanunion {
  background-position: 0 -2729px;
  height: 11px;
  width: 16px;
}

.flag-fam {
  background-position: 0 -704px;
  height: 11px;
  width: 16px;
}

.flag-fi {
  background-position: 0 -440px;
  height: 11px;
  width: 16px;
}

.flag-fj {
  background-position: 0 -616px;
  height: 11px;
  width: 16px;
}

.flag-fk {
  background-position: 0 -858px;
  height: 11px;
  width: 16px;
}

.flag-fm {
  background-position: 0 -11px;
  height: 11px;
  width: 16px;
}

.flag-fo {
  background-position: 0 -990px;
  height: 11px;
  width: 16px;
}

.flag-fr {
  background-position: 0 -231px;
  height: 11px;
  width: 16px;
}

.flag-ga {
  background-position: 0 -2343px;
  height: 11px;
  width: 16px;
}

.flag-gb {
  background-position: 0 -2651px;
  height: 11px;
  width: 16px;
}

.flag-gd {
  background-position: 0 -550px;
  height: 11px;
  width: 16px;
}

.flag-ge {
  background-position: 0 -44px;
  height: 11px;
  width: 16px;
}

.flag-gf {
  background-position: 0 -242px;
  height: 11px;
  width: 16px;
}

.flag-gh {
  background-position: 0 -2354px;
  height: 11px;
  width: 16px;
}

.flag-gi {
  background-position: 0 -1298px;
  height: 11px;
  width: 16px;
}

.flag-gl {
  background-position: 0 -1001px;
  height: 11px;
  width: 16px;
}

.flag-gm {
  background-position: 0 -1529px;
  height: 11px;
  width: 16px;
}

.flag-gn {
  background-position: 0 -1848px;
  height: 11px;
  width: 16px;
}

.flag-gp {
  background-position: 0 -1705px;
  height: 11px;
  width: 16px;
}

.flag-gq {
  background-position: 0 -1991px;
  height: 11px;
  width: 16px;
}

.flag-gs {
  background-position: 0 -1221px;
  height: 11px;
  width: 16px;
}

.flag-gt {
  background-position: 0 -451px;
  height: 11px;
  width: 16px;
}

.flag-gu {
  background-position: 0 -1540px;
  height: 11px;
  width: 16px;
}

.flag-gw {
  background-position: 0 -2365px;
  height: 11px;
  width: 16px;
}

.flag-gy {
  background-position: 0 -1155px;
  height: 11px;
  width: 16px;
}

.flag-hk {
  background-position: 0 -55px;
  height: 11px;
  width: 16px;
}

.flag-hm {
  background-position: 0 -99px;
  height: 11px;
  width: 16px;
}

.flag-hn {
  background-position: 0 -352px;
  height: 11px;
  width: 16px;
}

.flag-hr {
  background-position: 0 -2002px;
  height: 11px;
  width: 16px;
}

.flag-ht {
  background-position: 0 -2277px;
  height: 11px;
  width: 16px;
}

.flag-hu {
  background-position: 0 -2585px;
  height: 11px;
  width: 16px;
}

.flag-id {
  background-position: 0 -1551px;
  height: 11px;
  width: 16px;
}

.flag-ie {
  background-position: 0 -627px;
  height: 11px;
  width: 16px;
}

.flag-il {
  background-position: 0 -715px;
  height: 11px;
  width: 16px;
}

.flag-in {
  background-position: 0 -1716px;
  height: 11px;
  width: 16px;
}

.flag-io {
  background-position: 0 -363px;
  height: 11px;
  width: 16px;
}

.flag-iq {
  background-position: 0 -2134px;
  height: 11px;
  width: 16px;
}

.flag-ir {
  background-position: 0 -1727px;
  height: 11px;
  width: 16px;
}

.flag-is {
  background-position: 0 -869px;
  height: 11px;
  width: 16px;
}

.flag-it {
  background-position: 0 -1452px;
  height: 11px;
  width: 16px;
}

.flag-jm {
  background-position: 0 -2145px;
  height: 11px;
  width: 16px;
}

.flag-jo {
  background-position: 0 -2376px;
  height: 11px;
  width: 16px;
}

.flag-jp {
  background-position: 0 -561px;
  height: 11px;
  width: 16px;
}

.flag-ke {
  background-position: 0 -2013px;
  height: 11px;
  width: 16px;
}

.flag-kg {
  background-position: 0 -572px;
  height: 11px;
  width: 16px;
}

.flag-kh {
  background-position: 0 -1232px;
  height: 11px;
  width: 16px;
}

.flag-ki {
  background-position: 0 -880px;
  height: 11px;
  width: 16px;
}

.flag-km {
  background-position: 0 -1859px;
  height: 11px;
  width: 16px;
}

.flag-kn {
  background-position: 0 -726px;
  height: 11px;
  width: 16px;
}

.flag-kp {
  background-position: 0 -1243px;
  height: 11px;
  width: 16px;
}

.flag-kr {
  background-position: 0 0;
  height: 11px;
  width: 16px;
}

.flag-kw {
  background-position: 0 -1870px;
  height: 11px;
  width: 16px;
}

.flag-ky {
  background-position: 0 -374px;
  height: 11px;
  width: 16px;
}

.flag-kz {
  background-position: 0 -110px;
  height: 11px;
  width: 16px;
}

.flag-la {
  background-position: 0 -891px;
  height: 11px;
  width: 16px;
}

.flag-lb {
  background-position: 0 -737px;
  height: 11px;
  width: 16px;
}

.flag-lc {
  background-position: 0 -2662px;
  height: 11px;
  width: 16px;
}

.flag-li {
  background-position: 0 -2563px;
  height: 11px;
  width: 16px;
}

.flag-lk {
  background-position: 0 -1012px;
  height: 11px;
  width: 16px;
}

.flag-lr {
  background-position: 0 -2024px;
  height: 11px;
  width: 16px;
}

.flag-ls {
  background-position: 0 -748px;
  height: 11px;
  width: 16px;
}

.flag-lt {
  background-position: 0 -1738px;
  height: 11px;
  width: 16px;
}

.flag-lu {
  background-position: 0 -1309px;
  height: 11px;
  width: 16px;
}

.flag-lv {
  background-position: 0 -1023px;
  height: 11px;
  width: 16px;
}

.flag-ly {
  background-position: 0 -2035px;
  height: 11px;
  width: 16px;
}

.flag-ma {
  background-position: 0 -1562px;
  height: 11px;
  width: 16px;
}

.flag-mc {
  background-position: 0 -2596px;
  height: 11px;
  width: 16px;
}

.flag-md {
  background-position: 0 -1573px;
  height: 11px;
  width: 16px;
}

.flag-me {
  background-position: 0 -2717px;
  height: 12px;
  width: 16px;
}

.flag-mg {
  background-position: 0 -1584px;
  height: 11px;
  width: 16px;
}

.flag-mh {
  background-position: 0 -759px;
  height: 11px;
  width: 16px;
}

.flag-mk {
  background-position: 0 -165px;
  height: 11px;
  width: 16px;
}

.flag-ml {
  background-position: 0 -1320px;
  height: 11px;
  width: 16px;
}

.flag-mm {
  background-position: 0 -1595px;
  height: 11px;
  width: 16px;
}

.flag-mn {
  background-position: 0 -1463px;
  height: 11px;
  width: 16px;
}

.flag-mo {
  background-position: 0 -121px;
  height: 11px;
  width: 16px;
}

.flag-mp {
  background-position: 0 -1034px;
  height: 11px;
  width: 16px;
}

.flag-mq {
  background-position: 0 -22px;
  height: 11px;
  width: 16px;
}

.flag-mr {
  background-position: 0 -132px;
  height: 11px;
  width: 16px;
}

.flag-ms {
  background-position: 0 -770px;
  height: 11px;
  width: 16px;
}

.flag-mt {
  background-position: 0 -1474px;
  height: 11px;
  width: 16px;
}

.flag-mu {
  background-position: 0 -2497px;
  height: 11px;
  width: 16px;
}

.flag-mv {
  background-position: 0 -1045px;
  height: 11px;
  width: 16px;
}

.flag-mw {
  background-position: 0 -1881px;
  height: 11px;
  width: 16px;
}

.flag-mx {
  background-position: 0 -1331px;
  height: 11px;
  width: 16px;
}

.flag-my {
  background-position: 0 -253px;
  height: 11px;
  width: 16px;
}

.flag-mz {
  background-position: 0 -1254px;
  height: 11px;
  width: 16px;
}

.flag-na {
  background-position: 0 -462px;
  height: 11px;
  width: 16px;
}

.flag-nc {
  background-position: 0 -1892px;
  height: 11px;
  width: 16px;
}

.flag-ne {
  background-position: 0 -2046px;
  height: 11px;
  width: 16px;
}

.flag-nf {
  background-position: 0 -583px;
  height: 11px;
  width: 16px;
}

.flag-ng {
  background-position: 0 -264px;
  height: 11px;
  width: 16px;
}

.flag-ni {
  background-position: 0 -1056px;
  height: 11px;
  width: 16px;
}

.flag-nl {
  background-position: 0 -2387px;
  height: 11px;
  width: 16px;
}

.flag-no {
  background-position: 0 -1067px;
  height: 11px;
  width: 16px;
}

.flag-np {
  background-position: 0 -2629px;
  height: 11px;
  width: 9px;
}

.flag-nr {
  background-position: 0 -1078px;
  height: 11px;
  width: 16px;
}

.flag-nu {
  background-position: 0 -902px;
  height: 11px;
  width: 16px;
}

.flag-nz {
  background-position: 0 -1265px;
  height: 11px;
  width: 16px;
}

.flag-om {
  background-position: 0 -2398px;
  height: 11px;
  width: 16px;
}

.flag-pa {
  background-position: 0 -1342px;
  height: 11px;
  width: 16px;
}

.flag-pe {
  background-position: 0 -2156px;
  height: 11px;
  width: 16px;
}

.flag-pf {
  background-position: 0 -1749px;
  height: 11px;
  width: 16px;
}

.flag-pg {
  background-position: 0 -2288px;
  height: 11px;
  width: 16px;
}

.flag-ph {
  background-position: 0 -2233px;
  height: 11px;
  width: 16px;
}

.flag-pk {
  background-position: 0 -781px;
  height: 11px;
  width: 16px;
}

.flag-pl {
  background-position: 0 -2530px;
  height: 11px;
  width: 16px;
}

.flag-pm {
  background-position: 0 -1353px;
  height: 11px;
  width: 16px;
}

.flag-pn {
  background-position: 0 -1166px;
  height: 11px;
  width: 16px;
}

.flag-pr {
  background-position: 0 -638px;
  height: 11px;
  width: 16px;
}

.flag-ps {
  background-position: 0 -2508px;
  height: 11px;
  width: 16px;
}

.flag-pt {
  background-position: 0 -2057px;
  height: 11px;
  width: 16px;
}

.flag-pw {
  background-position: 0 -385px;
  height: 11px;
  width: 16px;
}

.flag-py {
  background-position: 0 -2068px;
  height: 11px;
  width: 16px;
}

.flag-qa {
  background-position: 0 -2079px;
  height: 11px;
  width: 16px;
}

.flag-re {
  background-position: 0 -275px;
  height: 11px;
  width: 16px;
}

.flag-ro {
  background-position: 0 -1177px;
  height: 11px;
  width: 16px;
}

.flag-rs {
  background-position: 0 -2706px;
  height: 11px;
  width: 16px;
}

.flag-ru {
  background-position: 0 -2299px;
  height: 11px;
  width: 16px;
}

.flag-rw {
  background-position: 0 -1606px;
  height: 11px;
  width: 16px;
}

.flag-sa {
  background-position: 0 -1089px;
  height: 11px;
  width: 16px;
}

.flag-sb {
  background-position: 0 -1903px;
  height: 11px;
  width: 16px;
}

.flag-sc {
  background-position: 0 -2541px;
  height: 11px;
  width: 16px;
}

.flag-scotland {
  background-position: 0 -176px;
  height: 11px;
  width: 16px;
}

.flag-sd {
  background-position: 0 -2244px;
  height: 11px;
  width: 16px;
}

.flag-se {
  background-position: 0 -1100px;
  height: 11px;
  width: 16px;
}

.flag-sg {
  background-position: 0 -2090px;
  height: 11px;
  width: 16px;
}

.flag-sh {
  background-position: 0 -286px;
  height: 11px;
  width: 16px;
}

.flag-si {
  background-position: 0 -2101px;
  height: 11px;
  width: 16px;
}

.flag-sj {
  background-position: 0 -1111px;
  height: 11px;
  width: 16px;
}

.flag-sk {
  background-position: 0 -1760px;
  height: 11px;
  width: 16px;
}

.flag-sl {
  background-position: 0 -2409px;
  height: 11px;
  width: 16px;
}

.flag-sm {
  background-position: 0 -1188px;
  height: 11px;
  width: 16px;
}

.flag-sn {
  background-position: 0 -1364px;
  height: 11px;
  width: 16px;
}

.flag-so {
  background-position: 0 -33px;
  height: 11px;
  width: 16px;
}

.flag-sr {
  background-position: 0 -2420px;
  height: 11px;
  width: 16px;
}

.flag-st {
  background-position: 0 -1485px;
  height: 11px;
  width: 16px;
}

.flag-sv {
  background-position: 0 -1771px;
  height: 11px;
  width: 16px;
}

.flag-sy {
  background-position: 0 -1782px;
  height: 11px;
  width: 16px;
}

.flag-sz {
  background-position: 0 -1375px;
  height: 11px;
  width: 16px;
}

.flag-tc {
  background-position: 0 -1386px;
  height: 11px;
  width: 16px;
}

.flag-td {
  background-position: 0 -1397px;
  height: 11px;
  width: 16px;
}

.flag-tf {
  background-position: 0 -649px;
  height: 11px;
  width: 16px;
}

.flag-tg {
  background-position: 0 -660px;
  height: 11px;
  width: 16px;
}

.flag-th {
  background-position: 0 -1914px;
  height: 11px;
  width: 16px;
}

.flag-tj {
  background-position: 0 -1199px;
  height: 11px;
  width: 16px;
}

.flag-tk {
  background-position: 0 -473px;
  height: 11px;
  width: 16px;
}

.flag-tl {
  background-position: 0 -1793px;
  height: 11px;
  width: 16px;
}

.flag-tm {
  background-position: 0 -1496px;
  height: 11px;
  width: 16px;
}

.flag-tn {
  background-position: 0 -484px;
  height: 11px;
  width: 16px;
}

.flag-to {
  background-position: 0 -1408px;
  height: 11px;
  width: 16px;
}

.flag-tr {
  background-position: 0 -792px;
  height: 11px;
  width: 16px;
}

.flag-tt {
  background-position: 0 -495px;
  height: 11px;
  width: 16px;
}

.flag-tv {
  background-position: 0 -913px;
  height: 11px;
  width: 16px;
}

.flag-tw {
  background-position: 0 -1617px;
  height: 11px;
  width: 16px;
}

.flag-tz {
  background-position: 0 -924px;
  height: 11px;
  width: 16px;
}

.flag-ua {
  background-position: 0 -2431px;
  height: 11px;
  width: 16px;
}

.flag-ug {
  background-position: 0 -2112px;
  height: 11px;
  width: 16px;
}

.flag-um {
  background-position: 0 -396px;
  height: 11px;
  width: 16px;
}

.flag-us {
  background-position: 0 -187px;
  height: 11px;
  width: 16px;
}

.flag-uy {
  background-position: 0 -506px;
  height: 11px;
  width: 16px;
}

.flag-uz {
  background-position: 0 -2442px;
  height: 11px;
  width: 16px;
}

.flag-va {
  background-position: 0 -1925px;
  height: 11px;
  width: 16px;
}

.flag-vc {
  background-position: 0 -1210px;
  height: 11px;
  width: 16px;
}

.flag-ve {
  background-position: 0 -1804px;
  height: 11px;
  width: 16px;
}

.flag-vg {
  background-position: 0 -803px;
  height: 11px;
  width: 16px;
}

.flag-vi {
  background-position: 0 -671px;
  height: 11px;
  width: 16px;
}

.flag-vn {
  background-position: 0 -1419px;
  height: 11px;
  width: 16px;
}

.flag-vu {
  background-position: 0 -1507px;
  height: 11px;
  width: 16px;
}

.flag-wales {
  background-position: 0 -1936px;
  height: 11px;
  width: 16px;
}

.flag-wf {
  background-position: 0 -143px;
  height: 11px;
  width: 16px;
}

.flag-ws {
  background-position: 0 -1628px;
  height: 11px;
  width: 16px;
}

.flag-ye {
  background-position: 0 -2574px;
  height: 11px;
  width: 16px;
}

.flag-yt {
  background-position: 0 -66px;
  height: 11px;
  width: 16px;
}

.flag-za {
  background-position: 0 -2123px;
  height: 11px;
  width: 16px;
}

.flag-zh {
  background-position: 0 -1947px;
  height: 11px;
  width: 16px;
}

.flag-zm {
  background-position: 0 -1958px;
  height: 11px;
  width: 16px;
}

.flag-zw {
  background-position: 0 -814px;
  height: 11px;
  width: 16px;
}

.people-list {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  border: 1px solid #ededed;
  padding: 5px;
  background-color: #f2f2f2;
}
.people-list h2 {
  font-size: 120%;
  text-transform: uppercase;
}
.people-list .seemore {
  display: block;
  color: black;
  margin-bottom: 10px;
}
.people-list .seemore:after {
  content: " >";
}
.people-list ul {
  list-style: none;
}
.people-list ul li {
  margin-bottom: 10px;
}

.person {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  width: 100%;
  padding: 5px;
}
.person * {
  margin-left: 50px;
}
.person .avatar {
  width: 40px;
  height: 40px;
  float: left;
  margin: 0;
  border: 1px solid #c9c9c9;
}
.person .fullname {
  display: block;
  color: black;
  font-weight: bold;
  font-style: italic;
}
.person .project {
  display: block;
  color: black;
  font-weight: bold;
}
.person .project:before {
  content: attr(data-memberof-str);
  font-style: italic;
  display: block;
  font-weight: normal;
}
.person .country {
  position: absolute;
  display: block;
  margin: 0;
  top: 35px;
  left: 30px;
}
.person:hover {
  background-color: white;
}
