/**
 *  Mixins
 */
/***
 * IMPORTANT : CONSTANTS NAMING SCHEME
 *
 * The naming scheme is simple, your constants name must follow this rule :
 * "<typename>[<Targetname>]<Attributename>"
 * 
 * - <typename> could be "color", "size", "font", etc.
 *
 * - <targetname> is optional and could be any targetable CSS objects or
 *   properties like "text", "border", etc. 
 *
 * - <attributename> is a meaningful description of your constant, like "Blue",
 *   "LightBlue", "Small", "Huge", etc.
 */
/**
 * Old Colors (obsolete, please use new color naming scheme instead)
 */
/**
 * New colors
 */
/**
 * text sizes
 */
/**
 * font piles
 */
@font-face {
  font-family: 'OpenSansBold_obsolete';
  src: url('../../../fonts/opensans-bold-webfont.eot');
  src: url('../../../fonts/opensans-bold-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-bold-webfont.woff') format("woff"), url('../../../fonts/opensans-bold-webfont.ttf') format("truetype"), url('../../../fonts/opensans-bold-webfont.svg#OpenSansBold') format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansBoldItalic_obsolete';
  src: url('../../../fonts/opensans-bolditalic-webfont.eot');
  src: url('../../../fonts/opensans-bolditalic-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-bolditalic-webfont.woff') format("woff"), url('../../../fonts/opensans-bolditalic-webfont.ttf') format("truetype"), url('../../../fonts/opensans-bolditalic-webfont.svg#OpenSansBoldItalic') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansCondensedBold_obsolete';
  src: url('../../../fonts/opensans-condbold-webfont.eot');
  src: url('../../../fonts/opensans-condbold-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-condbold-webfont.woff') format("woff"), url('../../../fonts/opensans-condbold-webfont.ttf') format("truetype"), url('../../../fonts/opensans-condbold-webfont.svg#OpenSansCondensedBold') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular_obsolete';
  src: url('../../../fonts/opensans-regular-webfont.eot');
  src: url('../../../fonts/opensans-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-regular-webfont.woff') format("woff"), url('../../../fonts/opensans-regular-webfont.ttf') format("truetype"), url('../../../fonts/opensans-regular-webfont.svg#OpenSansRegular') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansItalic_obsolete';
  src: url('../../../fonts/opensans-italic-webfont.eot');
  src: url('../../../fonts/opensans-italic-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-italic-webfont.woff') format("woff"), url('../../../fonts/opensans-italic-webfont.ttf') format("truetype"), url('../../../fonts/opensans-italic-webfont.svg#OpenSansItalic') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansSemibold_obsolete';
  src: url('../../../fonts/opensans-semibold-webfont.eot');
  src: url('../../../fonts/opensans-semibold-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-semibold-webfont.woff') format("woff"), url('../../../fonts/opensans-semibold-webfont.ttf') format("truetype"), url('../../../fonts/opensans-semibold-webfont.svg#') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../../fonts/opensans-bold-webfont.eot');
  src: url('../../../fonts/opensans-bold-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-bold-webfont.woff') format("woff"), url('../../../fonts/opensans-bold-webfont.ttf') format("truetype"), url('../../../fonts/opensans-bold-webfont.svg#OpenSansBold') format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../../fonts/opensans-bolditalic-webfont.eot');
  src: url('../../../fonts/opensans-bolditalic-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-bolditalic-webfont.woff') format("woff"), url('../../../fonts/opensans-bolditalic-webfont.ttf') format("truetype"), url('../../../fonts/opensans-bolditalic-webfont.svg#OpenSansBoldItalic') format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../../fonts/opensans-condbold-webfont.eot');
  src: url('../../../fonts/opensans-condbold-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-condbold-webfont.woff') format("woff"), url('../../../fonts/opensans-condbold-webfont.ttf') format("truetype"), url('../../../fonts/opensans-condbold-webfont.svg#OpenSansCondensedBold') format("svg");
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../../fonts/opensans-regular-webfont.eot');
  src: url('../../../fonts/opensans-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-regular-webfont.woff') format("woff"), url('../../../fonts/opensans-regular-webfont.ttf') format("truetype"), url('../../../fonts/opensans-regular-webfont.svg#OpenSansRegular') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../../fonts/opensans-italic-webfont.eot');
  src: url('../../../fonts/opensans-italic-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-italic-webfont.woff') format("woff"), url('../../../fonts/opensans-italic-webfont.ttf') format("truetype"), url('../../../fonts/opensans-italic-webfont.svg#OpenSansItalic') format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../../fonts/opensans-semibold-webfont.eot');
  src: url('../../../fonts/opensans-semibold-webfont.eot?#iefix') format("embedded-opentype"), url('../../../fonts/opensans-semibold-webfont.woff') format("woff"), url('../../../fonts/opensans-semibold-webfont.ttf') format("truetype"), url('../../../fonts/opensans-semibold-webfont.svg#') format("svg");
  font-weight: 600;
  font-style: normal;
}

.project.wide-card {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  height: 81px;
  width: inherit;
  margin-bottom: 10px;
}
.project.wide-card img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
}
.project.wide-card .project-information {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  padding: 10px;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  background-image: url('../../../images/tags/icon-arrow-white-big.png?1345213440'), url('../../../images/base/background-black-dots-opacity-50.png?1346236933');
  background-repeat: no-repeat, repeat;
  background-position: 400px center, top left;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.project.wide-card .project-information .title {
  display: block;
  position: absolute;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-size: 1.17em;
  font-stretch: condensed;
  font-weight: bold;
  line-height: 1.404em;
  text-transform: uppercase;
  visibility: visible;
  color: black;
  bottom: 10px;
  padding-left: 1em;
  padding-right: 1em;
}
.project.wide-card .project-information .title span {
  background-color: white;
}
.project.wide-card .project-information .description {
  padding-right: 70px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-style: italic;
  opacity: 0;
}
.project.wide-card:hover .project-information {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  visibility: visible;
  background-color: rgba(4, 173, 209, 0.7);
  background-image: url('../../../images/tags/icon-arrow-white-big.png?1345213440'), url('../../../images/base/background-black-dots-opacity-12.png?1346236966');
  background-position: 200px center, top left;
  color: white;
}
.project.wide-card:hover .project-information .title {
  margin-right: 70px;
  position: static;
  color: white;
  background: none;
  padding: 0;
  margin-bottom: 0.5em;
}
.project.wide-card:hover .project-information .title span {
  background-color: transparent;
}
.project.wide-card:hover .project-information .description {
  opacity: 1;
}
