/**
 *  Mixins
 */
/**
 * Old Colors (obsolete, please use new color naming scheme instead)
 */
/**
 * New colors
 */
/**
 * text sizes
 */
.project-list.wide-flat {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  position: relative;
  padding: 5px;
  border: 1px solid #ededed;
  background-color: #f2f2f2;
  margin-bottom: 12px;
  /**
   *  Mixins
   */
  /**
   * Old Colors (obsolete, please use new color naming scheme instead)
   */
  /**
   * New colors
   */
  /**
   * text sizes
   */
}
.project-list.wide-flat h2 {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 30px;
}
.project-list.wide-flat .seemore {
  position: absolute;
  display: block;
  color: black;
  right: 5px;
  top: 0;
  right: 0;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 5px;
}
.project-list.wide-flat .seemore:after {
  margin-left: 5px;
  content: ">";
  font-weight: bold;
}
.project-list.wide-flat .seemore {
  top: 25px;
}
.project-list.wide-flat ul {
  list-style: none;
}

.project.wide-flat {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  margin-bottom: 3px;
  background-color: #8e8e8e;
  background-image: url(../../../images/tags/icon-arrow-white-big.png);
  background-repeat: no-repeat;
  background-position: 400px center;
  background-size: 25px 25px;
  display: block;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 47px;
  overflow: hidden;
}
.project.wide-flat .title {
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
.project.wide-flat .description {
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  color: white;
}
.project.wide-flat:hover {
  padding-right: 40px;
  background-color: #04add1;
  background-position: 200px center;
}
