/**
 *  Mixins
 */
/***
 * IMPORTANT : CONSTANTS NAMING SCHEME
 *
 * The naming scheme is simple, your constants name must follow this rule :
 * "<typename>[<Targetname>]<Attributename>"
 * 
 * - <typename> could be "color", "size", "font", etc.
 *
 * - <targetname> is optional and could be any targetable CSS objects or
 *   properties like "text", "border", etc. 
 *
 * - <attributename> is a meaningful description of your constant, like "Blue",
 *   "LightBlue", "Small", "Huge", etc.
 */
/**
 * Old Colors (obsolete, please use new color naming scheme instead)
 */
/**
 * New colors
 */
/**
 * text sizes
 */
/**
 * font piles
 */
@font-face {
  font-family: 'OpenSansBold_obsolete';
  src: url('/opensans-bold-webfont.eot');
  src: url('/opensans-bold-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-bold-webfont.woff') format("woff"), url('/opensans-bold-webfont.ttf') format("truetype"), url('/opensans-bold-webfont.svg#OpenSansBold') format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansBoldItalic_obsolete';
  src: url('/opensans-bolditalic-webfont.eot');
  src: url('/opensans-bolditalic-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-bolditalic-webfont.woff') format("woff"), url('/opensans-bolditalic-webfont.ttf') format("truetype"), url('/opensans-bolditalic-webfont.svg#OpenSansBoldItalic') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansCondensedBold_obsolete';
  src: url('/opensans-condbold-webfont.eot');
  src: url('/opensans-condbold-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-condbold-webfont.woff') format("woff"), url('/opensans-condbold-webfont.ttf') format("truetype"), url('/opensans-condbold-webfont.svg#OpenSansCondensedBold') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular_obsolete';
  src: url('/opensans-regular-webfont.eot');
  src: url('/opensans-regular-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-regular-webfont.woff') format("woff"), url('/opensans-regular-webfont.ttf') format("truetype"), url('/opensans-regular-webfont.svg#OpenSansRegular') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansItalic_obsolete';
  src: url('/opensans-italic-webfont.eot');
  src: url('/opensans-italic-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-italic-webfont.woff') format("woff"), url('/opensans-italic-webfont.ttf') format("truetype"), url('/opensans-italic-webfont.svg#OpenSansItalic') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansSemibold_obsolete';
  src: url('/opensans-semibold-webfont.eot');
  src: url('/opensans-semibold-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-semibold-webfont.woff') format("woff"), url('/opensans-semibold-webfont.ttf') format("truetype"), url('/opensans-semibold-webfont.svg#') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/opensans-bold-webfont.eot');
  src: url('/opensans-bold-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-bold-webfont.woff') format("woff"), url('/opensans-bold-webfont.ttf') format("truetype"), url('/opensans-bold-webfont.svg#OpenSansBold') format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/opensans-bolditalic-webfont.eot');
  src: url('/opensans-bolditalic-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-bolditalic-webfont.woff') format("woff"), url('/opensans-bolditalic-webfont.ttf') format("truetype"), url('/opensans-bolditalic-webfont.svg#OpenSansBoldItalic') format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/opensans-condbold-webfont.eot');
  src: url('/opensans-condbold-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-condbold-webfont.woff') format("woff"), url('/opensans-condbold-webfont.ttf') format("truetype"), url('/opensans-condbold-webfont.svg#OpenSansCondensedBold') format("svg");
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/opensans-regular-webfont.eot');
  src: url('/opensans-regular-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-regular-webfont.woff') format("woff"), url('/opensans-regular-webfont.ttf') format("truetype"), url('/opensans-regular-webfont.svg#OpenSansRegular') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/opensans-italic-webfont.eot');
  src: url('/opensans-italic-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-italic-webfont.woff') format("woff"), url('/opensans-italic-webfont.ttf') format("truetype"), url('/opensans-italic-webfont.svg#OpenSansItalic') format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/opensans-semibold-webfont.eot');
  src: url('/opensans-semibold-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-semibold-webfont.woff') format("woff"), url('/opensans-semibold-webfont.ttf') format("truetype"), url('/opensans-semibold-webfont.svg#') format("svg");
  font-weight: 600;
  font-style: normal;
}

.project-list.wide-flat {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  position: relative;
  padding: 5px;
  border: 1px solid #ededed;
  background-color: #f2f2f2;
  margin-bottom: 12px;
  /**
   *  Mixins
   */
  /***
   * IMPORTANT : CONSTANTS NAMING SCHEME
   *
   * The naming scheme is simple, your constants name must follow this rule :
   * "<typename>[<Targetname>]<Attributename>"
   * 
   * - <typename> could be "color", "size", "font", etc.
   *
   * - <targetname> is optional and could be any targetable CSS objects or
   *   properties like "text", "border", etc. 
   *
   * - <attributename> is a meaningful description of your constant, like "Blue",
   *   "LightBlue", "Small", "Huge", etc.
   */
  /**
   * Old Colors (obsolete, please use new color naming scheme instead)
   */
  /**
   * New colors
   */
  /**
   * text sizes
   */
  /**
   * font piles
   */
  @font-face {
    font-family: 'OpenSansBold_obsolete';
    src: url('/opensans-bold-webfont.eot');
    src: url('/opensans-bold-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-bold-webfont.woff') format("woff"), url('/opensans-bold-webfont.ttf') format("truetype"), url('/opensans-bold-webfont.svg#OpenSansBold') format("svg");
    font-weight: bold;
    font-style: normal;
}

  @font-face {
    font-family: 'OpenSansBoldItalic_obsolete';
    src: url('/opensans-bolditalic-webfont.eot');
    src: url('/opensans-bolditalic-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-bolditalic-webfont.woff') format("woff"), url('/opensans-bolditalic-webfont.ttf') format("truetype"), url('/opensans-bolditalic-webfont.svg#OpenSansBoldItalic') format("svg");
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'OpenSansCondensedBold_obsolete';
    src: url('/opensans-condbold-webfont.eot');
    src: url('/opensans-condbold-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-condbold-webfont.woff') format("woff"), url('/opensans-condbold-webfont.ttf') format("truetype"), url('/opensans-condbold-webfont.svg#OpenSansCondensedBold') format("svg");
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'OpenSansRegular_obsolete';
    src: url('/opensans-regular-webfont.eot');
    src: url('/opensans-regular-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-regular-webfont.woff') format("woff"), url('/opensans-regular-webfont.ttf') format("truetype"), url('/opensans-regular-webfont.svg#OpenSansRegular') format("svg");
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'OpenSansItalic_obsolete';
    src: url('/opensans-italic-webfont.eot');
    src: url('/opensans-italic-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-italic-webfont.woff') format("woff"), url('/opensans-italic-webfont.ttf') format("truetype"), url('/opensans-italic-webfont.svg#OpenSansItalic') format("svg");
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'OpenSansSemibold_obsolete';
    src: url('/opensans-semibold-webfont.eot');
    src: url('/opensans-semibold-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-semibold-webfont.woff') format("woff"), url('/opensans-semibold-webfont.ttf') format("truetype"), url('/opensans-semibold-webfont.svg#') format("svg");
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'OpenSans';
    src: url('/opensans-bold-webfont.eot');
    src: url('/opensans-bold-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-bold-webfont.woff') format("woff"), url('/opensans-bold-webfont.ttf') format("truetype"), url('/opensans-bold-webfont.svg#OpenSansBold') format("svg");
    font-weight: bold;
    font-style: normal;
}

  @font-face {
    font-family: 'OpenSans';
    src: url('/opensans-bolditalic-webfont.eot');
    src: url('/opensans-bolditalic-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-bolditalic-webfont.woff') format("woff"), url('/opensans-bolditalic-webfont.ttf') format("truetype"), url('/opensans-bolditalic-webfont.svg#OpenSansBoldItalic') format("svg");
    font-weight: bold;
    font-style: italic;
}

  @font-face {
    font-family: 'OpenSans';
    src: url('/opensans-condbold-webfont.eot');
    src: url('/opensans-condbold-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-condbold-webfont.woff') format("woff"), url('/opensans-condbold-webfont.ttf') format("truetype"), url('/opensans-condbold-webfont.svg#OpenSansCondensedBold') format("svg");
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
}

  @font-face {
    font-family: 'OpenSans';
    src: url('/opensans-regular-webfont.eot');
    src: url('/opensans-regular-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-regular-webfont.woff') format("woff"), url('/opensans-regular-webfont.ttf') format("truetype"), url('/opensans-regular-webfont.svg#OpenSansRegular') format("svg");
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'OpenSans';
    src: url('/opensans-italic-webfont.eot');
    src: url('/opensans-italic-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-italic-webfont.woff') format("woff"), url('/opensans-italic-webfont.ttf') format("truetype"), url('/opensans-italic-webfont.svg#OpenSansItalic') format("svg");
    font-weight: normal;
    font-style: italic;
}

  @font-face {
    font-family: 'OpenSans';
    src: url('/opensans-semibold-webfont.eot');
    src: url('/opensans-semibold-webfont.eot?#iefix') format("embedded-opentype"), url('/opensans-semibold-webfont.woff') format("woff"), url('/opensans-semibold-webfont.ttf') format("truetype"), url('/opensans-semibold-webfont.svg#') format("svg");
    font-weight: 600;
    font-style: normal;
}

}
.project-list.wide-flat h2 {
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-size: 1.33em;
  font-stretch: condensed;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.project-list.wide-flat .seemore {
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-size: 0.83em;
  position: absolute;
  display: block;
  color: black;
  right: 5px;
  top: 0;
  right: 0;
  text-decoration: none;
  margin-top: 1.1em;
  margin-right: 1em;
}
.project-list.wide-flat .seemore:after {
  margin-left: 1em;
  content: ">";
  font-weight: bold;
}
.project-list.wide-flat ul {
  list-style: none;
}

.project.wide-flat {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  margin-bottom: 3px;
  background-color: #8e8e8e;
  background-image: url('../../../images/tags/icon-arrow-white-big.png?1345213440');
  background-repeat: no-repeat;
  background-position: 400px center;
  background-size: 25px 25px;
  display: block;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 47px;
  overflow: hidden;
}
.project.wide-flat .title {
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-size: 1.17em;
  font-stretch: condensed;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
.project.wide-flat .description {
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-style: italic;
  color: white;
}
.project.wide-flat:hover {
  padding-right: 40px;
  background-color: #04add1;
  background-position: 200px center;
}
