{% load i18n %}

{% if picture_form %}
<!-- Pas de photo - édition en cours -->
<div id="project_photo_upload_edit">
	
	<h1>{% trans "upload a media"|capfirst %}</h1>
	
	<div id="forms_files">
		{% if project_instance %}		
			<form method="post" action="{% url project_sheet-instance-add-picture project_instance.slug %}" enctype="multipart/form-data" >{% csrf_token %}
		{% else %}
			<form method="post" action="{% url project_sheet-add-picture %}" enctype="multipart/form-data">{% csrf_token %}
		{% endif %}
			<p>
				<label for="#">{% trans "Choose an image to upload :"|capfirst %}</label> <span class="precision">Min 200x200 - Max 1000x800</span>
				{{ picture_form.original_image }}
				<input class="button nomargin right" type="submit" value="{% trans 'Upload'|capfirst %}" enctype="multipart/form-data"/>
			</p>
		</form>
		
		<form method="#" action="#">
			<p>
				<label for="#">{% trans "insert a video : "|capfirst %}</label><span class="precision">({% trans 'insert your embed link here'|capfirst %})</span>
				<input type="text" name="nom" />
				<input class="button nomargin right" type="submit" value="{% trans 'Ok'|capfirst %}" />
			</p>
		</form>						
	</div>	
</div>
{% else %}
	{% if project_instance %}
		{% if project_instance.pictures.count %}
		<div id="project_photo_gallery">
			<a href="{% url project_sheet-instance-add-picture project_instance.slug %}" class="button">{% trans 'add'|capfirst %}</a>
			<div id="gallery">
				{% for pic in project_instance.pictures.all %}
					<a href="{{pic.display.url}}"><img src="{{pic.thumbnail_image.url}}"/></a>
				{% endfor %}					
			</div>
		</div>
		{% else %}
			<!-- Pas de photo - non éditable -->
			<a href="{% url project_sheet-instance-add-picture project_instance.slug %}">
				<div id="project_photo_upload">
					<img src="" />
				</div>
			</a>
		{% endif %}	
	{% else %}
		<!-- Pas de photo - non éditable -->
		<a href="{% url project_sheet-add-picture%}">
			<div id="project_photo_upload">
				<img src="" />
			</div>
		</a>
	{% endif %}
{% endif %}
