{% load i18n %}

<!-- REFERENCES - Viewable version -->
<div id="project_refs">

	<!-- !!!!!!!!! -->
	<!-- !!FOCUS!! - références -->
	<!-- !!!!!!!!! -->
	<div class="title">
		{% trans 'References'|capfirst %}<a href="#" class="button sidebar-opener right"><img src="{{ MEDIA_URL }}/images/base/edit.png" alt="edit" /></a>
	</div>
	
	<div class="clear"></div>
	
	<ul>
		<li class="ref">Alessandro Barbero, Waterloo, Flammarion, 2005.</li>
		<li class="ref">Gilles Bernard, Waterloo : Les reliques, Histoire et Collections, 2006. (<a href="#">ISBN 978-2915239683</a>)</li>
		<li class="ref"><a href="http://www.napoleonic-literature.com/Waterloo_OB/Allied.htm">Ordre de bataille des Alliés</a></li>	
	</ul>

</div>


<!-- REFERENCES - editing version -->
<div id="project_refs">

	<div class="title">
		{% trans 'References'|capfirst %}&nbsp;&nbsp;&nbsp;
	</div>
	
	<div class="clear"></div>	
	
	
	<!-- !!!!!!!!! -->
	<!-- !!FOCUS!! - comportment : user add a ref with the first field : when he validate, the new ref is auto-added in the editable list, and the first field is cleared -->
	<!-- !!!!!!!!! if possible : auto-detection of ISBN codes and URL -> Tranformation into <a href> -->
	<form action="#" method="post">		
		
		<ul class="project_refs">
			<li class="ref new_ref"><p><input type="text" name="#" value="{% trans 'Insert your new reference here (URL, books, etc...)' %}" id="#"><a href="#" class="button greenbutton nomargin right"><img src="{{ MEDIA_URL }}/images/base/v.png" alt="ok" /></a></p></li>
			<li class="ref"><p><input type="text" value="Alessandro Barbero, Waterloo, Flammarion, 2005." name="#" id="#" /><a href="#" class="button redbutton nomargin right"><img src="{{ MEDIA_URL }}/images/base/x.png" alt="edit" /></a></p></li>
			<li class="ref"><p><input type="text" value="Gilles Bernard, Waterloo : Les reliques, Histoire et Collections, 2006. (ISBN 978-2915239683)" name="#" id="#" /><a href="#" class="button redbutton nomargin right"><img src="{{ MEDIA_URL }}/images/base/x.png" alt="edit" /></a></p></li>
			<li class="ref"><p><input type="text" value="http://www.napoleonic-literature.com/Waterloo_OB/Allied.htm" name="#" id="#"><a href="#" class="button redbutton nomargin right"><img src="{{ MEDIA_URL }}/images/base/x.png" alt="edit" /></a></p></li>	
		</ul>
		
		<a id="references_save" class="grey_column_close" href="javascript:;">{% trans 'Close & discard'%}</a>
		<a href="javascript:;" class="grey_column_save_close" onclick="#" id="references_save_close">{% trans 'Save & close'%}</a>
	
	</form>	
	
</div>