{% load i18n %}
{% if uniqueness_section_form %}
	<!-- Paragraphe en cours d'édition -->
	<div id="uniqueness" class="project_details_title_edit">
		<h2>{% trans "what's make it creative and unique"|capfirst %}?</h2>
	</div>
		{% if project_instance %}
			<form class="project_details_body_edit" action="{% url project_sheet-instance-edit-field project_instance.slug 'uniqueness_section' %}" method="post">{% csrf_token %}
		{% else %}
			<form class="project_details_body_edit" action="{% url project_sheet-edit-field 'uniqueness_section' %}" method="post">{% csrf_token %}
		{% endif %}
			{{uniqueness_section_form.uniqueness_section}}
			<input class="greenbutton nomargin" type="submit" value="{% trans 'Ok'|capfirst %}" />
			<input class="redbutton nomargin" type="submit" value="{% trans 'Cancel'|capfirst %}" />
	</form>
{% else %}
	{% if project_instance %}
		<div class="project_details_title_edit">
			<h2>{% trans "what's make it creative and unique"|capfirst %}?</h2>
			<a href="{% url project_sheet-instance-edit-field project_instance.slug 'uniqueness_section' %}" class="button">{% trans 'edit'|capfirst %}</a>
		</div>
		{% if project_instance.uniqueness_section %}
			<!-- Paragraphe rempli -->
			<p class="project_details_body">
			{{project_instance.uniqueness_section}}
			</p>
		{% else %}
			<p class="project_details_body empty edit2">
				{% trans "this bloc is empty : don’t forget to fill it ! A good project is a complete project !"|capfirst %}
			</p>
		{% endif %}
	{% else %}
		<!-- Paragraphe vide -->
		<div class="project_details_title_edit">
			<h2>{% trans "what's make it creative and unique"|capfirst %}?</h2>
			<a href="{% url project_sheet-edit-field 'uniqueness_section' %}" class="button">{% trans 'Edit'|capfirst %}</a>
		</div>
		<p class="project_details_body empty edit2">
		{% trans "this bloc is empty : don’t forget to fill it ! A good project is a complete project !"|capfirst %}
		</p>
	{% endif %}
{% endif %}