{% load i18n %}
{% if uniqueness_section_form %}
	<!-- PARAGRAPH - edition mode -->
	<div id="uniqueness_section" class="project_details_title_edit">
		<h2>{% trans "what's make it creative and unique"|capfirst %}?</h2>
	</div>
		{% if project_instance %}
			<form class="project_details_body_edit" action="{% url project_sheet-instance-edit-field project_instance.slug 'uniqueness_section' %}" method="post">{% csrf_token %}
		{% else %}
			<form class="project_details_body_edit" action="{% url project_sheet-edit-field 'uniqueness_section' %}" method="post">{% csrf_token %}
		{% endif %}
			{{uniqueness_section_form.uniqueness_section}}
			<input class="greenbutton nomargin" type="image" src="{{ MEDIA_URL }}/images/base/v.png" alt="Ok" />	
			<input class="redbutton nomargin" type="image" src="{{ MEDIA_URL }}/images/base/x.png" alt="X" />
	</form>
{% else %}
	{% if project_translation %}
		<div id="uniqueness_section" class="project_details_title_edit">
			<h2>{% trans "what's make it creative and unique"|capfirst %}?</h2>
			<a href="{% url project_sheet-instance-edit-field project_translation.slug 'uniqueness_section' %}" class="button editing-button"><img src="{{ MEDIA_URL }}/images/base/edit.png" /></a>
		</div>
		{% if project_translation.uniqueness_section %}
			<!-- PARAGRAPH - filled -->
			<p class="project_details_body">{{ project_translation.uniqueness_section }}</p>
		{% else %}
			<p class="project_details_body empty">{% trans "this bloc is empty : don’t forget to fill it ! A good project is a complete project !"|capfirst %}</p>
		{% endif %}
	{% else %}
		<!-- PARAGRAPH - empty -->
		<div id="uniqueness_section" class="project_details_title_edit">
			<h2>{% trans "what's make it creative and unique"|capfirst %}?</h2>
			<a href="{% url project_sheet-edit-field 'uniqueness_section' %}" class="button editing-button"><img src="{{ MEDIA_URL }}/images/base/edit.png" /></a>
		</div>
		<p class="project_details_body empty"></p>
	{% endif %}
{% endif %}