{% extends "base_obsolete.html" %}

{% load compress %}
{% load i18n %}


{% block meta_desc %}{{ workgroup.name }} : {% spaceless %}{{ workgroup.description|safe|striptags|cut:"\n"|truncatewords:42 }}{% endspaceless %}{% endblock %}
{% block title %}Imagination for People | {% trans 'Workgroup'|capfirst %} | {{ workgroup.name }}{% endblock %}

{% block style %}
  {% compress css %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/black_page.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/workgroup.css" />
  {% render_block "css" %}
  {% endcompress %}
{% endblock %}

{% block nav %}<div style="height:37px;"></div>{% endblock %}