{% load i18n %}
{% if not request.user in workgroup.subscribers.all %}
       <form method='GET' action='{% url workgroup-subscribe workgroup.slug %}'>
         {% csrf_token %}
         <input type='submit' class='button' value="{% trans 'Subscribe' %}" style="font-size:12px;" />
	 <input type="hidden" name='next_url' value="{{ request.path }}"/>
       </form>
{% else %}
       <form method='GET' action='{% url workgroup-unsubscribe workgroup.slug %}'>
       {% csrf_token %}
          <input type='submit' class='button' value="{% trans 'Unsubscribe' %}" style="font-size:12px;" />
	 <input type="hidden" name='next_url' value="{{ request.path }}"/>
       </form>
{% endif %}
