{% extends "workgroup/base.html" %}

{% load i18n %}

{% block content %}

  <div class="content">
    <div class="container_18 relative" id="workgroup_detail">
      <br/>
      <br/>
      <h1><a href="{% url workgroup-list %}">{% trans "Workgroup" %}</a> &raquo; {{ workgroup.name }}</h1>
      <img class="language tipsed" alt="{{ workgroup.language }}" src="{{ STATIC_URL }}images/flags/{{ workgroup.language }}.gif" title="{{ workgroup.get_language_display }}" />
      
      <div class="separator"></div>
      
    {% if workgroup.mailing_list %}
      <em>To send an e-mail to the list, use the following address: {{ workgroup.mailing_list.email }}</em> - [<a href="{{ workgroup.mailing_list.main_url }}/../../../pipermail/{{ workgroup.mailing_list.name }}">Browse the Archives</a>]
        {% if not request.user in ml_member_list %}
          <form method='POST' action='{% url workgroup-subscribe workgroup.slug %}'>
            {% csrf_token %}
            <input type='submit' class='button' value='Subscribe' />
          </form>
        {% else %}
          <form method='POST' action='{% url workgroup-unsubscribe workgroup.slug %}'>
            {% csrf_token %}
            <input type='submit' class='button' value='Unsubscribe' />
          </form>
        {% endif %}

      <div class="separator"></div>
    {% endif %}


      <span class="workgroup_desc">{{ workgroup.description|safe|urlize|linebreaksbr }}</span>

        <div class="separator"></div>
      
      {% if workgroup.mailing_list %}
      
        
      <h3>Group subscribers ({{ ml_member_list|add:ml_nonmember_list|length }})</h3>
      
      <br /><br />
    
      {# Subscribe/Unsubscribe button for logged-in users  #}
      {% if not request.user.is_anonymous %}
	{% if not request.user in ml_member_list %}
	  <em>You are not susbcribed to this Mailing List</em>
	{% else %}
	  <em>You are susbcribed to this Mailing List</em>
	{% endif %}
      {% endif %}

      <br/><br />

      {# Subscriber list #}
      <div id="wg-ml-subscriber-list">
	<ul>
	  {% for member in ml_member_list %}
	    <li><a href="{% url userena_profile_detail member.username %}"><img class="tipsed"  {% if request.user == member %}{% endif %} title="{{ member.first_name }} {{ member.last_name }}" src="{{ member.get_profile.get_mugshot_url }}" width="40px" height="40px"/></a></li>
	  {% endfor %}
	</ul>
	{% with ml_nonmember_list|length as anonymous_count %}
	  {% if anonymous_count > 0 %}
	    <br />
        <em>And {{ anonymous_count }} anonymous subscriber{{ anonymous_count|pluralize }}</em>
	  {% endif %}
	{% endwith %}
      </div>

      {% endif %}
    </div>
  </div>

{% endblock %}


