{% extends "workgroup/layout/workgroup_base.html" %}

{% load i18n %}

{% block content %}

<div class="content" id="workgroups_list">
    <div class="container_18">
        <br />
        <h2>{% trans "Workgroups" %}</h2>
        
        <ul>
            {% for workgroup in workgroup_list %}
	      {% if workgroup.visible %}
		<li>
		  <a href="{{ workgroup.get_absolute_url }}" class="link">{{ workgroup.name }}</a>
		  <img class="tipsed" alt="{{ workgroup.language }}" src="{{ STATIC_URL }}images/flags/{{ workgroup.language }}.gif" title="{{ workgroup.get_language_display }}" />
		  <div style="border-top:1px solid #f2e4e4; margin-top:10px;"></div>
		  <br />
		  <span><a href="{{ workgroup.get_absolute_url }}">{{ workgroup.description|safe|slice:":250"|linebreaksbr }}...</a></span>
		</li>
	      {% endif %}
            {% endfor %}
        </ul>
        
        <div class="clear"></div>

    </div>
</div>

{% endblock %}


