{% from "macros.html" import timeago %}
<div class="karma-summary">
    {% if view_user.id == user.id %}
        <h2>{% trans %}Your karma change log.{% endtrans %}</h2>
        {% else %}
        <h2>{% trans user_name=view_user.username|escape %}{{user_name}}'s karma change log{% endtrans %}</h2>
        {% endif %}
    <div id="diagram" class="karma-diagram"></div>
    <div class='clear'></div>
    <div class="karma-details">
        {% for rep in reputation %}
        <p>
            <span class="karma-gained">{{ rep.positive }}</span>
            <span class="karma-lost">{{ rep.negative }}</span>
            {{ rep.get_explanation_snippet() }}
            <span class="small">({{ timeago(rep.reputed_at) }})</span>
            <div class="clean"></div>                  
        </p>
        {% endfor %}
    </div>
    <div class='clear'></div>
    <script type='text/javascript'>
    $(document).ready(function(){
        var d = {{ reps }};
        var placeholder = $("#diagram");
        var plot = $.plot(placeholder, [d], {
            xaxis: { mode: "time" },
            points: { show: true },
            lines: { show: true }
        });
    });
    </script>
</div>
<div class='clear'></div>

