{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Imagination for People | {% block title %}{% trans 'home'|capfirst %}{% endblock %}</title>
</head>
<body>
{% block header %}
	{% if user.is_authenticated %}
	    <p>
	    	{% trans 'welcome'|capfirst %}, {{ user.username }}. <a href="{% url auth_password_change %}">{% trans 'Change password' %}</a> | 
	    	<a href="{% url auth_logout %}?next={% url i4p-index %}">{% trans 'Log out' %}</a>
	    </p>
	{% else %}
	    <p>
	    	<a href="{% url auth_login %}">{% trans 'log in'|capfirst %}</a>
	    	{% trans 'or' %}
	    	<a href="{% url registration_register %}">{% trans 'sign up'|capfirst %}</a><br />
	    	<a href="{% url auth_password_reset %}">{% trans 'lost password'|capfirst %}</a>
	    </p>
	{% endif %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}
</body>
</html>