{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml" lang="fr">
  <head>  
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <meta http-equiv="Content-Language" content="FR" /> 
    <meta name="keywords" content="Imagin:nation for people, i4p, social, innovation sociale" /> 
    <meta name="description" content="Imagination 4 People" /> 

    <title>Imagi:nation 4 People - {% block title %} Home {% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/grid.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" />

    <!-- insert a test here ; in function of the type of the page (nav ou view) the style nis not the same (white page / black page)   -->
    {% block style %}<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/white_page.css" />{% endblock %}

    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/generals.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/buttons.css" />

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.5.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/buttons.js"></script>
    
    {% if not debug %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21778007-2']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% endif %}


    
	{% block extra_head %}{% endblock %}
    

  </head>


  <body>

    <div class="global">


      {% block header %} {% include "header.html" %} {% endblock %}			
      <!-- insert a test here ; in function of the type of the page (nav ou view) the nav nis not the same ( bubble_nav / basic nav)   -->
      {% block nav %} {% include "bubble_nav.html" %} {% endblock %}
      
      
      {% block content %}<br /><br /><br /><br /><br />{% endblock %}	


      {% block footer %} {% include "footer.html" %} {% endblock %}


    </div>

  </body>
</html>

