{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{% block title %}Imagination for People{% endblock %}</title>
</head>
<body>
{% block header %}
	{% if user.is_authenticated %}
	    <p>{% trans 'welcome'|capfirst %}, {{ user.username }}.</p>
	    	<form action="{% url auth_logout %}" method="post">{% csrf_token %}
	    		<input type="hidden" name="next" value="{% url i4p-index %}"/>
	    		<input type="submit" value="{% trans 'log out'|capfirst %}"/>
	    	</form>
	{% else %}
	    <p><a href="{% url auth_login %}">{% trans 'log in'|capfirst %}</a></p>
	{% endif %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}
</body>
</html>