<div class="footer">
	<div class="container_18">
		<div class="grid_18 alpha omega">
		
			<div class="social-networks">		
					<ul>
						<li><a href="#"><img src="{{MEDIA_URL}}images/base/facebook-logo.jpg" alt="facebook" /></a></li>
						<li><a href="#"><img src="{{MEDIA_URL}}images/base/twitter-logo.jpg"alt="twitter" /></a></li>
					</ul>
			</div>
			
			
			<ul>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Guidelines</a></li>
				<li><a href="#">About imagination for people</a></li>
				<li><a href="#">Termes of use</a></li>
				<li><a href="#">Privacy policy</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			
			
		
		&copy; 2011 Imagination for people – All rights reseved
	
		</div>
	</div>
</div>