{% load i18n %}

<div class="footer">
  <div class="container_18">
    <div class="grid_18 alpha omega">
      
      <div class="social-networks">		
	<ul>
	  <li><a href="#"><img src="{{MEDIA_URL}}images/base/facebook-logo.jpg" alt="facebook" /></a></li>
	  <li><a href="#"><img src="{{MEDIA_URL}}images/base/twitter-logo.jpg"alt="twitter" /></a></li>
	</ul>
      </div>
      
      
      <ul>
	<li><a href="#">{% trans "FAQ" %}</a></li>
	<li><a href="#">{% trans "Guidelines"|capfirst %}</a></li>
	<li><a href="#">{% trans 'About imagination for people'|capfirst %}</a></li>
	<li><a href="#">{% trans 'Termes of use'|capfirst %}</a></li>
	<li><a href="#">{% trans 'Privacy policy'|capfirst %}</a></li>
	<li><a href="#">{% trans 'Contact'|capfirst %}</a></li>
      </ul>
      
      
    </div>
  </div>
</div>