{% load i18n %}
<div class="header">
	<div class="container_18">
		<div class="grid_18 alpha omega">
		
			<div class="logo"><a href="index.html"><img src="{{MEDIA_URL}}images/base/logo.png" alt="Imagination for People" border="0"/></a></div>
			
			<div class="linkbox">            
			
				<ul>
					<li><a class="linkbox-login" href="#">Login / Signup</a></li>
					<li><a class="linkbox-language" href="#">{{LANGUAGE_CODE}}</a></li>
				</ul>
			
			</div>
			
			<div class="menu">            
			
				<ul>
					<li><a href="#">Project</a></li>
					<li><a href="#">Objectives</a></li>
					<li><a href="#">Start a project</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">About us</a></li>
				</ul>
			
			</div>
			
		</div>	
	</div>
</div>