{% extends "base.html" %}
{% load i18n %}

{% block content %}	
	
	<div class="content">        
		<div class="container_18">
			<div class="grid_18 alpha omega">			
			
				<div class="paging">
											
						<a href="#"><img src="{{ MEDIA_URL }}images/base/paging-on.png" /></a>
						<a href="#"><img src="{{ MEDIA_URL }}images/base/paging-off.png" /></a>
						<a href="#"><img src="{{ MEDIA_URL }}images/base/paging-off.png" /></a>
			
				</div>				
				
				<div class="block-content">  			
				
					<div class="colonne grid_6 alpha">
						<h1>About imagination for people</h1>
						
						<p class="edito">
						We believe in the virtue of civic imagination, imagination to serve the common good. Our filter is useful creativity or the imagination applied.
						</p>
						
						<a href="#">more info ></a>
						<a href="#">read our blog ></a>
						
					</div>
					
					<div class="colonne grid_6">
						
						
						<a href="#" class="project_card">
						
								<img  class="project-photo"src="{{ MEDIA_URL }}images/projects/project-img.jpg" alt=""/>
								<div class="project_card_type"><img src="{{ MEDIA_URL }}images/base/categ-democratize.jpg" alt="democratize" /></div>
								
								<div class="project_card_content">
									<div class="project_card_status">Completed</div>
									
									<img src="{{ MEDIA_URL }}images/base/dialog-icon.jpg" alt=""/>							
									<ul class="project_card_infos">							
										<li>2 help request</li>
										<li>4 updates</li>
										<li>12 followers</li>							
									</ul>							
								</div>
						</a>
						
						
						<div class="project_infos">
						
							<div class="project_infos_title">Speakers corner</div>
							<div class="project_infos_location">USA, New York</div>
							
							<div class="project_infos_description">The Speaker's Corner is a very unique way of giving lorem ipsum dolores ectamed dolred iposed lidum ed solimec acladim so remule delumdolesc deloea siloga iposbile...</div>
							
							<a href="#">More info ></a>
						
						</div>
						
					</div>
					
					<div class="colonne grid_6 omega">


						<a href="#" class="project_card">
						
								<img class="project-photo" src="{{ MEDIA_URL }}images/projects/project-img.jpg" alt=""/>
								<div class="project_card_type"><img src="{{ MEDIA_URL }}images/base/categ-sustain.jpg" alt="sustain" /></div>
								
								<div class="project_card_content">
									<div class="project_card_status">Completed</div>
									
									<img src="{{ MEDIA_URL }}images/base/dialog-icon.jpg" alt=""/>							
									<ul class="project_card_infos">							
										<li>2 help request</li>
										<li>4 updates</li>
										<li>12 followers</li>							
									</ul>							
								</div>
						</a>
					
						
						
						<div class="project_infos">
						
							<div class="project_infos_title">Telemedicine project in Afghanistan</div>
							<div class="project_infos_location">Afghanistan, Asia</div>
							
							<div class="project_infos_description">Afghanistan’s telemedicine’s project has been launched in Kabul in June 2007 by the telecommunications company Roshan in partnership with...</div>
							
							<a href="#">More info ></a>
						
						</div>


					</div>					
										
				</div>
				
			</div>
			
			<div class="clear"></div>
			
		</div>		
	</div>
	
	
{% endblock %}