{% extends "base.html" %}
{% load i18n %}

{% block style %}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/black_page.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/homepage.css" />
{% endblock %}


{% block nav %}	

    <div class="nav">
        <div class="container_18">
            <div class="grid_18 alpha omega">
                <div class="nav-bg">
                    <div class="grid_6 alpha catchy">
                        <h1>{% trans "About imagination for people" %}</h1>
                        <p class="edito">
                            {% blocktrans %}
                            We believe in the virtue of civic imagination, imagination to serve the common good. Our filter is useful creativity or the imagination applied. 
                            {% endblocktrans %}
                        </p>
                        <a href="#" class="manifesto-link">{% trans "Manifesto" %} ></a>
                        <a href="#" class="manifesto-link">{% trans "Project description" %} ></a>
                    </div>
                    <div class="grid_12 omega">						
                        <img src="{{ MEDIA_URL }}/images/teaser/teaser.png" alt="Imagination for People preview" />					
                    </div>
                </div>		
            </div>
        </div>
    </div>
    
    <div class="categories">        
        <div class="container_18">
            <div class="grid_18 alpha omega">
                <div class="menu">
                    <ul>
                        <li class="selected"><div class="categ-button"><a href="#">{% trans "Featured" %}</a></div></li>
                        <li><div class="categ-button"><a href="#">{% trans "Filters" %}</a></div></li>
                        <li><div class="categ-button"><a href="#">{% trans "Help" %}</a></div></li>
                        <li><div class="categ-button2"><a href="#">{% trans "<span class='georgia'>My</span> imagination for people" %}</a></div></li>
                    </ul>
                    <div class="search">
                        <form action="#">
                            <input type="button" value="&nbsp;">
                            <input type="text" value="Search project" name="search" id="searchInput">						
                        </form>
                    </div>
                    <div class="toolbox">
                        <div class="tools-title georgia">{% trans "Node view" %}</div>
                        <div class="tools">
                            <a href="#"><img src="{{ MEDIA_URL }}/images/base/tool1.png" /></a>
                            <a href="#"><img src="{{ MEDIA_URL }}/images/base/tool2.png" /></a>
                            <a href="#"><img src="{{ MEDIA_URL }}/images/base/tool3.png" /></a>
                            <a href="#"><img src="{{ MEDIA_URL }}/images/base/tool4-selected.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}	
	
	<div class="content">        
		<div class="container_18">
			<div class="grid_18 alpha omega">			
			
				<div class="block-content">  			
				
					<div class="colonne grid_4 alpha">
						<h1>{% trans '- projects'|capfirst %}</h1>						
                        <p>{% blocktrans %}Discover the world's most innovative and inspiring social projects.{% endblocktrans %}</p>
						<a href="{% url project_sheet-list %}">{% trans 'More info &gt;' %}</a> 						
					</div>
					
					<div class="colonne grid_4">						
						<h1>{% trans '- add a project'|capfirst %}</h1>						
						<p>{% blocktrans %}Describe stimulating and innovative social projects that spark your imagination.{% endblocktrans %}</p>
						<a href="{% url project_sheet-start %}">{% trans 'More info &gt;' %}</a> 		       
					</div>
					
					<div class="colonne grid_4">
						<h1>{% trans '- help'|capfirst %}</h1>						
						<p>{% blocktrans %}Join the IP community and help projects get off the round.{% endblocktrans %}</p>											
						<a href="#">{% trans 'More info &gt;' %}</a> 		    
                    </div>	

                    <div class="colonne grid_4 omega">
                        <h1>
                            {% blocktrans %}A community to detect, publicize, amplify and adapt creative solutions to the new challenges of living together. {% endblocktrans %}
						</h1>				
                    </div>	                    
										
				</div>
				
			</div>
			
			<div class="clear"></div>
			
		</div>		
	</div>
	
	
{% endblock %}