{% load i18n %}


{% block nav %}	
	
	
	<div class="nav-white">
		<div class="container_18">
			<div class="grid_18 alpha omega">

				<div class="grid_13 alpha">		
					<br />
				</div>
				
				<div class="grid_5 omega  black_column">		
					<br />
				</div>		
		
			</div>
		</div>
	</div>
	

	<div class="categories">        
		<div class="container_18">
			<div class="grid_18 alpha omega">
		
				<div class="menu">
					
					<ul>
						<li class="selected"><div class="categ-button"><a href="#">Featured</a></div></li>
						<!--
						<li><div class="categ-button"><a href="#">Filters</a></div></li>
						<li><div class="categ-button"><a href="#">Help</a></div></li>
						<li><div class="categ-button2"><a href="#"><span class="georgia">My</span> imagination for people</a></div></li>
						-->
					</ul>
					
					<!-- MOTEUR DE RECHERCHE -->
					<!--
					<div class="search">
					
						<form action="#">
							<input type="button" value="&nbsp;">
							<input type="text" value="Search project" name="search" id="searchInput">						
						</form>
					
					</div>
					-->
					
				</div>
			
			</div>
		</div>
	</div>	
	
	
	
{% endblock %}