{% load i18n %}  

<div class="infoblock">
    <a href="#"><img class="image" src="http://www.linternaute.com/nature-animaux/magazine/photo/les-100-paysages-de-france/image/etretat-262711.jpg" alt="Titre du projet" width="250" height="250"/></a>
    <div class="details">
        <h2>Infos libres</h2>
        <a href="#" class="plus"><img src="{{ STATIC_URL }}images/home/infoblock-plus.jpg" alt="Imagination for People" width="23" height="23"/></a>
        <span class="date">28 Février 2012</span>
        <a href="#"><h1>AnimFr : Groupe des animateurs de projets, groupes et réseaux collaboratifs</h1></a>
        <p class="description">Le groupe de travail AnimFr rassemble les acteurs impliqués dans l’animation de projets coopératifs, dans la formation aux pratiques collaboratives et à l’animation de réseaux thématiques ou territoriaux...</p>
        <hr />
        <ul class="infotags">
            <li>Contribute</li>
            <li>Dev</li>
            <li>Groupes de travail</li>
        </ul>
        
        <ul class="info-share">
            <li><a href="#"><img src="{{ STATIC_URL }}images/home/share-twitter.jpg" alt="Twitter" width="19" height="19" /></a></li>
            <li><a href="#"><img src="{{ STATIC_URL }}images/home/share-fb.jpg" alt="Facebook" width="19" height="19" /></a></li>
            <li><a href="#"><img src="{{ STATIC_URL }}images/home/share-google.jpg" alt="Google+" width="19" height="19" /></a></li>
        </ul>
        
        
    </div>
    <div class="clear"></div>
</div>
