{% load i18n %}  
{% load umessages_tags %}  

<!-- Login Box -->
{% if not user.is_authenticated %}
<div id="loginbox" class="homebox">
    <div id="panels-slide">
        <div class="loginpanel panel1">
            <center>
                <a href="javascript:;" class="loginlink" id="loginlink-subscribe"><img src="{{ STATIC_URL }}images/home/login-picto.jpg" alt="Facebook" width="19" height="19" />{% trans 'Connexion' %}</a>
                <a href="{% url userena_signup %}" class="loginlink">{% trans 'Inscription' %}<img src="{{ STATIC_URL }}images/home/subscribe-picto.jpg" alt="Facebook" width="19" height="19" /></a>
                <hr />
                <ul>
                    <li class="social-login"> <a href="{% url socialauth_begin 'facebook' %}"><img src="{{ STATIC_URL }}images/base/social-fb.png" alt="Facebook" width="32" height="32" class="tipsed on" title="{% trans 'Connect with' %} <strong>Facebook</strong>" /></a> </li>
                    <li class="social-login"> <a href="{% url socialauth_begin 'google-oauth2' %}"><img src="{{ STATIC_URL }}images/base/social-google.png" alt="Google +" width="32" height="32" class="tipsed on" title="{% trans 'Connect with' %} <strong>Google</strong>" /></a> </li>
                    <li class="social-login"> <a href="{% url socialauth_begin 'twitter' %}"><img src="{{ STATIC_URL }}images/base/social-twitter.png" alt="Twitter" width="32" height="32" class="tipsed on" title="{% trans 'Connect with' %} <strong>Twitter</strong>" /></a> </li>
                    <li class="social-login"> <a href="{% url socialauth_begin 'linkedin' %}"><img src="{{ STATIC_URL }}images/base/social-ln.png" alt="LinkedIn" width="32" height="32" class="tipsed on" title="{% trans 'Connect with' %} <strong>Linkedin</strong>" /></a> </li>
                    <li class="social-login"> <a href="javascript:;" class="openid-button"><img src="{{ STATIC_URL }}images/base/social-openid.png" alt="OpenID" width="32" height="32" class="tipsed on" title="{% trans 'Connect with' %} <strong>OpenID</strong>" /></a> </li>
                </ul>
            </center>   
        </div>
        
        <div class="loginpanel panel2">
            <a class="close-button"><img src="{{ STATIC_URL }}images/home/close.png" alt="{% trans 'close' %}" width="11" height="11" /></a>
            <br />
            <form action="{% url socialauth_begin 'openid' %}" method="POST" class="openid-form">
                <img src="{{ STATIC_URL }}images/home/openid-logo.jpg" alt="OpenID" width="79" height="29" />
                <br />
                {% csrf_token %}
                <input type="text" name="openid_identifier" id="openid_identifier" />&nbsp;
                <button>{% trans 'Login' %}</button>
            </form> 
        </div>
        
        <div class="loginpanel panel3">
            <a class="close-button"><img src="{{ STATIC_URL }}images/home/close.png" alt="{% trans 'close' %}" width="11" height="11" /></a>
            
            <form action="{% url userena_signin %}" class="clearfix" method="post" class="profile_edition">
            {% csrf_token %}
                {{ signin_form.non_field_errors }}
                {% for field in signin_form %}
                {{ field.errors }}
                {% if field.name == 'remember_me' %}
                <p class="checkbox">
                    <label for="id_{{ field.name }}">{{ field }} {% trans "Remember me" %}</label>
                </p>
                {% else %}
                <p>
                    {{ field.label_tag }} 
                    {{ field }}
                </p>
                {% endif %}
                {% endfor %}
            <input type="submit" style="margin-left:0px;" value="{% trans 'Go !' %}" />
            <a class="link" href="{% url userena_password_reset %}">{% trans "Lost your password?" %}</a>

            </form>
        </div>
    </div>
    
</div>            
{% else %}
<div id="loginbox" class="homebox">
    <h1>{% trans 'Logged as:' %}</h1>
    <hr />
    
    <a href="{% url userena_profile_detail request.user %}"><img class="avatar" src="{{ user.get_profile.get_mugshot_url }}" alt="{% trans 'Your avatar' %}" width="42" height="42" /></a>
    
    <a class="link" href="{% url userena_profile_detail request.user %}">{{ user.username }}</a>
    <br />
    
    <ul class="profile_actions">
    {% get_unread_message_count_for user as unread_message_count %}
    {% if unread_message_count != 0 %}
        <li><a href="{% url userena_umessages_list %}"><img src="{{ STATIC_URL }}images/base/message-count-on.png" class="tipsed on" title="{% trans 'My messages' %}" /><div class="message_count" >{{ unread_message_count }}</div></a></li>
    {% else %}
        <li><a href="{% url userena_umessages_list %}"><img src="{{ STATIC_URL }}images/base/message-count-off.png" class="tipsed on" title="{% trans 'My messages' %}" /></a></li>
    {% endif %}
    
        <li><a href="{% url userena_profile_detail request.user %}"><img src="{{ STATIC_URL }}images/base/panel-view.png" class="tipsed on" title="{% trans 'View my profile' %}" /></a></li>
        <li><a href="{% url userena_profile_edit user.username %}"><img src="{{ STATIC_URL }}images/base/panel-edit.png" class="tipsed on" title="{% trans 'Edit my profile' %}" /></a></li>
        <li><a href="{% url userena_signout %}?next={% url i4p-index %}"><img src="{{ STATIC_URL }}images/base/panel-logout.png" class="tipsed on" title="{% trans 'Log out' %}" /></a></li>
    </ul>
</div>            
{% endif %}
