{% load i18n %}  

 <div id="quick_project" class="homebox">
    <h1>{% trans 'Add your project' %}</h1>
    <hr />
    
    <!-- FIXME : Create the good view which permit to complete the title AND the baseline together at the same time  -->
    <form id="title" action="#" method="post">
        {% csrf_token %}
        <input id="id_title" name="title" type="text" />
        <input id="id_baseline" type="text" name="baseline"></textarea>
        <input type="submit" value="{% trans 'Add' %}" />
    </form>
</div>
