{% load i18n %} 

<div id="twitter_box">
    <h1>{% trans 'Twitter' %}</h1>
    <ul>
    
        <!-- 5 last twitter posts -->
        <a href="#">
            <li>
                <img src="http://www.linternaute.com/nature-animaux/magazine/photo/les-100-paysages-de-france/image/etretat-262711.jpg" alt="avatar" width="36" height="36"/>
                <p>
                    <span class="date">12 janvier 2012</span>
                    <br />
                    AnimFr: Groupe des animateurs de projets, groupes...
                </p>
            </li>
         </a>
         
    </ul>            
</div>