@import "../mixin.scss";
@import "twittblogboxes.scss";


#twitter_box{
    
    h1{
        padding-left:40px;
        background-repeat:no-repeat;
        background-position:5px 2px;
        
        a{
            color:black;
        }
    }
}
