{% load i18n %}
{% if content %}
    <div class="modal hide fade" id="i4pPopup" tabindex="-1" role="dialog" aria-labelledby="i4pPopupLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="i4pPopupLabel">{% trans 'Notice' %}</h3>
        </div>
        <div class="modal-body">
            {{ content }}
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Ok</button>
        </div>
    </div>
    <script type="text/javascript">
    $(function () {
        $('#i4pPopup').modal('show')
      })
    </script>

{% endif %}