.nav-white {
  background-color: black;
  height: 0px !important;
}

.block-content ul li {
  list-style-type: square;
  margin-left: 25px;
  padding: 0;
  display: list-item;
}

.left-menu {
  font-family: "OpenSansSemibold", Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-size: 13px;
}
.left-menu ul li {
  list-style-type: square;
  margin-left: 19px;
  display: list-item;
}
.left-menu h1 {
  font-family: "OpenSansSemibold", Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  margin: 7px 0px;
  color: #5A5959 !important;
  margin-left: 10px;
}

.grid_14 {
  margin-left: 30px !important;
}

.content {
  background-color: white;
  background-image: none;
  color: #424242 !important;
}
.content a {
  color: #04add1;
}
.content h1 {
  border-bottom: 1px solid grey;
  font-family: "OpenSansSemibold", Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  margin: 7px 0px;
  color: #5A5959;
}
.content h2 {
  font-size: 15px;
  font-family: "OpenSansSemibold", Arial, Helvetica, sans-serif;
  color: #5a5959;
}
.content h3 {
  font-size: 10px;
}
.content p {
  font-size: 12px;
  text-align: justify;
  line-height: 17px;
  margin-right: 30px;
  margin-left: 0px;
}
.content hr {
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("../../images/base/separator.jpg");
  background-repeat: repeat-x;
  border: 0px;
  height: 2px;
}

#wg-ml-subscriber-list li {
  list-style-type: none;
  margin-left: 0px;
  display: inline;
}

#projects_list .grid_6 {
  width: 235px;
}

.project_infos {
  width: 33% !important;
}

.project_infos_baseline {
  color: #424242 !important;
}

.project_infos_title h2 {
  color: #5A5959 !important;
}

.project_list_project a {
  box-shadow: none !important;
}
.project_list_project a:hover {
  border-color: white !important;
}

.project_infos_description {
  display: none;
}

.step-links a {
  color: #5A5959 !important;
}
