/**
 * Colors
 */
/**
 *  Font sizes
 */
/**
 *  Mixins
 */
body {
  background-color: #f8f8f8;
}

#header-zone {
  background-color: #282828;
}

#subheader-zone {
  background-color: white;
  position: relative;
}

#pictured-zone {
  background-color: black;
  height: 253px;
  border-bottom: 4px solid #0aaece;
}
#pictured-zone .tag-header {
  position: relative;
}
#pictured-zone .tag-header a img {
  width: 100%;
  height: auto;
  border: none;
}
#pictured-zone .tag-header .credit {
  position: absolute;
  top: 145px;
  left: 10px;
  color: white;
  font-style: italic;
}
#pictured-zone .pano-header-block {
  margin-top: 20px;
}
#pictured-zone .pano-header {
  position: relative;
  height: 81px;
  width: inherit;
  margin-bottom: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#pictured-zone .pano-header img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
}
#pictured-zone .pano-header .project-information {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  padding: 10px;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  background-image: url(../../images/tags/icon-arrow-white-big.png), url(../../images/base/background-black-dots.png);
  background-repeat: no-repeat, repeat;
  background-position: 400px center, top left;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
#pictured-zone .pano-header .project-information .title {
  display: block;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  visibility: visible;
  background-color: white;
  color: black;
  bottom: 10px;
  padding-left: 1em;
  padding-right: 1em;
}
#pictured-zone .pano-header .project-information .description {
  opacity: 0;
}
#pictured-zone .pano-header:hover .project-information {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  padding-right: 70px;
  visibility: visible;
  background-color: rgba(10, 174, 206, 0.7);
  background-position: 200px center, top left;
  color: white;
}
#pictured-zone .pano-header:hover .project-information .title {
  position: static;
  color: white;
  background: none;
  padding: 0;
  margin-bottom: 0.5em;
}
#pictured-zone .pano-header:hover .project-information .description {
  opacity: 1;
}

#content-zone {
  clear: both;
  background-color: white;
}

#description-zone {
  background-image: linear-gradient(top, #282828 0%, #000000 100%);
  background-image: -o-linear-gradient(top, #282828 0%, black 100%);
  background-image: -moz-linear-gradient(top, #282828 0%, black 100%);
  background-image: -webkit-linear-gradient(top, #282828 0%, black 100%);
  background-image: -ms-linear-gradient(top, #282828 0%, black 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #282828), color-stop(1, black));
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0 4px 4px 0;
  position: absolute;
  top: 170px;
  left: 0px;
  padding: 0;
  width: 55%;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 90px;
}
#description-zone .icon-tag-big {
  display: block;
  margin: 0;
  padding: 0;
  min-height: 5em;
  min-width: 5em;
  background-image: url(../../images/tags/icon-tag-white-big.png);
  background-repeat: no-repeat;
  background-position: 80px center;
}
#description-zone .tag-title {
  color: white;
  font-family: "OpenSansBold", Arial,Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  text-transform: uppercase;
}
#description-zone .tag-description {
  color: white;
  font-style: italic;
}
#description-zone .tag-description .button {
  margin-top: 1em;
  margin-left: 1em;
  float: right;
}
#description-zone .readmore {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-image: linear-gradient(top, #282828 0%, #000000 100%);
  background-image: -o-linear-gradient(top, #282828 0%, black 100%);
  background-image: -moz-linear-gradient(top, #282828 0%, black 100%);
  background-image: -webkit-linear-gradient(top, #282828 0%, black 100%);
  background-image: -ms-linear-gradient(top, #282828 0%, black 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #282828), color-stop(1, black));
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 25px;
  right: -25px;
  display: block;
  width: 50px;
  height: 50px;
}
#description-zone .readmore:hover {
  right: -30px;
}
#description-zone .readmore a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../../images/tags/icon-arrow-blue-big.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#tags-related {
  line-height: 1.5em;
  margin-top: 2em;
  margin-bottom: 2em;
}
#tags-related h2 {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  background-image: url(../../images/tags/icon-tag-white-small.png);
  background-position: 5px center;
  background-repeat: no-repeat;
  font-size: 12px;
  height: 16px;
  font-weight: normal;
  display: inline;
  color: white;
  float: left;
  background-color: #535353;
  padding-left: 20px;
  padding-right: .5em;
  margin: 0;
  margin-right: .25em;
}
#tags-related ul {
  display: block;
  list-style: none;
}
#tags-related ul:after {
  content: "";
  clear: both;
}
#tags-related ul li {
  display: block;
  float: left;
  background-color: #c9c9c9;
  color: #535353;
  margin-bottom: 4px;
  margin-right: 8px;
  height: 16px;
  padding-left: 5px;
  padding-right: 5px;
  font-style: italic;
  font-size: 12px;
  position: relative;
}
#tags-related ul li a {
  font-size: 100%;
  color: inherit;
  margin-right: 0.2em;
}
#tags-related ul li:first-child:before {
  display: inline;
  border-left: none;
}
#tags-related ul li:before {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  display: inline;
  position: absolute;
  content: "";
  top: 0;
  width: 0;
  height: 0;
  left: -5px;
  border-left: 5px solid transparent;
  border-top: 8px solid #c9c9c9;
  border-bottom: 8px solid #c9c9c9;
}
#tags-related ul li:after {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  position: absolute;
  content: "";
  top: 0;
  right: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid #c9c9c9;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

hr.shaded-separator {
  display: block;
  border: 0;
  width: 100%;
  height: 10px;
  background-image: url(../../images/base/horizontal-separator.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.tag-follow-button {
  background-image: linear-gradient(top, #4abae9 0%, #3990b4 100%);
  background-image: -o-linear-gradient(top, #4abae9 0%, #3990b4 100%);
  background-image: -moz-linear-gradient(top, #4abae9 0%, #3990b4 100%);
  background-image: -webkit-linear-gradient(top, #4abae9 0%, #3990b4 100%);
  background-image: -ms-linear-gradient(top, #4abae9 0%, #3990b4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4abae9), color-stop(1, #3990b4));
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  display: block;
  border: 4px solid #c7e4ea;
  color: white;
  padding: 1em;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 2em;
  text-transform: uppercase;
}
.tag-follow-button:hover {
  background-image: linear-gradient(top, #33b1e6 0%, #3381a1 100%);
  background-image: -o-linear-gradient(top, #33b1e6 0%, #3381a1 100%);
  background-image: -moz-linear-gradient(top, #33b1e6 0%, #3381a1 100%);
  background-image: -webkit-linear-gradient(top, #33b1e6 0%, #3381a1 100%);
  background-image: -ms-linear-gradient(top, #33b1e6 0%, #3381a1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #33b1e6), color-stop(1, #3381a1));
  border: 4px solid #b4dbe3;
  text-decoration: none;
}

.tag-add-button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  display: block;
  background-color: #0aaece;
  box-shadow: inset 0 0 0 #0aaece;
  background-image: url(../../images/tags/icon-plus-white-big.png), url(../../images/base/background-white-dots.png);
  background-opacity: 1, 1, 0;
  background-repeat: no-repeat, repeat;
  background-position: 190px center, top left;
  padding: 10px;
  padding-right: 65px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin-bottom: 2em;
}
.tag-add-button:hover {
  text-decoration: none;
  background-color: #0999b6;
}
