/**
 * Colors
 */
/**
 *  Font sizes
 */
/**
 *  Mixins
 */
body {
  background-color: #f8f8f8;
}

#header-zone {
  background-color: #282828;
}

#subheader-zone {
  background-color: white;
}

#pictured-zone {
  background-color: black;
  height: 232px;
  border-bottom: 4px solid #0aaece;
}
#pictured-zone img {
  width: 100%;
  height: auto;
}
#pictured-zone .tag-header {
  position: relative;
  z-index: 0;
}
#pictured-zone .pano-spacer {
  height: 2em;
}
#pictured-zone .pano-header-block {
  margin-top: 4em;
}
#pictured-zone .pano-header {
  margin-bottom: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#pictured-zone .pano-header img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

#content-zone {
  clear: both;
  background-color: white;
}

#description-zone {
  background-image: linear-gradient(top, #282828 0%, #000000 100%);
  background-image: -o-linear-gradient(top, #282828 0%, black 100%);
  background-image: -moz-linear-gradient(top, #282828 0%, black 100%);
  background-image: -webkit-linear-gradient(top, #282828 0%, black 100%);
  background-image: -ms-linear-gradient(top, #282828 0%, black 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #282828), color-stop(1, black));
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0 4px 4px 0;
  float: left;
  margin-top: -10em;
  padding: 0;
  width: 55%;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 6em;
}
#description-zone .icon-tag-big {
  display: block;
  margin: 0;
  padding: 0;
  min-height: 5em;
  min-width: 5em;
  background-image: url(../../images/tags/icon-tag-white-big.png);
  background-repeat: no-repeat;
  background-position: 80px center;
}
#description-zone .tag-title {
  color: white;
  font-family: "OpenSansBold", Arial,Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  text-transform: uppercase;
}
#description-zone .tag-description {
  color: white;
  font-style: italic;
}
#description-zone .tag-description .button {
  margin-top: 1em;
  margin-left: 1em;
  float: right;
}

#tags-related p {
  font-weight: bold;
  color: white;
  background-color: #535353;
}
#tags-related ul {
  display: inline;
  list-style: none;
}
#tags-related ul li {
  display: inline;
  background-color: #c9c9c9;
}
#tags-related ul li a {
  color: #535353;
}

hr.shaded-separator {
  display: block;
  position: relative;
  border: 0;
  width: 100%;
  height: 10px;
  top: -7px;
  background-image: url(../../images/base/horizontal-separator.png);
  background-repeat: no-repeat;
  background-position: center center;
}
