body {
  background-color: #f8f8f8;
}

#header-zone {
  background-color: #282828;
}

#content-zone {
  background-color: white;
  border-top: 3px solid #0aaece;
}

#tag-description-zone {
  background-image: linear-gradient(top, #282828 0%, #000000 100%);
  background-image: -o-linear-gradient(top, #282828 0%, black 100%);
  background-image: -moz-linear-gradient(top, #282828 0%, black 100%);
  background-image: -webkit-linear-gradient(top, #282828 0%, black 100%);
  background-image: -ms-linear-gradient(top, #282828 0%, black 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #282828), color-stop(1, black));
  position: relative;
  top: -1em;
  height: 4em;
  background-color: black;
  border-radius: 3px;
  box-shadow: 0.15em 0.25em 0.25em rgba(0, 0, 0, 0.5);
}
#tag-description-zone .tag-icon {
  outline: 2px solid red;
  background-color: white;
}
#tag-description-zone .tag-title {
  color: white;
  font-family: "OpenSansBold", Arial,Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  text-transform: uppercase;
}
#tag-description-zone .tag-description {
  color: white;
  font-style: italic;
}
#tag-description-zone .tag-description .button {
  float: right;
  display: none;
}
#tag-description-zone .tag-description:hover .button {
  display: visible;
}

#tags-related p {
  font-weight: bold;
  color: white;
  background-color: #535353;
}
#tags-related ul {
  display: inline;
  list-style: none;
}
#tags-related ul li {
  display: inline;
  background-color: #c9c9c9;
}
#tags-related ul li a {
  color: #535353;
}
