/**
 *  Mixins
 */
/***
 * IMPORTANT : CONSTANTS NAMING SCHEME
 *
 * The naming scheme is simple, your constants name must follow this rule :
 * "<typename>[<Targetname>]<Attributename>"
 * 
 * - <typename> could be "color", "size", "font", etc.
 *
 * - <targetname> is optional and could be any targetable CSS objects or
 *   properties like "text", "border", etc. 
 *
 * - <attributename> is a meaningful description of your constant, like "Blue",
 *   "LightBlue", "Small", "Huge", etc.
 */
/**
 * Old Colors (obsolete, please use new color naming scheme instead)
 */
/**
 * New colors
 */
/**
 * text sizes
 */
/**
 * font piles
 */
body {
  background-color: #f8f8f8;
}

#header-zone {
  background-color: #282828;
}

#subheader-zone {
  background-color: white;
  position: relative;
}

#pictured-zone {
  background-color: black;
  height: 253px;
  border-bottom: 4px solid #04add1;
}
#pictured-zone .tag-header {
  position: relative;
}
#pictured-zone .tag-header a img {
  width: 100%;
  height: auto;
  border: none;
}
#pictured-zone .tag-header .credit {
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-size: 0.83em;
  font-style: italic;
  position: absolute;
  top: 145px;
  left: 10px;
  color: white;
}
#pictured-zone .project-list.wide-card {
  margin-top: 20px;
}

#content-zone {
  clear: both;
  background-color: white;
  margin-bottom: 2em;
}

#description-zone {
  background-image: linear-gradient(top, #282828 0%, #000000 100%);
  background-image: -o-linear-gradient(top, #282828 0%, black 100%);
  background-image: -moz-linear-gradient(top, #282828 0%, black 100%);
  background-image: -webkit-linear-gradient(top, #282828 0%, black 100%);
  background-image: -ms-linear-gradient(top, #282828 0%, black 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #282828), color-stop(1, black));
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0 4px 4px 0;
  position: absolute;
  top: 170px;
  left: 0px;
  padding: 0;
  width: 55%;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 90px;
}
#description-zone .icon-tag-big {
  display: block;
  margin: 0;
  padding: 0;
  min-height: 5em;
  min-width: 5em;
  background-image: url('../../images/tags/icon-tag-white-big.png?1346324407');
  background-repeat: no-repeat;
  background-position: 80px center;
}
#description-zone .tag-title {
  color: white;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-size: 2.33em;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
#description-zone .tag-description {
  color: white;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-style: italic;
}
#description-zone .tag-description .button {
  margin-top: 1em;
  margin-left: 1em;
  float: right;
}
#description-zone .readmore {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-image: linear-gradient(top, #282828 0%, #000000 100%);
  background-image: -o-linear-gradient(top, #282828 0%, black 100%);
  background-image: -moz-linear-gradient(top, #282828 0%, black 100%);
  background-image: -webkit-linear-gradient(top, #282828 0%, black 100%);
  background-image: -ms-linear-gradient(top, #282828 0%, black 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #282828), color-stop(1, black));
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 25px;
  right: -25px;
  display: block;
  width: 50px;
  height: 50px;
}
#description-zone .readmore:hover {
  right: -30px;
}
#description-zone .readmore a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('../../images/tags/icon-arrow-blue-big.png?1346324407');
  background-position: center center;
  background-repeat: no-repeat;
}

hr.shaded-separator {
  display: block;
  border: 0;
  width: 100%;
  height: 10px;
  background-image: url('../../images/base/horizontal-separator.png?1346324407');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.tag-follow-button {
  background-image: linear-gradient(top, #4abae9 0%, #3990b4 100%);
  background-image: -o-linear-gradient(top, #4abae9 0%, #3990b4 100%);
  background-image: -moz-linear-gradient(top, #4abae9 0%, #3990b4 100%);
  background-image: -webkit-linear-gradient(top, #4abae9 0%, #3990b4 100%);
  background-image: -ms-linear-gradient(top, #4abae9 0%, #3990b4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4abae9), color-stop(1, #3990b4));
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  display: block;
  border: 4px solid #c7e4ea;
  color: white;
  padding: 1em;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 2em;
  text-transform: uppercase;
}
.tag-follow-button:hover {
  background-image: linear-gradient(top, #33b1e6 0%, #3381a1 100%);
  background-image: -o-linear-gradient(top, #33b1e6 0%, #3381a1 100%);
  background-image: -moz-linear-gradient(top, #33b1e6 0%, #3381a1 100%);
  background-image: -webkit-linear-gradient(top, #33b1e6 0%, #3381a1 100%);
  background-image: -ms-linear-gradient(top, #33b1e6 0%, #3381a1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #33b1e6), color-stop(1, #3381a1));
  border: 4px solid #b4dbe3;
  text-decoration: none;
}

.tag-add-button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  display: block;
  background-color: #04add1;
  box-shadow: inset 0 0 0 #04add1;
  background-image: url('../../images/tags/icon-plus-white-big.png?1346324407'), url('../../images/base/background-white-dots.png?1346324407');
  background-opacity: 1, 1, 0;
  background-repeat: no-repeat, repeat;
  background-position: 190px center, top left;
  padding: 15px;
  padding-left: 10px;
  padding-right: 75px;
  font-size: 1.17em;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-stretch: condensed;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin-bottom: 2em;
}
.tag-add-button:hover {
  text-decoration: none;
  background-color: #0498b8;
}
