<script type='text/javascript' src='{{"/js/jquery.idTabs.min.js"|static_url}}'></script>
<script type='text/javascript' src='{{"/js/excanvas.min.js"|static_url}}'></script>

<script type='text/javascript' src='{{"/js/jquery.validate.min.js"|static_url}}'></script>
<script type='text/javascript' src='{{"/js/jquery.form.js"|static_url}}'></script>

<script type='text/javascript' src='{{"/js/tag_selector.js"|static_url}}'></script>
<script type="text/javascript" src='{{"/js/post.js"|static_url}}'></script>

<script type="text/javascript">
    var askbot = askbot || {};
    askbot['urls'] = askbot['urls'] || {};
    askbot['data'] = askbot['data'] || {};
    
    {% if not request.user.is_anonymous()%} 
    var viewUserID = {{request.user.id}};
    askbot['data']['viewUserName'] = '{{ request.user.username|escape }}';
    askbot['data']['viewUserId'] = {{request.user.id}};
    {%endif%}
    
    askbot['urls']['manageInbox'] = '{% url manage_inbox %}';
    askbot['urls']['save_post_reject_reason'] = '{% url save_post_reject_reason %}';
    askbot['urls']['delete_post_reject_reason'] = '{% url delete_post_reject_reason %}';
    askbot['urls']['edit_group_membership'] = '{% url edit_group_membership %}';
    askbot['urls']['get_groups_list'] = '{% url get_groups_list %}';
    askbot['urls']['join_or_leave_group'] = '{% url join_or_leave_group %}';
    askbot['urls']['questions'] = '{% url "questions" %}';
    
    $(document).ready(function(){
        
        $("div.tabBar.tabBar-profile div.tabsC").idTabs();

        $.each($('.group-join-btn'), function(idx, elem){
            var group_join_btn = new GroupJoinButton();
            group_join_btn.decorate($(elem));
        });
        
        $("#id_user_status_info").hide();
        $("#id_user_status").change(function () {
            var optionValue = $(this).attr('value');
            if (optionValue == "d") {
                $('#id_user_status_info').html("{% trans %}Administrators have privileges of normal users, but in addition they can assign/revoke any status to any user, and are exempt from the reputation limits.{% endtrans %}");
                $('#id_user_status_info').show('slow');
            } else if (optionValue == "m"){
                $('#id_user_status_info').html("{% trans %}Moderators have the same privileges as administrators, but cannot add or remove user status of 'moderator' or 'administrator'.{% endtrans %}");
                $('#id_user_status_info').show('slow');
            } else if (optionValue == "a"){
                $('#id_user_status_info').html("{% trans %}'Approved' status means the same as regular user.{% endtrans %}");
                $('#id_user_status_info').show('slow');
            } else if (optionValue == "s"){
                $('#id_user_status_info').html("{% trans %}Suspended users can only edit or delete their own posts.{% endtrans %}");
                $('#id_user_status_info').show('slow');
            } else if (optionValue == "b"){
                $('#id_user_status_info').html("{% trans %}Blocked users can only login and send feedback to the site administrators, their url and profile will also be hidden.{% endtrans %}");
                $('#id_user_status_info').show('slow');
            } else {
                $('#id_user_status_info').hide('slow');
            }
        });
        
    });
</script>

<script type="text/javascript" src='{{"/js/user.js"|static_url}}'></script>
<script type="text/javascript" >
<!-- must stay after the previous initialization ... -->
$(document).ready(function(){
    setup_inbox();
    setup_badge_details_toggle();
});
</script>

