{% extends "base.html" %}

{% load compress %}
{% load wiki_tags %}
{% load i18n %}

{% block style %}
{% compress css %}

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/project_square_card.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/project_wide_flat.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_sheet/block/person_wide_flat.css" />

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/tags/block/tag_list.css" />

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/pages/tag_view.css" />
{% endcompress %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div id="subheader-zone" class="clearfix">
    <div id="pictured-zone">
	<div class="container_18">
	    <a href="{{ picture_project_translations.0.get_absolute_url }}" class="prefix_1 grid_12 alpha tag-header">
		<img src="{{ picture_project_translations.0.project.pictures.all.0.tag_header.url }}"/>
		<p class="credit">
		    {% blocktrans %}Picture of project FIXME-BAD-TRANSLATION: {{ picture_project_translations.0.title }}.{% endblocktrans %}
		</p>
	    </a>

	    <div class="grid_5 omega pano-header-block">
		
		<a href="{{ picture_project_translations.1.get_absolute_url }}" class="grid_5 alpha omega pano-header">
		    <img src="{{ picture_project_translations.1.project.pictures.all.0.small_pano_header.url }}"/>
		    <div class="project-information">
			<p class="title">{{ picture_project_translations.1.title }}</p>
			<p class="description">{{ picture_project_translations.1.baseline }}</p>
		    </div>
		</a>

		<a href="{{ picture_project_translations.2.get_absolute_url }}" class="grid_5 alpha omega pano-header">
		    <img src="{{ picture_project_translations.2.project.pictures.all.0.small_pano_header.url }}"/>
		    <div class="project-information">
			<p class="title">{{ picture_project_translations.2.title }}</p>
			<p class="description">{{ picture_project_translations.2.baseline }}</p>
		    </div>
		</a>

		<a href="{{ picture_project_translations.3.get_absolute_url }}" class="grid_5 alpha omega pano-header">
		    <img src="{{ picture_project_translations.3.project.pictures.all.0.small_pano_header.url }}"/>
		    <div class="project-information">
			<p class="title">{{ picture_project_translations.3.title }}</p>
			<p class="description">{{ picture_project_translations.3.baseline }}</p>
		    </div>
		</a>
		<br/>
	    </div>
	</div>
    </div>

    <div id="description-zone" >
	<div class="container_18">
	    <div class="grid_3 alpha icon-tag-big"></div>
	    <div class="grid_8 omega tag-description-column">
		<h1 class="grid_8 alpha omega tag-title">{{ tag }}</h1>

		<p class="grid_8 alpha omega tag-description">
		    {% wiki_render article %} 
		    FIXME : exemple text to remove when wiki will be available again...
		    <a href="{% url tags:wiki-edit tag %}" class="button"><img src="/static/images/base/edit.png" alt="edit" /></a>
		</p>

	    </div>
	</div>
	<!-- FIXME: (design) missing right arrow for tag description. Is it the wiki-edit button ?-->
	<div class="readmore"><a href="#FIXME-BAD-URL"></a></div>
    </div>
</div> <!-- #subheader-zone -->

<div id="content-zone">
    <div class="container_18"> <!-- .container_18 -->

	<div class="grid_12 alpha" >

	    <div id="tags-related">
		{% include "tags/block/tag_list.html" with taglist_title="Related tags" taglist_tags=related_tags %}
	    </div>

	    <div class="project-list square-card clearfix">
		<h2>Mature projects</h2>
		<a href="#FIXME-BAD-URL" class="seemore">See more</a>
		{% for project_translation in mature_project_translations %}
		    {% include "project_sheet/block/project_square_card.html" %}
		{% empty %}
		{% trans "No projects" %}
		{% endfor %}
	    </div> <!-- .project-list -->

	    <hr class="shaded-separator" />


	    <div class="project-list square-card clearfix">
		<h2>Starting projects</h2>
		<a href="#FIXME-BAD-URL" class="seemore">See more</a>
		{% for project_translation in starting_project_translations %}
		    {% include "project_sheet/block/project_square_card.html" %}
		{% empty %}
		{% trans "No projects" %}
		{% endfor %}
	    </div>

	    <hr class="shaded-separator" />

	    <div class="project-list square-card clearfix">
		<h2>New project sheets</h2>
		<a href="#FIXME-BAD-URL" class="seemore">See more</a>
		{% for project_translation in new_project_translations %}
		    {% include "project_sheet/block/project_square_card.html" %}
		{% empty %}
		{% trans "No projects" %}
		{% endfor %}
	    </div>


	    <hr class="shaded-separator" />

	    <div class="project-list square-card clearfix">
		<h2>Latest modifications</h2>
		<a href="#FIXME-BAD-URL" class="seemore">See more</a>
		{% for project_translation in modified_project_translations %}
		    {% include "project_sheet/block/project_square_card.html" %}
		{% empty %}
		{% trans "No projects" %}
		{% endfor %}
	    </div>

	</div> <!-- .grid_12 -->

	<div class="prefix_1 grid_5 omega" >
	    <a class="tag-follow-button" href="#FIXME-BAD-URL">
		{% trans "Follow this topic" %}
	    </a>

	    <div class="people-list wide-flat">
		<h2>{% trans "People" %} </h2>
		<!-- FIXME: must show people count in "more" -->
		<a href="#FIXME-BAD-URL" class="seemore">{% trans "See more" %}</a>
		<ul>
		    {% for p in people %}
		    <li class="clearfix">
			{% include "project_sheet/block/person_wide_flat.html" with person=p %}
		    </li>
		    {% endfor %}
		</ul>
	    </div>

	    <!-- FIXME : hardcoded missing information about new project sheets -->
	    <!-- FIXME : include "project_sheet/block/project_wide_flat.html" (with project=p)... -->
	    <div class="project-list wide-flat">
		<h2>{% trans "New project sheets" %} </h2>
		<!-- FIXME: must show people count in "more" -->
		<a href="#FIXME-BAD-URL" class="seemore">{% trans "See more" %}</a>
		<ul>
		    <li class="project wide-flat">
			<p class="title">The Docks Numériques</p>
			<p class="description">Dijon’s first coworking space</p>
		    </li>

		    <li class="project wide-flat">
			<p class="title">Reconnect</p>
			<p class="description">Landlines for socially excluded persons</p>
		    </li>

		    <li class="project wide-flat">
			<p class="title">CoEthik</p>
			<p class="description">Ethical and collective advice for Social Solidarity Economy organizations</p>
		    </li>
		</ul>
	    </div>

	    <a class="tag-add-button" href="#FIXME-BAD-URL">
		{% trans "Add a project in this category" %}
	    </a>

	</div> <!-- .grid_6 -->

    </div> <!-- .container_18 -->
</div> <!-- #content-zone -->
{% endblock %}
