{% extends "base.html" %}

{% load compress %}
{% load wiki_tags %}
{% load i18n %}

{% block style %}
{% compress css %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/white_page.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_card.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/tag_page.css" />
{% endcompress %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div id="content-zone">
    <div class="container_18">
	<div id="tag-description-zone" class="grid_12 alpha omega" >

	    <!-- FIXME: add icon -->
	    <div class="tag-icon grid_3">FIXME: missing icon</div>
	    <h1 class="grid_8 tag-title">{{ tag }}</h1>

	    <p class="prefix_3 grid_8 tag-description">
		{% wiki_render article %} 
		FIXME: blabla
		<a href="{% url tags:wiki-edit tag %}" class="button"><img src="/static/images/base/edit.png" alt="edit" /></a>
	    </p>

	</div>

	<div class="clear"></div>

	<h2>Pictured</h2>
	<a href="{{ picture_project_translations.0.get_absolute_url }}"><img src="{{ picture_project_translations.0.project.pictures.all.0.tag_header.url }}"/></a>

	<a href="{{ picture_project_translations.1.get_absolute_url }}"><img src="{{ picture_project_translations.1.project.pictures.all.0.small_pano_header.url }}"/></a>

	<a href="{{ picture_project_translations.2.get_absolute_url }}"><img src="{{ picture_project_translations.2.project.pictures.all.0.small_pano_header.url }}"/></a>

	<a href="{{ picture_project_translations.3.get_absolute_url }}"><img src="{{ picture_project_translations.3.project.pictures.all.0.small_pano_header.url }}"/></a>
	<br/>
	[<a href="#">See more</a>]

	<div class="clear"></div>

	<br/>

	<div id="#tags-related">
	    <p>Related tags</p>
	    <ul>
		{% for tag in related_tags %}
		<li><a href="{% url tags:tag-view tag %}">{{ tag.name }}</a>({{ tag.count }})</li>
		{% endfor %}
	    </ul>
	</div>

	<hr>

	<h2>Mature projects</h2>

	{% for project_translation in mature_project_translations %}
	{% include "project_sheet/project_id_card.html" %}
	{% empty %}
	{% trans "No projects" %}
	{% endfor %}

	<br/>
	[<a href="#">See more</a>]

	<div class="clear"></div>

	<h2>Starting projects</h2>
	{% for project_translation in starting_project_translations %}
	{% include "project_sheet/project_id_card.html" %}
	{% endfor %}
	<br/>
	[<a href="#">See more</a>]

	<div class="clear"></div>

	<h2>New project sheets</h2>
	{% for project_translation in new_project_translations %}
	{% include "project_sheet/project_id_card.html" %}
	{% endfor %}
	<br/>
	[<a href="#">See more</a>]

	<div class="clear"></div>

	<h2>Latest modifications</h2>
	{% for project_translation in modified_project_translations %}
	{% include "project_sheet/project_id_card.html" %}
	{% endfor %}
	<br/>
	[<a href="#">See more</a>]

	<div class="clear"></div>


	<h2>People</h2>
	<ul>
	    {% for p in people %}
	    <li><img src="{{ p.user.get_profile.get_mugshot_url }}" width="40px"/> <a href="{{ p.user.get_profile.get_absolute_url }}">{{ p.user.get_profile.get_full_name_or_username }}</a> - <a href="{{ p.project.get_absolute_url }}">{{ p.project }}</a><br/></li>
	    {% endfor %}
	</ul>
	<br/>


    </div>
</div>
{% endblock %}
