{% extends "base.html" %}
{% load wiki_tags i18n %}
{% load url from future %}

{% block pagetitle %}{% trans "Edit" %}: {{ article.current_revision.title }}{% endblock %}

{% block content %}

<div class="container_18" style="height: 1500px">

<form method="POST" class="form-horizontal">
  {% include "wiki/includes/editor.html" %}
  <div class="form-actions">
        <span class="icon-eye-open"></span>
      <button type="submit" name="cancel" value="0" class="btn btn-large btn-primary" onclick="this.form.target=''; window.location='{% url 'tags:tag-view' tag_instance %}'">
	{% trans "Cancel edit" %}
      </button>
      <button type="submit" name="save" value="1" class="btn btn-large btn-primary" onclick="this.form.target=''; this.form.action='{% url 'tags:wiki-edit' tag_instance %}'">
        <span class="icon-ok"></span>
        {% trans "Save changes" %}
      </button>
      
  </div>
     
</form>

</div>

{% endblock %}

