{% extends "userena/profile_detail.html" %}
{% load i18n %}
{% load compress %}

{% block title %}{% trans "Change email" %} | Imagination for People{% endblock %}
{% block style %}
  {% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/black_page.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/profile.css" />
    {% endcompress %}
{% endblock %}

{% block nav %}
    {% include "nav.html" %}
{% endblock %}


{% block content %}
<div class="content">        
    <div class="container_18">
        <div class="grid_18 alpha omega">

            <div id="profile" class="profile_edition">


                {% include "userena/profile_idbar.html" %}
                
                <div class="separator">
                    <h2>
                        {% trans 'Change Password' %}
                    </h2>
                </div>
                
                <form action="" method="post" id="email_change_form">
                    {{ profile.email }}  
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="button" value="{% trans "Change email" %}" />
                </form>
             
            </div>
            
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}
