{% extends "userena/profile_detail.html" %}
{% load i18n %}
{% load compress %}

{% block title %}{% trans "Change email" %} | Imagination for People{% endblock %}


{% block content %}
<div class="content">        
    <div class="container_18">
        <div class="grid_18 alpha omega">

            <div id="profile" class="profile_edition">


                {% include "userena/profile_idbar.html" %}
                
                <div class="separator">
                    <h2>
                        {% trans 'Change email' %}
                    </h2>
                </div>
                
                <form action="" method="post" id="email_change_form">
                    {{ user.email }}  
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="button" value="{% trans "Change email" %}" />
                </form>
             
            </div>
            
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}
