{% extends "userena/profile_base.html" %}
{% load i18n %}

{% block title %}{% trans "Email verification" %} | Imagination for People{% endblock %}

{% block content_title %}<h2>{% trans 'Confirm your new email' %}</h2>{% endblock %}

{% block profile_type %}
    <div id="profile" class="profile_edition">
{% endblock %}


{% block profile_content %}
                
    <div class="separator">
        <h2>
            {% trans 'Confirm your new email' %}
        </h2>
    </div>

    <p>{% blocktrans with account.email_unconfirmed as email %}You have received an email at {{ email }}.{% endblocktrans %}</p>
    <p>{% blocktrans with account.username as username %}To associate this email address with your account ({{ username }}) click on the link provided in this email.{% endblocktrans %}</p>
    <br />
    <a href="{% url userena_profile_detail request.user.username %}" class="link">{% trans "Back to my profile" %} &gt;</a>

 {% endblock %}