{% extends "userena/profile_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change email" %} | Imagination for People{% endblock %}


{% block profile_content %}
                
    <div class="separator">
        <h2>
            {% trans 'Change email' %}
        </h2>
    </div>
    <br />
    <p>{% trans 'Your current email address is the following:' %} <em>{{ user.email }}</em></p><br />
    <form action="" method="post" id="email_change_form"  class="profile_edition">
      
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="button" value="{% trans 'Change email' %}" />
    </form>
             
{% endblock %}
