{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Change password" %} | Imagination for People{% endblock %}

{% block style %}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/black_page.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/profile.css" />
{% endblock %}


{% block content %}
<div class="content">        
    <div class="container_18">
        <div class="grid_18 alpha omega">

            <div id="profile" class="profile_edition">


                {% include "userena/profile_idbar.html" %}
                
                 <div class="separator">
                        <h2>
                            {% trans 'Change Password' %}
                        </h2>
                    </div>
                
                <form action="" method="post" id="password_change_form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="button" type="submit" value="{% trans "Change password" %}" />
                </form>

             
            </div>
            
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}
