{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load compress %}

{% block title %}{% trans "Password reset" %} | Imagination for People{% endblock %}
{% block content_title %}<h2>{% trans "Your password has been reset" %}</h2>{% endblock %}

{% block style %}
  {% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/black_page.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/profile.css" />
    {% endcompress %}
{% endblock %}


{% block content %}
<div class="content">        
    <div class="container_18">
        <div class="grid_18 alpha omega">

            <div id="profile" class="profile_edition">
                
                <div class="separator">
                    <h2>
                        {% trans 'Your password has been reset' %}
                    </h2>
                </div>
                
                {% trans "You can now " %}<a href="{% url userena_signin %}">{% trans "signin" %}</a> {% trans "with your new password." %}
                <br />
             
            </div>
            
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}
