{% extends "userena/user_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %} | Imagination for People{% endblock %}


{% block content %}
<div class="content">        
    <div class="container_18">
        <div class="grid_18 alpha omega">

            <div id="profile" class="profile_edition reset_password">
                
                <div class="separator">
                    <h2>
                        {% trans 'Reset Password' %}
                    </h2>
                </div>
                
                <form action="" method="post">
                    {% csrf_token %}
                       <br />
                    {{ form.as_p }}
                       <br />
                    <input type="submit" class="button" value="{% trans "Send password" %}" />
                       <br />
                </form>

             
            </div>
            
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}

