{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load compress %}

{% block title %}{% trans "Password changed" %} | Imagination for People{% endblock %}
{% block content_title %}<h2>{% trans "Your password has been changed" %}.</h2>{% endblock %}

{% block style %}
  {% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/black_page.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/profile.css" />
    {% endcompress %}
{% endblock %}


{% block content %}
<div class="content">        
    <div class="container_18">
        <div class="grid_18 alpha omega">

            <div id="profile" class="profile_edition">
                
                {% include "userena/profile_idbar.html" %}
                
                <div class="separator">
                    <h2>
                        {% trans 'Your password has been changed' %}
                    </h2>
                </div>

                <p>{% trans "From now on you can use your new password to signin" %}.</p>
                <br />
                <a href="{% url userena_profile_detail request.user.username %}" class="link">{% trans "Back to my profile" %} &gt;</a>

             
            </div>
            
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}
