{% extends "userena/user_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %} | Imagination for People{% endblock %}


{% block content %}
<div class="content">        
    <div class="container">
        <div id="profile">
            <div class="separator">
                <h2>
                    {% trans 'Reset Password' %}
                </h2>
            </div>
        
            <form action="" method="post"  class="profile_edition">
                <legend>{% trans "Reset Password" %}</legend>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% trans "Reset password" %}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}

