{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load compress %}

{% block title %}{% trans "Reset password" %} | Imagination for People{% endblock %}

{% block style %}
  {% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/black_page.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/profile.css" />
    {% endcompress %}
{% endblock %}


{% block content %}
<div class="content">        
    <div class="container_18">
        <div class="grid_18 alpha omega">

            <div id="profile" class="profile_edition">
                
                {% include "userena/profile_idbar.html" %}
                
                <div class="separator">
                    <h2>
                        {% trans 'Reset Password' %}
                    </h2>
                </div>
                
                <form action="" method="post">
                    <legend>{% trans "Reset Password" %}</legend>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="button" value="{% trans "Send password" %}" />
                </form>

             
            </div>
            
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}

