{% extends "userena/profile_detail.html" %}
{% load i18n %}
{% load compress %}

{% block title %}{% trans "Change password" %} | Imagination for People{% endblock %}

{% block content %}
<div class="content">        
    <div class="container_18">
        <div class="grid_18 alpha omega">

            <div id="profile">


                {% include "userena/profile_idbar.html" %}
                
                 <div class="separator">
                        <h2>
                            {% trans 'Change Password' %}
                        </h2>
                    </div>
                
                <form action="" method="post" id="password_change_form" class="profile_edition">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="button" type="submit" value="{% trans "Change password" %}" />
                </form>

             
            </div>
            
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}
