{% extends "userena/profile_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %} | Imagination for People{% endblock %}

{% block profile_content %}

    <div class="separator">
        <h2>
            {% trans 'Change Password' %}
        </h2>
    </div>
    
    <form action="" method="post" id="password_change_form" class="profile_edition">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button" type="submit" value="{% trans 'Change password' %}" />
    </form>

 {% endblock %}
