{% load i18n %}

    <div id="profile_action">
        {% block profile_button_panel %}
            {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
            {% if user.username == profile.user.username %}
                <ul>
                    <li><a class="button nomargin"  href="{% url userena_profile_edit user.username %}" title="{% trans 'Edit details'|capfirst %}"><img src="{{ MEDIA_URL }}/images/base/edit.png" alt="" />{% trans "details" %}</a></li>
                    <li><a class="button nomargin"  href="{% url userena_password_change user.username %}" title="{% trans 'Edit password'|capfirst %}"><img src="{{ MEDIA_URL }}/images/base/edit.png" alt="" />{% trans "password" %}</a></li>
                    <li><a class="button nomargin"  href="{% url userena_email_change user.username %}" title="{% trans 'Edit email'|capfirst %}"><img src="{{ MEDIA_URL }}/images/base/edit.png" alt="" />{% trans "email" %}</a></li>
                </ul>
            {% endif %}
        {% endblock %}
    </div>            

    <div id="avatar">
        <div id="social_buttons">
            {% if profile.linkedin %}
                <a  href="#" title="Linkedin"><img src="{{ MEDIA_URL }}/images/profile/linkedin.png" alt="Linkedin" /></a> 
            {% endif %}  
            {% if profile.twitter %}            
                <a  href="#" title="Twitter"><img src="{{ MEDIA_URL }}/images/profile/twitter.png" alt="Twitter" /></a>  
            {% endif %} 
            {% if profile.facebook %}
                <a  href="#" title="Facebook"><img src="{{ MEDIA_URL }}/images/profile/facebook.png" alt="Facebook" /></a> 
            {% endif %} 
        </div>                    
        <img src="{{ profile.get_mugshot_url }}" alt="{% trans 'Your avatar' %}" /> 
    </div>
               
    <div id="profile_bar"> 
        <h1>
            {% if profile.user.get_full_name %}
                {{ profile.user.get_full_name }}
            {% else %}
                {% trans 'Anonymous' %}
            {% endif %}
        </h1>
        
        <div id="profile_bar_middle">
            {% if profile.motto %}
            <p class="motto">"{{ profile.motto }}"</p>
            {% endif %}
            
            <p class="infos">
            {% if profile.age %}
            {{ profile.age }}
            {% endif %}                        
            {% if profile.country %}
            - {{ profile.country }}
            {% endif %}
            
            </p>
        </div>
        
        {% if profile.website %}
        <p class="site"><a class="link" href="{{ profile.website }}">{{ profile.website }}</a></p>
        {% endif %}
        
    </div>