{% extends "base_obsolete.html" %}
{% load i18n %}
{% load compress %}

{% block style %}
  {% compress css %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/black_page.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/profile.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_card.css" />
  {% endcompress %}
{% endblock %}

{% block content %}
    <div class="content"> 
        <div class="container_18">

        {% block profile_type %}
            <div id="profile">
        {% endblock %}

            {% include "userena/profile_idbar.html" %}
            {% block profile_content %}{% endblock %}


            </div>

        <div class="clear"></div>
        </div>
    </div>
{% endblock %}
