{% extends "base.html" %}
{% load i18n %}
{% load compress %}
{% load sekizai_tags %}

{% comment %}For some reason sekizai just refuses to work here{% endcomment %}
{% block style %}
  {% compress css %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/black_page.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/member/userena/profile.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/member/userena/profile_detail.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/workgroup/block/grouplist_fancy_wide.css" />
  {% endcompress %}
{% endblock %}

{% block subheader %}
    <div class="subheader"></div>
{% endblock %}

{% block content %}
    <div class="content"> 
        <div class="container">
            {% block profile_type %}<div id="profile">{% endblock %}
                {% include "userena/profile_idbar.html" %}
                {% block profile_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
