{% extends "base.html" %}
{% load i18n %}

{% block meta_desc %}{% endblock %}
{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile{% endblocktrans %} | Imagination for People{% endblock %}


{% block style %}
  <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/black_page.css" />
  <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/profile.css" />
  <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/project_card.css" />


{% endblock %}


{% block nav %}
    {% include "nav.html" %}
{% endblock %}


{% block content %}
<div class="content">        
    <div class="container_18">
        <div class="grid_18 alpha omega">

            <div id="profile">


                {% include "userena/profile_idbar.html" %}
                
                <div id="profile_about">
                    {% if profile.about %}
                    <p>{{ profile.about|linebreaksbr }}</p>
                    {% else %}
                    <p>{% trans '<i>This member has no description...</i>' %}</p>
                    {% endif %}                    
                </div>
               
		<div id="profile_projects">                
		  <div class="separator">
                    <h2>
		      {% if user.username == profile.user.username %}
                        {% trans 'My projects' %}
                      {% else %}
                        {% trans 'Her/His projects' %}
                      {% endif %}
                    </h2>
		  </div>
		  
		  {% for project_translation in project_translation_list %}	  
                    <div class="colonne grid_6">
		      {% include "project_sheet/project_complete_card.html" %}			
                    </div>
                  {% endfor %}
                
                </div>
                
        {% if user.username == profile.user.username %}
        <div id="profile_projects">                
        <div class="separator">
            <h2>
                  {% trans 'My contributions' %}
           </h2>
        </div>
        
        {% for project_translation in project_contrib_list %}   
                <div class="colonne grid_6">
                    {% include "project_sheet/project_complete_card.html" %}          
                </div>
        {% endfor %}
            
        </div>
        {% endif %}
               
            </div>
            
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}