{% load i18n %}

    <div id="avatar">
        <div id="social_buttons">
            {% if profile.linkedin %}
                <a  href="{{ profile.linkedin }}" title="Linkedin"><img src="{{ STATIC_URL }}images/profile/linkedin.png" alt="Linkedin" /></a> 
            {% endif %}  
            {% if profile.twitter %}            
                <a  href="{{ profile.twitter }}" title="Twitter"><img src="{{ STATIC_URL }}images/profile/twitter.png" alt="Twitter" /></a>  
            {% endif %} 
            {% if profile.facebook %}
                <a  href="{{ profile.facebook }}" title="Facebook"><img src="{{ STATIC_URL }}images/profile/facebook.png" alt="Facebook" /></a> 
            {% endif %} 
        </div>
	{% if profile %}
          <img src="{{ profile.get_mugshot_url }}" alt="{% trans 'Your avatar' %}" /> 
	{% else %}
          <img src="{{ user.profile.get_mugshot_url }}" alt="{% trans 'Your avatar' %}" /> 
	{% endif %}
    </div>
               
    <div id="profile_bar"> 
        <h1>
            {% if profile %}
	      {% if profile.user.get_full_name %}
                {{ profile.user.get_full_name }}
	      {% else %}
	        {% trans "Anonymous" %}
	      {% endif %}
            {% else %}
	      {% if user.get_full_name %}
                {{ user.get_full_name }}
	      {% else %}
	        {% trans "Anonymous" %}
	      {% endif %}
            {% endif %}
        </h1>
        
        <div id="profile_bar_middle">
	  {% if profile %}
            {% if profile.motto %}
            <p class="motto">"{{ profile.motto }}"</p>
            {% endif %}
            
            <p class="infos">
            {% if profile.age %}
            {{ profile.age }}
            - 
            {% endif %} 
                                   
            {% if profile.country %}
            {{ profile.get_country_display }}
            {% endif %}
            </p>
	  {% else %}
            {% if user.profile.motto %}
            <p class="motto">"{{ user.profile.motto }}"</p>
            {% endif %}
            
            <p class="infos">
            {% if user.profile.age %}
            {{ user.profile.age }}
            - 
            {% endif %}           
             
            {% if user.profile.country %}
            {{ user.profile.get_country_display }}
            {% endif %}
            </p>
	  {% endif %}
        </div>
        
        {% if user.profile.website %}
        <p class="site"><a class="link" href="{{ profile.website }}">{{ profile.website }}</a></p>
        {% endif %}
        
    </div>