{% extends "userena/profile_base.html" %}
{% load i18n %}

{% block meta_desc %}{% endblock %}
{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}{% endblocktrans %} | Imagination for People{% endblock %}

{% block profile_content %}
    <div id="profile_about">
        {% if profile.about %}
            <p>{{ profile.about|linebreaksbr }}</p>
        {% else %}
            <p>{% trans '<i>This member has no description...</i>' %}</p>
        {% endif %}
    </div>
    
    <div class="profile_projects">
        <div class="separator">
            <h2>
                {% if user.username == profile.user.username %}
                    {% trans 'My projects' %}
                {% else %}
                    {% trans 'Her/His projects' %}
                {% endif %}
            </h2>
        </div>
      
        {% for project in project_member_list %}      
            {% include "project_sheet/block/card_fancy_square.html" %}            
        {% empty %}
            {% trans "This user does not have any project yet." %}
        {% endfor %}
    </div>

    <div class="clear"></div>
    
    <div class="profile_projects">
        <div class="separator">
            <h2>
                {% if user.username == profile.user.username %}
                    {% trans 'My contributions' %}
                {% else %}
                    {% trans 'Her/His contributions' %}
                {% endif %}
            </h2>
        </div>
        
        {% for project in project_contrib_list %}   
            {% include "project_sheet/block/card_fancy_square.html" %}          
        {% empty %}
            {% trans "No contributions yet." %}
        {% endfor %}
    </div>
    <div class="clear"></div>
    <div class="profile_projects">
        <div class="separator">
            <h2>
                {% with num_fans=project_fan_list|length %}
                {% if user.username == profile.user.username %}
                    {% blocktrans count num_fans=num_fans %}
                        I am a fan of the following project
                    {% plural %}
                        I am a fan of the following {{num_fans}} projects
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans count num_fans=num_fans %}
                        He/She is a fan of the following project
                    {% plural %}
                        He/She is a fan of the following {{num_fans}} projects
                    {% endblocktrans %}
                {% endif %}
                {% endwith %}
            </h2>
        </div>
      
        {% for project in project_fan_list %}
            <div class="fan_container">
            {% include "project_sheet/block/card_fancy_square.html" %}
            {% if user.username == profile.user.username %}
                {% language project.language_code %}
                    {% url project_sheet-instance-del-fan project.slug request.user as unfan_url %}
                {% endlanguage %}
                <p class="unfan_link">
                {% blocktrans %}
                    I am <a href="{{unfan_url}}"> no longer a fan</a>.
                {% endblocktrans %}
                </p>
            {% endif %}
            </div>
        {% empty %}
            {% trans "This user isn't fan of any project yet." %}
        {% endfor %}
    </div>
    <!-- Workgroups -->
    <div class="profile_projects">
        <div class="separator">
            <h2>
                {% with num_groups=workgroup_member_list|length %}
                {% if user.username == profile.user.username %}
                    I am
                {% else %}
                    He/She is
                {% endif %}
                    {% blocktrans count num_groups=num_groups %}
                        a member of the following group
                    {% plural %}
                        a member of the following {{num_groups}} groups
                    {% endblocktrans %}
                {% endwith %}
            </h2>
        </div>   
           
        
            <div class="group_container project_workgroups">                
                <ul>
                    {% for group in workgroup_member_list %}
                    <li style="width:150px;display: inline-block;">
                        <a href="{% url workgroup-discussion group.slug %}">
                            <div>
                                <span>{{ group.name }}</span>
                                <p>
                                    {{ group.description|urlize }}
                                </p>
                            </div>
                        </a>
                    </li>
                    {% empty %}
                        {% trans "This user isn't a member of any group yet." %}
                    {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
