{% extends "userena/profile_base.html" %}
{% load i18n %}
{% load compress %}


{% block meta_desc %}{% endblock %}
{% block title %}{% trans "Account setup" %} | Imagination for People{% endblock %}

{% block extra_head %}
    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.idTabs.min.js"></script>
    {% endcompress %}
    
    
    <script type="text/javascript">
    $(document).ready(function() {
        $('#profile_edit .menu ul').idTabs("about_me");
    });
  </script>
{% endblock %}


{% block profile_content %}

    {% with form as profile_form %}
        {% include "userena/forms.html" %}   
    {% endwith %}    
    
               
{% endblock %}