{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load compress %}

{% block title %}{% trans "Signin" %} | Imagination for People{% endblock %}

{% block style %}
  {% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/black_page.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/profile.css" />
    {% endcompress %}
{% endblock %}


{% block content %}
<div class="content">        
    <div class="container_18">
        <div class="grid_18 alpha omega">

            <div id="profile">
                
                
                <div class="separator">
                    <h2>
                        {% trans 'Sign in' %}
                    </h2>
                </div>
            
                <form action="" method="post" id="signin_form"  class="profile_edition">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{% url project_sheet-list %}" />
                        {{ form.non_field_errors }}
                        {% for field in form %}
                        {{ field.errors }}
                        {% comment %} Displaying checkboxes differently {% endcomment %}
                        {% if field.name == 'remember_me' %}
                        <p class="checkbox">
                            <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
                        </p>
                        {% else %}
                        <p>
                            {{ field.label_tag }} 
                            {{ field }}
                        </p>
                        {% endif %}
                        {% endfor %}
                    <div class="clear"></div>
                    <input type="submit" class="button" value="{% trans "Sign in" %}" />
                    <div class="clear"></div>
                    <br /><br /><br />
                    {% comment %}<p class="forgot-password"><a class="link" href="{% url userena_password_reset %}" title="Forgot your password?">Forgot your password?</a></p>{% endcomment %}
                </form>                

             
            </div>
            
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}














