{% load i18n %}	
<div class="social-panel">
    <ul>
        <li class="social-login"> <a href="{% url socialauth_begin 'facebook' %}"><img src="{{ STATIC_URL }}images/base/social-fb.png" alt="Facebook" width="32" height="32" class="tipsed on" title="{% trans 'Connect with' %} <strong>Facebook</strong>"  /></a> </li>
        <li class="social-login"> <a href="{% url socialauth_begin 'google-oauth2' %}"><img src="{{ STATIC_URL }}images/base/social-google.png" alt="Google +" width="32" height="32" class="tipsed on" title="{% trans 'Connect with' %} <strong>Google</strong>" /></a> </li>
        <li class="social-login"> <a href="{% url socialauth_begin 'twitter' %}"><img src="{{ STATIC_URL }}images/base/social-twitter.png" alt="Twitter" width="32" height="32" class="tipsed on" title="{% trans 'Connect with' %} <strong>Twitter</strong>" /></a> </li>
        <li class="social-login"> <a href="{% url socialauth_begin 'linkedin' %}"><img src="{{ STATIC_URL }}images/base/social-ln.png" alt="LinkedIn" width="32" height="32" class="tipsed on" title="{% trans 'Connect with' %} <strong>Linkedin</strong>" /></a> </li>
        <li class="social-login"> <a href="javascript:;" class="openid-button"><img src="{{ STATIC_URL }}images/base/social-openid.png" alt="OpenID" width="32" height="32" class="tipsed on" title="{% trans 'Connect with' %} <strong>OpenID</strong>" /></a> </li>
    </ul>
    
    <div class="clear"></div>
    
    <form action="{% url socialauth_begin 'openid' %}" method="POST" class="openid-form hidden">
        <label for="openid_identifier">OpenID:</label>
        {% csrf_token %}
        <input type="text" name="openid_identifier" id="openid_identifier" />
        <button>Login</button>
    </form> 
</div>