
<div class="social-panel">
    <p class="social-login"> <a href="{% url socialauth_begin 'facebook' %}?next={{ request.path }}"><img src="{{ STATIC_URL }}images/picto-fb.jpg" alt="Facebook" width="113" height="26" /></a> </p>
    <p class="social-login"> <a href="{% url socialauth_begin 'google-oauth2' %}?next={{ request.path }}"><img src="{{ STATIC_URL }}images/picto-google.jpg" alt="Google +" width="113" height="26" /></a> </p>
    <p class="social-login"> <a href="{% url socialauth_begin 'twitter' %}?next={{ request.path }}"><img src="{{ STATIC_URL }}images/picto-twitter.jpg" alt="Twitter" width="113" height="26" /></a> </p>
    <p class="social-login"> <a href="{% url socialauth_begin 'linkedin' %}?next={{ request.path }}"><img src="{{ STATIC_URL }}images/picto-ln.jpg" alt="LinkedIn" width="113" height="26" /></a> </p>
    <p class="social-login"> <a href="javascript:;" class="openid-button"><img src="{{ STATIC_URL }}images/picto-openid.jpg" alt="OpenID" width="113" height="26" /></a> </p>
    
    <div class="clear"></div>
    
    <form action="{% url socialauth_begin 'openid' %}" method="POST" class="openid-form hidden">
        <label for="openid_identifier">OpenID:</label>
        {% csrf_token %}
        <input type="text" name="openid_identifier" id="openid_identifier" style="float:left;" />
        <input type="hidden" name="next" value="{{ request.path }}" />
        <button class="button" style="margin:0px 10px; top:5px;">Login</button>
    </form> 
</div>
