{% extends "project_support/project_support_form.html" %}
{% load i18n %}
{% load sekizai_tags %}

{% block inner_form %}
<h1 class="section-title">
    {% trans 'Edit answer' %} [<a href="#" onclick="history.back(-1);">{% trans 'back' %}</a>]
</h1>
<form id="fmedit" 
	  action="{% url project_support_edit_answer project_translation.slug answer.id %}" 
	  method="post" >{% csrf_token %}
	  <input type="hidden" name="next" value="{% url project_support_view project_translation.slug answer.thread.question.id %}#post-id-{{answer.id}}"/>
    <label for="id_revision" >{% trans 'revision' %}:</label> <br/> 
    {% if revision_form.revision.errors %}{{ revision_form.revision.errors.as_ul }}{% endif %}
    <div style="vertical-align:middle">
        {{ revision_form.revision }} 
        <script>
        	$(document).ready(function(){
        		$("#id_revision").change(function(){
        			$.ajax({
				        type: 'GET',
				        url: '{% url get_revision %}',
				        data: {'rev_id' : $(this).val(),
				        	   'post_id' : {{answer.id}}},
				        success: function(data) {
				            $("textarea#editor").html(data.text)
				        },
				        dataType: 'json'
				    });
        		});
        	});
        </script>
    </div>
    <div class="wrap-form">
    	{{ form.text }}
        <strong>{{ form.summary.label_tag }}</strong> 
        {{ form.summary }}
        <div class="title-desc">{{ form.summary.help_text }}</div>
        <div class="form-error" >{{ form.summary.errors }}</div>
    </div>
    <div class="after-editor">
        <input type="submit" value="{% trans 'Save edit' %}" class="submit" />&nbsp;
        <input type="button" value="{% trans 'Cancel' %}" class="submit" onclick="history.back(-1);" />
    </div>
</form>
{% endblock %}
