{% load i18n%}

{% if answer.offensive_flag_count > 0 %}
<span 
    id="answer-offensive-remove-flag-{{ answer.id }}"
    class="action-link offensive-flag"
    title="{% trans 'remove offensive flag' %}"
>
    <a class="question-flag"><i class="icon-remove"> </i> {% trans 'remove flag' %}</a>
</span>
<span 
    id="answer-offensive-flag-{{ answer.id }}"
    class="action-link offensive-flag"
    title="{% trans 'report as offensive (i.e containing spam, advertising, malicious text, etc.)' %}"
>
    <a class="question-flag"><i class="icon-flag"></i> {% trans 'flag offensive' %} ({{ answer.offensive_flag_count }})</a>
</span>
{% else %}
<span 
    id="answer-offensive-flag-{{ answer.id }}"
    class="action-link offensive-flag"
    title="{% trans 'report as offensive (i.e containing spam, advertising, malicious text, etc.)' %}"
>
    <a class="question-flag"><i class="icon-flag"> </i> {% trans 'flag offensive' %}</a>
</span>
{% endif %}
{% if user_already_gave_answer and previous_answer %}
<span id='post-{{answer.id}}-edit' class="action-link">
    <a class="question-edit" href="{% url project_support_edit_answer support.project_translation.slug previous_answer.id %}"><i class="icon-pencil"></i> {% trans 'edit' %}</a>
</span>
{% endif %}
<span id='post-{{answer.id}}-delete' class="action-link delete-post">
    <a class="question-delete"
    > {% if answer.deleted %}<i class="icon-trash"> </i>  {% trans 'undelete' %}{% else %}<i class="icon-trash"> </i> {% trans 'delete' %}{% endif %}</a>
</span>
<script type="text/javascript">
    askbot['functions']['renderPostControls']('{{answer.id}}');
</script>
