{% load i18n extra_tags %}
{% load sekizai_tags %}

{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/project_support/block/question_card.css" />
{% endaddtoblock %}

<div id="post-id-{{question.id}}" class="question-card-top {% if question.deleted %} deleted{% endif %}">
    <div class="container">
        <div class="row">
            <div class="span8">
                 <div class="share-buttons">            
                    {% if settings.ENABLE_SHARING_TWITTER %}
                    <a class="twitter-share icon" title="{% trans 'Share this on twitter' %}">Twitter</a>
                    {% endif %}
                    
                    {% if settings.ENABLE_SHARING_FACEBOOK %}
                    <a class="facebook-share icon" title="{% trans 'Share this on facebook' %}">Facebook</a>
                    {% endif %}
                    
                    {% if settings.ENABLE_SHARING_GOOGLE %}
                     <a class="google-share icon" title="{% trans 'Share this on google plus' %}">Google Plus</a>
                    {% endif %}
                    
                    {% if settings.ENABLE_SHARING_LINKEDIN %}
                    <a class="linkedin-share icon" title="{% trans 'Share this on linkedin' %}">Linkedin</a>
                    {% endif %}

                </div>
                <h1 class="{{support.type|lower}}"><a href="{{support.get_absolute_url}}    ">{{ question.get_title|escape }}</a></h1>
                <div class="wrapper-vote-number vote-buttons"> <!-- vote-buttons for JS callback -->
                    {% with question as post %}
                    {% include "project_support/block/post_vote_buttons.html" %}
                    {% endwith %}
                </div> 
                <div class="wrapper-question-content">
                    <div class="question-body">
                        {{ question.html|striptags|safe }}
                    </div>
                    <div id="question-tags">
                        <ul class="tag_list">
                            {% for tag in thread.get_tag_names %}
                            <li>
                                <div class="part_tag">
                                {% include_jinja "question/question_tag_anchor.html" request %}
                                </div>
                                <div class="part_pointe"></div>
                            </li>
                            {% endfor %}
                        </ul>   
                    </div>
                </div>
                <div id="question-controls" class="post-controls">
                    {% include "project_support/block/question_controls.html" %}
                </div>
            </div>
            
            <div class="span4 author_and_follow_question vote-buttons">
                {% with question.author.get_profile as profile %} 
                {% include_jinja "question/question_author_info.html" request %}
                {% endwith %}
                
            	{% include "project_questions/block/mail_subscription.html" %}
            </div>
        </div>
    </div>
    <script type="text/javascript"> 
	    $(document).ready(function(){
	        if (askbot['data']['userIsAuthenticated'] === false){
	            var ctrl = document.getElementById('question-controls')
	            ctrl.parentNode.removeChild(ctrl);
	        }
	    });
     </script>
 </div>
