{% load i18n %}
{% load sekizai_tags %}

{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/project_support/block/support_toolbar.css" />
{% endaddtoblock %}

<div class="support-toolbar">
    <div class="container">
        <div class="row">
            <ul class="span12">
                <li class="call">{% trans 'Project needs'%} <span class="badge">{{ call_count }}</span></li>
                <li class="prop">{% trans 'Help from the community' %} <span class="badge">{{ prop_count }}</span></li>
                <li class="right">
                    <a class="propose-link" 
                       {% if request.user.is_authenticated %}
                       href="{% url project_support_propose project_slug=project_translation.slug %}"
                       {% else %}
                       href="#"
                       {% endif  %}
                       >
                       {% trans "add your project's needs / offer your help"|capfirst %}
                    </a>
                    {% if not request.user.is_authenticated %}
                    <a href="{% url userena_signin %}?next={{request.get_full_path}}">{% trans 'You need to log-in to add a need' %}</a>
                       {% endif  %}     
                </li>
            </ul>
        </div>
    </div>
</div>