{% load i18n extra_tags humanize %}

<li id="question-{{question.id}}" class="short-summary">
    <div class="wrap_question_description">
    	{% if specific_question.type.picto %}
    	<img class="tiotico" src="{{MEDIA_URL}}{{specific_question.type.picto}}" />
    	{% endif %}
    	   {% block question_url %}
        <h2>
            <a href="{{questions_url}}{{question.id}}/" title="{{specific_question.thread.title}}">{{specific_question.thread.title}}</a>
        </h2>
        {% endblock %}
        {% block extra_description %}
        {% endblock %}
        <p>{{question.summary|escape}}</p>

        <ul class="tag_list">
            {% for tag in thread.get_tag_names %}
            <li>
                <div class="part_tag">
                {% include_jinja "question/question_tag_anchor.html" request %}
                </div>
                <div class="part_pointe"></div>
            </li>
            {% endfor %}
        </ul>   
    </div>
    
    <div class="infos_question">
        <p>
            {% blocktrans with added_when=question.added_at|naturaltime author_link=question.author.username|escape %}Added {{ added_when }} by {{author_link}}{% endblocktrans %}
        </p>
        <p>
            {% blocktrans with last_activity_at=specific_question.thread.last_activity_at|naturaltime last_activity_author_link=specific_question.thread.last_activity_by.username|escape %}Last modified {{ last_activity_at }} by {{last_activity_author_link}}{% endblocktrans %}
        </p>
        <div class="infos_pictos">
            <p class="tipsed nbr_answers" title="{% trans 'Answers' %}">{{specific_question.thread.answer_count}}</p>
            <p class="tipsed nbr_views" title="{% trans 'Viewed' %}">{{specific_question.thread.view_count}}</p>
            <p class="tipsed nbr_votes" title="{% trans 'Votes' %}">{{question.score}}</p>
        </div>
    </div>
</li>
