{% load sekizai_tags %}
{% load i18n %}

{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/project_support/page/support_form.css" />
{% endaddtoblock %}


<div class="wrap-form-question">
    <form action="." method="post">{% csrf_token %}
    	{% for hidden in form.hidden_fields %}
	    {{ hidden }}
	    {% endfor %}
        {% if form.errors %}
        	<p class=errorlist>{% trans "We are sorry, you need to correct the highlighted problems in the form"%}</p>
        {% endif %}
        {% block tags_block %}
		{% endblock %}
        <p class="title-field">{{form.title.label_tag}}{% if form.title.errors %}{{ form.title.errors }}{% endif %}{{form.title}}</p>
        <p>{{form.text.label_tag}}{% if form.text.errors %}{{ form.text.errors }}{% endif %}{{form.text}}</p>
        
        {% if request.user.is_authenticated %}
            <input type="submit" value="{% trans 'submit'%}">
        {% else %}
            <a href="{% url userena_signin %}?next={{request.get_full_path}}">{% trans 'First signin' %}</a>
        {% endif%}
    </form>
</div>